@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/variables";

.header {
  background-color: $primary;
  color: $white;
  padding: 2rem;
  .title {
    width: 100%;
    display: flex;
    align-items: center;
    h1 {
      font-size: 22px;
      margin: 0 1rem 0 0;
      font-weight: bold;
    }
    img {
      max-height: 22px;
    }
    @include media-breakpoint-down(sm) {
      h1 {
        font-size: 18px;
        margin: 0 0.5rem 0 0;
      } 
      img {
        max-height: 18px;
      }
    }
  }
}

.article-details {
  padding: 2rem;
  &-section {
    margin-bottom: 2rem;
  }
  .article {
    &-header {
      color: $primary;
      margin-bottom: 2rem;
    }
    &-date {
      border: 1px solid #02d0d2;
      background-color: #02d0d2;
      padding: 0.75rem 2rem;
    }
    &-title {
      border: 1px solid #02d0d2;
      padding: 0.75rem 2rem;
    }
    &-description {
      margin-bottom: 2rem;
    }
    &-header {
      @include media-breakpoint-down(sm) {
        display: flex;
        .article-title {
          padding: 0.25rem 0.5rem;
        }
        .article-date {
          padding: 1rem 0.75rem;
        }
      }
    }
  }
  .download {
    color: #0164f2;
    cursor: pointer;
    text-decoration: underline;
    img {
      margin-right: 0.5rem;
    }
  }
}

.back-button {
  cursor: pointer;
  max-width: fit-content;
  color: $primary;
  border: 1px solid $primary;
  padding: 0.75rem 2rem 0.75rem 0.75rem;;
  margin-left: 2rem;
  img {
    max-width: 1.5rem;
    margin-right: 0.5rem;
  }
}