@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";

@import "../../../../sass/variables";

.persondesk {
  background-color: $primary !important;
  padding-top: 300px;
}
:host ::ng-deep .container.people{
  @include media-breakpoint-down(md){
    max-width: none;
  }
}
.title {
  margin-bottom: -6rem;
}

.subtitle, 
:host ::ng-deep .soci,
:host ::ng-deep .main-card.cardg h3{
  text-align: center;
  font-size: 40px !important;
  color: var(--primary-y, #ccc) !important;
  text-transform: uppercase;
  line-height: 1em;
}

:host ::ng-deep .title {
  p {
    font-weight: normal;
    font-size: calc(0.5vw + 16px);
    position: relative;
    top: 3rem;
  }
}


:host ::ng-deep .card {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.4);
  padding: 2px 16px;
  padding-top: 1rem;
  overflow: hidden;
  max-width: 500px;
  margin: 0 auto;
  @include media-breakpoint-down(sm){
    max-width: 400px;
  }
  .w-100.mb-2{
    margin: -1rem;
  }
  img {
    max-width: none;
    height: auto;
    width: 115%;
  }
  p{
    font-size: 1rem;
    font-weight: normal;
    text-align: left;
    line-height: 1.5rem;
  }
  h3 > p, h1{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 20px;
    margin-top: 1rem;
  }
  &.cardg {
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.4);
    position: relative;
    top: -12rem;
    margin: 0rem !important;
    min-height: auto;
    padding: 2rem 3rem!important;
    p{
      font-size: calc(0.5vw + 16px);
      max-width: 600px;
      text-align: center;
    }
  }
}
:host ::ng-deep .card-height .card {
  @include media-breakpoint-up(md){
    min-height: fit-content;
  }
}
:host ::ng-deep .sponsor .card {
  @include media-breakpoint-up(md){
    min-height: 630px;
  }
  @include media-breakpoint-up(lg){
    min-height: 560px;
  }
}

