<div>
  <header class="container-fluid persondesk pb-5" [ngStyle]="{'background': 'url(' + model?.header[0].url +') no-repeat left 5% bottom/auto 70%,
  url('+ model?.header[1].url +') no-repeat right bottom/auto 50%' }">
  </header>
  <div class="title container-fluid">
    <p [innerHTML]="model?.header_title"></p>
  </div>
  <div class="col-12 text-uppercase font-weight-bold subtitle" [innerHTML]="model?.header_subtitle">
  </div>
  <div class="people container" [innerHTML]="model?.body">
  </div>
  <!-- <div [innerHTML]="model?.sub_section"></div> -->

</div>

