<section id="policy-data" class="col-12 p-0 mt-5 mb-5">
  <div class="col-12">
    <h4 class="text-uppercase">{{ 'private_area.policy_data' | translate | async }}</h4>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-lg-4 col-6 mb-2">
        <label class="m-0">{{ 'private_area.policy_label' | translate | async }}</label>
        <div class="policy-data">{{policy.policyNumber}}</div>
      </div>
      <div class="col-lg-4 col-6 mb-2">
        <label class="m-0">{{ 'private_area.cover_status' | translate | async }}</label>
        <div class="policy-data">
            <span class="disc" [ngClass]="policy.status"></span>
            <span>{{policy.statusLabel}}</span>
        </div>
      </div>
      <div class="col-lg-4 col-6 mb-2" *ngIf="isPolicyPriceANumber()">
        <label class="m-0">{{ 'private_area.value' | translate | async }}</label>
        <div class="policy-data">
          {{policy.price | currency}}
        </div>
      </div>
      <div class="col-lg-4 col-6 mb-2">
        <label class="m-0">{{ 'private_area.activation_date' | translate | async }}</label>
        <div class="policy-data">{{policy.startDate | date: 'dd/MM/yyyy, HH:mm'}}</div>
      </div>
      <div class="col-lg-4 col-6 mb-2">
        <label class="m-0">{{ 'private_area.duration' | translate | async }}</label>
        <div class="policy-data">{{getDuration(policy)}}</div>
      </div>
    </div>
  </div>
  <div class="col-12" *ngIf="isCertificateMissing(policy)" >
    <a href="{{policy.certificateUrl}}" target="_blank">{{ 'private_area.pdf_download' | translate | async }}</a>
  </div>
</section>
