@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";

@import "~sass/variables";

:host ::ng-deep #cse-sereneta-step-info {
    h3 {
        text-transform: uppercase;
        font-weight: bold;
        &.step-title {
            padding: 1.5rem 0;
            font-size: 1.3rem;
        }
    }
    h4.step-title {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.3rem;

        & + span {
            font-size: 14px;
        }
    }
}
