<div id="cse-sereneta-step-info">
  <div class="row">
    <div class="col-12">
      <h3 class="step-title">{{'checkout_sereneta.card_list.card_insured.title' | translate | async }}</h3>
    </div>
  </div>
  <app-checkout-card-period #periodCard
                            [hidden]="tenant === 'bancapc-it-it_db'"
                            [period]="product"
                            [duration]="product.duration"
                            [durationUnit]="product.durationUnit"
                            [startDateEnabled]="false"
                            [endDateEnabled]="false">
  </app-checkout-card-period>
  <div *ngIf="tenant !== 'bancapc-it-it_db'">
    <hr/>
  </div>
  <app-checkout-card-insured-subjects #insuredSubjectsCard
                                      [insuredIsContractor]="product.insuredIsContractor"
                                      [insuredSubjects]="product.insuredSubjects"
                                      [numberOfSubjects]="product.quantity"
                                      [hideFamilyGrade]="false"
                                      [showFamilyGradeExtra]="true"
                                      [extended]="true"
                                      [minAgeBirthDate]="minAgeBirthDate"
                                      [minBirth]="minBirth"
                                      [personalExtraData]="false"
                                      [residentialData]="true"
                                      [residentialCountrySelectable]="true">
  </app-checkout-card-insured-subjects>

  <div class="row" *ngIf="showConsent">
    <div class="privacy-consent-flag col-12">
      <h3 class="subtitle">
        {{'checkout_sereneta.step_insurance_info.privacy_flag_title.text' | translate | async }}
      </h3>
    </div>
    <app-consent-form #consent [showPrivacy]="true"></app-consent-form>
  </div>
</div>
