@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../../sass/variables";

#overview {
  color: $primary-dark;
  overflow-x: hidden;
}

:host ::ng-deep {
  .dynamic-subsection {

    background-color: $grey-ligth;
    height: 100%;
    margin-bottom: 0;

    p:first-child {
      margin:0px;
      color: $primary-dark;
      font-size: 24px;
      font-weight: 700 !important;
    }

    & a {
      background: transparent;
      border: 3px solid $primary-dark !important;
      border-radius: 10px;
      text-decoration: none;
      position: relative;
      top: 0;
      left: 0;
      z-index: 3;
      display: flex;
      padding: 8px;
    }

    #button-clickable:hover ~ #button-rectangle {
      top: 0;
      left: 0;
      transition:all 0.25s;
    }

    .doubled-button {
      background: transparent;
      z-index: 1;
      width: 300px;
      max-width: 100%;
      height: 70px;
      max-height: 100%;
      top: 0;
      left: 0;
      &.dark-blue {
        height: 55px;
        width: 200px;
        a {
          border-color: $primary-dark;
          color: $white;
        }
        .bg {
          background: $primary-dark;
          opacity: 0.9;
          border-radius: 10px;
          left: 15px;
          top: 10px;
          transition:all 0.25s;
        }
      }
    }
  }
}




.b2b-c-heading {
  height: 400px;
  background-size: auto;
  min-height: 300px;
}

.header-titles {
  color: $white;
  font-size: 24px;
  top: 6rem;
}

@include media-breakpoint-down(xs) {
  :host ::ng-deep {
    .dynamic-body {
      .platform-container {
        top: -5rem;
      }
    }
  }
}

.platform-container {
  background: $white;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
  border: 0;
  box-sizing: border-box;
  border-radius: 8px;
  position: relative;
  top: -6rem;

  p {
    line-height: normal;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.header-titles {
  .b2b-h1 {
    margin-bottom: 8px;
    p {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 0 !important;
    }
  }
  .b2b-h2 {
    line-height: 26px;
    &:first-child {
      text-transform: none;
      font-weight: 400;
      font-size: 24px;
    }
  }
}

.card {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  div {
    display: flex;
    justify-content: center;
  }
  p {
    color: $primary-dark;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 0px;
  }
}

.b2b-gl-section-title {
  h1 {
    font-size: 24px;
    color: $primary-dark;
    font-weight: 500;
  }
}

.b2b-gl-section-subtitle {
  font-size: 18px;
  color: $primary-dark;
  font-weight: 400;
}

img {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(30px + 5vw);
  position: relative;
}
a {
  background: transparent;
  border: 3px solid $primary-dark !important;
  border-radius: 10px;
  text-decoration: none;
  position: relative;
  top: 0;
  left: 0;
  color: $primary-dark;
  z-index: 3;
  display: flex;
}

.dynamic-subsection {

      background-color: $grey-ligth;
      height: 100%;
      margin-bottom: 0;
  
      p:first-child {
        margin:0px;
        color: $primary-dark;
        font-size: 24px;
        font-weight: 700 !important;
      }
  
      & a {
        background: transparent;
        border: 3px solid $primary-dark !important;
        border-radius: 10px;
        text-decoration: none;
        position: relative;
        top: 0;
        left: 0;
        z-index: 3;
        display: flex;
        padding: 8px;
      }
  
      #button-clickable:hover ~ #button-rectangle {
        top: 0;
        left: 0;
        transition:all 0.25s;
      }
  
      .doubled-button {
        background: transparent;
        z-index: 1;
        width: 300px;
        max-width: 100%;
        height: 70px;
        max-height: 100%;
        top: 0;
        left: 0;
        &.dark-blue {
          height: 55px;
          width: 200px;
          a {
            border-color: $primary-dark;
            color: $white;
          }
          .bg {
            background: $primary-dark;
            opacity: 0.9;
            border-radius: 10px;
            left: 15px;
            top: 10px;
            transition:all 0.25s;
          }
        }
      }
    }

    .header{
     background-repeat: no-repeat;
    }
