<div class="desktop modal-body container">
  <div class="d-flex justify-content-between align-baseline">
    <p class="title">{{kenticoContent.title.value}}</p>
    <img [src]="kenticoContent.close_button.value[0].url" (click)="activeModal.dismiss()">
  </div>
  <p class="description">{{kenticoContent.description.value}}</p>
  <form [formGroup]="form">
    <div class="textarea form-group">
      <textarea  formControlName="textarea" class="text-area form-control" name="textarea" id="textarea"rows="10" [placeholder]="kenticoContent.placeholder.value"></textarea>
    </div>
  </form>
  <p class="question">{{kenticoContent.question.value}}</p>
  <button type="submit" class="button-withdraw" (click)="createRequest()">{{kenticoContent.button.value}}</button>
</div>

<!--mobile-->

<div class="mobile animate-bottom modal-body">
  <div class="container">
    <div class="close-border"></div>
    <div class="d-flex justify-content-between align-baseline">
      <p class="title">{{kenticoContent.title.value}}</p>
      <img [src]="kenticoContent.close_button.value[0].url">
    </div>
    <p class="description">{{kenticoContent.description.value}}</p>
    <form>
    <div class="textarea form-group">
      <textarea class="text-area form-control" name="textarea" id="textarea"rows="10" [placeholder]="kenticoContent.placeholder.value"></textarea>
    </div>
  </form>
    <p class="question">{{kenticoContent.question.value}}</p>
  </div>
  <button type="button" class="button-withdraw"  (click)="createRequest()">{{kenticoContent.button.value}}</button>
</div>
