@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/variables";


.modal-body{
  color: $black;
  padding: 1.5rem !important;
  .title{
    font-weight: bold;
    font-size: 20px;
  }
  .question{
    margin-bottom: 1.5rem !important;
  }
  .button-withdraw{
    color: $white;
    background-color: $primary;
    text-transform: capitalize;
    outline: 0;
    border: none;
    border-radius: 35px;
    width: 100%;
    height: 45px;
    margin: auto;

  }
}

.mobile{
  display: none;
}

.desktop{
  display: block;
}

.close-border{
  border: 1px solid #ccc;
  width: 7%;
  margin: auto;
  margin-top: 10px;
}

.animate-bottom {
  position: relative;
  animation: animatebottom 0.4s;
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}



@media (min-width: 451px) {
  ::ng-deep .modal-dialog{
    position: relative !important;
  }
}

::ng-deep{
  .modal-dialog{
      position: fixed;
      margin: auto;
      max-width: 30rem;
      height: 100%;
  }
  .modal-sm{
    .modal-content{
      height: 100%;
    }
  }


  @media (max-width: 450px) {
    .mobile{
      display: block;
    }

    .desktop{
      display: none;
    }

    .modal-body{
      height: 38rem;
    }

    .modal.fade .modal-dialog {
      transform: translate3d(0, 100vh, 0);
    }

    .modal.show .modal-dialog {
      transform: translate3d(0, 0, 0);
    }
    .modal{
      top: initial;
      bottom: 0!important;
      height: 80% !important;
    }

    ::ng-deep .modal{
      position: fixed !important;
      top: 32% !important;
    }
  }
}

::ng-deep .modal-window {
  height: 95% !important;
}
