<div class="px-3 py-4 px-md-4 py-md-3 modal-content rounded-0">
    <div>
        <div class="d-flex justify-content-end mb-3">
            <div class="pointer mr-4 mr-md-0" aria-label="Close" (click)="activeModal.close()">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 1L1 15M15 15L1 1" stroke="black" stroke-width="2"/>
                </svg>
            </div>
        </div>
        <div class="d-md-flex align-items-md-center justify-content-md-between mb-3">
            <div>
                <h6 class="title t-24 font-weight-500 mb-4 mb-md-0">
                    {{translation?.title}}
                </h6>
                <h6 class="t-20 font-weight-500">
                    {{ translation?.subtitle }}
                </h6>
            </div>
            <div class="d-flex t-24 font-weight-500">
                {{translation?.price | currency}}{{ 'customers_tim_pet.mese' | kentico }}
            </div>
        </div>
        <div>
            <ng-container *ngIf="translation?.warranties?.length > 1; else singleContent">
                <ng-container *ngFor="let warranty of translation?.warranties; let i=index;">
                    <hr *ngIf="i > 0">
                    <div class="tim-accordion">
                        <div class="tim-accordion-title" (click)="toggleAccordion(i)">
                            <div>
                                <h3 class="section-title t-16 font-weight-700">{{warranty.title | kentico}}</h3>
                            </div>
                            <i class="fa"
                                [ngClass]="{'fa-chevron-down': !accordionOpen[i], 'fa-chevron-up': accordionOpen[i]}"></i>
                        </div>
                        <br/>
                        <div *ngIf="accordionOpen[i]">
                            <span>
                                <p [innerHTML]="warranty.description | kentico"></p>
                            </span>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
            <ng-template #singleContent>
                <div *ngIf="translation?.warranties?.length > 0">
                    <p [innerHTML]="translation?.warranties[0]?.description | kentico"></p>
                </div>
            </ng-template>
        </div>
    </div>
</div>
