@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";

@import "sass/variables";

.tim-modal {
  position: relative;
  background: url('~assets/images/tim/modal-blu.svg') no-repeat bottom left,
              url('~assets/images/tim/modal-red.svg') no-repeat bottom left;
  font-family: 'Tim Sans';
  padding: 2rem 4rem 3rem;
  @include media-breakpoint-down(sm) {
    padding: 2rem 2rem 7rem;
  }
  .title {
    margin-bottom: 3rem;
    @include media-breakpoint-down(sm) {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
    h2 {
      font-size: 23px;
    }
  }
  .text-content {
    font-size: 1rem;
    line-height: normal;
    margin-bottom: 3rem;
  }
  .btn {
    font-weight: normal;
    color: $white;
    border-radius: 0;
    background-color: $btn-text-color;
    cursor: pointer;
    @include media-breakpoint-down(sm) {
      width: 100%;
      margin-right: 15px;
      margin-left: 15px;
    }
  }
}

.x-button {
  position: absolute;
  position: absolute;
  border: 1px solid #333;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  font-size: 0.9rem;
  line-height: 25px;
  color: #333;
  right: 2rem;
  top: 2rem;
}

