<div class="container">
    <div class="row">
        <div class="col"></div>
        <form ngxStripeCardGroup #f (ngSubmit)="pay()" [formGroup]="stripeTest">
            <div class="group">
                <label>
                    <span>Titolare Conto</span>
                    <input id="name" name="name" class="field" placeholder="Mario Rossi" />
                </label>
                <label>
                    <span>Email titolare</span>
                    <input id="email" name="email" class="field" placeholder="mario.rossi@tim.it" />
                </label>
                <label>
                    <span>IBAN - DE08370400440532013003</span>
                    <div id="iban-element" class="field"></div>
                </label>
                <button [disabled]="f.invalid" type="submit">Aggiungi SEPA</button>
            </div>
        </form>
        <div class=" col">
        </div>
    </div>
</div>