<section id="policy-data" class="col-12 p-0 mt-5 mb-5">
  <div class="col-12">
    <h4 class="text-uppercase">Dati azienda</h4>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-lg-4 col-6 mb-2">
        <label class="m-0">N° addetti</label>
        <div class="policy-data">{{insuredPresentation}}</div>
      </div>
      <div class="col-lg-4 col-6 mb-2">
        <label class="m-0">Modalità di pagamento</label>
        <div class="policy-data">{{paymentPeriod}}</div>
      </div>
    </div>  
  </div>
</section>
