@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/_variables.scss";

.cost-item-container {
  background-color: $primary-dark;
  color: $white;
  padding: 0.5rem 0 1rem;
}
.cost-item-content {
  display: flex;
  justify-content: space-between;
}
.title {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 8px;
  font-weight: bold;
}
.info-container {
  display: flex;
  align-items: center;
  .far {
    font-size: 2.5rem;
    margin-right: 15px;
  }
  p {
    margin-bottom: 0px;
    font-weight: lighter;
    font-size: 14px;
    &.dates {
      font-weight: bold;
    }
  }
}
.price-content {
  @include media-breakpoint-up(sm) {
    display: grid;
    grid-template-columns: repeat(1, 2fr 1fr);
    grid-column-gap: 6px;
  }
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  .price-title {
    margin-right: 10px;
  }
  .price {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 6px;
    text-align: end;
    &.yolo-es-es_db{
      display: flex;
      flex-direction: row;
      gap: 5px;
      white-space: nowrap;
    }
  }
  button {
    background: transparent;
    border: none;
    &:focus { outline: none;}
    img {
      max-width: 15px;
      transition: .3s transform ease-in-out;
    }
    &.open img {
      transform: rotate(180deg);
    }
  }
}
.cost-detail-container {
  display: flex;
  align-items: center;
  padding-top: 10px;
  .far {
    font-size: 2.5rem;
    margin-right: 15px;
  }
  p {
    font-size: 14px;
    margin-bottom: 0px;
    font-weight: lighter;
    &:first-child { font-weight: bold;}
  }
}

.original-price {
  text-decoration: line-through;
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0;
}

.frequency_payment {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 3px;
  letter-spacing: 0.18px;
  ::ng-deep strong {
    font-weight: 400;
    font-size: 30px;
  }
}
