<h5 class="title-addons">{{'checkout_travel.step_insurance_info.title_addons.text.value' | translate | async}}</h5>
<div class="row">
  <div class="col-12 addon-container" [ngClass]="dataService.tenantInfo.tenant" *ngFor="let addon of productAddons, let i = index" [attr.data-index]="i">
    <div class="col-lg-5 col-md-7 col-xs-12 row">
      <div class="addon-label col-4" (click)="toggleAddon(addon, i)"
           [ngClass]="{'selected' : addon.selected, 'disabled': isDisabled(addon)}">
        <img src="{{addon.image.original_url}}" alt="{{addon.name}}">
      </div>
      <div class="addon-text row col-8">
        <p class="addon-name">{{addon.name}}</p>
        <p class="addon-popover"
           placement="right"
           ngbPopover="{{addon.description}}">i
        </p>
        <p class="addon-tooltip"
           placement="bottom"
           ngbTooltip="{{addon.description}}">i
        </p>
      </div>
    </div>
    <div class="col-lg-7 col-md-5 col-xs-12 container-addon-limit" *ngIf="addon.ceilings && addon.selected">
      <div class="input-wrapper input-wrapper-soft form-group">
        <select stickyTriggerControl id="limitSelected" type="text" class="form-control input-padding maximal-select"
                [ngModel]="addon.selectedMaximal"
                (ngModelChange)="toggleAddonLimit($event, i)">
          <option *ngFor="let ceiling of addon.ceilings" [ngValue]="ceiling">
            {{ (ceiling | number).replaceAll(',','.')}}€
          </option>
        </select>
        <label for="limitSelected"
               class="form-control-placeholder pl-3">{{dataService.product.product_code === 'htrv-basic' ?
               ('checkout_travel.step_insurance_info.massimale.text.value' | translate | async).slice(0, -1) :
               ('checkout_travel.step_insurance_info.massimale.text.value' | translate | async)}}
        </label>
      </div>
      <p class="description-value-travel-doc" *ngIf="addon.name === 'Spese mediche in viaggio' && dataService.tenantInfo.tenant === 'civibank_db'">
        {{'checkout_travel.step_insurance_info.info_value_travel_doc.text.value' | translate | async}}
      </p>
    </div>
    <form [formGroup]="formTravelCancellation">
      <div class="row col-12 container-travel-cancellation"
           *ngIf="addon.valueTravel !== undefined && addon.datePurchase !== undefined && addon.selected">
        <div class="container-value-travel form-group col-lg-6 col-md-12">
          <div class="input-wrapper input-wrapper-soft input-icon"
               [ngClass]="displayFieldCss('valueTravelForm')">
            <input stickyTriggerControl
                   class="form-control text-center"
                   formControlName="valueTravelForm"
                   (focusout)="toogleValueTravel(addon, i)"
                   id="valueTravel"
                   [(ngModel)]="valuePurchaseInput"
                   name="valueTravel"
                   autocomplete="off"
                   appDecimalMask
                   appControlMaxPrice>
            <i>{{'checkout_travel.step_insurance_info.currency.text.value' | translate | async}}</i>
            <label for="valueTravel"
                   class="form-control-placeholder label-value-travel required pl-3">
              {{'checkout_travel.step_insurance_info.title_value_travel.text.value' | translate | async}}
            </label>
            <div [hidden]="!isFieldValid('valueTravelForm')"
                 class="error-message">{{'forms.mandatory_field' | translate | async}}
            </div>
          </div>
          <p
            class="description-value-travel" [ngClass]="dataService.tenantInfo.tenant">{{'checkout_travel.step_insurance_info.info_value_travel.text.value' | translate | async}}</p>
        </div>
        <div class="container-date-purchase form-group col-lg-6 col-md-12">
          <div class="input-wrapper input-wrapper-soft"
               [ngClass]="displayFieldCss('datePurchaseForm')">
            <input
                   type="text"
                   class="form-control date-placeholder text-center"
                   formControlName="datePurchaseForm"
                   (focusout)="toogleDatePurchase($event, i, addon)"
                   [(ngModel)]="ngbDatePurchase"
                   (focus)="startDate.toggle()"
                   (dateSelect)="startDate.close(); toogleDatePurchase($event, i, addon)"
                   id="datePurchase"
                   ngbDatepicker #startDate="ngbDatepicker"
                   [minDate]="minDatePurchase"
                   [maxDate]="maxDatePurchase"
                   required
                   autocomplete="off">
            <label class="pl-3 form-control-placeholder required" for="datePurchase">
              {{'checkout_travel.step_insurance_info.title_data_purchase.text.value' | translate | async}}
            </label>
            <div [hidden]="!isFieldValid('datePurchaseForm')"
                 class="error-message">{{'forms.mandatory_field' | translate | async}}
            </div>
            <p class="description-data-purchase">
              {{'checkout_travel.step_insurance_info.info_data_purchase.text.value' | translate | async}}
            </p>
          </div>
        </div>
      </div>
    </form>
  </div>
  <span class="m-0 col-11 all-field-require" *ngIf="dataService.product.product_code === 'htrv-basic'">
    <i>{{'checkout.all_fields_required' | translate | async}}</i>
  </span>
</div>


