@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";

@import 'sass/variables';

.title-addons {
  margin: 2rem 0;
  font-weight: bold;
}

.addon-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  .addon-label {
    width: 80px;
    max-width: 80px;
    height: 80px;
    background-color: $grey;
    cursor: pointer;
    border-radius: 50%;
    position: relative;

    img {
      width: 35px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      width: 35px;
    }

    &.selected {
      background-color: $secondary;
    }

    &.selected::before {
      content: '-';
      background-color: $grey;
      color: $black;
    }

    &.selected.disabled::before {
      background-color: $grey;
    }

    &::before {
      content: "+";
      border-radius: 50%;
      background-color: $primary;
      position: absolute;
      width: 25px;
      height: 25px;
      top: 0;
      right: 0;
      color: $white;
      text-align: center;

      @include media-breakpoint-down(lg) {
        width: 18px;
        height: 18px;
        font-size: 0.75rem;
      }
    }

    @include media-breakpoint-down(lg) {
      width: 60px;
      max-width: 60px;
      height: 60px;
    }
  }

  .addon-text {
    margin-left: 15px;
    flex-basis: calc(100% - 100px);
    flex-direction: column;
    justify-content: center;

    .addon-name {
      font-size: 12px;
      color: $grey-dark;
      line-height: 15px;
      margin-bottom: 5px;
    }

    .addon-tooltip {
      width: 20px;
      height: 20px;
      border: 1px solid $grey-dark;
      cursor: pointer;
      font-size: 0.8rem;
      border-radius: 50%;
      text-align: center;
      margin: 0;
      @media (max-width: 768px) {
        display: none;

      }
    }

    .addon-popover{
      width: 20px;
      height: 20px;
      border: 1px solid $grey-dark;
      cursor: pointer;
      font-size: 0.8rem;
      border-radius: 50%;
      text-align: center;
      margin: 0;
      @media (min-width: 768px) {
        display: none;

      }
    }

    ::ng-deep .tooltip-inner {
      width: 350px;
      max-width: 350px;
      margin-left: 50px;
    }
  }

  .container-addon-limit {
    .form-control-placeholder{
      margin-top: 0.4rem !important;
    }

    .input-wrapper-soft {
      margin-bottom: 0;

      select {
        font-size: 1rem;
        font-weight: bold;
      }

      @include media-breakpoint-down(xs) {
        margin-bottom: 0;
      }
    }

    .maximal-select {
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: url('../../../../../assets/images/icons/arrow_down-black.svg');
      background-repeat: no-repeat;
      background-position: right .5rem top 1rem;
      background-size: 5%;
    }

    @include media-breakpoint-down(xs) {
      margin: 10px 0;
      padding: 0;
    }
  }

  .container-travel-cancellation {

    .container-value-travel, .container-date-purchase {

      .input-wrapper-soft {
        margin: 0;

        label {
          margin-top: 0.45rem;
          font-size: 0.85rem;

          &.label-value-travel {
            margin: 0;
          }
        }

        input {
          margin-top: 1.2rem;
          font-weight: bold;
          font-size: 1rem;

          &error-field {
            border: none;
          }

          &:focus {
            border: none;
          }

          &::-webkit-inner-spin-button,
          &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
          }
        }
      }

      .input-icon {
        position: relative;

        i {
          position: absolute;
          display: block;
          font-weight: bold;
          transform: translate(0, -50%);
          top: 67%;
          pointer-events: none;
          width: 25px;
          text-align: center;
          padding-left: 8px;
          font-style: normal;
        }

        input {
          padding-left: 25px;
          padding-right: 0;
        }
      }

      .description-value-travel, .description-data-purchase {
        font-size: 0.6rem;
        position: absolute;
        padding-left: 0;
        margin: 15px 0 0;

        &.error-price {
          color: $red;
        }
        &.civibank_db{
          margin: 0;
        }
      }

      @include media-breakpoint-down(md) {
        padding: 0;
      }
    }

    .container-value-travel {
      padding-right: 2px;
    }

    .container-date-purchase {
      padding-left: 2px;
    }

    @include media-breakpoint-down(md) {
      padding: 0;
      margin: 10px 0 0;
    }
  }

  @include media-breakpoint-down(xs) {
    flex-wrap: wrap;
  }
}

::ng-deep .tooltip-inner {
  max-width: 340px;
}

.description-value-travel-doc{
  font-size: 0.5rem;
  position: absolute;
  padding-left: 0;
  margin: 5px 0 0;
  @media (min-width: 576px) and (max-width: 991px) {
    margin: 0;
  }
}
.addon-container{
  &.banco-desio_db{
    .addon-label{
      &.selected{
        background-color: $primary-light !important;
      }
    }
  }
}

.banco-desio_db ::ng-deep .popover {
  @include media-breakpoint-between(0, xs) {
    width: 50vw;
    max-width: none;
    z-index: 30;
  }
}

.all-field-require {
  font-size: 0.8rem;
  text-align: right;
}
