@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/variables";


.real-label.up {
  transform: translateY(-20px);
  font-size: 12px;
  color: #004691;
}

.error-text {
  font-size: 12px;
  font-weight: 400;
  color: #ea0026;
  padding-top: 2px;
}

.insurence-info-person {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 24px;
}

.insurence-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

h2{
  color: #0033A1;
}

::ng-deep{
  mat-form-field{
    width: 100%;
    .mat-form-field-wrapper{
      padding-bottom: 1em;
      .mat-form-field-infix{
        display: flex;
        padding: 0;
        border: 0;
        input{
          color: #0033A1;
        }
        .mat-form-field-label-wrapper{
          label{
            color: #707070;
          }
        }
      }
      .mat-form-field-underline{
        background-color: #0033A1;
      }
    }
  }
}

.alert {
  background-color: aliceblue;
}
input[type="radio"]:checked + label {
  color: #0033A1;
  font-weight: bold;
}
