<ng-container *ngIf="data">
  <div class="more-info-two-buttons-container container-fluid" [ngClass]="data.container_class">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 left-section">
          <h3 class="title" [innerHTML]="data.left_section_title"></h3>
          <p [innerHTML]="data.left_section_subtitle"></p>
          <button [ngx-scroll-to]="'#hero'" class="fill-btn">{{data.left_section_button}}</button>
        </div>
        <div class="col-12 col-sm-6 right-section">
          <h3 class="title" [innerHTML]="data.right_section_title"></h3>
          <p [innerHTML]="data.right_section_subtitle"></p>
          <button [routerLink]="data.route" class="outline-btn">{{data.right_section_button}}</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>