<div id="travel-step-info">
  <app-checkout-card-recap [product]="product"></app-checkout-card-recap>
  <hr class="mt-4 mb-4"/>
  <app-checkout-card-insured-pet
    #petsFormsCard
    [maxDateBirthday]="maxBirthDatePet"
    [product]="product"
    [kenticoBody]="formPetKenticoBody"
    [isRaceBlocked]="true"
    [isTypeBlocked]="true">
  </app-checkout-card-insured-pet>
  <hr class="mt-4 mb-4"/>
  <div class="insured-subjects">
    <app-checkout-card-insured-subjects #insuredSubjectsCard
                                        [insuredIsContractor]="product.insuredIsContractor"
                                        [insuredSubjects]="product.insuredSubjects"
                                        [numberOfSubjects]="product.quantity"
                                        [hideFamilyGrade]="true"
                                        [extended]="true"
                                        [residentialData]="true"
                                        [residentialCountrySelectable]="false"
                                        [residentialCityWithSelect]="true"
                                        [productCode]="product.code"
                                        [maxAgeBirthDate]="product.originalProduct.holder_maximum_age"
                                        [minAgeBirthDate]="product.originalProduct.holder_minimum_age">
    </app-checkout-card-insured-subjects>
  </div>
  <hr class="mt-4 mb-4"/>
  <app-checkout-card-insured-shipment #insuredSubjectsShipment
                                      *ngIf="product.code === 'hpet-vip'"
                                      [shipmentIsContractor]="product.isContractorShipment"
                                      [insuredShipments]="product.insuredShipments"
                                      [productCode]="product.code"
                                      [residentialData]="true"
                                      [residentialCountrySelectable]="false"
                                      [residentialCityWithSelect]="true"
                                      [personalExtraData]="true">
  </app-checkout-card-insured-shipment>
  <hr class="mt-4 mb-4" *ngIf="product.code === 'hpet-vip'"/>
  <div class="document-acceptance">
    <h3 class="step-title">{{'checkout_pet.step___insurance_info.precontractual.text.value' | translate | async}}</h3>
    <div class="row" [formGroup]="form">
      <div class="col-12 col-lg-12 box-checkbox">
        <label for="checkbox_documents" class="form-big-checkbox">
          <input stickyTriggerReset
                 [targetId]="'stepperStickyBar,stickyBar'"
                 class="form-check-input"
                 type="checkbox"
                 formControlName="checkbox_documents"
                 id="checkbox_documents">

          <span class="checkbox"></span>
          <span class="checkbox-text" [innerHTML]="newDocAcceptance"></span>
        </label>
      </div>
    </div>
  </div>
</div>
