@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/_variables.scss";

.how-works-container{
  background-color:#f5faff;
  padding: 60px 60px 35px 60px;

  .title{
    color: $primary;
    font-size: 2.125rem;
  }

  .text {
    line-height: 20px;
    ::ng-deep p {
      strong {
        color: $primary;
      }
    }

    ::ng-deep p {
      em {
        strong {
          color: $primary-dark;
          font-style: normal;
        }
      }
    }
  }

  .icon-text img{
    width: 19px;
    height: 30px;
  }

  .massimali {
    margin-top: 25px;
    color: #848789;
    font-size: 0.875rem;
  }
}

.icon-coverage{
  img{
    width: 18px;
  }
}

@media screen and (max-width: 767px) {
  .how-works-container{
    padding: 0;

    .title{
      margin-top: 25px;
      margin-left: 10px;
    }

    .text {
      padding-left: 20px;
    }
  }
  .desktop{
    display: none !important;
  }
  .mobile{
    display: block;
  }

  .massimali{
    font-size: 14px;
    margin: 10px;
  }

  .coverage{
    padding: 0;
    margin-top: 10px;
  }
}

@media (min-width:767.9px){

  .mobile{
    display: none !important;
  }

  .desktop{
    display: block;
  }

  .coverage{
    margin-top: 25px;
    padding: 0;
    padding-right: 20px;
  }
}
