<div class="cb-header-container">
  <div class="cb-header-content d-inline-block">
    <h2 class="cb-header-title">
      {{product.product_structure.product_header.title}}
    </h2>
    <hr>
    <h3 class="cb-header-description">
      {{product.product_structure.product_header.descr}}
    </h3>
    <a [gtmEvent]="'click'" [tenant]="'chebanca'" (pendingPush)="handleGtm($event)" *ngIf="product.product_code === 'ge-home'"
            class="btn btn-cb mt-3"
            href="https://preventivatorecasa.genertel.it/?landing=chebanca&source=chebanca" target="_blank">
      Fai un preventivo
    </a>
  </div>
</div>
