@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";

.cb-header-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 250px;
  @include media-breakpoint-down(sm) {
      padding-top: 100px;
  }
}



:host.cb-header-no-quotator .cb-header-container {
  padding-top: 46%;
}

@include media-breakpoint-up(md) {

  :host.cb-header-no-quotator .cb-header-container {
    padding-top: 0;
  }
}

@include media-breakpoint-down(sm) {
  :host {
    margin-left: auto;
    margin-right: auto;
    text-align: center !important;
  }
}

.cb-header-title {
  color: #FFFFFF;
  font-family: "DIN Condensed";
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 0%;
}

hr {
  border-color: #fdc227;
  width: 50%;
}

.cb-header-description {
  color: #FFFFFF;
  font-family: "din";
  font-size: 20px;
  letter-spacing: 0.17px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: normal;
}