<div class="how-works-table-container" id="advantages" data-cy="how-works-table__container" [ngClass]="data.container_class">
  <div class="container">
    <div class="row">
      <div [ngClass]="data.text_container_size ? data.text_container_size : 'col-12 col-md-5'">
        <div class="text-container">
          <h2 class="title" [ngClass]="dataService.tenantInfo.tenant">{{data.title_section}}</h2>
          <div class="how-works-description" [innerHTML]="data.text_section" *ngIf="data.text_section"></div>
        </div>
      </div>
    </div>
    <div class="row table-cards-container">
      <div *ngFor="let product of data.product_content" class="col-12 col-md mb-2">
        <div class="table-card" [id]="product.product_code">
          <h3 class="product-title" [ngClass]="dataService.tenantInfo.tenant" [innerHTML]="product.name" *ngIf="product.name"></h3>
          <div *ngIf="product.ribbon" class="ribbon" [ngClass]="'ribbon-' + dataService.tenantInfo.main.layout"><span>{{product.ribbon}}</span></div>
          <ul class="item-list">
            <ng-container *ngFor="let item of product.items_list">
              <li [ngClass]="{'included': item.included}" class="primary-item" [innerHtml]="item.text"></li>
              <ul class="subitem-list" *ngIf="item.subitems_list.length">
                <li *ngFor="let subitem of item.subitems_list" [innerHTML]="subitem"></li>
              </ul>
            </ng-container>
          </ul><span (click)="changePreventivatore(product.product_code)" *ngIf="data.quotator_link" [ngx-scroll-to]="'#configuratore-layout'" class="link-configuratore-layout">{{data.quotator_link}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
