@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";

@import "~sass/variables";

section {
  font-family: 'Tim Sans';
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: $primary;
  color: $white;
  img {
    cursor: pointer;
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.5rem 0 1.5rem;
  color: $black;
  .addons {
    margin-bottom: 0.5rem;
    display: flex;
    .name {
      margin-right: 1rem;
    }
    .price {
      font-weight: bold;
    }
  }
  .linked-addon {
    background-color: #e4efff;
    padding: 1.5rem;
    margin-bottom: 1rem;
  }
}

.buttons {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-top: solid 1px $grey-ligth;
  .add-remove-button {
    padding: 0.5rem 0;
    width: 100%;
    color: $white;
    background-color: $btn-text-color;
    align-self: center;
    text-align: center;
    margin-bottom: 1rem;
    text-transform: uppercase;
    cursor: pointer;
  }
  .cancel {
    color: $btn-text-color;
    text-align: center;
    cursor: pointer;
    text-transform: capitalize;
  }
}