<div *ngIf="insuredSubjects && insuredSubjects.length && boxCollapse">
  <div (click)="insuredBoxCollapsed = !insuredBoxCollapsed">
    <b *ngIf="!title">{{'checkout.insured_subjects'| translate | async}}</b>
    <span *ngIf="title">{{title}}</span>
    <i *ngIf="!insuredBoxCollapsed" class="fa fa-fw fa-chevron-down ml-1"></i>
    <i *ngIf="insuredBoxCollapsed" class="fa fa-fw fa-chevron-up ml-1"></i>
  </div>
  <div *ngIf="insuredBoxCollapsed">
    <div *ngFor="let insuredSubject of insuredSubjects">
      <span>{{insuredSubject.firstName}} {{insuredSubject.lastName}}</span>
    </div>
  </div>
</div>
