@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";

@import '~sass/variables';

.ty-page {
  margin-top: 2rem;
  @include media-breakpoint-up(sm){
    margin-top: 5rem;
  }
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
  span {
    font-size: 35px;
    font-family: Comfortaa;
    width: max-content;
    text-align: center;
    color: #707070;

    @include media-breakpoint-down(sm){
      font-size: 28px;
      width: 360px;
    }
  }
}

.image {
  display: flex;
  justify-content: center;
  margin: 4rem 0 4rem 0;
  img {
    max-width: none;
    height: auto;
    width: 294px;
  }
}

.text-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  font-family: Lato-Ge;
  font-size: 14px;
  color: #707070;
  @media screen and (min-width: 576px){
    font-size: 17px;
  }
  span {
    font-family: Lato-Ge;
    font-size: 14px;
    color: #707070;
    text-align: center;
    @media screen and (min-width: 576px){
      font-size: 17px;
    }
  }
  p{
    color: #707070;
  }
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -4px 15px 0 rgba(0, 0, 0, 0.25);
  background-color: $white;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 101;
  left: 0;
  padding: 1rem;
  button {
    font-family: Lato-Ge;
    border-radius: 24px;
    box-shadow: 0 4px 15px 0 rgba(219, 0, 61, 0.52);
    background-color: #db003d;
    padding: 0.75rem;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    color: $white;
    border: none;
    outline: none;
    &:disabled {
      opacity: 0.3;
    }
  }

  @include media-breakpoint-up(sm) {
    position: relative;
    box-shadow: none;
  }
}

.sub-footer{
  background-color: white;
  height: 130px;
  @include media-breakpoint-up(sm) {
    display: none;
  }
}
