<section class="ty-page">
  <div class="title">
    <span>{{responseOrder.bill_address.firstname}}{{ content?.complete?.success_title}}
      <br> {{ content?.complete?.success_title_secondary}}</span>
  </div>
  <div class="text-container text-center">
    <p> {{ content?.complete?.thank_you_page_txt}}
      <span *ngIf="!responseOrder.line_items[0].instant">{{content.complete.thank_you_page_main_scelta_data}}</span>
      <span *ngIf="responseOrder.line_items[0].instant"> {{content.complete.thank_you_page_main_da_subito}} {{dateAndHour.date}}</span>
    </p>
  </div>
  <div class="text-container">
    <span>
      {{ content?.complete?.insurance_secondary_desc}}
    </span>
  </div>
  <div class="image">
    <img [src]="content.complete.success_img">
  </div>
</section>

<section class="sub-footer"></section>

<section class="footer">
  <button (click)="goToSite()">
    {{ content?.complete?.back_site_btn}}
  </button>
</section>
