@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/variables";


.how-works-table-slider-container {
  padding-top: 3.5rem;
  padding-bottom: 3rem;
  &.layout-chebanca_db {
    padding-top: 3rem;
    padding-bottom: 0;
    .container {
      margin-left: auto;
      margin-right: auto;
      max-width: 1024px;
      @include media-breakpoint-up(xl) {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .text-container {
      padding-top: 0.5rem;
      margin-bottom: 0.5rem;
      .title {
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0;
        margin-bottom: 25px;
      }
      .how-works-description {
        margin-bottom: 1rem;
      }
    }
  }
}

.table-card {
  margin-top: 3rem;
  padding: 15px 5px;
  border: 1px solid #ccc;
  background: #fff;
  position: relative;
  @include media-breakpoint-up(md) {
  display: flex;
  &.layout-chebanca_db {
    &.ge-home {
      margin-top: 17rem;
      @media (min-width: 1200px) {
        margin-top: 11rem;
      }
      @media (min-width: 1420px) {
        margin-top: 3rem;
      }
    }
  }
  }
}

:host ::ng-deep * {
  font-family: "din";
}

.offer {
  position: relative;
  ::ng-deep p {
    margin: 0rem;
    font-size: 18px;
  }

}

.title{
  color: $section-title-color;
}
.offer.included:before {
  font-family: 'Font Awesome 5 Free';
  color: #74bd3f;
  content: "\f00c";
  font-size: 18px;
  display: block;
  position: absolute;
  font-weight: 900;
  left: -30px;
  top: -3px;
}

.offer.not-included {
  color: #999999;
}

.offer.not-included:before {
  font-family: 'Font Awesome 5 Free';
  color: #999999;
  content: "\f00c";
  font-size: 18px;
  display: block;
  position: absolute;
  font-weight: 400;
  left: -30px;
  top: -3px;
}

.link-underlined {
  text-decoration: underline;
  cursor: pointer;
}

.options-list {
  div:nth-child(2){
    padding-top: 30px;
  }
}

.options-list .title {
  position: relative;
  width: 80%;
  font-size: 18px;
  color: #4A4A4A;
  font-weight: 400;
}

.options-list ul {
  list-style-type: none;
  padding: 0 0 0 31.5px;
  margin-left: 13px;
  line-height: 2;
  margin: 0;
}

.options-list > ul > li > ul {
  list-style-type: disc;
}

.options-list .table-right-list {
  margin-top: 33px;
}

.table-card {
  padding: 15px 20px;
  border: 1px solid #CCCCCC;
  background: white;
  position: relative;
}

.margin{
  margin-top: 161px;
}

.marginsport
{
  margin-top: auto;
}


.tableMotor{
  min-height: 520px;
  background: white;
}

.table-card {
  @include media-breakpoint-up(md) {
  div:nth-child(2){
    padding-left: 7rem;
    padding-top: 2rem;;
  }
}
}

#offers {
  margin-top: 1rem;
}
