@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';
@import '~sass/variables';

.vetrina {
    margin-top: 72px;
    @include media-breakpoint-up(md) {
        margin-top: 70px;
    }
    .half {
        background: $white;
        &:first-child {
            padding: 6px 0 3px;
            @include media-breakpoint-up(md) {
                padding: 6px 3px 0 0;
            }
        }
        &:last-child {
            padding: 3px 0 6px;
            @include media-breakpoint-up(md) {
                padding: 6px 0 0 3px;            
            }
        }        
        .prod-container {
            background-size: cover;
            background-position: center;
            padding: 4rem 2rem 6rem;  
            display: flex;
            justify-content: flex-end; 
            @include media-breakpoint-up(md) {
                height: calc(80vh - 12px);
                padding: 3rem 2rem;  
            } 
            &.no-active {
                &::after {
                    content: '';
                    position: absolute;
                    top: 6px;
                    left: 0px;
                    width: 100%;
                    height: calc(100% - 9px);
                    background: rgba(204, 204, 204, 0.51);
                    @include media-breakpoint-up(md) {
                        top: 6px;
                        left: -3px;
                        height: calc(100% - 6px);
                    }
                }                
                .content > div{
                    z-index: 2;
                }
            }                
            .content {
                display: flex; 
                justify-content: space-between;
                flex-direction: column;
                align-items: flex-end;
                @include media-breakpoint-up(md) {
                    height: 220px;
                }
                @include media-breakpoint-up(xl) {
                    max-width: 53%;
                }
                h2 {
                    color: $white;
                    text-transform: uppercase;
                    font-weight: 400;
                    line-height: normal;
                    font-size: 1.8rem;
                    text-align: right;
                }
                p {                
                    color: white;
                    text-align: right;
                    font-size: 1.1rem;
                }
                .btn {
                    background-color: $primary;
                    min-width: 180px;
                    padding: 0 20px;
                    letter-spacing: 0.5px;
                    font-weight: 500;
                    font-size: 1.1rem;
                }
            }            
            
        }
    }
}
