<div class="container-fluid vetrina">
  <div class="row">    
    <div *ngFor="let product of kenticoProductList" [ngClass]="{'col-12 col-md-6 half': product.size === 'half'}">
      <div class="prod-container" [ngClass]="{'no-active': !product.active}" [ngStyle]="{'background-image': 'url(' + product.img + ')'}">
        <div class="content">
          <div>
            <h2 [innerHtml]="product.name"></h2>
            <p [innerHtml]="product.description"></p>
          </div>          
          <button (click)="goToPreventivatore(product.code)" class="btn">{{ product.cta }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
