<ng-template [ngIf]="showConfirmPageDefault" [ngIfElse]="upsellingLayout">
  <div class="col-12" *ngIf="content">
    <div class="row-shadowed row thank-you-page">
      <div class="col-12 mb-4">
        <img [src]="content.image_tim_my_home" [alt]="content.description">
      </div>
      <span class="col-12 mb-4 text" innerHTML="{{ 'thank_you_page_tim_ftth.title_1' | translate: {user: user} | async }}"></span>
      <div class="col-12 mt-2">
        <a class="basic-outline" routerLink="/private-area/my-policies">
          {{ content.my_policies_button}}
        </a>
      </div>
    </div>
  </div>
</ng-template>



<ng-template  #upsellingLayout>
  <div class="col-12" *ngIf="content">
    <div class="row-shadowed row thank-you-page">
      <div class="col-12 mb-4">
        <img [src]="content.image" [alt]="content?.description">
      </div>
      <h3 class="col-12 title" [innerHTML]="content.title"></h3>
      <span class="col-12 mb-4 text" [innerHTML]="content.description_1"></span>
      <div class="upselling-section">
        <span class="title text">{{content.subtitle}}</span>
        <span class="text">{{content.description_2}}</span>
        <button class="button" (click)="checkout()">
          {{content.button}}
        </button>
      </div>
    </div>
  </div>
</ng-template>

