@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/variables";
.modal-window {
    overflow: hidden;
}

@media only screen and (max-width: 767px) {
    .mobile {
        display: initial;
    }
    .desktop {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .mobile {
        display: flex;
        overflow-x: scroll;
    }
}

.custom-flex {
    @media screen and (max-width: 767px) {
        flex: 0 0 85%;
    }
}

.container-warranty {
    border: 1px solid $grey;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-bottom: 1rem;
    position: relative;
    box-shadow: inset 0 0 0 150px white;
    z-index: 0;
    background: transparent;
    @media screen and (max-width: 767px) {
        margin-right: 1rem;
        height: 32rem;
    }
    &.selected {
        background-color: $secondary;
        border: 1px solid $primary;
    }
    .first-line {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
        .container-title {
            display: flex;
            img {
                max-width: 2.2rem;
                max-height: 2.2rem;
                margin-top: 0.4rem;
                object-fit: contain;
            }
            div {
                display: flex;
                flex-direction: column;
                margin-left: 1.5rem;
                padding-top: 0.7rem;
                .subtitle {
                    margin: 0;
                    font-size: 0.825rem;
                }
                .title {
                    font-weight: bold;
                }
                &.chebanca_db {
                  .title {
                    margin-left: 20px;
                  }
              }
            }
        }
        .price {
            font-size: 1.4rem;
            font-weight: bold;
            display: block;
            @media screen and (max-width: 767px) {
                text-align: center;
                display: none;
            }
        }
    }
    .second-line {
        @media screen and (max-width: 767px) {
            margin: 0;
        }
        .container-addon-limit {
            display: flex;
            @media screen and (max-width: 767px) {
                flex-direction: column;
            }
        }
        .input-wrapper-soft {
            border-color: $grey;
            padding: 0;
            margin-right: 1rem !important;
            &.chebanca_db {
                background: white;
            }
        }
        .container-card-convention {
            display: flex;
            justify-content: space-between;
            border: 1px solid $primary;
            border-radius: 0.5rem;
            height: 3.2rem;
            padding: 0.5rem 1rem;
            margin-left: 1rem;
            @media screen and (max-width: 767px) {
                margin: 0;
                border-radius: 0.2rem;
            }
            img {
                padding: 0;
                margin-right: 1rem;
                max-width: 2rem;
                max-height: 2rem;
            }
            div {
                font-size: 0.7rem;
                p {
                    margin: 0;
                }
            }
        }
        .container-addon-deductible {
            display: flex;
            @media screen and (max-width: 767px) {
                flex-direction: column;
            }
            .container-medical-expenses,
            .container-daily-allowance {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                font-size: 0.8rem;
                .title {
                    color: $primary;
                    font-weight: bold;
                }
            }
            .container-medical-expenses {
                border-right: 1px solid $primary;
                padding: 0 2rem;
            }
            .container-daily-allowance {
                margin-left: 2rem;
            }
        }
        .container-addon-pet {
            display: flex;
            @media screen and (max-width: 767px) {
                flex-direction: column;
            }
            .container-description-pet {
                border: 1px solid $primary;
                border-radius: 0.5rem;
                height: 3.2rem;
                padding: 0.5rem 1rem;
                @include media-breakpoint-down(md) {
                    margin-bottom: 1rem;
                }
                @media screen and (max-width: 767px) {
                    height: auto;
                    margin: 0 0 1rem 0;
                }
                label {
                    margin: 0;
                    .checkbox {
                        margin-top: 5px;
                    }
                    .description {
                        margin-bottom: 0;
                        font-size: 0.8rem;
                        line-height: 1rem;
                        text-decoration: underline;
                        font-weight: bold;
                    }
                }
            }
        }

        &.chebanca_db {
          .container-addon-limit, .container-addon-deductible, .container-card-convention  {
            margin-top: 30px;
        }
          .container-description-pet {
            border: 1px solid #ccc!important;
          }
          .label-home {
            font-size: 12px;
          }
        .container-addon-pet {
          margin-left: 5px;
        }
      }
    }
    .custom-padding-left {
      padding-left: 1rem;
    }
    .container-add-info {
        width: auto;
        height: auto;
        position: relative;
        background-color: $secondary-light;
        border: 1px solid $primary;
        margin-bottom: 1rem;
        &.chebanca_db {
          background-color: #fdfcf1;
          margin-left: 5px;
          margin-right: 5px;
          display: none;
      }
        @media screen and (max-width: 767px) {
          height: auto;
      }
      .description {
        padding-top: 0.5rem;
        padding-right: 0.5rem;
        margin: 0;
        font-size: 14px;
        margin-bottom: 0.5rem;
      }
      .add-info {
            display: flex;
            .bg-info-primary {
              background: $primary;
              height: 101%;
              width: 14%;
              position: absolute;
              border-top-right-radius: 20px 50px;
              @media screen and (max-width: 767px) {
                width: 15%;
              }
              @media screen and (min-width: 767px) {
                width: 14%;
            }
          }
            img {
                padding: 0.4rem;
            }
            .number-percentage {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
            }
            .percentage {
                font-size: 1.4rem;
                font-weight: bold;
                color: $white;
                margin: 0;
                font-size: 18px;
            }
      }
    }
    .container-footer-card {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 767px) {
            flex-direction: column-reverse;
            justify-content: center;
            position: absolute;
            bottom: 0.5rem;
            align-items: center;
            display: flex;
            padding: 0;
        }
        .link-info {
            padding: 12px 0;
            font-weight: bold;
            color: $primary;
            @media screen and (max-width: 767px) {
                text-align: center;
            }
        }
        .add-warranty-btn {
            text-transform: uppercase;
            outline: 0;
            border: none;
            border-radius: 40px;
            width: 100%;
            padding: 12px 0;
            background-color: $primary;
            border: 1.5px solid $primary;
            background: $white;
            color: $primary;
            font-weight: bold;
            @media screen and (max-width: 767px) {
                align-self: center;
                padding: 6px 0;
                max-width: 100%;
            }
            @include media-breakpoint-down(md) {
                align-self: center;
                padding: 9px 25px;
                max-width: 100%;
            }
        }
        button[disabled].add-warranty-btn {
            cursor: not-allowed;
        }
        &.chebanca_db {
          .link-info {
            margin-left: 5px;
            color:$grey-dark;
            text-decoration: underline;
            cursor: pointer;
        }
        .add-warranty-btn{
          border: 1.5px solid $grey-dark;
          color: $grey-dark;
          min-height: 40px;
          padding: 0;
        }
      }
    }
    .arrow-select {
        background-image: url(~assets/images/icons/arrow-y.svg) !important;
        background-size: auto 10px !important;
        background-position: right 9px top 50% !important;
        &.chebanca_db {
          background-image: url(~assets/images/icons/arrow-cb-h.svg) !important;
      }
    }
}
.custom-col-left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  width: 15%;
  height: 100%;
}
.custom-col-right{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  width: 85%;
  height: 100%;
}

.blocked > .effectGaranziaAggiuntiva {
    background: $grey;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    pointer-events: none;
}

.blocked-img {
    display: none;
}

.blocked-title {
    margin-left: -20px;
}



@media only screen and (min-width: 320px) {
  .container-garanzie-aggiuntive {
    .overlayCardGaranziaAggiuntiva {
        width: 100%;
        height: 100%;
        min-height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .added {
      background: $background-added-warranty;
    }
    &.chebanca_db {
      .added {
        background: #fdfcf1;
      }
    }
  }
}

@media (min-width: 992px) {
    .effectGaranziaAggiuntiva {
        background-color: white;
        border-radius: 0rem;
        height: 0rem;
        line-height: 0rem;
        width: 0rem;
        position: absolute;
        background-color: $background-added-warranty;
        &.chebanca_db {
            background-color: #FFD0001A;
        }
    }
    .container-warranty:hover .effectGaranziaAggiuntiva {
        border-radius: 460rem;
        height: 460rem;
        line-height: 460rem;
        width: 460rem;
        position: absolute;
        transition: height 2.2s ease, border-radius 2.2s ease, line-height 2.2s ease, width 2.2s ease;
    }
}

.buttons {
  display: flex;
  justify-content: space-between;
    @media screen and (max-width: 767px) {
        flex-direction: column;
    }

  &.chebanca_db {
    .reset-btn {
      border: 1.5px solid $grey-dark;
      color: $grey-dark;
      font-weight: 700;
      min-height: 40px;
      padding: 0;
    }
    .submit {
      .submit-btn {
        &.back {
          color: $grey-dark;
          border: 1.5px solid $grey-dark;
          font-weight: 700;
          height: 40px;
          padding: 0;
          min-width: 135px;
        }
        &.buy {
          color: $grey-dark;
          font-weight: 700;
          height: 40px;
          padding: 0;
          min-width: 135px;
        }
      }
    }
  }
}

.row-buttons {
    @media screen and (max-width: 767px) {
        max-width: 100%;
        flex-direction: column;
    }
}

.submit {
    text-align: end;
    @media screen and (max-width: 767px) {
        max-width: 100%;
        flex-direction: column-reverse;
        display: flex;
        margin-top: 1rem;
    }
}

.submit-btn {
    color: white;
    text-transform: uppercase;
    outline: 0;
    border: none;
    border-radius: 40px;
    width: 40%;
    padding: 12px 0;
    font-size: 14px;
    @media screen and (max-width: 767px) {
        width: 100%;
    }
    &.back {
        background-color: white;
        color: $primary;
        border: 1.5px solid $primary;
    }
    &.buy {
        background-color: $primary;
        margin-left: 1rem;
        @media screen and (max-width: 767px) {
            margin-bottom: 1rem;
            margin-left: 0;
        }
    }
}

.reset-btn {
  text-transform: uppercase;
  outline: 0;
  border: none;
  border-radius: 40px;
  width: 95%;
  padding: 12px 0;
  background-color: white;
  color: $primary;
  border: 1.5px solid $primary;
  @media screen and (max-width: 767px) {
      width: 100%;
      margin: 1rem 0;
  }
}

input[type="checkbox"]:disabled {
    cursor: not-allowed;
}

.ribbon {
    width: 123px;
    height: 123px;
    overflow: hidden;
    position: absolute;
    top: -1px;
    right: auto;
    left: -1px;
    span {
        position: absolute;
        display: block;
        width: 210px;
        padding: 5px 0;
        background-color: #ffac06;
        text-transform: uppercase;
        text-align: center;
        transform: rotate(-45deg);
        font-size: 1rem;
        font-weight: bold;
        left: -59px;
        top: 25px;
        &.chebanca_db {
            background: #FFD000;
        }
    }
}

.price-mobile {
    display: none;
    @media screen and (max-width: 767px) {
        display: block;
        align-self: center;
        text-align: center;
        font-weight: bold;
        font-size: 1.4rem;
    }

}

.info-circle {
    border: 1px solid $grey;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    height: fit-content;
    width: 40px;
    margin-top: 8px;
    @include media-breakpoint-down(md) {
        margin-left: 8px;
    }
    @media screen and (max-width: 767px) {
        margin-top: 7px;
    }

}

.info-container {
    width: 100%;
    @media screen and (max-width: 767px) {
        display: flex;
        justify-content: center;
        &.chebanca_db{
          display: flex !important;
          justify-content: flex-start !important;
        }
    }
    @media screen and (min-width: 992px) {
        display: flex;
        justify-content: center;
        &.chebanca_db{
          display: flex !important;
          justify-content: flex-start !important;
        }
    }
}

.info {
    margin-top: 4px;
    padding-left: 1rem;
}

