@import '../../../../../sass/variables';

:host .checkout-confirm-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 4rem;
  h3 {
    color: $primary;
  }
}