@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";

@import "../../../../../sass/variables";

.card-section-title {
    font-size: 14px;
    color: #4a4a4a;
    font-weight: bold;
    margin-bottom: 6px;
  }

.addon-text {
  ::ng-deep .custom-tooltip {
  .tooltip-inner {
    margin-left: -1rem;
    margin-right: -5rem;
  }
}
}