<section>
    <div class="row">
        <div class="col-12">
            <p class="card-section-title" style="margin-bottom: 0.5rem !important" data-cy="das-quotator-addons__addons-label">
              {{labelCopertureOpzionali}}
            </p>
        </div>
    </div>
</section>

<div class="row addons addons-container">
  <div class="col-12 optional order_line_items_addons addons-container row">
    <span class="col-4 col-sm-4 col-md-4 col-lg-4 checkbox d-flex flex-column align-items-center my-2 single-addon justify-content-between"
      *ngFor="let addon of availableLegalProtetionAddons">
      <button type="button" (click)="toggleSelectionAddons(addon)" [ngClass]="{'selected' : addon.selected}"
        class="toggle-select js-addon-label addon-label position-relative d-flex justify-content-center align-items-center rounded-circle mb-0"
        [attr.data-cy]="getAddonsDataCyValue(addon.code)">
        <input type="checkbox" hidden class="check_boxes optional js-addon js-quotation-trigger"
          data-price="0.0" data-code="">
        <img src="{{addon.image.original_url}}" alt="" class="addon-image">
      </button>
      <div class="addon-text d-flex flex-column justify-content-center align-items-center">
        <p class="js-copy-addon-name copy-addon-name text-center mt-1">
          {{addon.name}}
        </p>
        <span
          class="js-addon-description addon-tooltip d-flex justify-content-center align-items-center rounded-circle info-icon"
          placement="auto" ngbTooltip="{{addon.description}}" tooltipClass="custom-tooltip">
          i
        </span>
        <div class="addon-description">
          <p>{{addon.description}}</p>
        </div>
      </div>
    </span>
  </div>
</div>
