<div *ngIf="intesaPetChoise">

  <div [formGroup]="form" id="intesa-pet-step-info">
    <div class="row">
      <div class="col-12">
          <h3 class="step-title">{{'checkout_pet.step_insurance_info.insurance_data.text' | translate | async }}</h3>
      </div>
    </div>
    <div class="text-center insuranceSubtitle">
      <span >{{'checkout_pet.step_insurance_info.insurance_animal_choice.text' | translate | async }}</span>
    </div>
    <div class="tabContainer">
      <div class="pet-choice-intesa col-6 " [ngClass]="{ 'selected-pet-intesa': form.get('kind').value === 'dog', 'unselected-pet-intesa': form.get('kind').value === 'cat' }">
        <div class="row">
          <div class="customColumn align-self-center">
            <img  class="pet-image-intesa" [src]="dog_image" [alt]="dog_image_alt" data-cy="net-pet-checkout-info__select-dog-image"
            (click)="selectPetType('dog')">
          </div>
          <div class="customColumn align-self-center" >
            <div class="dog">
            <span  (click)="selectPetType('dog')">{{'checkout_pet.step_insurance_info.dog_label.text' | translate | async }} </span>
            <div class="text-center ml-2"
              data-cy="net-pet-checkout-info__select-dog-button"
              (click)="selectPetType('dog')">
            </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pet-choice-intesa col-6" [ngClass]="{ 'selected-pet-intesa': form.get('kind').value === 'cat', 'unselected-pet-intesa': form.get('kind').value === 'dog' }">
        <div class="row">
          <div class="customColumn align-self-center">
            <img  class="pet-image-intesa" [src]="cat_image" [alt]="cat_image_alt"   data-cy="net-pet-checkout-info__select-cat-image"
            (click)="selectPetType('cat')">
          </div>
          <div  class="customColumn align-self-center">
            <div class="cat">
              <div class="text-center mr-2"
              data-cy="net-pet-checkout-info__select-cat-button"
              (click)="selectPetType('cat')">
            </div>
              <span  (click)="selectPetType('cat')">{{'checkout_pet.step_insurance_info.cat_label.text' | translate | async }}</span>
            </div>
        </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- pet name -->
      <div class="col-lg-6 col-12">
        <div class="form-label-group basic-field"
         >
          <input class="form-control " formControlName="petName" id="petName"
          [ngClass]="{'error-message-intesa-input': form.controls.petName.touched && form.controls.petName.errors}"
          placeholder="{{'checkout_pet.step_insurance_info.pet_name_placeholder.text'| translate | async }} {{petLabel}}" type="text" maxlength="15"
                 data-cy="net-pet-checkout-info__pet-name"
                 stickyTriggerControl [targetId]="'stepperStickyBar'">
          <label for="petName"  innerHTML="{{'checkout_pet.step_insurance_info.pet_name_placeholder.text'| translate | async }} {{petLabel}}"></label>
          <div class="error-message-intesa" *ngIf="form.controls.petName.touched && form.controls.petName.errors">
            <span *ngIf="form.controls.petName.errors"
                  data-cy="net-pet-checkout-info__pet-name-error-required"
                  innerHTML="{{'checkout.pet_name_required_field' | translate | async }}  {{petLabel}}"
                  >
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="form-label-group basic-field"
          >
            <i class="far fa-calendar-alt"></i>
            <input type="text" class="form-control"
            [ngClass]="{'error-message-intesa-input': form.controls.birthDate.touched && form.controls.birthDate.errors}"
            (click)="dBirth.toggle()" autocomplete="off" (dateSelect)="dBirth.close()" id="datepicker-test"
            ngbDatepicker #dBirth="ngbDatepicker" placeholder="{{'checkout_pet.step_insurance_info.pet_birthday_placeholder.text'| translate | async }} {{petLabel}}"
            formControlName="birthDate" [minDate] ="minBirthDate" [maxDate]="maxBirthDate"
                   data-cy="net-pet-checkout-info__pet-birthdate">
            <label for="datepicker-test"   innerHTML="{{'checkout_pet.step_insurance_info.pet_birthday_placeholder.text'| translate | async }} {{petLabel}}"></label>
            <div class="error-message-intesa" *ngIf="form.controls.birthDate.touched && form.controls.birthDate.errors" >
                 <span  *ngIf="form.controls.birthDate.errors" data-cy="net-pet-checkout-info__pet-birthdate-error-required"
                 innerHTML=" {{'checkout.pet_birthday_required_field' | translate | async }}  {{petLabel}}">
                 </span>
            </div>
          <div class="error-message-intesa"
              *ngIf="form.controls.birthDate.touched && form.controls.birthDate.errors && form.controls.birthDate.errors.ngbDate">
            <div *ngIf="form.controls.birthDate.errors.ngbDate.invalid"
            data-cy="net-pet-checkout-info__pet-birthdate-error-invalid">
              {{'forms.date_invalid' | translate | async }}
            </div>
            <div *ngIf="form.controls.birthDate.errors.ngbDate.requiredBefore"
            data-cy="net-pet-checkout-info__pet-birthdate-error-required-before">
              {{'forms.date_before' | translate | async }} {{ngbDateParserFormatter.format(minBirthDate) }}
            </div>
            <div *ngIf="form.controls.birthDate.errors.ngbDate.requiredAfter"
            data-cy="net-pet-checkout-info__pet-birthdate-error-required-after">
              {{'forms.date_after' | translate | async }} {{ngbDateParserFormatter.format(maxBirthDate) }}
            </div>
          </div>

          <div class="row justify-content-end align-items-center">
            <div class="col pet-age-info">
              {{'checkout_pet.step_insurance_info.pet_age_subscribe.text' | translate | async }}
            </div>
            <div class="col pet-age-tooltip">
              <span class="birth-date-tooltip d-flex justify-content-center rounded-circle info-icon" tooltipClass="pet-tooltip"
              ngbTooltip="{{'checkout_pet.step_insurance_info.tooltip_birth_date.text' | translate | async }}">i</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row mx-3">
        <div class="extra-info">
          <i class="fas fa-exclamation-triangle"></i>
          <p>
            {{'checkout_pet.step_insurance_info.alert_michochip_claim_open.text' | translate | async }}
          </p>
        </div>
      </div>
      <div class="row mx-2" *ngIf="showConsent">
        <div class="privacy-consent-flag col-12">
          <h3 class="subtitle">
            {{'checkout_pet.step_insurance_info.privacy_flag_title.text' | translate | async }}
          </h3>
        </div>
        <app-consent-form #consent [showPrivacy]="true" (emitFormValidity)="getConsentFormValidity($event)"></app-consent-form>
      </div>
    </div>
  </div>


  </div>




<div *ngIf= "!intesaPetChoise">
  <div [formGroup]="form" id="intesa-pet-step-info">
    <div class="row">
      <div class="col-12">
          <h3 class="step-title">{{'checkout_pet.step_insurance_info.insurance_data.text' | translate | async }}</h3>
      </div>
    </div>

    <div class="row">
      <div class="pet-choice col-6"
        [ngClass]="{ 'selected-pet': form.get('kind').value === 'dog', 'unselected-pet': form.get('kind').value === 'cat' }">
        <div class="select-pet-label dog">
          <h4>{{'checkout_pet.step_insurance_info.have_a_dog.text' | translate | async }} </h4>
          <div class="add-icon text-center ml-2"
            data-cy="net-pet-checkout-info__select-dog-button"
            (click)="selectPetType('dog')"> + </div>
        </div>
        <img class="pet-image dog"
             src="/assets/images/intesa/pet/cane.svg"
             alt="dog-pet"
             data-cy="net-pet-checkout-info__select-dog-image"
             (click)="selectPetType('dog')">
      </div>
      <div class="pet-choice col-6"
            [ngClass]="{ 'selected-pet': form.get('kind').value === 'cat', 'unselected-pet': form.get('kind').value === 'dog' }">
          <div class="select-pet-label cat">
            <div class="add-icon text-center mr-2"
            data-cy="net-pet-checkout-info__select-cat-button"
            (click)="selectPetType('cat')"> + </div>
            <h4>{{'checkout_pet.step_insurance_info.have_a_cat.text' | translate | async }}</h4>
          </div>
          <img class="pet-image cat"
            src="/assets/images/intesa/pet/gatto.svg"
            alt="cat-pet"
            data-cy="net-pet-checkout-info__select-cat-image"
            (click)="selectPetType('cat')">
      </div>
    </div>


    <div class="row">
      <!-- pet name -->
      <div class="col-lg-6 col-12">
        <div class="form-label-group basic-field"
             [ngClass]="{'error-field': form.controls.petName.touched && form.controls.petName.errors}">
          <input class="form-control" formControlName="petName" id="petName" placeholder="Nome *" type="text" maxlength="15"
                 data-cy="net-pet-checkout-info__pet-name"
                 stickyTriggerControl [targetId]="'stepperStickyBar'">
          <label for="petName">{{'checkout_pet.step_insurance_info.form_name.text' | translate | async }} *</label>
          <div class="error-message" *ngIf="form.controls.petName.touched && form.controls.petName.errors">
            <span *ngIf="form.controls.petName.errors.required"
                  data-cy="net-pet-checkout-info__pet-name-error-required">
                {{'forms.mandatory_field' | translate | async }}
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="form-label-group basic-field"
             [ngClass]="{'error-field':form.controls.birthDate.touched && form.controls.birthDate.errors}">
            <i class="far fa-calendar-alt"></i>
            <input type="text" class="form-control" (click)="dBirth.toggle(); dBirth.navigateTo(maxBirthDate)" 
              autocomplete="off" (dateSelect)="dBirth.close()" 
              id="datepicker-test" ngbDatepicker #dBirth="ngbDatepicker" 
              placeholder="Data di nascita *" formControlName="birthDate" 
              [minDate] ="minBirthDate" [maxDate]="maxBirthDate" [startDate]="minBirthDate"
              data-cy="net-pet-checkout-info__pet-birthdate">
            <label for="datepicker-test">{{'checkout_pet.step_insurance_info.form_birth_date.text' | translate | async }} *</label>
            <div class="error-message" *ngIf="form.controls.birthDate.touched && form.controls.birthDate.errors"
                 data-cy="net-pet-checkout-info__pet-birthdate-error-required">
              {{'forms.mandatory_field' | translate | async }}
            </div>
          <div class="error-message"
              *ngIf="form.controls.birthDate.touched && form.controls.birthDate.errors && form.controls.birthDate.errors.ngbDate">
            <div *ngIf="form.controls.birthDate.errors.ngbDate.invalid"
            data-cy="net-pet-checkout-info__pet-birthdate-error-invalid">
              {{'forms.date_invalid' | translate | async }}
            </div>
            <div *ngIf="form.controls.birthDate.errors.ngbDate.requiredBefore"
            data-cy="net-pet-checkout-info__pet-birthdate-error-required-before">
              {{'forms.date_before' | translate | async }} {{ngbDateParserFormatter.format(minBirthDate) }}
            </div>
            <div *ngIf="form.controls.birthDate.errors.ngbDate.requiredAfter"
            data-cy="net-pet-checkout-info__pet-birthdate-error-required-after">
              {{'forms.date_after' | translate | async }} {{ngbDateParserFormatter.format(maxBirthDate) }}
            </div>
          </div>

          <div class="row justify-content-end align-items-center">
            <div class="col pet-age-info">
              {{'checkout_pet.step_insurance_info.pet_age_subscribe.text' | translate | async }}
            </div>
            <div class="col pet-age-tooltip">
              <span class="birth-date-tooltip d-flex justify-content-center rounded-circle info-icon" tooltipClass="pet-tooltip"
              ngbTooltip="{{'checkout_pet.step_insurance_info.tooltip_birth_date.text' | translate | async }}">i</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row mx-3">
        <div class="extra-info">
          <i class="fas fa-exclamation-triangle"></i>
          <p>
            {{'checkout_pet.step_insurance_info.alert_michochip_claim_open.text' | translate | async }}
          </p>
        </div>
      </div>
      <div class="row mx-2" *ngIf="showConsent">
        <div class="privacy-consent-flag col-12">
          <h3 class="subtitle">
            {{'checkout_pet.step_insurance_info.privacy_flag_title.text' | translate | async }}
          </h3>
        </div>
        <app-consent-form #consent [showPrivacy]="true"></app-consent-form>
      </div>
    </div>
  </div>


</div>




