@import '../../../../../sass/variables';

:host .register-container {
  background: linear-gradient(165deg, $primary 50%, $white 50%);
  min-height: calc(100vh - 100px);
  padding: 20px;
  .register-card {
    background: $white;
    max-width: 600px;
    height: auto;
    margin: auto;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
    padding: 20px 10px;
    a {
      color: $primary;
      text-decoration: underline;
      font-weight: bolder;
    }
    .logo-container {
      text-align: center;
      img {
        width: 200px;
      }
    }
  }
}

.subtitle-container {
  text-align: center;
  padding: 20px 0;
  .title {
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
  }
  a {
    color: $primary;
    text-decoration: underline;
    font-weight: bolder;
  }
}
