<div class="p-10px m-10px card-shadow br-8px c-border-card border-solid border-1px d-md-block">
    <div class="policy-name-area text-center">
        <h3 class="policy-name-title text-center">{{policy.name}}</h3>
        <img [src]="policy.imageUrl" [alt]="policy.name" class="img">
    </div>
    <div class="col-12 mb-3">
        <div class="subtitle-accident"><b>{{'nyp_products_data.policy_detail_accident_title_breve' | kentico}}</b></div>
        <div class="row">
            <div class="col-12 policy-info">
                <p class="mb-0">{{'nyp_products_data.policy_detail_accident_breve' | kentico}}</p>
            </div>
        </div>
    </div> 
    <div class="col-12 mb-3">
        <div class="subtitle-complaint"><b>{{'nyp_products_data.policy_detail_breve_claims_title' | kentico}}</b></div>
        <div class="row">
            <div class="col-12 policy-info" [innerHTML]="'nyp_products_data.policy_detail_breve_claims' | kentico">
            </div>
        </div>
    </div> 
    <div class="col-12">
        <div class="subtitle"><b>{{'nyp_products_data.my_policy_detail_subtitle' | kentico}}</b></div>
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4 policy-info">
                <label class="mb-0">{{'nyp_products_data.my_policy_number' | kentico}}</label>
                <p><b>{{policy.policy_number}}</b></p>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 pb-3 policy-info">
                <label class="mb-0 ml-0 row">{{'nyp_products_data.my_policy_state' | kentico}}</label>
                <span [ngClass]="getStatusColorClass(policy)"></span>
                <span class="status-description ml-2"><b>{{ getPolicyStatus(policy)}}</b></span>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 policy-info">
                <label class="mb-0">{{'nyp_products_data.my_policy_detail_initial_date' | kentico}}</label>
                <p><b>{{formattedStartDate}}</b></p>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 policy-info">
                <label class="mb-0">{{'nyp_products_data.my_policy_detail_expiration_date' | kentico}}</label>
                <p><b>{{formattedExpirationDate}}</b></p>
            </div>
            <!--<div class="col-12 col-sm-6 col-lg-4 policy-info" *ngIf="duration"> 
          <label class="mb-0">{{'private_area.duration'}}</label>
          <p>{{duration}}</p>
        </div>-->

        </div>
        <app-nyp-private-area-policy-detail-payment [policy]="policy"></app-nyp-private-area-policy-detail-payment>
        <div class="padding-bottom-pdf">
            <div class="row extra p-3">
                <div class=" p-0"> <!--*ngIf="isCertificateMissing(policy)"-->
                    <div class="certificate row">
                        <i class="far fa-file-pdf"></i>
                        <a (click)="downloadFile(policy)">{{'nyp_products_data.download_pdf_certificate' |
                            kentico}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>