@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/variables";

.container {
    .product-description{
      p{
        font-size: 14px;
        color:  $black;
        opacity: 87%;
        &.tim-broker-customers_db{
          color:  #606060;
        }
      }
    }

    .tim-operator{
      &.tim-broker-customers_db{
        .bg-operator{
          border: 1px solid #0164F2;
          color: #0164F2;
          background-color: #E8F2FD;

          &.disabled {
            background-color: rgba(0, 0, 0, 0);
            color: $grey;
            border: 1px solid $grey;
            cursor: not-allowed;
          }

        }
      }
    }
  .bg-operator {
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    border: 1px solid $primary;
    outline: none;
    color: $primary;
    border-radius: 16px;

    &.disabled {
      background-color: rgba(0, 0, 0, 0);
      color: $grey;
      border: 1px solid $grey;
      cursor: not-allowed;
    }
  }

  .quantity-input {
    border-radius: 16px;
    border: 1px solid #979797;
    height: 32px;
  }

  .submit-btn {
    color: white;
    background-color: $primary;
    text-transform: uppercase;
    outline: none;
    border: none;
    border-radius: 40px;
    width: 100%;
    padding: 12px 0;
    &.tim-broker-customers_db{
      border-radius: 0px;
      background-color: #0164F2;
      margin-top: 20px;
    }

    &:disabled {
      background: rgba(74, 144, 226, 0.5) !important;
      cursor: not-allowed !important;
      outline: 0;
      border: none;
      border-radius: 40px;
      width: 100%;
      text-align: center;
    }
    &.yolodb{
      font-weight: 700;
    }
  }

}

.card-section-title {
  color: $black;
  opacity: 87%;
  font-size: 16px;
  margin-bottom: 12px;
  font-weight: bold;
}

.purchase {
  justify-content: space-between;
  align-items: center;
  .pr-2{
    text-transform: uppercase;
    font-size: 14px;
  }
  .price {
    display: grid;
  }
  .price-total {
    font-size: 24px;
    font-weight: bold;
  }
}

.info{
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
  font-size: 12px;
  text-align: center;
  ::ng-deep{
    p{
      a{
        color: $primary;
        text-decoration: underline;
      }
    }
  }
}
.tim{
  &.tim-broker-customers_db{
   .gs{
      color: #606060;
      background-color: $white;
      &.selected{
        border: 1px solid #0164F2;
        color: #0164F2;
        background-color: #E8F2FD;
      }
   }
  }
}

.button-tim{
  &.tim-broker-customers_db{
      font-size: 14px;
  }
}
.gs{
  width: 95px;
  height: 35px;
  border-radius: 50px;
  color: $black;
  border: 1px solid $grey;
  padding: 0;
  &.selected{
    border: 1px solid $primary;
    color: $primary;
    background-color: $btn-bg-primary-net;
  }
}

.space{
  margin-top: 20px;
}

::ng-deep{
  .quotator-container{
    &.yolo-for-ski,
    &.tim-for-ski{
      .nav-link.active .product-tab{
        color: $black;
        opacity: 87%;
        width: 100%;
        display: block;
      }
      .nav-link{
        width: 100% !important;
        .product-tab{
          color: $black;
          opacity: 60%;
        }
      }
      a#tab-yolo-for-ski-gold,
      a#tab-yolo-for-ski-platinum,
      a#tab-tim-for-ski-gold,
      a#tab-tim-for-ski-platinum,
      a#tab-tim-for-ski-silver{
        width: 100%;
        justify-content: center;
        .product-tab#nav-link-yolo-for-ski-gold,
        .product-tab#nav-link-yolo-for-ski-platinum,
        .product-tab#nav-link-tim-for-ski-gold,
        .product-tab#nav-link-tim-for-ski-platinum,
        .product-tab#nav-link-tim-for-ski-silver{
          &::after {
            width: 100%;
            background-color: $primary;
            border-radius: 0;
          }
        }
      }
      #quantity,
      #daysquantity {
        font-weight: bold;
      }
    }
  }
}

.floating-div {
  @include media-breakpoint-down(sm) {
      .panel-floating {
          padding-right: 2rem;
      }
      .panel-price-floating {
          margin-right: 0;
      }
      .price_title {
          font-weight: 400;
          font-size: 0.8rem;
      }
      .btn-continue {
          font-size: 14px;
          width: 165px;
      }
  }
  .purchase-price {
    font-size: 34px;
    font-weight: 700;
    color: $primary-dark;
  }
  .purchase-title {
    font-size: 14px;
    font-weight: 400;
    margin-right: 8px;
    text-transform: uppercase;
    color: $primary-dark;
  }
}

.panel-floating {
  display: flex;
  align-items: center;
  padding-right: 6rem;
}

.panel-price-floating {
  margin-right: 6rem;
}

@include media-breakpoint-down(md) {
  .package-btn {
      font-size: 14px;
  }
}

.btn-continue-floating {
  color: $white;
  background-color: #ccc;
  background-color: $primary;
  text-transform: uppercase;
  outline: none;
  border: none;
  border-radius: 40px;
  width: 187px;
  padding: 12px 0;
}
