@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";

@import "~sass/variables";

// For question-header text vertical alignment when cards are side by side
$question-font-size: 1rem;
$question-normal-line-height: calc(#{$question-font-size} * 1.14);
$question-max-lines-md: 5;
$question-max-lines-lg: 6;
//
.persondesk {
  background-color: #4a90e2;
  height: 40vh;
  img{
    margin-top: 6em;
    max-width: none !important;
    height: 8vh;
  }
  p{
    color: #fff;
    font-size: small;
    letter-spacing: 0.2em;
  }
}
:host ::ng-deep .container.people{
  @include media-breakpoint-down(lg){
    max-width: none;
  }
}
.title {
  margin-top: -3rem;
}
.cardHero{
  box-shadow: 0px 0px 20px -5px rgba(134, 135, 136, 1);
  border-radius: 0.5em;
  margin-top: 1rem;
  @include media-breakpoint-up(sm){
    margin: 0 auto;
    font-size: 24px;
    text-align: center;
    ul{
      font-size: 18px;
      li{
        text-align: left;
      }
    }
  }
  @include media-breakpoint-up(lg){
    .filter{
      display: none;
    }
  }
  .active{
      background:#E2EBF5 !important;
  }
  .btn{
    font-size:14px;
    background: white;
    width: 140px;
    border-radius:2rem;
    color:#4A90E2 ;
    &:focus{
      box-shadow: none;
    }
    text-transform: inherit !important;
    padding: 0 0.5em !important;
    border: 2px solid #E2EBF5;
    background-color: #fff;
  }

  .text{
    margin-top: 1em;
    ul{
      background: red;
    }
  }
  p{
    font-size: 18px;
    padding: 0 1em !important;
    margin-bottom: 0 !important;
    @include media-breakpoint-up(sm){
      font-size: 24px;
      padding: 0 2em !important;
    }
    @include media-breakpoint-up(lg){
      font-size: 24px;
    }
  }
}
.desktop_filter{
  margin-top: 4em;
  display: none;
  @include media-breakpoint-up(lg){
    display: block;
  }
  .card{
    border-top: 0.5px solid #dadada;
    border-left: 0.5px solid #dadada;
    border-right: 0.5px solid #dadada;

      border-radius: 0.5em;
      border-bottom: 1em solid #4A90E2;
      h4{
          color: #4a90e2;
      }
      li{
        font-size: 18px;
        @include media-breakpoint-up(lg){
          font-size: 18px;
        }
      }
  }
}
.faq{
  background-color: #f1f1f1 !important;
  margin-top: 6rem;
  .faq-container {
    margin-top: 1em;
    padding-top: 3.5rem;
    padding-bottom: 2rem;
    .title {
      color: #4a90e2;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }
    .faq-list {
      display: grid;

      @include media-breakpoint-up(md) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    .question-card {
      background-color: $white;
      border-radius: 10px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
      padding: 2%;
      height: fit-content;
      margin: 0.5rem 0;
      cursor: pointer;

      &[aria-expanded="true"] {
        .collapse-toggler .open {
          display: none;
        }

        .collapse-toggler.default::after {
          display: flex;
          content: "\f057";
          font-family: "Font Awesome 5 Free";
          font-weight: bold;
          font-size: x-large;
          padding: 0.5rem;
          transform: rotate(180deg);
          transition: 0.3s transform ease-in-out;
        }

        .question {
          border-bottom: 1px solid lightgray;
          color: $primary;
        }
      }

      &[aria-expanded="false"] {
        .collapse-toggler .closed {
          display: none;
        }

        .collapse-toggler.default::after {
          display: flex;
          content: "\f13a";
          font-family: "Font Awesome 5 Free";
          font-weight: bold;
          font-size: x-large;
          padding: 0.5rem;
          transition: 0.3s transform ease-in-out;
        }
      }

      .collapse-toggler {
        padding-left: 1rem;
        padding-right: 1rem;

        img {
          max-width: 25px;
        }
      }

      .question-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: -webkit-fill-available;
        line-height: 1;
        min-height: 4rem;
        .question{
          font-weight: 500;
          line-height: 1.4em;
          color: #032c4e;
        }

        @include media-breakpoint-up(md) {
          font-size: $question-font-size;
          min-height: calc(#{$question-normal-line-height} * #{$question-max-lines-md});
        }

        @include media-breakpoint-up(lg) {
          min-height: calc(#{$question-normal-line-height} * #{$question-max-lines-lg});
        }
      }

      .question {
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;
        margin-left: 1rem;

        @include media-breakpoint-up(lg) {
          margin-left: 2rem;
          max-width: 80%;
        }

        &:hover {
          color: $primary;
        }
      }

      .answer.show,
      .answer.collapsing {
        max-width: 85%;
        padding-top: 0.5rem;
        margin-left: 1rem;

        @include media-breakpoint-up(lg) {
          margin-left: 2rem;
          max-width: 80%;
        }
      }
    }
    &.layout-intesa_db{
      .title{
        font-weight: normal;
      text-transform: none;
      color: $title-color-dark;
      margin-bottom: 1rem;
      }
    }
    &.layout-civibank_db,
    &.layout-banco-desio_db{
      padding-bottom: 1rem;
      background-color: $white;

      .title {
        margin-bottom: 2rem;
      }

      .divider {
        display: block;
        width: 5px;
        height: 100%;
        margin-right: -3px;
        position: absolute;
        background-color: $primary;
        box-sizing: border-box;
        border: 0;
        padding: 0;
        top: 0;
        right: 0;
      }

      .divider::after {
        content: "";
        position: absolute;
        z-index: 1;
        top: -9px;
        left: calc(50% - 9px);
        width: 18px;
        height: 18px;
        background-color: $primary;
        border-radius: 100%;
      }

      .faq-list {
        .faq-column:nth-child(odd) {
          @include media-breakpoint-up(md) {
            padding-right: 3rem;
          }
        }

        .faq-column:nth-child(even) {
          @include media-breakpoint-up(md) {
            padding-left: 3rem;
          }
        }
      }
    }
    &.layout-yolodb {
      padding-bottom: 1rem;
      background-color: $grey-ligth;
      &.net-pet,
      &.yolo-for-pet,
      &.cc-devices,
      &.layout-civibank_db,
      &.layout-banco-desio_db {
        .title {
          color: $primary;
        }
      }
      &.rc-scooter-bike {
        .title {
          text-transform: none;
          font-size: 1.5rem;
        }
      }
      .title {
        margin-bottom: 2rem;
      }
      .divider {
        display: block;
        width: 5px;
        height: 100%;
        margin-right: -3px;
        position: absolute;
        background-color: #4a90e2;
        box-sizing: border-box;
        border: 0;
        padding: 0;
        top: 0;
        right: 0;
      }
      .divider::after {
        content: "";
        position: absolute;
        z-index: 1;
        top: -9px;
        left: calc(50% - 9px);
        width: 18px;
        height: 18px;
        background-color: #4a90e2;
        border-radius: 100%;
      }
      .faq-list {
        .faq-column:nth-child(odd) {
          @include media-breakpoint-up(md) {
            padding-right: 3rem;
          }
        }

        .faq-column:nth-child(even) {
          @include media-breakpoint-up(md) {
            padding-left: 3rem;
          }
        }
      }
    }

    &.layout-yolo-pmi_db {
      &.net-cyber-gold,
      &.net-cyber-platinum {
        .title {
          font-size: 1rem;
          text-transform: none;
        }
        .answer.show {
          font-size: 0.875rem;
        }
      }
      padding-bottom: 1rem;
      background-color: $grey-ligth;
      .title {
        margin-bottom: 2rem;
        color: $primary;
      }

      .divider {
        display: block;
        width: 5px;
        height: 100%;
        margin-right: -3px;
        position: absolute;
        background-color: $primary;
        box-sizing: border-box;
        border: 0;
        padding: 0;
        top: 0;
        right: 0;
      }

      .divider::after {
        content: "";
        position: absolute;
        z-index: 1;
        top: -9px;
        left: calc(50% - 9px);
        width: 18px;
        height: 18px;
        background-color: $primary;
        border-radius: 100%;
      }

      .faq-list {
        .faq-column:nth-child(odd) {
          @include media-breakpoint-up(md) {
            padding-right: 3rem;
          }
        }

        .faq-column:nth-child(even) {
          @include media-breakpoint-up(md) {
            padding-left: 3rem;
          }
        }
      }
      .set-informativo {
        @include media-breakpoint-up(md) {
          margin-left: -15px;
          margin-right: -15px;
        }

        i {
          padding-top: 3px;
        }
      }

      ::ng-deep.set-informativo {
        font-size: 0.875rem;
        a {
          color: $primary;
          text-decoration: unset;
          cursor: pointer;
        }
      }
    }
  }
}
.subfaq{
  ::ng-deep{
    h4{
      color: #4a90e2;
    }
    p{
      a{
        color: #4a90e2;
        text-decoration: underline;
      }
    }
  }
}

/*  h3 > p, h1{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 20px;
    margin-top: 1rem;
  }
  &.cardg {
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.4);
    position: relative;
    top: -12rem;
    margin: 0rem !important;
    min-height: auto;
    padding: 2rem 3rem!important;
    p{
      font-size: calc(0.5vw + 16px);
      max-width: 600px;
      text-align: center;
    }
  } */


/*
.subtitle,
:host ::ng-deep .soci,
:host ::ng-deep .main-card.cardg h3{
  text-align: center;
  font-size: 40px !important;
  color: var(--primary-y, #ccc) !important;
  text-transform: uppercase;
  line-height: 1em;
}

:host ::ng-deep .card-height .card {
  @include media-breakpoint-up(md){
    min-height: 800px;
  }
}
:host ::ng-deep .sponsor .card {
  @include media-breakpoint-up(md){
    min-height: 400px;
  }
} */
