<div id="intermediaries_page">
    <header class="container-fluid persondesk pb-5 d-flex flex-column justify-content-center align-items-center">
      <img src="{{model?.header[0].url}}" alt="">
      <p class="text-uppercase font-weight-bold">Insurance network</p>
    </header>
    <main>
      <div class="title container-fluid">
        <div class="card cardHero container">
          <p class="text-center mt-2" [innerHtml]="model?.header_title"></p>
          <div class="filter my-2">
            <div class="nav_toggle d-flex justify-content-center">
              <button type="button" [ngClass]="{'active' : toWho}" class="btn" (click)="focusOnA()">
                <span>A chi si rivolge</span>
              </button>
              <button type="button" [ngClass]="{'active' : benefits}" class="btn ml-3" (click)="focusOnB()">
                <span>Vantaggi</span>
              </button>
            </div>
            <div class="text">
              <div *ngIf="toWho" class="text-left" [innerHtml]="model?.quotator_list.value[0].text.value">
              </div>
              <div *ngIf="benefits" class="text-left" [innerHtml]="model?.quotator_list.value[1].text.value">
              </div>
            </div>
          </div>
        </div>
        <div class="desktop_filter container">
          <div class="row">
            <div class="col-6 pl-0">
              <div class="card p-0 card_who h-100">
                <h4 class="pt-3 pl-3">A chi si rivolge</h4>
                <div class="pt-2 text-left" [innerHtml]="model?.quotator_list.value[0].text.value">
                </div>
                
              </div>
            </div>
            <div class="col-6 pr-0">
              <div class="card p-0 card_benefits">
                <h4 class="pt-3 pl-3">Vantaggi </h4>
                <div class="pt-2 pr-3 text-left" [innerHtml]="model?.quotator_list.value[1].text.value">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid faq pt-4">
        <div class="faq-container layout-yolodb" *ngIf="faq?.enabled && faq?.faqs?.length > 0">
          <div class="container">
            <div class="row">
              <h2 class="col-12 title">{{faq.title}}</h2>
            </div>
            <div class="row faq-list" id="questions">
              <div class="col-12 py-md-4 faq-column"[ngClass]="faq.container_class" *ngFor="let column of faq.faqs; let n=index; let last=last">
                <div class="question-card" id="question-{{n}}-{{i}}" *ngFor="let item of column; let i=index"
                  data-toggle="collapse" attr.data-target="#answer-{{n}}-{{i}}" aria-controls="collapse" aria-expanded="false">
                  <div class="question-header">
                    <div class="question">{{item.question}}</div>
                    <div class="collapse-toggler" [ngClass]="{'default': !faq.collapse_toggler_icons.hide || !faq.collapse_toggler_icons.show}">
                      <img class="closed" [src]="faq.collapse_toggler_icons.hide" *ngIf="faq.collapse_toggler_icons && faq.collapse_toggler_icons.hide">
                      <img class="open" [src]="faq.collapse_toggler_icons.show" *ngIf="faq.collapse_toggler_icons && faq.collapse_toggler_icons.show">
                    </div>
                  </div>
                  <div class="collapse answer" data-parent="#questions" id="answer-{{n}}-{{i}}" attr.aria-labelledby="question-{{n}}-{{i}}"
                    [innerHTML]="item.answer"></div>
                </div>
                <div class="divider d-none d-md-block" *ngIf="!last"></div>
              </div>
            </div>
          </div>
        </div> 
      </div>
      <div class="container-fluid text-center my-5 subfaq" >
        <p [innerHtml]="model?.body"></p>
      </div>
    </main>
</div>
