<div class="row justify-content-center btn-toolbar d-sm-none mobile" [ngClass]="dataService.tenantInfo.tenant" #checkout_resume id="checkout-sticky-bar">
  <div class="col-12">
    <div class="d-flex justify-content-between">
      <h3 class="title"  [hidden]="dataService.isTenant('imagin-es-es_db') && currentStep.product.code === 'chubb-deporte'">{{currentStep.product.name}}</h3>
      <h3 class="title"  *ngIf="dataService.isTenant('imagin-es-es_db') && currentStep.product.code === 'chubb-deporte'">{{'checkout.sticky_bar_title' | translate | async }}</h3>
      <p class="cost" *ngIf="!!getSubtotalCostInfo()"><del>{{getSubtotalCostInfo() | currency}}</del></p>
    </div>
    <div class="d-flex justify-content-between">
      <p class="totale">{{ 'checkout.total_price' | translate | async }}:</p>
      <p class="cost">{{getTotalCostInfo() | currency}}</p>
    </div>
    <div class="col-12" [ngClass]="dataService.tenantInfo.tenant">
      <button *ngIf="currentStep.stepnum > 1" class="btn btn-secondary m-1" [disabled]="false" (click)="callPrev()"
        [ngClass]="dataService.tenantInfo.tenant"
        [attr.data-cy]="getCyAttribute('back').block | cy:getCyAttribute('back').element:getCyAttribute('back').params">
        {{ 'buttons.back' | translate | async }}
      </button>
      <button class="btn btn-primary m-1" [disabled]="!canContinue" (click)="callNext()"
        [ngClass]="dataService.tenantInfo.tenant"
        [attr.data-cy]="getCyAttribute('continue').block | cy:getCyAttribute('continue').element:getCyAttribute('continue').params">
        {{ continueButtonValue }}
      </button>
    </div>
  </div>
</div>
