@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/_variables.scss";

.col-12 .helbiz_db {
  flex-direction: column;
}
.btn-secondary {
  &.helbiz_db {
    color: $primary-dark;
    border: 1px solid $primary-dark;
    align-items: center;
  }
}
.btn-primary {
  &.helbiz_db {
    background-color: $primary-dark;
    align-items: center;
  }
}

.santa-lucia_db{
  font-family: $font-family !important;
}


/*.btn-toolbar{
  @include media-breakpoint-up(sm){
    &.yolo-pmi_db{
      margin: 1rem 0rem !important;
      text-align: right!important;
    }
  }
  @include media-breakpoint-up(md){
    &.yolo-pmi_db{
      margin: 1rem;
      text-align: center;
    }
  }
  @include media-breakpoint-up(lg){
    &.yolo-pmi_db{
      margin: 1rem 0rem !important;
      text-align: right!important;
    }
  }
}*/
