<div class="col container-box" [ngClass]="proposalName">
  <div class="row justify-content-center"
  [id]="'tab-' + proposalName">
    <div class="mb-3 mt-4">
      <h6 class="tab-title">{{proposal.title}}</h6>
      <span *ngIf="proposal.subtitle" class="tab-subtitle">{{proposal.subtitle}}</span>
    </div>
  </div>
  <div class="row proposals justify-content-start align-items-center">
    <ul #panel class="list-group" id="list-{{proposalName}}" (scroll)="onScroll($event)">
      <li *ngFor="let item of proposal?.addons" class="primary-item" [ngClass]="{'included': item.selezionata}"
        id="{{proposalName}}">
        <span class="fa-li">
          <img
            [src]="item.selezionata ? './assets/images/icons/proposal_check/yes-check.svg' : './assets/images/icons/proposal_check/no-check.svg'">
        </span>
        {{item.name}}
      </li>
    </ul>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 detail">
      <span (click)="openDetail()">{{proposal.detail}}</span>
    </div>
    <hr>
  </div>
  <div class="row justify-content-center mb-2">
    <span class="price">{{proposal.price}} €</span>
  </div>
  <div class="row">
    <div class="col-12 mb-2">
      <button class="submit-btn edit" (click)="showOptionalWarrantyBtn()">{{proposal.customizeBtn}}</button>
    </div>
    <div class="col-12 mb-4">
      <button class="submit-btn buy" (click)="showInfoHome()">{{proposal.buyBtn}}</button>
    </div>
  </div>
</div>