@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";

@import 'sass/variables';

#my-pet-step-info {
  h3 {
    font-weight: bold;

    &.step-title {
      padding: 1.5rem 0;
      font-size: 1.3rem;
    }

    &.subtitle {
      font-size: 1.2rem;
    }
  }

  .pet-choice {
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 1.5rem;

    &>[class*='selected-pet']:nth-child(even) {
      .select-pet-label {
        flex-direction: row-reverse;
      }
    }
  }

  #cat, #dog {
    display: none;
    & + label.pet-radio {
      transition: all 0.5s;
      height: 1.5rem;
      width: 1.5rem;
      border: $primary solid 1px;
      border-radius: 50%;
      & svg {
        height: 0.8rem;
        margin-left: -3px;
        margin-bottom: 3px;
      }
      & .animated-tick {
        stroke-dashoffset: 50;
        transition: stroke-dashoffset 0.2s ease-in;
      }
      & #checkmark-path {
        display: none;
        fill: none;
        stroke-width: 3.6;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 4;
        stroke-dasharray: 48;
        stroke-opacity: 1;
      }
    }
    &:checked + label.pet-radio {
      background-color: $primary;
      & #checkmark-path {
        display: block;
        stroke: $white;
      }
      & .animated-tick {
        stroke-dashoffset: 0;
      }
    }
  }

  .select-pet-label {
    justify-content: center;
    align-items: flex-end;
  }

  .form-label-group {
    &.error-field {
      label {
        color: $red;
      }

      input,
      select {
        border-color: $red;
      }
    }

    &>input {
      border: 1px solid $primary;
      border-radius: 0;
      padding: 0 0 0 1rem;
    }

    &>label {
      position: absolute;
      font-size: 0.9rem;
      background: $white;
      top: -0.5rem;
      left: 1.5rem;
      width: auto;
      color: $primary;
      border-radius: 0;
      padding: 0 5px 0 5px;
      height: min-content;
      z-index: 1;
      margin: 0 0 0 calc(0.5rem - 5px);
    }
  }

  .pet-image {
    transition: all 0.5s;
    max-height: 100px;
  }

  .selected-pet {
    margin: 1rem 0;

    & .pet-image {
      transition: all 0.5s;
      transform: scale(1.3);
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
    }
  }

  .unselected-pet {
    margin: 1rem 0;

    & .pet-image {
      transition: all 0.5s;
    }
  }

  ::ng-deep {
    .ngb-dp-header {
      .ngb-dp-arrow {
        .ngb-dp-arrow-btn {
          text-align: center !important;
          padding: 0 !important;
          line-height: 1 !important;
        }
      }
    }
  }
}

.form-label-group.basic-field>input {
  height: 60px;
  border-radius: 8px;
  border-color: $grey;
}

.form-label-group.basic-field .far.fa-calendar-alt {
  position: absolute;
  right: 15px;
  font-size: 28px;
  color: $primary;
  top: 14px;
}

.form-label-group.basic-field>label {
  left: 0;
  line-height: 2;
}

.form-label-group.basic-field.error-field .error-message {
  float: none;
  text-align: right;
}

.extra-info {
  margin: 1rem 0 2rem;
  padding: 1.5rem 0.5rem;

  ::ng-deep {
    p {
      margin: 0;
      line-height: normal;
      font-size: 0.85rem;
      color: $primary-dark;
    }

    ul {
      padding-inline-start: 16px;
    }
  }
}
