@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/_variables.scss";
.main {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.3rem 1rem 1.3rem;
    height: auto;
    @media (max-width: 768px) {
        font-size: 16px;
        padding: 1rem 0.5rem 1rem 0.5rem;
    }
    .coverage-modal-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .col-11 {
            padding-left: 0px;
            @media (max-width: 768px) {
                padding-left: 10px;
            }
        }
        .col-1 {
            padding-right: 0px;
            @media (max-width: 768px) {
                padding-right: 10px;
            }
        }
    }
    .text-container {
        padding-top: 0.5rem;
        margin-bottom: 0.5rem;
        .title {
            color: $section-title-color;
            font-size: 30px;
            font-weight: 700;
            line-height: 29px;
            letter-spacing: 0;
        }
    }
    .icon-close {
        cursor: pointer;
        display: flex;
        align-items: center;
        @media (max-width: 576px) {
            display: flex;
            flex-direction: row;
            justify-content: end;
        }
    }
    .info-container {
        display: flex;
        align-items: baseline;
        margin-bottom: 15px;
    }
    .col-8 {
        padding: 0px;
    }
    .col-4 {
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    p {
        margin-bottom: 2px;
    }
    .container-values{
      white-space: nowrap;
      letter-spacing: 0;
      display: flex;
      align-items: baseline;
      margin-left: 0px;
      .text{
        margin-right: 5px;
        font-size: 18px;
        margin-bottom: 8px;
        justify-content: flex-end;
        display: flex;
        ::ng-deep{
          strong{
            color: $primary;
          }
        }
      }
    }
    .text-colored{
      font-weight: bold;
      font-size: 20px;
    }
}
