<app-checkout-card-recap [product]="product">
</app-checkout-card-recap>
<hr/>
<app-checkout-card-date-time #periodCard
                                  [period]="product"
                                  [duration]="product.duration"
                                  [durationUnit]="product.durationUnit"
                                  [hoursEnabled]="false"
                                  [minutesEnabled]="false"
                                  [instantTimeMinutes]="120"
                                  [instantRoundMinutes]="60"
                                  [dateOptions]="periodOptions"
                                  [hideInstantOption]="isSeasonal"
                                  [isBeforeSeasonalPeriod]="isBeforeSeasonalPeriod"
                                  [isBeforeSeasonalPeriodNotSeasonal]="isBeforeSeasonalPeriodNotSeasonal"
                                  [icons]="icons">
</app-checkout-card-date-time>
<hr/>
<app-checkout-card-insured-subjects #insuredSubjectsCard
                                    [productCode]="product.originalProduct.product_code"
                                    [insuredIsContractor]="product.insuredIsContractor"
                                    [insuredSubjects]="product.insuredSubjects"
                                    [numberOfSubjects]="product.quantity"
                                    [hideFamilyGrade]="true"
                                    [extended]="true"
                                    [icon]="icons.icon_calendar"
                                    [minAgeBirthDate]="minAgeBirthDate">
</app-checkout-card-insured-subjects>
