@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/variables";



.container-form {
  .mobile{
    display: none;
    @include media-breakpoint-down(sm){
      display: block;
    }
  }
  .label-section {
    color: #495057;
    font-size: 14px;
    font-weight: 400;
  }
  .arrow-select {
    background: url(~assets/images/icons/arrow_down.svg) no-repeat;
    background-position: calc(100% - 0.75rem) calc(100% - 1.7rem) !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    appearance: none !important;
    padding-right: 2rem !important;
    background-size: 17px !important;
    font-weight: 500;
    color: black;
    margin-top: -15px;
  }
  .form-control{
    padding: 4px 12px !important;
  }

   #city {
    padding: 4px 7px !important;
  }
  .input-wrapper input.form-control {
    display: block;
    width: 100%;
    height: 20pt;
    padding: 10px 6px!important;
    font-size: 14px;
    line-height: 20pt;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    &::placeholder {
      color: #4A4A4A!important;
      font-weight: bold;
    }
  }

}


.form-pers{
  position: absolute;
    top: 0;
    left: 0px;
    display: block;
    width: 100% !important;
    margin-bottom: 0 !important;
    line-height: 1.5 !important;
    color: #000000 !important;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: all 0.1s ease-in-out !important;
}

.form-group {
  margin-bottom: 1.4rem!important;
}

.input-wrapper label {
  font-size: 12px;
  line-height: 16pt;
  letter-spacing: 0.4pt;
  font-weight: 400;
  color: #495057;
  width: 100%;

}
.input-wrapper {
  width: 100%;
  height: 54px;
  padding: 2px;
}


.submit-btn {
  color: white;
  background-color: $primary;
  text-transform: uppercase;
  outline: none;
  border: none;
  border-radius: 40px;
  width: 31%;
  padding: 12px 0;
  &:disabled {
    background: rgba(74, 144, 226, 0.5) !important;
    cursor: not-allowed !important;
    outline: 0;
    border: none;
    border-radius: 40px;
    width: 31%;
    text-align: center;
  }
}
.container-submit-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
select {
  font-size: 13px;
  padding-top: 24px;
}

.input-wrapper-soft > select {
  height: 51px;
  line-height: 23px;

}
.form-label-group {
  position: relative;
  margin-bottom: 5px;
  width: 100%;
}
.error-case input{
  border: 1px  #eb0000 solid  !important;
}
.error-message {
  color: #eb0000;
  font-size: 12px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.fomr-label-group > input{
  height: 57px !important;
}
.form-label-group > label {
  position: absolute;
  top: -1px;
  left: 0px;
  display: block;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  color: $black;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
  font-size: 12px;
}
.input[type="text"] {
  font-size: 16px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


@media screen and (max-width:767px) {
  .button-group {
    display: flex;
    flex-direction: column-reverse;
  }
}

.back {
  color: $primary;
  background-color: $white;
  outline: none;
  border: 2px solid $primary;
  border-radius: 40px;
  width: 8rem;
  padding: 10px 0;
  font-weight: bold;
  height: 3rem;
  @media (min-width: 768px) and (max-width: 820px) {
    width: 95%;

  }
  @include media-breakpoint-down(sm) {
    width: 100%;
    margin-top: 15px;
    padding: 7px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
  }
}


.placeholder-form{
  width: 100%;
}
.placeholder-label{
  color: $black;
  font-size: 12px;
}
.placeholder-input{
  padding: 0 10px;
  margin-top: 4px;
  font-size: 16px;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0px !important;
}

::ng-deep{
  .mat-select-panel::-webkit-scrollbar-thumb{
    box-shadow: inset -0.2rem -0.2rem 0 $primary;
  }
  .styleScrollbar::-webkit-scrollbar {
    width: 2.4rem;
  }
  .styleScrollbar::-webkit-scrollbar-thumb {
    box-shadow: inset -0.2rem -0.2rem 0 $primary;
  }
  .styleScrollbar::-webkit-scrollbar-thumb {
    border: 1.1rem solid transparent;
    min-height: 6rem;
  }
  .styleScrollbar::-webkit-scrollbar-track {
    background: transparent;
    border: 1.1rem solid #0000;
    box-shadow: inset -0.4rem -0.4rem #d3d3d3;
  }
  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0px;
  }
}

.button{
  background: url(/../../../../assets/images/icons/arrow_down.svg) no-repeat;
  height: 30px;
  width: 30px;
  border: none;
  float: right;
  bottom: 30px;
  position: relative;
  margin-right: 8px;
}
.button:hover{
  cursor: pointer;
}
