@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/variables";

$btn-text-color-contact: #122Ac2;

.breadcrumb-section {
  z-index: 999;
  background-color: $primary;
  color: $white;
  font-size: .8rem;
  padding: 0.75rem 1rem;
  cursor: pointer;
}

.contacts {
  &-container {
    min-height: calc(100vh + 5rem);
    padding: 3rem 0 14rem 0;

    .header {
      padding: 40px 60px;
      background-color: $btn-text-color-contact;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      color: $white;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
    }

    .contacts-form-container {
      padding: 0 60px;
      display: flex;
      flex-direction: column;
      gap: 16px;

      @include media-breakpoint-down(xs) {
        padding: 2rem 3rem 3rem;
      }
    }

    .contacts-cta-container {
      padding: 0 60px;
    }

    @include media-breakpoint-down(xs) {
      padding: 0;
    }
  }

  &-card {
    background: #ffffff;
    max-width: 600px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

}

.cta-button {
  background-color: $btn-text-color-contact;
  text-transform: uppercase;
  color: $white;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.footer {
  text-align: center;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  ::ng-deep a {
    color: $btn-text-color-contact;
    text-decoration: underline;
  }

  ::ng-deep p {
    margin: 0;
  }
}

.tim-form-label-group {
  padding: 0;

  .form-control {
    height: 46px !important;
  }

  &.error-field {
    label {
      color: $red;
    }

    input,
    select {
      border-color: $red;
    }
  }

  &>input,
  >select {
    border: 1px solid $btn-text-color-contact;
    background: $white;
    border-radius: 10px;
    padding: 14px;
    font-size: 1rem;
  }

  &>label {
    position: absolute;
    font-size: 0.9rem;
    background: $white;
    top: -0.5rem;
    left: 0.8rem;
    width: auto;
    color: $btn-text-color-contact;
    border-radius: 0;
    padding: 0 4px;
    z-index: 1;
    margin: 0 0 0 calc(0.5rem - 5px);
  }
}
