@import "sass/_variables.scss";

.tim-form-label-group {
  &.error-field {
    label {
      color: $red;
    }
    input, select {
      border-color: $red;
    }
  }

  & > input, > select {
    border: 1px solid $primary;
    background: $white;
    border-radius: 0;
    padding: 0 0 0 1rem;
    font-size: 1rem;
  }
  & > label {
    position: absolute;
    font-size: 0.9rem;
    background: $white;
    top: -0.5rem;
    left: 1.5rem;
    width: auto;
    color: $primary;
    border-radius: 0;
    padding: 0 5px 0 5px;
    height: min-content;
    z-index: 1;
    margin: 0 0 0 calc(0.5rem - 5px);
  }
}

.register-btn {
  background-color: #02cfd2;
  color: $white;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  padding: 1rem 0;
  width: 100%;
  outline: none;
  &:disabled {
    opacity: 50%;
    cursor: not-allowed;
  }
}

::ng-deep {
  & #privacy-container {
    padding: 0 !important;
    a {
      text-decoration: underline;
      color: #2084D8;
    }
    .checkbox {
      border-color: $primary;
      border-radius: 0;
      transition: all 0.5s;
      &-box {
        svg {
          width: 1rem;
          margin-top: 6px;
        }
        & #checkmark-path {
          stroke-width: 3px;
          stroke: $white !important;
        }
      }
    }
    .form-big-checkbox input:checked {
      & ~ label .checkbox,
      & + span {
        border-radius: 50%;
        border-color: transparent;
        background: $primary;
      }
    }
  }
  & .policy-duration {
    .multiple-option {
      padding: 0 !important;
      &:first-child {
        margin-bottom: 1rem;
      }
      .checkbox {
        border-color: $primary;
        border-radius: 0;
        transition: all 0.5s;
        &-box {
          svg {
            width: 1rem;
            margin-top: 6px;
          }
          & #checkmark-path {
            stroke-width: 3px;
            stroke: $white !important;
          }
        }
      }
      .form-big-checkbox input:checked {
        & ~ label .checkbox,
        & + span {
          border-radius: 50%;
          border-color: transparent;
          background: $primary;
        }
      }
    }
  }
  
}