@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";

@import "sass/variables";

.helbiz_db{
  .header-gradient{

    background:$primary-dark; 
    
  }
}
.header-gradient {
  padding: 125px 15px 50px 15px;
  min-height: 300px;
  background: $gradient;
}

.civibank_db{
  .header-gradient{
    ::ng-deep{
      h2{
        display: none;
      }
    }
  }
}

:host ::ng-deep {
  .dynamic-header-title {
    h1 {
      color: $white;
      text-align: center;
      text-transform: none;
      font-weight: 400;
      font-size: 2.5rem;
    }

    h2 {
      text-transform: none;
      font-weight: 400;
      color: $primary;
      font-size: 40px;
    }
  }

  .dynamic-body {
    h2 {
      text-transform: none;
      font-weight: 400;
      color: $primary;
      font-size: 40px;
      margin: 8px;
    }

    p {
      font-size: 16px;
      color: $black;
      margin-top: 1rem;
      margin-bottom: 2rem;
      @include media-breakpoint-down(md){
        font-size: 18px;
      }
      a{
        text-decoration: underline;
        color: #4a90e2;
      }

    }

    ol {
      color: $black;
      padding: 0;
    }

    li {
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
      width: 100%;
      min-height: 1px;
    }

    strong {
      display: block;
      font-size: calc(1.5vw + 18px);
      color: $black;
      font-weight: 400;
      text-align: center;
    }

    a:hover {
      color: $hover-blue;
    }
  }

  .dynamic-subsection {
    p {
      font-size: 16px;
      color: $black;
      margin: 0;

      &:first-child {
        text-transform: none;
        font-weight: 400;
        color: $primary;
        font-size: 1.25rem;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  :host ::ng-deep {
    .dynamic-body {
      li {
        min-width: 300px;
        padding: 0;
      }
    }
  }
}

.fca-bank_db {
  ::ng-deep {
    .dynamic-body {
      a {
        color: red;
        :hover {
          color: red;
        }
      }
    }
  }
}
