@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/variables";

.bg-img-container {
  &.layout-chebanca_db {
    .bg-img {
      padding: 5rem 0;
      height: 600px;
      background-position-x: -200px;
      background-position-y: center;
      margin-bottom: -520px;
      @include media-breakpoint-up(md) {
        background-position-x: 0;
      }

      .background-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, .3);
      }
    }

    .container {
      margin-left: auto;
      margin-right: auto;
      max-width: 1024px;
    }

    .text-container {
      padding-top: 3rem;
      text-align: center;
      min-height: 520px;
      @include media-breakpoint-up(md) {
        padding-top: 250px;
        padding-left: .5rem;
        padding-right: .5rem;
        text-align: right;
        bottom: 90px;
      }

      .title {
        color: #fff;
        font-family: "DIN Condensed";
        font-size: 50px;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: .25px;
        text-transform: uppercase;
        margin-bottom: 2.5rem;

        &::after {
          position: absolute;
          content: '';
          height: 1px;
          bottom: -18px;
          background-color: #fdc227;
          left: 25%;
          width: 50%;
          @include media-breakpoint-up(md) {
            left: 50%;
            height: 2px;
          }
        }
      }

      .subtitle {
        color: #fff;
        font-family: din;
        font-size: 20px;
        letter-spacing: .17px;
        line-height: 24px;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: .5rem;
      }

      .btn {
        margin-top: .5rem;
      }
    }
  }
}

.bg-img {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 0;
  @include media-breakpoint-up(sm) {
    padding: 6rem 0;
  }
  @include media-breakpoint-up(lg) {
    padding: 11rem 0 6rem;
  }
}

.background-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background: $bg-overlay;
}

.text-container {
  padding-top: 6rem;

  .title, .subtitle {
    color: $section-title-color;
  }

  .title {
    font-size: 2.5rem;
    font-weight: 500;
    position: relative;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    line-height: 1.1;

    &::after {
      position: absolute;
      content: '';
      height: 3px;
      bottom: -12px;
      background-color: $section-title-color;
      left: 0;
      width: 45%;
    }
  }

  .subtitle {
    font-size: 1.4rem;
    line-height: normal;
  }
}
