@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/variables";


.container {
  max-width: 1054px;
}

.quote-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
  &.layout-chebanca_db {
    .input-wrapper {
      border-radius: 0;
      margin: 0 15px;
    }
  }
}

.form-control {
  height: 45px;
  line-height: 45px;
  padding: 0 1rem;
}

.btn {
  border: none;
  border-radius: 24px;
  font-size: 14px;
  text-transform: uppercase;
  height: 48px;
  line-height: 48px;
  padding: 0 18px;
  transition: all,0.5s;
  cursor: pointer;
  min-width: 140px;
  outline: none;
  white-space: nowrap;

  &[href=""] {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
  }
  &:hover {
    background: $btn-bg-hover-color;
  }
  &:disabled {
    background: #C0C0C0;
    cursor: not-allowed;
    color: #f2f2f2;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
