<div class="row justify-content-center">
  <div class="col-md-12 container-960">
    <div class="row">
      <div class="col-sm-3 pt-4 servizi">
        <p class="title">{{'products.yolo_offers' | translate | async}}</p>
        <ul class="nav nav-tabs">
          <li class="nav-item my-2" *ngFor="let filter of filterProduct">
            <a class="nav-link" (click)="filteredProduct(filter)">
              <span class="span-item" [ngClass]="{ active: filter.active }">{{filter.description}}</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-9 pt-4">
        <div class="row">
          <ng-container *ngFor="let productAgg of productsAggFilter">
            <ng-container *ngIf="productAgg.key === 'single'">
              <div class="col-lg-4 col-md-6 col-sm-12 mt-2 product-card">
                <div (click)="goToProduct(productAgg.products[0])"
                  class="d-flex flex-column modal-card position-relative rounded justify-content-center align-items-center w-100 p-3" [ngClass]="{'with-external-product': !!productAgg.products[0].external_url}">
                  <div class="icon position-relative mb-2">
                    <img class="product-image" [src]="getSmallImage(productAgg.products[0].images)" alt="trip">
                  </div>
                  <ng-container *ngIf="productAgg.products[0].external_url">
                    <div class="name-image-container mb-4">
                        <img *ngIf="productAgg.products[0].img_name" class="product-name-image" src="{{productAgg.products[0].images[0].name_url}}">
                        <p *ngIf="!productAgg.products[0].img_name" class="start-price-title font-weight-bold text-center text-uppercase mb-2 product-name">
                          {{productAgg.products[0].name}}
                        </p>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="!productAgg.products[0].external_url">
                    <p class="start-price-title font-weight-bold text-center text-uppercase mb-2 product-name">
                      {{productAgg.products[0].name}}
                    </p>
                    <p class="start-price-text mb-2 mt-auto from">{{'products.starting_price' | translate | async}}</p>
                    <p class="start-price font-weight-bold mb-4 price">{{productAgg.products[0].price | currency}}</p>
                  </ng-container>
                  <div class="go-to-arrow font-weight-bold d-flex align-items-center justify-content-center"></div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="productAgg.key != 'single'">
              <div class="col-lg-4 col-md-6 col-sm-12 mt-2 product-card">
                <div (click)="goToProduct(productAgg.products)"
                  class="d-flex flex-column modal-card position-relative rounded justify-content-center align-items-center w-100 p-3">
                  <div class="icon position-relative mb-2">
                    <img src="{{productAgg.images.small_url}}" alt="plus">
                  </div>
                  <p class="start-price-title font-weight-bold text-center text-uppercase mb-2 product-name">
                    {{productAgg.key}}</p>
                  <p class="start-price-text mb-2 mt-auto from">{{'products.starting_price' | translate | async}}</p>
                  <p class="start-price font-weight-bold mb-4 price">{{productAgg.price | currency}}</p>
                  <div class="go-to-arrow font-weight-bold d-flex align-items-center justify-content-center"></div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>

  </div>
</div>
