@import "../../../../../../sass/_variables.scss";

.btn{
  background-color: $primary;
  border-radius: 5px;
}

.btn.btn-outline{
  color: $primary;
  background-color: #fff !important;
  border: 2px solid $primary;
  border-radius: 5px;
  padding: 0 30px;
}

.list-group, .list-group-item {
  border: none;
  text-align: left;
  padding: 0 10px;
}

.modal-title {
  color: $primary;
}

.p-query {
  font-weight: bold;
}

.p-description {
  font-size: 0.87rem;
  color: $primary;
}

.basic-btn {
  font-weight: bolder;
}

.basic-btn-secondary {
  font-weight: bolder;
  border: 2px solid;
  border-radius: 40px;
  border-color: $primary;
  color: $primary;
  background-color: $white;
  width: 100%;
  max-width: 230px;
  padding: 12px 0;
}

.cta-buttons {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banco-desio_db{
  .btn.btn-outline{
    border: 1px solid $grey-action;
    color: $grey-dark;
    padding: 0;
  }
  .btn.btn-ok{
    border: 1px solid $primary;
    background-color: $primary-light;
    color: $primary;
  }
}