<div class="modal-body pl-3" [ngClass]="dataService.tenantInfo.tenant">
  <div class="confirm-image"></div>
  <h3 class="modal-title">{{ kenticoBody?.cancelation?.value }}</h3>
  <div>
    <span class="text-left mt-3">{{kenticoBody?.cancelation_info_data?.value}}</span>
    <span><strong>{{expirationDate}}</strong></span>
    <div class="text-left mt-3" [innerHTML]="kenticoBody?.cancelation_info_rich_text?.value"></div>
  </div>
  <div class="modal-footer justify-content-center">
    <button type="button" class="col-4 btn btn-outline"
            (click)="activeModal.dismiss()">{{ 'buttons.back' | translate | async }}</button>
    <button type="button" class="col-4 btn btn-ok"
            (click)="confirmCancelation()">{{ 'buttons.cancelation' | translate | async }}</button>
  </div>
</div>
