@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/variables";

.travel-selector-tab{
  color: $grey-dark;

  &.travel-selected{
    border-bottom: 3px solid $btn-light;
    color: $btn-light;
  }
}


.background {
  background-color: #0033a1 !important;
}

.row-container {
  display: flex;
  justify-content: center;
  gap: 45px;
  padding-bottom: 30px;
}

.row-container-for-hero {
  margin-top: 9%;
  color: white !important;
  display: flex;
  flex-direction: column;
  gap: 64px;

  .hero-container-details-policies {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .section-offer-polici-article {
    display: flex;
    flex-direction: column;
    margin-top: 16px;

    .starter-price-group {
      display: flex;
      line-height: 1.2em;

      .starter-price {
        font-size: 30px;
      }

      .information-tab {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .starter-price-at-once {
          font-size: 10px;
        }
      }
    }

    .starter-price-ending-text {
      background-color: #50E3C2;
      font-size: 10px;
      font-weight: bold;
      line-height: 1.2eem;
      padding: 4px;
      color: #000;
      max-width: fit-content;
    }

  }

  .hero-sub-offer-policy-section {
    color: white !important;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .hero-container-policy {
      display: flex;
      justify-content: center;
      gap: 40px;

      .hero-section {
        display: flex;
        flex-direction: column;
        gap: 20px !important;
      }
    }
  }

  .info-hero-section-cta {
    margin: 0px;
    background-color: #0164F2 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 16px;

    .info-text-hero-cta {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    button {
      width: 220px !important;
      padding: 16px !important;
      color: #0164F2;
      border: none;
    }
  }
}

.row-container-for-hero-mobile {
  margin-top: 0;
  color: white !important;
  display: flex;
  flex-direction: column;
  gap: 64px;

  .hero-container-details-policies {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 10px;

    .provider-text {
      font-size: 18px;
    }

    .bg-aqua-text {
      font-size: 10px;
      width: fit-content;
      position: absolute;
      top: 65px;
    }
  }

  .hero-title {
    .title {
      font-size: 28px;
    }

    .subtitle {
      font-size: 16px;
    }
  }

  .section-offer-polici-article {
    .starter-price-from {
      font-size: 10px;
    }

    .starter-price-group {
      .starter-price {
        font-size:
          35px;
      }

      .information-tab {
        .starter-price-euro-symbol {
          font-size: 5px;
        }

        .starter-price-at-once {
          font-size: 8px;
        }
      }
    }

    .starter-price-ending-text {
      font-size: 10px;
    }
  }

  .section-offer-polici-article {
    display: flex;
    flex-direction: column;
    margin-top: 16px;

    .starter-price-group {
      display: flex;
      line-height: 1.2em;

      .starter-price {
        font-size: 30px;
      }

      .information-tab {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .starter-price-at-once {
          font-size: 10px;
        }
      }
    }

    .starter-price-ending-text {
      background-color: #50E3C2;
      font-size: 10px;
      font-weight: bold;
      line-height: 1.2eem;
      padding: 4px;
      color: #000;
      max-width: fit-content;
    }

  }
}

.hero-sub-offer-policy-section-mobile {
  color: white !important;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .hero-container-policy {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    flex-direction: column;

    .hero-section {
      display: flex;
      flex-direction: column;
      gap: 20px !important;
    }
  }
}

.row-container-mobile {
  display: flex;

  .hero-mobile-section {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .section-policy-offer {
      .hero-sub-offer-policy-section-mobile {
        .section-subtitle {
          font-size: 24px;
        }

        .hero-container-policy {
          .hero-section {

            .hero-sub-title {
              font-size: 16px;
            }

            .paragraph {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

.mobile-container-hero-quote {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.quotator-container {
  padding: 2px;
  background: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20%;
  max-width: 450px;
  height: fit-content;

  .dropdown {
    .btn {
      font-weight: 400;
      font-size: 1rem;
      text-transform: none;
      border-radius: 0px;
    }

    position: relative;

    &-toggle-custom {
      background-color: #ffffff;
      border: 2px solid #0164F2;
      border-radius: 4px;
      color: #606060;
      font-size: 0.9rem;
      padding: 0.375rem 1.58rem;
      padding-top: 0.375rem;
      padding-right: 0.887rem;
      padding-bottom: 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:focus,
      &:active {
        outline: none;
        box-shadow: none;
      }

      .ico-dropdown {
        display: flex;
        align-items: center;

        svg {
          width: 16px;
          height: 16px;
          color: #0164F2;
        }
      }
    }

    &-menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      background-color: #ffffff;
      border: 2px solid #0164F2;
      border-radius: 4px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      max-height: 300px;
      overflow-y: auto;
      padding: 0;

      &.show {
        display: block;
      }

      .dropdown-divider {
        margin: 0;
      }
    }

    &-search-container {
      top: 0;
      background-color: #e3e3e361;
      z-index: 10;
      padding: 0px;

      .search-input {
        flex: 1;
        border: none;
        border-radius: 4px;
        outline: none;
        font-size: 1rem;
        padding-left: 1.2em;
        ;
        background-color: transparent;
      }

      .search-icon {
        margin-left: 0.5rem;

        svg {
          width: 16px;
          height: 16px;
          color: #0164F2;
          font-weight: 800;
          cursor: pointer;
        }
      }
    }

    &-list {
      list-style: none;
      padding: 0;
      margin: 0;

      .dropdown-item {
        padding: 0.5rem 1rem;
        text-align: left;
        border: none;
        background: none;
        width: 100%;
        cursor: pointer;
        color: #606060;
        display: flex;
        align-items: center;
        overflow-x: hidden;

        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }
}

.quotator-container-mobile {
  padding: 2px;
  background: white;
  height: fit-content;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);

  .quotator {
    .title-quotator {
      font-size: 20px;
      font-weight: bold;
    }

    .subtitle-quotator {
      font-size: 18px;
    }

    .info {
      font-size: 14px;

      .more-info-roaming {
        font-size: 14px;
      }
    }

  }

  .dropdown {
    .btn {
      font-weight: 400;
      font-size: 1rem;
      text-transform: none;
      border-radius: 0px;
    }

    position: relative;

    &-toggle-custom {
      background-color: #ffffff;
      border: 2px solid #0164F2;
      border-radius: 4px;
      color: #606060;
      font-size: 0.9rem;
      padding: 0.375rem 1.58rem;
      padding-top: 0.375rem;
      padding-right: 0.887rem;
      padding-bottom: 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:focus,
      &:active {
        outline: none;
        box-shadow: none;
      }

      .ico-dropdown {
        display: flex;
        align-items: center;

        svg {
          width: 16px;
          height: 16px;
          color: #0164F2;
        }
      }
    }

    &-menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      background-color: #ffffff;
      border: 2px solid #0164F2;
      border-radius: 4px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      max-height: 300px;
      overflow-y: auto;
      padding: 0;

      &.show {
        display: block;
      }

      .dropdown-divider {
        margin: 0;
      }
    }

    &-search-container {
      top: 0;
      background-color: #e3e3e361;
      z-index: 10;
      padding: 0px;

      .search-input {
        flex: 1;
        border: none;
        border-radius: 4px;
        outline: none;
        font-size: 1rem;
        padding-left: 1.2em;
        ;
        background-color: transparent;
      }

      .search-icon {
        margin-left: 0.5rem;

        svg {
          width: 16px;
          height: 16px;
          color: #0164F2;
          font-weight: 800;
          cursor: pointer;
        }
      }
    }

    &-list {
      list-style: none;
      padding: 0;
      margin: 0;

      .dropdown-item {
        padding: 0.5rem 1rem;
        text-align: left;
        border: none;
        background: none;
        width: 100%;
        cursor: pointer;
        color: #606060;
        display: flex;
        align-items: center;

        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }
}

.info-hero-section-cta-mobile {
  color: white !important;
  margin: 0px;
  background-color: #0164F2 !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px;

  .info-text-hero-cta {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .section-subtitle {
      font-size: 24px;
    }

    .paragraph {
      font-size: 12px;
    }
  }
  .cta-button-hero {
    width: 100% !important;
    background-color: #F0F0F0;
    text-align: center;

    .cta-button {
      width: 100% !important;
      padding: 16px !important;
      color: #0164F2;
      border: none;
    }
  }


}

.quotator {
  margin: 15px;
}

.packets {
  color: #8c8a8a;
  font-weight: bold;
  padding-top: 35px;
}

.title-quotator {
  font-size: 20px;
  font-weight: bold;

}

.title {
  font-size: 40px;
  color: white;
  font-weight: bold;
}

.subtitle {
  font-size: 22px;
  color: white;
  padding-top: 10px;
}

.paragraph {
  font-weight: lighter;
  font-size: 12px;
  line-height: 1.4em;
  width: 98%;
}

.section-subtitle {
  font-size: 24px;
  font-weight: bold;
}

.hero-sub-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5em;
  color: white !important;
}

.bg-aqua-text {
  background-color: #00FFFF;
  padding: 4px;
  color: #000;
}

.pointer {
  cursor: pointer;
}

.text-underline {
  text-decoration: underline;

}

.selected-package {
  color: #0164f2 !important;

  .selected-line {
    height: 4px;
    width: 100%;
    background-color: #0164f2;
    margin-top: 5px;
  }
}

.selected-package-description {
  margin-top: 10px;
  color: #514e4e;
  font-size: 14px;
  opacity: 87%;
}

.section {
  color: #000;
  opacity: 87%;
  font-size: 16px;
  margin-top: 32px;
  margin-bottom: 12px;
  font-weight: 700;
}

.button-tim {
  font-size: 14px;
}

.tim-operator {

  .bg-operator {
    border: 1px solid;
    height: 40px;
    width: 40px;
    border: 1px solid #0164F2;
    background-color: #0164F2;
    color: white;


    &.disabled {
      background-color: rgba(0, 0, 0, 0);
      color: #C0C0C0;
      border: 1px solid #C0C0C0;
      cursor: not-allowed;
    }

  }
}

.quantity-input {
  border: 2px solid #0164F2;
  background-color: #E8F2FD;
  height: 40px;
}

.gs {
  width: 95px;
  height: 35px;
  color: #606060;
  border: 1px solid #606060;
  padding: 0;
  background-color: white
}

button.gs.selected {
  border: 1px solid #0164F2;
  color: #0164F2;
  background-color: #e8f2fd;
}

.submit-btn {
  color: white;
  background-color: #0164F2;
  text-transform: uppercase;
  outline: none;
  border: none;
  width: 100%;
  padding: 12px 0;

  &:disabled {
    background: rgba(74, 144, 226, 0.5) !important;
    cursor: not-allowed !important;
    outline: 0;
    border: none;
    width: 100%;
    text-align: center;
  }
}

.purchase {
  justify-content: space-between;
  align-items: center;

  .pr-2 {
    text-transform: uppercase;
    font-size: 14px;
  }

  .price {
    display: grid;
    color: black;
    opacity: 87%;
  }

  .price-total {
    font-size: 24px;
    font-weight: bold;
    color: #0164f2;
  }
}

.info {
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
  font-size: 14px;
  text-align: center;

  ::ng-deep {
    p {
      a {
        color: #0164F2;
        text-decoration: underline;
      }
    }
  }
}

.c-cta {
  color: #0164F2;
}

.info-package {
  text-decoration: underline;
}

.purchase {
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.img-logo {
  height: 90px;
}

.c-cta {
  color: #0164F2 !important
}

.tim-form-label-group {
  &.error-field {
    label {
      color: $red !important;
    }

    input,
    .dropdown-toggle-custom {
      border-color: $red !important;
    }
  }

  &>input,
  >.dropdown-toggle-custom {
    border: 1px solid $primary;
    background: $white;
    border-radius: 0;
    padding: 0 0 0 1rem;
    font-size: 1rem;
  }

  &>label {
    position: absolute;
    font-size: 0.9rem;
    background: $white;
    top: -0.5rem;
    left: 1.5rem;
    width: auto;
    color: $primary;
    border-radius: 0;
    padding: 0 5px 0 5px;
    height: min-content;
    z-index: 1;
    margin: 0 0 0 calc(0.5rem - 5px);
  }
}

.error-message {
  color: #eb0000;
  font-family: Lato-Ge;
  font-size: 14px;
}

.form-control:disabled {
  opacity: 0.5 !important;
}

.plus-container {
  text-align: left;
}

.contract {
  font-size: 14px;
}

.price {
  font-size: 20px;
  color: #0033A1 !important;
  text-align: end;
}

.total {
  font-size: 20px;
}

.quote {
  color: #0033A1 !important;
  font-size: 16px;
}

.no-order-quote-true {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.disabled {
  color: #C0C0C0 !important;
}

.green{
 background-color: #02D0D2 !important;
 padding: 4px 8px;
 color: #0364F2;
}
.fluo-green{
background-color: #00FFFF !important;
padding: 4px 8px;
color: #0364F2;
}

.soft-red{
  background-color: #FF4972 !important;
  color: #ffffff;
}

.insured{
  color: #0164F2;
}

.quote-price{
  color: #0033A1;
  font-size: 30px;
  font-weight: 700;
}
.total-price{
  font-weight: 700;
  font-size: 22px;
}
