# Set URL for your scoped packages.
@NYP:registry=https://gitlab.yoloassicurazioni.it/api/v4/projects/55/packages/npm/
//gitlab.yoloassicurazioni.it/api/v4/packages/npm/:_authToken=yCZNRyzAJYu2FanYvWRf
//gitlab.yoloassicurazioni.it/api/v4/projects/55/packages/npm/:_authToken=yCZNRyzAJYu2FanYvWRf