<ng-container *ngIf="data && data.enabled">
  <div class="products-slider">
    <h3 class="products-slider-title"> {{data.title}} </h3>
    <div *ngIf="!isEmpty(data.description)" class="products-slider-description" [innerHtml]="data.description"></div>

    <div class="slider-arrows white d-none d-sm-block" *ngIf="numberOfProducts !== 1">
      <div class="slider-arrows-prev" (click)="swipeleftProduct()"></div>
      <div class="slider-arrows-next" (click)="swiperightProduct()"></div>
    </div>
  
    <ng-container *ngIf="!!slideConfig">
      <ng-template 
      *ngIf="data.carousel_style === 'image'; 
        then imagesSlider
        else simpleSlider">
      </ng-template>
    </ng-container>
    <div class="slider-bullets-content">
      <div class="slider-bullets" *ngIf="numberOfProducts !== 1">
        <span *ngFor="let card of data.product_cards; index as i" (click)="selectProductSlide(i)"
          [ngClass]="{'active': isCurrentProductSlide(i)}" class="slider-bullet">
        </span>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #imagesSlider>
  <ngx-slick-carousel #sliderProducts class="products-slides-container images-slider" [config]="slideConfig"
  (beforeChange)="productCardChanged($event)">
  <div ngxSlickItem class="title-card">
    <div>
      <h3>{{data.title}}</h3>
      <div *ngIf="!isEmpty(data.description)" [innerHtml]="data.description"></div>    
    </div>
  </div>
    <div ngxSlickItem *ngFor="let card of data.product_cards" class="product-card with-image">
      <img src="{{card.img}}" alt="{{card.title}}">
      <div class="product-card-content-part">
        <div class="product-card-name">{{card.title}}</div>
        <div class="product-card-description" [innerHtml]="card.description"></div>
        <div class="promo-tags" *ngIf="card.promo_tags">
          <span class="tag" [ngClass]="card.promo_tags.color">
            {{card.promo_tags.text}}
          </span>
        </div>

        <div *ngIf="card.pre_price">{{card.pre_price}}</div>
        <div class="tim-price-container" *ngIf="card.price">
          <span class="price-units">{{card.price.unit}}</span>
          <div class="price-label-container">
              <span class="price-cents">{{card.price.cent}}</span>
              <span class="price-label" *ngIf="card.post_price">{{card.post_price}}</span>
          </div>
        </div>

        <span class="modal-tooltip" *ngIf="card.modal"
        (click)="openInfoModal(card.modal)">i</span>
        </div>
    </div>
  </ngx-slick-carousel>
</ng-template>

<ng-template #simpleSlider>
  <ngx-slick-carousel #sliderProducts class="products-slides-container simple-slider" [config]="slideConfig"
  (beforeChange)="productCardChanged($event)">
    <div ngxSlickItem class="title-card">
      <div>
        <h3>{{data.title}}</h3>
        <div *ngIf="!isEmpty(data.description)" [innerHtml]="data.description"></div>    
      </div>
    </div>
    <div ngxSlickItem *ngFor="let card of data.product_cards" class="product-card">
      <div class="product-card-name">{{card.title}}</div>
      <div class="product-card-description" [innerHtml]="card.description"></div>
      <div class="promo-tags" *ngIf="card.promo_tags">
        <span class="tag" [ngClass]="card.promo_tags.color">
          {{card.promo_tags.text}}
        </span>
      </div>
      <div class="product-card-price">
        <span class="modal-tooltip" *ngIf="card.modal"
        (click)="openInfoModal(card.modal)" omniturecta="info apertura modale" omnitureposition="1">i</span>
        <div class="pre-price" *ngIf="card.pre_price">{{card.pre_price}}</div>
        <div class="tim-price-container" *ngIf="card.price">
          <span class="price-units">{{card.price.unit}}</span>
          <div class="price-label-container">
              <span class="price-cents">{{card.price.cent}}</span>
              <span class="price-label" *ngIf="card.post_price">{{card.post_price}}</span>
          </div>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
</ng-template>
