@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/_variables.scss";

.sub-title{
  font-weight: bold;
  color: $grey-dark;
  margin: 1rem 0 1rem 0;
}

.buttons {
  justify-content: flex-end;
  margin-top: 1rem;
  @include media-breakpoint-down(sm) {
    justify-content: center;
  }
  &.chebanca_db {
    .submit-btn {
      &.back {
        color: $grey-dark;
        border: 1.5px solid $grey-dark;
        font-weight: 700;
        height: 40px;
        padding: 0;
        min-width: 135px;
      }
      &.buy {
        color: $grey-dark;
        font-weight: 700;
        height: 40px;
        padding: 0;
        min-width: 135px;
      }
    }
  }
}

.submit-btn {
  color: white;
  text-transform: uppercase;
  outline: 0;
  border: none;
  border-radius: 40px;
  width: 20%;
  padding: 12px 0;

  @include media-breakpoint-down(md) {
    width: 30%;
  }

  @include media-breakpoint-down(sm) {
    width: 40%;
  }

  &.back {
    background-color: white;
    color: $primary;
    border: 1.5px solid $primary;
    margin-right: 1rem;
  }

  &.buy {
    background-color: $primary;
    color: $white;
  }
}

.container-birthday-contractor {
  margin-bottom: 0;
  .form-label-group {
    margin-bottom: 0;
  }
}

.container-form-pet {
  label {
    font-weight: normal;
  }
}

.label-birthday {
  padding-top: 4px;
  padding-left: 0;
  font-size: 12px;
}

.arrow-select {
  background-image: url(~assets/images/icons/arrow-y.svg) !important;
  background-size: auto 10px !important;
  background-position: right 16px top 50% !important;
  &.chebanca_db {
    background-image: url(~assets/images/icons/arrow-cb-h.svg) !important;
  }
}
.warning-message {
  &.chebanca_db {
    color: $red;
    text-align: right;
    font-size: 12px;
  }
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-control {
  padding-top: 20px;
}
