<form [formGroup]="form">
  <div class="row mt-3">
    <div class="col-12 title">
      <h5>{{'checkout_home_genertel.owner_info.insurance_datas.text' | translate |
        async}}</h5>
    </div>
    <div class="col-12 sub-title">
      <span>{{'checkout_home_genertel.owner_info.home_to_ensure.text' | translate |
        async}}</span>
    </div>
    <div class="col-12 col-sm-6 mb-3 form-label-group">
      <input type="text" class="form-control" formControlName="address" id="address">
      <label for="address" class="pl-3">{{'checkout_home_genertel.owner_info.address_label.text' | translate |
        async}}</label>
    </div>

    <div class="form-label-group col-12 col-sm-6" [ngClass]="displayFieldCss(form ,'postalCode')">
      <input type="number" class="form-control" id="postalCode" formControlName="postalCode" [maxLength]="5">
      <label for="postalCode" class="pl-3">{{'checkout_home_genertel.owner_info.cap_label.text' | translate |
        async}}</label>
      <div *ngIf="form.get('postalCode').errors?.pattern && dataService.tenantInfo.tenant === 'chebanca_db'" class="warning-message" [hidden]="!isFieldValid(form ,'postalCode')" [ngClass]="dataService.tenantInfo.tenant">
        {{ 'forms.invalid_format' | translate | async }}
      </div>
    </div>

    <div class="col-12 col-sm-6 mb-3">
      <select class="form-control arrow-select" id="province" formControlName="province"
        (ngModelChange)="toggleEnable($event)" [ngClass]="dataService.tenantInfo.tenant">
        <option [ngValue]="null" class="placeholder">{{'forms.shipment_country' | translate | async}}</option>
        <option *ngFor="let state of states" [value]="state.id">
          {{ state.name }}
        </option>
      </select>
      <label class="form-control-placeholder pl-3" for="province">
        {{'checkout_home_genertel.owner_info.province_label.text' | translate | async}}
      </label>
    </div>

    <div class="col-12 col-sm-6 mb-3">
      <select class="form-control arrow-select" [ngClass]="dataService.tenantInfo.tenant" id="city" formControlName="city">
        <option value=""></option>
        <option *ngFor="let state of residentialCities" [value]="state.name">
          {{ state.name }}
        </option>
      </select>
      <label class="form-control-placeholder pl-3" for="city">
        {{'checkout_home_genertel.owner_info.city_label.text' | translate | async}}
      </label>
    </div>

    <div class="col-12 col-sm-6 mb-3">
      <select class="form-control arrow-select" [ngClass]="dataService.tenantInfo.tenant" id="buildingType" formControlName="buildingType">
        <option value="null"></option>
        <option *ngFor="let building of buildingType" [value]="building.codice">
          {{building.descrizione}}
        </option>
      </select>
      <label class="form-control-placeholder pl-3" for="buildingType">
        {{'checkout_home_genertel.owner_info.building_label.text' | translate | async}}
      </label>
    </div>

    <div class="col-12 col-sm-6 mb-3">
      <select class="form-control arrow-select" [ngClass]="dataService.tenantInfo.tenant" id="houseFloor" formControlName="houseFloor">
        <option value="null"></option>
        <option *ngFor="let floor of houseFloor" [value]="floor.codice">
          {{floor.descrizione}}
        </option>
      </select>
      <label class="form-control-placeholder pl-3" for="houseFloor">
        {{'checkout_home_genertel.owner_info.floor_label.text' | translate | async}}
      </label>
    </div>

    <div class="col-12 col-sm-6 mb-3">
      <select class="form-control arrow-select" [ngClass]="dataService.tenantInfo.tenant" id="buildingFloorNumber" formControlName="buildingFloorNumber">
        <option value="null"></option>
        <option *ngFor="let floor of buildingFloorNumber" [value]="floor.codice">
          {{floor.descrizione}}
        </option>
      </select>
      <label class="form-control-placeholder pl-3" for="buildingFloorNumber">
        {{'checkout_home_genertel.owner_info.number_floor_label.text' | translate | async}}
      </label>
    </div>
  </div>

  <div class="row mt-3" *ngIf="rcCane.selezionata">
    <div class="col-12 sub-title">
      <span>{{'checkout_home_genertel.owner_info.rc_animali_title.text' | translate | async}}</span>
      <div formArrayName="pets" class="mt-3" *ngFor="let pet of petsForm.controls; let i = index;">
        <div [formGroupName]="i" class=" row container-form-pet">

          <div class="form-label-group col-12 col-sm-4" [ngClass]="displayFieldCss(pet,'petName')">
            <input type="text" class="form-control" id="petName{{i}}" formControlName="petName">
            <label for="petName{{i}}">
              {{'checkout_home_genertel.owner_info.animal_name.text' | translate | async}}
            </label>
            <div [hidden]="!isFieldValid(pet,'petName')" class="error-message">
              {{'forms.mandatory_field' | translate | async}}
            </div>
          </div>
          <div class="container-birthday-contractor form-group col-12 col-sm-4">
            <div class="form-label-group" [ngClass]="displayFieldCss(pet,'petBirthday')">
              <input type="text" class="form-control date-placeholder text-center" formControlName="petBirthday"
                (focus)="petBirthday.toggle()" (dateSelect)="petBirthday.close();" id="petBirthday{{i}}" ngbDatepicker
                [minDate]="minDateBirthdayContractor" [maxDate]="maxDateBirthdayContractor" #petBirthday="ngbDatepicker"
                required autocomplete="off" placeholder="Data di nascita">
              <label class="label-birthday" for="petBirthday{{i}}">
                {{'checkout_home_genertel.owner_info.animal_birthday.text' | translate | async}}
              </label>
              <div [hidden]="!isFieldValid(pet,'petBirthday')" class="error-message">
                {{'forms.mandatory_field' | translate | async}}
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-4" [ngClass]="displayFieldCss(pet,'animalBreed')">
            <select *ngIf="!petInput" class="form-control arrow-select" id="animalBreed{{i}}"
              formControlName="animalBreed" (ngModelChange)="petSelection($event)" [ngClass]="dataService.tenantInfo.tenant">
              <option value="null"></option>
              <option *ngFor="let petBreed of petsList" [value]="petBreed">
                {{petBreed}}
              </option>
            </select>
            <input *ngIf="petInput" type="text" class="form-control" formControlName="animalBreed" id="address{{i}}">
            <label class="form-control-placeholder pl-3" for="animalBreed{{i}}">
              {{'checkout_home_genertel.owner_info.animal_breed.text' | translate | async}}
            </label>
            <div [hidden]="!isFieldValid(pet,'animalBreed')" class="error-message">
              {{'forms.mandatory_field' | translate | async}}
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="row buttons" [ngClass]="dataService.tenantInfo.tenant">
    <button class="submit-btn back" (click)="showOptinalWarranties()">Indietro</button>
    <button class="submit-btn buy" [disabled]="!form.valid" (click)="submit()">Continua</button>
  </div>
</form>
