@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/_variables.scss";


.container{
  margin-bottom: 7rem;
  padding: 30px 20px;
}

.first-section{
  color: #666666;
}

.arrow-select {
  background: url(~assets/images/icons/arrow_down.svg) no-repeat;
  background-position: calc(100% - 0.75rem) calc(100% - 1.7rem) !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  padding-right: 2rem !important;
  background-size: 17px !important;
  font-weight: 500;
  color: black;
  margin-top: -15px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 27px;
  margin-right: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


 @media (max-width: 480px) {
  .container {
    padding: 30px 20px;
    height: 510px;
    overflow: scroll;
  }
}


.modal-title,
.fee,
.price,
.price-anno {
  color: $black;
}

.price-anno {
  line-height: 30px;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 10px;
}

.price {
  font-weight: bold;
}

.card {
  padding: 10px 0 !important;
}

.collapse-aria[aria-expanded = true] {
  .closed {
    display: none;
  }

  .open {
    display: block;
  }

}

.collapse-aria[aria-expanded = false] {
  .closed {
    display: block;
  }

  .open {
    display: none;
  }

}

.collapse:not(.show) {
  height: 10px !important;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.text-collapse{
  color: $primary;
  font-size: 14px;
  font-weight: bold;
}

.btn-icon{
  justify-content: center;
  align-items: center;
}

.close_icon{
  width: 27px;
  height: 27px;
}

.button-remove{
  color: $primary;
  background-color: transparent;
  text-transform: uppercase;
  outline: none;
  border: 2px solid $primary;
  border-radius: 40px;
  width: 140px;
  padding: 8px 0;
  max-width: 230px;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  margin-right: 25px;
}

.button-add{
  background-color: $primary;
  color: $white;
  text-transform: uppercase;
  outline: none;
  border: 2px solid $primary;
  border-radius: 40px;
  width: 140px;
  padding: 8px 0;
  max-width: 230px;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  margin-right: 25px;
}

.description {
  color: #666666;
  ::ng-deep a {
    color: $primary;
    text-decoration: underline;
  }
}

.info-image{
  max-width: 40px !important;
  height: 22px !important;
}

.additional_warrenty{
  color: #9e9e9e;
}

.warrenty{
  font-size: 14px;
  width: 50%;
  margin-right: 80px;
  @media(max-width: 380px) {
    margin-right: 20px;
  }
  color: $black;
}

.add_warrenty{
  font-size: 14px;
  color: $black;
}

.fee {
  position: absolute;
  justify-content: space-between;
  bottom: 3px;
  background-color: aliceblue;
  width: 100%;
  height: 50px;
  align-items: center;
  right: 0;
  padding: 20px;
  border-radius: 6px;
  font-size: 18px;
}

::ng-deep{
  .modal-dialog{
      position: fixed;
      margin: auto;
      max-width: 30rem;
      height: 100%;
      right: 0px;
  }
  .modal-sm{
    .modal-content{
      height: 100%;
      @media screen and (max-width:449px) {
        height: 85%;
      }
    }
  }


  @media (max-width: 450px) {
    .modal.fade .modal-dialog {
      transform: translate3d(0, 100vh, 0);
    }

    .modal.show .modal-dialog {
      transform: translate3d(0, 0, 0);
    }
    .modal{
      top: initial;
      bottom: 0!important;
      height: 80% !important;
    }
  }
}

//mobile view
//slide up to bottom

.animate-bottom {
  position: relative;
  animation: animatebottom 0.4s;
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

@media (min-width: 450px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }

}

@media screen and (max-width:449.9px){
  .desktop {
    display: none;
  }
  .mobile{
    display: block;
  }
}

@media (min-width:415.9px) and (max-width: 449.9px) {
  .mobile {
    .fee {
      background: aliceblue;
      justify-content: space-between;
      height: 50px;
      align-items: center;
      padding: 0 15px;
      border-bottom-left-radius: 0.6em;
      border-bottom-right-radius: 0.6em;
      width: 100%;
      bottom: 0;
  }
  }
  .desktop {
    display: none;
  }
  ::ng-deep {
      .mat-select-panel{
        margin-bottom: 12px;
      }
  }
}

@media (min-width:360px) and (max-width:374.9px) {
  .mobile{
    .fee{
      bottom: -68px !important;
    }
  }
}

@media (min-width:375px) and (max-width:380px) {
  .mobile{
    .fee{
      bottom: -125px !important;
    }
  }

}

@media (min-width:380.9px) and (max-width:395px) {
  .mobile{
    .fee{
      bottom: -150px !important;
    }
  }

}

@media (min-width:395.9px) and (max-width:415px) {
  .mobile{
    .fee{
      bottom: -66px !important;
    }
  }
}

.close-icon {
  cursor: pointer;
}

.close-border{
  border: 1px solid #ccc;
  width: 7%;
  margin: auto;
  margin-top: 10px;
}

.add-mob{
  border-bottom: 1px solid #e5e6e5;
  margin-bottom: 20px;
}

.form-maximal{
  margin-bottom: 3rem;
}

.suggested_by_yolo{
  background-color: $primary;
  display: initial;
  font-size: 12px;
  padding: 5px;
  border-radius: 4px;
  margin-left: 10px;
}

.suggested_by_yolo_input{
  border: none;
  background: none;
  font-size: 12px;
  height: 12px;
  width: 100px;
  cursor: pointer;
}
.suggested_by_yolo_input::-webkit-input-placeholder {
  color: white;
}

.label-section {
  color: $black;
  font-size: 12px;
  top: -3px;
}

.field-select__label {
  position: absolute;
  pointer-events: none;
  top: 2px;
  left: 0;
}

.matselect{
  margin-top: 15px;
  padding: 0px 10px;
  .matoption{
    height: auto;
  }
}

.btn-radio{
  display: flex;
  justify-content: space-between;
  width: 100%;
   ::ng-deep {
    label{
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
   }
}

::ng-deep{
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: $primary;
  }
  .mat-radio-button.mat-accent .mat-radio-inner-circle{
    color: $primary;
    background-color: $primary;
  }
  .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
      background-color:rgba(255, 255, 255, 0);
  }

  .cdk-global-overlay-wrapper, .cdk-overlay-container {
    z-index: 99999 !important;
  }

  .mat-select-value-text, .mat-radio-label-content {
    font-size: 16px;
    z-index: -1;
  }

  .mat-select-value {
    margin-top: 15px;
    color: rgba(0,0,0,.87);
  }

 .cdk-overlay-pane  {
  position:absolute;
  pointer-events:auto;
  box-sizing:border-box;
  z-index:1000;
  display:flex;
  max-width:100%;
  max-height:100%;
  transform:none !important;
  margin-top: 36px;
  margin-left: -15px;
 }
}
