@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "../../../../../sass/variables";
//table color
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: $secondary; //Choose your own color here
}
.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: $primary-light;
}
//bar where are the documents.
.flex-item {
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: auto; 
  cursor: pointer;
  flex-grow: 0;
  margin: 0 0 48.6px;
  &.civibank_db
  &.banco-desio_db{
    @media (min-width:765px){
      margin:0 0 5px;
    }
  }
  background-color: $primary;
  padding: 10px 0 10px 15px;
  display: -webkit-box;
  background-image: linear-gradient(90deg, $primary 85%, #d2d2d1bf 110%);
  @media screen and(max-width: 880px) {
    background-image: unset;
  }
}
.guide-phase{
  padding:0px; 
  margin:0px; 
  p {
    padding: 0px; 
    margin:0px; 
    @media (max-width:880px){
      padding: 10px 0 0 0; 
    }
    color:$primary;
    font-size: 17px; 
  }
}
//document pills inside the bar
.flex-item .item {
  width: 260px;
  border: 1px solid $gradient;
  border-radius: 49px;
  padding: 10px;
  margin: 0 20px 0 0;
  font-size: 16px;
  box-shadow: 0 0 6px 0 $primary-dark;
  background-color: $white;
  flex-grow: 0;
}
//when pill is selected
.selected {
  border: solid 2px !important;
  border-color: $secondary !important;
  color: $primary;
}
//value inside pills
.item-carousel {
  flex-grow: 0;
  font-family: Roboto;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  word-break: break-all;
}
//scrollbar documents
::-webkit-scrollbar {
  height: 10px;
  width: 4px;
  border: 1px solid $primary-light;
  overflow-x: scroll;
  @media screen and(max-width: 880px) {
      display: none;
  }
}
  ::-webkit-scrollbar-track {
    background: $primary-light;
  }
  ::-webkit-scrollbar-thumb {
    background: $gradient;
    border-radius: 20px;
  }
//filter bar
.filter-documents {
  display: flex;
  width: auto;
  height: auto;
  border: solid 1.1px $secondary;
  padding: 1px 22px 1px 1px;
  margin: 48px 6px 20px 0px;
  border-radius: 20.2px;
  flex-grow: 0;
}
//value filter not selected
.nav-pills .nav-link {
  font-family: Roboto;
  cursor: pointer;
  font-size: 17px;
  border-radius: 0.25rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.34;
  letter-spacing: 0.12px;
  margin: 6px 7px 6px 7px;
}
//value filter selected
 .nav-pills .nav-link.active {
  color: $red-gradient;
  background-color: $gradient;
  border-radius: 24.1px;
}
//table
th {
  color: $grey-dark;
}
//link inside table
.underline {
  text-decoration: underline !important;
  color: $primary-dark;
}
.row-shadowed {
  font-size: 15px;
  color: $primary-dark;
  padding: 7px;
}
@media screen and(max-width: 880px) {
  //desktop
  .responsived {
    display: none;
  }
  //mobile
  .responsivem {
    display: block;
  }
  .filter-documents {
    margin: 95px 6px 40px 7px;
    &.civibank_db{
      margin: 60px 6px 40px 7px; 
    }
  }
  .title {
    color: $white;
    font-family: "Nunito Sans";
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 2rem;
  }
}
@media screen and(min-width: 880px) {
  //desktop
  .responsived {
    display: block;
  }
  //mobile
  .responsivem {
    display: none;
  }
  .filter-documents {
    width: fit-content;
  }
  .title {
    color: $primary-dark;
  }
}
.item {
  p {
    margin-bottom: 0;
  }
}
.oval-copy-2 {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
}
.active {
  background-color: #b8e986;
}
.verified,
.unverified {
  background-color: #f5a623;
}
.expired,
.canceled,
.suspended {
  background-color: #d0021b;
}