@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/variables";

.agency-offer-activation-container-section {
  .agency-offer-activation-section {
    background-color: $primary-dark;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0rem;
    text-align: center;

    .title-activation-agency {
      font-size: 3rem;
      line-height: 1.1;
      max-width: 80%;
      margin-bottom: 0;

      ::ng-deep strong {
        color: $primary-light;
      }

      @include media-breakpoint-up(sm) {
        font-size: 4rem;
      }
    }

    .subtitle-activation-agency {
      margin: 0;
    }
  }

  .find-agency-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 0;
    align-items: center;
    text-align: center;

    .title-find-agency {
      font-size: 2rem;
      line-height: 1.1;

      ::ng-deep strong {
        color: $btn-text-color;
      }
    }

    .subtitle-find-agency {
      font-size: 1.1rem;
      line-height: normal;
      padding-bottom: 2rem;
      max-width: 45%;
    }

    .btn-section {
      display: flex;
      justify-content: center;
      padding-top: .5rem;
      text-align: center;

      .btn-tim {
        background-color: $btn-text-color;
        color: $white;
        border: none;
        padding: 8px 20px;
        font-weight: normal;
        width: 18rem;
        overflow: hidden;
        cursor: pointer;

        @include media-breakpoint-up(sm) {
          width: 22rem;
        }
      }
    }

  }
}
