<ng-container *ngIf="(data | json) != '{}'">
  <div class="container-fluid agency-offer-activation-container-section">
    <div class="row">
      <div class="col-12 col-md-6 agency-offer-activation-section">
        <h1 class="title-activation-agency" [innerHTML]="data.title_activation_agency"></h1>
        <p class="subtitle-activation-agency">{{data.subtitle_activation_agency}}</p>
      </div>
      <div class="col-12 col-md-6 find-agency-section">
        <h1 class="title-find-agency" [innerHTML]="data.title_find_agency"></h1>
        <p class="subtitle-find-agency" [innerHTML]="data.subtitle_find_agency"></p>
        <div *ngFor="let item of data.button_list" class="btn-section">
            <a *ngIf="item.link" class="btn-tim" (click)="goToLink(item.link)">{{item.title}}</a>
        </div>
      </div>
    </div>
  </div>
</ng-container>