@import "sass/_variables.scss";

.uncompleted-card {
    background-color: white!important;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.11), 0 3px 6px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    color: $grey;
    text-transform: uppercase;
    padding: 2rem 0rem 2rem 1rem;
    margin: 1rem 0;
    font-size: 1.25rem;
}
