@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/variables";

table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: 0.5em 0 0.75em;
}

table tr {
    padding: 0.35em;
}

table th {
    font-size: 14px;
    font-weight: normal;
}

a {
    text-decoration: underline;
    color: #2084d8;
}

.info-subscription-uncharged {
    display: flex;
    align-items: center;
    background-color: #ffe7e7;
    padding: 1rem 2rem;
    p {
        margin: 0;
        span {
            margin-right: 1rem;
        }
        br {
            @include media-breakpoint-up(md) {
                display: none;
            }
        }
        a {
            color: $black;
            text-decoration: underline;
        }
    }
    img {
        margin-right: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    table caption {
        font-size: 1.3em;
    }

    table thead {
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        display: block;
        margin-bottom: 0.625em;
        border-bottom: 1px solid $grey;
        &:last-child {
            border-bottom: none;
        }
    }

    table td {
        display: block;
        font-size: 14px;
        text-align: right;
    }

    table td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }

    :host ::ng-deep .disc:before {
        content: "\2022";
        font-weight: bold;
        font-size: 40px;
        display: inline-block;
        width: auto;
        position: absolute;
        line-height: 20px;
    }
}
