<div class="container-fluid hero-container">
  <div class="row hero">
    <div class="col-12 col-md-6 text-container">
      <h1>{{data.title}}</h1>
      <div class="subtitle" [innerHTML]="data.subtitle"></div>
      <a class="btn" href="{{data.button_link}}" target="_blank" *ngIf="data.button_text && data.button_link">{{data.button_text}}</a>
      <a class="btn-arrow" href="{{data.button_link}}" target="_blank" *ngIf="data.button_arrow_text && data.button_link">{{data.button_arrow_text}}</a>
    </div>
    <div class="d-none d-md-block col-md-6 p-0 img-container">
      <img [src]="data.img">
    </div>
  </div>
  <!-- TODO: add tabs and use ngFor to handle products with variants -->
  <div class="row purchase">
    <div class="purchase-bar py-3 px-md-4 pr-lg-5">
      <div class="col-12 col-sm-6">
        <div class="purchase-header">
          <span class="tag">{{data.purchase_bar.tag}}</span>
          <span class="product-name">{{data.purchase_bar.product_name}}</span>
        </div>
        <div class="price-container">
          <span class="price-principal">{{data.products[0].price_principal}}</span>
          <div class="price-secondary">
            <span class="price-decimal">{{data.products[0].price_decimal}}</span>
            <span class="price-title">{{data.purchase_bar.price_title}}</span>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <div class="purchase-button">
          <button *ngIf="data.checkout_action" class="btn submit-btn" (click)="emitActionEvent(data.checkout_action)">{{data.purchase_bar.purchase_button}}</button>
      </div>
    </div>
  </div>
</div>