@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/variables";

.landing-tim-employees {
    flex-direction: column;
    align-items: center;
    color: $primary-dark;
    text-align: center;
    .logo-section {
        background-color: $primary-dark;
        padding-top: 2rem;
        padding-bottom: 2rem;
        .img {
            max-width: 250px;
        }
    }
    h1 {
        margin-top: 6rem;
        margin-bottom: 3rem;
        font-size: 3.3rem;
        text-align: center;
        line-height: 1.2;
    }
    p {
        font-size: 1.5rem;
    }
    button {
        text-transform: uppercase;
        border: none;
        background-color: $primary;
        color: $white;
        height: 3rem;
        width: 30%;
        max-width: 250px;
    }
}
