@import "../../../../../sass/variables";
.header-gradient {
  padding: 125px 15px 50px 15px;
  min-height: 300px;
  background: $gradient;
  &.helbiz_db { 
    background: $primary-dark;
  }
}
:host ::ng-deep {
  .dynamic-header-title {
    .title {
      display: contents;
      h1 {
        font-size: 2.5rem;
        text-transform: none;
        font-weight: 400;
        margin-bottom: 2.5rem;
        font-family: inherit;
        line-height: 1.2;
        color: $white;
        width: 100%;
      }
      h4 {
        text-transform: none;
        font-weight: 400;
        font-size: 1.5rem;
        margin-bottom: 0rem;
        font-family: inherit;
        line-height: 1.2;
        color: $white;
        padding: 5px 0px;
      }
      & > a {
        text-transform: none;
        font-weight: 400;
        font-size: 1.5rem;
        font-family: inherit;
        line-height: 1.2;
        color: $white;
      }
    }
  }
  .dynamic-body {
    .container {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }
    h4 {
      color: $grey-dark;
      text-transform: none;
      font-weight: 400;
      margin-bottom: 1rem;
      margin-top: 2rem;
    }
    .accordion-yolo {
      padding-left: 0;
      &:last-of-type .filterFaqs {
        border-bottom: 0px;
      }
    }
    .card.filterFaqs {
      padding: 0;
      margin-bottom: 0;
      border-bottom: 1px solid $silver;
      .card-header {
        background-color: $white;
        border: 0;
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
      }
    }

    ul {
      padding-left: 16px;
    }

    .card-body {
      color: $black;
    }

    h5 {
      text-transform: none;
      font-weight: 400;
      color: $section-title-color;
      cursor: pointer;
    }

    a:hover {
      color: $hover-blue;
    }
    .reclami {
      p,
      li {
        font-size: 14px;
        color: $black;
      }
      h4 {
        font-size: 24px;
      }
    }
  }
  .dynamic-subsection {
    h4 {
      text-transform: none;
      font-weight: 400;
      color: $section-title-color;
      font-size: 1.5rem;
      margin-bottom: 40px;
    }
    p {
      color: $grey-dark;
      padding-bottom: 16px;
    }
    a {
      padding: 15px;
      border-radius: 0;
      color: $primary;
      border-color: $primary;
      border-width: 1px;
      border-style: solid;
      display: block;
      width: fit-content;
      margin-top: 1rem;
      margin-bottom: auto;
      margin-left: auto;
      margin-right: auto;

      &:hover {
        color: $white;
        background-color: $primary;
        transition: 0.25s;
      }
    }
  }
}
#accordion {
  background-color: $white;
  border: 0;
}
#contact {
  margin-top: 70px;
  background: $basic-pearl;
  padding: 70px 0;
}
