<section id="help" class="help">
  <div class="container-fluid header-gradient dynamic-header-title" [ngClass]="dataService.tenantInfo.tenant">
    <app-dynamic-section [dynamicHtml]="model?.header_title"> </app-dynamic-section>
  </div>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <div id="accordion" class="dynamic-body">
    <app-dynamic-section [dynamicHtml]="model?.body"> </app-dynamic-section>
  </div>
  <section id="contact" class="contact text-center">
    <div class="container container-960">
      <div class="row">
        <div class="col-md-12 dynamic-subsection">
          <app-dynamic-section [dynamicHtml]="model?.sub_section.body"> </app-dynamic-section>
          <a [routerLink]="model?.sub_section.button.target">
            {{model?.sub_section.button.label}}
          </a>
        </div>
      </div>
    </div>
  </section>
</section> 
