@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/_variables.scss";

.checkout-header {
    padding: 1rem 15px 10px;
    align-items: flex-end;
    justify-content: space-between;
    &.yolodb {
        &.yolo-for-ski-gold,
        &.yolo-for-ski-platinum {
            .product {
                &-info {
                    font-size: 14px;
                }
                &-name {
                    font-size: 20px;
                }
            }
            .partner-info p {
                font-size: 14px;
            }
        }
    }
    &.chebanca_db {
      &.ge-home {
        display: none;
      }
    }
    &.helbiz_db {
        p {
            color: $primary-dark;
        }
    }
    .product-info {
        font-size: 0.8rem;
        @include media-breakpoint-up(md) {
            font-size: 0.9rem;
        }
    }
    p {
        color: $white;
        margin-bottom: 0px;
        font-weight: normal;
    }
    .product-name {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.94rem;
        @include media-breakpoint-up(md) {
            font-size: 1.3rem;
        }
    }
    .partner-info {
        p {
            font-size: 12px;
            @include media-breakpoint-up(md) {
                font-size: 0.9rem;
            }
        }
        img {
            max-width: 50px;
            margin-left: 5px;
            @include media-breakpoint-up(md) {
                max-width: 62px;
            }
        }
        &.virtualhospital-monthly, &.virtualhospital-annual {
          p {
            margin-left: 8px;
          }
            img {
              max-width: 115px;
          }
      }
    }
    &.fca-bank_db {
        p {
            color: $text-color;
        }
    }
    &.banca-sella_db{
        &.ge-ski-plus,
        &.ge-ski-premium{
            display: block;
            p{
              margin: 10px 0;
            }
        }
    }
    &.winter-sport-plus,
    &.winter-sport-premium{
      .small-text{
        font-size: 14px;
      }
      img{
        max-width: 60px !important;
      }
    }
}
