<ng-container *ngIf='data && data.visible'>
  <div class="row checkout-header" [ngClass]="[dataService.tenantInfo.tenant, dataService.product.product_code]">
    <div class="product-info">
      <p>{{data.title}}</p>
      <p class="product-name text-uppercase">{{data?.extra_title}}{{data.product_name}}</p>
    </div>
    <div class="partner-info" [ngClass]="dataService.product.product_code" *ngIf="data.partner_text">
      <p>{{data.partner_text}}
        <img *ngIf="data.partner_icon"  [src]="data.partner_icon" [alt]="data.partner_name">
      </p>
    </div>
  </div>
</ng-container>
