<form [formGroup]="form" (change)="calculatePrice()">
  <div class="row mt-3">

    <div class="col-12 col-sm-6 mb-3 form-label-group">
      <input type="text" class="form-control" formControlName="registrationYear" id="registrationYear">
      <label for="registrationYear">{{'checkout_motor_genertel.step_insurance_info.anno_immatricolazione.text' |
        translate | async}}</label>
    </div>

    <div class="form-label-group col-12 col-sm-6">
      <input type="text" class="form-control" id="brandModel" formControlName="brandModel">
      <label for="brandModel">{{'checkout_motor_genertel.step_insurance_info.marca_modello.text' | translate |
        async}}</label>
    </div>

    <div class="col-12 col-sm-6 mb-3" *ngIf="product.code === 'ge-motor-car'">
      <select class="form-control arrow-select" id="setUp" formControlName="setUp">
        <option *ngFor="let setUp of setUpsList" [ngValue]="setUp">
          {{setUp.allestimento}}
        </option>
      </select>
      <label class="form-control-placeholder pl-3"
        for="setUp">{{'checkout_motor_genertel.step_insurance_info.allestimento.text' | translate | async}}</label>
    </div>
    <div class="form-label-group col-12 col-sm-6" *ngIf="product.code === 'ge-motor-van'">
      <input type="number" class="form-control" id="weight" formControlName="weight">
      <label for="weight">Massa in quintali</label>
    </div>

    <div class="form-label-group  col-12 col-sm-6 form-icons">
      <input type="text" class="form-control text-center" id="vehicleValue" formControlName="vehicleValue"
        autocomplete="off">
      <i>{{'checkout_motor_genertel.step_insurance_info.euro_text.text' | translate | async}}</i>
      <label for="vehicleValue">{{'checkout_motor_genertel.step_insurance_info.valore_del_veicolo.text' | translate |
        async}}</label>
    </div>

    <div class="col-12 col-sm-6 mb-3">
      <select class="form-control arrow-select" id="airBag" formControlName="airBag">
        <option value="true">si</option>
        <option value="false">no</option>
      </select>
      <label for="airBag"
        class="form-control-placeholder pl-3">{{'checkout_motor_genertel.step_insurance_info.e_dotato_di_airbag.text' |
        translate | async}}</label>
    </div>

    <div class="col-12 col-sm-6 mb-3">
      <select class="form-control arrow-select" id="vehicleIsSafe" formControlName="vehicleIsSafe">
        <option value="true">si</option>
        <option value="false">no</option>
      </select>
      <label for="vehicleIsSafe"
        class="form-control-placeholder pl-3">{{'checkout_motor_genertel.step_insurance_info.custodito_in_luogo_protetto.text'
        | translate | async}}</label>
    </div>

    <div class="col-12 col-sm-6 mb-3">
      <select class="form-control arrow-select" id="abs" formControlName="abs">
        <option value="true">si</option>
        <option value="false">no</option>
      </select>
      <label for="abs"
        class="form-control-placeholder pl-3">{{'checkout_motor_genertel.step_insurance_info.e_dotato_di_abs.text' |
        translate | async}}</label>
    </div>

    <div class="col-12 col-sm-6 mb-3">
      <select class="form-control arrow-select" id="theftProtection" formControlName="theftProtection">
        <option *ngFor="let alarm of listAlarm" [value]="alarm" selected>{{alarm}}</option>
      </select>
      <label for="abs"
        class="form-control-placeholder pl-3">{{'checkout_motor_genertel.step_insurance_info.antifurto.text' | translate
        | async}}</label>
    </div>

    <div class="form-label-group form-icons col-12 col-sm-6">
      <input type="text" class="form-control text-center" id="yearlyKm" formControlName="yearlyKm" autocomplete="off">
      <i>{{'checkout_motor_genertel.step_insurance_info.chilometri.text' | translate | async}}</i>
      <label for="yearlyKm">{{'checkout_motor_genertel.step_insurance_info.km_annui.text' | translate | async}}</label>
    </div>

    <div class="col-12 col-sm-6 mb-3">
      <select class="form-control arrow-select" id="driverAge" formControlName="driverAge">
        <option value="true">si</option>
        <option value="false">no</option>
      </select>
      <label for="driverAge"
        class="form-control-placeholder pl-3">{{'checkout_motor_genertel.step_insurance_info.guidatore_piu_26_anni.text'
        | translate | async}}</label>
    </div>

    <div class="form-label-group  col-12 col-sm-6">
      <input type="text" class="form-control" id="universalClass" formControlName="universalClass">
      <label for="universalClass">{{'checkout_motor_genertel.step_insurance_info.classe_universale.text' | translate |
        async}}</label>
    </div>

    <div class="form-label-group  col-12 col-sm-6">
      <input type="text" class="form-control" id="assignClass" formControlName="assignClass">
      <label for="asignClass">{{'checkout_motor_genertel.step_insurance_info.classe_di_assegnazione.text' | translate |
        async}}</label>
    </div>

    <div class="form-label-group  col-12 col-sm-6">
      <input type="text" class="form-control" id="usageType" formControlName="usageType">
      <label for="usageType">{{'checkout_motor_genertel.step_insurance_info.tipo_di_uso.text' | translate |
        async}}</label>
    </div>

    <div class="form-label-group  col-12 col-sm-6">
      <input type="text" class="form-control" id="fuel" formControlName="fuel">
      <label for="fuel">{{'checkout_motor_genertel.step_insurance_info.alimentazione.text' | translate | async}}</label>
    </div>
  </div>
</form>
