@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/variables";

.bg-img-hero {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 2rem;
  @include media-breakpoint-up(sm) {
    padding: 6rem 0;
  }
  @include media-breakpoint-up(lg) {
    padding: 11rem 0 6rem;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(15, 15, 15, 0.6), rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.22));
  }
}

.text-container {
  .title {
    color: $white;
    font-size: 1.5rem;
    font-weight: 500;
    padding-right: 4rem;
    line-height: normal;
  }    
}
