<div class="bg-img-hero" [ngStyle]="{ 'background-image': 'url(' + data.bg_img + ')'}">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-md-6 text-container">
        <p class="title">{{data.title}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-5">
        <!-- Temporary --- todo configurator -->
        <app-quotator-tires-free *ngIf="data.products[0].quotator_type === 'quotator-tires-covered-free'" (actionEvent)="sendActionEvent($event)" [product]="data.products[0]"></app-quotator-tires-free>
      </div>
    </div>
  </div>
</div>
