@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";

@import "~sass/variables";

  :host ::ng-deep .password-revealer {
    position: absolute;
    display: flex;
    top: 15px;
    right: 30px;
    height: 20px;
    width: 20px;
    justify-content: center;
    align-items: center;
    z-index: 10;
    border-radius: 20px;
    color: $primary;
    transition: 
      height 0.04s linear,
      width 0.04s linear,
      top 0.04s linear,
      right 0.04s linear,
      border-radius 0.033s linear 0.04s;
  
    &:hover {
      background-color: rgba(127,127,127,0.3);
      height: 40px;
      width: 40px;
      top: 5px;
      right: 20px;
      border-radius: 4px;
      cursor: pointer;
    } 
  }
