<ng-container *ngIf="data">
  <div class="what-to-know-slider-container" id="more-info">
    <h2>{{data.title_section}}</h2>

    <div class="view-desktop card-container">
      <div *ngFor="let item of data.slider_content" class="card">
        <div class="slide-content">
          <img [src]="item.img" [alt]="item.img_alt"/>
          <p class="slider-text" [innerHtml]="item.text"></p>
        </div>
      </div>
    </div>

    <div class="view-mobile">
      <ngx-slick-carousel #slider *ngIf="!!slideConfig" class="carousel card-container" [config]="slideConfig"
                          (beforeChange)="updateActiveSlide($event)">
        <div ngxSlickItem *ngFor="let item of data.slider_content" class="card">
          <div class="slide-content">
            <img [src]="item.img" [alt]="item.img_alt"/>
            <p class="slider-text" [innerHtml]="item.text"></p>
          </div>
        </div>
      </ngx-slick-carousel>
      <div class="slider-dots">
        <span *ngFor="let item of data.slider_content; index as i" class="dot"
              [ngClass]="{'active': isCurrentCardActive(i)}" (click)="selectCard(i)"></span>
      </div>
    </div>

  </div>
</ng-container>
