@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/variables";

.what-to-know-slider-container {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  @include media-breakpoint-down(sm) {
    margin-bottom: 0;
  }

  h2 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 2.5rem;
    @include media-breakpoint-down(sm) {
      font-size: 1.375rem;
      margin-bottom: 0;
    }
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
      background: linear-gradient(180deg, $white 0%, $white 97%, $primary 97%, $primary 100%);
      padding: 1rem;
      max-width: 400px;
      border-radius: 12px;
      flex-basis: 29%;
      margin: 0 1rem;
      box-shadow: 0 0 53px 0 rgba(0, 0, 0, 0.18);

      .slide-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          max-width: calc(100% + 2rem);
          margin-bottom: 2.5rem;
          margin-top: 2.5rem;
        }
      }

      .slider-text {
        text-align: center;
        
        

        ::ng-deep strong {
          font-size: 20px;
        }
      }
    }

    &.carousel {
      .card {
        max-width: 90%;
        flex-basis: auto;
      }

      .slider-text {
        height: 102px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        @media (max-width: 280px){
          height:155px;
        }
      }
    }
  }
}

.view {
  &-mobile {
    display: block;
    @include media-breakpoint-up(md) {
      display: none !important;
    }
  }

  &-desktop {
    @include media-breakpoint-down(md) {
      display: none !important;
    }
    @include media-breakpoint-up(md) {
      display: flex !important;
    }
  }
}

.slider-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;

  .dot {
    height: 26px;
    width: 26px;
    background-color: $primary;
    opacity: 0.2;
    margin: 0 0.5rem;
    border-radius: 14px/40%;

    &.active {
      opacity: 1;
      height: 42px;
      width: 42px;
    }
  }
}

:host ::ng-deep {
  .slick-track {
    padding: 2rem 0;
    height: 100%;
  }

  .slick-slide {
    height: 485px;

    div {
      height: inherit;
    }
  }

  .slick-slider {
    @include media-breakpoint-down(md) {
      display: block !important;
    }
  }
}
