@import "sass/variables";

.step-title {
  font-size: 1.3rem;
  font-weight: bold;
  &.banco-desio_db,
  &.civibank_db {
    padding-top: 0px !important;
  }
}

.all-field-require{
  font-size: 0.8rem;
}

.container-form-label {
  &.banco-desio_db {
    .form-label-group > label {
      height: 0;
      top: -5px;
    }
  }
}

.info-popover {
  background:transparent;
  line-height: 16px;
  outline: 0;
  width: 17px;
  height: 17px;
  border: 1px solid $grey-dark;
  cursor: pointer;
  font-size: 0.6rem;
  text-align: center;
}
