<section class="container-fluid fullpage">
  <div class="row centered">
    <div class="col-8">

      <h1 class="my-5">Non è possibile accedere</h1>

      <ng-container *ngIf="!unexpectedError">
        <p>Per richiedere una delle nostre proposte assicurative è necessario accedere attraverso la tua app Intesa.</p>
      </ng-container>
      <ng-container *ngIf="unexpectedError">
        <p>
          Si è verificato un errore inaspettato.
        </p>
      </ng-container>

     </div>
  </div>
  <div class="row myRow">
    <button class="btn btn-secondary rounded mr-3" (click)="backToLandingPage()">
      Indietro
    </button>
  </div>
</section>