section.fullpage {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
}

.centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    & > * {
        text-align: center;
        flex-grow: 0;
        flex-shrink: 0;
    }
}

div.myRow {
    @media screen and (max-width: 576px) {
        width: 80%;
        & > button {
            width: 100%;
        }
    }
}

div.col-8 {
    @media screen and (max-width: 576px) {
        width: 80vw;
        max-width: 80vw;
        flex: 0 0 100%;
    }
}