<div class="row">
  <div class="col-12">
    <h4 class="step-title" *ngIf="dataService.tenantInfo.tenant != 'imagin-es-es_db'"> {{'checkout.period' | translate | async}}</h4>
    <h4 class="step-title" *ngIf="dataService.tenantInfo.tenant === 'imagin-es-es_db'"> {{'checkout_sci.period' | translate | async}}</h4>
    <span>* {{'checkout.mandatory_fields' | translate | async}}</span>
  </div>
</div>
<div class="row mt-4" [formGroup]="form">
  <div class="col-12" *ngIf="instantEnabled">
    <label for="instant" class="form-big-checkbox">
      <input stickyTriggerReset [targetId]="'stepperStickyBar,stickyBar'" type="checkbox" formControlName="instant"
             id="instant"
             class="form-check-input" (change)="handleInstant()">
      {{instantLabel || 'Voglio assicurarmi subito'}}
      <span class="checkbox"></span>
    </label>
  </div>
  <div class="col-12 mt-2 mb-2" *ngIf="instantEnabled">
    <div class="row">
      <div class="col-3">
        <hr>
      </div>
      <div class="col-6 p-0 text-center d-flex align-items-center">
        <div class="w-100 m-auto">oppure scegli data di attivazione della polizza</div>
      </div>
      <div class="col-3">
        <hr>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="row input-group w-auto">
      <div class="col-lg-6 col-md-12 col-12">
        <div class="input-wrapper input-wrapper-soft form-group container"
             [ngClass]="{'error-field': form.controls.startDate.touched && form.controls.startDate.errors && form.controls.startDate.errors.required,
             'input-disabled': form.get('startDate').disabled}">
          <label class="pl-3">{{'forms.start_coverage_date' | translate | async}}*</label>
          <input type="text" class="form-control pl-3" (click)="dFrom.toggle()"
                 autocomplete="off" (dateSelect)="onStartDateSelection(); dFrom.close()"
                 placeholder="GG/MM/AAAA" id="datepicker-startdate-test" ngbDatepicker #dFrom="ngbDatepicker"
                 formControlName="startDate" [minDate]="pickerOptions.minDate"
                 [maxDate]="duration ? pickerOptions.maxDate : form.get('endDate').value || pickerOptions.maxDate"
                 required readonly>
          <div class="error-message"
               *ngIf="form.controls.startDate.touched && form.controls.startDate.errors && form.controls.startDate.errors.required">
            {{'forms.mandatory_field' | translate | async}}
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-12">
        <div [ngClass]="{'error-field': form.controls.endDate.touched && form.controls.endDate.errors && form.controls.endDate.errors.required,
                         'input-disabled': form.get('endDate').disabled }"
             class="input-wrapper input-wrapper-soft form-group container">
          <label class="pl-3">{{'forms.end_coverage_date' | translate | async}} {{ endDateEnabled ? '*' : ''}}</label>
          <input type="text" class="form-control pl-3" (click)="dTo.toggle()"
                 autocomplete="off" (dateSelect)="onEndDateSelection(); dTo.close()"
                 placeholder="GG/MM/AAAA" id="datepicker-enddate-test"  ngbDatepicker #dTo="ngbDatepicker"
                 formControlName="endDate"
                 [minDate]="duration ? pickerOptions.minDate : computeEndDateMin() || pickerOptions.minDate"
                 required readonly>
          <div class="error-message"
               *ngIf="form.controls.endDate.touched && form.controls.endDate.errors && form.controls.endDate.errors.required">
               {{'forms.mandatory_field' | translate | async}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12 p-0">
  <div class="alert alert-info" [ngClass]="{'hideAlert': this.kenticoPipeMapService.getResult('no-alert')}">
    <div class="row no-wrap">
      <div class="col-1 my-auto">
        <i class="fas fa-calendar-alt fa-2x"></i>
      </div>
      <div class="col-10">
        {{'checkout_step_1_sci.alert_info_start_date' | translate | async | kenticounknown | kenticoempty:'no-alert'}}
      </div>
    </div>
  </div>
</div>
