<div class="container">
  <div  class="row pt-4 px-1">
    <div class="col-12">
      <h2  class="title" [innerHtml]="data.title"></h2>
      <p class="subtitle-1">{{data.subtitle}}</p>
    </div>
  </div>
  <div  class="container">
    <div class="" *ngFor="let item of data.benefits_list_1">
  <div class="row p-1">
    <div class="accordion pt-2 pt-md-0">
      <img [src]="item.icon" [alt]="item.description" class="icon-multirischi">
    </div>
    <span class="item-description col-10">{{item.description}}</span>
  </div>
  </div>

  <div  class="row mr-1 mt-3">
    <span>{{data.text}}</span>
  </div>
    <div class="mt-2 mt-md-2" *ngFor="let item of data.benefits_list_2">
      <div class="row p-1">
        <div class="accordion">
          <img [src]="item.icon" [alt]="item.description" class="icon-multirischi">
        </div>
        <span class="item-description col-10">{{item.description}}</span>
      </div>
    </div>
    <div  class="row mr-1 mt-3">
      <span class="info">{{data.info}}</span>
    </div>
  </div>
</div>
