<div #body *ngIf="['survey'].includes(state); else summary;">
    <div class="m-10px second-level-stepper">
        {{'tim_sport.consistency_survey_label' | kentico}}
    </div>
    <div class="mx-10px">
        <div class="row-shadowed basic-style tim-broker-customers_db ng-invalid ng-dirty ng-touched">
            <h5 class="tim-step-heading t-28 pt-3 pb-3">
                {{"tim_sport.survey_title_ts" | kentico}}</h5>
            <form [formGroup]="form" (ngSubmit)="handleNextStep()" style="font-size: 16px !important;">
                <ul class="question-container">
                    <li *ngFor="let question of  questions" class="item-question mb-4">
                        <span class="question">{{question.content}}</span>
                        <ul class="ml-4 ml-md-0 answer-container tim-broker-customers_db p-0" [ngClass]="{'flex-column': question.answers | hasLongTextAnswers}">
                            <li *ngFor="let answer of question.answers"
                                class="form-check ng-untouched ng-pristine ng-valid p-0">
                                <label 
                                class="form-tim-radio mb-2"
                                [ngClass]="{
                                    'selected-tim-radio': this.form?.get([question.id])?.value === answer.value,
                                    'error-tim-radio': this.form?.get([question.id])?.value === answer.value && errors[question.id][answer.value]
                                    }" 
                                for="answer-{{answer.value}}-{{question.id}}">
                                    <input stickytriggerreset="" type="radio" class="form-check-input"
                                        [value]="answer.value" [formControlName]="question.id"
                                        id="answer-{{answer.value}}-{{question.id}}">
                                    {{answer.value}}
                                    <span class="checkmark-tim-radio tim-broker-customers_db"></span>
                                </label>
                            </li>
                        </ul>
                        <span *ngIf="form?.get([question.id]) as questionControl" class="error-tim-radio-message">
                            <span *ngIf="questionControl.value && questionControl.invalid">
                                {{ errors[question.id][questionControl.value] | kentico }}
                            </span>
                        </span>
                    </li>
                </ul>

                <div class="d-flex flex-column flex-sm-row justify-content-center justify-content-sm-between">
                    <button 
                    id="continuaStep3_test" 
                    omniturecta="continua" 
                    omnitureposition="1"
                    class="col-12 col-sm-4 m-0 mb-3 tim-submit-btn buy order-sm-1"
                    [disabled]="form.invalid">
                        {{"tim_sport.survey_continue_btn_ts" | kentico}}
                    </button>
                    <button 
                    class="col-12 col-sm-auto w-auto mb-3 tim-submit-btn back d-flex align-items-center justify-content-center justify-content-sm-start"
                    (click)="handlePrevStep()">
                        <i class="fas fa-chevron-left chevron mr-2"></i>
                        {{"tim_sport.survey_back_btn_ts" | kentico}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- SUMMARY -->
<ng-template #summary>
    <ng-container class="p-10px m-10px card-shadow br-8px c-border-card border-solid border-1px d-md-block"
        *ngIf="summaryStates.includes(state); else title;">
        <div class="m-10px second-level-stepper disabled">
            {{'tim_sport.consistency_survey_label' | kentico}}
        </div>
    </ng-container>
</ng-template>

<!-- TITLE -->
<ng-template #title>
    <ng-container *ngIf="titleStates.includes(state); else hide;">
        <div class="m-10px second-level-stepper disabled">
            {{'tim_sport.consistency_survey_label' | kentico}}
        </div>
    </ng-container>
</ng-template>

<ng-template #hide>
    <ng-container #innerhide></ng-container>
</ng-template>
