<div   *ngIf="fivePlusOne()">
<div class="row-shadowed" [formGroup]="form">
  <div>
    <div class="row pointer" (click)="panelCollapsed = !panelCollapsed">
      <div class="col-lg-1 col-2">
        <div class="d-inline-block" *ngIf="!panelCollapsed"><i class="fa fa-minus"></i></div>
        <div class="d-inline-block" *ngIf="panelCollapsed"><i class="fa fa-plus"></i></div>
      </div>
      <div class="col-lg-6 col-10">{{ 'elettrodomestici.add_appliance' | translate | async}}</div>
    </div>
  </div>
  <div class="row mt-4" [hidden]="panelCollapsed">
    <div class="col-lg-6 col-12">
      <div class="input-wrapper input-wrapper-soft form-group container"
           [ngClass]="{'error-field': form.controls.kind.touched && form.controls.kind.errors}">
        <select id="kind" class="form-control arrow-select" formControlName="kind">
          <option [ngValue]="null" class="placeholder">{{ 'elettrodomestici.kind' | translate | async}}</option>
          <option *ngFor="let kind of elettrodomestici" [ngValue]="kind">{{kind.value}}</option>
        </select>
        <label for="kind" *ngIf="form.controls.kind.value" class="form-control-placeholder pl-3">{{ 'elettrodomestici.kind' | translate | async}}</label>
        <div class="error-message"
             *ngIf="form.get('kind').touched && form.get('kind').errors && form.get('kind').errors['required']">
          {{'REQUIRED_MESSAGE'| translate | async}}
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <div class="input-wrapper input-wrapper-soft form-group container"
           [ngClass]="{'error-field': form.get('brand').touched && form.get('brand').errors}">
        <select id="brand" class="form-control arrow-select" formControlName="brand">
          <option [ngValue]="null" class="placeholder">{{'elettrodomestici.brand' | translate | async}}</option>
          <option *ngFor="let brand of brands" [ngValue]="brand">{{brand.value}}</option>
        </select>
        <label for="brand" *ngIf="form.get('brand').value" class="form-control-placeholder pl-3">{{'elettrodomestici.brand' | translate | async}}</label>
        <div class="error-message"
             *ngIf="form.get('brand').touched && form.get('brand').errors && form.get('brand').errors['required']">
          {{'REQUIRED_MESSAGE'| translate | async}}
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <div class="form-label-group"
           [ngClass]="{'error-field': form.get('model').touched && form.get('model').errors}">
        <input class="form-control" formControlName="model" id="model" placeholder="Modello *" type="text"
               maxlength="50">
        <label for="model">{{'elettrodomestici.model' | translate | async}}</label>
        <div class="error-message"
             *ngIf="form.controls.model.touched && form.get('model').errors && form.get('model').errors['required']">
          <span *ngIf="form.get('model').errors.required">{{'REQUIRED_MESSAGE'| translate | async}}</span>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <div class="form-label-group">
        <input class="form-control" formControlName="receiptNumber" id="receiptNumber"
               placeholder="Numero scontrino/fattura*" type="text">
        <label for="receiptNumber">{{'elettrodomestici.receipt' | translate | async }}</label>
      </div>
      <div>
        {{'elettrodomestici.not_mandatory' | translate | async }}
      </div>
    </div>
    <div class="col-md-6 col-12">
      <div class="input-wrapper input-wrapper-soft form-group container"
           [ngClass]="{'error-field':form.get('purchaseDate').touched && form.get('purchaseDate').errors}">
        <label class="input-padding date-label">{{'elettrodomestici.purchase_date' | translate | async }}</label>
        <input type="text" class="form-control input-padding" (click)="dPurchase.toggle()"
               autocomplete="off" (dateSelect)="dPurchase.close()"
               placeholder="GG/MM/AAAA" ngbDatepicker #dPurchase="ngbDatepicker"
               formControlName="purchaseDate" [minDate]="minPurchaseDate" [maxDate]="maxPurchaseDate">
        <div class="error-message"
             *ngIf="form.get('purchaseDate').touched && form.get('purchaseDate').errors && form.get('purchaseDate').errors['required']">
          {{'REQUIRED_MESSAGE'| translate | async}}
        </div>
        <div class="error-message"
             *ngIf="form.get('purchaseDate').touched && form.get('purchaseDate').errors && form.get('purchaseDate').errors['ngbDate']">
          <div *ngIf="form.get('purchaseDate').errors['ngbDate'].invalid">Formato errato</div>
          <div *ngIf="form.get('purchaseDate').errors['ngbDate']['requiredBefore']">
            {{'elettrodomestici.date_range_plus' | translate | async }} {{ngbDateParserFormatter.format(minPurchaseDate) }}
          </div>
          <div *ngIf="form.get('purchaseDate').errors['ngbDate']['requiredBefore']">
            {{'elettrodomestici.date_range_minus' | translate | async }}  {{ngbDateParserFormatter.format(maxPurchaseDate)}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row justify-content-center btn-toolbar">
        <button class="btn btn-primary m-1" (click)="onAddClicked()" [disabled]="!form.valid"> {{'elettrodomestici.add' | translate | async }} </button>
      </div>
    </div>
  </div>
</div>
</div>

<div *ngIf="tvAppliance()"> 
<div class="row-shadowed" [formGroup]="form">
  <div>
    <div class="row pointer" (click)="tvpanelCollapsed = !tvpanelCollapsed">
      <div class="col-lg-1 col-2">
        <div class="d-inline-block" *ngIf="!tvpanelCollapsed"><i class="fa fa-minus"></i></div>
        <div class="d-inline-block" *ngIf="tvpanelCollapsed"><i class="fa fa-plus"></i></div>
      </div>
      <div class="col-lg-6 col-10">{{ 'elettrodomestici.add_tv' | translate | async}}</div>
    </div>
  </div>
  <div class="row mt-4" [hidden]="tvpanelCollapsed">
    <div class="col-lg-6 col-12">
      <div class="input-wrapper input-wrapper-soft form-group container"
           [ngClass]="{'error-field': form.controls.kind.touched && form.controls.kind.errors}">
        <select id="kind" class="form-control arrow-select" formControlName="kind">
          <option [ngValue]="null" class="placeholder">{{ 'elettrodomestici.kind' | translate | async}}</option>
          <option  [ngValue]="tv"> {{tv.value}}</option>
        </select>
        <label for="kind" *ngIf="form.controls.kind.value" class="form-control-placeholder pl-3">{{ 'elettrodomestici.kind' | translate | async}}</label>
        <div class="error-message"
             *ngIf="form.get('kind').touched && form.get('kind').errors && form.get('kind').errors['required']">
          {{'REQUIRED_MESSAGE'| translate | async}}
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <div class="input-wrapper input-wrapper-soft form-group container"
           [ngClass]="{'error-field': form.get('brand').touched && form.get('brand').errors}">
        <select id="brand" class="form-control arrow-select" formControlName="brand">
          <option [ngValue]="null" class="placeholder">{{'elettrodomestici.brand' | translate | async}}</option>
          <option *ngFor="let brand of brands" [ngValue]="brand">{{brand.value}}</option>
        </select>
        <label for="brand" *ngIf="form.get('brand').value" class="form-control-placeholder pl-3">{{'elettrodomestici.brand' | translate | async}}</label>
        <div class="error-message"
             *ngIf="form.get('brand').touched && form.get('brand').errors && form.get('brand').errors['required']">
          {{'REQUIRED_MESSAGE'| translate | async}}
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <div class="form-label-group"
           [ngClass]="{'error-field': form.get('model').touched && form.get('model').errors}">
        <input class="form-control" formControlName="model" id="model" placeholder="Modello *" type="text"
               maxlength="50">
        <label for="model">{{'elettrodomestici.model' | translate | async}}</label>
        <div class="error-message"
             *ngIf="form.controls.model.touched && form.get('model').errors && form.get('model').errors['required']">
          <span *ngIf="form.get('model').errors.required">{{'REQUIRED_MESSAGE'| translate | async}}</span>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <div class="form-label-group">
        <input class="form-control" formControlName="receiptNumber" id="receiptNumber"
               placeholder="Numero scontrino/fattura*" type="text">
        <label for="receiptNumber">{{'elettrodomestici.receipt' | translate | async }}</label>
      </div>
      <div>
        {{'elettrodomestici.not_mandatory' | translate | async }}
      </div>
    </div>
    <div class="col-md-6 col-12">
      <div class="input-wrapper input-wrapper-soft form-group container"
           [ngClass]="{'error-field':form.get('purchaseDate').touched && form.get('purchaseDate').errors}">
        <label class="input-padding date-label">{{'elettrodomestici.purchase_date' | translate | async }}</label>
        <input type="text" class="form-control input-padding" (click)="dPurchase.toggle()"
               autocomplete="off" (dateSelect)="dPurchase.close()"
               placeholder="GG/MM/AAAA" ngbDatepicker #dPurchase="ngbDatepicker"
               formControlName="purchaseDate" [minDate]="minPurchaseDate" [maxDate]="maxPurchaseDate">
        <div class="error-message"
             *ngIf="form.get('purchaseDate').touched && form.get('purchaseDate').errors && form.get('purchaseDate').errors['required']">
          {{'REQUIRED_MESSAGE'| translate | async}}
        </div>
        <div class="error-message"
             *ngIf="form.get('purchaseDate').touched && form.get('purchaseDate').errors && form.get('purchaseDate').errors['ngbDate']">
          <div *ngIf="form.get('purchaseDate').errors['ngbDate'].invalid">Formato errato</div>
          <div *ngIf="form.get('purchaseDate').errors['ngbDate']['requiredBefore']">
            {{'elettrodomestici.date_range_plus' | translate | async }} {{ngbDateParserFormatter.format(minPurchaseDate) }}
          </div>
          <div *ngIf="form.get('purchaseDate').errors['ngbDate']['requiredBefore']">
            {{'elettrodomestici.date_range_minus' | translate | async }} {{ngbDateParserFormatter.format(maxPurchaseDate)}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row justify-content-center btn-toolbar">
        <button class="btn btn-primary m-1" (click)="onAddClicked()" [disabled]="!form.valid">{{'elettrodomestici.add' | translate | async }}</button>
      </div>
    </div>
  </div>
</div>
</div>
