@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "../../../../sass/variables";

::ng-deep {
  @media (max-width: 575px) {
    .modal-dialog {
      margin: 0;
      height: 100%;
      overflow-y: hidden;
    }
    .modal {
      height: auto;
      bottom: 0;
      top: auto;
    }
  }
  @media (max-width: 767px) {
    .modal-dialog {
      margin: auto;
      overflow-y: hidden;
      width: 100%;
      position: relative !important;

    }
  }
}

@media (max-width: 575px) {
  .container {
    margin-bottom: 8px;
  }
}

.info-bar {
  justify-content: space-between;
  background-color: $primary;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-grow: 0;
  padding: 18px 21.1px 16.2px 256px;
  @media (max-width: 768px) {
    padding: 1rem;
    height: 65px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 19px 2.2px 16.2px 13px;
  }

  .tab-title {
    color: $white;
    font-size: 16px;
    font-weight: normal;
  }

  .close-button {
    justify-content: flex-end;
  }
}

.content-section-container {
  .tabs {
    display: flex;
    justify-content: center;
    border: 1px solid $primary;
    border-radius: 8px;
    margin-bottom: 1rem;
    padding: 0.5rem;
    width:auto;
    @media (max-width: 768px) {
      display: flex;
      justify-content: space-evenly;
      width: auto !important;
    }

    .product-icon {
      padding: 0.5rem 0rem 0.5rem 0.5rem;
    }

    .product-variant-title {
      display: flex;
      justify-content: center;
      color: $primary;
      width: 148px;
      text-align: center;
      height: 55.3px;
      flex-direction: column;
      align-content: space-around;
      align-items: center;

    }

    .table-tab {
      display: flex;
      align-items: center;
      background: transparent;
      color: $primary;
      margin: 0 1rem 0 1rem;

      a {
        font-weight: bold;
      }

      &.selected {
        background: $secondary-light;
        border: 1px solid #4a90e2;
        border-radius: 8px;
      }
    }
  }
}

.promo {
  display: flex;
  justify-content: center;

  .promo-usage-container {
    display: flex;
    justify-content: center;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 5px;
  }
}

.best-before {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  text-align: center;

  .best-before-text {
    font-size: 12px;
    justify-content: center;
    color: $grey-dark;
  }
}

.desc-promo {
  color: $grey-dark;
  font-size: 30px;
  font-weight: bold;
}

.desc-promo-sub {
  color: $grey-dark;
  font-size: 16px;
}

.promo-usage {
  font-size: 16px;
  color: $grey-dark;
  font-weight: bold;
}

.description {
  padding: 1.5rem 1rem 1.1rem 1rem;
  justify-content: center;
  text-align: center;
}

.buttons {
  justify-content: center;
  padding-top: 2rem;

  .submit-btn {
    color: white;
    text-transform: uppercase;
    outline: 0;
    border: none;
    border-radius: 40px;
    width: 100%;
    padding: 12px 0;

    &.buy {
      background-color: $primary;
    }
  }
}

.promo-container{
  background-color: $grey-ligth;
  width: 41%;
  display: flex;
  justify-content: center;
  min-height: 60px;
  align-items: center;
  @media (max-width: 768px) {
   width:88%;
  }
}

.promo-text {
  font-weight: bold;
  font-size: 25px;
}

.descriptionToggle {
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

.nav-item {
  cursor: pointer;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}
