@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/_variables.scss";

.quotator {
  &.layout-yolodb {
    padding: 0 20px;

    .submit-btn {
      color: $white;
      background-color: $primary;
      text-transform: uppercase;
      outline: none;
      border: none;
      border-radius: 40px;
      width: 100%;
      padding: 12px 0;
    }
  }

}

.form-error {
  font-size: 0.8rem;
  color: $red;
}

.submit-btn {
  background-color: $btn-bg-color;
  color: $btn-text-color;
  border-color: $btn-text-color;
  text-transform: uppercase;
  outline: none;
  border: none;
  width: 100%;
  padding: 15px 0;
}

hr {
  border-color: $grey;
  border-width: 2px;
}

.inf-package {
  color: $primary;
  text-decoration: underline;
  font-size: 13px;
  margin-bottom: 1rem;
  display: block;
}

.provider-text {
  font-size: 13px;
  text-align: center;
}

.provider-logo {
  height: auto;
  max-height: 40px;
  max-width: 85px;
  margin: 0.5rem 0 2rem;
}

.name-img-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 1rem 2rem 1rem 0;

  h1 {
    color: $text-color;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: normal;
  }

  img {
    max-width: 80px;
  }
}

.purchase {
  margin-bottom: 2rem;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-around;
}

.price-title-container {
  padding-right: 0;

  .price-title {
    font-weight: bold;
    font-size: 1.2rem;
  }

  .price {
    color: $primary-dark;
    font-weight: 900;
    font-size: 2rem;
    letter-spacing: -1px;
    line-height: 1;
    font-size: 1.4rem;

    @include media-breakpoint-up(sm) {
      font-size: 1.8rem;
    }

    @include media-breakpoint-up(md) {
      font-size: 1.25rem;
    }

    @include media-breakpoint-up(lg) {
      font-size: 1.5rem;
    }

    @include media-breakpoint-up(xl) {
      font-size: 1.8rem;
    }
  }
}

.layout-civibank_db,
 .layout-banco-desio_db {
  .name-img-container h1 {
    font-family: 'HK Grotesk';
  }

  .inf-package {
    color: $primary-dark;
  }
}
