<div class="container-fluid quotator" [ngClass]="product.container_class">
  <div class="name-img-container">
    <h1>{{product.package_title}}<br />{{product.name}}</h1>
    <img alt="{{product.name}}" [src]="product.image">
  </div>
  <div class="row" *ngIf="product.short_description">
    <div class="col-12">
      <p [innerHTML]="product.short_description" class="product-description"></p>
    </div>
  </div>

  <form [formGroup]="form">
    <div class="row">
      <div class="col-12">
        <div class="input-wrapper mb-3">
          <select id="select-brand" class="form-control" formControlName="selectBrand"
            (ngModelChange)="selectBrand($event)" required>
            <option [ngValue]="null">{{ product.form_select }}</option>
            <option *ngFor="let good of brandList" [ngValue]="good"> {{good.brand}}</option>
          </select>
          <label for="select-brand" class="form-control-placeholder pl-3" id="label-brand-select">
            {{product.form_brand}}
          </label>
        </div>
      </div>
      <div class="col-12">
        <div class="input-wrapper mb-3">
          <select id="select-model" class="form-control" formControlName="selectModel"
            (ngModelChange)="selectModel($event)" required>
            <option [ngValue]="null">{{ product.form_select }}</option>
            <option *ngFor="let good of modelList" [ngValue]="good"> {{good.model}}</option>
          </select>
          <label for="select-model" class="form-control-placeholder pl-3" id="label-model-select">
            {{product.form_model}}
          </label>
        </div>
      </div>
      <ng-container *ngIf="(form.controls.selectBrand.value && form.controls.selectBrand.value.variant_id === -1) ||
                           (form.controls.selectModel.value && form.controls.selectModel.value.variant_id === -1)">
        <div class="col-12">
          <div class="input-wrapper mb-3">
            <select id="value-brand" class="form-control" formControlName="selectValue"
              (ngModelChange)="selectValue($event)" required>
              <option [ngValue]="null">{{ product.form_select }}</option>
              <option *ngFor="let value of valuesDeviceList" [ngValue]="value"> {{value.presentation}}</option>
            </select>
            <label for="value-brand" class="form-control-placeholder pl-3" id="label-value-select">
              {{ product.form___value}}
            </label>
          </div>
        </div>
      </ng-container>
    </div>
    <ng-container *ngIf="product.errors">
      <div class="form-error row my-1" *ngIf="showError">
        <div class="col-12 d-flex justify-content-start align-items-center"
          *ngIf="product.errors['select_brand_model'] && (!form.controls['selectBrand'].value || !form.controls['selectModel'].value)">
          <i class="fas fa-exclamation-triangle mr-3"></i>
          {{product.errors['select_brand_model']}}
        </div>
      </div>
    </ng-container>
    <hr>
    <div class="row purchase">
      <div class="col price-title-container">
        <span data-cy="quotator-basic__quotation-price-title" class="price-title">
          {{product.price_title}}
        </span>
        <div class="price" data-cy="quotator-basic__quotation-price">
          {{price | currency}}
          <span data-cy="quotator-basic__quotation-slash-price"
            *ngIf="product.slash_price">{{product.slash_price}}</span>
        </div>
      </div>
      <div class="col-7 col-lg-5">
        <button class="submit-btn" id="submit-test" (click)="checkout()" [ngClass]="product.color_class"
          data-cy="quotator-basic__purchase-button">{{product.continue_button_label}}</button>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-12 text-center product-download">
      <a class="inf-package" href="{{ product.information_package }}" target="_blank"
        data-cy="quotator-basic__information-package" [innerHtml]="product.information_package_text">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12 provider-text" data-cy="quotator-people-variants__collaboration-provider">
      {{'quotator.product_collaboration' | translate | async}}
    </div>
    <div class="col-12 text-center">
      <img [src]="product.provider.image_url" [alt]="product.provider.name"
        data-cy="quotator-people-variants__image-provider" class="provider-logo">
    </div>
  </div>
</div>