@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/variables";

.breadcrumb-section {
  background-color: $primary;
  padding-left: 1rem;
  span {
    color: $white;
    font-size: 0.8rem;
  }
}
.vetrina-header {
  background-color: $primary;
  padding-top: 1rem;
  h1 {
    font-size: 2.4rem;
    color: $white;
    font-weight: bold;
    line-height: normal;
    @include media-breakpoint-down(md) {
      font-size: 2rem;
    }
  }
  h2 {
    font-size: 1.2rem;
    color: $white;
    font-weight: normal;
    line-height: normal;
    @include media-breakpoint-down(md) {
      font-size: 1rem;
    }
  }
}

.tag-container {
  padding-left: 1.5rem;
  background-color: $primary;
  @include media-breakpoint-down(md) {
    padding-left: 0;
  }
  .tag-section {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    @include media-breakpoint-down(md) {
      display: flex;
      overflow: auto;
    }
    .tag-item {
      display: inline-block;
      color: #a5a5a5;
      font-size: 1rem;
      font-weight: 400;
      padding: 7px 20px;
      margin: 1rem 1rem 0 0;
      cursor: pointer;
      border: none;
      outline: none;
      background-color: transparent;
      position: relative;
      @include media-breakpoint-down(md) {
        flex: 0 0 auto;
      }
      &.active-tag {
        color: #dbf11e;
        &::after {
          position: absolute;
          content: "";
          height: 2px;
          bottom: 2px;
          background-color: #dbf11e;
          margin: 0 auto;
          left: 0;
          right: 0;
          width: calc(100% - 1.2rem);
        }
      }
      &:hover {
        color: #dbf11e;
      }
      &:disabled {
        cursor: initial;
        &:hover {
          background-color: $grey-ligth;
        }
      }
    }
  }
}

.products-container {
  justify-content: flex-start;
  padding: 2rem 1.5rem 4rem;
  @include media-breakpoint-down(md) {
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }
  .product {
    display: flex;
  }
  .prod-box {
    border: 1px solid #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 540px;
    margin-bottom: 2rem;
    width: 100%;
    .tag {
      text-transform: capitalize;
      background-color: $primary;
      color: $white;
      margin-bottom: 0.5rem;
      font-weight: 500;
      font-size: 0.9rem;
      display: inline-flex;
      padding: 2px 5px;
      cursor: pointer;
    }
    .h2 {
      font-size: 1.6rem;
      line-height: normal;
      margin-bottom: 1rem;
    }
    .description {
      font-size: 1rem;
      line-height: normal;
    }
    .feature {
      display: flex;
      padding: 0.25rem;
      justify-content: flex-start;
      align-items: center;
      &.highlight {
        border: 2px solid #0ff;
      }
      i {
        margin-right: 0.5rem;
        color: $primary;
        position: relative;
        margin-bottom: auto;
        margin-top: 4px;
      }
    }
    .highlight-subtext {
      background-color: #0ff;
      color: $primary;
      text-transform: capitalize;
      float: left;
      padding: 0 0.5rem;
      font-weight: bold;
      font-size: 0.9rem;
    }

    .box-header,
    .box-footer {
      display: flex;
      flex-direction: column;
    }
    .box-header {
      justify-content: space-between;
      flex-basis: 55%;
      min-height: 55%;
      position: relative;
      margin-bottom: 2rem;
    }
    .subscribe-before {
      text-align: center;
      margin-top: 2rem;
      font-weight: bold;
    }
    .btn-tim {
      text-transform: uppercase;
      font-weight: normal;
      background-color: #0079f2;
      color: $white;
      border: none;
      width: 100%;
      padding: 10px 0px;
      text-align: center;
      margin-bottom: 0.5rem;
    }
    .btn {
      background: $white;
      font-weight: normal;
      transition: background 0.15s;
      height: 44px;
      border: 2px solid #0079f2;
      color: #0079f2;
      padding: 0;
      line-height: 45px;
      border-radius: 0;
      &:hover {
        background: #cce0fc;
      }
    }
    .product-name {
      font-size: 1.2rem;
      &.whith-image {
        margin-top: 3rem;
      }
    }
    .container-starting-price {
      flex-direction: column;
      line-height: normal;
      @media (max-width: 768px) {
        align-self: center;
      }
    }
    .promo-tags {
      display: flex;
      justify-content: flex-start;
      .tag {
        margin-right: 0.5rem;
        cursor: text;
        font-weight: bold;
        &.red {
          background-color: #ea0026;
          color: $white;
        }
        &.red_light {
          background-color: $white;
          color: #ea0026;
          border: 1px solid #ea0026;
        }
        &.black {
          background-color: $black;
          color: $white;
        }
        &.cyan {
          background-color: #0ff;
          color: $primary;
        }
        &.blue {
          background-color: $primary;
          color: $white;
        }
        &.white {
          background-color: $white;
          color: $primary;
        }
      }
      &.whith-image {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 2rem;
        width: 100%;
        justify-content: center;
      }
    }
    .link-img {
      cursor: pointer;
      .prod-img {
        max-width: 100%;
        height: auto;
        align-self: flex-start;
      }
    }
    .product-name,
    .description,
    .feature-container {
      padding: 0 2rem;
    }

    .box-footer {
      padding: 0 2rem 2rem;
    }
  }
}
