@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/variables";

.checkout-payment-gup {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        h3 {
            margin: 0;
        }
    }
    .select-label {
        text-align: end;
    }
    .row-shadowed {
        padding-bottom: 3rem;
        margin-bottom: 2rem;
    }
    h3 {
        padding: 1.5rem 0 0.5rem;
        font-size: 1.3rem;
        text-transform: uppercase;
        font-weight: bold;
    }
    .add-other-pm {
        border-bottom: 1px solid $grey;
        padding: 1rem 0;
        font-size: 0.9rem;
        cursor: pointer;
        &.no-border {border-bottom: none}
    }
    .pm-list {
        padding-left: 0;
        border-top: 1px solid $grey;
        .form-check {
            padding: 1rem 0;
            border-bottom: 1px solid $grey;
        }
        .form-big-radio {
            font-size: 0.9rem;
        }
        .checkmark {
            top: 12px;
        }
        
    }
    .buttons-container {
        display: flex;
        @include media-breakpoint-down(md) { 
        flex-direction: column;
        }
        align-items: center;
        text-align: center;
        .basic-btn {
            border-radius: 0;
            margin-bottom: 1rem;
            width: 200px;
        }
        .basic-outline {
            width: 200px;
            height: 50px;
            line-height: normal;
            font-size: 1rem;
        }
    }
    .promo-code{
        margin-top: 2rem;
    }

    .eligibility-label {
        padding: 1rem;
        background-color: rgba(0,51,161, 0.1);
        text-align: center;
        color: $primary;
    }
    
}

:host ::ng-deep {
    .modal-window {
        overflow-y: hidden;
        overflow-x: hidden;
    }
    
    .document-acceptance-linear-stepper {
        margin-top: 1rem;
        @include media-breakpoint-up(lg){
            margin-bottom: 2rem;
        }
        h5.step-title {
            color: $primary;
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 1rem;
            text-transform: capitalize;
            margin-bottom: -10px;
        }
        form {
            margin-right: -15px;
            margin-left: -15px;
            .form-big-checkbox {
                margin: 0 15px;
            }
        }
    }
} 
