<!-- annullamento viaggio  -->
<div>
  <div class="row">
    <div class="col-12 col-lg-6 mt-4">
      <div class="tab">
        <!-- Box_1 -->
        <div *ngIf="claimInfo.box_one.box_type.value[0].codename === 'simple_box'" class="col-12">
          <span [innerHtml]="claimInfo?.box_one?.mail_text?.value"></span>
        </div>
        <div *ngIf="claimInfo.box_one.box_type.value[1].codename === 'complex_box'" class="col-12 numbers-container"
              [ngClass]="dataService.tenantInfo.tenant">
          <div *ngIf="claimInfo.box_one.box_intro.value" class="mb-3"><b>{{claimInfo?.box_one?.box_intro?.value}}</b>
          </div>
          <div *ngIf="claimInfo.box_one.from_country.value" class="col-12 d-flex">
            <i class="fa fa-phone-alt"></i><span>{{claimInfo?.box_one?.from_country?.value}} </span><span class="green-number"
              [innerHtml]="claimInfo?.box_one?.green_number?.value"></span>
          </div>
          <div *ngIf="!claimInfo.box_one.only_mail.value.includes(false)" class="col-12 d-flex">
            <i class="far fa-envelope"></i><span [innerHtml]="claimInfo?.box_one?.only_mail?.value"></span>
          </div>
          <div *ngIf="claimInfo.box_one.from_country_and.value" class="col-12 d-flex">
            <i class="fa fa-phone-alt"></i><span [ngClass]="{'green-number' : claimInfo?.box_one?.from_country_and_green_number?.value.name === 'true'}" [innerHtml]="claimInfo?.box_one?.from_country_and?.value"></span>
          </div>
          <p>{{claimInfo?.box_one?.service_active?.value}}</p>
        </div>
        <div class="row mt-4">
          <div class="col-12 info-description">
            <div [innerHtml]="claimInfo?.box_one?.info_title?.value"></div>
          </div>
          <ul class="item-list">
            <ng-container *ngFor="let item of claimInfo?.box_one?.extra_info?.value">
              <div class="col-12">
                <div [ngClass]="{ 'title': item?.title}" class="list-text pr-3">
                  <li [ngClass]="{'included': item?.included}" class="primary-item" [innerHtml]="item?.text?.value">
                  </li>
                </div>
              </div>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>


    <!-- Box_2 -->

    <div class="col-12 col-lg-6 mt-4">
      <div class="tab">
        <div *ngIf="claimInfo.box_two.box_type.value[0].codename === 'simple_box'" class="col-12">
          <span [innerHtml]="claimInfo?.box_two?.mail_text?.value"></span>
        </div>
        <div *ngIf="claimInfo.box_two.box_type.value[0].codename === 'complex_box'" class="col-12">
          <div *ngIf="claimInfo.box_two.box_intro.value" class="mb-3"><b>{{claimInfo?.box_two?.box_intro?.value}}</b>
          </div>
          <div *ngIf="claimInfo.box_two.from_country.value" class="col-12 d-flex">
            <i class="fa fa-phone-alt"></i><span>{{claimInfo?.box_two?.from_country?.value}}</span><span class="green-number"
              [innerHtml]="claimInfo?.box_two?.green_number?.value"></span>
          </div>
          <div *ngIf="!claimInfo.box_two.only_mail.value.includes(false)" class="col-12 d-flex">
            <i class="far fa-envelope"></i><span [innerHtml]="claimInfo?.box_two?.only_mail?.value"></span>
          </div>
          <div *ngIf="claimInfo.box_two.from_country_and.value" class="col-12 d-flex">
            <i class="fa fa-phone-alt"></i><span [innerHtml]="claimInfo?.box_two?.from_country_and?.value"></span>
          </div>
          <p>{{claimInfo?.box_two?.service_active?.value}}</p>
        </div>
        <div class="row mt-4">
          <div class="col-12 info-description">
            <div [innerHtml]="claimInfo?.box_two?.info_title?.value"></div>
          </div>
          <ul class="item-list">
            <ng-container *ngFor="let item of claimInfo?.box_two?.extra_info?.value">
              <div class="col-12">
                <div [ngClass]="{ 'title': item?.title}" class="list-text pr-3">
                  <li [ngClass]="{'included': item?.included}" class="primary-item" [innerHtml]="item?.text?.value">
                  </li>
                </div>
              </div>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <div *ngIf="claimInfo.extraBox" class="open-form-module container tab"
            [ngClass]="dataService.tenantInfo.tenant">
        <span [innerHtml]="claimInfo?.extraBox">
        </span>
      </div>
    </div>
  </div>

  <div class="col-12 mt-3">
    <span [innerHtml]="claimInfo?.box_one?.end_txt?.value[0]?.text?.value"></span>
  </div>
</div>
