@import "sass/variables";

.slick-track-product {
  margin: 4px;
  height: 168px;
  cursor: pointer;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px grey;
  padding-top: 1rem;
  padding-right: .5rem;
  padding-left: .5rem;

  .img-container {
    height: 71px;
    width: auto;
  }

  p {
    margin-top: 13%;
  }

}

.product-name {
  padding-top: 13%;
  font-size: 14px;
  color: $primary-dark;
  font-weight: bold;
  .external-product-name-img {
    width: 40%;
    @media (min-width: 992px) {
      width: 75%;
    }
  }
}

.icn {
  max-width: 83px;
  max-height: 70px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider {
  margin-top: -145px;
}
