@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/_variables.scss";

.quotator-container {
  padding: 2px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.11), 0 3px 6px rgba(0, 0, 0, 0.12);
}

.choose {
  margin-left: 5px;
}

:host ::ng-deep {
  .nav.nav-tabs {
    border: none !important;
  }
  .nav-link {
    background: transparent;
    border: none;
    display: flex;
    padding: 20px 20px 0;
    text-transform: uppercase;
    font-weight: bold;
    color: $primary-dark!important;
    font-size: 1rem;
    @media only screen and (min-device-width: 0px) and (max-device-width: 388px) {
      font-size: 78%;
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 992px) {
      font-size: 0.9rem;
    }
    .nav-item {
      max-width: 50%;
      text-align: center;
    }
    &.active .product-tab {
      position: relative;
      border: none;
      margin: 0 0 8px;
      padding: 0;
      background: transparent;
      &::after {
        position: absolute;
        content: "";
        height: 4px;
        bottom: -4px;
        background-color: $primary;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 85%;
        border-radius: 15px;
      }
    }
    .product-tab#nav-link-pai-personal-accident,
    .product-tab#nav-link-pai-personal-accident-extra {
      color: $link-color;
      &::after {
        background-color: $link-color
      }
    }
  }

  .quotator-container {
    &.layout-civibank_db,
    &.layout-banco-desio_db  {
      .product-tab {
        color: $primary;
        span::after {
          background-color: $primary;
        }
      }
    }
    &.layout-chebanca_db,
    &.layout-ravenna_db {
      background-color: #fff;
      padding: 20px;
      border-radius: .2rem;
      box-shadow: 0 0 15px 0 rgba(0,0,0,.2);
      .nav.nav-tabs {
        padding-top: 1rem;
        padding-left: 10px;
      }
      .nav-item {
        padding-left: 15px;
        padding-right: 15px;
        .nav-link {
          border: none;
          color: #4a4a4a;
          font-size: 15px;
          font-weight: 400;
          display: inline-block;
          padding: 0;
          text-transform: capitalize;
          &.active {
            font-weight: 700;
            border-bottom: 4px solid $primary;
            font-weight: 700;
            .product-tab::after { display: none; }
          }
        }
      }
      .tab-pane.active {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        @include media-breakpoint-up(sm) {
          max-width: 540px;
        }
      }
    }
  }
}
