@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/variables";

.navbar-menu {
  &.net {
    border-style: solid;
    -webkit-border-image: -webkit-linear-gradient(right, $primary, $red) 0 0 100% 0/0 0 0.5rem 0 stretch;
    -moz-border-image: -moz-linear-gradient(right, $primary, $red) 0 0 100% 0/0 0 0.5rem 0 stretch;
    -o-border-image: -o-linear-gradient(right,$primary, $red) 0 0 100% 0/0 0 0.5rem 0 stretch;
    border-image: $gradient 0 0 100% 0/0 0 10px 0 stretch;

    .list-container{
      margin-top: 3rem;
    }

    .navbar-brand {
      margin: 11px 0 11px 50px;
      height: auto;
      cursor: pointer;
      img {
        max-width: 230px;
        @include media-breakpoint-down(lg){
          max-width: 160px;
        }
      }
    }
    .fa-chevron-down {
      color: $red;
    }
    .nav-item > a {
      padding: 0;
      font-size: 20px;
    }
    a > span {
      text-transform: uppercase;
      color: $primary;
      font-weight: bolder;
      letter-spacing: 0;
    }
    .navbar{
      padding-bottom: 0;
      @include media-breakpoint-down(lg){
        margin-top: 24px !important;
      }
    }
    .navbar-collapse {
      .nav-item {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
    .btn-login{
      border: 2px solid $white;
      background-color: $red;
      color: $white !important;
      border-radius: 6px;
      padding: 5px 20px;
      cursor: pointer;
      box-shadow: 0px 3px 6px rgba($color: $black, $alpha: 0.29);
    }

    @include media-breakpoint-up(lg) {
      .navbar-list{
        padding-right: 20px;
        margin-top: 50px;
        justify-content: flex-end;
      }
    }
    @include media-breakpoint-down(md) {
      position: fixed;
      background-color: $white;
      width: 100%;
      z-index: 101;
      top: 0;

      .navbar-brand img {
        max-width: 8rem;
      }
      .btn-login{
        border: 0;
        background-color: transparent;
        color: $primary !important;
        border-radius: 0;
        padding: 0;
        box-shadow: none;
      }
      .btn-style{
        outline: none;
        color: $primary;
        margin-bottom: 1rem;
      }
      .navbar-brand {
        margin: 15px 10px;
      }
      .list-container{
        margin-top: 0;
      }
      .list-item{
        padding-left: 0;
      }
    }
  }
}

