<div class="container-info" *ngIf="dataService.tenantInfo.tenant !== 'banca-sella_db'">
  <div class="container">
    <div class="col-12">
      <h2 class="title">{{data.title}}</h2>
      <div class="card row">
        <div class="subcard" *ngFor="let guarantee of data.more_info">
          <p [innerHTML]="guarantee.title.value"></p>
          <ul class="a">
            <li [innerHTML]="guarantee.body.value"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-info container-sella" [ngClass]="dataService.tenantInfo.tenant" *ngIf="dataService.tenantInfo.tenant === 'banca-sella_db'">
  <div class="container">
    <h2 class="title">{{data.title}}</h2>
    <div class="card row">
      <div class="subcard" [ngClass]="dataService.tenantInfo.tenant" *ngFor="let guarantee of data.more_info; let i = index">
        <p [innerHTML]="guarantee.title.value"></p>
        <span *ngIf="guarantee.body.linkedItemCodenames" [innerHTML]="guarantee.body.value"></span>
        <hr *ngIf="i===0">
        <div *ngIf="!guarantee.body.linkedItemCodenames">
          <ul class="a" *ngFor="let multipleGuarantee of guarantee.body.value">
            <li [innerHTML]="multipleGuarantee.text.value"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
