@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/_variables.scss";
.info-bar {
    justify-content: space-between;
    background-color: $primary-light;
    padding: 2rem;
    align-items: center;
    .tab-title {
        color: $primary-dark;
    }
    .close-button {
        justify-content: end;
        button {
            color: $primary;
            border-radius: 50px;
            border: solid;
            width: 30px;
            outline: 0;
        }
    }
    &.chebanca_db {
      background-color: #454545;
      .tab-title {
        color: $white;
      }
      .close-button {
        button {
          color: $white;
        }
      }
    }
}

.description {
    padding: 1.5rem 1rem 1.5rem 1rem;
}

.buttons {
    justify-content: center;
    padding-top: 2rem;
    .submit-btn {
        color: white;
        text-transform: uppercase;
        outline: 0;
        border: none;
        border-radius: 40px;
        width: 100%;
        padding: 12px 0;
        &.buy {
            background-color: $primary;
        }
    }
}
