<div class="container-960 mb-5 pt-4">
  <div class="my-offset">
    <div class="col-12">
      <h1 class="main-title">{{clarityMainTitle}}</h1>
      <ul class="information-list mb-5">
        <li *ngFor="let nonContingency of nonContingencyProducts" class="sub-headline-copy-2">
          <a [href]="nonContingency.link" target="_blank">{{nonContingency.title}}</a>
        </li>
        <li *ngFor="let contingency of contingencyProducts" class="sub-headline-copy-2">
          <div [innerHTML]="contingency | safe: 'html'"></div>
        </li>
      </ul>
    </div>
  </div>
</div>
