@import '~sass/variables';

.main-title {
  color: $black;
  margin: 41px 0 25px 0;
  margin-top: 7rem;
}

.information-list {
  color: $black;

  li {
    text-decoration: underline;
    line-height: 32px;
    font-weight: 400;
    font-size: 19px;
    letter-spacing: 0.6px;
  }
}

@media (min-width: 540px) {
  .my-offset {
    margin-left: 150px;
  }
}
