@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";

@import '../../../../../sass/variables';

$primary-navbar-sub: #454545;
$navbar-gold: #fbcb0c;

#nav-main {
  background-color: transparent;
  height: 80px;
  padding-right: 1.5rem;
  @include media-breakpoint-down(xs){
    & > div {
      padding-right: 0;
    }
  }
  & .navbar-brand {  
    z-index: 999;
    cursor: pointer;
  }
  & .navbar-brand-text{
    color: $white;
  }
 
}

#nav-main .navbar-brand-text:before {
  content: "\203A";
  font-size: 1.2em;
  padding-right: 4px;
  padding-left: 12px;
}

.nav-item-title {
  margin: 13px 10px 0 10px;
  @media (max-width: 935px) {
    display: none;
  }
  @include media-breakpoint-down(xs){
    display: block;
    margin: 0;
  }
}

#nav-sub.navbar-light {
  background-color: transparent;
  color: $white;
  text-transform: uppercase;
  font-size: 14px;
  z-index: 999;
}

#nav-sub.navbar-light .nav-link.dropdown-toggle {
  color: $navbar-gold;
}

#nav-sub.navbar-light .nav-link.dropdown-toggle.collapsed {
  color: $white;
}

#nav-sub.navbar-light .nav-link.dropdown-toggle.collapsed:after {
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

#nav-sub.navbar-light .nav-link.dropdown-toggle:after {
  border-top: 0;
  border-right: .3em solid transparent;
  border-bottom: .3em solid;
  border-left: .3em solid transparent;
}

#nav-sub .nav-inner {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: $white;
  box-shadow: 0 2px 9px $primary-navbar-sub;
  &.nav-links {
    background-color: transparent;
    box-shadow: none;
    & li a {
      color: $white;
    }
    & .nav-item-title {
      color: $white;
    }
    @include media-breakpoint-down(xs){
      background-color: #333333;
    }
  }

  @include media-breakpoint-down(xs){
    position: relative;
    padding-left: 0;
    box-shadow: none;
    background-color: #333333;
  }
}
#nav-sub .nav-inner .nav-link, .nav-item-title {
  color: $primary-navbar-sub;
  text-transform: none;
  @include media-breakpoint-down(xs){
    color: $white;
  }
}

#nav-sub .nav-inner .nav-link {
  font-weight: bolder;
}

#nav-sub .nav-inner .nav-link:before {
  content: "\203A";
  color: $navbar-gold;
  font-size: 19px;
  padding-right: 4px;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link.active > span {
  color: var(--btn-bg-hover-color, #000);
}

.logo {
  min-width: 160px;
}

:host .link-share {
  cursor: pointer;
  color: $white;
}

.header {
  position: absolute;
  background: transparent;
  z-index: 89;
  padding: 2rem 0;
  width: 86%;
  @include media-breakpoint-up(md) {
    padding: 2rem 3rem;
    width: 97%;
  }

  .logo {
    max-width: 120px;
    @include media-breakpoint-up(md) {
      max-width: 150px;
    }
  }

  .logo-text {
    display: none;
    @include media-breakpoint-up(md) {
      display: inline;
      color: #F9F9F9;
      font-size: 16px;
    }
  }

  .landing-btn {
    background: transparent;
    color: #ffffff;
    border: 2px solid #fff;
    border-radius: 30px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 4px 1rem;
    outline: none;
    text-decoration: none;

    &:hover {
      background-color: rgba(51, 51, 51, 0.7);
      color: var(--btn-bg-hover-color, #000);
      border-color: var(--btn-bg-hover-color, #000);;
    }

    @include media-breakpoint-up(sm) {
      padding: 4px 2rem;
    }
  }
}

#nav-main.variant {
  background: #454545;
}

#nav-sub.navbar-light.variant {
  background-color: $primary-navbar-sub;
  & .nav-links {
    background-color: $white;
    box-shadow: 0 2px 9px $primary-navbar-sub;
    & li a {
      color: $primary-navbar-sub;
    }
    & .nav-item-title {
      color: $primary-navbar-sub;
    }
  }
}


#nav-main .hiddenButton {
  @include media-breakpoint-down(xs){
    display: none;
  }
}

#navbar-menu{
  @include media-breakpoint-down(xs){
    min-height: calc(100vh - 50px);
    flex-basis: 100%;
    justify-content: space-between;
    flex-direction: column;
    align-items: normal;
    background-color: #333333;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0 20px;
  }
}
.navbar-collapse.collapse.show,
.navbar-collapse.collapsing {
  display: flex;
}
#nav-sub-items{
  @include media-breakpoint-down(xs){
    padding-top: 20px;
  }
}

.showButtonMobile {
  padding: 20px;
  border-top: 1px solid #555555;
  margin-left: -30px !important;
  margin-right: -20px !important;
}

.navbar > .container-fluid {
  @include media-breakpoint-down(xs){
    margin: 0 !important;
    padding: 0;
  }
}

#nav-icon {
  width: 32px;
  height: 25px;
  margin-top: -3px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  border-color: transparent;
  &:focus {
    outline: none;
  }
  & span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: $white;
    border-radius: 4px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    &:focus {
      outline: none;
    }
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2) {
      top: 11px;
    }
    &:nth-child(3) {
      top: 21px;
    }
  }
  &.open {
    & span {
      &:nth-child(1) {
        top: 10px;
        transform: rotate(135deg);
      }
      &:nth-child(2) {
        opacity: 0;
        left: -60px;
      }
      &:nth-child(3) {
        top: 10px;
        transform: rotate(-135deg);
      }
    }
  }
}
