<div #navbarContainer id="navbar-container">
  <nav #navbarMain id="nav-main" [@changeNavState]="currentState" class="navbar navbar-dark fixed-top navbar-expand-sm">
    <div class="container-fluid">
      <a class="navbar-brand text-left" [@changeLogoState]="currentState" [routerLink]="['/prodotti/']" [ngx-scroll-to]="'#navbar-container'">
        <img [src]="navbarInfo.logo" alt="" class="mr-2 logo">
        <div class="navbar-brand-text d-none d-md-inline-block" [@changeNavTextState]="currentState">{{'navbar_items.logo_text.value' | translate | async}}</div>
      </a>
      <div class="header" *ngIf="!userInfo">
        <div class="col-xs text-right">
          <a class="d-inline pl-4 pr-4 pb-3 link-share" [ngbPopover]="popContent" popoverClass="popover-share-social"
             placement="bottom-right">
            <img p-4 src="../../../../../assets/images/chebanca/condividi.svg" width="18" height="20">
          </a>
          <ng-template #popContent>
            <ul class="list-inline m-0">
              <li class="list-inline-item"><a class="link-share" (click)="openFBWindow($event, 400, 400)"><i
                class="fab fa-facebook-f"></i> </a></li>
              <li class="list-inline-item"><a class="link-share" (click)="openTwitterWindow($event, 400, 400)"><i
                class="fab fa-twitter"></i></a></li>
              <li class="list-inline-item"><a class="link-share" (click)="openLinkedinWindow($event, 400, 400)"><i
                class="fab fa-linkedin"></i></a></li>
            </ul>
          </ng-template>
          <button class="landing-btn" (click)=goToSso()>{{'buttons.enter' | translate | async}}</button>
        </div>
      </div>
      <div  class="hiddenButton">
        <app-navbar-cb-links-user *ngIf="userInfo" [userInfo]="userInfo"></app-navbar-cb-links-user>
      </div>

      <button *ngIf="userInfo" class="navbar-toggler ml-3"
              type="button"
              data-toggle="collapse"
              data-target="#navbar-menu"
      (click)="displayMobileMenu()" id="nav-icon" [ngClass]="{'open': mobileMenuOpened}">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </nav>

  <nav #navbarSub id="nav-sub" class="navbar navbar-expand-sm navbar-light pt-0 pb-0 fixed-top"
       [@changeSubNavState]="currentState" *ngIf="userInfo">
    <div class="container-fluid ml-2">
      <div class="navbar-collapse collapse" id="navbar-menu" #navbarMenu>
        <ul id="nav-sub-items" class="navbar-nav">
          <li class="nav-item" *ngFor="let item of kenticoItem?.value; index as i">
            <a class="nav-link" [ngx-scroll-to]="'header-top'" [routerLink]="item.route.value" routerLinkActive="active" *ngIf="!item.products" (click)="resetNavbarState()"
            >
              <span>{{item.text.value}}</span>
            </a>
            <div *ngIf="item.products" >
              <a id="nav-link-{{i}}" class="nav-link dropdown-toggle collapsed" href="#nav-{{i}}"
                 data-toggle="collapse" aria-expanded="false">
                <span>{{item.text.value}}</span>
              </a>
              <div id="nav-{{i}}" class="navbar collapse nav-inner pt-0 pb-0" data-parent="#nav-sub-items"
                   [ngClass]="{'nav-links' : currentState === 'initial'}" >
                <div class="container-fluid ml-2">
                  <ul class="navbar-nav">
                    <li class="nav-item"><p class="nav-item-title">{{'navbar_items.navitemtitle.value' | translate | async}} </p></li>
                    <li class="nav-item"  *ngFor="let subItem of navbarInfo.menuItems[1].children">
                      <a class="nav-link" href="#" [routerLink]="subItem.route" routerLinkActive="active"
                         (click)="onSubNavItemClick($event, subItem, i)"><span>{{subItem.name}}</span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="showButtonMobile d-sm-none">
          <app-navbar-cb-links-user *ngIf="userInfo" [userInfo]="userInfo"></app-navbar-cb-links-user>
        </div>
      </div>
    </div>
  </nav>
</div>
