@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/variables";
@media (min-width: 576px) {
    .px-sm-5 {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
}

.ages-box-cb,
.ages-box-ril {
    z-index: 9999;
    background-color: #fefefe;
    position: relative;
    box-shadow: 0px 5px 35px -1px rgba(0, 0, 0, 0.65);
    width: 27.7rem;
    padding: 2rem;
    h5 {
        font-size: 15px;
        color: #444444;
        font-weight: normal;
        margin-bottom: 0;
        min-width: 80px;
    }
    .add-remove-buttons {
        height: 40px;
        width: 40px;
        border-radius: 5px;
        background-color: #000000;
        cursor: pointer;
        color: #fff;
        font-size: 14px;
        text-align: center;
        border: none;
    }
    input.agenumber {
        text-align: center;
        height: 40px;
        line-height: 40px;
        border-radius: 8px;
        border: 1px solid #c0c0c0;
        background: #fff;
    }
    .cb-btn {
        margin-top: 1.5rem;
    }
    .ril {
        .cb-btn {
            border-radius: 7px;
            margin-top: 1.5rem;
        }
    }
}

.ages-box-ril {
    z-index: 1;
}

.ages-box-y,
.ages-box-bs {
    z-index: 9999;
    background-color: #fefefe;
    position: relative;
    box-shadow: 0px 5px 35px -1px rgba(0, 0, 0, 0.65);
    width: 27.7rem;
    &.helbiz_db{
      padding: 1rem 0 !important;
      border-radius: 15px;
      .age-selection{
        padding-right: 2rem;
        @media (max-width:445px) {
          padding-right: 1rem;
        }
      }
    }
    input.agenumber {
        height: 40px;
        &.helbiz_db{
          border: none;
          font-weight: 800;
        }
    }
    .add-remove-buttons {
        background: $primary-dark;
        color: #fff;
        width: 43px;
        height: 40px;
        line-height: 40px;
        border-radius: 6px;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        &.imagin-es-es_db {
            @media (min-width: 360px) and (max-width: 375px) {
                width: 35px;
            }
            @media (max-width: 359px) {
                width: 30px;
            }
        }
        &.santa-lucia_db {
          background-color: $primary;
          border-color: transparent;
          border-radius: 100%;
          width: 22px;
          height: 22px;
          line-height: 20px;
          font-size: 15px;
        }
        &.helbiz_db{
          background: $grey-ligth;
          border: none;
          color: $black;
          &:disabled{
            color: $black;
          }
        }
      }
    h5 {
        display: block;
        font-size: 0.81em;
        margin-block-start: 1.67em;
        margin-block-end: 1.67em;
        margin-inline-start: -1px;
        margin-inline-end: 0px;
        font-weight: bold;
        color: black;
    }
}

.btn-continue {
    color: white;
    background-color: $primary;
    text-transform: uppercase;
    outline: none;
    border: none;
    border-radius: 40px;
    width: 150px;
    padding: 12px 0;
}

.ages-box-cvb {
    z-index: 9999;
    background-color: #fefefe;
    position: relative;
    box-shadow: 0px 5px 35px -1px rgba(0, 0, 0, 0.65);
    input.agenumber {
        height: 40px;
    }
    .add-remove-buttons {
        background: $primary;
        color: #fff;
        width: 50px;
        height: 40px;
        line-height: 40px;
        border-radius: 6px;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
    }
    h5 {
        display: block;
        font-size: 0.83em;
        margin-block-start: 1.67em;
        margin-block-end: 1.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        color: black;
    }
}

[class*='ages-box-'] {
    button.add-remove-buttons:disabled {
        background: $grey-ligth;
        border: none;
        color: $white;
    }
}

.cvb {
    button {
        background-color: $btn-bg-color;
        color: $btn-text-color;
        border-radius: 0;
        border-color: $btn-text-color;
        text-transform: uppercase;
        outline: none;
        border: none;
        width: 100%;
        padding: 12px 0;
    }
}

.ages-box-pc {
    z-index: 9999;
    background-color: #fefefe;
    position: relative;
    box-shadow: 0px 5px 35px -1px rgba(0, 0, 0, 0.65);
    width: 27.7rem;
    input.agenumber {
        height: 40px;
    }
    .add-remove-buttons {
        background: $primary-dark;
        color: #fff;
        width: 43px;
        height: 40px;
        line-height: 40px;
        border-radius: 6px;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
    }
    h5 {
        display: block;
        font-size: 0.81em;
        margin-block-start: 1.67em;
        margin-block-end: 1.67em;
        margin-inline-start: -1px;
        margin-inline-end: 0px;
        font-weight: bold;
        color: black;
    }
}

.age-selection {
    @include media-breakpoint-down(md) {
        width: 105%;
    }
}

.container-button{
  &.helbiz_db{
    align-content: flex-end;
    padding: 0 15px;
    button{
      max-width: 312px;
      height: 58px;
      border-radius: 40px;
      color: $primary;
      background-color: #000000;
      width: -webkit-fill-available;
      &::after{
        display: none;
      }
    }
  }
}

.ages-box{
  &.winter-sport-plus,
  &.winter-sport-premium{
    z-index: 9999;
    background-color: #fefefe;
    position: relative;
    box-shadow: 0px 5px 35px -1px rgba(0, 0, 0, 0.65);
    width: 27.7rem;
    input.agenumber {
      height: 40px;
    }
    .add-remove-buttons {
        background: $primary-dark;
        color: #fff;
        width: 43px;
        height: 40px;
        line-height: 40px;
        border-radius: 6px;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
      }
    h5 {
        display: block;
        font-size: 0.81em;
        margin-block-start: 1.67em;
        margin-block-end: 1.67em;
        margin-inline-start: -1px;
        margin-inline-end: 0px;
        font-weight: bold;
        color: black;
    }
    .btn-animation{
      width: -webkit-fill-available;
    }
    .cb-btn{
      width: -webkit-fill-available;
    }
  }
}
