<div class="ages-box col-12 position-absolute px-sm-5 pt-sm-4 pb-5"
        [ngClass]="[dataService.tenantInfo.tenant, ('ages-box-' + dataService.tenantInfo.main.layout), productCode]">
        <div *ngFor="let age of ageList; let i = index"
                class="age-selection row align-items-center justify-content-center my-4"
                [ngClass]="dataService.tenantInfo.tenant !== 'banca-sella_db' &&
                           productCode !== 'winter-sport-plus' && productCode !== 'winter-sport-premium'
                           ? 'flex-nowrap' : (dataService.tenantInfo.tenant === 'helbiz_db' ? 'col-4' : '')">
                <div [ngClass]="dataService.tenantInfo.tenant === 'banca-sella_db' ||
                                (productCode === 'winter-sport-plus' || productCode === 'winter-sport-premium') ?
                                'col-12' : ''">
                        <h5 class="col field-label pr-2">{{age.description}}</h5>
                </div>
                <button [hidden]="dataService.tenantInfo.tenant === 'banca-sella_db' ||
                                  (productCode === 'winter-sport-plus' || productCode === 'winter-sport-premium')"
                        type="button" class="col-auto p-0 add-remove-buttons" [ngClass]="dataService.tenantInfo.tenant" (click)="subtractQuantity(age);"
                        [attr.data-cy]=" 'age-selector' | cy:age.id:'subtract' " [disabled]="age.quantity === 0"
                        [ngStyle]="{'margin-left' : dataService.isTenant('imagin-es-es_db') && i == 0 ? '7.5px' : '0px'}">
                        <i class="fa fa-minus"></i>
                </button>
                <div [hidden]="dataService.tenantInfo.tenant === 'banca-sella_db' ||
                               (productCode === 'winter-sport-plus' || productCode === 'winter-sport-premium')"
                      class="col">
                        <input class="agenumber form-control text-center pt-2" type="text"
                                [ngClass]="dataService.tenantInfo.tenant"
                                [attr.data-cy]=" 'age-selector' | cy:age.id:'display' " name="quantity-{{age.id}}"
                                value="1" [ngModel]="age.quantity" readonly>
                </div>
                <button [hidden]="dataService.tenantInfo.tenant === 'banca-sella_db' ||
                                  (productCode === 'winter-sport-plus' || productCode === 'winter-sport-premium')"
                        type="button" class="col-auto p-0 add-remove-buttons" [ngClass]="dataService.tenantInfo.tenant" (click)="addQuantity(age);"
                        [attr.data-cy]=" 'age-selector' | cy:age.id:'add' " [disabled]="maxInsuredRiched()"><i
                                class="fa fa-plus"></i></button>
                <div class="col-12" style="display: flex;"
                     [hidden]="dataService.tenantInfo.tenant !== 'banca-sella_db' && productCode !== 'winter-sport-plus' && productCode !== 'winter-sport-premium'">
                  <button type="button" class="col-auto p-0 add-remove-buttons" [ngClass]="dataService.tenantInfo.tenant" (click)="subtractQuantity(age);"
                        [attr.data-cy]=" 'age-selector' | cy:age.id:'subtract' " [disabled]="age.quantity === 0"
                        [ngStyle]="{'margin-left' : dataService.isTenant('imagin-es-es_db') && i == 0 ? '7.5px' : '0px'}">
                        <i class="fa fa-minus"></i>
                  </button>
                  <div class="col">
                        <input class="agenumber form-control text-center pt-2" type="text"
                                [attr.data-cy]=" 'age-selector' | cy:age.id:'display' " name="quantity-{{age.id}}"
                                value="1" [ngModel]="age.quantity" readonly>
                  </div>
                  <button type="button" class="col-auto p-0 add-remove-buttons" [ngClass]="dataService.tenantInfo.tenant" (click)="addQuantity(age);"
                    [attr.data-cy]=" 'age-selector' | cy:age.id:'add' " [disabled]="maxInsuredRiched()">
                      <i class="fa fa-plus"></i>
                  </button>
                </div>
    </div>
    <div class="text-center container-button" *ngIf="productCode !== 'chubb-sport-rec' && productCode !== 'chubb-sport'" [ngClass]="[dataService.tenantInfo.main.layout, dataService.tenantInfo.tenant, productCode]" [hidden]="productCode === 'chubb-sport-rec' || productCode === 'chubb-sport'">
        <button type="button" data-cy="age-selector__submit-button" [ngClass]="{'btn-animation': dataService.tenantInfo.main.layout === 'y' || dataService.tenantInfo.main.layout === 'bs' || dataService.tenantInfo.main.layout === 'pc',
                        'btn cb-btn': dataService.tenantInfo.main.layout === 'cb' || dataService.tenantInfo.main.layout === 'ril'}" (click)="applyQuantities()">{{'buttons.apply' | translate | async}}
                </button>
        </div>
    <div class="text-center" *ngIf="productCode === 'chubb-sport-rec' || productCode === 'chubb-sport'" [ngClass]="dataService.tenantInfo.main.layout">
        <button type="button" data-cy="age-selector__submit-button" class="btn-continue submit-button" (click)="applyQuantities()">{{'buttons.apply' | translate | async}}
        </button>
    </div>
</div>
