@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";

@import "~sass/variables";

.one-page {
    background-color: $primary;

    .row-full {
        min-height: 100vh;
        height: auto;
        margin: 0;
        border:0;
        box-sizing: border-box;
    
        .form-container {
            position: relative;
            background-color: $white;
            border-radius: 8px;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            padding: 2rem;
            box-sizing: border-box;
            height: auto;
            min-height: 30vh;
            width: 100%;
        }

        .submit-container {
            position: relative;
            height: 15vh;
            width: 100%;
        }
    }
    
}


