<div class="container-fluid quotator" [ngClass]="product.container_class">
    <div class="name-img-container" (swipe)="onSwipe($event)" data-mc-options='{ "touchAction": "pan-y" }'>
        <h1>{{product.package_title}}<br/>{{product.name}}</h1>
        <img alt="{{product.name}}" [src]="getSmallImage(product.images)">
    </div>
    <div class="row" *ngIf="product.short_description">
        <div class="col-12">
            <p [innerHTML]="product.short_description" class="product-description"></p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <p class="card-section-title" data-cy="quotator-people-variants__insureds-number">{{'quotator.insured_persons_number' | translate | async}}</p>
            <div class="row insured-subjects">
                <button class="col-xs bg-operators" (click)="subtractQuantity()" [disabled]="peopleQuantity === 1" [ngClass]="peopleQuantity === 1 ? 'disabled' : ''" data-cy="quotator-people-variants__subtract-insured-button">
          <i class="fa fa-minus" aria-hidden="true"></i>
        </button>
                <div class="col-sm-4 col-md-6 col">
                    <input class="quantity-input text-center w-100" #quantity="ngModel" type="text" [(ngModel)]="peopleQuantity" name="quantity" id="quantity" value="peopleQuantity" required readonly data-cy="quotator-people-variants__insureds-number-display">
                </div>
                <button class="col-xs bg-operators" (click)="addQuantity()" [disabled]="peopleQuantity === this.product.maximum_insurable" [ngClass]="peopleQuantity === this.product.maximum_insurable ? 'disabled' : ''" data-cy="quotator-people-variants__add-insured-button">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
            </div>
        </div>
    </div>
    <div class="row">
        <p class="col-12 card-section-title" data-cy="quotator-people-variants__package-type">{{product.variants_type_label}}</p>
        <div class="col-6 col-sm col-md-6 col-lg-4 col-xl choice" *ngFor="let variant of variants">
            <a class="btn package-btn pl-0 pr-0" [ngClass]="[ variant.active ? 'selected': '']" (click)="setPackage(variant)" [attr.data-cy]=" 'quotator-people-variants' | cy:variant.name: 'option'">{{variant.name}}</a>
        </div>
    </div>
    <hr>
    <div class="row purchase">
        <div *ngIf="product.price_title" class="col price-title-container">
            <span data-cy="quotator-people-variants__quotation-price-title" class="price-title">
        {{product.price_title}}
      </span>
            <div class="price" data-cy="quotator-people-variants__quotation-price">
                {{price * peopleQuantity | currency}}
                <span data-cy="quotator-people-variants__quotation-slash-price" *ngIf="product.slash_price">{{product.slash_price}}</span>
            </div>
        </div>
        <div *ngIf="!product.price_title" class="col-5">
            <div class="price" data-cy="quotator-people-variants__quotation-price">
                {{price * peopleQuantity | currency}}
            </div>
        </div>
        <div class="col-7 col-lg-5">
            <button class="submit-btn" id="submit-test" (click)="checkout()" [ngClass]="dataService.getProductColorClass(product)" data-cy="quotator-people-variants__purchase-button">{{product.continue_button_label}}</button>
        </div>
    </div>
    <div class="covid-addon-container">
        <div class="covid-addon shadow-none rounded">
            <div class="img-wrapper">
                <img [src]="product.copertura_aggiuntiva_covid19_img" [alt]="product.copertura_aggiuntiva_covid19_alt">
            </div>
            <div class="covid-addon-txt">
                <span>{{product.copertura_aggiuntiva_covid19_title}}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center product-download">
            <a class="inf-package" href="{{ product.information_package }}" target="_blank" data-cy="quotator-people-variants__information-package">{{product.information_package_text}}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 provider-text" data-cy="quotator-people-variants__collaboration-provider">
            {{'quotator.product_collaboration' | translate | async}}
        </div>
        <div class="col-12 text-center">
            <img [src]="product.provider_logo" [alt]="product.provider.name" data-cy="quotator-people-variants__image-provider" class="provider-logo">
        </div>
    </div>
</div>
