<div class="row d-flex justify-content-center">
  <div  class="col-12 text-center my-3">
    {{'private_area.assistance_need' | translate | async}}
  </div>
  <div class="col-12 text-center claim-option" [innerHtml]="'private_area.assistance_claim_number_fca' | translate | async"></div>
  <div class="col-12 text-center claim-option mt-2" [innerHtml]="'private_area.website_chat_fca' | translate | async"></div>
  <div class="col-12 text-center claim-option mt-2" [innerHtml]="'private_area.email_assistance_claim_fca' | translate | async"></div>
</div>
<div class="card-content col-12">
  <h3>{{'private_area.policy_data' | translate | async}}</h3>
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-4 policy-info">
      <label class="mb-0">{{'private_area.policy_label' | translate | async}}</label>
      <p>{{policy.policyNumber}}</p>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 policy-info">
      <label class="mb-0">{{'private_area.payment_status' | translate | async}}</label>
      <p class="status" [ngClass]="policy.status">{{policy.statusLabel}}</p>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 policy-info">
      <label class="mb-0">{{'private_area.activation_date' | translate | async}}</label>
      <p>{{policy.startDate | date: 'dd/MM/yyyy, HH:mm'}}</p>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 policy-info">
      <label class="mb-0">{{'private_area.expiration_date' | translate | async}}</label>
      <p>{{policy.expirationDate | date: 'dd/MM/yyyy, HH:mm'}}</p>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 policy-info">
      <label class="mb-0">{{'private_area.duration' | translate | async}}</label>
      <p>{{duration}}</p>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 policy-info" *ngIf="isPolicyPriceANumber()">
      <label class="mb-0">{{'private_area.value' | translate | async}}</label>
      <p>{{policy.price | currency}}</p>
    </div>
  </div>
</div>
