@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";

.main-header {
  height: 150px;
  padding-top: 16px;
  text-align: center;

  @include media-breakpoint-down(xs) {
    height: unset;
  }
}

.claim {
  padding: 15px 30px 0 30px;
  position: relative;
  color: #005388;
}

.claim .scroll-down {
  position: relative;
  display: block;
  padding-bottom: 30px;
  cursor: pointer;
}

.claim .scroll-down:after {
  content: "\f107";
  color: #005388;
  font-size: 30px;
  font-size: 1.875rem;
  bottom: 10px;
}

.claim ::ng-deep h2 {
  font-size: 18px;
  font-size: 1.125rem;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.claim ::ng-deep h4 {
  font-size: 14px;
  font-size: 0.875rem;
  padding-bottom: 10px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
}

.claim h5 {
  font-size: 14px;
  font-size: 0.875rem;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.claim h5 span {
  display: block;
}

.width-cnt {
  margin: auto;
  width: 100%;
}

@media only screen and (min-width: 640px) {
  .claim::after {
    bottom: 20px;
  }

  .claim ::ng-deep h2, .claim ::ng-deep h4 {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 768px) {
  .main-header {
    height: 548px;
  }

  .row-offer {
    padding: 0 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-end;
    align-items: flex-end;
  }

  .claim {
    width: 340px;
    padding: 15px 15px 50px 15px;
  }

  .claim ::ng-deep h2, .claim ::ng-deep h4 {
    font-size: 24px;
    font-size: 1.5rem;
    padding-bottom: 25px;
  }

  .claim .scroll-down::after {
    font-size: 40px;
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .row-offer .claim {
      padding:15px 0 50px 0
  }

  .claim .scroll-down {
      padding-bottom: 50px
  }
}
