@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/variables";

.breadcrumbs-container {

  &.layout-chebanca_db {
    margin-top: 3rem;
    margin-bottom: 1rem;
    @include media-breakpoint-up(md){
      &.ge-home {
        margin-top: -34rem;
        @media (min-width: 1200px) {
          margin-top: -28rem;
        }
        @media (min-width: 1420px) {
          margin-top: -19rem;
        }
        @media (min-width: 1730px) {
          margin-top: -11rem;
        }
        @media (min-width: 2000px) {
          margin-top: 1rem;
        }
      }
    }


    .container {
      margin-left: auto;
      margin-right: auto;
      max-width: 1024px;
      @include media-breakpoint-up(xl) {
        padding-left: 0;
      }
    }

    .breadcrumb {
      background-color: transparent;
      padding: 0;
      margin: 0;
      width: max-content;
    }

    .breadcrumb-item {
      span {
        text-decoration: underline;
      }
      &:not(:first-child) {
        font-weight: bolder;
        &::before {
          content: '\203A';
          display: inline-block;
        }
      }
    }
  }
}
