<form [formGroup]="form" (ngSubmit)="login()">
  <div class="row no-gutters input-row">
    <div class="col-12 my-3 input-txt-container p-0">
      <label for="taxcode" class="label-container" [ngClass]="{ 'error-field': getFieldInvalidError('taxcode') }">
        <input
        id="taxcode"
        type="text"
        formControlName="taxcode"
        maxlength="16"
        [ngClass]="{ 'error-field': getFieldInvalidError('taxcode') }">
        <span [ngClass]="form?.get('taxcode')?.value ? 'up' : ''" class="real-label">
          {{ content.taxcode_form_label }}
        </span>
        <i *ngIf="getFieldInvalidError('taxcode')" class="fas fa-times input-error-icon"></i>
      </label>
      <div class="error-warning-container" *ngIf="getFieldInvalidError('taxcode')">
        <span *ngIf="getFieldError('taxcode', 'required')" class="error-message">
          {{ 'forms.mandatory_field' | translate | async }}
        </span>
        <span *ngIf="getFieldError('taxcode', 'pattern')" class="error-message">
          {{ 'forms.wrong_format' | translate | async }}
        </span>
      </div>
    </div>
  </div>

  <div class="row no-gutters input-row">
    <div class="col-12 my-3 input-txt-container p-0">
      <label for="password" class="label-container" [ngClass]="{ 'error-field': getFieldInvalidError('password') }">
        <input
        id="password"
        [type]="passwordVisibility ? 'text' : 'password'"
        name="password"
        formControlName="password"
        password
        required
        [ngClass]="{ 'error-field': getFieldInvalidError('password') }">
        <span [ngClass]="form?.get('password')?.value ? 'up' : ''" class="real-label">
          {{ content.password_form_label }}
        </span>
        <div class="d-flex">
          <i *ngIf="getFieldInvalidError('password')" class="fas fa-times input-error-icon"></i>
          <div class="d-flex align-items-center ml-1" *ngIf="form?.get('password')?.value" (click)="toggleShowPassword()">
            <i class="fas fa-eye pointer password-show-icon" *ngIf="passwordVisibility; else slashEye"></i>
            <ng-template #slashEye>
              <i class="fas fa-eye-slash pointer password-show-icon"></i>
            </ng-template>
          </div>
        </div>
      </label>
      <div class="error-warning-container" *ngIf="getFieldInvalidError('password')">
        <span *ngIf="getFieldError('password', 'required')" class="error-message">
          {{ 'forms.mandatory_field' | translate | async }}
        </span>
      </div>
    </div>
  </div>

  <div class="errors-container text-center col-12" *ngIf="wrongCredentials">
    <span class="error-message">Credenziali errate</span>
  </div>

  <div class="row no-gutters">
    <div class="forgot-container col-12 mb-3">
      <a class="pointer" (click)="forgotPassword()" omniturecta="forgot password" omnitureposition="1">
        {{content.forgot_password}}
      </a>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-12 p-0">
      <button id="login-btn"
      [disabled]="!isValid()"
      type="submit"
      class="login-btn"
      omniturecta="sign in" omnitureposition="1">
      {{ 'buttons.sign_in' | translate | async }}
    </button>
    </div>
  </div>
</form>
