<div class="row-shadowed">
    <app-checkout-card-recap [product]="product">
    </app-checkout-card-recap>
</div>

<div class="row-shadowed recap-home-proposal mb-3" *ngIf="optionalWarranty" [ngClass]="dataService.tenantInfo.tenant">
    <div class="col-12">
        <h3>{{'checkout_home_genertel.step_insurance_info_optional_proposal.title_optional_proposal.text' | translate | async}}
        </h3>
    </div>
    <div class="col-12 info-container" [ngClass]="dataService.tenantInfo.tenant">
        <img [src]="product.image" alt="Yolo">
        <div class="info" >{{proposal}}&nbsp;
          <span *ngIf="optionalWarranty && isCustomized">{{'checkout_home_genertel.step_insurance_info.personalized.text' | translate | async}}</span>
        </div>
    </div>
</div>
<div class="row row-shadowed recap-home-proposal mb-3" *ngIf="optionalWarranty && infoHomeStep && recapOprionalWarranties" [ngClass]="dataService.tenantInfo.tenant">
    <div class="col-12">
      <h3>{{'checkout_home_genertel.step_insurance_info_optional_proposal.additional_guarantees.text.value' | translate | async}}
      </h3>
    </div>
    <div class="col-4 info-container customized-img" *ngFor="let addon of selectedAddons">
        <img [src]="addon?.image?.large_url" alt="Yolo">
        <div class="info">
            <p>{{addon?.name}}</p>
        </div>
    </div>
</div>

<div class="row-shadowed" *ngIf="!optionalWarranty && !infoHomeStep">
    <div class="container" id="home-proposals">
        <div class="row mb-2">
            <div [ngClass]="dataService.tenantInfo.tenant" class="title">
                <span>{{'checkout_home_genertel.step_insurance_info_optional_proposal.title_optional_proposal.text' | translate |
          async}}</span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="subtitle" [ngClass]="dataService.tenantInfo.tenant">

                <span>{{'checkout_home_genertel.step_insurance_info_optional_proposal.description_home.text' | translate |
          async}}</span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="container-type-proposal mb-4">
                <div class="btn-group btn-group-toggle d-flex" data-toggle="buttons">
                    <label class="btn btn-secondary custom-btn-class" *ngFor="let type of newTypesProposal; let i=index" [ngClass]="{'active': addonsProposal[i] === typeProposal }" (click)="setTypeProposal(addonsProposal[i])">
            <input type="radio"
                   name="options"
                   id="{{i}}"
                   autocomplete="off"
                   [checked]="addonsProposal[i] === typeProposal">
            {{ type }}
          </label>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 pl-0 display-in-desktop" *ngFor="let proposalName of addonsProposal; let i=index">
                <app-checkout-card-insurance-info-home-proposal [proposalName]="proposalName" [product]="product" (addAttendee)="addAttendee($event)" (showOptionalWarranty)="handleChangeStep( true, false)" (selectedAddonsProposalsEmit)="handleChangeStep( true, true)"
                    (addonsPricing)="getPricing($event)" (showProposalSelected)="showProposalSelected($event)" (proposalTitle)="proposalTitleHandler($event)">
                </app-checkout-card-insurance-info-home-proposal>
            </div>
            <div class="col-lg-4 col-md-12 p-0 display-in-mobile" *ngFor="let proposalName of addonsProposal; let i=index">
                <app-checkout-card-insurance-info-home-proposal [proposalName]="proposalName" [typeProposal]="typeProposal" [product]="product" (addAttendee)="addAttendee($event)" (showOptionalWarranty)="handleChangeStep( true, false)" (selectedAddonsProposalsEmit)="handleChangeStep( true, true)"
                    (addonsPricing)="getPricing($event)" (showProposalSelected)="showProposalSelected($event)" (proposalTitle)="proposalTitleHandler($event)">
                </app-checkout-card-insurance-info-home-proposal>
            </div>
        </div>
    </div>
</div>

<div class="row-shadowed" *ngIf="optionalWarranty && !infoHomeStep">
    <app-checkout-card-insurance-info-home-optional-warranties [addons]="addons" [product]="product" [addonWithPrices]="addonWithPrices" (selectedAddonsEmit)="handleUploadPrice($event)" (showProposalWarrantyEmit)="handleChangeStep( false, false)" (showInfoHomeEmit)="handleChangeStep( true, true, true)">
    </app-checkout-card-insurance-info-home-optional-warranties>
</div>

<div class="row-shadowed" *ngIf="optionalWarranty && infoHomeStep">
    <app-checkout-card-insurance-info-home-data (homeDataInfoSubmit)="submit($event)" (showOptinalWarrantiesEmit)="handleChangeStep( true, false)" [product]="product" [addons]="addons">
    </app-checkout-card-insurance-info-home-data>
</div>
