@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/_variables.scss";

.row-shadowed {
  background-color: $white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.11), 0 3px 6px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 2rem;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 2rem;
  .title {
    &.chebanca_db {
      font-weight: bold;
      font-size: 16px;

    }
  }
  .subtitle {
    &.chebanca_db {
      font-weight: 400;
      font-size: 14px;
      color: #4A4A4A;
    }
  }
  .container-type-proposal {
    display: none;
    @media screen and (max-width: 1023px){
      display: block;
      width: 100%;
      border: 1px solid $grey-ligth;
      border-radius: 40px;
    }
    label {
      border-radius: 40px;
    }
    .custom-btn-class {
      height: 50%;
      padding: 5px 0;
      font-size: 14px;
      border: none;
      font-weight: normal;
      text-transform: capitalize;
      &.active{
        color: $primary;
        background-color: $secondary;
        border-color: $grey-ligth;
      }
      &.focus{
        box-shadow: none;
      }
    }
    .btn-secondary:active{
      color: $primary;
      background-color: white;
    }
  }
}


.info-container {
  flex-direction: row;
  display: flex;
  align-items: center;
  img {
    margin-right: 1rem;
    width: 60px;
    margin-top: 0.5rem;
  }
  .info {
    margin-top: 1rem;
    span {
      margin-right: 0.5rem;
    }
  }
  &.chebanca_db {
    img {
      width: 80px;
    }
  }
}

.display-in-mobile{
  display: none;
  @media screen and (max-width: 991px){
    //width:100%;
    display: block;
  }
}

.display-in-desktop{
  display: none;
  @media screen and (min-width: 992px){
    //width:33%;
    display: block;
  }
}

.recap-home-proposal {
  &.chebanca_db {
    display: none;
  }
}
