@import 'sass/variables';

#withdrawReason {
  min-height: 150px;
}

:host .btn {
  background-color: $primary;
  border-radius: 5px;
  padding: 0 30px;
}

:host .btn.btn-outline {
  color: $primary;
  background-color: #fff !important;
  border: 2px solid $primary;
  border-radius: 5px;
  padding: 0 30px;
}

:host .form-group {
  margin-bottom: 0;
}

.modal-title {
  text-transform: uppercase;
  font-size: 18px;
  color: $primary;
}

.modal-body {
  padding: 2rem 2rem 0rem;
}

.modal-header {
  border: none;
  padding: 2rem 2rem 1rem;
}

.modal-footer {
  padding: 2rem 1rem;
  border: none
}

.input-wrapper {
  border: 1px solid #ced4da
}

.input-wrapper label {
  font-size: 12px;
  color: #4A4A4A;
}

.input-wrapper input.form-control {
  padding-left: 16px;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.text-area-container {
  border-radius: 8px;
  margin-bottom: 2rem;
  color: #4A4A4A;
}

.btn-ok {
  &.banco-desio_db {
    color: $white;
  }
}
