<div class="modal-body">
  <h3 class="col-12 modal-title">{{'private_area.withdrawal' | translate | async}}</h3>
  <p class="col-12 mt-3 disclaimer">{{'private_area.withdrawal_disclaimer' | translate | async}}</p>
  <div class="col-12" [formGroup]="form">
    <div class="form-label-group text-area-container">
      <textarea class="form-control" id="withdrawReason" formControlName="withdrawReason"
                placeholder="{{'private_area.withdraw_reason' | translate | async}}"></textarea>
    </div>
    <p class="disclaimer">{{'private_area.iban_info' | translate | async}}</p>
    <div class="form-label-group"
         [ngClass]="{'error-field':
         form.controls.iban.invalid
        && form.controls.iban.errors && form.controls.iban.touched}">
      <input class="form-control input-padding" id="iban" formControlName="iban"
             placeholder="{{'forms.iban' | translate | async}}" minlength="27" maxlength="27" type="text" required>
      <label for="iban" class="form-control-placeholder">
        {{'forms.iban' | translate | async}}*
      </label>
      <div *ngIf="form.controls.iban.invalid
      && form.controls.iban.errors && form.controls.iban.touched">
        <div class="error-message">
          {{'private_area.iban_error' | translate | async}}
        </div>
      </div>
    </div>
    <p class="mt-4 disclaimer">{{'private_area.withdrawal_confirm' | translate | async}}</p>
  </div>
</div>
<div class="modal-footer justify-content-center">
  <button type="button" class="col-10 col-sm-5 col-md-4 btn btn-outline"
          (click)="activeModal.dismiss()">{{'buttons.cancel' | translate | async}}</button>
  <button type="button"
          [ngClass]="dataService.tenantInfo.tenant"
          class="col-10 col-sm-5 col-md-4 btn btn-ok"
          data-cy="policy-detail-modal__withdrawal"
          [disabled]="!form.valid"
          (click)="submitWithdrawal(); activeModal.close(withdrawReason)">
    {{'buttons.withdraw' | translate | async}}
  </button>
</div>
