<div class="quotator-container" *ngIf="products" [ngClass]="products[0]?.container_class">
  <div class="row container-title-icon">
    <h3>{{kenticoBody.quotatorTitle}}</h3>
    <img [src]="kenticoBody.iconProduct">
  </div>
  <p class="quotator-description" [innerHTML]="kenticoBody.quotatorDescription"></p>
  <p class="quotator-choise-description">{{kenticoBody.quotatorChoiseTabsDescription}}</p>
  <ng-container *ngIf="products && products.length == 1" [ngSwitch]="products[0].quotator_type">
    <app-default-preventivo *ngSwitchDefault></app-default-preventivo>

    <app-quotator-home-genertel (swipeEvent)="setProductTab($event, products)"
                                (actionEvent)="sendActionEvent($event)" [product]="products[0]"
                                *ngSwitchCase="'quotator_ge-home'"></app-quotator-home-genertel>
    <app-quotator-motor-genertel (swipeEvent)="setProductTab($event, products)"
                                 (actionEvent)="sendActionEvent($event)" [product]="products[0]"
                                 *ngSwitchCase="'quotator_motor_genertel'"></app-quotator-motor-genertel>
  </ng-container>
  <ng-container *ngIf="products.length > 1">
    <div class="container-tabs">
      <ngb-tabset [activeId]="activeProduct">
        <ngb-tab *ngFor="let product of products; let index = index;" [id]="'tab-' + product.product_code">
          <ng-template ngbTabTitle>
            <div class="product-tab" (click)="selectedProduct(product)" [ngClass]="'tab-name-' + product.product_code"
                 [id]="'nav-link-' + product.product_code"
                 [attr.data-cy]=" 'conf-layout' | cy:product.name: 'tab'">
              <img class="img-active" *ngIf="product.imageTabsActive" src="{{product.imageTabsActive}}" alt="{{product.name}}">
              <img class="img-not-active" *ngIf="product.imageTabsNotActive" src="{{product.imageTabsNotActive}}" alt="{{product.name}}">
              <p>{{product.name}}</p>
            </div>
          </ng-template>
          <ng-template ngbTabContent>
            <div [ngSwitch]="product.quotator_type">
              <app-quotator-motor-genertel (swipeEvent)="setProductTab($event, products)"
                                           (actionEvent)="sendActionEvent($event)" [product]="product"
                                           *ngSwitchCase="'quotator_motor_genertel'"></app-quotator-motor-genertel>
              <app-default-preventivo *ngSwitchDefault></app-default-preventivo>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </ng-container>
</div>
