<div class="how-works-table-container" [ngClass]="[dataService.tenantInfo.tenant, data.product_content[0].product_code, data.product_content[1].product_code]">
  <div class="container">
    <p class="title">{{data.title_section}}</p>
    <div class="d-block d-md-none row">
      <div class="container content-section-container" [ngClass]="data.container_class">
        <div class="row d-flex justify-content-center">
          <div class="tabs">
            <div *ngFor="let product of data.product_content; let i=index">
              <div class="row d-flex justify-content-center" style="display: flex; justify-content: space-evenly;">
                <div class="table-tab" id="nav-tab" role="tablist" (click)="changeSelectedSlider(product.product_code)" [ngClass]="{'selected': product.product_code === selectedSlider}">
                  <a *ngIf="(product.product_code === 'ge-ski-plus'|| product.product_code === 'ge-ski-premium' || product.product_code === 'winter-sport-plus' || product.product_code === 'winter-sport-premium')" [ngClass]="{'selected': product.product_code === selectedSlider}" class="nav-item nav-link active product-variant-title" id="nav-tab-{{i}}-tab" data-toggle="tab"
                  href="#nav-tab-{{i}}" role="tab" attr.aria-controls="nav-tab-{{i}}"
                  aria-selected="true">
                    {{(product.product_code === 'ge-ski-plus' || product.product_code === 'winter-sport-plus') ?
                    'plus' : 'premium'}}
                  </a>
                  <a *ngIf="(product.product_code === 'yolo-for-ski-gold'|| product.product_code === 'yolo-for-ski-platinum')"
                  [ngClass]="{'selected': product.product_code === selectedSlider}" class="nav-item nav-link active product-variant-title" id="nav-tab-{{i}}-tab" data-toggle="tab"
                  href="#nav-tab-{{i}}" role="tab" attr.aria-controls="nav-tab-{{i}}"
                      aria-selected="true">{{product.product_code === 'yolo-for-ski-gold' ? 'gold' : 'platinum'}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row table-cards-container">
      <div *ngFor="let product of data.product_content" class="container-card"
        [ngClass]="[product.product_code, product.product_code !== selectedSlider ? 'not-selected' : '' ]">
        <div class="table-card" [ngClass]="product.ribbon ? 'ribbon' : 'no-ribbon'">
          <div class="container-ribbon" *ngIf="product.ribbon">
            <img [src]="data.premium_protection_logo">
            <p>{{data.premium_protection}}</p>
          </div>
          <h3 class="product-title" [ngClass]="dataService.tenantInfo.tenant" [innerHTML]="product.name" *ngIf="product.name"></h3>
          <ng-container *ngFor="let item of product.items_list; let i = index">
            <div class="container-list" [ngClass]="'n'+(i+1)">
              <div style="height: 20px; gap:10px;" class="d-flex container-items">
                <img [src]="data.img_open" *ngIf="item.included">
                <img [src]="data.img_not_included" *ngIf="!item.included
                && (product.product_code === 'ge-ski-plus' || product.product_code === 'winter-sport-plus')">
                <img [src]="data.img_optional" *ngIf="!item.included
                && (product.product_code === 'ge-ski-premium' || product.product_code === 'winter-sport-premium')">
                <p class="primary-item" [innerHtml]="item.text"></p>
              </div>
              <div class="container-included">
                <p *ngIf="!item.included && (product.product_code === 'ge-ski-premium' || product.product_code === 'winter-sport-premium')" class="optional">{{data.optional}}</p>
                <button *ngIf="item.included || (!(item.included) && (product.product_code === 'ge-ski-premium' || product.product_code === 'winter-sport-premium'))" class="btn-open" data-toggle="collapse" attr.data-target="#{{product.product_code + i}}" aria-expanded="false"
                attr.aria-controls="{{product.product_code + i}}"><img [src]="data.img_close"></button>
                <p *ngIf="item.value" class="maximal-value" [innerHtml]="item.value" ></p>
              </div>
              <div *ngIf="!item.included && (product.product_code === 'ge-ski-plus' || product.product_code === 'winter-sport-plus')" style="text-align: end;"><p class="only-premium">{{data.only_premium}}</p></div>
            </div>
          <div [id]="product.product_code + i"  [ngClass]="(product.product_code === 'yolo-for-ski-gold'|| product.product_code === 'yolo-for-ski-platinum')? '' : 'collapse'">
              <ul class="subitem-list" *ngIf="item.subitems_list.length >= 1">
                  <div *ngFor="let subitem of item.subitems_list" class="d-flex row container-subitem">
                    <div class="col-12 d-flex justify-content-between">
                      <li *ngIf="subitem.name" [innerHTML]="subitem.name"></li>
                      <p *ngIf="subitem.maximal" [innerHTML]="subitem.maximal"></p>
                    </div>
                    <div class="col-12 d-flex justify-content-between " *ngIf="subitem.description">
                      <p *ngIf="subitem.description" class="description" [innerHTML]="subitem.description"></p>
                      <p *ngIf="subitem.maximal_desc" [innerHTML]="subitem.maximal_desc"></p>
                    </div>
                  </div>
                </ul>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
