<div class="modal-header">
  <h3 class="modal-title">{{ 'private_area.open_claim' | translate | async }}</h3>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-info">
  <hr>
<div class="row">
  <div class="col-4">
    <p><b>PRODOTTO ASSICURATO</b></p>
    <P>{{ policyData.name }}</P>
  </div>
  <div class="division"></div>
  <div class="col-3">
    <p><b>VALORE</b></p>
    <p>{{ policyData.price }} € </p>
  </div>
  <div class="col-4">
    <p><b>N° POLIZZA</b></p>
    <P> {{ policyData.policyNumber }}</P>
  </div>
</div>
<hr>
</div>

<div class="modal-body">
  <div class="row mb-5">
    <div class="col-12">
      <div class="input-group w-auto">
        <div (click)="toggleDatePicker()" class="input-wrapper form-group container">
          <label class="pl-3">{{ 'forms.claim_date' | translate | async }}</label>
          <input class="form-control"
                  name="startTrip"
                  autocomplete="off"
                  placeholder="{{'forms.date_time_placeholder' | translate | async}}" id="datepicker-test"
                  [(ngModel)]="claimDate" required readonly>
        </div>
        <div class="datapicker-container">
          <ngb-datepicker *ngIf="openPicker"
                          name="dp"
                          #dp
                          [minDate]="startDate"
                          [maxDate]="endDate"
                          [(ngModel)]="datepicker"
                          (select)="setClaimDate()"
                          >
          </ngb-datepicker>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-area-container">
      <textarea type="text"
                class="md-textarea form-control"
                [(ngModel)]="claimMessage"
                rows="8" mdbInput
                [placeholder]="'forms.insurer_message' | translate | async ">
      </textarea>
    </div>
  </div>
</div>

<div class="modal-footer justify-content-center">
  <button type="button"
          class="col-4 btn btn-outline"
          (click)="activeModal.close('Close click')">
          {{ 'buttons.cancel' | translate | async }}
  </button>
  <button class="col-4 btn m-1"
          (click)="submitClaim(); activeModal.close('Close click')"
          [disabled]="!this.claimMessage || !this.claimDate">
          {{ 'buttons.open_claim' | translate | async }}
  </button>
</div>
<div class="footer">
<div class="row">
<div class="col-7">
  <div class="text">
  <p><b>Hai bisogno di assistenza veterinaria telefonica?</b></p>
</div>
</div>
<div class="col-1">
<img src="./assets/images/icons/phone-icon.png" alt="">
</div>
<div class="col-4">
  <div class="phone-number">
  <p>dall'Italia <b>800.046.405</b></p>
  <p>dall'estero <b>+39 02 58246001</b></p>
  <p>dal lun al ven dalle <b>8.00 alle 18.00</b></p>
</div>
</div>
</div>
</div>

