<div class="modal-header">
  <div class="text-container">
    <div class="col-auto title">
      <h6>{{proposal.title}}</h6>
      <span>{{proposal.subtitle}}</span>
    </div>
    <div class="col-auto price">
      <span><b>{{proposal.price}} €</b></span>
    </div>
  </div>
  <div class="close-button" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true" class="close-img">
      <img [src]="proposal.closeProposalDetail">
    </span>
  </div>
</div>
<div class="modal-body">
  <ng-container *ngFor="let addon of selectedPack; let i = index">
    <ng-container *ngIf="addon.selezionata">
      <div class="accordion">
        <a href="#collapseExample-{{i}}" data-toggle="collapse">
          <div class="accordion-title">
            <div class="addon-name">
              <h3 class="section-title">{{addon.name}}</h3>
            </div>
            <i class="fa fa-chevron-down"></i>
          </div>
        </a>
        <span id="collapseExample-{{i}}" class="collapse description"
          [innerHtml]="addon.description">
        </span>
      </div>
      <hr>
    </ng-container>
  </ng-container>
</div>
<div class="modal-footer">
  <div class="row buttons">
    <div class="col-12 col-lg-4">
      <button class="submit-btn buy" (click)="activeModal.close('buy')">{{proposal.buyBtn}}</button>
    </div>
    <div class="col-12 col-lg-4">
      <button class="submit-btn edit" (click)="activeModal.close('edit')" omniturecta="Edit" omnitureposition="1">{{proposal.customizeBtn}}</button>
    </div>
  </div>
</div>
