<div class="container-modal">
  <div class="icon-close" (click)="closeModal()">
    <img src="{{kenticoContent?.step_insurance_info.policy_configuration.addons.furto_rapina.addons_list.garanzie_aggiuntive.additional_warrenty.garanzia_1_95d314e.modal_add_warrenty.close_modal.thumbnail.value[0].url}}">
  </div>
  <div class="col-12">
    <p>{{kenticoContent?.step_insurance_info.policy_configuration.addons.furto_rapina.addons_list.garanzie_aggiuntive.additional_warrenty.garanzia_1_95d314e.modal_add_warrenty.modal_extra_info.text.value}}</p>
  </div>
</div>
