<div class="row">
  <div class="col-12">
    <h4 class="step-title mb-3" data-cy="das-shopping-cart__product-header">
      {{product.name}}
    </h4>
  </div>
  <ul class="col-12 cart-list">
    <li class="row cost-item mb-2 cost-item-{{costItem.type}}" *ngFor="let costItem of product.costItems">
      <div class="col-12" *ngIf="!isUnknownItem(costItem)">
        <div class="row cost-item-row" [ngClass]="{'font-weight-bold': costItem.amount < 0}">
          <div class="col-8 description" [attr.data-cy]=" 'das-shopping-cart' | cy:costItem.name:'name' ">
            {{ costItem.name }}
          </div>
          <div class="col-4 text-right cost text-primary fw-500">
            <ng-container *ngIf="isValueItem(costItem)">
                <div [attr.data-cy]=" 'das-shopping-cart' | cy:costItem.name:'value' ">
                  <ng-container *ngIf="!!costItem.value">
                    {{getItemValue(costItem)}}
                  </ng-container>
                  <ng-container *ngIf="!costItem.value">
                    {{getItemValue(costItem) | currency}}
                  </ng-container>
                </div>
            </ng-container>
            <ng-container *ngIf="costItem.type !== 5">
                <div  [attr.data-cy]=" 'das-shopping-cart' | cy:costItem.name:'amount' ">
                  {{getItemValue(costItem) | currency}}
                </div>
            </ng-container>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
