<section class="centralArrow container-fluid mt-5">
  <div class="row justify-content-center pt-4 pb-4 arrow_box">
    <div class="col-md-4 col-6">
      <h5 class="font-weight-bold mb-5 centerIncludedAfter">COSA &Egrave; COMPRESO</h5>
    </div>
    <div class="col-md-4 col-6">
      <h5 class="font-weight-bold mb-5 centerNotIncludedAfter">COSA NON &Egrave; COMPRESO</h5>
    </div>
  </div>
</section>

<section class="leftArrow container-fluid mt-5">
  <div class="row justify-content-center pt-4 pb-4 arrow_box">
    <div class="col-md-4 col-6">
      <h5 class="font-weight-bold mb-5 silverIncludedAfter">COSA &Egrave; COMPRESO</h5>
    </div>
    <div class="col-md-4 col-6">
      <h5 class="font-weight-bold mb-5 silverNoTincludedAfter">COSA NON &Egrave; COMPRESO</h5>
    </div>
  </div>
</section>

<section class="rightArrow container-fluid mt-5">
  <div class="row justify-content-center pt-4 pb-4 arrow_box">
    <div class="col-md-4 col-6">
      <h5 class="font-weight-bold mb-5 goldIncludedAfter">COSA &Egrave; COMPRESO</h5>
    </div>
    <div class="col-md-4 col-6">
      <h5 class="font-weight-bold mb-5 goldNoTincludedAfter">COSA NON &Egrave; COMPRESO</h5>
    </div>
  </div>
</section>