
  <h4 class="step-title">{{productName}}: AGGIUNGI LE COPERTURE CHE VUOI ATTIVARE</h4>
  <div *ngFor="let addonCategory of activeAddonsFunctionalities | keyvalue">
    <h5 class="subtitle">{{addonCategory.key}}</h5>
    <div class="row">
      <div class="col-sm-12 col-lg-6 addon-container" *ngFor="let addon of addonCategory.value">
        <div class="addon-label" (click)="toggleAddon(addon, addonCategory.key)" [ngClass]="{'selected' : addon.selected, 'disabled': isDisabled(addon, addonCategory.key)}">
          <img src="{{addon.image.original_url}}" alt="{{addon.name}}">
        </div>
        <div class="addon-text">
          <p class="addon-name">{{addon.name}}</p>
          <p class="addon-tooltip"
             placement="bottom" 
             ngbTooltip="{{addon.description}}">i
          </p>
        </div>
      </div>
    </div>
  </div>
      