@import "sass/variables";

.btn-secondary {
    &.helbiz_db {
        background-color: $white;
        color: $primary-dark;
        border: 1px solid $primary-dark;
    }
    &.chebanca_db {
      font-weight: 700;
      color: $text-color;
      border: 1px solid $primary-dark;
    }
    &.banco-desio_db {
      border: 1px solid $grey-action;
      color: $grey-dark;
    }
    &.yolo-for-ski-gold, &.yolo-for-ski-platinum {
      font-size: 16px;
    }
}
.btn-primary {
    &.helbiz_db {
        background-color: $primary-dark;
    }
    &.chebanca_db {
      font-weight: 700;
      color: $text-color;
  }
    &.banco-desio_db {
      background-color: $primary-light;
      border: 1px solid $primary;
      color: $primary;
    }
    &.yolo-for-ski-gold, &.yolo-for-ski-platinum {
      font-size: 16px;
    }
}

.save-quotes-button{
  color: $primary;
  margin: 5px auto;
  width: 100%;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  text-align: center;
}

.button-multirisk{
  text-align: left;
  width: 100%;
  margin: auto;
}

.save-quotes-button{
  &.yolo-pmi_db{
    @media (min-width: 576px) and (max-width: 767px) {
      text-align: right!important;
    }
    @media (min-width: 992px) and (max-width: 1074px) {
      text-align: right!important;
    }
    @media (min-width: 1237px) {
      text-align: right!important;
    }
  }
}
.santa-lucia_db {
  font-family: $font-family !important;
  &.btn-secondary {
    background-color: #ffffff;
    border: 1px solid $primary;
    color: $primary;
    border-radius: 0;
    text-transform: capitalize;
  }
  &.btn-primary {
    background-color: $primary;
    color: $white;
    border-radius: 0;
    text-transform: capitalize;
    &:disabled {
      background-color: $gray-border;
    }
  }
  .input-wrapper {
    background-color: $white;
    border-radius: 0;
    border: 1px solid $gray-border;
    .label{
      color: $light-black;
    }
  }
  .form-control{
    font-size: 16px;
    font-weight: normal;
    color: $light-black;
    border-radius: 0;
  }
  .form-label-group > input:disabled{
    background-color: $disabled-field;
  }
  .form-label-group > input {
    border-radius: 0;
    border: 1px solid $gray-border;
  }
  .form-label-group > label {
    color: $light-black;
  }
}

