@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/variables";

.more-info-container {
  background-color: $grey-ligth;
  &.layout-banca-sella_db{
    &.ge-travel-plus, &.ge-holiday-house-plus{
      .container{
        @media (min-width: 1200px){
          max-width: 1140px !important;
          padding: 2rem 1rem !important;
        }
        @media (min-width: 992px) and (max-width: 1199.5px){
          max-width: 960px !important;
        }
        @media (min-width: 768px) and (max-width: 991.5px){
          max-width: 720px !important;
        }
        @media (min-width: 576px) and (max-width: 767.5px){
          max-width: 540px !important;
        }
      }
    }
  }
}

.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 1rem;
  @include media-breakpoint-up(xl) {
    padding-left: 0;
    padding-right: 0;
  }
}

.more-info-content {
  display: flex;
  flex-direction: column;

  p {
    margin-bottom: 1.5rem;
  }

  .title {
    color: $primary;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .more-info-description {
    font-size: 16px;

    ::ng-deep strong {
      color: $primary;
    }
  }
}
