<div class="container-fluid quotator">
  <div class="row">
    <div class="col-6">
      <h1>{{product.quotator_name}}</h1>
    </div>
  </div>
  <div *ngIf='!product.is_authorized'>
      <b>{{product.code_not_valid}}</b>
  </div>
  <div *ngIf='product.is_authorized'>
    <div class="row">
      <div class="col-12">
        <p [innerHTML]="product.description" class="product-description m-0"></p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-5 col-sm-6 col-md-5 col-lg-6">
        <span data-cy="quotator-basic__quotation-price-title" class="price-title">
          {{product.price_title}}
        </span>
      </div>
      <div class="col-7 col-sm-6 col-md-7 col-lg-6 price" data-cy="quotator-basic__quotation-price">
        <span class="canceled-price">{{ product.month_free }}</span>
      </div>
    </div>

    <div class="row">
      <div class="col-5 col-sm-6 col-md-5 col-lg-6 next-price-title">
        <span data-cy="quotator-basic__quotation-next-price-title">
          {{product.next_price_text}}
        </span>
      </div>
      <div class="col-7 col-sm-6 col-md-7 col-lg-6 next-price" data-cy="quotator-basic__quotation-next-price">
        <span class="canceled-price">{{ product.next_price }}</span>
      </div>
    </div>

    <div class="row" *ngIf="product.note">
      <div class="col-12">
        <p class="quotator-note">{{ product.note }}</p> 
      </div>
    </div> 
    
    <div class="row justify-content-center button-continue">
      <button class="col submit-btn" id="submit-test" (click)="checkout()"
        data-cy="quotator-basic__purchase-button">{{product.continue_button_label}}
      </button>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <a class="inf-package" href="{{ product.information_package }}" target="_blank"
          data-cy="quotator-basic__information-package" [innerHtml]="product.information_package_text">
        </a>
      </div>
    </div>
    <div class="collaboration">
      <p data-cy="quotator-basic__collaboration-provider">
        {{product.product_collaboration}}
      </p>
      <img [src]="product.provider_logo" [alt]="product.provider.name" data-cy="quotator-basic__image-provider">
    </div>
  </div>

</div>