@import '../../../../sass/variables';

#livechat {
  border-radius: 36px;
  border: 0px;
  background-color: $primary;
  position: fixed;
  z-index: 9000;
  padding-top: 30px;
  color: $white;
  font-size: 12px;
  width: 67px;
  height: 64px !important;
  bottom: 3%;
  right: 3%;
  box-shadow: 0px 5px 20px -1px black;
  background-repeat: no-repeat;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &.closed {
    background-image: url(../../../../assets/images/chat/icon-chat-desktop.png);
    background-size: 60%;
    background-position: 15px 12px;
  }
  &.opened {
    background-image: url(../../../../assets/images/chat/icon-close-chat-desktop.png);
    background-size: 30%;
    background-position: center;
  }
}

.logo-chat {
  background-image: url(../../../../assets/images/chat/logo_w.png);
  background-repeat: no-repeat;
  background-size: 20%;
  background-position-y: 22px;
  background-position-x: 15px;
  border-radius: 10px 10px 0px 0px;
}

.popup-box {
  border: solid 0.6px $primary-dark;
  background-color: $primary;
  bottom: -30px;
  display: none;
  height: 75vh;
  position: fixed;
  right: 25px;
  width: 35vw;
  z-index: 8000;
  padding-top: 75px;
  bottom: 7%;
  right: 5%;

  &.popup-box-on {
    display: block !important;
  }

  & .height-100x100 {
    height: 100% !important;
  }

  & .popup-head {
    background-color: $white;
    clear: both;
    color: $grey-dark;
    display: inline-table;
    font-size: 21px;
    width: 100%;
    font-family: Oswald;

    & .popup-messages {
      background: white none repeat scroll 0 0 !important;
      overflow: auto;

      & .iframe-livechat {
        width: 100%;
        height: 100%;
        border: none;
      }
    }
  }
}


