  <div class="col-lg-12 col-md-12 col-sm-6 col-6 popup-container">
    <button id="livechat" (click)="chatOpen()" [ngClass]="chatOpened ? 'opened' : 'closed'"></button>
    <div class="popup-box chat-popup logo-chat" id="qnimate" [ngClass]="chatOpened ? 'popup-box-on' : ''">
      <div class="popup-head height-100x100">
        <div class="popup-messages height-100x100">
          <iframe [src]="chatUrl | safe: 'resourceUrl'" class="iframe-livechat">
          </iframe>
        </div>
      </div>
    </div>
  </div>
