<div class="card" id="cardSport" xmlns:box-shadow="http://www.w3.org/1999/xhtml">
  <div class="card-body global-container" [ngStyle]="{'padding' : ((dataService.tenantInfo.tenant ==='imagin-es-es_db' || dataService.tenantInfo.tenant === 'santa-lucia_db') && product.product_code === 'chubb-deporte'
  || product.product_code === 'chubb-deporte-rec') ? '0.5rem 1.25rem': ''}" [ngClass]="dataService.tenantInfo.tenant">
    <div class="row text-center" [hidden]="(dataService.tenantInfo.tenant !== 'imagin-es-es_db' && dataService.tenantInfo.tenant !== 'santa-lucia_db')">
        <span class="col-12 product-name">{{ 'quotator.title_imagin' | translate | async }}</span>
        <span class="col-12 description mt-1">{{ 'quotator.description_imagin' | translate | async }}</span>
        <span class="col-12 card-section-title-imagin coverages-title" style="padding-top: 1rem;">{{ 'quotator.subtitle_imagin' | translate | async }}</span>
    </div>

    <div [hidden]="(dataService.tenantInfo.tenant === 'imagin-es-es_db' || dataService.tenantInfo.tenant === 'santa-lucia_db') && (product.product_code === 'chubb-deporte'
    || product.product_code === 'chubb-deporte-rec')"
    class="row mb-3 align-items-center justify-content-between">
      <h1 class="col product-name" data-cy="sport-quotator__product-header">{{product.name}}</h1>
      <div class="col product-icon-box text-right">
        <img alt="Yolo Sport" class="fp-image mb-3" [src]="getSmallImage(product.images)">
      </div>
    </div>
    <form #sportForm="ngForm">
      <div class="row" *ngIf="this.dataService.tenantInfo.tenant !== 'imagin-es-es_db'">
          <div class="col-12 input-wrapper mb-3">
            <select [(ngModel)]="sport" #selectSport="ngModel" name="selectSport" id="select-sport"
              data-cy="sport-quotator__select-sport"
              class="form-control" required >
              <option [ngValue]="null"></option>
              <option *ngFor="let sport of sports" [ngValue]="sport.value">
                {{ sport.description }}
              </option>
            </select>
            <label *ngIf="(dataService.tenantInfo.tenant !== 'imagin-es-es_db' && dataService.tenantInfo.tenant !== 'santa-lucia_db')" for="select-sport" class="form-control-placeholder pl-3" id="label-sport-select">{{ 'yolo_forms.choose_sport' | translate | async }}</label>
            <label *ngIf="dataService.tenantInfo.tenant === 'santa-lucia_db' && (product.product_code === 'chubb-deporte'
            || product.product_code === 'chubb-deporte-rec')" for="select-sport" class="form-control-placeholder pl-3" id="label-sport-select">{{ 'yolo_forms.choose_sport_imagin' | translate | async }}</label>
          </div>
        </div>
      <div class="row" *ngIf="this.dataService.tenantInfo.tenant === 'imagin-es-es_db'">
        <div class="col-12">
          <div class="input-wrapper mb-3">
            <select [(ngModel)]="sport" #selectSport="ngModel" name="selectSport" id="select-sport"
              data-cy="sport-quotator__select-sport"
              class="form-control" required>
              <option [ngValue]="null"></option>
              <option *ngFor="let sport of sports" [ngValue]="sport.value">
                {{ sport.description }}
              </option>
            </select>
            <label *ngIf="product.product_code === 'chubb-deporte' || product.product_code === 'chubb-deporte-rec'"
              for="select-sport" class="form-control-placeholder pl-3" id="label-sport-select">
                {{ 'yolo_forms.choose_sport_imagin' | translate | async }}
            </label>
          </div>
        </div>
    </div>

      <div class="row">
        <div class="mb-4 col-12 select-container">
          <div class="row select-age-cont form-label-group">
            <input (click)="toggleAgeSelection(); rotateArrowSelect();"
              [ngClass]="{'valid-age-selection': agesUpdated !== '',
                          'animate' : rotated}"
              data-cy="sport-quotator__select-insureds-age"
              class="form-control select-age" placeholder="Indica l'eta di ogni assicurato*"
              name="selectAge" #selectAge="ngModel" [(ngModel)]="agesUpdated" required readonly>
              <div class="dropdown-icon" id="select-age-sport"></div>
              <label *ngIf="(dataService.tenantInfo.tenant !== 'imagin-es-es_db'  && dataService.tenantInfo.tenant !== 'santa-lucia_db')" for="{{'select-age' + product.id}}">{{ 'yolo_forms.insured_age' | translate | async }}</label>
              <label *ngIf="(dataService.tenantInfo.tenant === 'imagin-es-es_db' || dataService.tenantInfo.tenant === 'santa-lucia_db') && (product.product_code === 'chubb-deporte'
              || product.product_code === 'chubb-deporte-rec')" for="{{'select-age' + product.id}}">{{ 'yolo_forms.insured_age_imagin' | translate | async }}</label>
          </div>
          <div *ngIf="showAges" class="row select-age-cont form-label-group">
            <app-age-selector [maxInsured]="product.maximum_insurable" [ageList]="agesList"
                              [productCode]="product.product_code"
                              (update)="onAgeSelectionUpdate($event)"
                              (confirm)="toggleAgeSelection(); calculatePrice(); rotateArrowSelect()">
            </app-age-selector>
          </div>
        </div>
      </div>

      <div *ngIf="dataService.tenantInfo.tenant === 'santa-lucia_db'"
        class="row justify-content-end mandatory-label">
        {{'quotator.mandatory_fields' | translate | async}}
      </div>

      <div [hidden]="dataService.tenantInfo.tenant !== 'imagin-es-es_db' && dataService.tenantInfo.tenant !== 'santa-lucia_db'" [ngClass]="dataService.tenantInfo.tenant === 'santa-lucia_db' ? 'row' : ''"  class="card-section-title-imagin coverages-title">
         <span  style="padding-bottom: 5px;">{{ 'quotator.coverages' | translate | async }}</span>
      </div>
        <!-- CODICE IMAGIN -->
        <div *ngIf="addons.length > 0 && (dataService.tenantInfo.tenant === 'imagin-es-es_db' || dataService.tenantInfo.tenant === 'santa-lucia_db') && (product.product_code === 'chubb-deporte'
          || product.product_code === 'chubb-deporte-rec')" style="padding-bottom: 30px;">
          <p  class="card-section-title" [attr.data-cy]="'sport-quotator__addons-label'">
            {{ 'quotator.optional_coverage' | translate | async }}
          </p>
            <div *ngFor="let addon of addons">
              <div class="row" style="margin-top: 10px;">
                <div class="addon-img-container" [ngStyle]="{'background-color': addon.selected ? '#4A90E280' : '#f5f3f3'}">
                  <img src="{{(addon.addon.image || {}).original_url}}" alt="sport equip" class="addon-image">
                </div>
                <div class="ml-2">
                  <div class="row align-items-end">
                    <div style="width: 205px;" class="text-left col" [attr.data-cy]=" 'sport-quotator' | cy:addon.addon.code:'name'">
                      <span class="addon-santa-lucia"> {{addon.addon.name}}</span>
                    </div>
                    <div class="info-icon-container">
                      <span class="info-icon text-center js-addon-description addon-tooltip d-flex justify-content-center align-items-center rounded-circle mt-1"
                      placement="left" (click)="openTooltip(t1, addon.addon.description)" #t1="ngbTooltip" [ngbTooltip]="addon.addon.description">i</span>
                    </div>
                  </div>
                  <div class="row btn-add-addon-container">
                    <div class="col-3 btn-width">
                      <button  class="btn-add-addon" [attr.data-cy]=" 'sport-quotator' | cy:addon.addon.code:'button' "
                        (click)="toggleSelectionAddons(addon)" [ngClass]="{'selected' : addon.selected}">
                        <input type="checkbox" hidden class="check_boxes optional js-addon js-quotation-trigger"
                          data-price="0.0" data-code="sport">
                      </button>
                    </div>
                    <!-- TODO: sostituire con contenuto da kentico -->
                    <span [ngClass]="dataService.tenantInfo.tenant === 'santa-lucia_db' ? 'card-section-title-santa-lucia' : 'card-section-title-imagin'" style="font-size: 12px" (click)="toggleSelectionAddons(addon)">{{!addon.selected ? 'Añadir cobertura' : 'Quitar cobertura'}}</span>
                  </div>
                </div>
              </div>
            </div>
        </div>

      <!-- CODICE ALTRI TENANAT -->
      <div *ngIf="addons.length > 0 && dataService.tenantInfo.tenant !== 'imagin-es-es_db' && dataService.tenantInfo.tenant !== 'santa-lucia_db'">
        <p  class="card-section-title" [attr.data-cy]="'sport-quotator__addons-label'">
          {{ 'quotator.optional_coverage' | translate | async }}
        </p>
        <div class="row addons chubb-addons addons-container">
          <div class="col-12 form-group optional order_line_items_addons addons-container row">
            <span class="col-12 col-sm-6 col-md-12 col-lg-6 checkbox d-flex align-items-center my-2 single-addon"
              *ngFor="let addon of addons">
              <button [attr.data-cy]=" 'sport-quotator' | cy:addon.addon.code:'button' "
              type="button" (click)="toggleSelectionAddons(addon)" [ngClass]="{'selected' : addon.selected}"
                class="toggle-select js-addon-label addon-label position-relative d-flex justify-content-center align-items-center rounded-circle mb-0">
                <input type="checkbox" hidden class="check_boxes optional js-addon js-quotation-trigger"
                  data-price="0.0" data-code="sport">
                <img src="{{(addon.addon.image || {}).original_url}}" alt="sport equip" class="addon-image">
              </button>
              <div class="addon-text ml-3 desktop-tooltip">
                <p class="js-copy-addon-name copy-addon-name text-left mt-1"
                   [attr.data-cy]=" 'sport-quotator' | cy:addon.addon.code:'name'">
                  {{addon.addon.name}}
                </p>
                <span
                  class="js-addon-description addon-tooltip d-flex justify-content-center align-items-center rounded-circle mt-1 info-icon"
                  placement="auto" ngbTooltip="{{addon.addon.description}}">
                  i
                </span>
                <div class="addon-description">
                  <p>{{addon.addon.description}}</p>
                </div>
              </div>
              <div class="addon-text ml-3 mobile-tooltip">
                <p class="js-copy-addon-name copy-addon-name text-left mt-1"
                   [attr.data-cy]=" 'sport-quotator' | cy:addon.addon.code:'name'">
                  {{addon.addon.name}}
                </p>
                <span
                  class="js-addon-description addon-tooltip d-flex justify-content-center align-items-center rounded-circle mt-1 info-icon"
                  placement="auto" ngbPopover="{{addon.addon.description}}">
                  i
                </span>
                <div class="addon-description">
                  <p>{{addon.addon.description}}</p>
                </div>
              </div>
            </span>
          </div>
        </div>
      </div>
      <div class="row mb-1" *ngIf="variants.length > 0">
        <div class="col-12">
          <p [ngClass]="[((dataService.tenantInfo.tenant ==='imagin-es-es_db'
                        || dataService.tenantInfo.tenant === 'santa-lucia_db')
                        && product.product_code === 'chubb-deporte'
                        || product.product_code === 'chubb-deporte-rec')
                        ? 'card-section-title-imagin coverages-title'
                        : 'card-section-title',
                        dataService.tenantInfo.tenant === 'santa-lucia_db'
                        ? 'row' : '']"
             data-cy="sport-quotator__package-type-label">
            {{'quotator.package_type' | translate | async}}
          </p>
          <div class="row mb-2">
            <div class="choice" *ngFor="let variant of variants" [ngClass]="product.product_code === 'chubb-sport' ? 'col-auto' : 'col-md-4'">
              <a class="btn package-btn" [ngClass]="[ variant.active ? 'selected': '']"
                 [attr.data-cy]=" 'sport-quotator' | cy:variant.name:'button' "
                (click)="setPackage(variant)">{{variant.option_values[0].presentation}}</a>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row purchase">
        <div
          class="col-12 text-center col-sm-5 text-sm-left col-md-12 text-md-center col-lg-5 text-lg-left font-weight-bold">
          <span class="purchase-price js-price d-inline"
                data-cy="sport-quotator__quotation-price">
            {{price | currency}}
          </span>
        </div>
        <div class="col-12 text-center col-sm-7 text-sm-right col-md-12 text-md-center col-lg-7 text-lg-right">
          <button class="btn-animation" id="submit-test" [disabled]="isInvalid()" (click)="checkout()"
                  data-cy="sport-quotator__purchase-button">
            {{'buttons.purchase' | translate | async}}
          </button>
        </div>
      </div>
    </form>
    <div class="row mt-4">
      <div class="col-12 text-center product-download">
        <a class="inf-package" href="{{ product.information_package }}" target="_blank"
           data-cy="das-quotator__information-package">
          {{'quotator.information_package_2' | translate | async}}
        </a>
      </div>
    </div>
    <div class="row justify-content-center align-items-center mt-2">
      <div [hidden]="dataService.tenantInfo.tenant === 'santa-lucia_db'" class="col-12 provider-text text-center" data-cy="das-quotator__collaboration-provider">
        {{'quotator.product_collaboration_chubb' | translate | async}}
      </div>
      <div [hidden]="dataService.tenantInfo.tenant === 'santa-lucia_db'" class="text-center provider-text" data-cy="das-quotator__collaboration-provider-2">
        {{'quotator.product_collaboration_2' | translate | async}}
      </div>
      <div class="col-auto text-center">
        <div class="provider-logo" [hidden]="dataService.tenantInfo.tenant === 'santa-lucia_db'">
         <a *ngIf="product.product_code === 'chubb-deporte'
         || product.product_code === 'chubb-deporte-rec'" href="https://segurospersonales.chubbinsured.com/">
          <img [src]="product.provider.image_url"  [alt]="product.provider.name" data-cy="das-quotator__image-provider">
         </a>
         <div *ngIf="product.product_code === 'chubb-sport'">
          <img [src]="product.provider.image_url"  [alt]="product.provider.name" data-cy="das-quotator__image-provider">
         </div>
        </div>
      </div>
    </div>
  </div>
</div>
