@import '../../../../sass/variables';

::ng-deep.what-to-know-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;

  h1 {
    color: $title-color-dark;
    font: 31px Roboto, sans-serif;
    font-weight: bold;
    margin: 0 0 32px;
  }

  h2{
    color: $section-title-color;
    margin: 0 0 32px;
  }

  p {
    font: 16px Roboto, sans-serif;
    color: $grey-dark;;
    margin: 0 0 16px;
  }

  ul {
    margin: 0 0 16px;
    padding: 0 0 0 16px;
    color: $grey-dark;
  }

  .middle-container {
    position: relative;
    top: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
  }
  
  a, a:hover {
    color: $primary-title-color;
    text-decoration: unset;
    cursor: pointer;
  }

}
