@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/variables";

.how-works-table-slider-container {
  padding-top: 3.5rem;
  padding-bottom: 3rem;
  &.layout-chebanca_db {
    padding-top: 3rem;
    padding-bottom: 0;
    .container {
      margin-left: auto;
      margin-right: auto;
      max-width: 1024px;
      @include media-breakpoint-up(xl) {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .text-container {
      padding-top: 0.5rem;
      margin-bottom: 0.5rem;
      .title {
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0;
      }
      .how-works-description {
        margin-bottom: 1rem;
      }
    }
  }
}
.text-container {
  margin-bottom: 1rem;
  .title {
    color: $section-title-color;
  }
}
.table-card {
  margin-top: 3rem;
  padding: 15px 5px;
  border: 1px solid #ccc;
  background: #fff;
  position: relative;
}

::ng-deep {
  .slide-column {
    margin-bottom: 3rem;
  }
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    display: flex;
    min-height: 535px;
  }
}

::ng-deep.carousel {
  outline: none;
  &:focus {
    outline: none;
  }
}

.item-list {
  list-style-type: none;
  padding: 0 0 0 20px;
}

.primary-item {
  padding-left: 10px;
  ::ng-deep p {
    margin: 0.5rem;
  }
}

.primary-item::marker {
  font-family: "Font Awesome 5 Free";
  color: #74bd3f;
  content: "\f00c";
  font-size: 18px;
  display: block;
  position: absolute;
  font-weight: 900;
  left: -30px;
  top: -3px;
}

.carousel-inner .carousel-item-left.active {
  transform: translateX(-50%);
}
.carousel-inner .carousel-item-right.active {
  transform: translateX(50%);
}
.carousel-inner .carousel-item-next {
  transform: translateX(50%);
}
.carousel-inner .carousel-item-prev {
  transform: translateX(-50%);
}
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);
}
