@import "../../../../sass/variables";

h4,
h6 {
  color: #fff;
}

.varianti {
  .text-basic-blue {
    color: $primary-dark;
  }
  h6.text-basic-blue.font-weight-bold.text-uppercase {
    font-size: 34px;
  }
  .card {
    height: 36em;
  }
  img {
    vertical-align: unset;
  }
  .compreso {
    @media (max-width: 992px) {
      display: none;
    }
    h6 {
      color: $primary-dark;
      text-decoration: underline;
    }
    h6:hover {
      cursor: pointer;
    }
    .included {
      text-decoration: unset;
      color: #4a4a4a;
    }
  }
  .font-name {
    font-size: 24px;
  }
  .starting-price {
    margin: 5px 0 0 5px;
    font-size: 18px;
    font-weight: 300;
  }
  .inf-package {
    float: right;
    text-decoration: underline;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
  }
  .card-footer {
    background-color: $primary-dark;
    h4 {
      font-weight: 700;
      font-size: 30px;
    }
  }
  .padding-card {
    padding: 5% 10%;
  }
}
