@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/_variables.scss";

.title{
  font-weight: bold;
  font-size: 16px;
  color: #1f1f1f;

}

.subtitle p{
  text-align: center;
  margin-top: 14px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding: 1rem;
  align-items: center;

}

.submit-btn {
  text-transform: uppercase;
  outline: 0;
  border: none;
  border-radius: 40px;
  width: 20%;
  padding: 12px 0;

  &.back {
    background-color: white;
    color: $btn-text-color;
    text-transform: capitalize;
  }

  &.buy {
    border-radius: 0;
    height: 48px;
    background: var(--btn-text-color, #eee);
    color: #ffffff;
    max-width: 500px;
    font-weight: normal;
    cursor: pointer;
    &:disabled {
      opacity: 0.5;
      cursor: default;
    }
  }
}

#insured-subjects-component::ng-deep {
  h4.step-title {
    display: none;
  }
}