@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/_variables.scss";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5rem 1.3rem 2rem 1.3rem;

  .image-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .title {
    text-align: center;
    color: $grey-dark;
    font-weight: 600;
    font-size: 27px;
  }

  .description {
    text-align: center;
    color: $grey-dark;
  }

  .retry-push-notification {
    padding-top: 1.5rem;
    color: $primary;
    font-weight: 500;
    cursor: pointer;
  }
}
