@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";

@import "sass/variables";

.addon-container {
  display: flex;
  flex-direction: column;
  border: solid 2px $primary;
  color: $primary;
  background-color: $white;
  margin-bottom: 1.5rem;
  &.selected {
    background-color: #e4efff;
  }
  .addon-header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    background-color: $primary;
    img {
      max-width: 2rem;
    }
    .name {
      font-weight: bold;
      font-size: 1rem;
      width: 100%;
      text-align: center;
      margin-right: 2rem;
    }
  }
  .damage-form {
    color: $black;
    align-items: center;
    display: flex;
    flex-direction: column;
    @media (min-width: 992px) {
      flex-direction: row;
      padding: 0 1.5rem;
      .option {
        margin: 0 0.5rem;
      }
    }
    .option {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      border: solid 2px $black;
      padding: 0.5rem;
      align-self: center;
      background-color: $white;
      .label {
        font-size: 1.25rem;
        width: calc(100% - 4.5rem);
        text-align: center;
        margin-right: 2.5rem;
      }
      .checkbox {
        position: relative;
        height: 2.5rem;
        width: 2.5rem;
        border: solid 2px $btn-text-color;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          color: $btn-text-color;
          display: none;
        }
      }
      input:checked + .checkbox {
        i {
          display: block;
        }
      }
    }
  }
  .catnat-form {
    display: flex;
    flex-direction: column;
    @media (min-width: 992px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .tim-form-label-group {
      width: 90%;
      align-self: center;
      position: relative;
      margin-bottom: 1rem;
      @media (min-width: 992px) {
        width: auto;
      }
      & > input, > select {
        border: 2px solid $btn-text-color;
        background: $white;
        border-radius: 0;
        padding: 0 0 0 1rem;
        font-size: 1rem;
      }
      & > label {
        position: absolute;
        top: -0.5rem;
        left: 0.5rem;
        font-size: 0.9rem;
        background: $white;
        width: auto;
        color: $btn-text-color;
        border-radius: 0;
        padding: 0 5px 0 5px;
        height: min-content;
        z-index: 99;
        margin: 0 0 0 calc(0.5rem - 5px);
      }
      select:disabled {
        opacity: 0.5;
      }
    }
    &+line {
      width: 90%;
      align-self: center;
      background-color: $primary;
      margin: 1rem 0;
      height: 3px;
    }

    @media (min-width: 992px) {
      flex-direction: row;
      padding: 0 1.5rem;
      .tim-form-label-group {
        margin: 0.5rem;
      }
      label {
        font-size: 0.8rem;
        width: max-content;
      }
    }
  }
  .price {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem 0;
  }
  .added-by-users {
    width: 80%;
    align-self: center;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 0.9rem;
  }
  .add-remove-button {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    border: solid 2px $btn-text-color;
    padding: 0.5rem;
    align-self: center;
    margin-bottom: 1rem;
    background-color: $white;
    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
    @media (min-width: 992px) {
      width: 50%;
    }
    .label {
      font-size: 1rem;
      width: calc(100% - 4.5rem);
      text-align: center;
      margin-right: 2.5rem;
      color: $btn-text-color;
      text-transform: uppercase;
    }
    .icon-button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2.5rem;
      width: 2.5rem;
      background-color: $btn-text-color;
      i {
        color: $white;
      }
    }
    span {
      text-transform: uppercase;
    }
  }
  .details {
    cursor: pointer;
    width: max-content;
    align-self: center;
    text-decoration: underline;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    color: $btn-text-color;
    text-align: center;
  }
  .title {
    margin: 1rem 0;
    font-size: 1.25rem;
    color: $black;
    text-align: center;
    margin-top: 1rem;
  }
  .addon-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (min-width: 992px) {
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: 0 2rem;
    }
  }
}

.buttons {
  flex-direction: column;
  padding: 0 1rem;
  .submit-btn {
    background-color: $btn-text-color;
    text-transform: uppercase;
    color: $white;
    padding: 1rem 0;
    font-size: 1rem;
    border: none;
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
  .link {
    color: $btn-text-color;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1.5rem;
  }
}

::ng-deep {
  .modal-content {
    height: 70vh;
  }
}
