@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";

@import "~sass/variables";

:host ::ng-deep #covea-tires-covered-homage-step-info {
  .step-title {
    text-transform: uppercase;
    font-weight: bold;
  }
}