<div class="row title-new-checkout mb-1" *ngIf="tenant === 'bancapc-it-it_db'">
  <div class="col-12 pt-3 d-flex justify-content-between">
    <h3 class="step-title">{{'checkout_bike.step_insurance_info.insurance_data.text.value' | translate | async}}</h3>
  </div>
</div>
<app-checkout-card-recap [product]="product"
                         *ngIf="tenant !== 'bancapc-it-it_db'">
</app-checkout-card-recap>
<div *ngIf="tenant !== 'bancapc-it-it_db'">
  <hr/>
</div>
<app-checkout-card-period #periodCard
                          [hidden]="tenant === 'bancapc-it-it_db'"
                          [period]="product"
                          [duration]="product.duration"
                          [durationUnit]="product.durationUnit"
                          [startDateEnabled]="false"
                          [endDateEnabled]="false">
</app-checkout-card-period>

<app-checkout-card-insured-subjects #insuredSubjectsCard
                                    [insuredIsContractor]="product.insuredIsContractor"
                                    [insuredSubjects]="product.insuredSubjects"
                                    [numberOfSubjects]="product.quantity"
                                    [hideFamilyGrade]="false"
                                    [extended]="false"
                                    [minAgeBirthDate]="minAgeBirthDate">
</app-checkout-card-insured-subjects>

<div class="row" *ngIf="showConsent">
  <div class="privacy-consent-flag col-12">
    <h3 class="subtitle">
      {{'checkout_bike.step_insurance_info.privacy_flag_title.text' | translate | async }}
    </h3>
  </div>
  <app-consent-form #consent [showPrivacy]="true"></app-consent-form>
</div>

