<div class="how-works-container container-fluid discover"
     [ngClass]="dataService.tenantInfo.main.layout && dataService.tenantInfo.tenant">
  <div class="row m-0 justify-content-center">
    <h3 class="col-md-10 container-960 font-weight-bold how-works-title" [ngClass]="dataService.tenantInfo.tenant">{{howWorks.title}}</h3>
  </div>
  <div class="row m-0 justify-content-center">
    <div *ngFor="let step of howWorks.steps; let i = index" class="col-sm-12 col-md-3 step">
      <div class="margin-color"></div>
      <div class="step-content">
        <img src="{{step.image}}" alt="icon" class="icon accedi mb-4">
        <h5 class="title" [ngClass]="dataService.tenantInfo.tenant">{{ step.title | uppercase}}</h5>
        <h6 class="description" [innerHTML]="step.description"></h6>
      </div>
    </div>
  </div>
</div>
