@import "../../../../../sass/variables";

.discover.y {
  background: url(../../../../../assets/images/icons/righttower.svg) right bottom -1rem, url(../../../../../assets/images/icons/lefttower.svg) left bottom -1rem;
  background-size: contain, 100px;
  background-repeat: no-repeat;
  padding: 0rem 1.5rem 2.5rem 1.5rem;
  margin-top: 0 !important;
  .global-title{
    margin-bottom: 3rem;
    margin-left: 9rem;
    color: $title-color-dark;
  }
  .title{
    max-width: 150px;
    margin: 0.5rem auto 1rem;
  }
  .description{
    font-weight: normal;
    font-size: 14px;
    color: $grey-dark;
    padding: 0rem 1rem;
    line-height: 18px;
  }
  h3 {
    margin-bottom: 3rem;
    color: $title-color-dark;
  }
}
.discover.cb,
.discover.ril {
  background-color: $grey-ligth;
  padding-bottom: 2rem;
  margin-top: 1.5rem;
  .global-title{
    text-align: center;
    color: #000000;
    margin-bottom: 2rem;
    padding-top: 3rem;
    font-size: 28px;
    font-weight: bold;
  }
  .title{
    color: $text-color!important;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    max-width: 145px;
  }
  .description{
    font-family: 'din';
    color: $grey-dark;
    font-size: 14px;
    padding: 5px 25px;
    line-height: 20px;
  }
  h3 {
    text-align: center;
    padding-top: 3rem;
    margin-bottom: 2rem;
    font-size: 28px;
    color: $black;
  }
  & .row.justify-content-center{
    & > .step:last-child{
      & .title {
        max-width: 100px;
      }
    }
  }
}

.discover.pc,
.discover.cvb {
  padding-bottom: 3rem;
  margin-top: -2rem;
  .step-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    .icon {
      margin-bottom: 0!important;
      height: auto;
      width: 100px;
    }
    .title {
      font-weight: bold;
      max-width: 190px;
      color: $text-color;
      padding: 1.5rem 0 1rem;
      margin: 0;
    }
    .description {
      font-weight: normal;
      font-size: 15px;
      line-height: 1.2;
      color: $grey-dark;
      padding: 0 1rem ;
    }
  }
  & .row.justify-content-center{
    & > .step:last-child{
      & .icon {
        width: 80px;
      }
    }
  }
  h3 {
    text-align: center;
    padding-top: 3rem;
    margin-bottom: 3rem;
    font-size: 32px;
    color: $text-color;
    text-transform: uppercase;
  }
}

.discover.cvb {
  h3, .step-content .title {
    font-family: 'HK Grotesk';
  }
}

.discover.banco-desio_db,
.discover.civibank_db{
  .description{
    text-align: left;
  }
}

@media (max-width: 768px) {
  .discover.y {
    background: none;
  }
}

.justify-content-center, #sticky-footer .cart .purchase-description .item-label.item-list {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.step {
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: relative;
  padding: 2rem;
  margin: 0.5rem;
  max-width: 400px;
}

.step-content {
  h5 {
    color: $primary;
  }
}

.margin-color {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: $primary;
  height: 100%;
  width: 7px;
  border-radius: 100rem;
  float: left;
}


.icon {
  width: 80px;
  height: 80px;
}

.how-works-container{
  &.banco-desio_db{
    margin-bottom: 40px;
  }
  &.chebanca_db {
    background: $grey-ligth;
    padding: 3rem 0 3rem 0;
  }
}

.title{
  &.chebanca_db {
    color: #4a4a4a !important;
    font-weight: bold;
  }
}

.how-works-title {
  &.chebanca_db {
    font-size: 28px;
    padding-bottom: 1.5rem;
  }
}




