<div class="card user-details-container container-960" [ngClass]="dataService.tenantInfo.main.layout">
  <h3 class="user-detail-title">{{ 'private_area.my_data' | translate | async }}</h3>
  <div class="user-detail mt-4">
    <form [formGroup]="userDetailsForm" (ngSubmit)="submit()">

      <div class="row">
        <div class="col-12 col-sm-6 mb-3 tim-form-label-group" [ngClass]="getFormFieldErrorClass('firstname')">
          <input type="text" id="firstname" class="form-control" formControlName="firstname">
          <label for="firstname">{{ 'forms.name' | translate | async }}</label>
          <div class="error-message" [hidden]="showFormFieldError('firstname')">
            {{ 'forms.mandatory_field' | translate | async }}
          </div>
        </div>
        <div class="col-12 col-sm-6 mb-3 tim-form-label-group" [ngClass]="getFormFieldErrorClass('lastname')">
          <input type="text" id="lastname" formControlName="lastname" class="form-control">
          <label for="lastname">{{ 'forms.surname' | translate | async }}</label>
          <div class="error-message" [hidden]="showFormFieldError('lastname')">
            {{ 'forms.mandatory_field' | translate | async }}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-6 mb-3 tim-form-label-group" [ngClass]="getFormFieldErrorClass('birthCountry')">
          <input id="birthCountry" type="text" class="form-control" formControlName="birthCountry" *ngIf="lockedData">
          <select id="birthCountry" class="form-control arrow-select input-padding" formControlName="birthCountry"
            *ngIf="!lockedData">
            <option value="" class="placeholder"></option>
            <option *ngFor="let country of countries; index as i" [value]="i">{{ country.name }}</option>
          </select>
          <label for="birthCountry">{{ 'forms.birth_country' | translate | async }}</label>
          <div class="error-message" [hidden]="showFormFieldError('birthCountry')">
            {{'forms.mandatory_field' | translate | async }}
          </div>
        </div>
        <div class="col-12 col-sm-6 mb-3 tim-form-label-group" [ngClass]="getFormFieldErrorClass('birthState')">
          <input id="birthState" type="text" class="form-control" formControlName="birthState" *ngIf="lockedData">
          <select id="birthState" class="form-control arrow-select input-padding" formControlName="birthState"
            *ngIf="!lockedData">
            <option value="" class="placeholder"></option>
            <option *ngFor="let state of birthStates; index as i" [value]="i">{{ state.name }}</option>
          </select>
          <label for="birthState">{{ 'forms.birth_state' | translate | async }}</label>
          <div class="error-message" [hidden]="showFormFieldError('birthState')">
            {{ 'forms.mandatory_field' | translate | async }}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-6 mb-3 tim-form-label-group" [ngClass]="getFormFieldErrorClass('birthCity')">
          <input id="birthCity" type="text" class="form-control" formControlName="birthCity" *ngIf="lockedData">
          <select id="birthCity" class="form-control arrow-select input-padding" formControlName="birthCity"
            *ngIf="!lockedData">
            <option value="" class="placeholder"></option>
            <option *ngFor="let city of birthCities; index as i" [value]="i">{{ city.name }}</option>
          </select>
          <label for="birthCity">{{ 'forms.birth_city' | translate | async }}</label>
          <div class="error-message" [hidden]="showFormFieldError('birthCity')">
            {{ 'forms.mandatory_field' | translate | async }}
          </div>
        </div>
        <div class="col-12 col-sm-6 mb-3 tim-form-label-group" [ngClass]="getFormFieldErrorClass('birthDate')">
          <input id="birthDate" type="text" class="form-control" formControlName="birthDate">
          <label for="birthDate">{{ 'forms.birthdate' | translate | async }}</label>
          <div class="error-message" [hidden]="showFormFieldError('birthDate')">
            {{ 'forms.mandatory_field' | translate | async }}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-6 mb-3 tim-form-label-group" [ngClass]="getFormFieldErrorClass('taxcode')">
          <input id="taxcode" type="text" class="form-control" formControlName="taxcode" [pattern]="fiscalCodePattern">
          <label for="taxcode">{{ 'forms.fiscal_code' | translate | async }}</label>
          <div class="error-message" [hidden]="showFormFieldError('taxcode')">
            {{ 'forms.mandatory_field' | translate | async }}
          </div>
          <div class="error-message" [hidden]="showFormFieldPatternError('taxcode')">
            {{ 'forms.wrong_format' | translate | async }}
          </div>
        </div>
        <div class="col-12 col-sm-6 mb-3 tim-form-label-group" [ngClass]="getFormFieldErrorClass('residentialAddress')">
          <input id="residentialAddress" type="text" class="form-control" formControlName="residentialAddress">
          <label for="residentialAddress">{{ 'forms.address' | translate | async }}</label>
          <div [hidden]="showFormFieldError('residentialAddress')" class="error-message">
            {{ 'forms.mandatory_field' | translate | async }}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-6 mb-3 tim-form-label-group" [ngClass]="getFormFieldErrorClass('residentialCountry')">
          <select readonly id="residentialCountry" class="form-control arrow-select input-padding"
            formControlName="residentialCountry">
            <option [value]="defaultCountry" class="placeholder">{{ defaultCountry.name }}</option>
          </select>
          <label for="residentialCountry">{{ 'forms.residential_country' | translate | async }}</label>
          <div class="error-message" [hidden]="showFormFieldError('residentialCountry')">
            {{ 'forms.mandatory_field' | translate | async }}
          </div>
        </div>
        <div class="col-12 col-sm-6 mb-3 tim-form-label-group" [ngClass]="getFormFieldErrorClass('residentialState')">
          <select id="residentialState" class="form-control arrow-select input-padding"
            formControlName="residentialState">
            <option value="" class="placeholder"></option>
            <option *ngFor="let state of states; index as i" [value]="i">{{ state.name }}</option>
          </select>
          <label for="residentialState">{{ 'forms.residential_state' | translate | async }}</label>
          <div class="error-message" [hidden]="showFormFieldError('residentialState')">
            {{ 'forms.mandatory_field' | translate | async }}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-6 mb-3 tim-form-label-group"
          [ngClass]="{'error-field': zipcode.invalid && zipcode.touched }">
          <input maxlength="5" id="zipcode" type="text" class="form-control" formControlName="zipcode">
          <label for="zipcode">{{ 'forms.cap' | translate | async }}</label>
          <div class="error-message" [hidden]="showFormFieldError('zipcode')">
            {{ 'forms.mandatory_field' | translate | async }}
          </div>
        </div>
        <div class="col-12 col-sm-6 mb-3 tim-form-label-group" [ngClass]="getFormFieldErrorClass('residentialCity')">
          <select id="residentialCity" class="form-control arrow-select input-padding"
            formControlName="residentialCity">
            <option value="" class="placeholder"></option>
            <option *ngFor="let city of cities; index as i" [value]="i">{{ city.name }}</option>
          </select>
          <label for="residentialCity">{{ 'forms.residential_city' | translate | async }}</label>
          <div class="error-message" [hidden]="showFormFieldError('residentialCity')">
            {{ 'forms.mandatory_field' | translate | async }}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-6 mb-3 tim-form-label-group" [ngClass]="getFormFieldErrorClass('email')">
          <input type="email" class="form-control" formControlName="email" id="email">
          <label for="email">{{ 'forms.email' | translate | async }}</label>
          <div class="error-message" [hidden]="showFormFieldError('email')">
            {{ 'forms.mandatory_field' | translate | async }}
          </div>
        </div>
        <div class="col-12 col-sm-6 mb-3 tim-form-label-group" [ngClass]="getFormFieldErrorClass('phoneNumber')">
          <input id="phoneNumber" type="text" class="form-control" formControlName="phoneNumber">
          <label for="phoneNumber">{{ 'forms.telephone_number' | translate | async }}</label>
          <div class="error-message" [hidden]="showFormFieldError('phoneNumber')">
            {{ 'forms.mandatory_field' | translate | async }}
          </div>
        </div>
      </div>

      <ng-container class="consent-form">
        <app-consent-form #consent [showPrivacy]="false" (choosenConsentForm)="userAcceptances = $event;"
          [userConsent]="user.user_acceptances">
        </app-consent-form>
      </ng-container>

      <div class="row mt-4 feedback-zone" [ngClass]="{ error: errorMessage }">
        <div class="col-12">
          {{ success ? ('private_area.save_success' | translate | async) : errorMessage }}
          <span *ngIf="errorDetails" class="js-addon-description addon-tooltip badge badge-warning" placement="auto"
            ngbTooltip="{{ errorDetails }}">
            ?
          </span>
        </div>
      </div>
      <div class="row mt-2 justify-content-center" [ngClass]="dataService.tenantInfo.main.layout">
        <button class="btn btn-primary save-button col-4 col-sm-3 col-md-2" type="submit">{{ 'buttons.save' | translate
          | async }}</button>
      </div>
    </form>
  </div>
</div>