@import '~sass/variables';

.user-detail {
  width: 100%;
  background-color: $white;
  box-shadow: 5px 5px 20px -5px rgba(2, 9, 17, 0.7);
  padding: 20px;

  &-title {
    margin: 0;
    color: $primary;
  }

  .form-control {
    line-height: 30px;
    &:disabled {
      opacity: 0.5 !important;
    }
  }

  .save-button {
    color: $white;
    background-color: $primary;
    border-radius: 0;
    text-align: start;
    padding: 0 0 0 2rem;
    min-width: 150px;
    &::after {
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      top: 13px;
      left: 6rem;      
      background: url(~assets/images/icons/icon-arrow-right-thin-white.svg);
    }
  }

  .tim-form-label-group {
    &.error-field {
      label {
        color: $red;
      }
      input, select {
        border-color: $red;
      }
    }
    & > input, > select {
      border: 1px solid $primary;
      background: $white;
      border-radius: 0;
      padding: 0 0 0 1rem;
      font-size: 1rem;
    }
    & > label {
      position: absolute;
      font-size: 0.9rem;
      background: $white;
      top: -0.5rem;
      left: 1.5rem;
      width: auto;
      color: $primary;
      border-radius: 0;
      padding: 0 5px 0 5px;
      height: min-content;
      z-index: 1;
      margin: 0 0 0 calc(0.5rem - 5px);
    }
  }
}

h4 {
  text-transform: uppercase;
  font-size: 18px;
  color: $title-color-dark;
}

.form-info {
  font-style: italic;
  margin-left: 3%;
  margin-right: 3%;

  a {
    text-decoration: underline;
  }
}

.feedback-zone {
  text-align: center;

  &.error {
    color: $red;
  }
}

.btn {
  padding: 0;
}

::ng-deep .policy-duration {
  a {
    color: $primary;
    text-decoration: underline;
    cursor: pointer;
  }
  .multiple-option {
    padding: 0 !important;
  }
  .checkbox {
    border-radius: 0;
    transition: all 0.5s;
    &-box {
      svg {
        width: 1rem;
        margin-top: 6px;
      }
      & #checkmark-path {
        stroke-width: 3px;
        stroke: $white !important;
      }
    }
  }
  .form-big-checkbox input:checked {
    & ~ label .checkbox,
    & + span {
      border-radius: 50%;
      border-color: transparent;
      background: $primary;
    }
  }
  .answer-container {
    margin-top: 0;
    margin-bottom: 0;
  }
}