@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/variables";

.linear-stepper-thank-you-page {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-bottom: 5rem;
  img {
    max-width: 100px;
    margin-top: 2rem;
  }
  .text {
    display: flex;
    flex-direction: column;
  }

}
