@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/_variables.scss";
.container-quotator-motor {
    margin-top: 2rem;
    .form-group {
        margin: 0;
        .form-control {
            border-radius: 0.5rem;
        }
    }
    .licensePlate {
        text-transform: uppercase;
    }
    .container-choise-contractor {
        .choise-type-label {
            font-size: 0.9rem;
            text-align: center;
            margin-top: 2rem;
        }
        .container-birthday-insured {
            margin-top: 1rem;
        }
        .choices {
            display: flex;
            justify-content: center;
            .choise-type {
                text-align: center;
                padding: 0;
                height: 3rem;
                label {
                    border: solid 1px $primary;
                    color: $primary;
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    cursor: pointer;
                    padding: 0.75rem;
                }
                &:nth-child(even) {
                    label {
                        border-bottom-right-radius: 0.5rem;
                        border-top-right-radius: 0.5rem;
                    }
                }
                &:nth-child(odd) {
                    label {
                        border-bottom-left-radius: 0.5rem;
                        border-top-left-radius: 0.5rem;
                    }
                }
                input {
                    display: none;
                }
                input:checked {
                    &+label {
                        background-color: $primary;
                        span {
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}

.purchase {
    text-align: center;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 1rem;
    @include media-breakpoint-down(xs) {
        justify-content: space-around;
    }
    .price-title-container {
        .price {
            font-size: 1.8rem;
        }
        .price-title {
            font-size: 0.8rem;
            font-weight: bold;
        }
    }
    .submit-btn {
        padding: 1rem 2.5rem;
    }
    button:disabled,
    button[disabled] {
        background-color: #b2b8be;
    }
}

.provider-logo {
    margin: 0.5rem 0;
}

.container-link-redirect {
    margin: 2rem 0;
    background-color: $secondary-light;
    font-size: 0.8rem;
    padding: 1rem 2rem 0.1rem;
    position: relative;
    border-radius: 10px;
    .text-redirect {
        max-width: 80%;
    }
    .circle-arrow {
        position: absolute;
        width: 4rem;
        height: 4rem;
        background-color: $primary;
        bottom: 0;
        right: 0;
        border-top-left-radius: 100%;
        border-bottom-right-radius: 10px;
        .arrow-img {
            padding: 50% 0 0 30%;
            color: white;
        }
    }
}