<form [formGroup]="formQuotator" (change)="calculatePrice()">
    <div class="container-quotator-motor">
        <div class="container-licenze-plate form-group">
            <div class="form-label-group" [ngClass]="displayFieldCss(formQuotator,'licensePlate')">
                <input class="form-control text-center licensePlate" formControlName="licensePlate" id="licensePlate" autocomplete="off" type="text" required [placeholder]="product.license_plate">
                <label for="licensePlate" class="label-name">
          {{ product.license_plate}}
        </label>
                <div *ngIf="!formQuotator.controls.licensePlate.value && formQuotator.controls.licensePlate.touched" class="error-message">{{'forms.mandatory_field' | translate | async}}
                </div>
                <div *ngIf="formQuotator.controls.licensePlate.errors && formQuotator.controls.licensePlate.value" class="error-message">{{'forms.license_plate_error' | translate | async}}
                </div>
            </div>
        </div>
        <div class="container-birthday-contractor form-group">
            <div class="form-label-group" [ngClass]="displayFieldCss(formQuotator,'birthdayContractor')">
                <input type="text" class="form-control date-placeholder text-center" formControlName="birthdayContractor" (focus)="birthDayContractor.toggle(); birthDayContractor.navigateTo(maxDateBirthdayContractor)" (dateSelect)="birthDayContractor.close(); calculatePrice()" id="birthdayContractor" ngbDatepicker 
                [minDate]="minDateBirthdayContractor"
                [startDate]="minDateBirthdayContractor"
                [maxDate]="maxDateBirthdayContractor" #birthDayContractor="ngbDatepicker" required autocomplete="off" [placeholder]="product.birthday_contractor">
                <label class="label-birthday" for="birthdayContractor">
          {{ product.birthday_contractor}}
        </label>
                <div *ngIf="isFieldValid(formQuotator,'birthdayContractor')" class="error-message">{{'forms.mandatory_field' | translate | async}}
                </div>
            </div>
        </div>
        <div class="container-residential form-group">
            <div class="form-label-group" [ngClass]="displayFieldCss(formQuotator, 'residentialAutocomplete')">
                <div class="form-label-group" [ngClass]="flagAddress ? 'error-field' : ''">
                    <input class="form-control text-center" formControlName="residentialAutocomplete" id="residentialAutocomplete-{{product.product_code}}" type="text" (focus)="initAutocomplete()" (change)="addressIsValid()" autocomplete="off" required [placeholder]="product.residential_address_autocomplete">
                    <label for="residentialAutocomplete-{{product.product_code}}" class="label-residential-autocomplete">
            {{ product.residential_address_autocomplete}}
          </label>
                    <div *ngIf="isFieldValid(formQuotator,'residentialAutocomplete')" class="error-message">{{'forms.mandatory_field' | translate | async}}
                    </div>
                    <div *ngIf="flagAddress" class="error-message">
                        Selezionare l'indirizzo dall'elenco
                    </div>
                </div>
            </div>
        </div>

        <form [formGroup]="formQuotator.controls.residential" *ngIf="!formResIsValid" (change)="calculatePrice()">
            <div class="form-group">
                <div class="form-label-group" [ngClass]="displayFieldCss(formQuotator.controls.residential, 'residentialState')">
                    <select id="residentialState" type="text" class="form-control arrow-select" formControlName="residentialState" (ngModelChange)="toggleEnable($event, 'residentialCity', formQuotator.controls.residential)" [compareWith]="customCompare">
            <option value="{{product.residential_state}}"></option>
            <option *ngFor="let rState of residentialStates"
                    [ngValue]="rState">{{ rState.name }}</option>
          </select>
                    <label for="residentialState" class="label-name">{{product.residential_state}} </label>
                    <div *ngIf="isFieldValid(formQuotator.controls.residential, 'residentialState')" class="error-message">{{ 'forms.mandatory_field' | translate | async }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-label-group" [ngClass]="displayFieldCss(formQuotator.controls.residential, 'residentialState')">
                    <select id="residentialCity" type="text" class="form-control arrow-select" formControlName="residentialCity" [compareWith]="customCompare">
            <option value="{{product.residential_city}}"></option>
            <option *ngFor="let rCity of residentialCities"
                    [ngValue]="rCity">{{ rCity.name }}</option>
          </select>
                    <label class="label-name" for="residentialCity">{{product.residential_city}}</label>
                    <div class="error-message" *ngIf="isFieldValid(formQuotator.controls.residential, 'residentialCity')">
                        {{ 'forms.mandatory_field' | translate | async}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-label-group" [ngClass]="displayFieldCss(formQuotator.controls.residential, 'addressType')">
                    <select id="addressType" type="text" class="form-control arrow-select" formControlName="addressType">
            <option value="{{product.address_type}}"></option>
            <option *ngFor="let topon of listTopon"
                    [ngValue]="topon">{{ topon.descrizione }}
            </option>
          </select>
                    <label for="addressType" class="label-name">{{product.address_type}}</label>
                    <div *ngIf="isFieldValid(formQuotator.controls.residential, 'addressType')" class="error-message">{{ 'forms.mandatory_field' | translate | async }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-label-group" [ngClass]="displayFieldCss(formQuotator.controls.residential,'residentialAddress')">
                    <input class="form-control text-center" formControlName="residentialAddress" id="residentialAddress" autocomplete="off" type="text" required [placeholder]="product.residential_address">
                    <label for="residentialAddress" class="label-name">{{ product.residential_address}}</label>
                    <div *ngIf="isFieldValid(formQuotator.controls.residential,'residentialAddress')" class="error-message">{{'forms.mandatory_field' | translate | async}}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-label-group" [ngClass]="displayFieldCss(formQuotator.controls.residential,'addressNumber')">
                    <input class="form-control text-center" formControlName="addressNumber" id="addressNumber" autocomplete="off" type="text" required [placeholder]="product.residential_number">
                    <label for="addressNumber" class="label-name">
            {{ product.residential_number}}
          </label>
                    <div *ngIf="isFieldValid(formQuotator.controls.residential,'addressNumber')" class="error-message">{{'forms.mandatory_field' | translate | async}}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-label-group" [ngClass]="displayFieldCss(formQuotator.controls.residential,'postalCode')">
                    <input class="form-control text-center" formControlName="postalCode" id="postalCode" autocomplete="off" type="text" required [placeholder]="product.postal_code" [maxlength]="5">
                    <label for="postalCode" class="label-name">
            {{ product.postal_code}}
          </label>
                    <div *ngIf="isFieldValid(formQuotator.controls.residential,'postalCode')" class="error-message">{{'forms.mandatory_field' | translate | async}}
                    </div>
                    <div class="warning-message" *ngIf="formQuotator.controls.residential.get('postalCode').errors
               && formQuotator.controls.residential.get('postalCode').errors.pattern">
                        {{ 'forms.wrong_format' | translate | async }}
                    </div>
                </div>
            </div>
        </form>

        <div class="container-choise-contractor">
            <div class="col-12 choise-type-label">
                {{product.choise_contractor_is_owner.title.value}}
            </div>
            <div class="choices">
                <div class="col-6 choise-type" *ngFor="let choise of product.choise_contractor_is_owner.choise.value">
                    <input type="radio" id="choise-{{choise.description.value}}" formControlName="choiseIsOwner" value="{{stringToBoolean(choise.response.value)}}" (ngModelChange)="changeValidationBirthInsured()">
                    <label class="form-radio" for="choise-{{choise.description.value}}">
          <span>
            {{choise.description.value}}
          </span>
          </label>
                </div>
            </div>
            <div class="container-birthday-insured form-group" *ngIf="formQuotator.controls.choiseIsOwner.value === 'false'">
                <div class="form-label-group" [ngClass]="displayFieldCss(formQuotator,'birthdayInsured')">
                    <input type="text" class="form-control date-placeholder text-center" formControlName="birthdayInsured" 
                        (focus)="birthDayInsured.toggle(); birthDayInsured.navigateTo(todayDate)" 
                        (dateSelect)="birthDayInsured.close()" id="birthdayInsured" 
                        ngbDatepicker [minDate]="minDateBirthdayContractor" [maxDate]="todayDate" [startDate]="minDateBirthdayContractor"
                        #birthDayInsured="ngbDatepicker" required autocomplete="off" [placeholder]="product.birthday_insured">
                    <label class="label-birthday" for="birthdayInsured">
            {{ product.birthday_insured}}
          </label>
                    <div *ngIf="isFieldValid(formQuotator,'birthdayInsured')" class="error-message">{{'forms.mandatory_field' | translate | async}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row purchase">
    <div class="price-title-container">
        <div class="price" data-cy="quotator-motor__quotation-price">
            {{price | currency}}
            <span data-cy="quotator-motor__quotation-slash-price" *ngIf="product.slash_price">{{product.slash_price}}
      </span>
        </div>
        <span data-cy="quotator-motor__quotation-price-title" class="price-title">
          {{product.yearly_price}}
    </span>
    </div>
    <div class="">
        <button class="submit-btn" id="submit-test" [disabled]="!formQuotator.valid" (click)="checkout()" [ngClass]="product.color_class" data-cy="quotator-motor__purchase-button">{{product.calculate_quote}}</button>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center product-download">
        <a class="inf-package" href="{{ product.information_package }}" target="_blank" data-cy="quotator-motor__information-package" [innerHtml]="product.set_informativo">
        </a>
    </div>
</div>
<div class="row">
    <div class="col-12 provider-text" data-cy="quotator-motor__collaboration-provider">
        {{product.collaborazione_prodotto.product_collaboration.value}}
    </div>
    <div class="col-12 text-center">
        <img [src]="product.collaborazione_prodotto.provider_logo.value[0].url" [alt]="product.provider.name" data-cy="quotator-motor__image-provider" class="provider-logo">
    </div>
</div>
<hr>
<a data-cy="quotator-motor__link-external-quotator" class="link-external-quotator" target="_blank" href="{{linkRedirectGenertel}}">
    <div class="container-link-redirect">
        <div class="text-redirect" [innerHTML]="product.redirect_site"></div>
        <div class="circle-arrow">
            <img class="arrow-img" [src]="product.img_arrow_right.url" [alt]="product.img_arrow_right.description">
        </div>
    </div>
</a>