.card-header {
  text-align: center !important;
  margin: 40px 0 30px 0;
  background-color: #fff;
  border-bottom: none;
  color: #3e5c9d;
  font-weight: 700;
  text-align: left;
}

.card {
  padding-top: 20px;
  padding-bottom: 25px;
  border: none;
}
