@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/variables";

.bg-img-hero-quotator-container {
    padding-top: 64px;
    background: $gradient;

    @include media-breakpoint-up(md) {
        background: $gradient;
        padding-top: 110px;
    }
    .bg-img {
        @include media-breakpoint-down(sm) {
            background-image: none!important;
        }
        background-repeat: no-repeat;
        background-position: left 1rem bottom 4rem;
    }

    .text-container {
        @include media-breakpoint-down(md) {
            text-align: center;
            padding-top: 0.5rem;
          }
        .title {
            margin: 1rem 0 0 0;
            color: $primary-subtitle-color;
            font-weight: 500;
            font-size: 1rem;

            @include media-breakpoint-up(md) {
                margin-top: 0;
                font-size: 1.5rem;
            }
        }

        .subtitle {
            font-weight: 300;
            font-size: 0.9rem;
            color: $primary-subtitle-color;

            @include media-breakpoint-up(md) {
                font-size: 1.3rem;
            }
        }

        .scroll {
            display: flex;
            justify-content: center;

            @include media-breakpoint-up(lg) {
                justify-content: flex-start;
            }

            .scroll-how-works {
                color: $white;
                background-color: transparent;
                border: 2px solid $white;
                border-radius: 40px;
                width: 100%;
                padding: 12px 0;
                max-width: 230px;
                font-weight: bold;
                font-size: 1.2rem;
                text-align: center;
                cursor: pointer;
            }
        }
    }
}
