<div class="bg-img-hero-quotator-container" [ngClass]="data.container_class" id="hero">
  <div class="bg-img" [ngStyle]="{ 'background-image': 'url(' + data.bg_img + ')'}">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 text-container">
          <p class="title">{{data.title}}</p>
          <p class="subtitle" [innerHtml]="data.subtitle"></p>
          <div class="scroll" *ngIf="data.scroll">
            <p class="scroll-how-works" [ngx-scroll-to]="'#advantages'" [ngx-scroll-to-offset]="-85"
              *ngIf="data.scroll.how_works">{{data.scroll.how_works}}</p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-5">
          <app-configuratore-basic-layout (actionEvent)="sendActionEvent($event)"
            [activeProduct]="data.selected_slide_id" [products]="data.products"></app-configuratore-basic-layout>
        </div>
      </div>
    </div>
  </div>
</div>