<ng-container *ngIf="data">
  <section class="details-section"> <!--ricordare di modificare in tim_my_home_ftth-->
      <div *ngIf="hasQueryParam()" class="details-section-img-ftth">
        <div class="img-container-ftth">
          <img [src]="data.image">
        </div>
      </div>
      <div *ngIf="!hasQueryParam()" class="details-section-img">
        <div class="img-container">
          <img [src]="data.image" [ngClass]="isProductCode('customers-tim-pet') ? 'img-contain' : 'img-cover'">
        </div>
      </div>
      <div class="details">
        <div *ngIf="data.button" class="d-block d-sm-none">
          <a class="btn-tim" (click)="goToLink(data.button_link)" *ngIf="data.button_link">{{data.button}}</a>
          <a class="btn-tim" (click)="checkout()" *ngIf="!data.button_link">{{data.button}}</a>
        </div>
        <h3 class="title">{{data.title}}</h3>
        <div class="row">
          <div class="product-detail" *ngFor="let detail of data.details">
            <div class="title" [innerHtml]="detail.title"></div>
            <div class="description" [innerHtml]="detail.description"></div>
            <a class="link" *ngIf="showDetailLink(detail.link)"
            [innerHtml]="detail.link"></a>
            <span class="tag" *ngIf="detail.promo_tags"
            [ngClass]="detail.promo_tags.color">
              {{detail.promo_tags.text}}
            </span>
            <span class="modal-tooltip" *ngIf="detail.modal"
            (click)="openInfoModal(detail.modal)">i</span>
          </div>
        </div>
        <div class="pdf-document-section mt-4" *ngIf="data.pdf_document">
          <img [src]="data.pdf_image" alt="icona pdf">
          <div class="pdf-document" [innerHtml]="data.pdf_document"></div>
        </div>
        <div class="pdf-document-section" *ngIf="data.pdf_document_2">
          <img [src]="data.pdf_image" alt="icona pdf">
          <div class="pdf-document" [innerHtml]="data.pdf_document_2"></div>
        </div>
        <div class="labelled-icon" *ngIf="data.labelled_icon">
          <img [src]="data.labelled_icon?.icon">
          {{data.labelled_icon?.text}}
        </div>
        <div *ngIf="data.button" class="d-none d-sm-block">
          <a class="btn-tim mt-5" (click)="goToLink(data.button_link)" *ngIf="data.button_link">{{data.button}}</a>
          <a class="btn-tim mt-5" (click)="checkout()" *ngIf="!data.button_link" omniturecta="continua" omnitureposition="1">{{data.button}}</a>
        </div>
      </div>
    </section>
</ng-container>
