<section id="policy-appliances" class="col-12 p-0">
  <div class="col-12">
    <h4 *ngIf="appliances.length === 1" class="text-uppercase">Dati bene assicurato</h4>
    <h4 *ngIf="appliances.length > 1" class="text-uppercase">Dati beni assicurati</h4>
  </div>
  <div class="col-12">
    <div class="row" *ngFor="let appliance of appliances; let i = index">
      <div *ngIf="appliances.length > 1" class="col-12 policy-data mt-2 mb-1 text-uppercase">Elettrodomestico {{i+1}}</div>
      <div class="col-lg-4 col-6 mb-2">
        <label class="m-0">Tipologia</label>
        <div class="policy-data">{{appliance.kind.value}}</div>
      </div>
      <div class="col-lg-4 col-6 mb-2">
        <label class="m-0">Marca</label>
        <div class="policy-data">{{appliance.brand.value}}</div>
      </div>
      <div class="col-lg-4 col-6 mb-2">
        <label class="m-0">Modello</label>
        <div class="policy-data">{{appliance.model}}</div>
      </div>
      <div class="col-lg-4 col-6 mb-2">
        <label class="m-0">Data di acquisto</label>
        <div class="policy-data">{{appliance.purchaseDate |date: 'dd/MM/yyyy'}}</div>
      </div>
      <div class="col-lg-4 col-6 mb-2">
        <label class="m-0">Numero fattura</label>
        <div class="policy-data">{{appliance.receiptNumber}}</div>
      </div>
    </div>
  </div>
</section>
