.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}
h3, h4 {
  margin: 0;
}

.santa-lucia_db {
  .btn {
    text-transform: capitalize;
    border-radius: 0;
  }
}