@import "../../../sass/variables";

.product-name {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  min-height: 2.2rem;
  padding-top: 1rem;
}

.icon-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
}

.info {
  text-align: center;
  padding-bottom: 0rem;
}

.product-price {
  font: 16px Roboto, sans-serif;
  text-align: center;
  padding-bottom: 1rem;
}

.product-recommended {
  padding: 1rem;
  color: var(--primary-dark, #333);
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  height: 350px;
  //width: 265px;
  border-radius: 5px;
  margin: 0.5rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  &:hover{
    -ms-transform: scale(1.05, 1.05);
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    transition-duration: 0.6s;
  }


  .icon {
    height: 101px;
    width: auto;
    position: relative;
  }

  .go-to-arrow {
    border: 2px solid var(--primary-y, #127ddb);
    width: 60px;
    height: 60px;
    border-radius: 100rem;
    background: url(../../../assets/images/icons/goforward.svg) no-repeat center;
    background-size: auto;
    background-size: 50%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }
  &.net {
    border-radius: 10px;
    border: 6px solid $red;
    box-shadow: none;
    position: relative;

    .icon {
      position: absolute;
      top: 30px;
      right: -1px;

      > img.icon-img {
        height: 48px;
      }
    }
    .product-name {
      color: $primary;
      padding-top: 4rem;
      font-size: 24px;
      text-transform: capitalize;
    }
    .go-to-arrow {
      background: url(../../../assets/images/net-insurance/dx.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 40%;
      cursor: pointer;
    }
  }
}
