@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/variables";

.hero-container {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include media-breakpoint-up(xs) {
        min-height: 400px
    }
    @include media-breakpoint-up(sm) {
        min-height: 480px
    }
    @include media-breakpoint-up(md) {
        min-height: 625px
    }
    @include media-breakpoint-up(lg) {
        min-height: 565px
    }

    &::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(15, 15, 15, 0.6), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.22));
        @include media-breakpoint-down(xs) {
            background: $primary;
        }
    }

    &.long-term-care {
        background-position: right top;
        background-size: contain;
        background-color: $primary;
        min-height: 0;
        @media (min-width: 1200px) and (max-width: 1920px) {
            background-position: right center;
            background-size: cover;
            background-color: #012da8;
            height: 500px!important;
        }
        @include media-breakpoint-down(xs) {
            padding-bottom: 0;
        }
        &::before {
            background: none;
            @include media-breakpoint-down(md) {
                background: $primary;
            }
        }
        & .text-container {
            @include media-breakpoint-up(lg) {
                padding: 2rem 0 0 6rem;
            }
            @media (min-width: 1200px) and (max-width: 1920px)  {
                padding: 8rem 10rem 6rem 2rem;
            }
        }
    }

    .text-container {
        color: $white;
        padding: 4rem 2rem;
        @include media-breakpoint-up(sm) {
            padding: 6rem 0 6rem 4rem;
        }
        @include media-breakpoint-up(lg) {
            padding: 8rem 0 10rem 6rem;
        }
        h1 {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: normal;
            @include media-breakpoint-up(sm) {
                font-size: 3rem;
            }
        }
        .subtitle {
            font-size: 0.9rem;
            font-weight: 300;
            line-height: normal;
            margin: 1rem 0 3rem;
            &::ng-deep li {
                margin-bottom: 1rem;
                &:last-of-type {
                    margin: 0
                }
            }
            @include media-breakpoint-up(sm) {
                font-size: 1rem;
            }
        }
        .btn {
            border-radius: 0;
            height: 48px;
            background: $btn-text-color;
            color: $white;
            max-width: 500px;
            font-weight: normal;
            @include media-breakpoint-up(lg) {
                margin-bottom: 3rem;
            }
        }
        .btn-arrow {
            border-radius: 0;
            height: 48px;
            background: $btn-text-color;
            color: $white;
            max-width: 500px;
            font-weight: normal;
            padding: 12px 55px 12px 20px;
            position: relative;
            @include media-breakpoint-up(lg) {
                margin-bottom: 3rem;
            }
            &::after {
                content: '';
                position: absolute;
                width: 24px;
                height: 24px;
                left: 150px;
                background: url(~assets/images/icons/icon-arrow-right-thin-white.svg);            }
        }
    }
}
