<div class="container-fluid hero-container" [ngStyle]="{ 'background-image': 'url(' + data.img + ')'}"
  [ngClass]="!!data.product_code && data.product_code">
  <div class="row">
    <div class="col-12 col-md-7 col-lg-6 text-container">
      <h1>{{data.title}}</h1>
      <div class="subtitle" [innerHTML]="data.subtitle"></div>
      <a class="btn" href="{{data.button_link}}" target="_blank" *ngIf="data.button_text && data.button_link">{{data.button_text}}</a>
      <a class="btn-arrow" href="{{data.button_link}}" target="_blank" *ngIf="data.button_arrow_text && data.button_link">{{data.button_arrow_text}}</a>
    </div>
  </div>
</div>