$tim-cyber-business-bg-blue: #122AC2;

.custom-back-btn {
    color: $tim-cyber-business-bg-blue;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
}

.question-container {
    padding: 0;
    list-style: none;
}

.radio-options {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;

    .form-check {
        width: 50%;
        padding-right: 0.5rem;
        box-sizing: border-box;
    }

    .form-check-input {
        margin-right: 0.5rem;
    }

    label {
        display: flex;
        font-weight: normal;
        cursor: pointer;
    }
}

.error-banner {
    display: flex;
    padding: 4px 10px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 14px;
    background: #FFF3F0;
    color: #EA0026;
    font-size: 12px;
    border: 1px solid #EA0026;
}

.svg-divider-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.date-label-wrapper {
    display: inline;
}

::ng-deep .date-label p {
    display: inline;
    margin: 0;
}

::ng-deep #back-button p {
    display: inline;
    margin: 0;
}