@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/variables";
.hero-slider {
    overflow-x: hidden;
    position: relative;
}

.hero-slides-container {
    width: 100%;
    display: flex;
    position: relative;
    left: 0;
    transition: 0.5s ease-in-out;
}

.slider-arrows {
    width: 46px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 2;
    background-color: $primary;
    .slider-arrows-prev {
        border: 1px solid $white;
        background: url(~assets/images/icons/icon-arrow-left-thin-white.svg) no-repeat center;
        background-size: 45%;
        margin-left: auto;
        cursor: pointer;
        height: 46px;
        width: 100%;
        border-bottom: none;
    }
    .slider-arrows-next {
        border: 1px solid $white;
        height: 46px;
        width: 100%;
        background: url(~assets/images/icons/icon-arrow-right-thin-white.svg) no-repeat center;
        background-size: 45%;
        margin-left: auto;
        cursor: pointer;
    }
    &.white {
        background-color: $white;
        .slider-arrows {
            &-prev {
                border-color: $black;
                background: url(~assets/images/icons/icon-arrow-left-thin-black.svg) no-repeat center;
            }
            &-next {
                border-color: $black;
                background: url(~assets/images/icons/icon-arrow-right-thin-black.svg) no-repeat center;
            }
        }
    }
}

.hero-slide {
    background: $primary;
    color: $white;
    display: flex;
    height: auto;
    width: 100%;
    padding: 0;
    flex-shrink: 0;
    .text-left {
        padding: 52px calc(1 / 24 * 100vw) 52px calc(1 / 12 * 100vw);
        min-height: 0;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        width: 50%;
        min-width: 50%;
        @include media-breakpoint-down(sm) {
            padding: 1rem 20px 2rem 20px;
        }
        @include media-breakpoint-down(md){
            padding: 45px;
        }
        .tag-up {
            background-color: white;
            color: #0033a1;
            margin-bottom: 1rem;
            font-weight: 500;
            font-size: 0.9rem;
            display: inline-flex;
            padding: 0.1rem 0.5rem;
        }
        .slide-title {
            font-size: 3rem;
            margin-bottom: 2rem;
            font-weight: 500;
            @media (max-width: 676px) {
                font-size: 1.5rem;
            }
            @include media-breakpoint-down(md){
              line-height: 45px;
            }
        }
        .slide-description {
            font-size: 1.1rem;
            font-weight: 300;
            max-width: 70%;
            line-height: 1.7;
            margin-bottom: 1.5rem;
            @include media-breakpoint-down(lg) {
                max-width: 90%;
            }
            @include media-breakpoint-down(xs) {
                font-size: 1rem;
                max-width: none;
                margin: 0;
            }
            &::ng-deep {
                ul {
                    padding-left: 1.5rem;
                    list-style-image: url("~assets/images/tim/green-tick.svg");
                }
            }
        }
        .info-tags-activation {
            @include media-breakpoint-down(sm) {
                margin-top: 1rem;
                margin-bottom: 2rem;
            }
            width: fit-content;
            border: #00ffff solid 1px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            span {
                padding: 0.25rem;
                @include media-breakpoint-up(sm) {
                    padding: 0.2rem 1rem;
                }
            }
            .full {
                color: $primary;
                background-color: #00ffff;
                font-weight: 500;
            }
        }
        .card-bottom {
            display: flex;
            flex-direction: column;
            margin-top: 1.5rem;
        }
        .price-cta-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 2rem;
            @include media-breakpoint-down(sm) {
                flex-direction: column;
                align-items: flex-start;
                padding: 1rem 0;
            }
            button {
                border-radius: 0;
                height: 48px;
                background: #fff;
                color: $btn-text-color;
                max-width: 500px;
                font-weight: 400;
                margin-left: 13px;
                outline: none;
                border: none;
                text-transform: uppercase;
                padding: 0 2rem;
                font-weight: bold;
                @include media-breakpoint-down(sm) {
                    margin: 0;
                    width: 100%;
                }
                .major {
                    margin-left: 0.5rem;
                    @include media-breakpoint-down(sm) {
                        display: none;
                    }
                }
            }
            p {
                margin-bottom: 0;
                font-size: 1.4rem;
            }
            .price-section {
                @include media-breakpoint-down(sm) {
                    margin-bottom: 1rem;
                }
                ::ng-deep .price-starting {
                    p {
                        margin-bottom: -0.5rem;
                        font-size: 1rem;
                        br {
                            display: none;
                        }
                    }
                }
            }
        }
        .link-img {
            cursor: pointer;
            > .img-mobile {
                max-width: 100%;
                margin-bottom: 1.5rem;
            }
        }
    }
    .img-right {
        width: 50%;
        min-width: 50%;
        .img-container {
            height: 100%;
            .link-img {
                cursor: pointer;
                > img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    max-width: none;
                    pointer-events: none;
                    @include media-breakpoint-down(sm) {
                        width: 100%;
                        margin-bottom: 1rem;
                    }
                }
            }
        }
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
}

.products-slider {
    position: relative;
    overflow-x: hidden;
    padding-top: 2rem;
    &-title {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 2rem;
        @include media-breakpoint-up(sm) {
            display: none;
        }
        @include media-breakpoint-down(xs) {
            word-break: break-word;
            font-size: 1.25rem;
        }
    }
    .slider-arrows {
        @media screen and (max-width: 497px) {
            display: none;
        }
    }
    .slider-bullets-content {
        @media screen and (max-width: 497px) {
            .slider-bullets {
                display: flex;
                position: absolute;
                z-index: 99;
                cursor: pointer;
                top: calc(100% - 2rem);
                .slider-bullet {
                    height: 2px;
                    width: 27px;
                    border-radius: 0;
                    background: #e8e8e8;
                    margin-right: 0.25rem;
                    &.active {
                        background-image: linear-gradient(45deg, #0164f2 0, #0088d9 100%);
                    }
                }
            }
        }
        @media screen and (min-width: 497px) {
            display: none;
        }
    }
    @include media-breakpoint-down(sm) {
        background: $white !important;
    }
}

.products-slides-container {
    @media screen and (max-width: 497px) {
        padding-left: 0rem;
    }
    display: flex;
    padding-left: 4rem;
    position: relative;
    margin-bottom: 4rem;
    left: 0;
    transition: 0.5s ease-in-out;
}

.product-card {
    min-width: 100%;
    background-color: $white;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 1px solid $black;
    padding: 2rem 3rem;
    height: 100%;
    &-name {
        display: flex;
        align-self: flex-start;
        font-weight: bold;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    &-description {
        display: flex;
        align-self: flex-start;
    }
    .link-img {
        cursor: pointer;
        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            max-width: 100%;
        }
    }
    .btn-tim {
        text-transform: uppercase;
        background-color: $btn-text-color;
        color: $white;
        border: none;
        text-align: center;
        margin-top: 1rem;
        height: 50px;
        width: 100%;
    }
}

.title-card {
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 2rem;
}

.who-section {
    @include media-breakpoint-down(sm) {
        display: flex;
        flex-direction: column-reverse;
    }
    width: 100%;
    display: flex;
    .text-left {
        width: 100%;
        background-color: $btn-text-color;
        color: $white;
        justify-content: center;
        align-items: center;
        display: flex;
        .text-content {
            width: 60%;
            @include media-breakpoint-down(sm) {
                width: 90%;
                padding: 2rem 0;
            }
        }
        .slide-title {
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
            @include media-breakpoint-down(sm) {
                font-size: 1.25rem;
            }
        }
        .btn {
            background: #fff;
            transition: background 0.15s;
            height: 50px;
            color: $btn-text-color;
            padding: 0;
            line-height: 50px;
            border-radius: 0;
            width: 16rem;
            margin-bottom: 7px;
        }
    }
    .img-left {
        @include media-breakpoint-down(sm) {
            width: 100%;
        }
        width: 50%;
        min-width: 50%;
        .img-container {
            overflow-x: hidden;
            height: 100%;
            background-color: #0164f2;
            > img {
                @include media-breakpoint-down(sm) {
                    padding-right: 1rem;
                    padding-left: 1rem;
                    padding-bottom: 3rem;
                }
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: left;
                max-width: none;
                pointer-events: none;
            }
        }
    }
}

.what-section {
    width: 100%;
    padding: 2rem 0;
    @include media-breakpoint-down(sm) {
        padding: 0;
    }
    &-title {
        text-align: center;
        padding-top: 1rem;
    }
    &-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        & .what-card {
            width: 50%;
            @include media-breakpoint-down(md) {
                width: 90%;
            }
            background-color: $white;
            border: 1px solid $black;
            display: flex;
            flex-direction: column;
            padding: 1.5rem;
            margin: 1rem;
            .card {
                &-title {
                    text-align: center;
                    font-weight: bold;
                    margin: 0;
                }
                &-description {
                    margin-top: 1rem;
                }
            }
        }
    }
    .img-top {
        position: relative;
    }
    .img-bottom {
        position: absolute;
    }
    .what-card {
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            i {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2rem;
                height: 2rem;
                transition: transform 300ms ease;
                &.rotate {
                    transform: rotate(180deg);
                }
            }
        }
    }
    @include media-breakpoint-down(sm) {
        background: $white !important;
    }
}

.slider-bullets {
    display: flex;
    position: absolute;
    z-index: 99;
    cursor: pointer;
    top: calc(100% - 2rem);
    left: 7.5rem;
    @include media-breakpoint-down(sm) {
        left: 4rem;
    }
    .slider-bullet {
        height: 3.5px;
        width: 39px;
        border-radius: 0;
        background: #e8e8e8;
        margin-right: 0.35rem;
        &.active {
            background-image: linear-gradient(45deg, #0164f2 0, #0088d9 100%);
        }
    }
}

.pre-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background: url("~assets/images/tim/pre-footer-bg-1.svg") no-repeat bottom left,
        url("~assets/images/tim/pre-footer-bg-2.svg") no-repeat bottom left;
    background-color: #001136;
    @media (max-width: 768px) {
        height: 133px;
    }
    .wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
    .description {
        color: $white;
        margin-right: 2rem;
        @media (max-width: 768px) {
            text-align: center;
            margin-right: 0;
        }
        & ::ng-deep p {
            margin: 0;
        }
    }
    .button {
        color: #0164f2;
        text-transform: uppercase;
        font-weight: bold;
        background-color: $white;
        padding: 0.25rem 1.5rem;
        @media (max-width: 768px) {
            width: 100%;
            margin-top: 32px;
            text-align: center;
        }
    }
}

.slide-description-warranty{
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.7;
  margin-bottom: 1.5rem;
  @include media-breakpoint-down(lg) {
      max-width: 90%;
  }
  @include media-breakpoint-down(xs) {
      font-size: 1rem;
      max-width: 80%;
      margin: 0;
  }
  &::ng-deep {
      ul {
          padding-left: 1.5rem;
          list-style-image: url("~assets/images/tim/green-tick.svg");
      }
      .full-warranty{
        color: $primary;
        background-color: #00ffff;
        font-weight: 500;
      }
  }
}

:host ::ng-deep {
    .slick-track {
      height: 100%;
    }
    .slick-slide {
      height: calc(100% - 1px);
    }
    .slick-slide {
      &:first-child {
        width: 250px !important;
        @include media-breakpoint-down(sm) {
          display: none !important;
        }
      }
      display: flex;
      justify-content: center;
      margin: 0 1rem;
      div {
        width: 100%;
      }
    }
  }

  .slider-bullets-content {
    @media screen and (max-width: 497px) {
      .slider-bullets {
        display: flex;
        position: absolute;
        z-index: 99;
        cursor: pointer;
        top: calc(100% - 2rem);
        .slider-bullet {
          height: 3.5px;
          width: 39px;
          border-radius: 0;
          background: #e8e8e8;
          margin-right: 0.25rem;
          &.active {
            background-image: linear-gradient(45deg, #0164f2 0, #0088d9 100%);
          }
        }
      }
    }
    @media screen and (min-width: 497px) {
      display: none;
    }
  }

  .text-left-sci{
    &.tim-my-sci {
      @include media-breakpoint-down(md){
        padding: 45px 33px !important;
      }
    }
  }
