@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/variables";
.pre-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background: url('~assets/images/tim/pre-footer-bg-1.svg') no-repeat bottom left, url('~assets/images/tim/pre-footer-bg-2.svg') no-repeat bottom left;
    background-color: #001136;
    @media (max-width: 768px) {
        height: 133px;
    }
    .wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
    .description {
        color: $white;
        margin-right: 2rem;
        @media (max-width: 768px) {
            text-align: center;
            margin-right: 0;
        }
        & ::ng-deep p {
            margin: 0;
        }
    }
    .button {
        color: #0164f2;
        text-transform: uppercase;
        font-weight: bold;
        background-color: $white;
        padding: 0.25rem 1.5rem;
        @media (max-width: 768px) {
            width: 100%;
            margin-top: 32px;
            text-align: center;
        }
    }
}