@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";

@import "sass/variables";

.title-form {
  font-size: 1.3rem;
  margin-bottom: 0;
}

.sub-title {
  font-style: italic;
  font-size: 15px;
}

.container-form-pet {
  margin: 1rem 0;


  .container-group {
    justify-content: space-between;
    margin: 0;
    .container-insured-pet-type {
      align-items: center;
      justify-content: space-evenly;

      .pet-choise {
        display: -webkit-box;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: space-evenly;
        cursor: pointer;
        height: 8rem;
        max-width: 8rem;
        border: 1px solid $primary;
        padding: 0;

        &.pet-choised {
          background-color: $secondary;
          &.banco-desio_db {
            background-color: $primary-light;
          }
        }

        .select-pet-label {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          align-items: center;

          img {
            margin-top: 20px;
            min-height: 80px;
            max-width: 100px;
            height: auto;
          }
        }

        input {
          display: none;
        }

        &.choise-unblocked:hover {
          border: 3px solid $primary;
        }

        &.banco-desio_db {
          .select-pet-label {
            @media(max-width: 400px) {
              align-items: unset;
            }
          }
        }
      }
    }

    .container-insured-pet {
      flex-direction: column;

      .container-birthday{
        .message-info{
          font-size: 0.7rem;
          font-style: italic;
          margin-top: 1.2rem;
          &.civibank_db{
            margin-top:5px
          }
        }
      }

      .form-group {
        margin-bottom: 0;
      }
    }
  }
}
.banco-desio_db{
  padding-right: 0;
  padding-left: 0;
}
.error-message {
  color: $red;
  font-size: 12px;
  padding-top: 0.3rem;
}
