<div class="container container-box container-lg container-xl container-md container-sm" *ngIf="kenticoContent">
  <div class="row info-bar rounded-top">
    <div class="info-bar-title">
      <h6 class="tab-title">{{kenticoContent.title.value}}</h6>
    </div>
    <div class="close-button">
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <!--
        <span aria-hidden="true">
           <img [src]="kenticoContent.close_button.value[0].url" [alt]="kenticoContent.close_button.value[0].description"/>
        </span>
        --->
      </button>
    </div>
  </div>
  <div class="row description">
    <div class="container content-section-container">
      <div class="row d-flex justify-content-center">
        <div class="tabs col-8">
          <div class="row col-6 d-flex justify-content-center" style="display: flex; justify-content: space-evenly;">
            <div class="col-12 table-tab" (click)="changeAssistanceFlag()" [ngClass]="{selected: assistanceFlag}">
              <a class="col-12 nav-item nav-link active product-variant-title">ASSISTENZA E SPESE MEDICHE IN VIAGGIO</a>
            </div>
          </div>
          <div class="row col-6 d-flex justify-content-center" style="display: flex; justify-content: space-evenly;">
            <div class="col-12 table-tab" (click)="changeAllOtherFlag()" [ngClass]="{selected: allOtherFlag}">
              <a class="col-12 nav-item nav-link active product-variant-title">RICHIESTE DI RIMBORSO</a>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="assistanceFlag" class="descriptionWrapper">
        <div [innerHTML]="kenticoContent.description_assistance.value"></div>
      </div>
      <div *ngIf="allOtherFlag" class="descriptionWrapper">
        <div [innerHTML]="kenticoContent.description.value"></div>
      </div>
    </div>
  </div>
  <div class="row buttons">
    <div class="col-md-4 col-sm-6 mb-4">
      <button class="submit-btn buy" (click)="activeModal.dismiss()">{{kenticoContent.button.value}}</button>
    </div>
  </div>
</div>
