<div class="hero-quotator-container" [ngClass]="data.container_class" id="hero"
[ngStyle]="{'background-image': dataService.isTenant('bancapc-it-it_db') ? 'url(' + data.bg_img + ')' : 'null'}">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-md-6 hidden_hero_image hero-header center-title" [ngClass]="data.container_class">
                <p *ngIf="data.welcome_message" class="welcome">{{data?.welcome_message}}</p>
                <p class="title" [ngClass]="data.container_class">{{data?.title}}</p>
                <div *ngIf="data.container_class !== 'erv-mountain'">
                    <p class="subtitle" [innerHTML]="data?.subtitle"  [ngClass]="data.container_class"></p>
                </div>
                <div *ngIf="data.container_class === 'erv-mountain'">
                    <p class="subtitle">{{data.subtitle}}</p>
                </div>
                <div *ngIf="this.dataService.isTenant('yolodb')">
                    <p class="subtitle_sub">Proteggiti dagli infortuni con Yolo Sport</p>
                </div>
                <div class="scroll" *ngIf="data.scroll">
                    <p class="scroll-how-works" [ngx-scroll-to]="'#advantages'" [ngx-scroll-to-offset]="-85" *ngIf="data.scroll.how_works">{{data?.scroll.how_works}}</p>
                </div>
                <img [src]="data.bg_img" [alt]="data.img_alt" class="display-img d-md-block bg-img" [ngClass]="data.container_class" *ngIf="data.bg_img && !dataService.isTenant('bancapc-it-it_db')" />
            </div>
            <div class="col-12 col-md-6 col-lg-5">
                <app-configuratore-basic-layout (actionEvent)="sendActionEvent($event)" [activeProduct]="data?.selected_slide_id" [products]="data?.products"></app-configuratore-basic-layout>
            </div>
        </div>
    </div>
</div>
<div *ngIf="(data?.container_class && data?.container_class[0] === 'net-multirisk-craft') || (data?.container_class && data?.container_class[0] === 'net-multirisk-commerce')">
  <div class="container-sticky-quotator" [hidden]="scrollHeight() < 400 || scrollHeight() > hideSticky">
    <!-- For sticky component in multirischi I used the same one for telemedicina
         since they have the same functionalities -->
    <app-quotator-sticky-telemedicina [textForButton]="data?.scroll_to_top" [productName]="data.container_class[0]"> </app-quotator-sticky-telemedicina>
  </div>
</div>
