@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/_variables.scss";
.hero-quotator-container {
  &.layout-tim-broker-customers_db.tim-for-ski{
    background: #0033A1;
}
    padding-top: 64px;
    background: /* linear-gradient(180deg, $primary 70%, $white 30%); */
    #478DDD;

    &.layout-bancapc-it-it_db.yolo-for-pet {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .scroll {
            display: flex;
            justify-content: center;
            @include media-breakpoint-up(lg) {
                justify-content: flex-end;
            }
            .scroll-how-works {
                color: $white;
                background-color: transparent;
                border: 2px solid $white;
                border-radius: 40px;
                width: 100%;
                padding: 12px 0;
                max-width: 230px;
                font-weight: bold;
                font-size: 1.2rem;
                text-align: center;
                cursor: pointer;
                margin: 9px auto 15px
            }
        }
    }
  &.tim-for-ski{
    .center-title{
      margin-top: 12rem;
    }
  }
    .display-img {
        display: none;
    }
    .hidden_hero_image {
        display: none !important;
        @include media-breakpoint-up(sm) {
            display: block !important;
        }
    }
    @include media-breakpoint-up(md) {
        background: linear-gradient(to right, #218ce7, #1d70b6) 100%;
        padding-top: 110px;
    }
    &.axa-annullament,
    &.axa-assistance,
    &.net-multirisk-craft,
    &.net-multirisk-commerce {
        .display-img {
            display: block !important;
        }
        .hidden_hero_image {
            display: block !important;
        }
    }
    &.net-pet,
    &.yolo-for-pet {
        padding-top: 64px;
        background: linear-gradient(90deg, #4A90E2 0%, #1F81D4 100%);
        @include media-breakpoint-up(md) {
            background: linear-gradient(90deg, #4A90E2 0%, #1F81D4 100%);
        }
    }
    &.net-multirisk-craft,
    &.net-multirisk-commerce {
      .title {
        font-size: 2.125rem;
      }
      .subtitle {
        font-size: 1.25rem;
      }
    }
    &.erv-mountain,
    &.ergo-mountain {
        .hero-header {
            img {
                margin-top: 10rem;
            }
            .title {
                font-size: 1.7rem;
                @include media-breakpoint-up(md) {
                    font-size: 2rem;
                }
            }
        }
    }
    &.rbm-pandemic {
        @include media-breakpoint-up(md) {
            padding-bottom: 3rem;
        }
    }
    &.yolo-for-ski{
      background-color: $primary;
      .title {
        font-size:35px;
      }
    }
    &.tim-for-ski{
      .title {
        font-size:4rem;
      }
    }
    .title {
        margin: 1rem 0 0 0;
        color: $primary-subtitle-color;
        font-weight: 500;
        font-size: 1.75rem;
        @include media-breakpoint-up(md) {
            margin-top: 0;
            font-size: 1.5rem;
        }
        &.layout-tim-broker-customers_db.tim-for-ski{
          margin-bottom: 15px;
          margin-left: -4rem;
        }
    }
    .subtitle {
      &.layout-tim-broker-customers_db.tim-for-ski{
        font-size: 22px;
        margin-bottom: 40px;
        width: 40rem;
        margin-left: -4rem;
      }
        font-weight: 300;
        font-size: 1.1rem;
        color: $primary-subtitle-color;
        @include media-breakpoint-up(md) {
            font-size: 1.3rem;
        }

    }
    .bg-img {
      &.layout-tim-broker-customers_db.tim-for-ski{
        max-width: 120%;
        position: relative;
        left: -9rem;
      }
        padding: 1rem 0;
        max-width: 100%;

    }

    .hero-header {
        @include media-breakpoint-down(md) {
            text-align: center;
            padding-top: 0.5rem;
        }
        .welcome {
            color: white;
            padding: 0;
            margin-bottom: 1rem !important;
            font-size: 24px;
        }
    }
    &.layout-fca-bank_db {
        background: $bg-color;
        .title{
          font-weight: 700;
          font-size: 24px;
          line-height: 50px;
          text-transform: uppercase;
        }
        .subtitle {
            color: $text-color;
        }
    }
    &.layout-yolodb,
    &.layout-aua_db {
        .subtitle_sub {
            display: none !important;
        }
        @include media-breakpoint-up(md) {
            padding-top: 110px;
        }
        &.chubb-sport,
        &.chubb-sport-rec {
            .subtitle {
                margin-top: 16px !important;
                font-size: 22px !important;
                font-weight: 400;
            }
            .title{
                font-size: 35px;
                font-weight: bolder;
            }

        }
        @include media-breakpoint-down(sm) {
            &.chubb-sport,
            &.chubb-sport-rec {
                .subtitle_sub {
                    display: block !important;
                    color: var(--primary-subtitle-color, #666);
                    font-size: 20px;
                }
                .subtitle {
                    display: none !important;
                }
                .scroll {
                    display: none !important;
                }
                .hidden_hero_image {
                    display: block !important;
                }
                .display-img {
                    display: block !important;
                }

                .title{
                    font-size: 28px;
                    font-weight: 800;
                }
            }
        }
        .scroll {
            display: flex;
            justify-content: center;
            @include media-breakpoint-up(lg) {
                justify-content: flex-end;
            }
            .scroll-how-works {
                color: $white;
                background-color: transparent;
                border: 2px solid $white;
                border-radius: 40px;
                width: 100%;
                padding: 12px 0;
                max-width: 230px;
                font-weight: bold;
                font-size: 1.2rem;
                text-align: center;
                cursor: pointer;
                margin: 9px auto 15px
            }
        }
        &.axa-assistance,
        &.axa-annullament {
            @media (max-width: 768px) {
                .title {
                    font-size: 1.75rem;
                }
                .subtitle {
                    font-size: 1rem;
                }
            }
        }
    }
    &.layout-yolo-es-es_db {
        @include media-breakpoint-up(md) {
            padding-top: 110px;
        }
        .display-img {
            display: block;
        }
        .hidden_hero_image {
            display: block !important;
        }
        .scroll {
            display: flex;
            justify-content: center;
            @include media-breakpoint-up(lg) {
                justify-content: flex-end;
            }
            @media (max-width: 768px) {
                display: none;
            }
            .scroll-how-works {
                color: $white;
                background-color: transparent;
                border: 2px solid $white;
                border-radius: 40px;
                width: 100%;
                padding: 12px 0;
                max-width: 230px;
                font-weight: bold;
                font-size: 1.2rem;
                text-align: center;
                cursor: pointer;
                margin: 0 auto 15px
            }
        }
    }
    &.layout-yolodb, &.layout-yolo-pmi_db{
      background: $primary;
    }
}

.container-sticky-quotator {
      display: block;
      position: fixed;
      bottom: 0;
      padding: 24px 35px 0px 35px;
      width: 100%;
      height: 95px;
      background-color: $white;
      z-index: 1;
      box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.18);
  }

.subtitle{
  &.winter-sport-plus,
  &.winter-sport-premium{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }
}

