<div class="container-fluid how-works-tim">
  <div class="row">
    <div class="col-12 col-md-5 col-xl-6 image-container">
      <img [src]="data.bg_img">
    </div>
    <div class="col-12 col-md-7 col-xl-6">
      <div class="row table-container">
        <div class="col-12 title-content">
          <h2>{{data.title}}</h2>
        </div>
        <ul class="list-container">
          <li *ngFor="let item of data.list" class="list-item">
            <div class="title">{{item.title}}</div>
            <p class="subitem" [innerHTML]="item.description"></p>
          </li>
        </ul>
        <div class="pdf-document-section mt-4 pl-5" *ngIf="data.pdf_document">
          <img [src]="data.pdf_image" alt="pdf">
          <a class="pdf-document" [innerHtml]="data.pdf_document"></a>
        </div>
        <div class="col-12 col-lg-6 btn-section">
          <a *ngIf="data.cta_link" class="btn-tim" href="{{data.cta_link}}" target="_blank">{{data.cta_text}}</a>
          <button *ngIf="data.checkout_action" class="btn-tim" (click)="emitActionEvent(data.checkout_action)">{{data.cta_text}}</button>
        </div>
      </div>
    </div>
  </div>
</div>