@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/variables";

.how-works-tim {
    background-color: $white;
    position: relative;
    overflow: hidden;
    padding: 3rem;
    .image-container {
        text-align: center;
        img {
            max-width: 100%;
            object-fit: cover;
        }
    }
    .table-container {
        h2 {
            font-size: 1.8rem;
            text-align: center;
            margin-bottom: 1rem;
            margin-top: 2rem;
            @include media-breakpoint-up(md) {
                text-align: start;
                padding-left: 1rem;
                margin-top: 0;
            }
        }
        .list-container {
            list-style: none;
            padding: 0;
            @include media-breakpoint-up(xl) {
                columns: 2;
            }
        }
        .list-item {
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
            break-inside: avoid;
            .title {
                font-size: 1.1rem;
                font-weight: 500;
                padding-top: 1rem;
            }
            div {
                padding: 6px 0px 0px 60px;
                background: url(~assets/images/icons/tick.svg) 35px 23px no-repeat;
                background-size: 16px 12px;
            }
            .subitem {
                padding-left: 3.8rem;
                font-size: 0.9rem;
                margin-bottom: 0;
                @include media-breakpoint-down(md) {
                    padding-right: 1.8rem;
                }
                ::ng-deep p {
                    margin-bottom: 0.5rem;
                }
            }
        }
        .btn-section {
            padding-top: 1rem;
            padding-left: 2.5rem;
            .btn-tim {
                background-color: $btn-text-color;
                color: $white;
                border: none;
                padding: 10px 55px 10px 20px;
                display: inline-block;
                position: relative;
                text-align: left;
                font-weight: normal;
                &::after {
                    content:  url(~assets/images/icons/icon-arrow-right-thin-white.svg) ;
                    position: absolute;
                    right: 13px;
                    width: 24px;
                    height: 24px;
                    right: 20px;
                }
            }
        }
        .pdf-document-section {
            display: flex;
            margin-bottom: 0.2rem;
            align-items: center;
            img {
              margin-right: 0.5rem;
            }
            .pdf-document {
              color: #0164f2;
              line-height: normal;
              font-weight: 400;
              font-size: 0.9rem;
              ::ng-deep {
                p {
                  margin-bottom: 0;
                }
              }
            }
          }  
    }
}
