@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/_variables.scss";

.container-tutela-legale{
  padding: 15px 0px;
  background-color: white;
  border-top-left-radius: 0.6em;
  border-top-right-radius: 0.6em;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 20px;

  .subtitle{
    color: #666666;;
    width: 98%;
    margin-top: 10px;
  }

  .first-section{
    justify-content: space-between;
    align-items: center;
  }

  .collapse-aria[aria-expanded = true] {
    .closed {
      display: none;
    }

    .open {
      display: block;
    }

  }

  .collapse-aria[aria-expanded = false] {
    .closed {
      display: block;
    }

    .open {
      display: none;
    }

  }

  .icon-accordion{
    max-width: 16px;
    transition: 0.3s transform ease-in-out;
  }

  .arrow-icon{
    width: 20px;
  }

  .icon-check{
    height: 15px;
    width: 13px;
  }

  .button-remove{
    color: $primary;
    background-color: transparent;
    text-transform: uppercase;
    outline: none;
    border: 2px solid $primary;
    border-radius: 40px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    width: 133px;
    height: 40px;
    padding: 0px;
    margin-right: 15px;
    @media (max-width:460px) {
      height: 30px;
    }
    @media (max-width: 325px) {
      width: 85px;
    }
  }

  .button-add{
    background-color: $primary;
    color: $white;
    text-transform: uppercase;
    outline: none;
    border: 2px solid $primary;
    border-radius: 40px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    width: 133px;
    height: 40px;
    padding: 0px;
    margin-right: 15px;
    @media (max-width:460px) {
      height: 30px;
    }
    @media (max-width: 325px) {
      width: 85px;
    }
  }

}
.fee{
  display: flex;
  background: aliceblue;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  padding: 0 15px;
  border-bottom-left-radius: 0.6em;
  border-bottom-right-radius: 0.6em;
  box-shadow: rgb(0 0 0 / 35%) 0px 10px 20px;
  margin-bottom: 30px;
}

::ng-deep {
  p{
    margin-bottom: 0;
  }
}

.demo {
	padding-top: 60px;
	padding-bottom: 110px;
}

.btn-demo {
	margin: 15px;
	padding: 10px 15px;
	border-radius: 0;
	font-size: 16px;
	background-color: #FFFFFF;
}

.btn-demo:focus {
	outline: 0;
}

.container-description{
  p{
    margin-bottom: 0.5rem;
  }
  .card-body{
    margin-bottom: 0.5rem;
    color: #666666;
  }
}
.price-anno{
  bottom: -23px;
  font-size: 10px;
  font-weight: 100;
  color: darkslategray;
}
