@import "~sass/variables";

.how-works-table-slider-container {
  margin-top: 3rem;

  .container {
    border: 1px solid lightgrey;
    padding: 2rem;
    position: relative;
    overflow: hidden;

    .table-card {
      .options-list {
        position: relative;
        padding-right: 15px;
      }
    }

    .title {
      font-size: 1rem;
    }

    .space {
      padding-left: 48px;
    }

  }

}
