<div class="modal-window">
  <div class="modal-header">
    <div class="text-center">
      <p class="headline" [innerHtml]="kenticoItem?.title.value"></p>
    </div>
    <div class="icon-close" (click)="closeModal()">
     <img [src]="kenticoItem?.icon_close.images[0].url" (click)="closeModal()">
    </div>
  </div>
  <div class="text-center">
    <img [src]="kenticoItem?.image_product.images[0].url" alt="sport">
  </div>
  <div class="text-center imagin-include">
    <span>{{kenticoItem?.subtitle.value}}</span>
  </div>
  <div class="central-container">
    <div id="accordion" class="card">
      <div class="card-header" id="headingOne">
        <button class="btn-accordion-imagin" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
          aria-controls="collapseOne">
        {{ faqsContent[0]?.question.value}}
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
          </svg>
        </button>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <div class="row d-flex flex-row justify-content-around" >
            <div class="pmi-card col-10 col-md-5 rounded-sm">
              <ul class="pmi-benefits list-unstyled" *ngFor=" let item of faqsContent[0].answer.value">
                <li class="row mb-3" >
                  <img class="yolo-check " src="/assets/images/icons/checked-icon.svg" alt="check">
                  <div class="col-9" [innerHtml]="item?.text.value"></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <button class="btn-accordion-imagin" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
          aria-controls="collapseTwo">
             {{ faqsContent[1]?.question.value}}
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
          </svg>
        </button>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <div class="pmi-direct" [innerHtml]="faqsContent[1]?.answer.value[0].text.value">
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <button class="btn-accordion-imagin" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
          aria-controls="collapseThree">
             {{ faqsContent[2]?.question.value}}
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
          </svg>
        </button>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          <div class="row mb-5">
            <div class="col-6 col-sm-3 d-flex flex-column justify-content-start align-items-center">
              <img class="mw-100 mb-3" [src]="faqsContent[2]?.img.images[0].url" alt="icon-deporte_1.png">
              <span class="deporte-ofrece" [innerHtml]="faqsContent[2]?.description.value"></span>
            </div>
            <div class="col-6 col-sm-3 d-flex flex-column justify-content-start align-items-center">
              <img class="mw-100 mb-3" [src]="faqsContent[2]?.img.images[1].url"  alt="icon-deporte_2">
              <span class="deporte-ofrece" [innerHtml]="faqsContent[2]?.description_2.value"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <button class="btn-accordion-imagin" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
          aria-controls="collapseFour">{{ faqsContent[3]?.question.value}}
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
          </svg>
        </button>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">
            <div class="d-flex flex-row not-included align-items-start" *ngFor=" let item of faqsContent[3].answer.value">
              <img class="mr-3" src="/assets/images/icons/notIncluded.svg" alt="x">
              <div [innerHtml]="item?.text.value"></div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
