<div class="hero-quotator-container bg-img-hero" [ngClass]="data.container_class"
[ngStyle]="{'background-image': dataService.isTenant('chebanca') ? 'url(' + data.bg_img + ')' : 'null'}"  id="hero">
  <div class="container">
    <div class="row" [ngClass]="data.container_class">
      <div class="col-12 col-md-6 hero-header">
        <div class="col-12 order-1 text-container">
          <p *ngIf="data.welcome_message" class="welcome">{{data.welcome_message}}</p>
          <p class="title">{{data.title}}</p>
          <div class="line"></div>
          <p class="subtitle" [innerHtml]="data.subtitle"></p>
        </div>
        <div class="scroll" *ngIf="data.scroll">
          <p class="scroll-how-works" [ngx-scroll-to]="'#advantages'" [ngx-scroll-to-offset]="-85"
             *ngIf="data.scroll.how_works">{{data.scroll.how_works}}</p>
        </div>
          <img [src]="data.bg_img" [alt]="data.img_alt" class="d-none d-md-block bg-img" *ngIf="data.bg_img"/>
      </div>
      <div class="col-12 col-md-6 col-lg-5 quotator">
        <app-configuratore-basic-layout-two (actionEvent)="sendActionEvent($event)"
                                            [activeProduct]="data.selected_slide_id"
                                            [kenticoBody]="data"
                                            [products]="data.products"
                                            id="configuratore-basic-layout-two"></app-configuratore-basic-layout-two>
      </div>
    </div>
  </div>
</div>
