@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/_variables.scss";

.hero-quotator-container {
  padding-top: 64px;
  background: linear-gradient(180deg, $primary 70%, $white 30%);
  .background-overlay{
    display: none;
  }

  @include media-breakpoint-up(md) {
    background: linear-gradient(to right, #218ce7, #1d70b6) 100%;
    padding-top: 110px;
  }
  &.layout-chebanca_db {
    background: initial;
    padding-top: 110px;
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: -45px;
    @include media-breakpoint-up(xl) {
      background-size: contain;
    }
    img {
      display: none !important;
    }
    .background-overlay {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.3);
    }
    .bg-img-hero {
      padding: 5rem 0;
      height: 600px;
      background-position-x: 0;
      background-position-y: center;
      margin-bottom: -520px;
    }
    .hero-header {
      height: 100px;
      width: 100%;
      margin-top: 1rem;
      @media (min-width: 1430px) {
        margin-top: 6rem;
      }
    }
    .text-container {
      text-align: center;
      @include media-breakpoint-up(md) {
        padding-top: 205px;
        padding-left: 3.2rem;
        padding-right: 0.5rem;
        text-align: initial;
      }
    .title{
      color: #fff;
      font-family: DIN Condensed;
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      letter-spacing: .25px;
      text-transform: uppercase;
      margin-bottom: 2.5rem;
    }
    .line{
        position: absolute;
        height: 2px;
        bottom: 63px;
        background-color: $bg-color;
        width: 50%;
        @include media-breakpoint-down(md){
          bottom: 90px;
        }
        @media (max-width: 770px){
          left: 25%;
          bottom: 66px;
        }
    }
    .subtitle{
      color: #fff;
      font-family: din;
      font-size: 20px;
      letter-spacing: .17px;
      line-height: 24px;
      text-transform: uppercase;
      font-weight: 400;
      margin-bottom: 0.5rem;
        @include media-breakpoint-up(md) {
          font-size: 1.3rem;
        }
      }
    }
    .quotator{
      @media (max-width: 770px){
        margin-top: 85px;
      }
    }
  }
  &.layout-fca-bank_db {
    background: #E2E9F9;

    .title,
    .subtitle {
      color: $text-color;
    }
  }

  .title {
    margin: 1rem 0 0 0;
    color: $primary-subtitle-color;
    font-weight: 500;
    font-size: 1rem;

    @include media-breakpoint-up(md) {
      margin-top: 0;
      font-size: 1.5rem;
    }
  }

  .subtitle {
    font-weight: 300;
    font-size: 0.9rem;
    color: $primary-subtitle-color;

    @include media-breakpoint-up(md) {
      font-size: 1.3rem;
    }
  }

  .bg-img {
    padding: 1rem 0;
    max-width: 100%;
  }

  .hero-header {
    @include media-breakpoint-down(md) {
      text-align: center;
      padding-top: 0.5rem;
    }

    .welcome {
      color: white;
      padding: 0;
      margin-bottom: 1rem !important;
      font-size: 24px;
    }
  }

  &.layout-yolodb {
    @include media-breakpoint-up(md) {
      padding-top: 110px;
    }

    .scroll {
      display: flex;
      justify-content: center;

      @include media-breakpoint-up(lg) {
        justify-content: flex-end;
      }

      .scroll-how-works {
        color: $white;
        background-color: transparent;
        border: 2px solid $white;
        border-radius: 40px;
        width: 100%;
        padding: 12px 0;
        max-width: 230px;
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
        cursor: pointer;
        margin: 0 auto 15px
      }
    }
  }
}
