@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';
@import '~sass/_variables.scss';

.quotator {
  margin-top: 1.5rem;
}

.product-name h1 {
  color: $text-color-dark;
  font-size: 1.5rem;
  line-height: initial;
  margin-bottom: 0;
}

.product-icon-box {
  display: flex;
  margin-right: 1rem;
  margin-bottom: 1rem;
  align-items: center;

  img {
    width: 80px;
  }
}

.form-error {
  font-size: 0.8rem;
  color: $red;
}

.dates-disclaimer {
  font-size: 0.8rem;
  margin-top: 0.75rem;
  color: $text-color;
}

.product-download {
  color: $primary;
  text-decoration: underline;
}

.date-select {
  & > label {
    position: absolute;
    top: 1rem;
    left: 2rem;
    transition: 0.2s all;
  }

  & input:disabled ~ label,
    input:valid ~ label {
    font-size: 0.8rem;
    top: 0.5rem;
    transition: 0.2s all;
  }

  & input {
    padding-top: 1.5rem;
    padding-left: 1rem;
    font-size: 0.9rem;
    font-weight: bold;
    color: $text-color;

    &::placeholder {
      color: $text-color;
    }
  }
}
