@import "../../../../sass/variables";

.mobile-download {
  background: $primary-light;
}

.download-text {
  font-size: 1.4rem;
  color: $primary-dark;

  p {
    margin-bottom: 0;
  }
}

.blog-img {
  background-size: contain;
  width: 200px;
  min-width: 100%;
  max-width: none !important;
  height: 93px;
}
