
<section class="container-fluid app-download d-flex justify-content-center mobile-download"
         *ngIf="dataService.tenantInfo.header.layout === 'y' && locale.locale === 'it_IT'">
  <div class="dynamic-sub_section">
    <div class="mobile-download row row justify-content-center align-items-center container-960">
      <div class="col-auto font-weight-bold download-text"><p>Scarica l'app di Yolo!</p></div>
      <div class="col-auto"><a href="https://apps.apple.com/it/app/yolo/id1344776712">
        <img class="blog-img" src="../../../../assets/images/logos/appstore-lrg.svg"></a>
      </div>
    </div>
  </div>
</section>
