<section class="container-fluid heading">
  <div class="row justify-content-center">
    <h1 class="col-auto text-center mt-5">Edizione... Straserena!</h1>
    <div class="col-12"></div>
    <h3 class="col-auto text-center">Scopri tutte le novità del mondo Yolo!</h3>
  </div>
</section>

<section class="container-fluid news">
  <div class="row justify-content-center">
    <div class="col-md-10 p-0 p-sm-3">
      <div class="row no-gutters">
        <div class="col-sm-6 col-md-4 my-3 my-sm-0">
          <div routerLink="/article" routerLinkActive="active" class="item m-sm-3">
            <div class="img mx-auto"></div>
            <div class="title">Lorem ipsum dolor sit amet</div>
            <div class="sourcedate my-3">
              <div class="icon"></div>
              <span class="text">Lorem ipsum dolor sit amet</span>
            </div>
            <div class="desc">Se hai ancora dubbi, o se hai bisogno di una mano, tranquillo: noi siamo qui!</div>
          </div>
        </div>
        
        <div class="col-sm-6 col-md-4 my-3 my-sm-0">
          <div routerLink="/article" routerLinkActive="active" class="item m-sm-3">
            <div class="img mx-auto"></div>
            <div class="title">Lorem ipsum dolor sit amet</div>
            <div class="sourcedate my-3">
              <div class="icon"></div>
              <span class="text">Lorem ipsum dolor sit amet</span>
            </div>
            <div class="desc">Se hai ancora dubbi, o se hai bisogno di una mano, tranquillo: noi siamo qui!</div>
          </div>
        </div>
        
        <div class="col-sm-6 col-md-4 my-3 my-sm-0">
            <div routerLink="/article" routerLinkActive="active" class="item m-sm-3">
              <div class="img mx-auto"></div>
              <div class="title">Lorem ipsum dolor sit amet</div>
              <div class="sourcedate my-3">
                <div class="icon"></div>
                <span class="text">Lorem ipsum dolor sit amet</span>
              </div>
              <div class="desc">Se hai ancora dubbi, o se hai bisogno di una mano, tranquillo: noi siamo qui!</div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>