@import '../../../../sass/variables';

.heading {
    color: #fff;
    // background-image: url(../../../../assets/images/icons/news.svg), $gradient;
    background-size: contain;
    background-position: 50% 120%;
    background-repeat: no-repeat;
    background-size: 97.5%, 100%;
    height: calc(100px + 25vw);
    h1 {
        font-size: calc(2vw + 12px);
        text-transform: uppercase;
    }
    h3 {
        font-size: calc(1vw + 8px);
    }
}

.news {
    .item {
        padding: 7.5%;
        background: #fff;
        cursor: pointer;
        color: $primary-dark;
        @media (min-width: 576px) {
            border: 1.5px solid $primary;
        }
        .img {
            width: 100%;
            height: 12vw;
            margin-bottom: 7.5%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            // background-image: url(../../../../assets/images/photos/gianluca.png);
            @media (max-width: 768px) {
                height: 20vw;
            }
            @media (max-width: 576px) {
                width: 50%;
                height: 25vw;
            }
        }
        .title {
            font-size: calc(0.8vw + 11px);
            font-weight: 500;
            line-height: calc(0.8vw + 11px);
        }
        .sourcedate {
            .icon {
                width: 25px;
                height: 25px;
                border-radius: 100px;
                // background: url(../../../../assets/images/logos/logotype_white.svg) center no-repeat, $primary;
                background-size: 60%;
                display: inline-block;
                vertical-align: middle;
            }
            .text {
                font-style: italic;
                font-weight: 100;
                font-size: calc(0.25vw + 10px);
                vertical-align: middle;
            }
        }
        .desc {
            font-size: calc(0.25vw + 12px);
        }
        &:hover {
            background: $primary;
            color: #fff;
            .sourcedate {
                .icon {
                    border: 2px solid #fff;
                    background-position: 50% 40%;
                }
            }
        }
    }
}