@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";

@import '~sass/variables';

.title {
  display: flex;
  justify-content: center;
  line-height: 35px;
  span {
    font-size: 28px;
    font-family: Comfortaa;
    margin-bottom: 36px;
    text-align: center;
    color: #707070;
    @include media-breakpoint-up(sm) {
      font-size: 35px;
    }
  }
}

.insured-number {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  font-family: Lato-Ge;
  font-size: 17px;
  font-weight: bold;
  color: #707070;
}

.contactor-switch-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3rem;
  .switch {
    background-color: #707070;
    margin: 0 0.5rem 0 0;
    width: 84px;
    height: 42px;
    border-radius: 25px;
    &.active {
      background-color: #db003d;
      &::before {
        left: unset;
        right: 7px;
      }
    }
    & input {
      display: none;
    }
    &::before {
      content: '';
      transition: all 0.2s;
      position: absolute;
      top: 7px;
      left: 7px;
      background-color: $white;
      border-radius: 50%;
      width: 28px;
      height: 28px;
    }
  }
  .description {
    color: #485056;
    width: fit-content;
    & p {
      color: #db003d;
      margin: 0;
    }
  }
}

.form-field-wrapper{
  margin-bottom: 36px;
  .form-field {
    display: flex;
    background-color: $white;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.16);
    padding: 1rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px $black solid;
    input {
      font-family: Lato-Ge;
      font-size: 17px;
      width: 100%;
      color: #707070;
      background-color: transparent;
      border: none;
      outline: none;
    }
  }
}



.info-consent {
  font-family: Lato-Ge;
  font-size: 14px;
  font-weight:bold;
  color: #707070;
  // //For kentico innerHtml link
  ::ng-deep {
    a {
      color: #db003d;
      text-decoration: underline;
    }
  }
}

.error-message {
  color: #eb0000;
  font-family:Lato-Ge;
  font-size: 14px;
}

.policy-recap {
  &-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    span {
      font-family: Lato-Ge;
      font-size: 17px;
      color: #707070;
    }
  }
  &-column {
    display: flex;
    flex-direction: column;
    span {
      font-family: Lato-Ge;
      font-size: 17px;
      color: #707070;
    }
  }
}

.subtitle {
  display: flex;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  justify-content: flex-start;
  span {
    font-size: 25px;
    font-family: Comfortaa;
    text-align: center;
    color: #707070;
  }
}

.info-text {
  margin-top: 2rem;
  display: flex;
  .text{
    position: relative;
      width: 100%;
      min-height: 8.2rem;
      margin-left: 2rem;
      padding: 1.6rem 1.6rem 1.4rem 1.5rem;
      text-align: left;
      border-radius: 0.8rem;
      background-color: #f6f6f6;
  }
   .text:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: -0.8rem;
    top: 0.7rem;
    border-top: 0.6rem solid transparent;
    border-right: 0.8rem solid #f6f6f6;
    border-bottom: 0.6rem solid transparent;
  }
}

.elephant {
  &-img img {
    width: 43px;
    height: 43px;
    @include media-breakpoint-down(sm) {
      width: 30px;
      height: 30px;
    }
  }
  .text {
    font-family: Lato-Ge;
  }
  &-text {
    font-size: 14px;
    &-title {
      font-size: 17px;
    }
  }
}
.elephant-text{
  line-height: normal;
  font-size: 14px;
  font-family: Lato-Ge;
  color: #707070;
}
@media screen and (min-width: 376px){
  section{
    margin: 0 auto;
    max-width: 375px;
  }
}
.custom-bold{
  font-weight: bold;
}

