<div class="container how-work-table-slider-container" data-cy="how-work-table-slider__container"
  [ngClass]="data.container_class">
  <div class="row">
    <div id="advantages" class="col-12">
      <h2>{{data.title_section}}</h2>
      <!-- Mobile version -->
      <div class="d-block d-md-none row">
        <div class="container content-section-container" [ngClass]="data.container_class">
          <div class="row d-flex justify-content-center">
            <div class="tabs">
              <div *ngFor="let product of data.product_content; let i=index">
                <div class="row d-flex justify-content-center" style="display: flex; justify-content: space-evenly;">
                  <div class="table-tab" id="nav-tab" role="tablist" (click)=selectedTab(product.product_code)
                    [ngClass]="{ selected: product.product_code === data.selected_tab}">
                    <a class="nav-item nav-link active product-variant-title" id="nav-tab-{{i}}-tab" data-toggle="tab"
                      href="#nav-tab-{{i}}" role="tab" attr.aria-controls="nav-tab-{{i}}"
                      aria-selected="true">{{product.name}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngFor="let product of data.product_content; let i=index">
            <ng-container *ngIf="product.product_code === data.selected_tab">
              <div class="carousel-table card pb-0">
                <h3 class="product-title" [innerHTML]="product.name"
                  [ngClass]="product.name ? product.product_code : ''"></h3>
                <div class="container-icon pt-1" *ngIf="product.icon_trophy">
                  <img class="card-icon" [src]="product.icon_trophy" [alt]="product.icon_trophy">
                </div>
                <div class="row justify-content-center" *ngIf="product.icon_trophy">
                  <div class="box">
                    <img [src]="product.box_img" alt="box-img">
                  </div>
                </div>
                <div class="container-guarantee-list pr-3 pl-3">
                  <div class="container-guarantee pt-3 pb-3" *ngFor="let item of product.items_list">
                    <div class="container-guarantee-item">
                      <img [src]="item.img" [alt]="item.img">
                      <p class="title-guarantee pl-3 m-0">{{item.text}}</p>
                    </div>
                    <div class="container-guarantee-element pt-3 pl-4" *ngIf="item.list_elements.length > 0">
                      <div *ngFor="let element of item.list_elements">
                        <span class="list_elements"
                          [ngClass]="element.included === 'included' ? 'list_elements' : 'list_elements-x'"></span>
                        <p class="title-element m-0" [innerHTML]="element.list_item"></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <!-- Desktop version -->
      <div class="offset-1 col-10 d-none d-md-flex row">
        <div class="col" *ngFor="let product of data.product_content">
          <div class="carousel-table card pb-0">
            <h3 class="product-title" [innerHTML]="product.name" [ngClass]="product.name ? product.product_code : ''">
            </h3>
            <div class="container-icon pt-1" *ngIf="product.icon_trophy">
              <img class="card-icon" [src]="product.icon_trophy" [alt]="product.icon_trophy">
            </div>
            <div class="row justify-content-center" *ngIf="product.icon_trophy">
              <div class="box">
                <img [src]="product.box_img" alt="box-img">
              </div>
            </div>
            <div class="container-guarantee-list pr-3 pl-3">
              <div class="container-guarantee pt-3 pb-3" *ngFor="let item of product.items_list">
                <div class="container-guarantee-item">
                  <img [src]="item.img" [alt]="item.img">
                  <p class="title-guarantee pl-3 m-0">{{item.text}}</p>
                </div>
                <div class="container-guarantee-element pt-3 pl-4" *ngIf="item.list_elements.length > 0">
                  <div *ngFor="let element of item.list_elements">
                    <span class="list_elements"
                      [ngClass]="element.included === 'included' ? 'list_elements' : 'list_elements-x'"></span>
                    <p class="title-element m-0" [innerHTML]="element.list_item"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
