    @import "bootstrap/scss/_functions";
    @import "bootstrap/scss/_variables";
    @import "bootstrap/scss/mixins/_breakpoints";
    @import "sass/variables";
    .open-claim {
        a {
            text-transform: bold;
            text-decoration: underline;
            color: #2084D8;
        }
    }
    
    .card-content {
        margin-top: 2.5rem;
        h3 {
            @include media-breakpoint-up(lg) {
                font-size: 1.375rem;
                font-weight: 500;
                line-height: 1.2;
            }
            color: $title-color-dark;
            ;
            font-size: 1.2rem;
            text-transform: uppercase;
            margin-bottom: 1rem;
        }
        .policy-info {
            p {
                font-size: 0.9rem;
                font-weight: bold;
            }
            .status {
                position: relative;
                padding-left: 18px;
                &::before {
                    content: "";
                    width: 12px;
                    height: 12px;
                    background-color: #ddd;
                    position: absolute;
                    border-radius: 50%;
                    margin-right: 20px;
                    left: 0;
                    top: 5px;
                }
                &.active::before {
                    background-color: #4caf50 !important;
                }
                &.verified::before,
                &.unverified::before {
                    background-color: #f5a623;
                }
                &.active::before {
                    background-color: #b8e986;
                }
                &.expired::before,
                &.canceled::before,
                &.suspended::before {
                    background-color: #d0021b;
                }
            }
        }
        .extra {
            justify-content: space-between;
            border-top: 1px solid;
            border-bottom: 1px solid;
            border-color: $grey;
            margin: 0;
        }
        .certificate {
            padding: 1.2rem 0;
            display: flex;
            align-items: center;
            .fa-file-pdf {
                margin-right: 1rem;
                color: $title-color-dark;
                font-size: 32px;
            }
            a {
                color: $title-color-dark;
                text-decoration: none;
            }
        }
    }
    
    ::ng-deep {
        @media (max-width: 767px) {
            .modal-dialog {
                bottom: 0;
                position: fixed !important;
                top: auto;
                margin: 0;
            }
        }
    }