@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/_variables.scss";

.quotator-container {
    @include media-breakpoint-up(md) {
        background: white;
        border-radius: 8px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.11), 0 3px 6px rgba(0, 0, 0, 0.12);
    }
}
.quotator {
  .product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
      @include media-breakpoint-down(sm){
        padding: 15px 0 !important;
      }
    &-quot-name{
      width: 98%;
      font-size: 1.25rem;
      font-weight: bold;
      color: $primary-dark;

      @include media-breakpoint-down(sm){
        width: 100% !important;
        font-size: 22px !important;
        padding: 0 !important;
        margin-left: 5px;
        &.bancapc-it-it_db {
          color: $white;
        }
      }
    }
    &-icon {
      max-width: 80px;
      height: auto;
    }
  }
}
.product-icon{
  @include media-breakpoint-down(sm){
    display: none;
  }
}

