@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/variables";
.modal-content {
  position: relative;
  overflow: hidden;
  padding: 1rem;
    @media (max-width: 991px) {
        height: auto;
    }
    .bg-circle-cards {
        border-radius: 50%;
        border: 100px rgba(74, 144, 226, 0.35) solid;
        opacity: 43%;
        position: absolute;
        overflow: hidden;
        z-index: 2;
        top: -3rem;
        left: -3rem;
    }
    .modal-header {
        z-index: 2;
        border-bottom: none;
        .modal-title {
            color: $primary-dark;
            font-size: 1rem;
            width: 100%;
            text-align: center;
            padding-left: 35px;
        }
        .close {
            opacity: 1;
            color: $primary;
        }
        .close:focus {
            border: none;
            outline: none;
        }
    }
    .modal-body {
        display: flex;
        flex-direction: column;
        z-index: 2;
        align-items: center;
        img {
            max-width: 300px;
        }
    }

    .modal-footer {
        display: flex;
        justify-content: center;
        border-top: 0;
        z-index: 2;
        padding-bottom: 30px;
        .submit-btn {
            @include media-breakpoint-down(sm) {
                width: 90%;
            }
            color: #fff;
            background-color: var(--primary-y, #ccc);
            text-transform: uppercase;
            outline: 0;
            border: none;
            border-radius: 40px;
            width: 45%;
            padding: 12px 0;
        }
    }
}

button {
    border: none;
    outline: none;
    background: transparent;
}
