<ng-container #body *ngIf="showStates.includes(state);else hide;">
  <ng-container *ngIf="checkoutService.InsuranceInfoState$ | async as insuranceInfoState">
    <ng-container *ngIf="checkoutService.ChosenPackets$ | async as chosenPackets">
      <ng-container *ngIf="Order$ | async as order">
        <div class="row-shadowed tim-my-home pt-20px" *ngIf="isStickyCartOpen">
          <div class="shopping-cart">
            <div class="d-flex justify-content-between d-lg-block">
              <div>
                  <!-- Title -->
                  <h5>
                      {{'tim_bill_protector.shopping_cart_title_bp' | kentico}}
                  </h5>
                  <!-- Seller Info -->
                  <div class="seller-info-container">
                      <div class="seller-info">
                          <span> {{'tim_bill_protector.main_page_seller_company_bp' | kentico}}</span>
                      </div>
                      <div class="company-info">
                          <div class="company-logo">
                              <img class="image-size" [src]="'tim_bill_protector.main_page_buying_product_description_image' | kentico" />
                          </div>
                      </div>
                  </div> 
              </div>
              <!-- Close icon mobile cart -->
              <span class="mt-2 pointer" (click)="toggleStickyCart()" *ngIf="isSticky">
                  <img *ngIf="isStickyCartOpen" [src]="'tim_bill_protector.shopping_cart_close_icon_bp' | kentico" />
              </span>
            </div>
            <!-- Date Info -->
            <div class="date-info">
              <span class="col">
                  {{'tim_bill_protector.shopping_cart_validity_title_bp' | kentico}}
                  <span class="pl-0"><b>{{order?.orderItem[0]?.start_date | date :'dd/MM/yyyy'}} -
                      {{order?.orderItem[0]?.expiration_date | date :'dd/MM/yyyy'}}</b></span>
              </span>
            </div>
            <!-- Coverages -->
            <div class="row selected-coverages">
              <span class="col">
                  <h6 class="t-12 mb-0">
                      {{'tim_bill_protector.shopping_cart_selected_coverages_bp'| kentico}}
                  </h6>
                  <div class="coverages">
                      <ng-container *ngIf="chosenPackets?.packet?.name; else emptyCart">
                          <div class="mb-0">
                            <span class="t-10" *ngFor="let warranty of chosenPackets.warranties">
                                {{ warranty?.anagWarranty?.name }}<br>
                            </span>
                          </div>
                      </ng-container>
                  </div>
              </span>
            </div>
            <ng-template #emptyCart>
              <span [innerHTML]="'tim_bill_protector.shopping_cart_empty_bp' | kentico">errore</span>
            </ng-template>
            <!-- Informative Set -->
            <div class="info-section">
              <div data-cy="checkout-cost-item-details__informative-set" class="tim-broker-customers_db font-weight-700 t-14">
                  <span class="colc-cta">
                    <a (click)="downloadProductDocuments()" target="_blank" rel="noopener noreferrer">
                      {{'tim_bill_protector.shopping_cart_informative_set_bp' | kentico}}
                    </a>
                  </span>   
              </div>
            </div>
          </div>
        </div>

        <!-- Total Price -->
        <div class="total-amount-shopping-cart" [ngClass]="{'cart-opened': isStickyCartOpen}">
          <!-- Sticky Arrow up/down -->
          <span class="col-2 clickable" (click)="toggleStickyCart()" *ngIf="isSticky"><img
              [src]="(isStickyCartOpen ? 'tim_bill_protector.shopping_cart_arrow_down_icon_bp' : 'tim_bill_protector.shopping_cart_arrow_up_icon_bp') | kentico" />
          </span>
          <span class="col">
              <b>{{'tim_bill_protector.shopping_cart_total_price_title_bp' | kentico}}</b>
          </span>
          <span class="col c-tim">
              <b class="t-24" [ngClass]="{'placeholder' : !chosenPackets?.price}">{{chosenPackets?.price ? (chosenPackets.price | currency) : "Seleziona pacchetto"}}</b>
              <p *ngIf="chosenPackets?.price">Al mese</p>
          </span>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #hide>
  <ng-container #innerhide></ng-container>
</ng-template>
