<div class="modal-window">
  <div class="modal-header">
    <div>
      <p class="headline" [innerHtml]="kenticoItem?.title.value"></p>
    </div>
    <div class="icon-close" (click)="closeModal()">
     <img [src]="kenticoItem?.close_icon.images[0].url" (click)="closeModal()">
    </div>
  </div>
  <div class="subtitle">
    <span>{{kenticoItem?.subtitle.value}}</span>
  </div>
  <div class="central-container">
    <div id="accordion" class="card">
        <div class="list-unstyled" *ngFor="let modalItem of kenticoItem.modal_items.value">
            <p class="content-label" [innerHtml]="modalItem?.title_label.value"></p>
            <ul  *ngFor="let mI of modalItem?.list_content.value">
              <li [innerHtml]="mI.item_value.value"></li>
            </ul>
        </div>
    </div>
  </div>
</div>
