<ng-container *ngIf="data">
  <div class="more-info-container" [ngClass]="data.container_class">
    <div class="container">
      <div class="row">
        <div class="col-12 more-info-content">
          <h3 class="title" [ngClass]="dataService.tenantInfo.tenant" [innerHTML]="data.title"></h3>
          <app-dynamic-section class="more-info-description" [dynamicHtml]="data.subtitle"></app-dynamic-section>
          <button *ngIf="data.button_text" [ngClass]="data.btn_animation ? 'btn-animation' : 'outline-btn'"
                  [routerLink]="data.button_redirect ? data.button_redirect : '/contatti'">{{data.button_text}}
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
