@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/variables";

.card-content {
  margin-top: 2.5rem;

  h3 {
    @include media-breakpoint-up(lg) {
      color: $title-color-dark;
      font-size: 1.375rem;
      font-weight: 500;
      line-height: 1.2;
    }

    color: $primary;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  .policy-info {
    p {
      font-size: 0.9rem;
      font-weight: bold;
    }
  }

  .status {
    position: relative;
    padding-left: 18px;

    &::before {
      content: "";
      width: 12px;
      height: 12px;
      background-color: #ddd;
      position: absolute;
      border-radius: 50%;
      margin-right: 20px;
      left: 0;
      top: 5px;
    }

    &.active::before {
      background-color: #4caf50 !important;
    }

    &.verified::before,
    &.unverified::before {
      background-color: #f5a623;
    }

    &.active::before {
      background-color: #b8e986;
    }

    &.expired::before,
    &.canceled::before,
    &.suspended::before {
      background-color: #d0021b;
    }
  }

  .extra {
    justify-content: space-between;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: $grey;
    margin: 0;
  }

  .certificate,
  .info-package {
    padding: 1.2rem 0;
    display: flex;
    align-items: center;

    .fa-file-pdf {
      @include media-breakpoint-up(lg) {
        color: $title-color-dark;
      }

      margin-right: 1rem;
      color: $primary;
      font-size: 32px;
    }

    a {
      @include media-breakpoint-up(lg) {
        color: $title-color-dark;
      }

      color: $primary;
      text-decoration: none;
    }
  }

  &.tim-broker-employees_db,
  &.tim-broker-customers_db {
    h3 {
      @include media-breakpoint-up(lg) {
        color: $primary;
      }
    }
    .certificate,
    .info-package {
      height: 100%;
      .fa-file-pdf,
      a {
        @include media-breakpoint-up(lg) {
          color: $primary;
        }
      }
    }
  }

  &.civibank_db,
  &.fca-bank_db,
  &.intesa_db,
  &.bancapc-it-it_db,
  &.banco-desio_db {
    h3 {
      @include media-breakpoint-up(lg) {
        color: $primary;
      }
    }

    .certificate {

      .fa-file-pdf,
      a {
        @include media-breakpoint-up(lg) {
          color: $primary;
        }
      }
    }
  }

  &.yolodb {
    h3 {
      @include media-breakpoint-down(lg) {
        color: $title-color-dark;
      }
    }

    .certificate {

      .fa-file-pdf,
      a {
        @include media-breakpoint-down(lg) {
          color: $title-color-dark;
        }
      }
    }
  }
}
