<div class="card-content col-12" [ngClass]="dataService.tenantInfo.tenant">
  <h3>{{'private_area.policy_data' | translate | async}}</h3>
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-4 policy-info">
      <label class="mb-0">{{'private_area.policy_label' | translate | async}}</label>
      <p>{{policy.policyNumber}}</p>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 policy-info">
      <label class="mb-0">{{'private_area.payment_status' | translate | async}}</label>
      <p class="status" [ngClass]="policy.status">{{policy.statusLabel}}</p>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 policy-info">
      <label style="text-transform: capitalize;" class="mb-0">{{petKindLabel}}</label>
      <p>{{petName}}</p>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 policy-info">
      <label class="mb-0">{{'private_area.activation_date' | translate | async}}</label>
      <p>{{formattedStartDate}}</p>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 policy-info">
      <label class="mb-0">{{'private_area.expiration_date' | translate | async}}</label>
      <p>{{formattedExpirationDate}}</p>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 policy-info" *ngIf="duration">
      <label class="mb-0">{{'private_area.duration' | translate | async}}</label>
      <p>{{duration}}</p>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 policy-info" *ngIf="policy">
      <label class="mb-0">{{'private_area.value' | translate | async}}</label>
      <p>{{policy.payment_sources[0].amount | currency}}</p>
    </div>
  </div>
  <div class="row extra">
    <div class="col p-0" *ngIf="isCertificateMissing(policy)">
      <div class="certificate">
        <i class="far fa-file-pdf"></i>
        <a (click)="downloadFile(policy)">{{ 'private_area.pdf_download' | translate | async }}</a>
      </div>
    </div>
    <div class="col p-0" *ngIf="infoPackageDownload() && policy.product.information_package">
      <div class="info-package">
        <i class="far fa-file-pdf"></i>
        <a href="{{policy.product.information_package}}" target="_blank">{{ 'private_area.info_package_download' |
          translate | async }}</a>
      </div>
    </div>
  </div>
</div>