<div #body class="row justify-content-center">
  <div class="col-10 col-md-6" *ngIf="content">
    <div class="row-shadowed row thank-you-page">
      <div class="col-12">
        <img [src]="'nyp_products_data.like_img' | kentico" />
      </div>
      <h2 class="col-12 typ-title" innerHTML="{{ 'nyp_products_data.typ_title' | kentico }}"></h2>
      <div class="col-12">
        <span class="col-12 typ-desc" innerHTML="{{ 'nyp_products_data.typ_text' | kentico }}"></span>
      </div>
    </div>

    <div class="row info">
      <h5>{{ 'nyp_products_data.riepilogo_ordine' | kentico }}</h5>
      <div class="row col-12 content-info">
        <div class="col-6 l-side">
          <span>{{ 'nyp_products_data.polizza_assicurativa' | kentico }}</span>
        </div>
        <div class="col r-side">
          <span>{{ 'nyp_products_data.product_name_sci' | kentico }} {{selectedPacket}}</span>
        </div>
        <div class="col-6 l-side">
          <span>{{ 'tim_for_ski.monthly_price' | kentico }}</span>
        </div>
        <div class="col r-side">
          <span *ngIf="this.nypDataService.Order$ | async as order">
            {{order?.orderItem[0]?.price | currency}}
          </span>
        </div>
      </div>
    </div>

    <div class="row pb-4 pt-3 total-price-container">
      <div class="col-12 d-flex p-0 align-items-center">
        <div class="col p-0 l-side-total">
          <span>{{ 'tim_for_ski.total_price_to_pay' | kentico }}</span>
        </div>
        <div class="col p-0 r-side-total">
          <span *ngIf="this.nypDataService.Order$ | async as order">
            {{order?.orderItem[0]?.price | currency}}
          </span>
        </div>
      </div>

    </div>

    <div class="row text-center cta-container">
      <div class="col-12 col-md-8">
        <button class="btn typ-btn c-bg-cta c-white" routerLink="/private-area/my-policies">
          {{ 'nyp_products_data.go_to_private_area' | kentico}}
        </button>
      </div>
      <div class="col-12 col-md-8">
        <a href="https://www.tim.it/fisso-e-mobile/servizi/mybroker" target="_blank">
          <button class="cta-button">
            {{ 'nyp_products_data.back_to_mybroker' | kentico}}
          </button>
        </a>
      </div>
    </div>

  </div>
</div>

<ng-template #hide>
  <ng-container #innerhide></ng-container>
</ng-template>
