@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/variables";

.vetrina {
  margin-top: 72px;

  @include media-breakpoint-up(md) {
    margin-top: 70px;
  }

  .warning-message {
    justify-content: center;
    align-items: center;
    padding: 6px 0 0;
    background: $white;

    p {
      background: $link-color;
      margin-bottom: 0;
      width: 100%;
      text-align: center;
      color: white;
      font-weight: 400;
      font-size: 1.2rem;
      padding: 1rem 2.5rem;
    }
  }

  .half {
    background: $white;

    &:first-child {
      padding: 6px 0 3px;

      @include media-breakpoint-up(md) {
        padding: 6px 3px 0 0;
      }
    }

    &:last-child {
      padding: 3px 0 6px;

      @include media-breakpoint-up(md) {
        padding: 6px 0 0 3px;
      }
    }

    .prod-container {
      background-size: cover;
      background-position: center;
      padding: 4rem 2rem 4rem;
      display: flex;
      justify-content: flex-end;

      @include media-breakpoint-up(md) {
        height: calc(80vh - 12px);
        padding: 3rem 2rem;
      }

      &.with-message {
        @include media-breakpoint-up(md) {
          height: calc(80vh - 94px - 12px);
        }

        @include media-breakpoint-up(xl) {
          height: calc(80vh - 67px - 12px);
        }
      }

      .content {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-end;

        h2 {
          color: $white;
          text-transform: uppercase;
          font-weight: 400;
          line-height: normal;
          font-size: 1.8rem;
          text-align: right;
        }

        p {
          color: white;
          text-align: right;
          font-size: 1.1rem;
        }

        .btn {
          z-index: 2;
          background-color: $primary;
          min-width: 180px;
          padding: 0 20px;
          letter-spacing: 0.5px;
          font-weight: 500;
          font-size: 1.1rem;
        }
      }
    }
  }

  &.mopar_db {
    .half {
      .prod-container {
        .content {
          @include media-breakpoint-up(md) {
            height: 220px;
          }

          @include media-breakpoint-up(xl) {
            max-width: 59%;
          }
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 6px;
        left: 0px;
        width: 100%;
        height: calc(100% - 9px);
        background: linear-gradient(to bottom, rgba(15, 15, 15, 0.6), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.22));

        @include media-breakpoint-up(md) {
          top: 6px;
          left: -3px;
          height: calc(100% - 6px);
        }
      }
    }
  }
}
