<section>
  <app-cookies-cb *ngIf="dataService.tenantInfo.footer.layout === 'cb' || dataService.tenantInfo.footer.layout === 'ril'"></app-cookies-cb>
  <app-cookies-y *ngIf="dataService.tenantInfo.footer.layout === 'y' || dataService.tenantInfo.footer.layout === 'fca' || dataService.tenantInfo.footer.layout === 'mopar' || dataService.tenantInfo.footer.layout === 'leasys' || dataService.tenantInfo.footer.layout === 'bs' || dataService.tenantInfo.footer.layout==='helbiz' || dataService.tenantInfo.footer.layout=== 'basic'"></app-cookies-y>
  <app-cookies-tim *ngIf="dataService.tenantInfo.footer.layout === 'tim'"></app-cookies-tim>
</section> 
