@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/_variables.scss";

$tim-cyber-business-bg-blue: #122AC2;

.login-register-container {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.login-register-content {
    display: flex;
}

.login-register-inner-content {
    display: flex;
}

.back-button {
    border: 0;
    background: transparent;
    cursor: pointer;
    margin-bottom: 16px;
    padding: 0;
    color: $tim-cyber-business-bg-blue;
    align-self: flex-start;
}

.error-banner {
    display: flex;
    padding: 4px 10px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 14px;
    background: #FFF3F0;
    color: #EA0026;
    font-size: 14px;
    border: 1px solid #EA0026;
}

input[type="checkbox"] {
    transform: scale(1.5);
}

.info-password {
    display: block;
    padding-left: 14px;
    color: #7F7F7F;
    height: fit-content;
}

.checkbox-text {
    margin-left: 12px;
    line-height: 23px;
    font-size: 18px;
}

.ls-025 {
    letter-spacing: 0.25px;
}

.registration-success {
    max-width: 400px;
    padding: 40px 24px;
    margin: 0 auto;

    .success-icon {
        display: block;
        margin: 0 auto;
    }

    .success-title {
        font-weight: bold;
        font-size: 25px;
        color: #081677;
    }

    .success-message {
        font-size: 13px;
        max-width: 320px;
        margin: 0 auto;
    }
}

.step-indicator {
    display: flex;
    justify-content: center;
    background: transparent;

    img {
        max-width: 100%
    }
}

.field-container {
    column-gap: 11px;

    .max-width {
        max-width: 49%;
    }

    .input-el-container {
        flex: 0 0 49%;
        max-width: 49%;
        flex-direction: column;

        label {
            .inner-container {
                position: absolute;
                display: flex;
                flex-direction: row;
                width: 100%;
                max-width: 260px;
                justify-content: space-between;

                .password-toggle-btn {
                    position: relative;
                    bottom: 54px;
                }

                span.real-label {
                    bottom: 53px;

                    &.up {
                        bottom: 65px;
                    }
                }

                &.up-container {
                    .password-toggle-btn {
                        bottom: 36px;
                    }
                }
            }
        }

        select {
            cursor: pointer;
        }
    }

    .error-message {
        color: #EA0026;
        font-size: 12px;
        margin-top: 3px;
        width: 100%;
        padding-left: 14px;
    }

    .input-el-container.vat-input {
        max-width: 100%;
    }

    .input-el-container:nth-child(even),
    .rounded-view .choice-el-container:nth-child(even) {
        margin-left: 0;
    }

    .input-el-container:nth-child(odd),
    .rounded-view .choice-el-container:nth-child(odd) {
        margin-right: 0;
    }

    .max-width-100 {
        width: 100%;
    }

    .input-el-container.col-12 {
        max-width: 100% !important;
        flex: 0 0 100%;
        padding-right: 0;
        padding-left: 0;
    }
}

.form-big-checkbox {
    display: flex;
    align-items: stretch;
}

.checkbox-txt {
    height: 100%;
    display: flex;
}

.form-big-checkbox input:checked~.checkbox {
    background: url(./../../../../../../../assets/images/tim/checkbox_checked_icon.svg) no-repeat;
}

.consent-container {
    display: flex;
    flex-direction: column;
    margin-top: 56px;
    align-items: center;
}

@include media-breakpoint-down(md) {
    .login-register-container {
        padding: 0;
    }

    .input-choice .choice-el-container,
    .input-choice .choice-el-container.col-12 {
        flex: 0 0 100%;
        max-width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    .field-container .input-el-container,
    .field-container .input-el-container.col-12 {
        flex: 0 0 100%;
        max-width: 100%;
        margin-right: 0;
        margin-left: 0;
        padding: 0;
    }

    .field-container .input-el-container {
        height: fit-content;
    }

    .field-container.has-error {
        row-gap: 16px;
    }
}