@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/variables";

.thank-you-page {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  padding: 60px 0px 0px 0px;

  img {
    max-width: 100px;
    margin-top: 2rem;
  }

  h2 {
    color: #004691;
    font-weight: 700;
    font-size: 24px;

  }

  .text {
    display: flex;
    flex-direction: column;
  }

  .basic-outline {
    padding-left: 1rem;
    padding-right: 1rem;
    border: 0 solid;
    background-color: $btn-text-color;
    color: white;
    border-radius: 0px;
  }
}

.upselling-section {
  padding: 1.2rem;
  width: 95%;
  background-color: #e4efff;
  color: #0033a1;

  .title {
    font-size: 20px;
    font-weight: bold;
  }

  .text {
    margin-bottom: 3px;
  }

  .button {
    background-color: $btn-text-color;
    color: $white;
    border: none;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  }
}

.typ-title {
  color: #0033A1;
  font-size: 20px;
}

.typ-desc {
  font-size: 14px;
}

.typ-btn {
  border-radius: 0%;
  font-size: 12px;
}

.typ-cont {
  padding-right: 35px;
}

.orchestrator-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.content-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px 0px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.r-side {
  text-align: end;
  padding: 0px;
  font-size: 18px;
  font-weight: 700;
}

.r-side-monthly {
  text-align: end;
  font-size: 20px;
  font-weight: 700;
  color: #004691;
}

.r-side-total {
  text-align: end;
  font-size: 18px;
  font-weight: 700;
  color: #004691;
}

.l-side {
  text-align: start;
  padding: 0px;
  font-size: 14px;
  font-weight: 400;
}

.l-side-total {
  text-align: start;
  font-size: 18px;
  font-weight: 700;
  color: #004691;
}

.cta-container {
  gap: 16px;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}

.cta-button {
  background: transparent;
  border: none;
  color: #0164F2;
  font-size: 20px;
  font-weight: 700;
}

.total-annual-info {
  font-size: 14px;
  font-weight: 400;
  color: #606060;
  align-items: center;
}

.total-price-container {
  gap: 16px;
}

.secondary {
  color: #606060;
  font-weight: 400;
}

.b-none {
  border: none;
}
