@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/_variables.scss";

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-btn {
  color: #ffffff;
  width: 100%;
  padding: 12px 0;
  border-radius: 0%;
  border: none
}

.submit-btn.uppercase {
  text-transform: uppercase;
  border: none
}

.buy-btn {
  color: #ffffff;
  width: 90%;
  padding: 12px 0;
  border-radius: 0%;
  border: 0;
}

.underline {
  border-bottom: 1px solid;
}

.underline-cart {
  border-bottom: 1px solid;
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px !important;
  box-sizing: content-box;
}

.checkout-header {
  align-items: flex-end;
  justify-content: space-between;
}

.box-container {
  width: 100%;
}

.card-container {
  width: 100%;
  padding-left: 4.3%;
  padding-right: 4.3%;

}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-header {
  align-items: center;
  padding: 16px;
  background: linear-gradient(#031743, #0A3393) !important;
  color: white;

  @include media-breakpoint-down(md) {
    margin-left: 0;
    margin-right: 0;
  }

  .text-container {
    display: flex;
    width: 100%;
    align-items: center;

    .title {
      color: $white;
      padding: 1rem;

      @include media-breakpoint-down(xs) {
        width: 50%;
        font-size: 14px;
      }

      @include media-breakpoint-down(md) {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 5px;
        padding-right: 0;
        width: 32%;
      }
    }

    h6 {
      font-weight: bold;
      margin-bottom: 0;
    }

    span {
      font-weight: 400;
    }
  }

  .period-container {
    align-items: baseline;
  }

  .price {
    @include media-breakpoint-down(md) {
      padding: 1rem 0rem 1rem 0rem;
      margin-right: 5px;
    }

    padding: 1rem 0rem 1rem 3rem;
    margin-right: 5px;

    span {
      font-size: 2rem;
      color: $white;

      @include media-breakpoint-down(md) {
        font-size: 21px;
      }
    }
  }

  .period {
    color: $white;
    font-size: 14px;
  }
}

.close-button {
  display: flex;
  justify-content: center;
  align-items: center;

  .close-img {
    display: contents;
    width: 42px;
    height: 42px;
    flex-grow: 0;
    object-fit: contain;
    float: right;
    cursor: pointer;
  }
}


.modal-body {
  height: 45vh;
  background-color: $white;
  overflow: auto;



  .section-title {
    margin: 0;
  }

  .accordion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    outline: none;
    padding: 0 1rem;

    a {
      outline: none;
    }

    & a[aria-expanded=true] {
      i {
        transform: rotate(180deg);
      }
    }

    .accordion-title {
      @include media-breakpoint-down(md) {
        margin-top: 0rem;
      }

      outline: none;
      align-items: center;
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;

      .addon-name {
        h3 {
          font-size: 1rem;
        }
      }

      i {
        transition: all 0.5s;
        color: #4a4a4a;
      }
    }
  }
}

.modal-footer {
  position: sticky;
  bottom: 0;
  background-color: $white;
  justify-content: center;

  .buttons {
    justify-content: space-between;
    align-content: center;
    width: 100%;

    @include media-breakpoint-down(md) {
      flex-direction: column-reverse;
    }

    .submit-btn {
      color: $primary;
      outline: none;
      border: none;
      width: 100%;
      padding: 12px 0;

      &.buy {
        background-color: $btn-text-color;
        color: $white;
        text-transform: uppercase;
      }

      &.back {
        background-color: $white;
        color: $btn-text-color;
        text-transform: capitalize;
      }
    }

  }
}

.price {
  font-weight: bold;
  color: $white;
  font-size: 25px;

  &-discount {
    font-weight: bold;
    color: $white;
    text-decoration: line-through;
    font-size: 18px;
    margin-right: 1rem;

    @include media-breakpoint-down(md) {
      margin-right: 0;
      font-size: 18px;
    }
  }

}

.custom-checkbox {
  list-style: none;
  font-size: 15px;
}

.custom-checkbox input[type="checkbox"] {
  transform: scale(2);
  margin-right: 10px;
  border-radius: 0px;
}

.btn-remove {
  border: 2px solid #0164F2;
  width: 100%;
  padding: 12px 0;
  background-color: white;
  color: #0164F2;
}

.coverages {
  padding-inline: 17%;
  padding-top: 10px;
}

//.container {
//  max-width: 90%;
//  margin: 0 auto !important;
//}

// CSS per dispositivi mobili
/*@media (max-width: 768px) {
  .card {
    display: none;
  }

  .mobile-package-selector {
    display: block;
  }
}

@media (min-width: 769px) {
  .card {
    display: block;
  }

  .mobile-package-selector {
    display: none;
  }
}*/

.sticky-bottom {
  position: sticky;
  bottom: -1px;
  z-index: 100;
}

.secondary {
  color: #606060;
}

button:disabled {
  opacity: 0.5 !important;
}


.tim-tich-svg-width {
  width: 10.61px;
  height: 10.61px;
}
