.tim-my-home {
  padding: 12px 16px 0px 16px;
  h5{
    color: #0033A1;
  }
  .icon-arrow-down {
    text-align: end;
    position: relative;
    top: 10px;
  }

}

.shopping-cart {
  padding-bottom: 8px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;

  .seller-info-container {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 8px;

    .seller-info {
      span {
        margin: 0;
        font-size: 14px;
        font-weight: 400;
      }
    }

    .company-info {
      .company-logo {
        width: 80px;
        text-align: center;

        .image-size {
          width: 4rem;
          height: auto;
        }
      }
    }
  }

  .date-info {
    display: flex;
    align-items: center;
    justify-content: start;
    background: #EFEFEF;
    gap: 2px;

    span {
      padding: 8px;
      padding-right: 2px;
      font-size: 12px;
    }

    p {
      margin: 0;
      font-size: 10px;
    }
  }

  .destination-info {
    span{
      font-weight: 500;
    }
    .col {
      font-size: 12px;
      font-weight: 400;
      color: #000000;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 2px;

      p {
        font-size: 10px;
        font-weight: 400;
        margin: 0;
      }
    }
  }

  .selected-coverages {
    .col {
      display: flex;
      flex-direction: column;
      font-size: 12px;
      font-weight: 400;
      gap: 2px;

      .coverages {
        color: #666;
        font-size: 10px;
        font-weight: 400;
        margin: 0;
        padding: 0;
        gap: 2px;
      }
    }
  }

  .info-section {
    padding-bottom: 8px;

    .colc-cta {
      a {
        color: #0164F2 !important;
        cursor: pointer;
      }
    }
    .c-cta{
      a {
        color: #0164F2 !important;
        cursor: pointer;
        text-decoration: underline !important;
      }
    }
  }
}

.total-amount-shopping-cart {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 10px 10px 0 0;
  background: linear-gradient(to right, #020E2b, #08225E) !important;
  color: white !important;

  &.cart-opened{
      border-radius: 0;
  }

  .clickable {
    cursor: pointer;
    border: 1px solid transparent;

    img {
      width: 28px;
      height: auto;
      color: white !important;
    }
  }

  .col-6 {
    font-size: 14px;
  }

  .c-tim {
    font-size: 24px;
    text-align: end;
    color: white !important;
    .t-24 {
      color: white !important;
      text-align: end !important;
    }
    p{
      margin: 0px;
      font-size: 12px;
    }
    .placeholder {
      font-size: 16px;
    }
  }

  @media screen and (min-width: 992px) {
      background: linear-gradient(to right, #031743, #0A3393) !important;
      border-radius: 0;
  }
}

$be-colors: (
  "transparent": transparent,
  "tim": #0033A1,
  "step": #62606e,
  "dirty": #E8F2FD,
  "card" : #ccc,
  "white": #FFFFFF,
  "black": black,
  "cta": #0164F2,
  "gray": rgb(71, 71, 71),
  "light-gray":#C0C0C0,
  "red": #E20E24,
);
