<form [formGroup]="form" id="customers-tim-pet-step-info">
  <div class="row">
    <div class="col-12">
      <h3 class="step-title">{{contentItem.title.value}}</h3>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <span>{{contentItem.title_choose_animals.value}}</span>
    </div>
  </div>
  <div class="row pet-choice">
    <div class="col-6"
      [ngClass]="form.get('kind').value === 'dog' ? 'selected-pet' : 'unselected-pet'">
      <div class="row select-pet-label dog">
        <label class="col-auto mb-0" for="dog" (click)="selectPetType('dog')">
          {{contentItem.choose_pet.value}} cane
        </label>
        <input name="kind" type="radio" id="dog" value="dog" formControlName="kind">
        <label class="pet-radio" for="dog" (click)="selectPetType('dog')" omniturecta="seleziona animale" omnitureposition="1">
          <svg width="28.977079" height="21.808012" viewBox="0 0 28.977079 21.808012">
            <path class="animated-tick"
              d="M 1.8195415,13.337596 9.6337911,20.00808 27.159236,1.818512" id="checkmark-path" inkscape:connector-curvature="0"
              sodipodi:nodetypes="ccc">
            </path>
          </svg>
        </label>
        <label for="dog">
          <div class="col-auto my-3">
            <img class="pet-image" src="/assets/images/tim/dog.svg" alt="dog"
              attr.data-cy="net-pet-checkout-info__select-dog-image" (click)="selectPetType('dog')">
          </div>
        </label>
      </div>
    </div>
    <div class="col-6"
      [ngClass]="form.get('kind').value === 'cat' ? 'selected-pet' : 'unselected-pet'">
      <div class="row select-pet-label cat">        <label class="col-auto mb-0" for="cat" (click)="selectPetType('cat')">
          {{contentItem.choose_pet.value}} gatto
        </label>
        <input name="kind" type="radio" id="cat" value="cat" formControlName="kind">
        <label class="pet-radio" for="cat" (click)="selectPetType('cat')" omniturecta="seleziona animale" omnitureposition="1">
          <svg width="28.977079" height="21.808012" viewBox="0 0 28.977079 21.808012">
            <path class="animated-tick"
              d="M 1.8195415,13.337596 9.6337911,20.00808 27.159236,1.818512" id="checkmark-path" inkscape:connector-curvature="0"
              sodipodi:nodetypes="ccc">
            </path>
          </svg>
        </label>
        <label for="cat">
          <div class="col-auto my-3">
            <img class="pet-image" src="/assets/images/tim/cat.svg" alt="cat"
              attr.data-cy="net-pet-checkout-info__select-cat-image" (click)="selectPetType('cat')">
          </div>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- pet name -->
    <div class="col-12 col-lg-6">
      <div class="form-label-group basic-field"
        [ngClass]="{'error-field': form.controls.petName.touched && form.controls.petName.errors}">
        <input class="form-control" formControlName="petName" id="petName" [placeholder]="contentItem.name_animals.value" type="text"
           data-cy="net-pet-checkout-info__pet-name">
        <label for="petName">{{contentItem.name_animals.value}} {{petKind}}</label>
        <div class="error-message" *ngIf="form.controls.petName.touched && form.controls.petName.errors">
          <span *ngIf="form.controls.petName.errors.required" data-cy="net-pet-checkout-info__pet-name-error-required">
            {{'forms.mandatory_field' | translate | async }}
          </span>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <div class="form-label-group basic-field"
        [ngClass]="{'error-field':form.controls.birthDate.touched && form.controls.birthDate.errors}">
        <i class="far fa-calendar-alt"></i>
        <input type="text" class="form-control" (click)="dBirth.toggle()" autocomplete="off"
          (dateSelect)="dBirth.close()" id="datepicker-test" ngbDatepicker #dBirth="ngbDatepicker"
          [placeholder]="contentItem.birthdate_animal.value" formControlName="birthDate" [minDate]="minBirthDate" [maxDate]="maxBirthDate"
          data-cy="net-pet-checkout-info__pet-birthdate">
        <label  for="datepicker-test">{{contentItem.birthdate_animal.value}} {{petKind}}</label>
        <div class="error-message" *ngIf="form.controls.birthDate.touched && form.controls.birthDate.errors"
             data-cy="net-pet-checkout-info__pet-birthdate-error-required">
          {{'forms.mandatory_field' | translate | async }}
        </div>
        <div class="error-message"
          *ngIf="form.controls.birthDate.touched && form.controls.birthDate.errors && form.controls.birthDate.errors.ngbDate">
          <div *ngIf="form.controls.birthDate.errors.ngbDate.invalid"
            data-cy="net-pet-checkout-info__pet-birthdate-error-invalid">
            {{'forms.wrong_format' | translate | async }}
          </div>
          <div *ngIf="form.controls.birthDate.errors.ngbDate.requiredBefore"
            data-cy="net-pet-checkout-info__pet-birthdate-error-required-before">
            {{'forms.date_before' | translate | async }} {{ngbDateParserFormatter.format(minBirthDate) }}
          </div>
          <div *ngIf="form.controls.birthDate.errors.ngbDate.requiredAfter"
            data-cy="net-pet-checkout-info__pet-birthdate-error-required-after">
            {{'forms.date_after' | translate | async }} {{ngbDateParserFormatter.format(maxBirthDate) }}
          </div>
        </div>
        <div class="mt-1 pet-extra">
          <span [innerHTML]="contentItem.pet_extra_info.value"></span>
        </div>
        </div>
    </div>
    <div class="col-12 col-lg-12">
      <div class="form-label-group basic-field" [ngClass]="{'error-field': form.controls.microChip.invalid && (form.controls.microChip.dirty || form.controls.microChip.touched) && form.controls.microChip.errors.required}">
        <input class="form-control" formControlName="microChip" id="microChip" [placeholder]="contentItem.microchip_number.value" type="text"
               data-cy="net-pet-checkout-info__microChip" stickyTriggerControl [targetId]="'stepperStickyBar'"
               maxlength="15">
        <label for="microChip">{{contentItem.microchip_number.value}}</label>
        <div class="error-message" *ngIf="form.controls.microChip.touched && form.controls.microChip.errors ">
          <span *ngIf="form.controls.microChip.errors.required" data-cy="net-pet-checkout-info__microChip-error-required">
            {{'forms.mandatory_field' | translate | async }}
          </span>
          <div class="d-flex justify-content-end">
            <span *ngIf="form.controls.microChip.errors.pattern || form.get('microChip').hasError('minlength')" class="warning-message">
              {{ 'forms.wrong_format' | translate | async }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row buttons">
    <button class="col-12 col-sm-3 mb-3 submit-btn buy" [disabled]="!form.valid" (click)="submit()" omniturecta="compra" omnitureposition="1">{{contentItem.buy_button.value}}</button>
    <!-- <button class="col-12 col-sm-3 mb-3 submit-btn back" (click)="previousPage()" omniturecta="indietro" omnitureposition="1">{{contentItem.back_button.value}}</button> -->
  </div>
</form>


