<div class="container">
    <p (click)="previousSubStep()" class="txt-back" *ngIf="currentSubstep !== 'numero_assicurati'">
      <img class="btn-back" src=".//../../../../../../assets/images/icons/back_icon.svg"> Indietro
    </p>

      <form [formGroup]="formSci">

        <!---STEP 1-->
        <div class="main-step-1" *ngIf="currentSubstep === 'numero_assicurati'">
            <p class="title">{{content?.step_1?.title}}</p>
            <div class="age-inputs-container">
                <div class="age-selector">
                    <label>{{content?.step_1?.text_age_1}}</label>
                    <div class="row flex-nowrap align-items-center justify-content-center age-container">
                        <button class="col-auto p-0 add-remove-buttons increment" (click)="calculatePeopleQuantity(true,'peopleUnder50')" [disabled]="formSci.value.peopleUnder50 === 0"><i class="fa fa-minus icon"></i></button>
                        <input type="text" class="agenumber form-control text-center pt-2" id="peopleUnder50" formControlName="peopleUnder50" readonly>
                        <button class="col-auto p-0 add-remove-buttons increment" (click)="calculatePeopleQuantity(false,'peopleUnder50')" [disabled]="formSci.value.peopleUnder50 === 10 || peopleQuantity === 10"><i
                class="fa fa-plus icon"></i></button>
                    </div>
                </div>
                <div class="age-selector">
                    <label>{{content?.step_1?.text_age_2}}</label>
                    <div class="row flex-nowrap align-items-center justify-content-center age-container">
                        <button class="col-auto p-0 add-remove-buttons increment" (click)="calculatePeopleQuantity(true,'peopleOver50')" [disabled]="formSci.value.peopleOver50 === 0"><i class="fa fa-minus icon"></i></button>
                        <input type="text" class="agenumber form-control text-center pt-2" id="peopleOver50" formControlName="peopleOver50" readonly>
                        <button class="col-auto p-0 add-remove-buttons increment" (click)="calculatePeopleQuantity(false,'peopleOver50')" [disabled]="formSci.value.peopleOver50 === 10 || peopleQuantity === 10"><i
                class="fa fa-plus icon"></i></button>
                    </div>
                </div>
            </div>
            <div class="banner-container row">
                <div class="row icon-container col-3">
                    <img [src]="content?.step_1?.main_icon[0]?.url" alt="logo" class="logo-elephant">


                    <!-- <svg width="12.5" height="22" class="speech-bubble">
            <path d="M 0.5 21.5 q 0 -21 12 -21 L 12.5 6 M 0.5 21.5 q -1 0.5 15.2 -19.5" stroke="none" stroke-width="1"
              fill="#f6f6f6" />
          </svg> -->
                </div>
                <div class="banner-description col-9" >
                  <p class="banner-title" [innerHTML]="content?.step_1?.banner_constraints[0]?.how_works.value"></p>
                  <p class="banner-desc" [innerHTML]="content?.step_1?.banner_constraints[1]?.how_works.value"></p>
                </div>
            </div>
            <div class="btn-step d-flex justify-content-center">
                <button class="btn btn-default col-3" (click)="nextSubStep()" [disabled]="peopleQuantity === 0">Continua</button>
            </div>
        </div>

        <!---STEP 2-->
        <div class="main-step-2" *ngIf="currentSubstep === 'per_quanto'">
            <p class="title">{{content?.step_2?.title}}
                <img [src]="content?.step_2?.icon[0]?.url" type="button" placement="auto" data-toggle="modal" data-target="#modalForHowLong">
            </p>
            <div class="radio-btn-container">
                <div class="days-container">
                    <input type="radio" id="day-1" formControlName="duration" value="1 day">
                    <label for="day-1" [innerHTML]="content?.step_2?.insurance_days[0]?.how_works?.value"></label>
                </div>
                <div class="days-container">
                    <input type="radio" id="day-2" formControlName="duration" value="3 days">
                    <label for="day-2" [innerHTML]="content?.step_2?.insurance_days[1]?.how_works?.value"></label>
                </div>
                <div class="days-container">
                    <input type="radio" id="day-3" formControlName="duration" value="7 days">
                    <label for="day-3" [innerHTML]="content?.step_2?.insurance_days[2]?.how_works?.value"></label>
                </div>
                <div class="days-container">
                    <input type="radio" id="day-4" formControlName="duration" value="14 days">
                    <label for="day-4" [innerHTML]="content?.step_2?.insurance_days[3]?.how_works?.value"></label>
                </div>
                <div class="days-container">
                    <input type="radio" id="day-5" formControlName="duration" value="Seasonal">
                    <label for="day-5" [innerHTML]="
                        content?.step_2?.insurance_days[4]?.how_works?.value | replace: {
                            startDate: hasSeasonStarted 
                                ? (products[0].attributes.season_start_date | date: 'dd/MM/yyyy')
                                : content.step_2.today, 
                            endDate: products[0].attributes.season_end_date | date: 'dd/MM/yyyy' }
                    "></label>
                </div>
            </div>
            <div class="pb-4 btn-step d-flex justify-content-center">
                <button class="btn btn-default col-3" (click)="nextSubStep()">Continua</button>
            </div>
        </div>

        <!-- STEP 2 MODALE-->
        <div class="modal" id="modalForHowLong">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <img [src]="content?.step_2?.modal_per_quanto[0]?.close_icon?.value[0]?.url" type="button" class="close" data-dismiss="modal">
                    </div>
                    <div class="modal-body">
                        {{content?.step_2?.modal_per_quanto[0]?.description?.value}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">{{content?.step_2?.modal_per_quanto[0]?.close_button?.value}}</button>
                    </div>
                </div>
            </div>
        </div>


        <!--STEP 3-->
        <div class="main-step-3" *ngIf="currentSubstep === 'preventivo' && !!waitQuotation">
          <section>
            <div class="justify-title-center">
              <div class="row container-title">
                  <p class="title">{{content?.step_3?.title}}
                      <img [src]="content?.step_3?.icon[0]?.url" type="button" placement="auto" data-toggle="modal" data-target="#modalQuote">
                  </p>
              </div>
          </div>
          <div class="row products-container ml-0 mr-0">
              <div class="col-6 align-selected-package">
                  <div class="name-price-container-plus">
                      <p class="product-name-plus"  [innerHTML]="content?.step_3?.package_ski_plus[0]?.how_works?.value" [ngClass]="selectedPackage && selectedPackage.product_code === 'genertel-ski-plus' ? 'product-name-selected' : 'product-name-plus'"></p>
                      <div [ngx-scroll-to]="'#optional-warranties'" class="radius-price-plus" (click)="selectPackage('genertel-ski-plus', 'plus')" [ngClass]="selectedPackage && selectedPackage.product_code === 'genertel-ski-plus' ? 'radius-selected-plus' : 'radius-unselected-plus'">
                          <div *ngIf="plusPrice">
                              <span>€{{plusPrice[0]}}</span><span>,</span><span class="decimal-number">{{plusPrice[1]}}</span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-6 align-selected-package">
                  <div class="name-price-container">
                      <p class="product-name" [innerHTML]="content?.step_3?.package_ski[0]?.how_works?.value" [ngClass]="selectedPackage && selectedPackage.product_code === 'genertel-ski' ? 'product-name-selected' : 'product-name'"></p>
                      <div class="radius-price" (click)="selectPackage('genertel-ski', 'normal')" [ngClass]="selectedPackage && selectedPackage.product_code === 'genertel-ski' ? 'radius-selected' : 'radius-unselected'">
                          <div *ngIf="normalPrice">
                              <span>€{{normalPrice[0]}}</span><span>,</span><span class="decimal-number">{{normalPrice[1]}}</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row how-works-container">
              <div class="col-6 warranties-list">
                  <p class="how-works-title" [innerHTML]="content?.step_3?.package_ski_plus[1]?.how_works?.value"></p>
                  <div class="custom-paragraph">
                    <span class="how-works-txt" [innerHTML]="content?.step_3?.package_ski_plus[2]?.how_works?.value"></span>
                    <span class="plus">+</span>
                  </div>
                  <div class="custom-paragraph">
                    <span class="how-works-txt" [innerHTML]="content?.step_3?.package_ski_plus[3]?.how_works?.value"></span>
                    <span class="plus">+</span>
                  </div>
                  <div class="custom-paragraph">
                    <span class="how-works-txt" [innerHTML]="content?.step_3?.package_ski_plus[4]?.how_works?.value"></span>
                    <span class="plus">+</span>
                    </div>

                  <div class="custom-paragraph">
                    <span class="how-works-txt" [innerHTML]="content?.step_3?.package_ski_plus[5]?.how_works?.value"></span>
                    <span class="plus">+</span>
                  </div>
                  <p class="how-works-important" [innerHTML]="content?.step_3?.package_ski_plus[6]?.text.value"><span class="plus"></span></p>
                  <p class="how-works-important" [innerHTML]="content?.step_3?.package_ski_plus[7]?.text.value"><span class="plus"></span></p>
              </div>
              <div class="col-6 warranties-list">
                  <p class="how-works-title" [innerHTML]="content?.step_3?.package_ski[1]?.how_works?.value"></p>
                  <p class="how-works-txt" [innerHTML]="content?.step_3?.package_ski[2]?.how_works?.value"></p>
                  <p class="how-works-txt" [innerHTML]="content?.step_3?.package_ski[3]?.how_works?.value"></p>
                  <p class="how-works-txt" [innerHTML]="content?.step_3?.package_ski[4]?.how_works?.value"></p>
                  <p class="how-works-txt" [innerHTML]="content?.step_3?.package_ski[5]?.how_works?.value"></p>
              </div>
          </div>
          <div class="guarantees-container" *ngIf="selectedPackage && selectedPackage.product_code === 'genertel-ski-plus'">
              <div class="justify-title-left">
                  <div class="title-guarantees">{{content?.step_3?.optional_warranties_title}}</div>
              </div>
              <div class="row">
                  <div class="col-4">
                      <div class="circle-container" [ngClass]="optionalWarranties[0].isActive ? 'circle-container-actived' : 'circle-container-disabled'" data-toggle="modal"  data-target="#modalOptionalWarranty" (click)="selectOptionalWarranty(content?.step_3?.optional_warranties_items[0], addonsPrices[0]?.price)">
                          <div [ngClass]="optionalWarranties[0].isActive ? 'circle-actived' : 'circle-disabled'" class="cssCircle plusSign" *ngIf="optionalWarranties[0].isActive">&#10006;</div>
                          <div [ngClass]="optionalWarranties[0].isActive ? 'circle-actived' : 'circle-disabled'" class="cssCircle plusSign" *ngIf="!optionalWarranties[0].isActive">&#43;</div>
                          <img *ngIf="!optionalWarranties[0].isActive" [src]="content?.step_3?.optional_warranties_items[0]?.icon_addon?.images[0]?.url">
                          <img *ngIf="optionalWarranties[0].isActive" [src]="content?.step_3?.optional_warranties_items[0]?.icon_addon_active?.images[0]?.url">
                      </div>
                      <div class="description-guarantees">{{content?.step_3?.optional_warranties_items[0]?.description?.value}}</div>
                      <div class="price-guarantees">{{addonsPrices[0]?.price}} €</div>
                  </div>
                  <div class="col-4">
                      <div class="circle-container" [ngClass]="optionalWarranties[1].isActive ? 'circle-container-actived' : 'circle-container-disabled'" data-toggle="modal" data-target="#modalOptionalWarranty" (click)="selectOptionalWarranty(content?.step_3?.optional_warranties_items[1], addonsPrices[1]?.price)">
                          <div [ngClass]="optionalWarranties[1].isActive ? 'circle-actived' : 'circle-disabled'" class="cssCircle plusSign" *ngIf="optionalWarranties[1].isActive">&#10006;</div>
                          <div [ngClass]="optionalWarranties[1].isActive ? 'circle-actived' : 'circle-disabled'" class="cssCircle plusSign" *ngIf="!optionalWarranties[1].isActive">&#43;</div>
                          <img *ngIf="!optionalWarranties[1].isActive" [src]="content?.step_3?.optional_warranties_items[1]?.icon_addon?.images[0]?.url">
                          <img *ngIf="optionalWarranties[1].isActive" [src]="content?.step_3?.optional_warranties_items[1]?.icon_addon_active?.images[0]?.url">
                      </div>
                      <div class="description-guarantees">{{content?.step_3?.optional_warranties_items[1]?.description?.value}}</div>
                      <div class="price-guarantees">{{addonsPrices[1]?.price}} €</div>
                  </div>
                  <div class="col-4" id="optional-warranties">
                      <div class="circle-container" [ngClass]="optionalWarranties[2].isActive ? 'circle-container-actived' : 'circle-container-disabled'"  data-toggle="modal" data-target="#modalOptionalWarranty" (click)="selectOptionalWarranty(content?.step_3?.optional_warranties_items[2], addonsPrices[2]?.price)">
                          <div [ngClass]="optionalWarranties[2].isActive ? 'circle-actived' : 'circle-disabled'" class="cssCircle plusSign" *ngIf="optionalWarranties[2].isActive">&#10006;</div>
                          <div [ngClass]="optionalWarranties[2].isActive ? 'circle-actived' : 'circle-disabled'" class="cssCircle plusSign" *ngIf="!optionalWarranties[2].isActive">&#43;</div>
                          <img *ngIf="!optionalWarranties[2].isActive" [src]="content?.step_3?.optional_warranties_items[2]?.icon_addon?.images[0]?.url">
                          <img *ngIf="optionalWarranties[2].isActive" [src]="content?.step_3?.optional_warranties_items[2]?.icon_addon_active?.images[0]?.url">
                      </div>
                      <div class="description-guarantees">{{content?.step_3?.optional_warranties_items[2]?.description?.value}}</div>
                      <div class="price-guarantees">{{addonsPrices[2]?.price}} €</div>
                  </div>
              </div>
          </div>
          </section>
            <div class="pb-4 btn-step d-flex justify-content-center">
                <button class="btn btn-default col-3" (click)="nextSubStep()" [disabled]="!isPackageSelected">Continua <span *ngIf="isPackageSelected">a €{{selectedPackage.product_code === 'genertel-ski-plus' ? totalPricePlus : totalPriceNormal}}</span></button>
            </div>
        </div>

        <!-- STEP 3 MODALE-->
        <div class="modal" id="modalQuote">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <img [src]="content?.step_3?.modal_preventivo[0]?.close_icon?.value[0]?.url" type="button" class="close" data-dismiss="modal">
                    </div>
                    <div class="modal-body">
                        {{content?.step_3?.modal_preventivo[0]?.description?.value}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">{{content?.step_3?.modal_preventivo[0]?.close_button?.value}}</button>
                    </div>

                </div>
            </div>
        </div>

        <!-- STEP 3 MODALE OPTIONAL WARRANTY -->
        <div *ngIf="selectedOptionalWarranty" class="modal modal-dettaglio-garanzia" id="modalOptionalWarranty">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="img-addon">
                            <img class="img-size" [src]="selectedOptionalWarranty?.icon_addon_active?.images[0]?.url">
                        </div>
                        <div class="title-dettaglio-garanzia mb-3">
                            {{selectedOptionalWarranty?.description?.value}}
                        </div>
                        <div class="description-dettaglio-garanzia mb-3">
                            {{selectedOptionalWarranty?.subtitle?.value}}
                        </div>
                        <div class="subtitle-dettaglio-garanzia mb-3">
                            {{selectedOptionalWarranty?.tag?.value}}
                        </div>
                        <div *ngFor="let op of optionalWarranties">
                            <div *ngIf="op?.name === selectedOptionalWarranty?.code?.value">
                                <button type="button" class="btn btn-add-remove" data-dismiss="modal" (click)="setOptionalWarranties(selectedOptionalWarranty?.code?.value)" *ngIf="!op?.isActive">AGGIUNGI
                  A
                  {{opPriceSelected}} €</button>
                <button type="button" class="btn btn-add-remove" data-dismiss="modal"
                  (click)="setOptionalWarranties(selectedOptionalWarranty?.code?.value)"
                  *ngIf="op?.isActive">RIMUOVI</button>
              </div>
            </div>
            <div class="details-dettaglio-garanzia mt-3" [innerHTML]="selectedOptionalWarranty?.details_1?.value">
            </div>
            <div class="line" *ngIf="selectedOptionalWarranty?.details_2?.value !== '<p><br></p>'"></div>

            <div class="details-dettaglio-garanzia mt-3" [innerHTML]="selectedOptionalWarranty?.details_2?.value">
            </div>
          </div>

                </div>
            </div>
        </div>

        <!-- STEP 4-->
        <!--DESKTOP VIEW STEP 4-->
        <div class="col-12 d-none d-md-flex row">
            <div class="main-step-4" *ngIf="currentSubstep === 'dettaglio_coperture'">
                <p class="title">{{content?.step_4?.title}}
                    <span *ngIf="selectedPackage.product_code === 'genertel-ski-plus'">Genertel Sci +</span>
                    <span *ngIf="selectedPackage.product_code === 'genertel-ski'">Genertel Sci</span>
                </p>
                <div class="group-card" *ngIf="selectedPackage.product_code === 'genertel-ski-plus'">
                    <div class="desktop-grid">
                        <div class="card-container" *ngFor="let card of content?.step_4?.card_list_plus_group">
                            <div>
                                <div class="img-addon">
                                    <img [src]="card.icon.images[0].url">
                                </div>
                            </div>
                            <div class="subtitle-container-step-4">
                                <div class="subtitle-step-4">
                                    {{card?.title?.value}}
                                    <span type="button" class="addon rounded-circle info-icon" placement="auto" data-toggle="modal" data-target="#modalDettaglioCopertura" (click)="selectCard(card)">
                              i
                              </span>
                                </div>
                            </div>
                            <div class="description">
                                {{card?.description?.value}}
                            </div>
                            <div class="additional-info">
                                {{card?.subtitle?.value}}
                            </div>
                            <div class="line"></div>
                            <div class="ceiling">
                                {{card?.limit?.value}}
                            </div>
                        </div>
                    </div>
                    <div *ngIf="optionalWarranties[0].isActive || optionalWarranties[1].isActive || optionalWarranties[2].isActive" class="title-warranty-optional">Garanzie opzionali aggiunte</div>
                    <div class="desktop-grid-optional-warraties ">
                        <div *ngFor="let card of content?.step_4?.optional_card_list_plus; let i = index" [ngClass]="optionalWarranties[i].name === card.system.codename && optionalWarranties[i].isActive ? '' : 'display-no-card'">
                            <div class="card-container" *ngIf="optionalWarranties[i].name === card.system.codename && optionalWarranties[i].isActive">
                                <div>
                                    <div class="img-addon">
                                        <img [src]="card.icon.images[0].url">
                                    </div>
                                </div>
                                <div class="subtitle-container-step-4">
                                    <div class="subtitle-step-4">
                                        {{card?.title?.value}}
                                        <span type="button" class="addon rounded-circle info-icon" placement="auto" data-toggle="modal" data-target="#modalDettaglioCopertura" (click)="selectCard(card)">
                                      i
                                  </span>
                                    </div>
                                </div>
                                <div class="description">
                                    {{card?.description?.value}}
                                </div>
                                <div class="additional-info">
                                    {{card?.subtitle?.value}}
                                </div>
                                <div class="line"></div>
                                <div class="ceiling">
                                    {{card?.limit?.value}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="group-card" *ngIf="selectedPackage.product_code === 'genertel-ski'">
                    <div class="desktop-grid-optional-warraties ">
                        <div class="card-container" *ngFor="let card of content?.step_4?.card_list_group">
                            <div>
                                <div class="img-addon">
                                    <img [src]="card.icon.images[0].url">
                                </div>
                            </div>
                            <div class="subtitle-container-step-4">
                                <div class="subtitle-step-4">
                                    {{card?.title?.value}}
                                    <span type="button" class="addon rounded-circle info-icon" placement="auto" data-toggle="modal" data-target="#modalDettaglioCopertura" (click)="selectCard(card)">
                              i
                              </span>
                                </div>
                            </div>
                            <div class="description">
                                {{card?.description?.value}}
                            </div>
                            <div class="additional-info">
                                {{card?.subtitle?.value}}
                            </div>
                            <div class="line"></div>
                            <div class="ceiling">
                                {{card?.limit?.value}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pb-4 btn-step d-flex justify-content-center">
                    <button class="btn btn-default col-3" (click)="nextSubStep()">Continua a €{{selectedPackage.product_code === 'genertel-ski-plus' ? totalPricePlus : totalPriceNormal}}</button>
                </div>
            </div>
        </div>
        <!--MOBILE VIEW STEP 4-->
        <div class="main-step-4 d-block d-md-none" *ngIf="currentSubstep === 'dettaglio_coperture'">
            <p class="title">{{content?.step_4?.title}}
                <span *ngIf="selectedPackage.product_code === 'genertel-ski-plus'">Genertel Sci +</span>
                <span *ngIf="selectedPackage.product_code === 'genertel-ski'">Genertel Sci</span>
            </p>
            <div class="group-card" *ngIf="selectedPackage.product_code === 'genertel-ski-plus'">
                <div class="card-container" *ngFor="let card of content?.step_4?.card_list_plus_group">
                    <div>
                        <div class="img-addon">
                            <img [src]="card.icon.images[0].url">
                        </div>
                    </div>
                    <div class="subtitle-container-step-4">
                        <div class="subtitle-step-4">
                            {{card?.title?.value}}
                            <span type="button" class="addon rounded-circle info-icon" placement="auto" data-toggle="modal" data-target="#modalDettaglioCopertura" (click)="selectCard(card)">
                            i
                            </span>
                        </div>
                    </div>
                    <div class="description">
                        {{card?.description?.value}}
                    </div>
                    <div class="additional-info">
                        {{card?.subtitle?.value}}
                    </div>
                    <div class="line"></div>
                    <div class="ceiling">
                        {{card?.limit?.value}}
                    </div>
                </div>
                <div *ngIf="optionalWarranties[0].isActive || optionalWarranties[1].isActive || optionalWarranties[2].isActive" class="title-warranty-optional">Garanzie opzionali aggiunte</div>
                <div *ngFor="let card of content?.step_4?.optional_card_list_plus; let i = index">
                    <div class="card-container" *ngIf="optionalWarranties[i].name === card.system.codename && optionalWarranties[i].isActive">
                        <div>
                            <div class="img-addon">
                                <img [src]="card.icon.images[0].url">
                            </div>
                        </div>
                        <div class="subtitle-container-step-4">
                            <div class="subtitle-step-4">
                                {{card?.title?.value}}
                                <span type="button" class="addon rounded-circle info-icon" placement="auto" data-toggle="modal" data-target="#modalDettaglioCopertura" (click)="selectCard(card)">
                                    i
                                </span>
                            </div>
                        </div>
                        <div class="description">
                            {{card?.description?.value}}
                        </div>
                        <div class="additional-info">
                            {{card?.subtitle?.value}}
                        </div>
                        <div class="line"></div>
                        <div class="ceiling">
                            {{card?.limit?.value}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="group-card" *ngIf="selectedPackage.product_code === 'genertel-ski'">
                <div class="card-container" *ngFor="let card of content?.step_4?.card_list_group">
                    <div>
                        <div class="img-addon">
                            <img [src]="card.icon.images[0].url">
                        </div>
                    </div>
                    <div class="subtitle-container-step-4">
                        <div class="subtitle-step-4">
                            {{card?.title?.value}}
                            <span type="button" class="addon rounded-circle info-icon" placement="auto" data-toggle="modal" data-target="#modalDettaglioCopertura" (click)="selectCard(card)">
                            i
                            </span>
                        </div>
                    </div>
                    <div class="description">
                        {{card?.description?.value}}
                    </div>
                    <div class="additional-info">
                        {{card?.subtitle?.value}}
                    </div>
                    <div class="line"></div>
                    <div class="ceiling">
                        {{card?.limit?.value}}
                    </div>
                </div>
            </div>
        </div>

    <!-- STEP 4 MODALE-->
    <div *ngIf="selectedCard" class="modal modal-dettaglio-garanzia" id="modalDettaglioCopertura">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="img-addon">
                        <img [src]="selectedCard?.icon?.images[0]?.url">
                    </div>
                    <div class="title-dettaglio-garanzia mb-3">
                        {{selectedCard?.title?.value}}
                    </div>
                    <div class="description-dettaglio-garanzia">
                        {{selectedCard?.description?.value}}
                    </div>
                    <div class="subtitle-dettaglio-garanzia mb-3">
                        {{selectedCard?.subtitle?.value}}
                    </div>
                    <div class="details-dettaglio-garanzia mt-3" [innerHTML]="selectedCard?.details_1?.value">
                    </div>
                    <div class="line" *ngIf="selectedCard?.details_2?.value !== '<p><br></p>'"></div>
                    <div class="details-dettaglio-garanzia mt-3" [innerHTML]="selectedCard?.details_2?.value">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">OK HO CAPITO</button>
                </div>
            </div>
        </div>
    </div>
        <!-- STEP 5-->
        <div class="main-step-5" *ngIf="currentSubstep === 'dove_andrai'">
            <p class="title">{{content?.step_5?.title}}</p>
            <div class="radio-btn-container">
                <div class="country-container">
                    <input type="radio" id="location-1" formControlName="location" value="ita">
                    <label for="location-1">Solo in Italia</label>
                </div>
                <div class="country-container">
                    <input type="radio" id="location-2" formControlName="location" value="eu">
                    <label for="location-2">Unione Europea, Regno Unito, Svizzera</label>
                </div>
            </div>
            <div class="pb-4 btn-step d-flex justify-content-center">
                <button class="btn btn-default col-3" (click)="checkout()">Continua a €{{selectedPackage.product_code === 'genertel-ski-plus' ? totalPricePlus : totalPriceNormal}}</button>
            </div>
        </div>
    </form>




</div>
<div class="text-center continue-btn">
    <button *ngIf="currentSubstep === 'numero_assicurati' || currentSubstep === 'per_quanto'" class="btn btn-default col-9" (click)="nextSubStep()" [disabled]="peopleQuantity === 0">Continua</button>
    <button *ngIf="currentSubstep === 'preventivo' || currentSubstep === 'dettaglio_coperture'" class="btn btn-default col-9" (click)="nextSubStep()" [disabled]="!isPackageSelected">Continua <span *ngIf="isPackageSelected">a €{{selectedPackage.product_code === 'genertel-ski-plus' ? totalPricePlus : totalPriceNormal}}</span></button>
    <button *ngIf="currentSubstep === 'dove_andrai'" class="btn btn-default col-9" (click)="checkout()">Continua <span *ngIf="isPackageSelected">a €{{selectedPackage.product_code === 'genertel-ski-plus' ? totalPricePlus : totalPriceNormal}}</span></button>
</div>
