@import "../../../../sass/variables";

.progress {
  height: 30px;
  &.imagin-es-es_db {
    .progress-bar {
      color: darkslategray;
    }
  }
  &.santa-lucia_db {
    margin-block-start: 2rem;
    border-radius: 0;
    background-color: #EBEBEB;
  }
}

.progress-bar {
  background-color: $primary; //import global variables and get the right color
  &.net{
    background-image: linear-gradient($primary,$red);
  }
}
