@import "../../../../../sass/variables";

.partner-container {
  background: $grey-ligth;
  padding: 2rem 0 4rem;
}
.ril {
  background: white;
  padding: 2rem 0 4rem;
}

.assistenza {
  padding: 2rem 0 4rem;
}
h3.section-title {
  color: #000;
  margin-top: 2rem;
  font-size: 28px;
  text-align: center;
  margin-bottom: 2rem;
}

.partner-text::ng-deep {
  p {
    font-family: "din";
    font-size: 15px;
    color: #4a4a4a;
    font-weight: 500;
    line-height: 1.8;
    padding: 0 3rem;
    @media (max-width: 576px) {
      padding: 0 1rem;
    }
  }
}
