<div *ngIf="dataService.tenantInfo.header.layout === 'cb'" class="assistenza">
  <h3 class="section-title">{{'products_page.assistance.support_title.text' | translate | async}}</h3>
  <div class="text-center">
    <div class="partner-text col-sm-10 offset-sm-1 mt-2 mb-2" [innerHTML]="'products_page.assistance.support_section_text.text' | translate | async"></div>
  </div>
</div>

<div class="partner-container" [hidden]="dataService.tenantInfo.tenant === 'banco-desio_db'" [ngClass]="dataService.tenantInfo.header.layout" id="genertel-partner">
  <h3 class="section-title">{{'products_page.partner_prev.partner_prev_title.text' | translate | async}}</h3>
  <div class="text-center">
    <img class="mt-4 mb-4" alt="genertel logo" [src]="logo">
    <div class="partner-text col-sm-10 offset-sm-1 mt-2 mb-2" [innerHTML]="'products_page.partner_prev.partner_prev_text.text' | translate | async"></div>
  </div>
</div>
