
<div class="container container-box container-lg container-xl container-md container-sm" *ngIf="kenticoContent">
  <div class="row info-bar rounded-top">
      <div class="info-bar-title">
          <h6 class="tab-title">{{kenticoContent.title.value}}</h6>
      </div>
      <div class="close-button">
          <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">
           <img [src]="kenticoContent.close_button.value[0].url" [alt]="kenticoContent.close_button.value[0].description"/>
        </span>
      </button>
      </div>
  </div>
  <div class="row description">
      <div class="container content-section-container">
          <div class="row d-flex justify-content-center">
              <div class="tabs">
                  <div class="row d-flex justify-content-center" style="display: flex; justify-content: space-evenly;">
                      <div class="table-tab" (click)="changeAssistanceFlag()" [ngClass]="{ selected: assistanceFlag}">
                          <a class="nav-item nav-link active product-variant-title">{{kenticoContent.title_toggle1.value}}</a>
                      </div>
                  </div>
                  <div class="row d-flex justify-content-center" style="display: flex; justify-content: space-evenly;">
                      <div class="table-tab" (click)="changeAllOtherFlag()" [ngClass]="{ selected: allOtherFlag}">
                          <a class="nav-item nav-link active product-variant-title">{{kenticoContent.title_toggle2.value}}</a>
                      </div>
                  </div>
              </div>
          </div>
          <div *ngIf="assistanceFlag" class="descriptionWrapper">
            <p class="col-12 subtitle" > {{kenticoContent.subtitle_toggle1.value}} </p>
              <div class="descriptionToggle">
                  <p class="subtitle">{{kenticoContent.phone_number_description.value}}</p>
                  <p class="phone-number">{{kenticoContent.phone_number.value}}</p>
              </div>
              <div class="row card shadow-none rounded">
                  <p class="text-card">{{kenticoContent.description_toggle1.value}}</p>
              </div>
          </div>
          <div *ngIf="allOtherFlag" class="descriptionWrapper">
            <p class="col-12 subtitle" [innerHTML]="kenticoContent.subtitle_toggle2.value"></p>
              <div class="descriptionToggle">
                <p class="subtitle">{{kenticoContent.phone_number_description.value}}</p>
                <p class="phone-description">{{kenticoContent.phone_number_toggle2.value}}</p>
              </div>
              <div class="descriptionToggle">
                <p class="subtitle">{{kenticoContent.mail_address_description.value}}</p>
                <p class="phone-description text-email">{{kenticoContent.mail_address.value}}</p>
              </div>
              <div class="descriptionToggle">
                <p class="subtitle">{{kenticoContent.pec_address_description.value}}</p>
                <p class="phone-description text-email">{{kenticoContent.pec_address.value}}</p>
              </div>

          </div>
      </div>
  </div>
  <div class="row buttons">
      <div class="col-md-4 col-sm-6 mb-4">
          <button class="submit-btn buy" (click)="activeModal.dismiss()">{{kenticoContent.ok_button.value}}</button>
      </div>
  </div>
</div>
