@import "sass/_variables.scss";

.login-register {
  &-container {
    min-height: calc(100vh + 5rem);
    padding: 3rem 0;
    .header {
      padding: 1.5rem 0;
      background-color: $primary;
      text-align: center;
      &-description {
        color: $white;
        ::ng-deep p {
          margin: 0 !important;
        }
      }
      &-access {
        text-transform: uppercase;
        font-size: 1.5rem;
        color: $white;
        margin-bottom: 0.5rem;
        &-registration {
          margin-right: 0.5rem;
        }
        img {
          max-width: none;
        }
      }
    }
    .login-form-container {
      padding: 2rem 5rem 3rem;
    }
    .register-form-container {
      padding: 2rem 5rem 1rem;
    }
    .want-to-register {
      .register-btn {
        background-color: #02cfd2;
        color: $white;
        border-radius: 0;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1rem;
        border: none;
        padding: 1rem 0;
        width: 100%;
        outline: none;
      }
    }
    .line-text {
      padding: 0;
      text-align: center;
      h1 {
        font-size: 1rem;
        font-weight: normal;
        position: relative;
        z-index: 0;
        &::after {
          content: "";
          display: block;
          height: 1px;
          width: 100%;
          background-color: $black;
          position: absolute;
          left: 0;
          top: 50%;
          z-index: -1;
        }
      }
      span {
        background-color: $white;
        padding: 0 1rem;
      }
    }
    .login-link {
      cursor: pointer;
      color: #2084D8;
      margin-bottom: 3rem;
      margin-left: 1rem;
      &::before {
        content: "\2190";
        font-size: 1.5rem;
        display: inline-block;
        text-decoration: none;
        margin-left: 0.5rem;
      }
    }
  }
  &-card {
    background: $white;
    max-width: 600px;
    height: auto;
    margin: auto;
  }

}