@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";

@import '../../../../../sass/variables';

.title{
  text-transform: uppercase;
  font-size: 18px;
  color: $primary-dark;
  font-weight: bold;
}
.img-container{
  padding-left: 1rem;
  @include media-breakpoint-down(sm) {
    padding-left: 0;
    margin-left: 5px;
  }
  @include media-breakpoint-up(lg) {
    padding-left: 0;
  }
  @include media-breakpoint-up(xl) {
    padding-left: 1rem;
  }
  .product-icon {
    &.chebanca_db {
      &.ge-home {
        max-width: 80px;
      }
    }
  }
}
.recap-text{
  font-size: 1rem;
  color: $grey-dark;

  &.chubb-sport,
  &.chubb-sport-rec{
    @include media-breakpoint-down(sm) {
      padding-left: 0px;
    }
  }
  &.yolo-for-ski-gold, &.yolo-for-ski-platinum {
    color: $black;
    font-size: 14px;
  }
}

@media only screen and (min-width: 575px)  {
  .show{
    display: none;
  }
}
.step-title {
    font-weight: bold!important;
}
.step-title{
  &.bancapc-it-it_db,
  &.yolodb,
  &.civibank_db,
  &.banco-desio_db,
  &.ragusa_db {
    padding: 1.5rem 0;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
  }
  &.yolo-for-ski-gold, &.yolo-for-ski-platinum {
    color: $black;
    font-size: 20px !important;
  }
}

.step-title{
  &.winter-sport-plus,
  &.winter-sport-premium{
    padding: 0px;
    text-transform: none;
  }
}

.content-recap {
  color: $primary-dark;
}
.imagin-title{
  color: $primary-extra-dark;
  line-height: normal;
  font-size: 1.3rem;
  font-weight: bold;
}

.editar{
  background-color: white;
  border: none;
  outline: 0;
  color: $primary;
  text-decoration: underline;
  font-size: 16px;
  cursor: pointer !important;
  &:hover{
    background-color: white;
    border: none;
  }
}

.insurance_data{
  color: $primary-dark;
  font-size: 1.3rem;
}

.title-container{
  display: flex;
  justify-content: space-between;
  width: 90%;
  @media (min-width: 417px) and (max-width: 991px){
    width: 85%;
  }
  @media (min-width: 325px) and (max-width: 416px){
    width: 80%;
  }
  @media (max-width: 324px){
    width: 75%;
  }
}

.product-icon{
  &.chubb-sport,
  &.chubb-sport-rec{
    @include media-breakpoint-down(sm) {
      width: 60px;
      height: 60px;
    }
  }
}
.santa-lucia_db{
  font-family: $font-family !important;
  .imagin-title{
    color: $primary-extra-dark;
    font-size: 18px;
    font-weight: 800;
  }
  .index-circle {
    border: 1px solid $primary-extra-dark;
    .stepnum{
      color: $primary-extra-dark;
    }
  }
  .index-circle-black {
    background-color:  $primary-extra-dark;
  }
}

.santa-lucia_db {
  .editar {
    font-weight: 400;
    text-decoration: underline;
  }
  .imagin-title {
    font-size: 18px;
  }
}
