<div class="row" [ngClass]="dataService.tenantInfo.tenant">
  <div class="col-12">
    <h3 *ngIf="product.code === 'tim-for-ski-gold'
     || product.code === 'tim-for-ski-platinum'
     || product.code === 'tim-for-ski-silver'"
        [ngClass]="[dataService.tenantInfo.tenant, product?.code]" class="step-title" data-cy="das-recap-card__product-header">
      {{insuranceData}}
    </h3>
  </div>
  <div class="col-12 mt-2 step-recap-content">
    <div class="row align-items-center">
      <div class="col-lg-2 col-4">
        <div class="img-container">
          <img *ngIf="product.code !== 'tim-for-ski-silver' && product.code !== 'tim-for-ski-gold' && product.code !== 'tim-for-ski-platinum' " class="product-icon mb-2" [ngClass]="[product.code, dataService.tenantInfo.tenant]"
               [src]="product.image" data-cy="das-recap-card__product-image">
          <svg *ngIf="product.code === 'tim-for-ski-silver' || product.code === 'tim-for-ski-gold' || product.code === 'tim-for-ski-platinum'" class="product-icon mb-2" [ngClass]="[product.code, dataService.tenantInfo.tenant]" width="45" height="54" viewBox="0 0 45 54" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0V54H1.301V27.1553H44.117L35.756 14.6886L44.117 2.22488H1.301V0H0ZM1.301 3.47481H41.732L34.209 14.6886L41.732 25.9044H1.301V3.47481Z" fill="#0164F2"/>
          </svg>

        </div>
      </div>
      <div class="col-lg-10 col-8 recap-text" [ngClass]="product.code">

        <div *ngIf="destinationIsDisplay(product)">
          <span>{{'checkout.main_destination' | translate | async}}: </span>
          <span><b>{{destinationName}}</b></span>
        </div>
        <div class="durata" *ngIf="durationIsDisplay(product.code)"> 
          <span>Durata: </span> <!--{{'checkout.duration' | translate | async}}:-->
          <span><b>{{setDuration(product)}}</b></span>
        </div>
        <div *ngIf="product.code !== 'tim-for-ski-gold' && product.code !== 'tim-for-ski-platinum' && product.code !== 'tim-for-ski-silver'">
          <span>{{product.originalProduct.variants_type_label ? product.originalProduct.variants_type_label : ('checkout.package_type' | translate | async)}}: </span>
          <span><b>{{getPackageVariantName()}}</b></span>
        </div>
        <div *ngIf="product['extraSelected']">
          <span>{{product.extra.label}}: </span>
          <span><b>{{product['extraSelected']}}</b></span>
        </div>
        <div
          *ngIf="product.quantity && product.code !== 'tim-for-ski-gold' && product.code !== 'tim-for-ski-platinum' && product.code !== 'tim-for-ski-silver'">
          <span>{{'checkout.insured_subjects_name' | translate | async}}: </span>
          <span><b>{{product.quantity}}</b></span>
        </div>

        <div *ngIf="product.quantity && (product.code === 'tim-for-ski-gold' || product.code === 'tim-for-ski-platinum'|| product.code === 'tim-for-ski-silver') ">
          <span>Numero Assicurati: </span>
          <span><b>{{product.quantity}}</b></span>
        </div>
  
        <div *ngIf="(product.code.startsWith('ge-ski') !== (product.code.startsWith('ge-ski-plus') || product.code.startsWith('ge-ski-premium')
                  || product.code.startsWith('ge-ski-seasonal-plus') || product.code.startsWith('ge-ski-seasonal-premium')))
                  || (product.code.startsWith('winter-sport') !== (product.code.startsWith('winter-sport-plus') || product.code.startsWith('winter-sport-premium')))">
          <div>
            <span>{{'checkout.sport_destination' | translate | async}}: </span>

            <span><b>{{getSciDestinationName()}}</b></span>
          </div>
        </div>
        <div *ngIf="product.code.startsWith('ge-ski-plus') || product.code.startsWith('ge-ski-premium')
                 || product.code.startsWith('winter-sport-plus') || product.code.startsWith('winter-sport-premium')
                 || product.code.startsWith('ge-ski-seasonal-plus') || product.code.startsWith('ge-ski-seasonal-premium')">
          <div>
            <span>{{'checkout.place' | translate | async}}: </span>

            <span><b>{{getSciDestinationName()}}</b></span>
          </div>
        </div>
        
        <div *ngIf="stepnum === 1">
          <span>
            <a (click)="goBack()" data-cy="das-recap-card__modify-link">{{'checkout.modify' | translate | async}}</a>
          </span>
        </div>
        <ng-content></ng-content>
        <app-checkout-card-recap-insured-subjects [insuredSubjects]="product['insuredSubjects']"
                                                  [boxCollapse]="insuredBoxCollapse">
        </app-checkout-card-recap-insured-subjects>
      </div>
      <div class="show" *ngIf="showGuaranteesCard()">
        <app-checkout-card-guarantees [product]="product"></app-checkout-card-guarantees>
      </div>
      <div class="col-12 mt-2" *ngIf="showMessage">
        <small>{{'checkout.policy_start_note' | translate | async}}</small>
      </div>
    </div>
  </div>
</div>
