@import "~sass/variables";

#complaints-page {
    padding-bottom: 60px;
    .body-section {
        .body-content {
            .body {
                ::ng-deep {
                    h4 {
                        font-weight: 400;
                        color: $black;
                        margin-top: 30px;
                    }
                    ul {
                        padding-left: 1.5rem;
                        li {
                            color: $black;
                        }
                    }
                    em {
                        text-decoration: underline;
                    }
                    p {
                        color: #333;
                    }
                    a {
                        text-decoration: underline;
                        &:hover {
                            color: $hover-blue;
                        }
                    }
                }
            }
        }
    }
}
