@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/variables";

.navbar-logo {  
    position: absolute;
    z-index: 2;
    padding: 1rem 1rem 2rem;
    .heade-row {
        justify-content: space-between;
    }
    .img-container-left {
        text-align: center;
        @include media-breakpoint-up(md) {
           text-align: left;
        }
        img {
            max-width: 130px;
            @include media-breakpoint-up(sm) {
                max-width: 130px;
            }
            @include media-breakpoint-up(md) {
                max-width: 130px;
            }
            @include media-breakpoint-up(lg) {
                max-width: 130px;
            }
        }
    }
    .img-container-right {
        text-align: center;
        margin-top: 1rem;
        @include media-breakpoint-up(md) {
            padding: 6px 1.5rem 0 0;
            margin: 0;
            text-align: right;
        }        
        img {
            max-width: 160px;
            margin-bottom: 5px;
            @include media-breakpoint-up(sm) {
                max-width: 175px;
            }
            @include media-breakpoint-up(md) {
                max-width: 125px;
            }
            @include media-breakpoint-up(lg) {
                max-width: 180px;
            }
            &:first-child{
                max-width: 250px; 
                margin-right: 1rem;              
                @media (max-width: 441px) {
                    margin-right: 0rem;
                    margin-bottom: 5px;
                }
                @include media-breakpoint-up(sm) {
                    max-width: 340px;
                    margin-right: 2rem;
                }
                @include media-breakpoint-up(md) {
                    max-width: 280px;
                    margin-right: 2rem;
                }
                @include media-breakpoint-up(lg) {
                    max-width: 350px; 
                    margin-right: 3rem;
                }
            }
        }
    }
  }

  

