<div class="card" id="cardSport" xmlns:box-shadow="http://www.w3.org/1999/xhtml">
  <div class="card-body">
    <div class="row mb-3 align-items-center justify-content-between">
      <h1 class="col product-name" data-cy="sport-quotator__product-header">{{product.name}}</h1>
      <div class="col product-icon-box text-right">
        <img alt="{{product.name}}" src="{{product.images[0].small_url}}">
      </div>
    </div>
     <div class="row">
        <div class="col-12">
          <p [innerHTML]="product.product_description" class="product-description"></p>
        </div>
      </div>
    <form #sportForm="ngForm" (ngSubmit)="checkout()">
      <div class="row">
        <div class="col-12">
          <div class="input-wrapper mb-3">
            <select [(ngModel)]="sport" #selectSport="ngModel" name="selectSport" id="select-sport"
              data-cy="sport-quotator__select-sport"
              class="form-control" required>
              <option [ngValue]="null"></option>
              <option *ngFor="let sport of sports" [ngValue]="sport.value">
                {{ sport.description }}
              </option>
            </select>
            <label for="select-sport" class="form-control-placeholder pl-3">{{product.choose_sport}}</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="mb-4 col-12 select-container">
          <div class="input-wrapper select-age-cont form-label-group">
            <input (click)="toggleAgeSelection()"
              id="{{'select-age' + product.id}}"
              data-cy="sport-quotator__select-insureds-age"
              class="form-control select-age" placeholder="{{product.insured_age}}"
              name="selectAge" #selectAge="ngModel" [(ngModel)]="agesUpdated" required readonly>
              <div class="dropdown-icon" id="select-age-sport"></div>
              <label for="{{'select-age' + product.id}}">{{product.insured_age}}</label>
          </div>
          <div *ngIf="showAges" class="row select-age-cont form-label-group">
            <app-age-selector [maxInsured]="product.maximum_insurable" [ageList]="agesList"
                              (update)="onAgeSelectionUpdate($event)"
                              (confirm)="toggleAgeSelection(); calculatePrice(); rotateArrowSelect()"></app-age-selector>
          </div>
        </div>
      </div>
      <div *ngIf="addons.length > 0" >
        <div class="addons chubb-addons addons-container" [ngClass]="dataService.tenantInfo.tenant">
          <p class="card-section-title" style="font-size: 1.5em;">
            Aggiungi le coperture:
          </p>
          <div class="row addons chubb-addons addons-container">
            <div class="col-12 form-group optional order_line_items_addons addons-container">
              <span class="col-12 col-sm-6 col-md-12 col-lg-6  checkbox d-flex align-items-center px-0 my-2"
                *ngFor="let addon of addons">
                <button [attr.data-cy]=" 'sport-quotator' | cy:addon.addon.code:'button' "
                type="button" (click)="toggleSelectionAddons(addon)"
                 [ngClass]="{'selected' : addon.selected}"
                  class="toggle-select js-addon-label addon-label position-relative d-flex justify-content-center align-items-center rounded-circle mb-0">
                  <input type="checkbox" hidden class="check_boxes optional js-addon js-quotation-trigger"
                    data-price="0.0" data-code="sport">
                  <img src="{{(addon.addon.image || {}).original_url}}" alt="sport equip" class="addon-image">
                </button>
                <div class="addon-text ml-3 ">
                  <p class="js-copy-addon-name copy-addon-name text-left mt-1"
                     [attr.data-cy]=" 'sport-quotator' | cy:addon.addon.code:'name'">
                    {{addon.addon.name}}
                  </p>
                  <span
                    class="js-addon-description addon-tooltip d-flex justify-content-center align-items-center rounded-circle mt-1 info-icon"
                    placement="auto" ngbTooltip="{{addon.addon.description}}">
                    i
                  </span>
                  <div class="addon-description">
                    <p>{{addon.addon.description}}</p>
                  </div>
                </div>
              </span>
            </div>
          </div>


        </div>
      </div>
      <div class="row mb-1" *ngIf="variants.length > 0">
        <div class="col-12">
          <p class="card-section-title" data-cy="sport-quotator__package-type-label">
            {{product.variants_type_label}}
          </p>
          <div class="row mb-2 scroll_navXX" [ngClass]="dataService.tenantInfo.tenant">
            <div class="choice" *ngFor="let variant of variants" [ngClass]="product.product_code === 'chubb-sport' ? 'col-auto' : 'col-auto'">
              <a class="btn package-btn" [ngClass]="[ variant.active ? 'selected': '']"
                 [attr.data-cy]=" 'sport-quotator' | cy:variant.name:'button' "
                (click)="setPackage(variant)">{{variant.option_values[0].presentation}}</a>
            </div>
          </div>
        </div>
      </div>
      
      <hr>
      <div class="how-work-form how-works-description" *ngIf="dataService.tenantInfo.main.layout === 'y'" >
        <!-- new text -->
        <p [innerHtml]="product?.how"  class="product-description"></p>
        <!-- new text -->
      </div>
      <hr>
      <div class="row purchase">
        <div
          class="col-12 text-center col-sm-5 text-sm-left col-md-12 text-md-center col-lg-5 text-lg- font-weight-bold">
          <div class="price_title d-inline ">
            {{product.price}}
          </div>
          <span class="purchase-price js-price d-inline" data-cy="sport-quotator__quotation-price">
            {{price | currency}}
          </span>
        </div>
        <div class="col-12 text-center col-sm-7 text-sm-right col-md-12 text-md-center col-lg-7 text-lg-right"
            [ngClass]="dataService.tenantInfo.tenant">
          <button class="submit-button" id="submit-test" [ngClass]="{'btn-animation': dataService.tenantInfo.main.layout === 'y',
          'btn cb-btn': dataService.tenantInfo.main.layout === 'cb' || dataService.tenantInfo.main.layout === 'ril'}"
                  data-cy="sport-quotator__purchase-button">
            {{'buttons.purchase' | translate | async}}
          </button>
          <p *ngIf="showErrorMessagge" class="required-fields">{{product.required_fields_sport}}</p>
        </div>
      </div>
      <div class="row purchase_mobile">
        <div
          class="col-12 text-center col-sm-5 text-sm-left col-md-12 text-md-center col-lg-5 text-lg-left font-weight-bold">
          <div class="price_title">
            {{product.price}}
          </div>
          <span class="purchase-price js-price d-inline" data-cy="sport-quotator__quotation-price">
            {{price | currency}}
          </span>
        </div>
        <div class="col-12 text-center col-sm-7 text-sm-right col-md-12 text-md-center col-lg-7 text-lg-right"
            [ngClass]="dataService.tenantInfo.tenant">
          <button class="submit-button" id="submit-test" [ngClass]="{'btn-animation': dataService.tenantInfo.main.layout === 'y',
          'btn cb-btn': dataService.tenantInfo.main.layout === 'cb' || dataService.tenantInfo.main.layout === 'ril'}"
                  data-cy="sport-quotator__purchase-button">
            {{'buttons.purchase' | translate | async}}
          </button>
          <p *ngIf="showErrorMessagge" class="required-fields">{{product.required_fields_sport}}</p>
        </div>
      </div>
    </form>
    <div class="row mt-4">
      <div class="col-12 text-center product-download">
        <a class="inf-package" href="{{ product.information_package }}" target="_blank"
           data-cy="das-quotator__information-package">
          {{product.set_info_sport}}
        </a>
      </div>
    </div>
    <div class="quotator_footer">
      <div class="provider-collaboration" data-cy="das-quotator__collaboration-provider">
        {{product.sport_collaboration}} 
      </div>
      <div class="col-auto text-center">
        <div class="provider-logo">
          <img [src]="product.provider.image_url"  [alt]="product.provider.name" data-cy="das-quotator__image-provider">
        </div>
      </div>
    </div>
  </div>
</div>

