@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";

@import "~sass/variables";

.select-age-cont {
  margin: 0;
  color: $primary;

  .select-age {
    background-color: transparent;
    cursor: pointer !important;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    height: 3.6rem;
    padding-left: 16px;
  }
  label {
    left: 0;
  }
}

.choice {
  margin: 5px 0;
  padding: 0 5px;
  display: inline-block;
}

.addons-container {
  color: $primary-dark;
  font-size: 0.7rem;
  .checkbox {
    position: relative;
    width: auto;
    height: auto;
    background: transparent;
    border: none;

    .addon-label {
      width: 80px;
      height: 80px;
      flex: 0 0 80px;
      background-color: $grey-ligth;
      top: 0;
      left: 0;
      font-size: 0 !important;
      cursor: pointer;

      .addon-image {
        width: 35px;
      }
      &.selected {
        background-color: $primary-light;
        &::before {
          content: "-";
        }
      }
      &::before {
        content: "+";
        position: absolute;
        width: 25px;
        height: 25px;
        top: 0;
        right: 0;
        background-color: $primary-dark;
        border-radius: 100rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        font-size: 1.25rem;
      }
    }

    .addon-text {
      .addon-tooltip {
        width: 20px;
        height: 20px;
        border: 1px solid $grey-dark;
        background: $white;
        cursor: pointer;
        font-size: 0.8rem;
      }
    }
  }
}
.scroll_navX{
  flex-wrap: nowrap !important;
  overflow-x: scroll !important;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
      display: none;
  }
  @include media-breakpoint-up(sm){
    display: block !important;
    flex-wrap: wrap !important;
    overflow-x: hidden !important;
  }
}
.scroll_navXX{
  flex-wrap: nowrap !important;
  overflow-x: scroll !important;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
      display: none;
  }
  @include media-breakpoint-up(sm){
    display: block !important;
    flex-wrap: wrap !important;
    overflow-x: hidden !important;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.toggle-select {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  outline: none;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

.info-tooltip {
  border: 2px solid $primary;
  color: $primary;
  background: transparent;
  width: 20px;
  height: 20px;
  font-size: 20px;
  right: 16px;
  top: 35%;
  line-height: 16px;
  outline: 0;
}

.row,
.row-shadowed {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.addon-description {
  display: none;
  background-color: $primary-dark;
  color: $primary-light;
  padding: 10px;
  z-index: 999999;
}

.package-btn {
  color: $primary;
  width: inherit;
  line-height: 43px;
  height: 45px;
  font-size: 16px;
  background-color: $white;
  border: 1px solid $primary-dark;
  text-transform: capitalize;
  padding: 0 15px;
  &:hover,
  &:focus,
  &.selected {
    background-color: $primary-dark;
    color: $white !important;
  }
}

.inf-package {
  text-decoration: underline;
  font-size: 13px;
}

.provider-collaboration {
  font-size: 13px;
  text-align: center;
}

.quotator_footer {
  display: flex;
  flex-direction: column;
}

.price_title {
  font-weight: bold;
  font-size: 1.2rem;
}

#select-age-sport {
  background-image: url(~assets/images/icons/arrow.png);
  background-size: auto 40px;
  background-position: center;
  background-repeat: no-repeat;
}
#select-sport {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(~assets/images/icons/arrow.png);
  background-size: auto 40px;
  background-position: right 7px top 50%;
  background-repeat: no-repeat;
}

.required-fields {
  font-size: 0.7rem;
  margin-top: 0.5rem;
  color: $red;
}

.product-download {
  margin-bottom: 1rem;
}

.civibank_db, .banco-desio_db {
  .submit-button {
    background-color: $btn-bg-color;
    color: $btn-text-color;
    border-color: $btn-text-color;
    text-transform: uppercase;
    outline: none;
    border: none;
    width: 100%;
    padding: 15px 0;
  }
  .package-btn {
    background-color: $primary-light;
    border: 1px solid $primary;
    &:hover,
    &:focus,
    &.selected {
      background-color: $primary;
      color: $primary-light !important;
    }
  }
  .addons-container {
    .checkbox {
      .addon-label {
        background-color: $primary-light;
        &.selected {
          background-color: $secondary;
        }
        &::before {
          background-color: $primary;
        }
      }
      .addon-text {
        .addon-tooltip {
          background: $primary-light;
        }
      }
    }
  }
}
/* purchase fixed */
.purchase_mobile{
  width:110vw;
  position: fixed;
  bottom: 0 ;
  left: 0;
  z-index: 16;
  padding-bottom: 1.5em ;
  padding-top: 1.5em ;
  background: white ;
  box-shadow: 0px 2px 15px rgba(73, 80, 87, 0.3);
  @include media-breakpoint-up(sm) {
    display: none!important;
  }
}
.purchase{
  display: none;
  @include media-breakpoint-up(sm) {
    display: block !important;
  }
}
/* / purchase fixed */

