@import "sass/_variables.scss";


.modal-container{
  height: 320px;
  padding-top:24px;
  padding-bottom: 24px;
  @media (max-width: 576px) {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.central-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px 24px;
  @media (max-width: 576px) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

}
.title {
  color: $error;
  font-size: 24px;
  font-family: 'Tim Sans';
}

.subtitle {
  margin: 0;
  color: $btn-bg-hover-color;
  font-size: 16px;
  font-family: 'Tim Sans';
  //For kentico paragraph
  ::ng-deep {
    p {
      margin-bottom: 0;
    }
  }
}

.btn-container {
  width: 100%;
}

.btn-go-hp {
  color: $white;
  background-color: $btn-text-color;
  font-family: 'Tim Sans';
  font-weight: normal;
  border-radius: unset;
  margin-top: 50px;
}

.icon-close{
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 22px;
  @media (max-width: 576px) {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    top: 16px;
    right: 16px;
  }
}
