@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";

@import "~sass/variables";

:host::ng-deep {
  #kind-of-insurances,
  #net-insurance-history,
  #insurnet-presentation {
    strong {
      color: $primary;
    }
  }
}
.header {
	margin-top: 6rem;
	@include media-breakpoint-up(lg) {
		margin-top:0;
	}
	&.bg-image {
		background-repeat: no-repeat;
		background-size: cover;
		height: 608px;
	}

	.text-container {
		background-color: rgba(255,255,255, 0.7);
		padding:3rem;

		
		@include media-breakpoint-up(lg) {
			padding-top: 6rem;
		}
	}
	.header-title {
		text-transform: none;
		color: $primary;
		font-size: 32px;
		font-weight: 700;
		margin-bottom: 0;
		text-align: start;
		margin-bottom: 1rem;
		line-height: 1.2;
	}
	
	.header-body {
		text-transform: none;
		color: $primary-dark;
		font-size: 24px;
		font-weight: 400;
		text-align: start;
		line-height: normal;
	}
}

.content {
	font-size: 20px;
	padding-top: 30px;
	padding-bottom: 65px;
	
	.row {
    margin-bottom: 2rem;

    @include media-breakpoint-down(xs){
      font-size: 16px;
		}
		
		&:nth-last-child(1) {
			margin-bottom: 3rem;
		}

		ul {
			padding-left: 17px;
    }
	}
}



