<ng-container *ngIf="data.visible">
  <app-checkout-card-insurance-info-recap [data]="data"
  (handleStepChanged)="emitHandleStepChanged()"></app-checkout-card-insurance-info-recap>
</ng-container>

<ng-container *ngIf="data.recap_cards">
  <app-checkout-insurance-info-recap-motor-proposals [data]="data"></app-checkout-insurance-info-recap-motor-proposals>
</ng-container>

<ng-container *ngIf="data.addons_recap">
  <app-checkout-insurance-info-recap-tim-my-home-proposals [data]="data"></app-checkout-insurance-info-recap-tim-my-home-proposals>
</ng-container>

<ng-container *ngIf="data.customers_tim_sci_recap">
  <app-checkout-insurance-info-recap-tim-my-sci [data]="data"></app-checkout-insurance-info-recap-tim-my-sci>
</ng-container>

<ng-container *ngIf="data.customers_tim_pet_recap">
  <app-checkout-insurance-info-recap-tim-pet [data]="data"></app-checkout-insurance-info-recap-tim-pet>
</ng-container>
