.image-size {
    width: 62px;
}

.float-r {
    padding-right: 5px;
}


.row.d-flex {
    align-items: center;
    justify-content: flex-end;
}

@media (max-width: 800px) {
    .row.d-flex {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .image-size {
        width: 50px;
    }

    h6 {
        font-size: 16px;
    }
}

@media (max-width: 450px) {
    .image-size {
        width: 40px;
    }

    h6 {
        font-size: 13px;
    }
}

@media (max-width: 390px) {
    .image-size {
        width: 30px;
    }

    h6 {
        font-size: 10px;
    }
}