@import 'sass/variables';

$success: #B8E986;
$verification: #F5A623;

.my-policies-container{

  .policy {
    width: 100%;
    background-color: $white;
    box-shadow: 0 0 20px -5px rgba(134, 135, 136, 0.7);
    flex-direction: row;
    .policy-img {
      width: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      .img-center{
        width: 80px;
        height: auto;
      }
    }

    .policy-title {
      font-weight: bold;
      font-size: 22px;
      text-transform: uppercase;
      letter-spacing: 0.25px;
      color: $title-color-dark;
      margin: 10px 0;
    }

    .policy-duration {
      text-transform: capitalize;
      font-weight: 300;
    }

    .pdf-certificate a {
      font-size: smaller;
      text-decoration: underline;
      color: $primary;
    }

    .status-indicator {
      height: 8px;
      width: 8px;
      border-radius: 50%;
      display: inline-block;

      &.active {
        background-color: $success;

        + .status-description {
          color: $success;
        }
      }
  
      &.verified, &.unverified {
        background-color: $verification;

        + .status-description {
          color: $verification;
        }
      }
  
      &.expired, &.canceled, &.suspended {
        background-color: $red;

        + .status-description {
          color: $red;
        }
      }
    }

    .policy-data {
      font-weight: bold;
    }

    .contingency {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .contingency-link {
        display: flex;
        align-items: center;
        flex-basis: 40%;
      }
      .contingency-call {
        margin-top: -2rem;
        margin-bottom: 0.5rem;
        flex-basis: 40%;
        p {
          font-size: 14px;
          margin-bottom: 5px;
        }
        span {
          font-weight: bold;
          font-size: 22px;
        }
        i {
          font-size: 25px;
        }
      }
    }

    .details {
      font-weight: bold;
      color: $primary;
      text-transform: uppercase;
      font-size: larger;
    }
  }
}
