@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/_variables.scss";


.container-content{
  p{
    margin-bottom: 20px;
  }
  ::ng-deep h3 > h2 {
    font-size: 34px;
    margin-bottom: 20px;
    @include media-breakpoint-down(sm) {
      font-size: 24px;
      margin-bottom: 10px;
      margin-top: 28px;
    }
  }
  color: $white;

  .sconto_1{
    color: $black;
    background-color: #ffb800;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
  }


  .sconto_2{
    background-color: #ff006d;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
  }

  @media (max-width:420px) {
    .sconto_1,
    .sconto_2{
      width: 90% !important;
    }
  }

  @media (min-width:420px) and (max-width:488px) {
    .sconto_1,
    .sconto_2{
      width: 74% !important;
    }
  }

  @media (min-width:489px) and (max-width:767px) {
    .sconto_1,
    .sconto_2{
      width: 63% !important;
    }
  }

  @media (min-width:768px) and (max-width:1224px) {
    .sconto_1,
    .sconto_2{
      width: 67% !important;
    }
  }

  @media (min-width:1225px) {
    .sconto_1,
    .sconto_2{
      width: 54% !important;
    }
  }

}

@media screen and (max-width: 767px) {
  .container-content{
    color: #9e9e9e;
    h3,
    .numero{
      color: $black;
    }

    h3{
      font-size: 26px;
      margin-bottom: 10px;
    }
    p{
      margin-bottom: 10px;
    }

    .sconto_1,
    .sconto_2{
      width: 90%;
    }

    .sconto_2{
      color: $white;
    }
  }
}

.back {
  color: $primary;
  background-color: $white;
  outline: none;
  border: 2px solid $primary;
  border-radius: 40px;
  width: 8rem;
  padding: 10px 0;
  font-weight: 600;
  height: 3rem;
  @include media-breakpoint-down(sm) {
    width: 100%;
    padding: 7px;
    letter-spacing: 1px;
  }
}

.container-alert-addons {
  display: none;
  position: fixed;
  height: 65px;
  width: 65%;
  bottom: 60px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 8px 8px 8px 30px;
  z-index: 30001;
  opacity: 0.8;
  background-color: $black;
  color: $white;
  border-radius: 10px;
  box-shadow: 0 0 10px #0000002e;

  .d-flex {
    gap: 25px;
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
    .d-flex {
      gap: 13px;
    }
  }

  &.retryContainerSize {
    @media(max-width: 390px) {
      height: 120px;
    }
  }

  @include media-breakpoint-up(xl) {
    width: 40%;
  }

  .retry-alert {
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
    margin-top: 0.5rem;
    @include media-breakpoint-up(sm) {
      margin-left: 3rem;
    }
  }

  .text-alert {
    padding-top: 7px;
    padding-left: 0;
    font-size: 17px;
  }

  .close-icon {
    cursor: pointer;
    height: 20px;
    margin: 0.5rem 8px 0 auto;
  }
}
