<form [formGroup]="form">
  <div class="row">
    <div class="col-12 col-lg-6 mb-3 form-label-group"
         [ngClass]="{'error-field': form.controls.address.invalid && form.controls.address.touched}">
      <input stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'" id="address-{{usage}}" type="text" class="form-control" formControlName="address" placeholder="Indirizzo della {{fieldText}}">
      <label for="address-{{usage}}">Indirizzo della {{fieldText}}{{mandatoryFields ? '*' : ''}} </label>
      <div *ngIf="form.controls.address.invalid && form.controls.address.touched"
        class="error-message">{{ 'forms.mandatory_field' | translate | async }}
      </div>
    </div>
    <div class="col-12 col-lg-6 mb-3 form-label-group"
         [ngClass]="{'error-field': form.controls.cap.invalid && form.controls.cap.touched}">
        <input stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'" id="cap-{{usage}}" type="text" class="form-control" formControlName="cap" placeholder="CAP della {{fieldText}}">
        <label for="cap-{{usage}}">CAP della {{fieldText}}{{mandatoryFields ? '*' : ''}}</label>
        <div *ngIf="form.controls.cap.invalid && form.controls.cap.touched"
        class="error-message">{{ 'forms.mandatory_field' | translate | async }}
      </div>
    </div>
    <div class="col-12 col-lg-6 mb-3 form-label-group">
      <select stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'" id="province-{{usage}}" class="form-control arrow-select" formControlName="province" [ngModel] (ngModelChange)="proviceIsSelected($event)">
        <option value="provinceUserName" class="placeholder"></option>
        <option *ngFor="let prov of provinces" [ngValue]="prov.id">
          {{ prov.name }}</option>
      </select>
      <label for="province-{{usage}}">Provincia della {{fieldText}}{{mandatoryFields ? '*' : ''}}</label>
    </div>
    <div class="col-12 col-lg-6 mb-3 form-label-group"
         [ngClass]="{'error-field': form.controls.city.invalid && form.controls.city.touched}">
        <input stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'" id="city-{{usage}}" type="text" class="form-control" formControlName="city" placeholder="Città della {{fieldText}}*" *ngIf="showImputText">
          <select stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'" id="city" class="form-control arrow-select input-padding" formControlName="city" *ngIf="!showImputText">
            <option value="" class="placeholder"></option>
            <option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</option>
          </select>
      <label for="city-{{usage}}">Città della {{fieldText}}{{mandatoryFields ? '*' : ''}}</label>
      <div *ngIf="form.controls.city.invalid && form.controls.city.touched"
        class="error-message">{{ 'forms.mandatory_field' | translate | async }}
      </div>
    </div>
    <div class="col-12 col-lg-6 mb-3 form-label-group">
      <input stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'" id="country-{{usage}}" type="text" class="form-control" formControlName="country" placeholder="Nazione della {{fieldText}}">
      <label for="country-{{usage}}">Nazione della {{fieldText}}</label>
    </div>
  </div>
</form>

