@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/variables";

.bg-img-hero {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 0;
  @include media-breakpoint-up(sm) {
    padding: 6rem 0;
    height: 800px;
  }
  @include media-breakpoint-up(lg) {
    padding: 11rem 0 6rem;
    height: 800px;
  }
  &.pai-personal-accident-extra {
    .text-container {
      padding-top: 4rem;
      @include media-breakpoint-up(sm) {
        padding-top: 1rem;
      }
    }
    .title{
      color: $white;
      font-size: 1.5rem;
      text-transform: none;
      &::after {
        content: none;
      }
    }
  }
  &.layout-fca-bank_db {
    .background-overlay {
      display: none;
    }
    .text-container {
      padding-top: 4rem;
      @include media-breakpoint-up(sm) {
        padding-top: 1rem;
      }
    }
    .title{
      color: $text-color;
      font-size: 1.5rem;
      text-transform: none;
      &::after {
        content: none;
      }
    }
    .subtitle {
      color: $text-color;
      font-size: 1.3rem;
      text-transform: none;
    }
  }
  &.layout-leasys_db {
    .text-container {
      padding-top: 4rem;
      @include media-breakpoint-up(sm) {
        padding-top: 1rem;
      }
    }
    .title{
      color: $white;
      font-size: 1.5rem;
      text-transform: none;
      &::after {
        content: none;
      }
    }
    .subtitle {
      color: $white;
      font-size: 1.3rem;
      text-transform: none;
    }
  }
  &.layout-bancapc-it-it_db {
    background-position: center;
    &.chubb-devices{
      background-position: top center;
    }
  }
  &.layout-mopar_db {
    .text-container {
      padding-top: 4rem;
      @include media-breakpoint-up(sm) {
        padding-top: 0;
      }
      .title {
        color: #fff;
        font-size: 1.5rem;
        font-weight: 500;
        padding-right: 4rem;
        line-height: normal;
        text-transform: initial;
        &::after {
          content: none;
        }
      }
    }
  }
  &.layout-civibank_db {
    .title {
      font-family: 'HK Grotesk';
      font-weight: 500;
    }
  }
  &.layout-banco-desio_db {
    background-position-x: center;
    @include media-breakpoint-down(sm){
      background-size: inherit;
    }
    @include media-breakpoint-up(sm){
      background-size: cover;
    }
    .title {
      font-family: 'HK Grotesk';
      font-weight: 500;
      @include media-breakpoint-down(sm){
        font-size: 36px;
      }
    }
    .subtitle{
      @include media-breakpoint-down(sm){
        font-size: 1rem;
      }
    }
  }
}

.background-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background: $bg-overlay;
}

.text-container {
  .title, .subtitle, .scroll {
    color: $section-title-color;
  }
  .title {
    font-size: 2.5rem;
    font-weight: 500;
    position: relative;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    line-height: 1.1;
    &::after {
      position: absolute;
      content: '';
      height: 3px;
      bottom: -12px;
      background-color: $section-title-color;
      left: 40%;
      width: 20%;
    }
  }
  .subtitle {
    font-size: 1.4rem;
    line-height: normal;
  }

  .scroll {
    margin-top: 4rem;
    font-size:1.5rem;
    font-weight: bold;
    text-decoration: underline;
    display: flex;
  	justify-content: space-evenly;
    flex-wrap: wrap;
    cursor: pointer;
    p:hover{
      color: $primary;
    }
  }
}
.bds{
  @include media-breakpoint-down(sm){
    margin-top: 3rem;
  }
}
