@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";

@import "~sass/variables";

input, textarea {
    color: $primary-dark;
    padding: 1rem;
    border-radius: 15px;
    border: 1px solid $primary;

    & + label {
        height: 60px;
        width: calc(100% - 2rem);
        left: 1rem;
    }
}

input {
    height: 60px;
}

textarea {
    height: 100%;
    width: 100%;
    resize:none;
    outline: none;
    z-index:1;
    position: relative;
    background-color:  transparent;
    font-size: 13.33px;

    &:focus,
    &:valid {
        padding-top: 1.5rem;
        padding-bottom: 0.5rem;
    }

    & + label {
        transition: all 0.1s;
        z-index: 0;
    }
    &:focus + label,
    &:valid + label {
        font-size: 12px;
        top: -0.6rem;
        color: rgb(119, 119, 119);
    }

}

.error-field {
    color: $red;
    textarea, input {
        border: 1px solid $red;
    }
}

.btn {
    color: #ffffff;
    background-color: #D0021B !important;
    font-weight: normal;
    box-shadow: 0 3px 6px #00609C80;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    opacity: 1;
    height: 45px;
    letter-spacing: 1px;
    padding:0;
    width: 100%;
}
