<form [formGroup]="contacts">
  <div class="row">
    <div class="form-label-group col-12 col-md-8" [ngClass]="{'error-field': contacts.get('name').errors && !neverSent()}">
      <input class="form-control" required placeholder="Nome e Cognome" type="text" formControlName="name">
      <label> Nome e Cognome </label>
      <div class="error-message" *ngIf="contacts.get('name').errors && !neverSent()">
        {{ 'forms.mandatory_field' | translate | async}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-label-group col-12 col-md-8" [ngClass]="{'error-field': contacts.get('email').errors && !neverSent()}">
      <input class="form-control" required placeholder="Email" type="text" formControlName="email">
      <label> {{'forms.email' | translate | async}} </label>
      <div class="error-message"
        *ngIf="contacts.get('email').errors && contacts.get('email').errors.required && !neverSent()">
        {{ 'forms.mandatory_field' | translate | async}}
      </div>
      <div class="error-message"
        *ngIf="contacts.get('email').errors && contacts.get('email').errors.email && !neverSent()">
        {{ 'forms.email_invalid' | translate | async}}
      </div>
    </div>
  </div>
  <div class="row form-label-group">
    <div class="col-12" [ngClass]="{'error-field': contacts.get('message').errors && !neverSent()}">
      <div class="row">
        <div class="col-12 form-label-group m-0">
          <textarea required class="contacts-message" rows="8" formControlName="message"></textarea>
          <label> {{'forms.message' | translate | async}} </label>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="error-message" *ngIf="contacts.get('message').errors && !neverSent()">
            {{ 'forms.mandatory_field' | translate | async}}
          </div>
        </div>
      </div>


    </div>
  </div>

  <div class="row justify-content-end align-items-center">
    <div class="col-12 col-sm-8" *ngIf="captchaEnabled">
      <re-captcha class="margin-0-auto d-inline-block" [siteKey]="recaptchaKey" (resolved)="captchaResolved($event)">
      </re-captcha>
    </div>
    <div class="col-12 col-sm-4 col-lg-2">
      <button type="submit" id="submit-contact-form" class="btn" (click)="formSubmit()">Invia</button>
    </div>
  </div>
</form>
