<div class="container-fluid quotator" [ngClass]="product.container_class">
  <div (swipe)="onSwipe($event)" data-mc-options='{ "touchAction": "pan-y" }'>
    <div class="row">
      <div class="col-12 product-name">
        <p><b>{{product.product_name}}</b></p>
        <img src="{{product.images[0].small_url}}" alt="">
      </div>
    </div>
  </div>
  <form [formGroup]="form">
    <div class="row">
      <div class="col-12">
        <p>{{product.mandatory_fields}}</p>
        <div class="input-wrapper col-xl-6 col-md-6 col-12">
          <div class="drop-down-icon">
            <select class=" drop-down-icon form-control arrow" name="number" id="petsNumber"
              formControlName="numberOfPetsToInsure" required>
              <option [ngValue]="null"></option>
              <option *ngFor="let numberChoise of numberPetArray"
              [ngValue]="numberChoise">{{numberChoise}}</option>
            </select>
            <label class="pl-2 form-control-placeholder" for="petsNumber">
              {{product.how_many_pets}}
            </label>
          </div>
        </div>
      </div>
    </div>
    <div formArrayName="insuredPets" class="row pet-select">

      <ng-container *ngFor="let petForm of insuredPetForms; index as i">
        <ng-template [ngIf]="form.controls.numberOfPetsToInsure.value && petFormArray.length > i"
          [formGroupName]="i">
          <div class="input-wrapper col-xl-4 col-md-4 col-5">
            <div class="drop-down-icon">
              <select class=" drop-down-icon form-control arrow" formControlName="kind" name="kind" id="kind-0"
                required>
                <option [ngValue]="null"></option>
                <option *ngFor="let type of petType" [ngValue]="type">{{type}}</option>
              </select>
              <label class="pl-2 form-control-placeholder" for="kind-0">
                {{product.kind}}
              </label>
            </div>
          </div>
          <div class="input-wrapper col-xl-4 col-md-4 col-5">
            <div class="drop-down-icon">
              <select *ngIf="petForm.value.kind === 'Cane' " type="text" class="datalist drop-down-icon form-control arrow" formControlName="breed"
                name="breed" id="breed-0" (change)="calculatePrice()" required>

                  <option [ngValue]="null"></option>
                  <option *ngFor="let race of pets[0].dogs">{{race.breed}} </option>
                </select>
              <select *ngIf="petForm.value.kind === 'Gatto' " class=" drop-down-icon form-control arrow" formControlName="breed"
                name="breed" id="breed-0" (change)="calculatePrice()" required>
                <option [ngValue]="null"></option>
                <option *ngFor="let race of pets[0].cats " [ngValue]="race.breed">{{race.breed}}</option>
              </select>
              <label class="pl-2 form-control-placeholder" for="breed-0">
                {{product.breed}}
              </label>
            </div>
          </div>
          <div class="col">
            <p class="info-tooltip baloon info-char position-absolute rounded-circle p-0 font-weight-bold"
              placement="left" ngbTooltip="{{product.info_tooltip}}">i
            </p>
            <p class="info-popover baloon info-char position-absolute rounded-circle p-0 font-weight-bold"
              placement="left" ngbPopover="{{product.info_tooltip}}">i
            </p>
          </div>
        </ng-template>
      </ng-container>

    </div>
    <div class="row pl-2 pb-4 pt-4">
      <div class="col-12 col-xl-6 col-md-6  radio">
        <p>{{product.payment_frequency_star}}</p>
        <div class="form-check">
          <input formControlName="payment_frequency" class="form-check-input" type="radio" name="payment_frequency" id="monthly"
            value="monthly" (change)="calculatePrice()">
          <label class="form-check-label" for="monthly">
            {{product.monthly}}
          </label>
        </div>
        <div class="form-check">
          <input formControlName="payment_frequency" class="form-check-input" type="radio" name="payment_frequency" id="annual"
            (change)="calculatePrice()" value="yearly">
          <label class="form-check-label" for="annual">
            {{product.annual}}
          </label>
        </div>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-12">
      <p class="card-section-title">
        <b>{{product.addon_title}}</b>
      </p>
    </div>
    <div class="col-6 addons addons-container">
      <div class=" form-group optional order_line_items_addons addons-container">
        <span class="checkbox d-flex align-items-center single-addon" *ngFor="let addon of addons">
          <button type="button" (click)="toggleSelectionAddons(addon)" [ngClass]="{'selected' : addon.selected}"
            class="toggle-select js-addon-label addon-label position-relative d-flex justify-content-center align-items-center rounded-circle mb-0">
            <input type="checkbox" hidden class="check_boxes optional js-addon js-quotation-trigger" data-price="0.0"
              data-code="sport">
            <img src="{{(addon.image || {}).original_url}}" alt="sport equip" class="addon-image">
          </button>
          <div class="addon-text ml-3">
            <p class="addon-name text-left mt-1">
              {{addon.name}}
            </p>
            <p class="info-tooltip baloon info-char rounded-circle p-0 font-weight-bold" placement="right"
              ngbTooltip="{{addon.description}}" #t1="ngbTooltip" (click)="openTooltip(t1, addon.description)">i
            </p>
          </div>
        </span>
      </div>
    </div>
  </div>
  <form [formGroup]="form">
    <label class="form-big-checkbox" for="moreInfo">
      <input formControlName="moreInfo" class="form-check-input" id="moreInfo" type="checkbox">
      <p [innerHTML]="product.checkbox"></p>
      <span class="checkbox"></span>
    </label>
  </form>
  <hr class="divider">
  <div class="row purchase">

    <div class="col-12 col-sm-3  price-title-container">
      <div class="container-total-price">
        <span *ngIf="form.value.payment_frequency === 'yearly' || !form.value.payment_frequency"
        data-cy="quotator-basic__quotation-price-title-month" class="price-title-month">
          {{product.total_price_small}}
        </span>
        <span *ngIf="form.value.payment_frequency === 'monthly'"
        data-cy="quotator-basic__quotation-price-title-month" class="price-title-month">
          {{product.price_monthly}}
        </span>
        <span class="price price-month" data-cy="quotator-basic__quotation-price-month">
          {{price | currency}}
        </span>
      </div>
      <div class="text-center product-download">
        <a class="inf-package" href="{{ product.information_package }}" target="_blank"
          data-cy="quotator-basic__information-package" [innerHtml]="product.information_package_text">
        </a>
      </div>
    </div>

    <div class="col-12 col-sm-6  provider-text" *ngIf="product.product_collaboration">
      <div data-cy="quotator-basic__collaboration-provider">
        {{product.product_collaboration}}
      </div>
      <div class="text-center">
        <img [src]="product.provider_logo" [alt]="product.provider.name" data-cy="quotator-basic__image-provider"
          class="provider-logo">
      </div>
    </div>


    <div class="col-12 col-sm-3">
      <p class="disclaimer-email" *ngIf="dataService.tenantInfo.tenant === 'banco-desio_db' || dataService.tenantInfo.tenant === 'civibank_db'">{{product.email_attachments}}</p>
      <button class="submit-btn" id="submit-test"
        [disabled]="!petFormArray.valid || !form.controls.payment_frequency.valid || !form.valid" (click)="checkout()"
        [ngClass]="product.color_class"
        data-cy="quotator-basic__purchase-button">{{product.continue_button_label}}</button>
      <div *ngIf="(!form.controls.payment_frequency.valid || !form.valid)" class="required-fields">
        <p>{{product.all_required_fields}}</p>
      </div>
    </div>
  </div>
</div>
