@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/_variables.scss";


.quotator {
  padding: 0 20px;
}
.name-img-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 1rem 2rem 1rem 0;
  h1 {
    color: $text-color;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: normal;
    p {
      font-weight: 200;
      font-size: 15px;
      padding-top: 10px;
    }
  }
  img {
    max-width: 80px;
  }
}
.description-img-container {
  justify-content: space-between;
  display: flex;
  align-items: flex-start;
  padding: 1rem 1rem 0 0;
  .product-description {
    margin: 0;
  }
  img {
    max-width: 80px;
  }
}
.product-description {
  line-height: normal;
  margin-bottom: 1rem;
  font-size: 15px;
  margin-top: 0.5rem;
}
.card-section-title {
  font-size: 20px;
  margin-bottom: 8px;
}
.bg-operators {
  width: 45px;
  height: 42px;
  background-color: $primary-dark;
  cursor: pointer;
  border: 0;
  outline: none;
  border-radius: 8px;
  &.disabled {
    background-color: $grey-ligth;
    cursor: not-allowed;
  }
  .fa {
    color: white;
    font-size: 1rem;
  }
}
.quantity-input {
  border-radius: 8px;
  border: 1px solid #c0c0c0;
  height: 42px;
}
.choice {
  padding: 0 8px;
}

.package-btn {
  color: $primary-dark;
  width: 100%;
  height: 45px;
  line-height: 44px;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid $primary-dark;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.package-btn:hover,
.package-btn:focus,
.selected {
  background-color: $primary-dark;
  color: #fff !important;
}
.provider-logo {
  height: auto;
  max-height: 40px;
  max-width: 85px;
  margin: 1.7rem 0 2rem;
}
.provider-text {
  font-size: 13px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.product-download a {
  color: $primary;
  text-decoration: underline;
  font-size: 8px;
  margin-bottom: 1rem;
  display: block;
}
hr {
  border-color: $grey;
  border-width: 2px;
}
.purchase {
  margin-bottom: 2rem;
  align-items: center;
  justify-content: space-around;
}
.price {
  color: $primary-dark;
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: -1px;
  margin-top: 5px;
  @media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    font-size: 1.7rem;
  }
}

.submit-btn {
  color: white;
  background-color: $primary;
  text-transform: uppercase;
  outline: none;
  border: none;
  border-radius: 40px;
  width: 100%;
  padding: 12px 0;
}

// Banco Desio Styles
.layout-banco-desio_db{
  .insured-subjects {
    padding-left: 1rem;
    padding-right: 1rem;
    // .bg-operators {
    //   border-radius: 0;
    //   background-color: $primary-light;
    //   color: $primary;
    //   border: 1px solid $primary;
    //   &.disabled {
    //     background-color: $grey-ligth;
    //     cursor: not-allowed;
    //   }
    // }
    .quantity-input {
      border-radius: 0;
    }
  }
  .package-btn {
    color: $btn-bg-color;
    border-color: $btn-bg-color;
  }
  .package-btn:focus,
  .package-btn:hover,
  .package-btn.selected {
    background-color: $btn-bg-color;
    color: $btn-text-color;
    border-color: $btn-bg-color;
  }
  .submit-btn {
    background-color: $primary-light;
    color: $primary;
    border: 1px solid $primary;
    border-radius: 0;
  }
  .price-title-container {
    padding-right: 0;
    .price-title {
      font-weight: bold;
      font-size: 1.2rem;
    }
    .price-title-annual,
    .price-title-month {
      font-weight: normal;
      font-size: 0.9rem;
      float: left;
    }
    .price {
      line-height: 1;
      font-size: 1.4rem;
      @include media-breakpoint-up(sm) {
        font-size: 1.8rem;
      }
      @include media-breakpoint-up(md) {
        font-size: 1.25rem;
      }
      @include media-breakpoint-up(lg) {
        font-size: 1.5rem;
      }
      @include media-breakpoint-up(xl) {
        font-size: 1.8rem;
      }
    }
    .price-month {
      font-size: 1.5rem;
      display: inline-block;
    }
  }
}
// Banca Piacenza Styles
.quotator.layout-civibank_db{
  .insured-subjects {
    padding-left: 1rem;
    padding-right: 1rem;
    .bg-operators {
      border-radius: 0;
      background-color: $btn-bg-color;
      &.disabled {
        background-color: $grey-ligth;
        cursor: not-allowed;
      }
    }
    .quantity-input {
      border-radius: 0;
    }
  }
  .package-btn {
    color: $btn-bg-color;
    border-color: $btn-bg-color;
  }
  .package-btn:focus,
  .package-btn:hover,
  .package-btn.selected {
    background-color: $btn-bg-color;
    color: $btn-text-color;
    border-color: $btn-bg-color;
  }
  .submit-btn {
    background-color: $btn-bg-color;
    color: $btn-text-color;
    border-radius: 0;
    border-color: $btn-text-color;
  }
  .price-title-container {
    padding-right: 0;
    .price-title {
      font-weight: bold;
      font-size: 1.2rem;
    }
    .price-title-annual,
    .price-title-month {
      font-weight: normal;
      font-size: 0.9rem;
      float: left;
    }
    .price {
      line-height: 1;
      font-size: 1.4rem;
      @include media-breakpoint-up(sm) {
        font-size: 1.8rem;
      }
      @include media-breakpoint-up(md) {
        font-size: 1.25rem;
      }
      @include media-breakpoint-up(lg) {
        font-size: 1.5rem;
      }
      @include media-breakpoint-up(xl) {
        font-size: 1.8rem;
      }
    }
    .price-month {
      font-size: 1.5rem;
      display: inline-block;
    }
  }
}

// Civibank Font
.quotator.layout-civibank_db,
  .layout-banco-desio_db {
  .name-img-container h1 {
    font-family: "HK Grotesk";
  }
  .inf-package {
    color: $primary;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 0.3rem;
    font-size: 13px;
  }
  .attachments-email {
    font-size: 0.9rem;
    font-weight: 700;
    text-align: left;
    @media (min-width: 1210px) {
      width: max-content;
     }
  }
}

.product-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5rem;
  @include media-breakpoint-down(sm) {
  padding-right: 2rem;
  }
  p {
    font-weight: bold;
    font-size: 30px;
  }
  img {
    @include media-breakpoint-up(md) {
      width: 120px;
      }
  }
}

.radio {
  display: flex;
  justify-content: space-between;
}

.form-check {
  display: inline-block;
  position: relative;
  padding: 0 6px;
}

.form-check input[type="radio"] {
  display: none;
}

.form-check label {
  color: $primary-dark;
  font-weight: normal;
}

.form-check label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  border: 1px solid;
  background-color: transparent;
}

.form-check input[type="radio"]:checked + label:after {
  border-radius: 11px;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 11px;
  left: 12px;
  content: " ";
  display: block;
  background: $primary;
}

.addon-name {
  font-size: 13px;
}

addons-container {
  padding: 0 15px;
}

.addons-container .checkbox {
  position: relative;
  width: auto;
  height: auto;
  background: transparent;
  border: none;
}

.addons-container .checkbox .addon-label {
  border: none;
  outline: none;
  width: 60px;
  height: 60px;
  flex: 0 0 60px;
  background-color: $primary-light;
  top: 0;
  left: 0;
  font-size: 0 !important;
  cursor: pointer;

  .addon-image {
    width: 36px;
  }
}

.addons-container .checkbox .addon-label::after {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-light;
  font-size: 1.25rem;
}

.addons-container .checkbox .addon-label::after,
.addons-container .checkbox .addon-label::before {
  content: "+";
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 41px;
  right: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.addons-container .checkbox .addon-label::before {
  content: "-";
  border-radius: 100rem;
  background-color: $primary;
}

.addons-container .checkbox .addon-label.selected::after {
  content: "-";
}

.info-tooltip {
  background: transparent;
  line-height: 16px;
  outline: 0;
  margin-top: 3px;
  width: 17px;
  height: 17px;
  border: 1px solid $grey-dark;
  cursor: pointer;
  font-size: 0.6rem;
  text-align: center;
}

.info-popover {
  background:transparent;
  line-height: 16px;
  outline: 0;
  margin-top: 3px;
  width: 17px;
  height: 17px;
  border: 1px solid $grey-dark;
  cursor: pointer;
  font-size: 0.6rem;
  text-align: center;
}

::ng-deep{
  .popover-body{
    background-color: black;
    color: white;
  }
  .bs-popover-bottom > .arrow::after{
    border-bottom-color: black;
  }
  .bs-popover-left > .arrow::after, .bs-popover-auto > .arrow::after {
    right: 1px;
    border-width: 0.5rem 0 0.5rem 0.5rem;
    border-left-color: black;
}
}

.container-total-price {
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  // .form-control:focus + .form-control-placeholder,
  // .form-control:valid + .form-control-placeholder,
  // .form-control:disabled + .form-control-placeholder {
  //   font-size: 80%;
  //   margin-top: 0.25rem;
  //   transform: translate3d(0, -6px, 0);
  //   color: $black;
  // }

  .form-control-placeholder {
    font-size: 80%;
    margin-top: 0.25rem;
    transform: translate3d(0, -6px, 0);
    color: $black;
    top: 0.2rem;
  }

  select.arrow {
    padding: 0 10px;
    width: 100%;
    margin-left: 2px;
    margin-bottom: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    z-index: 2;
    background-color: transparent;
  }

  select.arrow:disabled {
    opacity: 0.5;
  }

  .drop-down-icon:after {
    content: "\f107";
    font-weight: bold;
    font-size: 25px;
    font-family: "Font Awesome 5 Free";
    color: $primary;
    position: absolute;
    right: 5%;
    top: 20%;
    z-index: 1;
  }
}

.input-wrapper {
  margin-bottom: 1rem;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2) inset;
  background-color: $white;
  margin-right: 2rem;
  @include media-breakpoint-down(md) {
    margin-right: 7px;
  }

  select.arrow {
    width: 99%;
    height: 3.8rem;
    z-index: 99;
  }

  select.arrow:disabled {
    opacity: 0.5;
  }

  .drop-down-icon:after {
    color: $red;
    top: 0.5rem;
    padding: 8px;
  }
}

.pet-select {
  padding-left: 15px;
}

.form-big-checkbox .checkbox:after {
  top: -2px;
  left: 4px;
  width: 25px;
  height: 25px;
  background: url(../../../../../../assets/images/icons/red-checked-icon.svg) no-repeat;
  background-size: contain;
}

.purchase {
  .required-fields{
    font-size: 0.7rem;
    margin-top:0.5rem;
    position: absolute;
    color: $red;
  }

  button:disabled {
    opacity: 0.5;
  }
}

.drop-down-icon {
  height: 100%;
  input {
    padding: 0 40px 0 10px;
    height: 100%;
  }
}

input::-webkit-calendar-picker-indicator,
[list]::-webkit-calendar-picker-indicator,
[list]::-webkit-list-button,
[list]::-webkit-list-button {
  display: none !important;
}

.disclaimer-email{
  font-size: 12px;
  font-weight: bold;
}
