@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/_variables.scss";

.sub-title {
    margin: 1rem 0 1rem 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

.tim-form-label-group {
    width: 100%;
    align-self: center;
    position: relative;
    margin: 0rem 1rem 1rem 1rem;

    &>input,
    >select {
        border: 2px solid $btn-text-color;
        background: $white;
        border-radius: 0;
        padding: 0 0 0 1rem;
        font-size: 1rem;
    }

    &>label {
        position: absolute;
        top: -0.5rem;
        left: 0.5rem;
        font-size: 0.9rem;
        background: $white;
        width: auto;
        color: $btn-text-color;
        border-radius: 0;
        padding: 0 5px 0 5px;
        height: min-content;
        z-index: 99;
        margin: 0 0 0 calc(0.5rem - 5px);
    }

    select:disabled {
        opacity: 0.5;
    }
}

.buttons {
    justify-content: center;
    margin-top: 1rem;
    padding: 1rem;
}

.submit-btn {
    text-transform: uppercase;
    outline: 0;
    border: none;
    border-radius: 40px;
    width: 20%;
    padding: 12px 0;

    &.back {
        background-color: white;
        color: $btn-text-color;
        border-radius: 0;
        border: 2px solid $btn-text-color;
        height: 48px;
        max-width: 500px;
        font-weight: normal;
        cursor: pointer;

        @include media-breakpoint-up(md) {
            margin-right: 20px;
        }
    }


    &.buy {
        border-radius: 0;
        height: 48px;
        background: var(--btn-text-color, #eee);
        color: #ffffff;
        max-width: 500px;
        font-weight: normal;
        cursor: pointer;
        margin-right: 20px;
    }
}

.container-birthday-contractor {
    margin-bottom: 0;

    .form-label-group {
        margin-bottom: 0;
    }
}

.container-form-pet {
    label {
        font-weight: normal;
    }
}

.label-birthday {
    padding-top: 4px;
    padding-left: 0;
    font-size: 12px;
}

.input-row {
    input {
        border-radius: 0;
        border-color: $btn-text-color;
        -moz-appearance: textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

select::-ms-expand {
    display: none;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #333333;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #333333;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #333333;
}

.tim-form-label-group {
    &.error-field {

        input,
        select {
            border-color: $red;
        }

        label {
            color: $red
        }
    }
}

.form-container {
    width: 95%;

    @media screen and (min-width: 767px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 1rem;
        grid-column-gap: 1rem;
    }
}

.card {
    padding: 16px;
    border: 2px solid #0033A1;
    margin: 8px;
}

.mobile-packet-tab-border {
    border-bottom: 2px solid #0033A1;
}

.mobile-packet-tab-border-unselected {
    background-color: white !important;
}

.mobile-packet-tab-border-side {
    border-left: 2px solid #0033A1;
    border-right: 2px solid #0033A1;
}

.warning-container {
    border: 1px solid #0164F2;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
    margin-top: 130px;
}

.warning-container-data-entry {
    margin-bottom: 20%;
    margin: 20px;
    border: 1px solid #0164F2;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 5px;
}

.txt-warning-desc {
    font-size: 12px;
}

.txt-warning-home-data-entry-desc {
    font-size: 11.5px;
}

div::after {
  position: absolute;
  top: 17px;
  left: 2.5rem;
  transition: all .05s ease-in-out;
}

.percent::after {
  content: '%';
  color: #A19B9B;
}

.input-error-message {
  text-align: right;
  color: $red;
  font-size: 12px;
}
