@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/variables";

.how-work-table-slider-container {
  @include media-breakpoint-up(xs) {
    margin-top: 46rem;
  }
  @include media-breakpoint-up(md){
    margin-top: 42rem
  }
  @include media-breakpoint-down(xs) {
    margin-top: 5rem;
  }
  margin-bottom: 4rem;
  .slider-container {
    justify-content: center;
    display: flex;
  }
  .carousel-table {
    border: 1px solid $grey;
    padding-right: 2rem;
    position: relative;
    order: 2;
    height: 100%;
    padding-bottom: 4rem;

    &:focus {
      outline: none;
    }
  }

  .item-list .title {
    li.primary-item {
      list-style-type: none;
      position: relative;
      margin-bottom: 1.5rem;
      font-size: 20px;
      ::ng-deep {
        p {
          margin-bottom: 0;
        }
      }
      &::before {
        display: none;
      }
      &.banco-desio_db {
        color: #6C6C6C;
      }
    }
  }

  .item-list {
    .info-tooltip {
      background: transparent;
      right: 30px;
      line-height: 16px;
      outline: 0;
      margin-top: 3px;
      width: 17px;
      height: 17px;
      border: 1px solid $grey-dark;
      cursor: pointer;
      font-size: 0.6rem;
      text-align: center;
    }
  }

  .item-list li.primary-item {
    list-style-type: none;
    position: relative;
    margin-bottom: 1.5rem;
      &::before {
        font-family: "Font Awesome 5 Free";
        color: #52821c;
        content: "\f00c";
        font-size: 18px;
        display: block;
        position: absolute;
        font-weight: 900;
        left: -25px;
        top: -3px;
      }
  }
  .subitems-list {
    margin-left: -25px;
    margin-top: 1rem;
    margin-bottom: 20px;
    ::ng-deep{
      ul{
        list-style-type: disc;
      }
    }
  }
  ::ng-deep.carousel-indicators {
    bottom: -3rem;
    .carousel-inner {
      margin-bottom: 2.5rem;
    }
  }
  ::ng-deep.carousel {
    outline: none;
    &:focus {
      outline: none;
    }
  }
  ::ng-deep.carousel-indicators li {
    background-color: $grey;
    opacity: 1;
    width: 50px;
    height: 5px;
    margin-right: 8px;
    margin-left: 8px;
    &.active {
      background-color: $primary !important;
    }
  }
  .scroll-disclaimer{
    padding: 0px;
    @media (min-width: 767px) {
      display: none;
    }
  }
  &.layout-banco-desio_db,
  &.layout-civibank_db {
    h2 {
      color: $primary;
      text-transform: uppercase;
      font-family: "HK Grotesk";
      margin: 0;
    }
    .combinations-link {
      ::ng-deep {
        p {
          a {
            color: var(--primary-y, #ccc);
            text-decoration: underline;
            font-weight: normal;
          }
        }
      }
    }
    .product-title {
      color: $primary;
      max-height: 29px;
      margin: 2rem 0 4rem 1rem;
    }
    .item-list {
      .primary-item {
        margin-bottom: 15px;
      }
    }
  }
  .how-works-description{
    padding-right: 0;
    padding-left: 0;
  }
}
.btn-open{
  height: fit-content;
  position: absolute;
  left: 24px;
  border: 1px solid $primary;
  border-radius: 80%;
  width: 20px;
  height: 21px;
  margin-top: 3px;
  font-size: 12px;
  background-color: transparent;
  cursor: pointer;
  &.desktop{
    left: 7px;
  }
  span{
    color: $primary
  }
}
::ng-deep{
  .slick-dots{
    li{
      background-color: $grey;
      width: 50px;
      height: 5px;
      border: 1px solid $grey;
      margin: 0 8px;
      &.slick-active{
        background-color: $primary;
        border: 1px solid $primary !important;
      }
      button{
        margin-top: -15px;
        &:before{
          content: none !important;
        }
      }
    }
  }
}
