<div class="container how-work-table-slider-container" data-cy="how-work-table-slider__container"
  [ngClass]="data.container_class">
  <div class="row">
    <div id="advantages" class="col-12">
      <h2>{{data.title_section}}</h2>
      <div class="combinations-link" [innerHtml]="data.table_combinations"></div>
      <div class="col-12 how-works-description" [innerHTML]="data.text_section"></div>
      <div class="col-12 scroll-disclaimer" [hidden]="dataService.tenantInfo.tenant === 'banco-desio_db' || dataService.tenantInfo.tenant === 'civibank_db'" [innerHTML]="data.scroll_disclaimer"></div>
      <!-- Mobile version with slider -->
      <ngx-slick-carousel #sliderProducts class="products-slides-container d-block d-md-none row"  [config]="slideConfig"
        data-mc-options='{ "touchAction": "pan-y" }'>
        <div ngxSlickItem
          *ngFor="let product of data.product_content; let i=index; let first = first; let last = last"
          [id]="product.product_code">
          <div class="slider-container col-12">
            <div class="carousel-table col-10 order-2" [@animator]="animationState"
              (@animator.done)="resetAnimationState()">
              <h3 class="product-title" [innerHTML]="product.name"></h3>
              <ul class="item-list">
                <ng-container *ngFor="let item of product.items_list; let c = index">
                  <div class="list-text title d-flex pr-3">
                    <button (click)="changeClicked(c)" *ngIf="item.subitems.length" class="btn-open" data-toggle="collapse" attr.data-target="#subitem{{c}}" aria-expanded="false"
                      attr.aria-controls="subitem{{c}}"><span  class="btn-content" id="button{{c}}">^</span></button>
                    <p *ngIf="item.info"
                      class="info-tooltip baloon info-char position-absolute rounded-circle p-0 font-weight-bold"
                      placement="left" ngbPopover="{{item.info}}">i
                    </p>
                    <li class="primary-item" [innerHtml]="item.text"></li>
                  </div>
                  <div class="list-text pr-3" style="margin-left: -20px;" *ngIf="item.subitems.length" class="collapse" id="subitem{{c}}">
                    <ul class="subitems-list" *ngIf="item.subitems.length">
                      <li class="primary-item included" *ngFor="let subitem of item.subitems" [innerHTML]="subitem"></li>
                    </ul>
                  </div>
                </ng-container>
              </ul>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
      <!-- Dekstop version no slider -->
      <div class="d-none d-md-flex row">
        <div *ngFor="let product of data.product_content" class="col-4">
          <div class="carousel-table">
            <h3 class="product-title" [innerHTML]="product.name"></h3>
            <ul class="item-list">
              <ng-container *ngFor="let item of product.items_list; let c = index">
                <div class="list-text title d-flex pr-3">
                  <button (click)="changeClicked(c)" *ngIf="item.subitems.length" class="btn-open desktop" data-toggle="collapse" attr.data-target="#subitem{{c}}" aria-expanded="false"
                      attr.aria-controls="subitem{{c}}"><span class="btn-content" id="button{{c}}">^</span></button>
                  <p *ngIf="item.info"
                    class="info-tooltip baloon info-char position-absolute rounded-circle p-0 font-weight-bold"
                    placement="left" ngbPopover="{{item.info}}">i
                  </p>
                  <li [ngClass]="[dataService.tenantInfo.tenant, item.included ? 'included' : '']" class="primary-item" [innerHtml]="item.text"></li>
                </div>
                <div class="list-text pr-3" style="margin-left: -20px;" *ngIf="item.subitems.length" class="collapse" id="subitem{{c}}">
                  <ul class="subitems-list" *ngIf="item.subitems.length">
                    <li class="primary-item included" *ngFor="let subitem of item.subitems" [innerHTML]="subitem"></li>
                  </ul>
                </div>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
