@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/_variables.scss";

.addon-container{
  padding: 25px 0px;
  background-color: white;
  border-top-left-radius: 0.6em;
  border-top-right-radius: 0.6em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;

  .panelBtn{
    display: flex;
  }

  .header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    font-size: 24px;
    .btn{
      width: 133px;
      height: 40px;
      padding: 0px;
      background-color: transparent;
      border: 2px solid $primary;
      color: $primary;
      font-size: 14px;
      letter-spacing: 1px;
      margin-right: 15px;
      @media (max-width:460px) {
        height: 30px;
      }
      @media (max-width: 325px) {
        width: 85px;
      }
      &.button-add{
        background-color: $primary;
        color: $white;
      }
    }
    .more-info{
      width: 20px;
      height: 20px;
      &:focus { outline: none;}
      img {
        max-width: 16px;
        transition: .3s transform ease-in-out;
      }
      &.open img {
        transform: rotate(180deg);
      }
    }
  }
  .description-container{
    border-bottom: 1.5px solid lightgray;
    .description{
      font-size: 16px;
      color: #666666;
    }
    .information-package{
      font-size: 13px;
      color: blue;
      text-decoration: underline;
      font-weight: 500;
      margin: 0;
    }
    .header{
      font-size: 16px;
      ::ng-deep{
        a{
          color: #007bff;
          text-decoration: underline;
          background-color: transparent;
        }
        p{
          margin-bottom: 0.5rem;
          color: #666666;
        }
      }
    }
    p{
      margin-bottom: 0.5rem;
    }
  }
  .addon-text{
    font-size: 60%;
    font-weight: 300;
    margin: 1rem 0px;
  }
  .switchbox{
    padding-bottom: 25px;
    .slider-switch{
      width: 37px;
      height: 22px;
    }
    ::ng-deep{
      .slider-switch:before{
        height: 19px;
        width: 18px;
      }
      input:checked + .slider-switch:before{
        transform: translateX(15px);
      }
    }
  }
  .info-icon{
    width: 17px;
    height: 19px;
    cursor: pointer;
    position: absolute;
    right: 14px;
    top: 36px;
    img{
      max-width: 20px;
    }
    &:hover {
      .addon-description {
        display: block;
      }
    }
  }
  .container-maximal{
    height: 55px;
    #label-maximal-{
      margin-top: 0.3rem;
      padding-left: 27px !important;
    }
    .form-control{
      padding: 0.875rem 0.75rem;
    }
  }
}
.container-price{
  display: flex;
  background: aliceblue;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  padding: 0 15px;
  border-bottom-left-radius: 0.6em;
  border-bottom-right-radius: 0.6em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 20px;
  font-size: 22px;
  margin-bottom: 30px;
  h5, h4{
    font-weight: 700;
    margin: 0;
  }
  sub{
    bottom: 0;
    font-size: 10px;
    font-weight: 100;
    color: darkslategray;
  }
}

.form-control{
  height: 45px;
}
.arrow-select{
  -webkit-appearance: auto !important;
}
::ng-deep{
  .modal-dialog.modal-dialog-centered.modal-lg{
    max-width: 400px;
  }
}

.fee{
  display: flex;
  background: aliceblue;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  padding: 0 15px;
  border-bottom-left-radius: 0.6em;
  border-bottom-right-radius: 0.6em;
  box-shadow: rgb(0 0 0 / 35%) 0px 10px 20px;
  margin-bottom: 50px;
}

.price-anno{
  bottom: -23px;
  font-size: 10px;
  font-weight: 100;
  color: darkslategray;
}

.label-section {
  color: $black;
  font-size: 12px;
  top: -3px;
}
.field-select__label {
  position: absolute;
  pointer-events: none;
  top: 12px;
  left: 0;
}
.matselect{
  margin-top: 15px;
  padding: 0px 10px;
  .matoption{
    height: auto;
  }
}
.btn-radio{
  display: flex;
  justify-content: space-between;
  width: 100%;
   ::ng-deep {
    label{
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
   }
}

::ng-deep{
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: $primary;
  }
  .mat-radio-button.mat-accent .mat-radio-inner-circle{
    color: $primary;
    background-color: $primary;
  }
  .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
      background-color:rgba(255, 255, 255, 0);
  }
  .mat-select-value-text, .mat-radio-label-content {
    font-size: 16px;
  }

  .mat-select-value {
    margin-top: 15px;
    color: rgba(0,0,0,.87);
  }
  .cdk-overlay-pane  {
    position:absolute;
    pointer-events:auto;
    box-sizing:border-box;
    z-index:1000;
    display:flex;
    max-width:100%;
    max-height:100%;
    transform:none !important;
    margin-top: 36px;
    margin-left: -15px;
  }
}

.suggested_by_yolo{
  background-color: $primary;
  display: initial;
  font-size: 12px;
  padding: 5px;
  border-radius: 4px;
  margin-left: 10px;
}

.suggested_by_yolo_input{
  border: none;
  background: none;
  font-size: 12px;
  height: 12px;
  width: 100px;
  cursor: pointer;
}
.suggested_by_yolo_input::-webkit-input-placeholder {
  color: white;
}
