<div class="container-fluid p-0">
  <div class="modal-header">
    <div class="text-container">
      <img [src]="content.card_image" [alt]="content.card_image_alt" class="card_image">
      <div class="price title d-flex flex-column d-lg-flex d-sm-flex d-xs-flex flex-sm-column">
        <h6 [innerHtml]="content.card_title"></h6>
        <div class="d-inline-flex d-sm-inline-flex  px-3 row section-price">
          <div class="price-variant">
            <strong>{{getVariantPrice(content.sku_variant)}}</strong>
            <span
              *ngIf="getVariantPriceDecimal(content.sku_variant)">{{getVariantPriceDecimal(content.sku_variant)}}</span>
          </div>
          <span [innerHtml]="content.slash_annual" class="slash_annual"></span>
        </div>
        <span [innerHtml]="content.little_descr" class="little_descr"></span>
      </div>
    </div>
    <div class="button-icons">
      <div class="close-button" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true" class="close-img">
          <img [src]="content.img_close_modal" [alt]="content.img_close_modal_alt">
        </span>
      </div>
    </div>

  </div>
  <div class="modal-body">
    <ng-container *ngFor="let coverage of content.coverages_content; let i = index">
      <div class="accordion">
        <a href="#collapseExample-{{i}}" data-toggle="collapse">
          <div class="accordion-title">
            <div class="coverage-name">
              <h3 class="section-title">{{coverage.coverage_title}}</h3>
            </div>
            <i class="fa fa-chevron-down"></i>
          </div>
        </a>
        <span id="collapseExample-{{i}}" class="collapse description" [innerHtml]="coverage.coverage_description">
        </span>
      </div>
      <hr>
    </ng-container>
  </div>
  <div class="modal-footer">
    <div class="buttons">
      <button class="submit-btn buy" (click)="checkout(content.sku_variant)">{{content.buy_button}}</button>
      <button class="submit-btn back" (click)="activeModal.close('back')">{{content.back_button}}</button>
    </div>
  </div>
</div>