@import '../../../../../sass/variables';
 
#tec{
    padding-bottom: 60px;
}

.header-gradient {
    padding: 125px 15px 50px 15px;
    min-height: 300px;
    background: $gradient;
}

h4 {
    text-transform: none;
    font-weight: 400;
    color: $primary;
}

p {
    margin-top: 0;
    color: $black;
}

:host ::ng-deep {
 .dynamic-body {
    h4 {
        text-transform: none;
        font-weight: 400;
        color: $primary;
        margin-top: 30px;
    }

    p {
        color: $black;
    }

    a:hover {
        color: $hover-blue;
    }
}

 .dynamic-header {
    .title {
        color: $white;
        text-align: center;
    }
    h1 {
        font-size: 40px;
        font-weight: 400;
        text-transform: none;
        line-height: 1.2;
    }
}

}
