@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/variables";
.modal-window {
    overflow: hidden;
}

@media only screen and (max-width: 767px) {
    .mobile {
        display: initial;
    }
    .desktop {
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    .mobile {
        display: flex;
        overflow-x: scroll;
    }
    .desktop {
    }
}

.custom-flex{
    @media screen and (max-width: 767px) {
        flex: 0 0 85%;
    }
}

.container-warranty {
    border: 1px solid $grey;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-bottom: 1rem;
    position: relative;
    box-shadow: inset 0 0 0 150px white;
    z-index: 0;
    background: transparent;
    @media screen and (max-width: 767px) {
        margin-right: 1rem;
        height: 32rem;
    }
    &.selected {
        background-color: $background-added-warranty;
        border: 1px solid $primary;
    }

    .blocked {
        background: $grey-dark;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;
        opacity: 0.5;
        left: 0;
        top: 0;
    }
    .first-line {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
        .container-title {
            display: flex;
            img {
                max-height: 2.2rem;
                margin-top: 0.4rem;
            }
            div {
                display: flex;
                flex-direction: column;
                margin-left: 1.5rem;
                .subtitle {
                    margin: 0;
                    font-size: 0.825rem;
                }
                .title {
                    font-weight: bold;
                }
            }
        }
        .price {
            font-size: 1.4rem;
            font-weight: bold;
            display: block;
            @media screen and (max-width: 767px) {
                text-align: center;
                display: none;
            }
        }
    }
    .second-line {
        @media screen and (max-width: 767px) {
            margin: 0;
        }
        .container-addon-limit {
            display: flex;
            @media screen and (max-width: 767px) {
                flex-direction: column;
            }
        }
        .input-wrapper-soft {
            border-color: $grey;
            padding: 0;
        }
        .container-card-convention {
            display: flex;
            justify-content: space-between;
            border: 1px solid $primary;
            border-radius: 0.5rem;
            height: 3.2rem;
            padding: 0.5rem 1rem;
            margin-left: 1rem;
            @media screen and (max-width: 767px) {
                margin: 0;
                border-radius: 0.2rem;
            }
            img {
                padding: 0;
                margin-right: 1rem;
                max-width: 2rem;
                max-height: 2rem;
            }
            div {
                font-size: 0.7rem;
                p {
                    margin: 0;
                }
            }
        }
        .container-addon-deductible {
            display: flex;
            @media screen and (max-width: 767px) {
                flex-direction: column;
            }
            .container-medical {
                display: flex;
                @media screen and (max-width: 767px) {
                    display: flex;
                }
            }
            .container-medical-expenses,
            .container-daily-allowance {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                font-size: 0.8rem;
                .title {
                    color: $primary;
                    font-weight: bold;
                }
            }
            .container-medical-expenses {
                border-right: 1px solid $primary;
                padding: 0 2rem;
                @media screen and (max-width: 767px) {
                    padding-left: 1rem;
                }

            }
            .container-daily-allowance {
                margin-left: 2rem;
            }
        }
    }
    .container-add-info {
        position: relative;
        background-color: $secondary;
        border: 1px solid $primary;
        margin-bottom: 1rem;
        width: fit-content;
        .bg-info-primary {
            background: $primary;
            height: 101%;
            width: 14%;
            position: absolute;
            margin-left: -1px;
            border-top-right-radius: 20px 50px;
            @media screen and (max-width: 767px) {
                width: 27%;
            }
        }
        .add-info {
            display: flex;
            img {
                padding: 0.4rem;
            }
            .number-percentage {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-left: -3px;
            }
            .percentage {
                font-size: 1.1rem;
                font-weight: bold;
                color: $white;
                padding: 0.2rem;
                margin: 0;
            }
            .description {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                margin: 0;
            }
        }
    }
    .container-footer-card {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 767px) {
            flex-direction: column-reverse;
            justify-content: center;
            position: absolute;
            bottom: 0.5rem;
            align-items: center;
            display: flex;
            padding: 0;
        }
        .link-info {
            padding: 12px 0;
            color: $primary;
            text-decoration: underline;
            cursor: pointer;
            @media screen and (max-width: 767px) {
                text-align: center;
            }
        }
        .add-warranty-btn {
            text-transform: uppercase;
            outline: 0;
            border: none;
            border-radius: 40px;
            max-width: 100%;
            padding: 12px 0;
            background-color: $primary;
            border: 1.5px solid $primary;
            background: $white;
            color: $primary;
            font-weight: bold;
            @media screen and (max-width: 767px) {
                align-self: center;
                padding: 6px 0;
            }
        }
    }
}

.added {
    background: $background-added-warranty;
}

@media only screen and (min-width: 320px) {
  .overlayCardGaranziaAggiuntiva {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .effectGaranziaAggiuntiva {
    background-color: white;
    border-radius: 0rem;
    height: 0rem;
    line-height: 0rem;
    width: 0rem;
    position: absolute;
    background-color: $background-added-warranty;
  }
  .container-warranty:hover .effectGaranziaAggiuntiva {
    border-radius: 460rem;
    height: 460rem;
    line-height: 460rem;
    width: 460rem;
    position: absolute;
    transition: height 2.2s ease, border-radius 2.2s ease, line-height 2.2s ease, width 2.2s ease;
  }
}

.buttons {
    justify-content: space-between;
    @media screen and (max-width: 767px) {
        flex-direction: column;
    }
    .right {
        justify-content: flex-end;
        display: flex;
    }
    .left {
        display: flex;
        justify-content: flex-start;
    }
}

.reset-btn {
    text-transform: uppercase;
    outline: 0;
    border: none;
    border-radius: 40px;
    width: 95%;
    padding: 12px 0;
    background-color: white;
    color: $primary;
    border: 1.5px solid $primary;
    @media screen and (max-width: 767px) {
        width: 100%;
        margin: 1rem 0;
    }
}

.row-buttons {
    @media screen and (max-width: 767px) {
        max-width: 100%;
        flex-direction: column;
    }
}
.submit {
    @media screen and (max-width: 767px) {
        max-width: 100%;
        flex-direction: column-reverse;
    }
}
.submit-btn {
    color: white;
    text-transform: uppercase;
    outline: 0;
    border: none;
    border-radius: 40px;
    width: 40%;
    padding: 12px 0;
    @media screen and (max-width: 767px) {
        width: 100%;
    }
    &.back {
        background-color: white;
        color: $primary;
        border: 1.5px solid $primary;
        margin-right: 1rem;
    }
    &.buy {
        background-color: $primary;
        @media screen and (max-width: 767px) {
            margin-bottom: 1rem;
        }
    }
}

.ribbon {
    width: 123px;
    height: 123px;
    overflow: hidden;
    position: absolute;
    top: -1px;
    right: auto;
    left: -1px;
    span {
        position: absolute;
        display: block;
        width: 210px;
        padding: 5px 0;
        background-color: #ffac06;
        text-transform: uppercase;
        text-align: center;
        transform: rotate(-45deg);
        font-size: 1rem;
        font-weight: bold;
        left: -59px;
        top: 25px;
    }
}

.space-icon {
    margin-left: 3.8rem !important;
}

.price-mobile {
    display: none;
    @media screen and (max-width: 767px) {
        display: block;
        align-self: center;
        text-align: center;
        font-weight: bold;
        font-size: 1.4rem;
    }
}
