<div class="mobile desktop">
  <div *ngFor="let addon of addons, let i = index" class="container-warranty col-12 custom-flex" id="auto-proposals"
    [ngClass]="{'selected' : addon.selezionata}">
    <div *ngIf="addon.included" [ngClass]="{'ribbon' : addon.included}">
      <span>{{kenticoBody?.step_insurance_info?.included?.text.value}}</span>
    </div>
    <div [ngClass]="{'blocked' : addon.isNotSelectable}"></div>
    <div class="overlayCardGaranziaAggiuntiva" [ngClass]="{'added' : addon.selezionata}">
      <span class="effectGaranziaAggiuntiva"></span>
    </div>
    <div *ngIf="addon.code.toLowerCase().includes('assauto')">
      <div class="first-line">
        <div class="container-title">
          <img *ngIf="!addon.included" class="img-title" src="{{addon.image}}">
          <div>
            <p class="subtitle">{{addon.subtitle_name}}</p>
            <p class="title">{{addon.name}}</p>
          </div>
        </div>
        <div class="price">
          <p>{{kenticoBody?.step_insurance_info?.currency?.text.value}} {{priceAssAuto | number : '1.2-2'}}</p>
        </div>
      </div>
      <div class="second-line">
        <div class="container-addon-limit" *ngIf="addon.listpackage">
          <div class="col-md-4 col-12 input-wrapper input-wrapper-soft form-group">
            <select id="packageSelected-{{addon.code}}" type="text" class="form-control arrow-select input-padding"
              [ngModel]="packageChoise" (ngModelChange)="togglePackage($event, i)">
              <option *ngFor="let package of addon.listpackage" [ngValue]="package">
                {{ package.nameForOption }}
              </option>
            </select>
            <label for="packageSelected-{{addon.code}}"
              class="form-control-placeholder pl-3">{{kenticoBody?.step_insurance_info?.package?.text.value}}</label>
          </div>
        </div>
      </div>
      <div class="container-footer-card col-7 offset-1 offset-md-0 col-md-12 p-0">
        <a class="link-info"
          (click)="openDetail(addon)">{{kenticoBody?.step_insurance_info?.detail_warranty?.text.value}}</a>
        <button class="add-warranty-btn col-md-3 col-6" *ngIf="addon.code !== 'RCA'" (click)="addCancelWarranty(addon)">{{addon.selezionata ?
        kenticoBody?.step_insurance_info?.remove_btn?.text.value :
        kenticoBody?.step_insurance_info?.add_btn?.text.value}}</button>
        <div class="price-mobile">
          <p>{{kenticoBody?.step_insurance_info?.currency?.text.value}}
            {{addon.premioTotaleScontatoGaranzia | number : '1.2-2'}}
          </p>
        </div>
      </div>
    </div>
    <div *ngIf="!addon.code.toLowerCase().includes('assauto')">
      <div class="first-line">
        <div class="container-title">
          <img *ngIf="!addon.included" class="img-title" src="{{addon.image}}">
          <div [ngClass]="{'space-icon' : addon.included}">
            <p class="subtitle">{{addon.subtitle_name}}</p>
            <p class="title">{{addon.name}}</p>
          </div>
        </div>
        <div class="price">
          <p>{{kenticoBody?.step_insurance_info?.currency?.text.value}}
            {{addon.premioTotaleScontatoGaranzia | number : '1.2-2'}}
          </p>
        </div>
      </div>
      <div class="second-line">
        <div class="container-addon-limit" *ngIf="addon.listaMassimali">
          <div class="col-md-4 col-12 input-wrapper input-wrapper-soft form-group">
            <select id="limitSelected-{{addon.code}}" type="text" class="form-control arrow-select input-padding"
              [ngModel]="addon.importoMassimaleAssicurato" (ngModelChange)="toggleAddonLimit($event, i)"
              [(ngModel)]="addon.listaMassimali[1]">
              <option *ngFor="let limit of addon.listaMassimali" [ngValue]="limit">
                {{ limit }}{{kenticoBody?.step_insurance_info?.currency?.text.value}}
              </option>
            </select>
            <label for="limitSelected-{{addon.code}}"
              class="form-control-placeholder pl-3">{{kenticoBody?.step_insurance_info?.massimale?.text.value}}</label>
          </div>
          <div class="col-md-5 col-12 container-card-convention" *ngIf="addon.card_convention">
            <img class="col-2" *ngIf="addon.card_convention.img.value.length > 0"
              src="{{addon.card_convention.img.value[0].url}}">
            <div *ngIf="addon.card_convention.text.value !== ''" [innerHTML]="addon.card_convention.text.value"></div>
          </div>
        </div>
        <div class="container-addon-limit" *ngIf="addon.combinable_warranties">
          <div class="col-md-4 col-12 input-wrapper input-wrapper-soft form-group">
            <select id="combinableWarranties-{{addon.code}}" type="text" class="form-control arrow-select input-padding"
              [ngModel]="addon.defaultCombWarr" (ngModelChange)="toggleAddonComb($event, i)">
              <option *ngFor="let comb of addon.combinable_warranties" [ngValue]="comb">
                {{ comb.description }}
              </option>
            </select>
            <label for="combinableWarranties-{{addon.code}}"
              class="form-control-placeholder pl-3">{{kenticoBody?.step_insurance_info?.combinable_warranties?.text.value}}</label>
          </div>
        </div>
        <div class="container-addon-deductible" *ngIf="addon.listSumInsured">
          <div class="col-md-4 p-0">
            <div class="input-wrapper input-wrapper-soft form-group">
              <select id="sumInsuredSelected-{{addon.code}}" type="text" class="form-control arrow-select input-padding"
                [ngModel]="sumInfCondChoose" (ngModelChange)="toggleAddonLimit($event, i)">
                <option *ngFor="let SumInsured of addon.listSumInsured" [ngValue]="SumInsured">
                  {{ SumInsured.ceiling }}{{kenticoBody?.step_insurance_info?.currency?.text.value}}
                </option>
              </select>
              <label for="sumInsuredSelected-{{addon.code}}" class="form-control-placeholder pl-3">
                {{kenticoBody?.step_insurance_info?.sum_insured_choose?.text.value}}
              </label>
            </div>
          </div>
          <div class="container-medical">
            <div class="container-medical-expenses">
              <p class="title">{{kenticoBody?.step_insurance_info?.medical_expenses?.text.value}}</p>
              <p class="price">{{sumInfCondChoose.medicalExpenses}}</p>
            </div>
            <div class="container-daily-allowance">
              <p class="title">{{kenticoBody?.step_insurance_info?.daily_allowance?.text.value}}</p>
              <p class="price">{{sumInfCondChoose.dailyAllowance}}</p>
            </div>
          </div>
        </div>

      </div>
      <p *ngIf="addon.description_combinability">{{addon.description_combinability}}</p>
      <div class="container-add-info" *ngIf="addon.additional_information">
        <div class="bg-info-primary"></div>
        <div class="add-info">
          <div class="col-md-2 col-4 number-percentage">
            <img class="img" *ngIf="addon.additional_information.img.value.length > 0"
              src="{{addon.additional_information.img.value[0].url}}">
            <p class="percentage" *ngIf="addon.additional_information.percentuale.value !== ''">
              {{addon.additional_information.percentuale.value}}</p>
          </div>
          <p class="description">{{addon.additional_information.description.value}}</p>
        </div>
      </div>
      <div class="container-footer-card col-7 offset-1 offset-md-0 col-md-12 p-0">
        <a class="link-info"
          (click)="openDetail(addon)">{{kenticoBody?.step_insurance_info?.detail_warranty?.text.value}}</a>
        <button class="add-warranty-btn col-md-3 col-6" *ngIf="addon.code !== 'RCA'" (click)="addCancelWarranty(addon)">{{addon.selezionata ? kenticoBody?.step_insurance_info?.remove_btn?.text.value :
        kenticoBody?.step_insurance_info?.add_btn?.text.value}}</button>
        <div class="price-mobile">
          <p>{{kenticoBody?.step_insurance_info?.currency?.text.value}}
            {{addon.premioTotaleScontatoGaranzia | number : '1.2-2'}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="row buttons">
  <div class="col-md-4 left col-12">
    <button class="reset-btn" (click)="resetSelectedAddon()">{{kenticoBody?.step_insurance_info?.reset_button?.text.value}}</button>
  </div>
  <div class="col-6 right submit">
    <button class="submit-btn back" (click)="hideWarranties()" [ngx-scroll-to]="'#auto-proposals'">{{kenticoBody?.step_insurance_info?.back_button?.text.value}}</button>
    <button class="submit-btn buy" [disabled]="!formValid" (click)="submit()" [ngx-scroll-to]="'#ge-address'">{{'buttons.continue' | translate | async}}</button>
  </div>
</div>
