<form [formGroup]="claimForm">
  <div class="container container-box container-lg container-xl container-md container-sm" *ngIf="kenticoContent">
    <div class="row info-bar">
      <div class="info-bar-title">
        <h6 class="tab-title">{{kenticoContent.title.value}}</h6>
      </div>
      <div class="close-button">
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">
           <img [src]="kenticoContent.close_button.value[0].url" [alt]="kenticoContent.close_button.value[0].description"/>
        </span>
        </button>
      </div>
    </div>
    <div class="row description">
      <div class="container mt-5">
          <span class="descriptionToggle1"  [innerHTML]="kenticoContent.subtitle.value"></span>
          <div  class="descriptionToggle" >
            <div class="label_area_description">
              <p class="title-text">{{kenticoContent.label_textarea.value}}</p>
            </div>
            <textarea cols="15" rows="12" class="textarea-description" formControlName="textAreaClaim" [ngClass]="{requiredBorder : claimForm.controls.textAreaClaim && claimForm.controls.textAreaClaim.invalid && (claimForm.controls.textAreaClaim.dirty || claimForm.controls.textAreaClaim.touched)}"></textarea>
          </div>
          <div
            *ngIf="claimForm.controls.textAreaClaim && claimForm.controls.textAreaClaim.invalid && (claimForm.controls.textAreaClaim.dirty || claimForm.controls.textAreaClaim.touched)">
            <div class="error-message"
                 *ngIf="claimForm.controls.textAreaClaim.errors && claimForm.controls.textAreaClaim.errors.required">
              {{ 'forms.mandatory_field' | translate | async }}
            </div>
          </div>
          <div class="row attachment_label" [ngClass]="{requiredBorder: error_file_dimension != '' }">
            <p class="text-title">{{kenticoContent.attachment_label.value}}</p>
            <label for="file_upload1" class="file-upload">{{kenticoContent.upload_file_button.value}}</label>
            <input (change)="onFileChange($event)"  id="file_upload1" type="file" style="display: none" accept="{{listTypeAcceptance}}">

            <div class="col-12 mb-3" *ngFor="let file of fileContainer; let i = index;">
              <div class="col-12 pl-0 input-wrapper">
                <div class="file pl-2">
                  {{ (file.name.length > 25)? (file.name | slice:0:21) + "." + file.name.split('.')[1] : (file.name) }}<br>
                </div>
                <div class="remove-docs" *ngIf="i >= 0">
                  <img [src]="kenticoContent.close_button_file.images[0].url"
                       [alt]="kenticoContent.close_button_file.images[0].description" (click)="removeDocs(i)">
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="error_file_dimension != '' ">
            <div class="error-message"
                 *ngIf="error_file_dimension != '' ">
              {{ error_file_dimension }}
            </div>
          </div>
          <div class="send-button-container">
            <button (click)="claimReport()" class="send-button">{{kenticoContent.send_button.value}}</button>
          </div>
          <div class="additional-information">
            <p [innerHTML]="kenticoContent.additional_information.value"></p>
          </div>
          
      </div>
    </div>
  </div>
</form>



































