@import '~sass/variables';

.modal-window {
  .confirm-image {
    height: 158px;
    width: 158px;
    background-color: $primary-light;
    border-radius: 50%;
    margin: 3rem auto;
    position: relative;
  
    .img-container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  
      img {
        width: 40%;
        height: 40%;
      }
    }
  }
  .link-btn {
    color: $primary;
    text-decoration: underline;
    font-size: 16px;
    border: none;
    background: none;
    cursor: pointer;
    outline: none
  }
  .confirm-text {
    font-size: 1.2rem;
    color: #4a4a4a;
    margin: 2rem auto 1rem;
  }
  .modal-footer {
    padding: 2rem 1rem 3rem;
    border-top: none
  }
  .btn.btn-ok {
    background-color: $primary;
    border-radius: 5px;
    padding: 0 30px;
  }
    .confirm-image {
      height: 158px;
      width: 158px;
      border-radius: 50%;
      margin: 3rem auto;
      position: relative;
      border: 2px solid var(--primary-y,#eee);
      background-color: #FFFFFF;
      border-radius: 50%;
    }
} 