<div class="container-fluid quotator">
  <div class="row">
    <div class="product col-12 mb-3">
      <span class="product-name">
        {{product.name}}
      </span>
      <img class="product-icon" [src]="product.image" alt="RC auto">
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-3">
      <span class="product-description">
        {{product.quotator_rc_product_description}}
      </span>
    </div>
  </div>
  <form [formGroup]="form">

    <div class="row mb-4">
      <div class="col-12 vehicle-type">
        <span class="vehicle-type-label">
          {{product.quotator_rc_vehicle_type}}
        </span>
      </div>
      <div class="col-12 vehicle-type-radio">
        <label class="form-big-radio mr-1" for="vehicleCar">
          <input type="radio" id="vehicleCar" formControlName="vehicleType" value="car">
          <span>        
            {{product.car}}
          </span>
          <span class="checkmark"></span>
        </label>
        <label class="form-big-radio mr-1" for="vehicleTruck">
          <input type="radio" id="vehicleTruck" formControlName="vehicleType" value="truck">
          <span>
            {{product.truck}}
          </span>
          <span class="checkmark"></span>
        </label>
      </div>
    </div>

    <div class="row">
      <div [ngClass]="getErrorFieldClass('expirationDate')" class="col-12">
        <input ngbDatepicker 
          required
          readonly
          (dateSelect)="expiration.close()"
          (click)="expiration.toggle(); form.get('expirationDate').setValue(null)"
          #expiration="ngbDatepicker"
          [minDate]="minDate"
          [ngClass]="{'filled': hasValue('expirationDate')}"
          class="form-control date" formControlName="expirationDate" type="text">
        <label class="form-control-label" for="expirationDate">
          {{product.form_expiration_date}}
        </label>
        <ng-container *ngIf="getFieldInvalidError('expirationDate')">
          <span class="error-message" *ngIf="getFieldError('expirationDate', 'required')">
            {{'forms.mandatory_field' | translate | async}}
          </span>
          <span class="error-message" *ngIf="getFieldError('expirationDate', 'exceedError')">
            {{product.error_exceeded_date}}
          </span>
        </ng-container>
      </div>
    </div>

    <div class="row">
      <div [ngClass]="getErrorFieldClass('displacement')" class="col-12">
        <select id="displacementSelect" required
        [ngClass]="{'filled': hasValue('displacement')}"
        class="form-control arrow-select" formControlName="displacement" type="text">
        <option [ngValue]="null" class="placeholder">{{product.displacement}}</option>
        <option *ngFor="let displacement of displacementsRangeList" [ngValue]="displacement">
            {{displacement.cc_displacement}}
          </option>
        </select>
        <label class="form-control-label" for="displacement" *ngIf="form.controls.displacement.value">
          {{product.displacement}}
        </label>
        <ng-container *ngIf="getFieldInvalidError('displacement')">
          <span class="error-message">
            {{'forms.mandatory_field' | translate | async}}
          </span>
        </ng-container>
      </div>
    </div>

    <div class="row">
      <div [ngClass]="getErrorFieldClass('brand')" class="col-12">
        <select id="brand" required
        [ngClass]="{'filled': hasValue('brand')}"
        class="form-control arrow-select" formControlName="brand" type="text">
          <option [ngValue]="null" class="placeholder">{{product.brand}}</option>
          <option *ngFor="let brand of brandsList" [ngValue]="brand">
            {{getAlternativeDescriptionBrand(brand.description) }}
          </option>
        </select>
        <label class="form-control-label" for="brand" *ngIf="form.controls.brand.value">
          {{product.brand}}
        </label>
        <ng-container *ngIf="getFieldInvalidError('brand')">
          <span class="error-message">
            {{'forms.mandatory_field' | translate | async}}
          </span>
        </ng-container>
      </div>
    </div>

    <div class="row">
      <div [ngClass]="getErrorFieldClass('birthDate')" class="col-12">
        <input ngbDatepicker 
          required
          readonly
          (dateSelect)="birthDate.close()"
          (click)="birthDate.toggle(); form.get('birthDate').setValue(null)"
          #birthDate="ngbDatepicker"
          [minDate]="minBirthDate"
          [maxDate]="maxBirthDate"
          [disabled]="hasValue('birthDate')"
          [ngClass]="{'filled': hasValue('birthDate')}"
          class="form-control date" formControlName="birthDate" type="text">
        <label class="form-control-label" for="birthDate">
          {{product.form_birth_label}}
        </label>
        <ng-container *ngIf="getFieldInvalidError('birthDate')">
          <span class="error-message">
            {{'forms.mandatory_field' | translate | async}}
          </span>
        </ng-container>
      </div>
    </div>

    <div class="row">
      <div [ngClass]="getErrorFieldClass('residenceState')" class="col-12">
        <select id="residenceStateSelect" required
        [ngClass]="{'filled': hasValue('residenceState')}"
        class="form-control arrow-select" formControlName="residenceState" type="text">
          <option [ngValue]="null" class="placeholder">{{product.form_residence}}</option>
          <option *ngFor="let state of states" [ngValue]="state">
            {{state.name}}
          </option>
        </select>
        <label class="form-control-label" for="residenceState" *ngIf="form.controls.residenceState.value">
          {{product.form_residence}}
        </label>
        <ng-container *ngIf="getFieldInvalidError('residenceState')">
          <span class="error-message">
            {{'forms.mandatory_field' | translate | async}}
          </span>
        </ng-container>
      </div>
    </div>

    <div class="row">
      <div class="col-12 bersani">
        {{product.quotator_rc_family}}
        <label class="form-big-radio mr-2" for="familyRCYes">
          <input type="radio" id="familyRCYes" formControlName="familyRC" [value]="true">
          {{product.yes}}
          <span class="checkmark"></span>
        </label>
        <label class="form-big-radio" for="familyRCNo">
          <input type="radio" id="familyRCNo" formControlName="familyRC" [value]="false">
          {{product.no}}
          <span class="checkmark"></span>
        </label>
      </div>
    </div>

    <ng-template [ngIf]="form.get('familyRC').value" [ngIfElse]="noFamilyRcFields">
      <div class="row">
        <div class="col-12 disclaimer">
          <div [innerHtml]="product.family_rc_disclaimer"></div>
        </div>
      </div>
      <div class="row">
        <div [ngClass]="getErrorFieldClass('licensePlateRelative')" class="col-12">
          <input required 
          [ngClass]="{'filled': hasValue('licensePlateRelative')}"
          class="form-control" formControlName="licensePlateRelative" type="text">
          <label class="form-control-label" for="licensePlateRelative">
            {{product.form_license_plate}}
          </label>
          <ng-container *ngIf="getFieldInvalidError('licensePlateRelative')">
            <div *ngIf="getFieldError('licensePlateRelative', 'required')" class="error-message">
              {{'forms.mandatory_field' | translate | async}}
            </div>
          </ng-container>
        </div>
      </div>

      <div class="row">
        <div [ngClass]="getErrorFieldClass('fiscalCodeRelative')" class="col-12">
          <input required 
          maxlength="16"
          [ngClass]="{'filled': hasValue('fiscalCodeRelative')}"
          class="form-control" formControlName="fiscalCodeRelative" type="text">
          <label class="form-control-label" for="fiscalCodeRelative">
            {{product.form_fiscal_code}}
          </label>
          <ng-container *ngIf="getFieldInvalidError('fiscalCodeRelative')">
            <div *ngIf="getFieldError('fiscalCodeRelative', 'required')" class="error-message">
              {{ 'forms.mandatory_field' | translate | async }}
            </div>
          </ng-container>

        </div>
      </div>

      <div class="row">
        <div [ngClass]="getErrorFieldClass('originClassRelative')" class="col-12">
          <select class="form-control arrow-select" formControlName="originClassRelative" 
          [ngClass]="{'filled': hasValue('originClassRelative')}" type="text" required>
          <option value="{{null}}" class="placeholder"></option>
            <option *ngFor="let numberClass of numbersClass" value="{{numberClass}}">{{numberClass}}</option>
          </select>
          <label class="form-control-label" for="originClassRelative">
            {{product.form_origin_class_relative}}
          </label>
          <ng-container *ngIf="getFieldInvalidError('originClassRelative')">
            <div *ngIf="getFieldError('originClassRelative', 'required')" class="error-message">
              {{ 'forms.mandatory_field' | translate | async }}
            </div>
          </ng-container>

        </div>
      </div>
    </ng-template>
    <ng-template #noFamilyRcFields>
      <div class="row">
        <div [ngClass]="getErrorFieldClass('originClass')" class="col-12">
          <select class="form-control arrow-select" formControlName="originClass" 
          [ngClass]="{'filled': hasValue('originClass')}" type="text" required>
          <option value="{{null}}" class="placeholder"></option>
          <option *ngFor="let numberClass of numbersClass" value="{{numberClass}}">{{numberClass}}</option>
          </select>
          <label class="form-control-label" for="originClass">
            {{product.form_origin_class_owner}}
          </label>
          <ng-container *ngIf="getFieldInvalidError('originClass')">
            <div *ngIf="getFieldError('originClass', 'required')" class="error-message">
              {{'forms.mandatory_field' | translate | async}}
            </div>
          </ng-container>
        </div>
      </div>
    </ng-template>

  </form>
  
  <hr>

  <div class="row">
    <div class="col-12 price-container">
      <div class="price">
        <span class="price-label">
          {{product.total_price}}
        </span>
        <span class="price-quotation" *ngIf="quotationPrice === '0'">
          - €
        </span>
        <span class="price-quotation" *ngIf="quotationPrice !== '0'">
          {{quotationPrice | currency}}
        </span>
      </div>
      <button [disabled]="!form.valid"
      (click)="checkout(form.value)">
        {{product.continue_button}}
      </button>
    </div>
  </div>

  <div class="row info">
    <div class="col-12 info-car">
      <a [href]="product.information_package" target="_blank">
        {{product.quotator_rc_info_set_car}}
      </a>
    </div>
    <div class="col-12 info-truck">
      <a [href]="product.conditions_package" target="_blank">
        {{product.quotator_rc_set_info_truck}}
      </a>
    </div>
  </div>

</div>