@import "~sass/_variables.scss";

.quotator {
  padding: 1.5rem 1rem 2rem 1.5rem;
  .product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-name {
      font-size: 1.5rem;
      color: $primary;
    }
    &-description {
      font-size: 0.9rem;
    }
    &-icon {
      max-width: 100px;
      height: auto;
    }
  }
  .form {
    &-control {
      position: inherit;
      z-index: 99;
      background: transparent;
      height: 56px;
      font-size: initial;
      margin-bottom: 1rem;
      border-radius: 0.5rem;
      padding-top: 1.5rem;
      padding-left: 1rem;
      &:disabled,
      &:disabled + .form-control-label {
        opacity: 0.5;
      }
      &.filled + .form-control-label,
      &:focus:not(.date) + .form-control-label {
        color: $grey-dark;
        font-size: 0.9rem;
        top: 0.2rem;
      }
      &-label {
        transition: all 0.2s;
        position: absolute;
        top: 1rem;
        left: 2rem;
        z-index: 0 !important;
        font-size: 1rem;
      }
      &.arrow-select {
        padding-top: 0.5rem;
      }
    }
    &-big-radio {
      display: initial;
      padding-left: 30px;
    }
  }
  .bersani {
    font-size: 0.9rem;
    margin: 0.5rem 0 1rem 0;
  }
  .disclaimer {
    color: $red;
    font-size: 0.9rem;
    line-height: 1rem;
  }
  .price {
    display: flex;
    flex-direction: column;
    &-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      button {
        color: $white;
        background: #e40044;
        border-radius: 0.25rem;
        text-align: center;
        height: 100%;      
        min-width: 50%;
        border: 0;
        outline: none;
        &:disabled {
          opacity: 0.6;
          cursor: not-allowed;
        }
      }
    }
    &-label {
      font-size: 0.8rem;
    }
    &-quotation {
      font-size: 1.5rem;
      color: $primary;
    }
  }
  .info {
    text-align: center;
    a {
      color: $primary;
      text-decoration: underline;
      font-size: 0.9rem;
    }
  }
  .vehicle-type {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
  .form-big-radio {
    font-size: 0.9rem;
    .checkmark {
      top: -4px;
      left: 2px;
      &::after {
        top: 5px;
        left: 5px;
        width: 12px;
        height: 12px;
      }
    }
  }
  .error {
    &-field {
      input, select {
        margin-bottom: 0;
      }
      label {
        color: $red;
      }
    }
    &-message {
      color: $red;
      margin-bottom: 1rem;
    }
  }
  .warning {
    &-field {
      input, select {
        margin-bottom: 0;
      }
      label {
        color: $warning;
      }
    }
    &-message {
      color: $warning;
      margin-bottom: 1rem;
    }
  }
}
