@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/variables";

.bg-img-hero {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 0;
  @include media-breakpoint-up(sm) {
    padding: 11rem 0 6rem;
  }
  &.pai-personal-accident-extra {
    .text-container {
      padding-top: 4rem;
      @include media-breakpoint-up(sm) {
        padding-top: 1rem;
      }
    }
    .title{
      color: $white;
      font-size: 1.5rem;
      text-transform: none;
      &::after {
        content: none;
      }
    }
  }
  &.layout-fca-bank_db {
    .background-overlay {
      display: none;
    }
    .text-container {
      padding-top: 4rem;
      @include media-breakpoint-up(sm) {
        padding-top: 1rem;
      }
    }
    .title{
      color: $text-color;
      font-size: 1.5rem;
      text-transform: none;
      &::after {
        content: none;
      }
    }
    .subtitle {
      color: $text-color;
      font-size: 1.3rem;
      text-transform: none;
    }
  }
  &.layout-leasys_db, &.layout-yolodb  {
    .text-container {
      padding-top: 4rem;
      @include media-breakpoint-up(sm) {
        padding-top: 1rem;
      }
    }
    .title{
      color: $white;
      font-size: 1.5rem;
      text-transform: none;
      &::after {
        content: none;
      }
    }
    .subtitle {
      color: $white;
      font-size: 1.3rem;
      text-transform: none;
    }

    &.covea-baggage-loss-long-term {
      .subtitle {
        ::ng-deep {
          p {
            display: contents;
          }

          figure {
            display: contents;
            float: right;

            img {
              max-height: 25px;
              margin-bottom: 2px;
            }
          }
        }
      }
    }
  }
  &.layout-bancapc-it-it_db {
    background-position: center;
    &.chubb-devices{
      background-position: top center;
    }
  }
  &.layout-mopar_db{
    .text-container {
      padding-top: 4rem;
      @include media-breakpoint-up(sm) {
        padding-top: 0;
      }
      .title {
        color: #fff;
        font-size: 1.5rem;
        font-weight: 500;
        padding-right: 4rem;
        line-height: normal;
        text-transform: initial;
        &::after {
          content: none;
        }
      }
    }
  }
  &.layout-civibank_db,
  &.layout-banco-desio_db {
    .title {
      font-family: 'HK Grotesk';
      font-weight: 500;
    }
  }
  &.layout-banca-sella_db{
    &.ge-ski-plus,
    &.ge-ski-premium{
      padding: 6rem 0 6rem;
      height: 980px;
      margin-bottom: 70px;
      @media (max-width: 450px) {
        margin-bottom: 130px;
      }
      @media (max-width: 370px) {
        margin-bottom: 180px;
      }
      &.premium{
        margin-bottom: 100px;
        @media (min-width: 370px) and (max-width: 767px) {
          margin-bottom: 320px;
        }
        @media (max-width: 370px) {
          margin-bottom: 530px;
        }
      }
      .text-container{
        text-align: center;
        .title{
          color: white;
          font-size: 60px;
          @media (max-width: 450px) {
            font-size: 40px;
          }
          @media (min-width: 768px) and (max-width: 991px) {
            font-size: 45px;
          }
          @media (min-width: 451px) and (max-width: 767px) {
            font-size: 48px;
          }
          &::after {
            content: none;
          }
        }
        .subtitle{
          color: white;
          font-size: 34px;
          @media (min-width: 768px) and (max-width: 991px) {
            font-size: 28px;
          }
          @media (max-width: 768px) {
            font-size: 20px;
          }
        }
      }
    }
  }
  &.winter-sport-plus,
  &.winter-sport-premium {
    padding: 6rem 0 6rem;
    height: 850px;
    margin-bottom: 60px;
    @media (max-width: 400px) {
      margin-bottom: 130px;
    }
    &.premium{
      margin-bottom: 100px;
      @media (min-width: 370px) and (max-width: 767px) {
        margin-bottom: 280px;
      }
      @media (min-width: 340px) and (max-width: 370px) {
        margin-bottom: 470px;
      }
      @media (max-width: 340px) {
        margin-bottom: 530px;
      }
    }
    .text-container{
      align-self: center;
      text-align: start !important;
      .title{
        color: white;
        font-size: 60px;
        @media (max-width: 450px) {
          font-size: 40px;
        }
        @media (min-width: 768px) and (max-width: 991px) {
          font-size: 45px;
        }
        @media (min-width: 451px) and (max-width: 767px) {
          font-size: 48px;
        }
        &::after {
          content: none;
        }
      }
      .subtitle{
        color: white;
        font-size: 34px;
        @media (min-width: 768px) and (max-width: 991px) {
          font-size: 28px;
        }
        @media (max-width: 768px) {
          font-size: 20px;
        }
      }
    }
  }
}

.background-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background: $bg-overlay;
}

.text-container {
  padding-top: 6rem;
  .title, .subtitle, .scroll {
    color: $section-title-color;
  }
  .title {
    font-size: 2.5rem;
    font-weight: 500;
    position: relative;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    line-height: 1.1;
    &::after {
      position: absolute;
      content: '';
      height: 3px;
      bottom: -12px;
      background-color: $section-title-color;
      left: 0;
      width: 45%;
    }
  }
  .subtitle {
    font-size: 1.4rem;
    line-height: normal;
  }

  .scroll {
    margin-top: 4rem;
    font-size:1.5rem;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    p:hover{
      color: $primary;
    }
  }

}

.scroll-button {
  display: flex;
  justify-content: center;

  @include media-breakpoint-up(lg) {
    justify-content: flex-end;
  }

  .scroll-how-works {
    color: $white;
    background-color: transparent;
    border: 2px solid $white;
    border-radius: 40px;
    width: 100%;
    padding: 12px 0;
    max-width: 230px;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
  }
}
.breadcrumb-container {
  &.yolodb{
    display: none;
    &.winter-sport-plus,
    &.winter-sport-premium{
      display: flex;
    }
  }
    @media (max-width: 368px) {
      padding-top: 11rem;
    }
    @media (min-width: 368px) and (max-width: 767px) {
      padding-top: 10rem;
    }
    &.premium{
      @media (max-width: 368px) {
        padding-top: 4rem !important;
      }
    }

  .breadcrumb {
    background-color: transparent;
    padding: 0;
    margin: 0;
  }

  .breadcrumb-item {
    text-decoration: underline;
  }

  :not(:first-child) {
    font-weight: bolder;
  }

  :not(:last-child) {
    .breadcrumb-item::after {
      content: '\203A';
      display: inline-block;
      padding: 0 .5rem;
    }
  }
}
