
<form [formGroup]="form">
  <div class="col-12 mt-3">
    <span [innerHtml]="contentItem.number_insured.title.value" class="number-insured-title"></span>
  </div>
  <div class="mt-3 justify-content-center">
    <div class="col-12 sub-title">
      <span>{{contentItem.number_insured.subtitle.value}}</span>
    </div>
    <div class="form-container">
      <div class="tim-form-label-group"
          [ngClass]="{'error-field': getFieldInvalidError('insuredNumber') }">
          <select class="form-control" id="insuredNumber" formControlName="insuredNumber" omniturecta="seleziona numero assicurati" omnitureposition="1">
            <option [ngValue]="null" class="placeholder"></option>
            <option *ngFor="let ins of insuredNumberArray" [value]="ins">
              {{ ins }}
            </option>
          </select>
          <label for="insuredNumber">{{contentItem.number_insured.label1.value}}</label>
          <div [hidden]="!getFieldInvalidError('insuredNumber')" class="error-message">{{ 'forms.mandatory_field' |
            translate | async }}
          </div>
      </div>

      <div class="tim-form-label-group" [ngClass]="{'error-field': getFieldInvalidError('insuredMinors') }">
        <select class="form-control" id="insuredMinors" formControlName="insuredMinors" omniturecta="seleziona minori assicurati" omnitureposition="1">
          <option [ngValue]="null" class="placeholder"></option>
          <option *ngFor="let ins of insuredMinorsCheck" [ngValue]="ins.keyValue">
            {{ ins.value }}
          </option>
        </select>
        <label for="insuredMinors">{{contentItem.number_insured.label2.value}}</label>
        <div [hidden]="!getFieldInvalidError('insuredMinors')" class="error-message">{{ 'forms.mandatory_field' |
          translate | async }}
        </div>
      </div>
    </div>

    <div [ngClass]="{'label-disabled': !form.controls.declarationMinors.value }">
      <div class="form-big-checkbox tim" [ngClass]="dataService.tenantInfo.tenant" for="declarationMinors">
        <input type="checkbox" id="declarationMinors" class="tim form-check-input" formControlName="declarationMinors">
        <label for="declarationMinors">
          <span class="checkbox"></span>
          <div class="dynamic-link">{{contentItem.number_insured.check.rawData.value}}</div>
        </label>
        <div class="checkbox-box">
          <svg width="28.977079" height="21.808012" viewBox="0 0 28.977079 21.808012">
            <path class="animated-tick"
            d="M 1.8195415,13.337596 9.6337911,20.00808 27.159236,1.818512" id="checkmark-path" inkscape:connector-curvature="0"
            sodipodi:nodetypes="ccc">
            </path>
          </svg>
        </div>
      </div>
    </div>

      <div class="info-label">
        <img [src]="contentItem.number_insured.image.images[0].url" alt="">
        <div class="text-image-description">
          {{contentItem.number_insured.image_description.rawData.value}}
        </div>
      </div>
  </div>

  <div class="row buttons">
    <button class="col-12 col-sm-3 mb-3 submit-btn buy" [disabled]="!form.valid" (click)="submit()" omniturecta="continua" omnitureposition="1">{{contentItem.number_insured.continue_button.value}}</button>
    <button class="col-12 col-sm-3 mb-3 submit-btn back" (click)="previousPage()" omniturecta="indietro" omnitureposition="1">{{contentItem.number_insured.back_button.value}}</button>
  </div>
</form>

