<div class="quotator-container" *ngIf="products" [ngClass]="products[0].container_class">

    <div *ngIf="products[0].quot_product_title">
        <div class="container-fluid quotator">
            <div class="row">
                <div class="product col-12 pt-4 mb-3">
                    <span class="product-quot-name">
            {{products[0].quot_product_title}}
          </span>
                    <img class="product-icon" [src]="products[0].image" [alt]="products[0].name">
                </div>
            </div>
        </div>
    </div>

    <div class="quotator-header" *ngIf="getQuotatorHeader()">
        <div class="column">
            <p class="product-name">{{products[0].title}}</p>
            <span class="badge badge-info" *ngIf="products[0].badge">{{products[0].badge}}</span>
        </div>
        <img class="image-logo" [src]="products[0].image">
    </div>

    <ng-container *ngIf="(products && products.length == 1) || (products[0].product_code === 'virtualhospital-monthly') || (products[0].product_code === 'virtualhospital-annual')" [ngSwitch]="products[0].quotator_type">
        <app-quotator-telemedicina (selectedPrice)="sendPrice($event)" (actionEvent)="sendActionEvent($event)" [product]="products" *ngSwitchCase="'quotator_telemedicina'"> </app-quotator-telemedicina>
        <app-quotator-pepole-variants-basic (actionEvent)="sendActionEvent($event)" [product]="products[0]" *ngSwitchCase="'quotator_people_variants'"></app-quotator-pepole-variants-basic>
        <app-quotator-variants-basic (actionEvent)="sendActionEvent($event)" [product]="products[0]" *ngSwitchCase="'quotator_variants'"></app-quotator-variants-basic>
        <div class="mefio-desktop">
            <app-quotator-basic (actionEvent)="sendActionEvent($event)" [product]="products[0]" *ngSwitchCase="'quotator_basic'"></app-quotator-basic>
        </div>
        <div *ngIf="dataService.tenantInfo.tenant === 'yolo-es-es_db'" class="mefio-mobile">
            <app-quotator-sticky-mefio (actionEvent)="sendActionEvent($event)" [product]="products[0]" *ngSwitchCase="'quotator_basic'"></app-quotator-sticky-mefio>
        </div>
        <app-quotator-screen-protection (actionEvent)="sendActionEvent($event)" [product]="products[0]" *ngSwitchCase="'quotator_screen_protection'"></app-quotator-screen-protection>
        <app-quotator-smartphone (actionEvent)="sendActionEvent($event)" [product]="products[0]" *ngSwitchCase="'quotator_smartphone'"></app-quotator-smartphone>
        <app-quotator-leasys (swipeEvent)="setProductTab($event, products)" (actionEvent)="sendActionEvent($event)" [data]="products[0]" *ngSwitchCase="'quotator_pai'"></app-quotator-leasys>
        <app-quotator-yolo-sport (swipeEvent)="setProductTab($event, products)" (actionEvent)="sendActionEvent($event)" [products]="products" [product]="products[0]" *ngSwitchCase="'chubb_sport'"></app-quotator-yolo-sport>
        <app-quotator-yolo-sport (swipeEvent)="setProductTab($event, products)" (actionEvent)="sendActionEvent($event)" [products]="products" [product]="products[0]" *ngSwitchCase="'chubb_sport_rec'"></app-quotator-yolo-sport>
        <app-yolo-sport-quotator (swipeEvent)="setProductTab($event, products)" (actionEvent)="sendActionEvent($event)" [products]="products" [product]="products[0]" *ngSwitchCase="'chubb_sport_v2'"></app-yolo-sport-quotator>
        <app-yolo-sport-quotator (swipeEvent)="setProductTab($event, products)" (actionEvent)="sendActionEvent($event)" [products]="products" [product]="products[0]" *ngSwitchCase="'chubb_sport_rec_v2'"></app-yolo-sport-quotator>
        <app-quotator-mopar-std (actionEvent)="sendActionEvent($event)" [product]="products[0]" *ngSwitchCase="'quotator_mopar'"></app-quotator-mopar-std>
        <app-quotator-travel-civibank (swipeEvent)="setProductTab($event, products)" (actionEvent)="sendActionEvent($event)" [product]="products[0]" *ngSwitchCase="'quotator_travel_civibank'"></app-quotator-travel-civibank>
        <app-quotator-baggage-loss (actionEvent)="sendActionEvent($event)" [product]="products[0]" *ngSwitchCase="'quotator_baggage_loss'"></app-quotator-baggage-loss>
        <app-quotator-baggage-loss-lt (actionEvent)="sendActionEvent($event)" [product]="products[0]" *ngSwitchCase="'quotator_baggage_loss_lt'"></app-quotator-baggage-loss-lt>
        <app-quotator-rc-fca (actionEvent)="sendActionEvent($event)" [product]="products[0]" *ngSwitchCase="'quotator_rc_fca'"></app-quotator-rc-fca>
        <app-legal-protection (actionEvent)="sendActionEvent($event)" [product]="products[0]" *ngSwitchCase="'quotator_legalprotection'"></app-legal-protection>
        <app-quotator-cyber (swipeEvent)="setProductTab($event, products)" (actionEvent)="sendActionEvent($event)" [product]="products[0]" *ngSwitchCase="'quotator_cyber'"></app-quotator-cyber>
        <app-quotator-axa-annullamento-viaggio (actionEvent)="sendActionEvent($event)" [product]="products[0]" *ngSwitchCase="'axa-annullament'"></app-quotator-axa-annullamento-viaggio>
        <app-default-preventivo *ngSwitchDefault></app-default-preventivo>
    </ng-container>

    <ng-container *ngIf="(products.length > 1 && products[0].product_code !== 'virtualhospital-annual')">

        <div *ngIf="showTopProductTitle" class="mt-3 ml-3 mr-3 mb-1">
          <div class=" row col-auto text-center p-0">
            <h1 class="col product-name-for-ski d-flex align-items-center">{{productTitle}}</h1>
          </div>
        </div>
        <ngb-tabset [activeId]="activeProduct" #tabs>
            <ngb-tab *ngFor="let product of products; let index = index;" [id]="'tab-' + product.product_code">
                <ng-template ngbTabTitle>
                    <span class="product-tab" (click)="selectedProduct(product)" [ngClass]="'tab-name-' + product.product_code" [id]="'nav-link-' + product.product_code" [attr.data-cy]=" 'conf-layout' | cy:product.name: 'tab'">
           {{isDifferent ? tabSetNames[index] : product.name}}
          </span>
                </ng-template>
                <ng-template ngbTabContent>
                    <div [ngSwitch]="product.quotator_type">
                        <app-quotator-pepole-variants-basic (swipeEvent)="setProductTab($event, products)" (actionEvent)="sendActionEvent($event)"[product]="product" *ngSwitchCase="'quotator_people_variants'"></app-quotator-pepole-variants-basic>
                        <app-quotator-basic (swipeEvent)="setProductTab($event, products)" (actionEvent)="sendActionEvent($event)" [product]="product" *ngSwitchCase="'quotator_basic'"></app-quotator-basic>
                        <app-quotator-leasys (swipeEvent)="setProductTab($event, products)" (actionEvent)="sendActionEvent($event)" [data]="product" *ngSwitchCase="'quotator_pai'"></app-quotator-leasys>
                        <app-quotator-mopar-std (swipeEvent)="setProductTab($event, products)" (actionEvent)="sendActionEvent($event)" [product]="product" *ngSwitchCase="'quotator_mopar'"></app-quotator-mopar-std>
                        <app-quotator-travel-civibank (swipeEvent)="setProductTab($event, products)" (saveQuotatorForm)="setQuotatorValues($event)" [savedForm]="quotatorValues" (actionEvent)="sendActionEvent($event)" [product]="product" *ngSwitchCase="'quotator_travel_civibank'"></app-quotator-travel-civibank>
                        <app-quotator-yolo-sport (swipeEvent)="setProductTab($event, products)" (actionEvent)="sendActionEvent($event)" [products]="products" [product]="product" *ngSwitchCase="'chubb_sport'"></app-quotator-yolo-sport>
                        <app-quotator-yolo-sport (swipeEvent)="setProductTab($event, products)" (actionEvent)="sendActionEvent($event)" [products]="products" [product]="product" *ngSwitchCase="'chubb_sport_rec'"></app-quotator-yolo-sport>
                        <app-yolo-sport-quotator (swipeEvent)="setProductTab($event, products)" (actionEvent)="sendActionEvent($event)" [products]="products" [product]="product" *ngSwitchCase="'chubb_sport_v2'"></app-yolo-sport-quotator>
                        <app-yolo-sport-quotator (swipeEvent)="setProductTab($event, products)" (actionEvent)="sendActionEvent($event)" [products]="products" [product]="product" *ngSwitchCase="'chubb_sport_rec_v2'"></app-yolo-sport-quotator>
                        <app-quotator-cyber (swipeEvent)="setProductTab($event, products)" (actionEvent)="sendActionEvent($event)" [product]="product" *ngSwitchCase="'quotator_cyber'"></app-quotator-cyber>
                        <app-viaggi-cb [product]="product" *ngSwitchCase="'quotator_axa-assistance-premium'"></app-viaggi-cb>
                        <app-viaggi-cb [product]="product" *ngSwitchCase="'quotator_axa-assistance-plus'"></app-viaggi-cb>
                        <app-sport-cb [product]="product" *ngSwitchCase="'quotator_chubb-sport-premium'"></app-sport-cb>
                        <app-sport-cb [product]="product" *ngSwitchCase="'quotator_chubb-sport-plus'"></app-sport-cb>
                        <app-bike-cb [product]="product" *ngSwitchCase="'ea-bike-premium'"></app-bike-cb>
                        <app-bike-cb [product]="product" *ngSwitchCase="'ea-bike-plus'"></app-bike-cb>
                        <app-quotator-ge-bike [product]="product" *ngSwitchCase="'ge-bike-plus'"></app-quotator-ge-bike>
                        <app-quotator-ge-bike [product]="product" *ngSwitchCase="'ge-bike-premium'"></app-quotator-ge-bike>
                        <app-quotator-ge-sport [product]="product" *ngSwitchCase="'ge-sport-plus'"></app-quotator-ge-sport>
                        <app-quotator-ge-sport [product]="product" *ngSwitchCase="'ge-sport-premium'"></app-quotator-ge-sport>
                        <app-quotator-ge-holiday-home [product]="product" *ngSwitchCase="'ge-holiday-house-plus'"></app-quotator-ge-holiday-home>
                        <app-quotator-ge-holiday-home [product]="product" *ngSwitchCase="'ge-holiday-house-premium'"></app-quotator-ge-holiday-home>
                        <app-quotator-ge-ski [product]="product" *ngSwitchCase="'ge-ski-plus'"></app-quotator-ge-ski>
                        <app-quotator-ge-ski [product]="product" *ngSwitchCase="'ge-ski-premium'"></app-quotator-ge-ski>
                        <app-quotator-ge-viaggio [product]="product" *ngSwitchCase="'ge-travel-plus'"></app-quotator-ge-viaggio>
                        <app-quotator-ge-viaggio [product]="product" *ngSwitchCase="'ge-travel-premium'"></app-quotator-ge-viaggio>
                        <app-sci-cb [product]="product" *ngSwitchCase="'quotator_ge-ski-premium'"></app-sci-cb>
                        <app-sci-cb [product]="product" *ngSwitchCase="'quotator_ge-ski-plus'"></app-sci-cb>
                        <app-sci-cb [product]="product" *ngSwitchCase="'quotator_ge-ski-seasonal-premium'"></app-sci-cb>
                        <app-sci-cb [product]="product" *ngSwitchCase="'quotator_ge-ski-seasonal-plus'"></app-sci-cb>
                        <app-holidayhome-cb [product]="product" *ngSwitchCase="'quotator_ge-holiday-house-premium'"></app-holidayhome-cb>
                        <app-holidayhome-cb [product]="product" *ngSwitchCase="'quotator_ge-holiday-house-plus'"></app-holidayhome-cb>
                        <app-quotator-axa-viaggio [product]="product" *ngSwitchCase="'axa-assistance-gold'"></app-quotator-axa-viaggio>
                        <app-quotator-axa-viaggio [product]="product" *ngSwitchCase="'axa-assistance-silver'"></app-quotator-axa-viaggio>
                        <app-quotator-ge-winter-sport [product]="product" *ngSwitchCase="'winter-sport-plus'"></app-quotator-ge-winter-sport>
                        <app-quotator-ge-winter-sport [product]="product" *ngSwitchCase="'winter-sport-premium'"></app-quotator-ge-winter-sport>
                        <app-quotator-y-multirischi [product]="product" *ngSwitchCase="'net-multirisk-craft'" (actionEventAtecoProduct)="selectedProduct($event)"></app-quotator-y-multirischi>
                        <app-quotator-y-multirischi [product]="product" *ngSwitchCase="'net-multirisk-commerce'" (actionEventAtecoProduct)="selectedProduct($event)"></app-quotator-y-multirischi>
                        <app-quotator-yolo-for-ski (swipeEvent)="setProductTab($event, products)" (actionEvent)="sendActionEvent($event)"[product]="product" *ngSwitchCase="'quotator_net'"></app-quotator-yolo-for-ski>
                        <app-default-preventivo *ngSwitchDefault></app-default-preventivo>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </ng-container>
</div>
