@import '../../../../../sass/variables';
.row.panel-selection{
  @media (min-width:275px) and (max-width:420px){
    margin-right: 0px;
    margin-top:15px;
  }
  .col-2{
    @media (min-width:275px) and (max-width:420px){
     padding-left:15px;
     padding-right: 0px;
    }
  }
  .col-12{
    @media (min-width:275px) and (max-width:420px){
      padding-left: 0px;
      padding-right:0px;
    }
  }
}

.form-label-group .hosted-field.braintree-hosted-fields-invalid {
  border: 1px solid $red;
  color: $warning;
}

::-webkit-input-placeholder { /* Edge Opera Chrome Safari */
  font-family: Arial;
  font-size: 13.333px;
  color: #727174;
  opacity: 0.9;
  font-style: normal;
  font-weight: normal;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: Arial;
  font-size: 13.333px;
  color: #727174;
  opacity: 0.9;
  font-style: normal;
  font-weight: normal;
}

::placeholder {
  font-family: Arial;
  font-size: 13.333px;
  color: #727174;
  opacity: 0.9;
  font-style: normal;
  font-weight: normal;
}
:-moz-placeholder {
  font-family: Arial;
  font-size: 13.333px;
  color: #727174;
  opacity: 0.9;
  font-style: normal;
  font-weight: normal;
}
input:focus{
  // color: none;
  // border-color: ;
  outline: none;
  box-shadow: none;
}
.form-big-checkbox{
  .helbiz_db{
    .checkbox:after{
      filter: invert(100%) saturate(700%) hue-rotate(180deg) brightness(30%) contrast(180%);
    }
  }
}
// @media screen and (min-width: 280px) and (max-width: 1280px){
//   ::-webkit-input-placeholder { __<<ngThemingMigrationEscapedComment2>>__
//     font-family: Arial;
//     font-size: 11.3px;
//     color: #727174;
//     opacity: 0.9;
//     font-style: normal;
//     font-weight: normal;
//   }

//   :-ms-input-placeholder { __<<ngThemingMigrationEscapedComment3>>__
//     font-family: Arial;
//     font-size: 11.3px;
//     color: #727174;
//     opacity: 0.9;
//     font-style: normal;
//     font-weight: normal;
//   }

//   ::placeholder {
//     font-family: Arial;
//     font-size: 11.3px;
//     color: #727174;
//     opacity: 0.9;
//     font-style: normal;
//     font-weight: normal;
//   }
//   :-moz-placeholder {
//     font-family: Arial;
//     font-size: 11.3px;
//     color: #727174;
//     opacity: 0.9;
//     font-style: normal;
//     font-weight: normal;
//   }
.btn-primary {
  &.helbiz_db{
    color: $primary-dark !important;
    border: 1px solid $primary-dark !important;
  }
  &.santa-lucia_db {
    border-radius: 0;
  }

}

.santa-lucia_db {
  ::ng-deep .hosted-field {
    border-radius: 0;
  }
}

.btn-toolbar{
  &.yolo-pmi_db{
    margin: 1rem;
    text-align: left !important;
    width: 33% !important;
  }
  &.santa-lucia_db{
    border: none;
    background: $primary;
    color: $white;
    border-radius: 0;
    text-transform: capitalize;
  }
  .santa-lucia_db{
    &.btn-primary {
      text-transform: capitalize;
      border-radius: 0;
      &:disabled {
        background-color: $gray-border;
      }
    }
  }
}

.padding-container {
  padding-bottom: 5rem;
}

.form-field {
  display: flex;
  background-color: $white;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.16);
  padding: 1rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 1px $black solid;
  margin-bottom: 36px !important;
  height: 62px;
  max-width: 340px;
  margin: auto;
  input {
    font-family: Lato;
    font-size: 17px;
    font-weight: bold;
    width: 100%;
    color: #707070;
    background-color: transparent;
    border: none;
    outline: none;
    &::-webkit-input-placeholder{
      font-size: 17px;
      color: #707070;
      font-weight: bold;
      font-family: auto;
    }
    &:-ms-input-placeholder{
      font-size: 17px;
      color: #707070;
      font-weight: bold;
      font-family: auto;
    }
    &::placeholder{
      font-size: 17px;
      color: #707070;
      font-weight: bold;
      font-family: auto;
    }
    &:-moz-placeholder {
      font-size: 17px;
      color: #707070;
      font-weight: bold;
      font-family: auto;
    }
  }
}


.button-add{
  justify-content: unset;
  margin: 15px 0;
}
