/*#forgot .h1,
#forgot h1 {
    font-size: 24px;
}
#forgot .h6, #forgot h6 {
  color: #363335;
  font-size: 12px;
}

.p-input {
    margin-bottom: 5px !important;
    font-size: 14px;
    color: #b0b6c3;
}

.fix-input-boot {
    background-color: #e0e4eb !important;
}

.forgot-custom {
    border: 1px solid #c7ccd4;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding-left: 40px;
    padding-right: 40px;
    border-top: none;
    padding-top: 20px;
}
.forgot-header-custom {
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    color: #fff;
    background-color: #DD4D47;
    font-weight: 700;
}


.forgot-header {
    height: 40px;
    padding-top: 10px;
    padding-left: 0 !important;
}

.forgot-input {
    text-align: center;
}

.margin-row-connection {
    margin-left: 10px;
    margin-right: 3px;
}

.font-crea {
    color: #fff;
    font-weight: 700;
    vertical-align: text-bottom;
}*/


/* NEW IMPL */
@import '../../../../../sass/variables';

* {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
}
div {
    display: flex;
}
div.login_view {
    height: 100%;
    width: 100%;
}
section {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    & > form > div, & > div {
        height: auto;
        width: 33%;
    }
}
form {
    display:flex;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
}
div.header {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 4vh;

    & > a {
        display: block;
        height: auto;
        width: auto;

        & > img.logo {
            margin: 8vh 8vh 3vh;
            width: 150px;
            height: auto;
        }
    }
    & > h3 {
        color: #333;
        font-weight: 300;
        text-align:center;
    }
}
div.fields {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
    & > input[type="password"] {
        width: 100%;
        height: 3.2vh;
        min-height: 20px;
        color: #495057;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        padding: 5px 10px 5px 10px;
        box-sizing: content-box;
        margin: 1vh 0;

        &::placeholder {
            color: rgb(134, 142, 150);
            font-size: 0.9rem;
        }
        &:hover {
            border-color: rgb(128, 189, 255);
        }
        &.warning-field{
            border-color: $warning;
        }
    }
    & > input[type="submit"] {
        transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        display: flex;
        height: 7vh;
        width: 13vh;
        min-height: 50px;
        min-width: 80px;
        margin-top: 5vh;

        color: #007bff;
        border: 1px solid #007bff;
        background-color: white;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1rem;

        &:hover {
            color: white;
            background-color: #007bff;
            box-shadow: 0 0 1vh 0.1vh rgba(100, 100, 105, 0.35);
            cursor: pointer;
        }
    }

    & .warning-message {
        color: $warning;
        font-size: 0.75rem;
    }
}
div.backBox {
    justify-content: center;
    align-items: center;
    margin-top:6vh;
    width: 100%;
    & > a {
        display: block;
        width: auto;
        height: auto;
        text-decoration: none;
        cursor: pointer;
    } 
}

.text-red {
    color: red;
}

@media only screen and (max-width: 370px) {
    div.fields > input[type="submit"] {
        width: 100%;
    }
}
@media only screen and (max-width: 512px) {
    div.fields {
        width: 75%!important;
    }
}
@media only screen and (max-width: 990px) {
    div.fields {
        align-items: center;
    }
}