<div class="login_view">
  <section id="forgot">
    <div class="header">
      <a (click)="loginRedirect()">
        <img class="logo" [alt]="dataService.tenantInfo.pageTitle" [src]="logoImage">
      </a>
      <h3>{{'access.change_password' | translate | async}}</h3>
    </div>

    <form [formGroup]="resetPwdForm" (ngSubmit)="sendPwdRequest()">
      <div class="fields">

        <div class="row">
          <div class="col-md-6">
            <div class=" text-center">
              <span class="error-message text-center"></span>
            </div>
          </div>
        </div>

        <input [ngClass]="{'warning-field': resetPwdForm.get('newPwd').errors && resetPwdForm.get('newPwd').touched}"
          label="false" type="password" placeholder="{{'access.new_password' | translate | async}}" name="newPwd"
          id="spree_user_password" formControlName="newPwd" />
        <div class="warning-message"
          *ngIf="resetPwdForm.get('newPwd').errors && resetPwdForm.get('newPwd').errors.passwordLength">
          {{ 'forms.password_too_short' | translate | async }}
        </div>
        <!-- <div class="error-message" *ngIf="getFieldError('password', 'passwordUpper')">
          {{ 'forms.password_missing_uppercase' | translate | async }}
        </div>
        <div class="error-message" *ngIf="getFieldError('password', 'passwordLower')">
          {{ 'forms.password_missing_lowercase' | translate | async }}
        </div>
        <div class="error-message" *ngIf="getFieldError('password', 'passwordNumber')">
          {{ 'forms.password_missing_number' | translate | async }}
        </div> -->
        <div class="error-message"
          *ngIf="resetPwdForm.get('newPwd').errors && resetPwdForm.get('newPwd').errors.passwordUpperLowerNumberCharacter">
          Deve contenere almeno 8 caratteri alfanumerici di cui una lettera maiuscola, una minuscola, un numero e
          un carattere speciale
        </div>

        <input [ngClass]="{'warning-field': this.resetPwdForm.get('confPwd').hasError('invalid')}" label="false"
          type="password" placeholder="{{'access.confirm_password' | translate | async}}" name="confPwd"
          id="spree_user_password_confirmation" formControlName="confPwd" />

        <input type="hidden" [value]="password_token" name="spree_user[reset_password_token]"
          id="spree_user_reset_password_token" />
        <input type="submit" value="{{'access.modify' | translate | async}}" name="commit" />

        <!--   <div class="backBox" *ngIf="!altPath && (dataService.tenantInfo.tenant !== 'santa-lucia_db')">
          <a href="#" onclick="window.history.back()">
            <i class="fa fa-home">
              {{'access.back_to_yolo' | translate | async}}
            </i>
          </a>
        </div>-->

        <div class="w-100"></div>

        <div class="has-error">
        </div>
        <div class="text-center" *ngIf="this.resetPwdForm.get('confPwd').hasError('invalid')">
          <h6 class="text-red">{{'access.different_passwords' | translate | async}}</h6>
        </div>

        <div class="w-100"></div>

      </div>
    </form>

  </section>
</div>