@import '../../../../../sass/variables';

.user-detail {
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 5px 5px 20px -5px rgba(2, 9, 17, 0.7);
  padding: 20px;
  .form-control {
    line-height: 30px;
  }
}


h4 {
  text-transform: uppercase;
  font-size: 18px;
  color: $title-color-dark;
}

.form-info {
  font-style: italic;
  margin-left: 3%;
  margin-right: 3%;

  a {
    text-decoration: underline;
  }
}

.feedback-zone {
  text-align: center;

  &.error {
    color: $red;
  }
}

.btn {
  padding: 0;
}

.y {
  select {
    background-image: url(../../../../../assets/images/icons/arrow-y.svg) !important;
    background-size: auto 10px !important;
    background-position: right 16px top 50% !important;
  }
}

.ril {
  .btn{
  background-color: $btn-bg-color;
  border-radius: 7px;
  }
}

.santa-lucia_db {

  .santa-lucia-label {
    color: $light-black;
    position: absolute;
    margin: 0;
    inset-block-start: -.75rem;
    margin-inline-start: 12px !important;
    width: fit-content;
    height: fit-content;
    padding-inline: 4px;
    padding-block: 0;
    border: none;
  }

  .arrow-select:disabled {
    opacity: unset !important;
  }

  .form-label-group label{
    @extend .santa-lucia-label
  }

  select,
  input {
    border-radius: 0;
    &:disabled + label {
      background-image: linear-gradient(180deg, $white 50%, #e9ecef 50%) !important;
    }
    &:not(:disabled) + label {
      background-color: $white;
    }
  }

  .form-control:focus + .form-control-placeholder,
  .form-control:valid + .form-control-placeholder,
  .form-control:disabled + .form-control-placeholder,
  .form-label-group input:not(:placeholder-shown) ~ label,
  .form-label-group select ~ label {
    color: currentColor;
    transform: none;
    font-size: initial !important;
    margin: initial;
  }

  .btn-primary {
    text-transform: capitalize;
    border-radius: 0;
  }

  .personal-data {
    text-transform: none;
  }
}
