<section class="container-fluid b2b-c-api p-3 p-sm-4 p-md-5">
  <div class="row justify-content-center">
    <div class="col-md-10 container-960">
      <div class="row">
        <div class="col-lg-6 mb-4 mb-lg-0">
          <h3 class="b2b-gl-section-title b2b-gl-h3 mt-3 font-weight-bold dynamic-title">
            <app-dynamic-section [dynamicHtml]="model?.title"></app-dynamic-section>
          </h3>
          <h5 class="b2b-gl-desc b2b-gl-h5 dynamic-body">
            <app-dynamic-section [dynamicHtml]="model?.body"></app-dynamic-section>
          </h5>
        </div>

        <div class="col-lg-6 p-0 b2b-curl-container">
          <code id="b2b-curl" class="b2b-curl">
            <span class="d-block">curl <span class="curl-option curl-no-margin">--include</span> <span class="curl-neutral"> \</span></span>
            <span class="d-block curl-option">--request <span class="curl-method">POST</span> <span class="curl-neutral"> \</span></span>
            <span class="d-block curl-option">--header <span class="curl-string">'Content-Type: application/json'</span> <span class="curl-neutral"> \</span></span>
            <span class="d-block curl-option">--header <span class="curl-string">'Cache-Control: no-cache'</span> <span class="curl-neutral"> \</span></span>
            <span class="d-block curl-option">--url <span class="curl-string">'https://yolo-insurance.com/dashboard/api/v2/users/sign_up'</span><span class="curl-neutral">\</span></span>
            <span class="d-block curl-option">--data <span class="curl-neutral"> '{{ '{' }}</span></span>
            <span class="d-block curl-json">"user"<span class="curl-neutral">: {{ '{' }}</span></span>
            <span class="d-block curl-json-2">"email"<span class="curl-neutral">:</span> "happyuser@yolo-insurance.com"<span class="curl-neutral">,</span></span>
            <span class="d-block curl-json-2">"password"<span class="curl-neutral">:</span> "Pa$$w0rd"<span class="curl-neutral">,</span></span>
            <span class="d-block curl-json-2 curl-double-line">"phone"<span class="curl-neutral">:</span> "1234567890"<span class="curl-neutral">,</span></span>
            <span class="d-block curl-json-2 curl-double-line">"birth_date"<span class="curl-neutral">:</span> "2000-01-01"<span class="curl-neutral">,</span></span>
            <span class="d-block curl-json-2 curl-double-line">"firstname"<span class="curl-neutral">:</span> "Happy"<span class="curl-neutral">,</span></span>
            <span class="d-block curl-json-2 curl-double-line">"lastname"<span class="curl-neutral">:</span> "User"<span class="curl-neutral">,</span></span>
            <span class="d-block curl-json-2 curl-double-line">"personal_data_acceptance"<span class="curl-neutral">:</span> true<span class="curl-neutral"></span></span>
            <span class="d-block curl-json curl-double-line curl-neutral">{{ '}' }}</span>
            <span class="d-block curl-option curl-double-line curl-neutral">{{ '}' }}'</span>
          </code>
        </div>
      </div>
    </div>
  </div>
</section>
