<div class="what-to-know-container" data-cy="what-to-know__container" [ngClass]="data.container_class">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="title" [ngClass]="dataService.tenantInfo.tenant">{{data.title_section}}</h2>
        <div class="what-to-know-description" [innerHTML]="data.text_section"></div>
        <app-dynamic-section class="set-informativo" [dynamicHtml]="data.set_informativo_content" *ngIf="data.set_informativo_content"></app-dynamic-section>
      </div>
    </div>
  </div>
</div>