@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/variables";

.what-to-know-container {
  &.layout-chebanca_db,
  &.layout-ravenna_db,
  &.layout-imola_db,
  &.layout-lucca_db,
  &.ge-bike-plus,
  &.ge-travel-plus,
  &.ge-sport-plus,
  &.ge-holiday-house-plus,
  &.ge-ski-plus,
  &.ge-ski-seasonal-plus,
  &.winter-sport-plus,
  &.winter-sport-premium {
    background-color: $grey-ligth;
    color: $text-color;
    .container {
      margin-left: auto;
      margin-right: auto;
      max-width: 1024px;
      padding: 2rem 1rem;
      @include media-breakpoint-up(xl) {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .title {
      font-size: 28px;
      margin-bottom: 1rem;
      color: $section-title-color;
      font-weight: 700;
      line-height: 29px;
      letter-spacing: normal;
      &.bancapc-it-it_db{
        color: $title-color-dark;
      }
    }
    ::ng-deep {
      .what-to-know-description ul {
        padding-left: 20px;
        color: #4A4A4A;
        font-weight: 400;
      }
      .what-to-know-description p {
        a {
          text-decoration: underline;
        }
      }
      .set-informativo {
        app-tmp-comp {
          flex-wrap: wrap;
          div {
            display: contents;
            &:last-child {
              display: inline-flex;
            }
          }
        }
        a {
          text-decoration: underline;
          font-weight: bolder;
          cursor: pointer;
        }
      }
    }
  }
  &.layout-banca-sella_db{
    &.ge-travel-plus, &.ge-holiday-house-plus{
      .container{
        @media (min-width: 1200px){
          max-width: 1140px !important;
          padding: 2rem 1rem !important;
        }
        @media (min-width: 992px) and (max-width: 1199.5px){
          max-width: 960px !important;
        }
        @media (min-width: 768px) and (max-width: 991.5px){
          max-width: 720px !important;
        }
        @media (min-width: 576px) and (max-width: 767.5px){
          max-width: 540px !important;
        }
      }
    }
  }
}
