<div class="px-3 py-4 px-md-4 py-md-3 modal-content rounded-0">
	<div>
		<div class="d-flex justify-content-end mb-3">
			<div class="pointer mr-4 mr-md-0" aria-label="Close" (click)="activeModal.close()">
				<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M15 1L1 15M15 15L1 1" stroke="black" stroke-width="2"/>
				</svg>
			</div>
		</div>
		<div class="d-md-flex align-items-md-center justify-content-md-between mb-3">
			<div>
				<h6 class="title t-24 font-weight-500 mb-4 mb-md-0">
					Garanzia Bagaglio, effetti personali (Opzionale).
				</h6>
			</div>
			<div class="d-flex t-24 font-weight-500">
			</div>
		</div>
		<div>
			<div>
				<p>In fase di acquisto della garanzia potrai scegliere tra una versione BASE e una versione TOP Sono assicurati: danni materiali e diretti che subisci in caso di furto, furto con scasso, incendio, rapina, scippo, e solo in caso di consegna ad un vettore, smarrimento e/o danneggiamento del tuo bagaglio e/o dei tuoi effetti personali, compresi gli abiti indossati, fino al massimale di Euro 1.000,00 per la versione BASE e di Euro 2.500,00 per la versione TOP acquistabile solo per i viaggi con destinazione Europa e Mondo; le spese per il rifacimento di Carta d’Identità, passaporto e patente in caso di furto, rapina, scippo, o smarrimento degli stessi, fino a Euro 50,00; la ritardata consegna del bagaglio da parte del vettore all’aeroporto di destinazione del viaggio di andata, con più di 12 ore di ritardo relativamente a voli confermati fino ad Euro 100,00.<br>(Per maggiori dettagli si rimanda alla lettura del set informativo).</p>
			</div>
		</div>
	</div>
</div>  