:host ::ng-deep #sci-step-info {
  &.bancapc-it-it_db,
  &.civibank_db,
  &.banco-desio_db {
    .step-title, h3 {
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: bold;
    }
    .step-title + span {
      font-size: 14px;
    }
    .insured-subjects .h5 {
      font-weight: 500;
    }
  }
  &.civibank_db,
  &.banco-desio_db {
    .form-big-checkbox .checkbox:after {
      top: -2px;
      left: 4px;
      width: 25px;
      height: 25px;
      background: url(../../../../../../assets/images/icons/red-checked-icon.svg) no-repeat;
      background-size: contain;
    }
  }
}

