@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/_variables.scss";

.card{
    height: 100%;
    width: 100%;
    z-index: 6;
    position: relative;
    padding: 20px;
}
.card-body{
    padding: 0px;
}
.product-name {
    color: $title-color-dark;
    font-weight: bold;
    font-size: 23px;
    @media (max-width: 767px) and (min-width: 391px){
      font-size: 28px;
    }
    @media (min-width: 373px) and (max-width: 391px){
      font-size: 26px;
    }
    @media (min-width: 372px) and (max-width: 360px) {
      font-size: 24px;
    }
    @media (max-width: 360px){
      font-size: 20px;
    }

}
.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
    padding: 0 5px;
}
.product-icon-box {
    img {
      width: 60px;
      @media (max-width: 400px) {
        width: 50px;
        height: 50px;
      }
    }
}
.product-download{
  line-height: 18.75px;
  margin-bottom: 13px;
  ::ng-deep {
    span {
      p {
        a {
          color: $primary;
          text-decoration: underline;
        }
      }
    }
  }
}
.card-section-title {
    font-size: 14px;
    color:  $title-color-dark;
    font-weight: bold;
    margin-bottom: 6px;
}
.choice {
    margin: 5px 0;
    padding: 0 5px;
}
.description {
    margin-top: 1rem;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.44px;
}
.purchase-text{
    font-size: 1rem;
}
.purchase-price {
    color: $title-color-dark;
    font-size: 1.4rem;
}

.purchase-container{
    max-width: 100%;
    flex: 0 0 100%;
    padding: 10px 5px 16px;
    button:disabled,
    button[disabled] {
      background-color: $primary-light;
    }
}

.btn-purchase {
    color: #fff;
    border: none;
    border-radius: 35px;
    background-color: var(--primary-y, #ccc);
    text-transform: uppercase;
    padding: 9px 28px;
    width: 100%;
    font-size: 18px;
  }

@include media-breakpoint-up(sm) {
    .btn-purchase {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
  @include media-breakpoint-down(sm) {
    .btn-purchase {
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
    }
}

.provider-text {
    font-size: 13px;
  }
.provider-logo {
  height: auto;
  max-height: 40px;
  @media (min-width: 768px) and (max-width: 991px){
    width: 100px;
  }
  @media (max-width: 392px){
    width: 100px;
  }
}

  .package-btn{
    width: inherit;
    line-height: 46px;
    height: 48px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #E2EBF5;
    text-transform: lowercase;
    padding: 0 15px;
    span {
      color: $primary;
      font-size: 18px;
      font-weight: 500;
      white-space: nowrap;
    }
}

.selected{
  background-color: #E2EBF5 !important;
  box-shadow: unset !important;
}

.container-sticky-quotator {
  display: none;
  @media (max-width: 768px) {
      display: block;
      position: fixed;
      bottom: 0;
      left: 0;
      padding: 10px 35px 0px 35px;
      width: 100%;
      height: 95px;
      background-color: $white;
      z-index: 1;
      box-shadow: 0px 0px 53px rgba(0, 0, 0, 0.18);
      text-align: center;
    }
  }

.price-text{
  margin-bottom: 5px;
  color: $primary;
  font-weight: 600;
}
