<div class="card" id="cardQuotator">
  <div class="card-body">

    <div class="row" style="padding-right: 15px;">
      <h1 class="col product-name d-flex align-items-center">{{product[0].title}}</h1>
      <div class="col-auto text-center p-0">
        <div class="product-icon-box">
          <img alt="{{product[0].title}}" class="fp-image" [src]="getSmallImage(product[0].images)">
        </div>
      </div>
    </div>

    <div class="description" [innerHTML]="product[0].description"></div>

    <hr>
    <p class="card-section-title">{{product[0].payment_method}}</p>
      <div class="row" style="padding: 0 10px;">
          <div class="col-6 choice">
              <button class="btn package-btn" [ngClass]="price === 7.5 ? 'selected' : ''" (click)="setPackage(product[0].price / 12)"><span>{{(product[0].price / 12 | currency:'EUR':true:'1.0-1').replace(" ","") + ' ' + product[0].month}}</span></button>
            </div>
            <div class="col-6 choice">
              <button class="btn package-btn" [ngClass]="price === 90 ? 'selected' : ''" (click)="setPackage(product[0].price)"><span>{{(product[0].price | currency:'EUR':true:'1.0-0').replace(" ","") + ' ' + product[0].year}}</span></button>
          </div>
          <div class="purchase-container">
            <button class="btn-purchase" id="submit-test" (click)="checkout()" [disabled]="this.price === null && this.selectedProduct === null">{{product[0].continue}}</button>
          </div>
        </div>
  </div>
  <div class="row">
    <div class="col-12 text-center product-download">
      {{product[0].information_package_text}}
      <span [innerHTML]="product[0].information_package_link"></span>

    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="col-auto provider-text">
      {{product[0].product_collaboration}}
    </div>
    <div class="col-auto text-center">
        <img class="provider-logo" [src]="product[0].provider_logo" [alt]="product[0].provider.name">
    </div>
  </div>
</div>

<div class="container-sticky-quotator" [hidden]="scrollHeight() < 400 || price === undefined || scrollHeight() > hideSticky">
  <div>
    <p class="price-text" *ngIf="price === 90">{{(price | currency:'EUR':true:'1.0-0').replace(" ","") + ' ' + product[0].year}}</p>
    <p class="price-text" *ngIf="price !== 90">{{(price | currency:'EUR':true:'1.0-1').replace(" ","") + ' ' + product[0].month}}</p>
    <button class="btn-purchase mt-0" id="submit-test" (click)="checkout()">
      {{product[0].continue}}
    </button>
  </div>
</div>
