@import '../../../../sass/variables';

::ng-deep.product-found-container{
  overflow: hidden;
}

:host ::ng-deep .product-found-y {
  padding: 3rem;
  background-color: #f1f1f1;
  text-align: center!important;

  h3 {
    color: $section-title-color;
    font: 31px Roboto, sans-serif;
    font-weight: bold;
    margin: 0 0 32px;
  }
  .division{
    border-right: 1px solid $grey;
    opacity: 0.5;
    padding-left: 0.8rem;
    margin-right: 0.8rem;
  }
  .transparent-btn{
    border: 2px solid $primary;
    border-radius: 10px;
    color: $primary;
    margin-top: 1rem;
    width: 180px;
    height: 50px;
    text-transform: uppercase;
    font-weight: 600;
  }
}

.santa-lucia_db{
  &.product-found-container{
    background: $white;

  }
  ::ng-deep{
    .product-found-y {
      margin-bottom:63px;
      background-color: $grey-ligth !important;
      padding: 2.5rem;
      h3{
        color: $primary;
        font-size: 28px;
      }
      p{
        color: $light-black;
        font-size: 16px;
      }
      .btn-animation {
      background-color: $primary;
      border-radius: 0;
      border: none;
      color:  #fff;
      text-transform: capitalize;
        &::after {
          opacity: 0.35;
          background: none;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 0;
          transition: none;
        }
        a{
          padding: 15px 60px;
        }
      }
    }

  }
}
