<section>
  <form [formGroup]="form">
    <div class="form-field-wrapper"
      [ngClass]="{'margin-bottom-error': form.get('taxcode').invalid && form.get('taxcode').touched }">
      <div class="form-field">
        <input type="text" placeholder="{{content?.fiscal_code_placeholder.value}}" formControlName="taxcode">
      </div>
      <span [hidden]="!(form.get('taxcode').invalid && form.get('taxcode').touched)" class="error-message">
        {{content?.fiscal_code.value}}
      </span>
    </div>

    <div class="form-field-wrapper"
      [ngClass]="{'margin-bottom-error': form.get('email').invalid && form.get('email').touched }">
      <div class="form-field">
        <input type="text" placeholder="{{content?.email_placeholder.value}}" formControlName="email">
      </div>
      <span [hidden]="!(form.get('email').invalid && form.get('email').touched)" class="error-message">
        {{content?.email.value}}
      </span>
    </div>

    <div class="form-field-wrapper"
      [ngClass]="{'margin-bottom-error': form.get('phone').invalid && form.get('phone').touched }">
      <div class="form-field">
        <input type="text" placeholder="{{content?.phone_number_placeholder.value}}" formControlName="phone">
      </div>
      <span [hidden]="!(form.get('phone').invalid && form.get('phone').touched)" class="error-message">
        {{content?.phone_number.value}}
      </span>
    </div>
    <div class="date-form-field-wrapper">
      <div class="mat-form-field-form" [ngClass]="{'error-field': form.get('date').invalid
        && form.get('date').touched }">
        <mat-icon matDatepickerToggleIcon (click)="picker.open()">
          <img src="./assets/images/genertel/icon-form-calendar.svg">
        </mat-icon>
        <label for="date">{{content?.date_label.value}}</label>
        <input matInput [matDatepicker]="picker" placeholder="{{content?.date_placeholder.value}}"
          formControlName="date" id="date" (click)="picker.open()">
        <mat-datepicker #picker></mat-datepicker>
      </div>
      <mat-hint [hidden]="!(form.get('date').invalid && form.get('date').touched)" class="error-message">
        {{content?.date.value}}
      </mat-hint>
    </div>
  </form>
</section>

<section class="sub-footer"></section>

<div class="footer">
  <button (click)="findCertificate()" [disabled]="!isFormValid()">
    {{content?.find_btn.value}}
  </button>
</div>