@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/variables";

.btn-toolbar {
  text-align: center;
}
.btn-toolbar.mobile {
  margin-right: -39px;
  margin-left: -39px;
}
.btn {
  @media (max-width: 577px) {
    width: 100%;
  }
}
.btn-primary {
  &.helbiz_db {
    background-color: $primary-dark;
  }
  &.banco-desio_db {
    background-color: $primary-light;
    border: 1px solid $primary;
    color: $primary;
  }
  &.santa-lucia_db {
    text-transform: capitalize;
    border-radius: 0;
    background-color: $primary;
    &:disabled{
      background-color: $gray-border;
    }
  }
}
.multirisk {
  background-color: transparent !important;
  @include media-breakpoint-down(xs) {
      background: transparent !important;
      box-shadow: none!important;
      border-radius: 8px!important;
  }
}
.multirisk-commerce {
  padding: 0;
  @include media-breakpoint-down(xs) {
    position: relative!important;
    width: 100%!important;
    padding-right: 2px !important;
    padding-left: 2px !important;
  }
}

.santa-lucia{
  font-family: $font-family !important;
}
