<ng-container #preventivatoreDynamicHeader></ng-container>
<ng-container #preventivatoreDynamicHero></ng-container>
<ng-container #preventivatoreDynamicBgImgHero></ng-container>
<ng-container #preventivatoreDynamicHowWorks></ng-container>
<ng-container #preventivatoreDynamicForWho></ng-container>
<ng-container #preventivatoreDynamicWhatToKnow></ng-container>
<ng-container #preventivatoreDynamicMoreInfo></ng-container>
<!-- generic containers -->
<ng-container #preventivatoreDynamicComponent1></ng-container>
<ng-container #preventivatoreDynamicComponent2></ng-container>
<ng-container #preventivatoreDynamicComponent3></ng-container>
<ng-container #preventivatoreDynamicComponent4></ng-container>
<ng-container #preventivatoreDynamicComponent5></ng-container>
<ng-container #preventivatoreDynamicComponent6></ng-container>
<ng-container #preventivatoreDynamicComponent7></ng-container>
<ng-container #preventivatoreDynamicComponent8></ng-container>
