@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/variables";

.container {
  padding: 3rem 0rem;
  @media (max-width: 768px) {
    padding: 2rem 1rem;
  }
}

.title-container {
  color: $primary;
  font-size: 35px;
  line-height: 41px;
  margin-bottom: 34px;
  margin-top: 15px;
  text-align: center;
  @media (max-width: 768px) {
    font-size: 28px;
    margin-bottom: 18px;
  }
}

.card-elements {
  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.table-card {
  padding: 10px 10px;
  width: 378px;
  margin-bottom: 26px;
  @media (max-width: 768px) {
    margin-bottom: 0px;
  }
}

.section-title {
  display: flex;
  gap: 8px;
  p {
    color: $primary-dark;
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;
    margin-bottom: 8px;
    @media (max-width: 768px) {
      font-size: 22px;
      line-height: 25px;
    }
  }
  img {
    height: 28px;
    width: 28px;
  }
}


.section-addon {
  display: flex;
  gap: 5px;
  width: auto;
  padding: 0 18px 0 18px;
  background-color: #F5DFBA;
  border-radius: 14px;
  font-size: 16px;
  @media (min-width: 480px) {
    width: 325px;
  }
  @media (min-width: 330px) and (max-width: 370px) {
    font-size: 14px;
  }
  @media (max-width: 329px) {
    font-size: 13px;
  }
  @media (max-width: 1200px) {
    margin-top: 8px;
  }
  img {
    height: 15px;
    margin-top: 5px;
    @media (max-width: 370px) {
      margin-top: 2px;
    }
  }
  p{
    margin-bottom: 0px;
  }
}

.card-content {
  line-height: 19px;
  color: $primary-dark;
  font-size: 16px;
  ::ng-deep {
    p {
      height: 70px;
      @media (max-width: 1200px) {
        height: auto;
      }
    }
  }
}

.more-info {
  display: flex;
  justify-content: center;
  gap: 8px;
  text-align: center;
  @media (max-width: 768px) {
    padding-top: 25px;
  }
  img {
    height: 19px;
    @media (max-width: 768px) {
      display: none;
    }
  }
  ::ng-deep {
    p {
      a, a:hover {
      color: $primary;
      text-decoration: underline;
      @media (max-width: 450px){
        display: block;
      }
    }
  }
 }
}


