@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/_variables.scss";


.modal-header-alert {
    text-transform: capitalize;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

.modal-footer-alert {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);

}

.submit-btn-alert {
    border-radius: 0;
    height: 48px;
    background: #eee;
    background: var(--btn-text-color, #eee);
    color: #ffffff;
    max-width: 500px;
    font-weight: normal;
    cursor: pointer;
    border: none;
    width: 80%;
}

.modal-body-alert {
    background-color: #ffffff;
    overflow: auto;
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}

.modal-content-alert {
    min-width: 400px;
    min-height: 275px;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 0 8px 12px 8px;
}