<section class="container-fluid banner">
  <div class="row">
    <div class="col-12 row hero">
      <h3 class="col-3 text-center offset-1 offset-sm-2 mt-5">L'offerta assicurativa<br>intelligente.</h3>
    </div>
  </div>
</section>

<section class="container-fluid cards">
  <div class="row justify-content-center pt-5 pb-5">
    <div class="col-md-9 row box">
      <div class="col-md-7 row card who no-gutters">
        <div class="col-12 row no-gutters justify-content-center align-items-center">
          <div class="col-lg-3 icon logo"></div>
          <h3 class="col-lg-9 text-md-left order-lg-first">Chi è Yolo?</h3>
          <h4 class="col-12 mt-3">Yolo siamo noi: siamo quelli che ti aiutano a <strong>proteggerti in un modo nuovo, più semplice, più veloce, più conveniente, più adatto a te</strong>.</h4>
        </div>
      </div>

      <div class="col-md-6 row card why no-gutters offset-sm-6 mt-5">
        <div class="col-12 row no-gutters justify-content-center align-items-center">
          <div class="col-lg-3 icon question"></div>
          <h3 class="col-lg-9 text-md-left order-lg-first">Perché dovresti sceglierci?</h3>
          <h4 class="col-12 mt-3">Quando si parla di soluzioni assicurative, viene noia solo a pensarci: polizze costose, rigide, tristi, che non ti fanno sentire protetto... Che barba!</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid whatif blue-gradient">
  <div class="row justify-content-center no-gutters">
    <div class="col-lg-10 row">
      <div class="col-md-3 icon"></div>
      <h3 class="col-md-9 row no-gutters align-items-center">
        <span class="col-12 mt-md-5 text-md-left">E se ti dicessimo che non dev'essere per forza così?</span>
      </h3>
    </div>
  </div>
</section>

<section class="container-fluid slogan">
  <div class="row justify-content-center">
    <div class="col-10">
        <p>
          Pensa a un'<strong>offerta assicurativa nuova e intelligente, flessibile, digitale, on-demand</strong>.<br>
          Pensa a soluzioni che <strong>paghi solo per quello che usi</strong>, che puoi scegliere per proteggere <strong>quello che vuoi, quando vuoi, per quanto vuoi e goderti la vita nella
          massima serenità</strong>.
        </p>
        <p class="mt-5 mb-5">
          <strong>È arrivato il momento di scegliere l’offerta assicurativa intelligente</strong>.
        </p>
        <h5 class="text-center">Yolo: quando vuoi, come vuoi.</h5>
    </div>
  </div>
</section>

<section class="container-fluid credits">
  <header class="row blue-gradient justify-content-center align-items-md-start">
    <h4 class="col-md-10 text-center mt-md-4 mb-0">Yolo nasce grazie a...</h4>
  </header>

  <div class="row founders justify-content-center">
    <div class="col-md-10 row no-gutters justify-content-between">      
      <div class="col-12 col-md row flex-column card justify-content-start">
        <div class="photo simone"></div>
        <div class="flex-column bio no-gutters p-5">        
          <h3 class="text-md-left">Simone Ranucci Brandimarte</h3>
          <h5 class="text-md-left">Co-Fondatore e Presidente</h5>
          <p class="desc mt-4">Presidente del gruppo DigiTouch, già in Multiple Ventures, Goswiff, Glamoo, Buongiorno Spa, Buongiorno Mitsui Asia JV e Andersen Consulting.<br>Ha deciso di mettere la sua esperienza in campo digital al servizio della tua serenità.</p>
        </div>
      </div>

      <div class="col-12 col-md row flex-column card justify-content-start">
        <div class="photo gianluca"></div>
        <div class="flex-column bio no-gutters p-5">        
          <h3 class="text-md-left">Gianluca De Cobelli</h3>
          <h5 class="text-md-left">Co-Fondatore</h5>
          <p class="desc mt-4">Senior Advisor in Reply, già in GE MEdical System, Iconcard, Gruppo CartaSi.<br>Ha deciso di mettere la sua esperienza in campo finanziario al servizio della tua serenità.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row societies justify-content-center mt-5">
    <div class="col-md-10 row no-gutters justify-content-between">
      <div class="col-12 col-md row flex-column card">
        <div class="photo barcamper"></div>
        <div class="flex-column bio no-gutters p-5">        
          <h3 class="text-md-left">Barcamper Ventures</h3>
          <p class="desc mt-4">Fondo comune di investimento (FIA italiano riservato) istituito da Primomiglio SGR e mirato al supporto delle start-up.<br>Ha deciso di investire nella tua serenità.</p>
        </div>
      </div>

      <div class="col-12 col-md row flex-column card">
        <div class="photo mansutti"></div>
        <div class="flex-column bio no-gutters p-5">        
          <h3 class="text-md-left">Mansutti</h3>
          <p class="desc mt-4">Broker assicurativo con corrispondenti nei principali paesi di tutto il mondo.<br>Ha deciso di mettere la sua esperienza in campo assicurativo al servizione della tua serenità.</p>
        </div>
      </div>

      <div class="col-12 col-md row flex-column card">
        <div class="photo miro"></div>
        <div class="flex-column bio no-gutters p-5">        
          <h3 class="text-md-left">Miro Ventures S.R.L.</h3>
          <p class="desc mt-4">Società italiana di investimenti specializzata nel sostegno alle start-up e alle PMI innovative.<br>Ha deciso di mettere la sua esperienza in campo assicurativo al servizione della tua serenità.</p>
        </div>
      </div>
    </div>
  </div>
</section>
