@import "../../../../sass/variables";


::ng-deep.how-works-prev-container {
  padding-top: 4.5rem;
  padding-bottom: 3.5rem;
  overflow: hidden;

  &.intesa_db {
    margin-bottom: -5rem;
    ol {
      z-index: 0;
    }
  } 

  &.intesa-pet_db {
    padding-bottom: 0;
  }

  h1 {
    color: $title-color-dark;
    font: 31px Roboto, sans-serif;
    font-weight: bold;
    margin: 0 0 32px;
  }

  h2 {
    color: $section-title-color;
    margin: 0 0 32px;
  }

  p {
    color: $grey-dark;
    margin: 0 0 16px;
  }

  a,
  a:hover {
    color: $primary-title-color;
    text-decoration: unset;
    cursor: pointer;
  }

  ul {
    margin: 0 0 16px;
    padding: 0 0 0 16px;
    color: $grey-dark;
  }

  em {
    color: $grey-dark;
  }

  .middle-container {
    position: relative;
    top: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
  }

  .wind-card {
    padding: 15px 20px;
    border: 1px solid #cccccc;
    background: white;
    position: relative;
  }

  .offer {
    position: relative;
  }
  .offer.included::before, .offer.times::before {
    font-family: "Font Awesome 5 Free";
    
    font-size: 18px;
    display: block;
    position: absolute;
    font-weight: 900;
    left: -30px;
    top: -3px;
  }
  .offer.included::before {
    content: "\f00c";
    color: $primary;
  }
  .offer.times::before {
    content: "\f00d";
    padding-left: 10px;
    color: $red;

  }
  .cb-options-list {
    .not-bullet {
      list-style-type: none;
      padding: 0 0 0 20px;
      margin-left: 13px;
      line-height: 2;
    }
    .bullet {
      padding: 0 0 0 32px;
      margin-left: 13px;
      line-height: 2;
    }
    .times {
      list-style-type: none;
      line-height: 2;
      color: $grey;
    }
  }

  .offer.not-included {
    color: #999999;
  }

  .offer.not-included:before {
    font-family: "Font Awesome 5 Free";
    color: #999999;
    content: "\f00c";
    font-size: 18px;
    display: block;
    position: absolute;
    font-weight: 900;
    left: -30px;
    top: -3px;
  }

  .link-underlined {
    text-decoration: underline;
    cursor: pointer;
  }

  .w-options-list .title {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: larger;
  }

  .w-options-list ul {
    list-style-type: none;
    padding: 0 0 0 20px;
    margin-left: 13px;
    line-height: 2;
  }

  .w-options-list > ul > li > ul {
    list-style-type: disc;
  }

  .w-options-list .table-right-list {
    margin-top: 33px;
  }

  .ribbon {
    width: 123px;
    height: 123px;
    overflow: hidden;
    position: absolute;
  }
  .ribbon::before,
  .ribbon::after {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    border: 5px solid #2980b9;
  }
  .ribbon span {
    position: absolute;
    display: block;
    width: 210px;
    padding: 5px 0;
    background-color: #ffdc36;
    color: #333;
    font: 700 17px/1 "Din condensed", sans-serif;
    text-transform: uppercase;
    text-align: center;
  }

  /* top right*/
  .ribbon-top-right {
    top: 0px;
    right: 0px;
  }
  .ribbon-top-right::before,
  .ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
  }
  .ribbon-top-right::before {
    top: 0;
    left: 0;
  }
  .ribbon-top-right::after {
    bottom: 0;
    right: 0;
  }
  .ribbon-top-right span {
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
  }
}
