.center-button {
  display: flex;
  justify-content: center;
}

.row{
  @media (min-width:275px) and (max-width:420px){
    margin-left: 0px;
    margin-right: 0px;
    margin-top:15px; 
}
}
.col-lg-1.col-2{
  @media (min-width:275px) and (max-width:420px){
    padding-right: 0px;
    padding-left: 10px;
 }
}
.col-lg-6.col-10{
  @media (min-width:275px) and (max-width:420px){
    padding-left: 5px;
  }
}
.col-lg-5.col-12{
  @media (min-width:275px) and (max-width:420px){
    padding-right: 0px;
    padding-left: 0px;
 }
}