<div class="row-shadowed payment-form-basic paypal" *ngIf="paypalCheckoutAvailable">
  <div>
    <div class="row" [ngClass]="{'justify-content-center': dataService.isTenant('genertel_db')}" 
      (click)="panelCollapsed = !panelCollapsed">
      <div class="col-lg-1 col-2" [ngClass]="{'d-none': dataService.isTenant('genertel_db')}">
        <div class="d-inline-block" *ngIf="panelCollapsed"><i class="fa fa-minus"></i></div>
        <div class="d-inline-block" *ngIf="!panelCollapsed"><i class="fa fa-plus"></i></div>
      </div>
      <div class="col-lg-6 col-10" [ngClass]="{'d-none': dataService.isTenant('genertel_db')}">
        <div class="align-top d-inline-block">{{'checkout.add_paypal' | translate | async}}</div>
      </div>
      <div class="col-lg-5 col-12 text-lg-right text-center">
        <img style="margin-left: 2px; height: 20px;" src="../../../../../../assets/images/payment/paypal-logo.png.png" [hidden]="!panelCollapsed">
        <div class="paypal-button"
          [ngClass]="{'center-button': dataService.isTenant('genertel_db')}" 
          [hidden]="panelCollapsed">
          <div class="d-inline-block" id="paypal-button"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngIf="favouriteChoice && !panelCollapsed">
        <div class="form-big-checkbox">
          <label>
            <input type="checkbox" (click)="changeCheckPaypalDefaultPayment()"
                   class="form-check-input" checked>
              {{ 'checkout.save_default_payment' | translate | async }}
            <span class="checkbox"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
