@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";

@import '~sass/variables';

.navbar-toggler {
  border-color: transparent;
  &:hover, &:focus {
    outline: none;
  }
}
.tertiary{
  .navbar-nav{
    .user-img{
      background-color: $primary !important;
    }
    .logout-img {
      background-color: $primary  !important;
    }
  }
  .nav-item .nav-link span, a {
   color: $primary;
  }
  .user-access {
    padding: 0;
    li a  {
      color: $primary;
    }
  }
  box-shadow: 0px -8px 16px $black;
  background-color: $white;
  &.user{
    @media (min-width: 768px){
    display: none!important;
    }
  }
  .navbar-brand .logo {
    min-width: 130px;
    @include media-breakpoint-up(md) {
      max-width: 150px;
      margin-top: 0.5rem;
    }
  }
  button.navbar-toggler {
    span > i.toggle::after {
      color: $primary;
    }
  }
}
.insurance-logo{
  width: 70%;
  margin-left: 3rem;
  margin-top: 10px;
  @include media-breakpoint-down(md){
    width:25%;
    margin-left: 0;
  }
}

.nav-item .nav-link span, .nav-item a {
  color: $white;
  text-transform: uppercase;
  @include media-breakpoint-up(xl){
    width: max-content;
  }
  &.user {
    padding: 0 0.5rem;
    text-transform: capitalize;
  }
}

.navbar-nav .nav-link.active > span {
  position: relative;
  &::before {
    position: absolute;
    content: '';
    height: 4px;
    bottom: -8px;
    background-color: $primary;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 90%;
  }
}

.navbar-nav .dropdown-menu {
  background-color: transparent;
  border: none;
  .dropdown-item {
    color: $primary;
    cursor: pointer;
    &:hover {
      background-color: transparent;
    }
  }
  @include media-breakpoint-up(md) {
    border: none;
    top: 28px;
    left: -15px;
  }
}



#nav-main {
  height: 72.5px;
  @include media-breakpoint-down(sm){
    & > div {
      padding-right: 0;
    }
  }
  & .navbar-brand {  
    z-index: 999;
    cursor: pointer;
  }
  &.scrolling {
    .navbar-nav .dropdown-menu {
      background-color: $white;
      .dropdown-item a{
        color: $primary;
      }
    }
    .nav-item .nav-link span,
    .nav-item .nav-link.dropdown-toggle::after {
      color: $primary;
    }
    #nav-sub-items {
      color: $btn-text-color;
    }
    button.navbar-toggler {
      span > i.toggle::after {
        color: $primary;
      }
    }
    .user-access {
      li a  {
        color: $primary;
      }
      .user-img,
      .logout-img {
        background-color: $primary;
      }
    }
  }
}
.logo {
  min-width: 160px;
  @include media-breakpoint-up(md) {
    max-width: 200px;
  }
}

#navbar-menu{
  @include media-breakpoint-down(sm){
    min-height: calc(100vh - 60px);
    flex-basis: 100%;
    flex-direction: column;
    align-items: normal;
    background-color: $navbar-background;
    margin-left: -16px;
    margin-right: -16px;
    padding: 0 20px;
  }
}
.navbar-collapse.collapse.show,
.navbar-collapse.collapsing {
  display: flex;
}
#nav-sub-items{
  @include media-breakpoint-down(sm){
    padding-top: 20px;
  }
}

.user-access {
  padding: 20px;
  .navbar-nav .nav-item {
    display: flex;
    align-items: center;
  }

  @include media-breakpoint-down(sm) {
    border-top: 1px solid #555555;
    margin-left: -30px;
    margin-right: -20px;
  }

  .navbar-nav {
    flex-direction: row;
    padding: 0 10px;
    width: 100%;

    .user-img {
      mask-image: url(../../../../../assets/images/icons/account.svg);
      -webkit-mask-image: url(../../../../../assets/images/icons/account.svg);
      mask-position: center;
      -webkit-mask-position: center;
      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat;
      mask-size: auto;
      -webkit-mask-size: auto;
      height: 16px;
      width: 16px;
      background-color: $white;
    }

    .logout-img {
      mask-image: url(../../../../../assets/images/icons/logout.svg);
      -webkit-mask-image: url(../../../../../assets/images/icons/logout.svg);
      mask-position: center;
      -webkit-mask-position: center;
      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat;
      mask-size: auto;
      -webkit-mask-size: auto;
      height: 18px;
      width: 21px;
      background-color: $white;
    }

    @include media-breakpoint-up(md) {
      display: contents;
    }
  }
}

.navbar > .container-fluid {
  width: 100%;
  @include media-breakpoint-down(sm){
    margin: 0;
    padding: 0;
  }
}
button.navbar-toggler {
  span > i.toggle::after {
    content: '\f0c9';
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
    font-style: normal;
    font-size: xx-large;
    margin: 5px;
    text-decoration:none;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  &.open {
    & span > i.toggle::after {
        content: '\f00d';
        transform: rotate(135deg);
    }
  }
}

nav.navbar.ios,
nav.navbar.scrolling.ios,
nav.navbar.secondary.ios,
nav.navbar.secondary.scrolling.ios {
  @include media-breakpoint-down(sm) {
    display: -webkit-box;

    #navbar-menu {
      align-items: initial;
      -webkit-box-align: initial;
      padding: 0 20px;
      padding-bottom: env(safe-area-inset-bottom, 30px);
    }
    .user-access {
      padding: 30px;
      padding-bottom: env(safe-area-inset-bottom, 30px);
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

nav.secondary {
  box-shadow: 0px -8px 16px $black;
  background-color: $white;

  .navbar-brand .logo {
    min-width: 130px;
    @include media-breakpoint-up(md) {
      max-width: 150px;
      margin-top: 0.5rem;
    }
  }
  #navbar-menu {
    & > ul {
      @include media-breakpoint-up(md) {
        display: none;
      }
    }
  }
  button.navbar-toggler {
    span > i.toggle::after {
      color: $primary;
    }
  }
  .user-access {
    li.nav-item {
     display: flex;
    }
    li a  {
      color: $primary;
    }
    .user-img,
    .logout-img {
      background-color: $primary;
    }
    @include media-breakpoint-down(sm) {
      .user-img,
      .logout-img {
        background-color: $white;
      }
      li a {
        color: $white;
      }

    }
  }
}
