@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/variables";

.step-title {
  &.yolo-pmi_db {
    color: black;
    font-size: 1rem !important;
  }
}

.form-control:focus+.real-label {
  transform: translateY(-20px);
  font-size: 12px;
  color: black;
}

.real-label.up {
  transform: translateY(-20px);
  font-size: 12px;
  color: black;
}

#promoCode {
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #004691;
  color: #004691;
}

#applyPromoCode{
  border-radius: 0px;
  border: 1px solid #004691;
}

.apply-promo-code{
  max-width: unset;
}

.promo-code-linear-stepper {

  .section-payment-tim {

    &.tim-broker-employees_db,
    &.tim-broker-customers_db {
      display: none;
    }
  }

  .promo-applied {
    padding-left: 0;
  }

  .title {
    color: $black;
    font-weight: bold;
    margin-bottom: 1rem;

    &.helbiz_db {
      color: $grey;
    }

    &.chebanca_db {
      color: $grey-dark;
      margin-left: 18px;
    }

    &.yolo-for-ski-gold,
    &.yolo-for-ski-platinum {
      color: $black;
    }
  }

  .cb {
    &.chebanca_db {
      border-radius: 5px;
    }
  }

  .tim-promo-container {
    gap: 1rem;

    &.tim-broker-employees_db,
    &.tim-broker-customers_db {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .form-label-group {
    flex-basis: 70%;
    margin-right: 10px;
  }

  .form-label-group>label {
    font-size: 0.9rem;
    padding-left: 5px;
  }

  .form-label-group>input {
    font-size: 0.9rem;
    padding-left: 15px;
    border-color: $grey;
  }

  .basic-outline {
    border-radius: 8px;
    height: 50px;
    padding: 0;
    text-align: center;
    font-size: 0.9rem;
    flex-basis: 30%;

    &.helbiz_db {
      background-color: white !important;
      color: #333 !important;
      border: 1px solid #333 !important;
    }

    &.chebanca_db {
      color: $grey-dark !important;
      border: 1px solid $grey-dark !important;
      border-radius: 40px !important;
    }

    &.banca-sella_db {
      border-radius: 50px;
    }

    &.yolo-for-ski-gold,
    &-yolo-for-ski-platinum {
      border-radius: 40px;
    }
  }
}

.santa-lucia_db {
  .btn-secondary {
    border: 1px solid $primary;
    color: $primary;
    border-radius: 0;
    text-transform: capitalize;
  }

  .step-title {
    text-transform: none;
    color: black;
  }

  .form-label-group>input {
    border-radius: 0;
  }
}
