@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/variables";

.card-content {
    margin-top: 2.5rem;
    h4 {
        @include media-breakpoint-up(lg) {
            font-size: 22px;
            font-weight: 500;
            line-height: 1.2;
        }
        color: $title-color-dark;
        font-size: 22px;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
    .policy-info {
        p {
            font-size: 0.9rem;
            font-weight: bold;
        }
        .status {
            position: relative;
            padding-left: 18px;
            &::before {
                content: "";
                width: 12px;
                height: 12px;
                background-color: #ddd;
                position: absolute;
                border-radius: 50%;
                margin-right: 20px;
                left: 0;
                top: 5px;
            }
            &.active::before {
                background-color: #4caf50 !important;
            }
            &.verified::before,
            &.unverified::before {
                background-color: #f5a623;
            }
            &.active::before {
                background-color: #b8e986;
            }
            &.expired::before,
            &.canceled::before,
            &.suspended::before {
                background-color: #d0021b;
            }
        }
    }
    .pdf-section {
        border-top: 1px solid;
        border-bottom: 1px solid;
        border-color: $grey;
        .certificate {
            padding: 1.2rem 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .fa-file-pdf {
                @include media-breakpoint-up(lg) {
                    color: $title-color-dark;
                    margin-right: 1rem;
                }
                margin-right: 0.5rem;
                color: $primary-dark;
                font-size: 32px;
            }
            a {
                @include media-breakpoint-up(lg) {
                    color: $title-color-dark;
                }
                color: $primary-dark;
                text-decoration: none;
            }
        }
        .survey {
            padding: 1.2rem 0;
            display: flex;
            align-items: center;
            .fa-file-pdf {
                @include media-breakpoint-up(lg) {
                    color: $title-color-dark;
                    margin-right: 1rem;
                }
                margin-right: 0.5rem;
                color: $primary-dark;
                font-size: 32px;
            }
            a {
                @include media-breakpoint-up(lg) {
                    color: $title-color-dark;
                }
                color: $primary-dark;
                text-decoration: none;
            }
        }
    }
}
