@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/variables";
::ng-deep {
    #label-data>p {
        margin-bottom: 0.25rem;
    }
    .card-section-title>p {
        margin-bottom: 0.25rem;
    }
    span>p>a {
        text-decoration: underline;
        color: rgba(74, 144, 226, 1);
    }
    span>p>a {
        text-decoration: underline;
        color: rgba(74, 144, 226, 1);
    }
}

.container {
    .container-benefits {
        padding: 10px;
        border-radius: 8px;
        background: #F5FAFF;
    }
    .label-section {
        color: #495057;
        font-size: 16px;
        font-weight: 400;
    }
    .bg-operator {
        width: 55px;
        height: 42px;
        background-color: #4A90E2;
        position: relative;
        cursor: pointer;
        border: 0;
        outline: none;
        color: $white;
        border-radius: 8px;
        &.disabled {
            background-color: $grey-ligth;
            cursor: not-allowed;
        }
    }
    .quantity-input {
        border-radius: 8px;
        border: 1px solid #979797;
        height: 42px;
    }
    .submit-btn {
        color: white;
        background-color: $primary;
        text-transform: uppercase;
        outline: none;
        border: none;
        border-radius: 40px;
        width: 100%;
        padding: 12px 0;
        &:disabled {
            background: rgba(74, 144, 226, 0.5) !important;
            cursor: not-allowed !important;
            outline: 0;
            border: none;
            border-radius: 40px;
            width: 100%;
            text-align: center;
        }
    }
    .purchase-price {
        font-size: 30px!important;
    }
    .purchase {
        justify-content: space-between;
        align-items: center;
    }
    .input-wrapper input.form-control {
        display: block;
        width: 100%;
        height: 20pt;
        padding: 12px 20px!important;
        font-size: 14px;
        line-height: 20pt;
        background-color: #fff;
        background-clip: padding-box;
        border: none;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        &::placeholder {
            color: #4A4A4A!important;
            font-weight: bold;
        }
    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
    }
}

.img-provider {
    height: 25px;
}

.form-group {
    margin-bottom: 1rem !important;
}

.price-total {
    font-size: 22px;
    font-weight: bold;
}

.arrow-select {
    background-image: url(~assets/images/icons/arrow-y.svg) !important;
    background-size: auto 16px !important;
    background-position: right 16px top 50% !important;
    padding: 16px 12px 0px 12px;
}

.purchase-title {
    text-transform: uppercase;
}

.purchase-price {
    font-size: 1.8em;
    font-weight: 600;
}

.panel-price-purchase-button {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    width: 100%;
}

.btn-continue-floating {
    color: white;
    background-color: var(--primary-y, #ccc);
    text-transform: uppercase;
    outline: none;
    border: none;
    border-radius: 40px;
    width: 187px;
    padding: 12px 0;
}

.purchase-title {
    font-weight: 400;
    margin-right: 8px;
}

.purchase {
    @include media-breakpoint-down(md) {
        .panel-price-purchase-button {
            align-items: center;
        }
        .panel-price-element {
            padding: 0;
        }
        .purchase-title {
            font-size: 0.9em;
            font-weight: 400;
        }
        .purchase-price {
            font-size: 1.4em;
        }
        .btn-continue {
            width: 155px;
        }
    }
}

.floating-div {
    @include media-breakpoint-down(sm) {
        .panel-floating {
            padding-right: 2rem;
        }
        .panel-price-floating {
            margin-right: 0;
        }
        .price_title {
            font-weight: 400;
            font-size: 0.8rem;
        }
        .btn-continue {
            font-size: 14px;
            width: 165px;
        }
    }
}

.panel-floating {
    display: flex;
    align-items: center;
    padding-right: 6rem;
}

.panel-price-floating {
    margin-right: 6rem;
}

@include media-breakpoint-down(md) {
    .package-btn {
        font-size: 14px;
    }
}
.toggle-picker {
  height: 63px;

}
.input-wrapper label {
  font-size: 12px;
  line-height: 16pt;
  letter-spacing: 0.4pt;
  font-weight: 400;
  color: #495057;

}
