@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/variables";


.container-shadow{
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 20px;
  border-radius: 8px;
  padding: 25px !important;
}
.container {
  .label-section {
    color: $black;
    font-size: 16px;
    top: -3px;
  }

  .input-wrapper input.form-control {
    display: block;
    width: 100%;
    height: 20pt;
    padding: 12px 20px !important;
    font-size: 14px;
    line-height: 20pt;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &::placeholder {
      color: #4A4A4A !important;
      font-weight: bold;
    }
  }
}

.form-group {
  margin-bottom: 1.4rem !important;
}

.input-wrapper label {
  font-size: 12px;
  line-height: 16pt;
  letter-spacing: 0.4pt;
  font-weight: 400;
  color: #495057;
  width: 100%;
}

.input-wrapper {
  width: 100%;
  height: 3.188rem;
  padding: 2px;
}

.submit-btn {
  color: white;
  background-color: $primary;
  text-transform: uppercase;
  outline: none;
  border: none;
  border-radius: 40px;
  font-weight: 500;
  width: 31%;
  padding: 12px 0;
  @include media-breakpoint-up(md) {
    width: 31%;
  }
  @include media-breakpoint-up(xs) {
    width: 100%;
  }

  &:disabled {
    background: rgba(74, 144, 226, 0.5) !important;
    cursor: not-allowed !important;
    outline: 0;
    border: none;
    border-radius: 40px;
    width: 31%;
    text-align: center;
    @include media-breakpoint-up(md) {
      width: 31%;
    }
    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }
}

.container-submit-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

select {
  font-size: 16px;
  padding-top: 19px;
}

.arrow-select {
  background: url(~assets/images/icons/arrow_down.svg) no-repeat;
  background-position: calc(100% - 0.75rem) calc(100% - 1.7rem) !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  padding-right: 2rem !important;
  background-size: 17px !important;
  font-weight: 500;
  color: black;
  margin-top: -15px;
}

.field-select {
  position: relative;
}

.field-select__label {
  position: absolute;
  pointer-events: none;
  top: 5px;
  left: 0;
}

.field-select__input {
  padding: 0px 50px 0px 10px;
  margin-top: 9px;
}

.input-wrapper-soft > select {
  height: 51px;
  line-height: 32px;
}

.quote-data {
  margin: 2px 44px 0.8rem 2px;
  color: $primary-dark;
  font-weight: 400;
}

::ng-deep.container {
  @media (min-width: 1200px) {
    max-width: 720px;
  }
}
.container-shadow {
  @include media-breakpoint-down(xs) {
    background-color: #ffffff!important;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.11), 0 3px 6px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
  }
}

.matselect{
  margin-top: 15px;
  padding: 0px 10px;
  .matoption{
    height: auto;
  }
}

.btn-radio{
  display: flex;
  justify-content: space-between;
  width: 100%;
   ::ng-deep {
    label{
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
   }
}

input.input-province {
  width: 100%;
  height: 60%;
  border: none;
  margin-top: 16px;
  padding: 0px 10px;
}

.immagine{
  background: url(/../../../../assets/images/icons/arrow_down.svg) no-repeat;
}

input.input-province:focus {
  outline-color: transparent;
}

.placeholder-form{
  width: 100%;
}
.placeholder-label{
  color: $black;
}
.placeholder-input{
  padding: 0 10px;
  margin-top: 4px;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0px !important;
}

::ng-deep{
  .mat-form-field-appearance-legacy .mat-form-field-underline, .mat-form-field.mat-focused .mat-form-field-ripple, .mat-form-field-ripple {
    background-color: transparent;
    transition: none;
  }
  .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label{
    transform: none;
    color: $black;
  }
  .mat-form-field-label-wrapper{
    top: -33px;
    left: 10px !important;
  }
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: $primary;
  }
  .mat-radio-button.mat-accent .mat-radio-inner-circle{
    color: $primary;
    background-color: $primary;
  }
  .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:rgba(255, 255, 255, 0);
  }
  .mat-autocomplete-panel.mat-autocomplete-visible {
    left: 16px;
    top: -31px;
    border-radius: 4px;
  }

  .mat-form-field-appearance-legacy .mat-form-field-infix{
    height: 46px;
  }

  .mat-select-value {
    margin-top: 15px;
    color: rgba(0,0,0,.87);
  }

  .cdk-overlay-pane  {
    position:absolute;
    pointer-events:auto;
    box-sizing:border-box;
    z-index:1000;
    display:flex;
    max-width:100%;
    max-height:100%;
    transform:none !important;
    margin-top: 36px;
    margin-left: -15px;
  }

  .mat-option{
    .selectLetterColor{
      color: $primary !important;
      font-weight: 700;
      text-decoration: underline;
    }

    .selectLetterColor::first-letter {
      text-transform:capitalize;
    }
  }
  .mat-select-panel::-webkit-scrollbar-thumb{
    box-shadow: inset -0.2rem -0.2rem 0 $primary;
  }
  .styleScrollbar::-webkit-scrollbar {
    width: 2.4rem;
  }
  .styleScrollbar::-webkit-scrollbar-thumb {
    box-shadow: inset -0.2rem -0.2rem 0 $primary;
  }
  .styleScrollbar::-webkit-scrollbar-thumb {
    border: 1.1rem solid transparent;
    min-height: 6rem;
  }
  .styleScrollbar::-webkit-scrollbar-track {
    background: transparent;
    border: 1.1rem solid #0000;
    box-shadow: inset -0.4rem -0.4rem #d3d3d3;
  }
  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0px;
  }
  .mat-radio-label-content{
    color: black;
    z-index: -1;
  }
}

.button{
  background: url(/../../../../assets/images/icons/arrow_down.svg) no-repeat;
  height: 30px;
  width: 30px;
  border: none;
  float: right;
  bottom: 30px;
  position: relative;
  margin-right: 8px;
}
.button:hover{
  cursor: pointer;
}

.anotherInsurance{
  width: 300px !important;
  font-size: 12px;
  border: none;
  background: none;
  position: absolute;
  top: 12px;
  left: 21px;
  cursor: pointer;
}
