@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/_variables.scss";

.modal-header {
    border: 0;
}

.modal-body {
    padding: 0;
}

.modal-body p {
    font-size: 12px;
    width: 90%;
    display: block;
    margin: 0 auto 30px;
}

.close {
    padding: 15px;
    margin: -15px -15px -15px auto;
    border:0;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.modal-header img {
    width: 150px;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: none;
    font-weight: 400;
    color: #218de8;
    font-family: sans-serif;
}


button:focus {outline:0;}

.email-input {
    margin-top: 50px;
    width: 90%;
}

.btn-primary {
    background: #218de8 !important;
    color: #ffffff;
    min-width: 150px;
}

.btn {
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 0px;
    background: transparent;
    padding: 15px;
}

.modal-body .btn-primary {
    height: auto;
    margin-top: 20px;
}

.w-fill {
    width: stretch;
}

.dynamic-link {
  ::ng-deep p {
      display: inline;
  }
}

label {
    left:0;
}

.warning-message {
    color: $warning;
    text-align: right;
    font-size: 12px;
}