<div class="modal-content">
  <div class="modal-header">
    <div class="row w-fill">
      <div class="col-md-12">
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="col-md-12">
        <img class="center-block logo-header-modal" [alt]="dataService.tenantInfo.pageTitle" [src]="logoImage">
      </div>
    </div>

  </div>
  <div class="modal-body">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <br>
          <h3>{{ 'access.reset_password' | translate | async }}</h3>
          <p *ngIf="dataService.tenantInfo.tenant === 'santa-lucia_db'">{{ 'access.how_to_reset_generic' | translate | async }}</p>
          <p *ngIf="dataService.tenantInfo.tenant !== 'santa-lucia_db'">{{ 'access.how_to_reset' | translate | async }}</p>
          <form [formGroup]="forgotForm" (ngSubmit)="sendEmail()">
            <div class="form-group">
              <span class="error-message text-center"></span>
              <span class="message text-center"></span>
              <div class="form-label-group"
              [ngClass]="{'warning-field': forgotForm.controls.email.errors && forgotForm.controls.email.errors.email}">
                  <input id="password-recovery-email"
                         class="form-control"
                         type="email"
                         name="email"
                         email
                         formControlName="email"
                         placeholder="Email"
                         autofocus>
                  <label for="password-recovery-email">{{ 'forms.email' | translate | async }}</label>
                  <div class="warning-message"
            *ngIf="forgotForm.controls.email.errors && forgotForm.controls.email.errors.email">
            {{ 'forms.email_invalid' | translate | async }}
        </div>
                </div>
              <!-- <input id="password-recovery-email" class="text-center email-input" type="email" name="email" ngModel email formControlName="email"
                placeholder="Email" autofocus><br> -->
              <input [disabled]="!this.forgotForm.valid" type="submit" name="commit" value="{{ 'buttons.send' | translate | async }}" class="btn btn-primary btn-xl" data-disable-with="Invia">
            </div>
          </form> <br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p style="font-family: 'Open Sans', sans-serif;">
            <strong>{{ 'access.email_changed' | translate | async }}</strong><br>
            <app-dynamic-section  *ngIf="dataService.tenantInfo.tenant === 'santa-lucia_db'"
            [dynamicHtml]="'access.customer_service_generic' | translate | async" class="dynamic-link"></app-dynamic-section>
            <app-dynamic-section  *ngIf="dataService.tenantInfo.tenant !== 'santa-lucia_db'"
            [dynamicHtml]="'access.customer_service' | translate | async" class="dynamic-link"></app-dynamic-section>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
