<!--<block-ui>-->
<app-preventivatore-kentico *ngIf="dataService.tenantInfo.tenant === 'net-ins-it-it_db'"></app-preventivatore-kentico>
<!-- temporary until complete migration of preventivatore on kentico -->
<div *ngIf="!(dataService.tenantInfo.tenant === 'net-ins-it-it_db')">
<section class="container-fluid position-relative" *ngIf="products && products.length"
[ngClass]="dataService.tenantInfo.tenant">
  <div class="background-color-container" [ngClass]="dataService.tenantInfo.main.layout">

    <div class="row" *ngIf="dataService.tenantProductInfo.section_1 === 'cb'" [ngClass]="getBackgroundDivClass()"
      [ngStyle]="getBackgroundImg()">
      <div class="cb-background-overlay"></div>
    </div>
    <div class="transparent-background" *ngIf="dataService.tenantProductInfo.section_2 === 'net'"></div>

    <div class="row" [ngClass]="dataService.tenantProductInfo.section_1 !== 'cb' && getBackgroundDivClass()"
      [ngStyle]="dataService.tenantProductInfo.section_1 !== 'cb' && getBackgroundImg()">
      <div class="col-12 middle-container" [ngClass]="{ cb: dataService.tenantProductInfo.section_1 === 'cb' }">


        <div class="row">
          <app-preventivatore-header
            [product]="products[0]"
            class="col-md-6 col-sm-11 col-12 px-md-2"
            [ngClass]="getHeaderClass()">
          </app-preventivatore-header>
          <app-configuratore-layout *ngIf="dataService.tenantProductInfo.quotator === 'y'" [products]="products"
            class="col-12 mx-auto" [ngClass]="dataService.tenantInfo.tenant === 'santa-lucia_db'? 'col-sm-12 col-md-12 col-lg-5' : 'col-sm-11 col-md-6 '">
          </app-configuratore-layout>
          <app-configuratore-ct-layout *ngIf="dataService.tenantProductInfo.quotator === 'ct'" [products]="products"
            class="col-md-6 col-sm-11 col-12 mx-auto">
          </app-configuratore-ct-layout>
          <div class="cb-configurator-main-container col-md-6 col-sm-11 col-12 mx-auto px-2">
            <app-configuratore-cb-layout *ngIf="dataService.tenantProductInfo.quotator === 'cb'" [products]="products"
              class="cb-configurator mr-3" id="cb-configurator">
            </app-configuratore-cb-layout>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid" id="preventivatore-section2" [ngClass]="dataService.tenantInfo.main.layout">
  <!-- id used for scrolling -->
  <div class="row">
    <div class="how-works-prev col-12 px-3" id="{{products[0].product_code}}-how-works"
      [ngClass]="dataService.tenantProductInfo.section_2" *ngIf="products && products.length">
      <app-products-breadcrumb *ngIf="dataService.tenantProductInfo.section_2 === 'cb'" [product]="products[0]"
        [crumbs]="[{name: 'Prodotti', route: '/prodotti'}]">
      </app-products-breadcrumb>
      <!-- CONDITION TO HIDE SECTION FOR TENANT IMAGIN -> TODO: INSERT IN  NEW MODAL -->
      <!-- TODO: insert condition usind product name -->
      <app-how-works-prev *ngIf="(dataService.tenantProductInfo.section_2 === 'y' || dataService.tenantProductInfo.section_2 === 'net' || dataService.tenantProductInfo.section_2 === 'int')
      && !dataService.isTenant('imagin-es-es_db')"
        [productInformation]="products[0].product_structure.product_how"></app-how-works-prev>
        <app-how-works-prev *ngIf="(dataService.tenantProductInfo.section_2 === 'y' || dataService.tenantProductInfo.section_2 === 'net' || dataService.tenantProductInfo.section_2 === 'int')
      && dataService.isTenant('imagin-es-es_db') && products[0].product_code !== 'chubb-deporte'"
        [productInformation]="products[0].product_structure.product_how"></app-how-works-prev>
      <app-how-works-table [productInformation]="products[0].product_structure.product_how"
        *ngIf="dataService.tenantProductInfo.section_2 === 'ct'"></app-how-works-table>
      <div class="middle-container pt-5 pb-5"
        *ngIf="dataService.tenantProductInfo.section_2 === 'cb' || dataService.tenantProductInfo.quotator === 'cbx'">

        <app-how-works-cb *ngIf="dataService.tenantProductInfo.section_2 === 'cb'"
          [productInformation]="products[0].product_structure.product_how"></app-how-works-cb>


        <app-configuratore-cb-layout *ngIf="dataService.tenantProductInfo.quotator === 'cbx'" [products]="products">
        </app-configuratore-cb-layout>
      </div>
    </div>

    <div class="what-to-know col-12 px-0" id="{{products[0].product_code}}-what-to-know"
    [ngClass]="dataService.tenantInfo.main.layout" *ngIf="products && products.length">
       <!-- CONDITION TO HIDE SECTION FOR TENANT IMAGIN -> TODO: INSERT IN  NEW MODAL -->
       <!-- TODO: insert condition usind product name -->
      <app-what-to-know-y [productInformation]="products[0].product_structure.product_what" [products]="products"
        *ngIf="dataService.tenantProductInfo.section_3 === 'y' && !dataService.isTenant('imagin-es-es_db')"></app-what-to-know-y>
        <app-what-to-know-y [productInformation]="products[0].product_structure.product_what" [products]="products"
        *ngIf="dataService.tenantProductInfo.section_3 === 'y' && dataService.isTenant('imagin-es-es_db') && products[0].product_code !== 'chubb-deporte'"></app-what-to-know-y>
      <app-what-to-know-ct [productInformation]="products[0].product_structure.product_what"
        *ngIf="dataService.tenantProductInfo.section_3 === 'ct'"></app-what-to-know-ct>
      <app-what-to-know-cb *ngIf="dataService.tenantProductInfo.section_3 === 'cb'"
        [productInformation]="products[0].product_structure.product_what"></app-what-to-know-cb>
    </div>
    <div class="product-faq-container col-12 px-0">
      <app-product-faq [products]="products"></app-product-faq>
    </div>
    <div class="product-found-container col-12 px-3" id="{{products[0].product_code}}-product-found"
   *ngIf="products && products.length && products[0].product_structure.product_found">
      <app-product-found [productInformation]="products[0].product_structure.product_found"></app-product-found>
    </div>
  </div>
</div>

<div class="product-loader-container" *ngIf="!products || !products.length">
  <app-loading [condition]="!products || !products.length"></app-loading>
</div>
</div>
<!--</block-ui>-->