@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/variables";

::ng-deep {
  span > p > a {
    text-decoration: underline;
    color: rgba(74, 144, 226, 1);
  }

  span > p > a {
    text-decoration: underline;
    color: rgba(74, 144, 226, 1);
  }
}

.container {
  .container-benefits {
    padding: 15px;
    border-radius: 8px;
    background: #F5FAFF;
    line-height: 30px;
  }

  .label-section {
    color: #495057;
    font-size: 16px;
    font-weight: 400;
  }

  .submit-btn {
    color: white;
    background-color: $primary;
    text-transform: uppercase;
    outline: none;
    border: none;
    border-radius: 40px;
    width: 100%;
    padding: 14px 0;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 1.125rem;

    &:disabled {
      background: rgba(74, 144, 226, 0.5) !important;
      cursor: not-allowed !important;
      outline: 0;
      border: none;
      border-radius: 40px;
      width: 100%;
      text-align: center;
    }
  }

  .purchase {
    justify-content: space-between;
    align-items: center;
  }

  .input-wrapper input.form-control {
    display: block;
    width: 100%;
    height: 20pt;
    padding: 12px 20px !important;
    font-size: 14px;
    line-height: 20pt;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &::placeholder {
      color: #4A4A4A !important;
      font-weight: bold;
    }
  }
}
.purchase-title {
  font-weight: 400;
  margin-right: 8px;
}

@include media-breakpoint-down(md) {
  .package-btn {
    font-size: 14px;
  }
}

.input-wrapper {
  font-size: 12px;
  line-height: 16pt;
  letter-spacing: 0.4pt;
  font-weight: 400;
  color: rgba(238, 238, 239, 0.71);

}

.icon-multirischi {
  width: 15px;
}

.provider-text {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inf-package {
  font-weight: 500;
  text-align: center;
  color: $primary-dark;
  ::ng-deep a {
    color: $primary;
  }
}

.input {
  border: 0;
  padding: 9px;
  &:focus {
    outline: none;
  }
}

.select-fiscal-code .select-code {
  background-color: transparent;
  border: 1px solid #a4a4a4;
  border-radius: 7px;
  height: 3.1rem;
}
.select-code {
  border: 1px solid red!important;
}
.form-label-group > input > label {
  position: absolute;
  top: 0;
  left: 10px;
  display: block;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  color: $black;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all .1s ease-in-out;
}

.form-label-group > label > input {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: 50px;
}

.label-fiscal-code {
  color: $black;
}

.label-description {
  line-height: 25px;
  color: slategray;
  padding: 4px;
}

.label-product {
  font-weight: bold;
  font-size: 2.125rem;
  margin: 0;
}

.img-provider {
  width: 62px;
}
.form-error {
  font-size: 0.8rem;
  color: $red!important;
}
.form-label-group {
  position: relative;
  margin-bottom: 0.3rem;
}
::ng-deep .container {
    @media (min-width: 1200px) {
      max-width: 1200px!important;
    }
}

.product-image {
  width: 60px;
  padding: 0;
}
