@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/_variables.scss";


.modal-container{
  background-color: $black;
  opacity: 0.8;
  padding: 14px;
  color: $white;
  border-radius: 6px;
  position: absolute;
  bottom: -39rem;
}

.title{
  font-weight: 100;
  font-size: 13px;
  letter-spacing: 1px;
  margin: 0;
}

::ng-deep{
  .modal-content{
    width: 40%!important;
    margin: auto;
    background-color: transparent;
    border: none;
  }
  .modal-backdrop.show{
    opacity: 0;
  }

  @media(min-width:410px) and (max-width:992px) {
    .modal-content{
      width: 70%!important;
      margin: auto;
    }
  }

  @media(max-width:409px) {
    .modal-content{
      width: 80%!important;
      margin: auto;
    }
  }
}

.close_icon{
  cursor: pointer;
}
