<div class="col-12 pre-navbar-section">
  <span *ngFor="let item of preNavbar" class="items-link-page">
    <a href="{{item.link}}">{{item.title}}</a>
  </span>
</div>
<nav class="navbar navbar-expand-lg">
  
    <img [src]="navbarLogo" [alt]="dataService.tenantInfo.pageTitle" class="logo" (click)="goToBaseUrl()">

  <a role="button" class="hamburger-menu" data-toggle="collapse" href="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
  </a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <!-- Non Mobile (MD) Dropdown Menu Items - Prevent collapse -->
      <li *ngFor="let item of menuItems" class="nav-item d-none d-md-block">
        <a class="nav-link" [routerLink]="item.route" routerLinkActive="active">
          {{item.name}}
        </a>
      </li>
      <!-- Mobile (XS-SM) Dropdown Menu Items - Collapse on navigation-->
      <ng-template 
        *ngIf="secondaryNavbar === true; 
          then sidebarMenuNavbar
          else normalNavbar">
      </ng-template>
    </ul>
  </div>
</nav>

<ng-template #normalNavbar>
  <li *ngFor="let item of menuItems" class="nav-item d-block d-md-none" 
  data-toggle="collapse" href="#navbarNav">
    <a class="nav-link" [routerLink]="item.route" routerLinkActive="active">
      {{item.name}}
    </a>
  </li>
  <li class="nav-item user-section" *ngIf="isUserLoggedIn">
    <a routerLink="/private-area/user-details" class="nav-link">
      <img src="/assets/images/icons/account.svg" alt="user-logo">
      {{privateAreaLabel}}
    </a>
  </li>
</ng-template>

<ng-template #sidebarMenuNavbar>
  <li *ngFor="let item of loggedMenuItems" class="nav-item d-md-none"
  data-toggle="collapse" href="#navbarNav" [ngClass]="{'d-none': !item.name}">
    <a class="nav-link" [routerLink]="item.route" routerLinkActive="active">
      {{item.name}}
    </a>
  </li>
  <li class="nav-item user-section d-none d-md-block" *ngIf="isUserLoggedIn">
    <a routerLink="/private-area/user-details" class="nav-link">
      <img src="/assets/images/icons/account.svg" alt="user-logo">
      {{privateAreaLabel}}
    </a>
  </li>
</ng-template>