<div class="container-change-country">
  <div class="container-img-initials-language" (click)="isClickedChoiceCountry = !isClickedChoiceCountry">
    <img class="img-country-navbar" [src]="imgFlagCountryNavbar" alt="flag-country-navbar">
    <div class="initials-language">{{'navbar.navbar_initial_country' | translate | async }}</div>
    <i class="ml-2 fa fa-xs" [ngClass]="!isClickedChoiceCountry ? 'fa-chevron-down' : 'fa-chevron-up'"></i>
  </div>
  <div class="container-choice" [ngClass]="{'hideChoiceCountry' : !isClickedChoiceCountry}">
    <div class="choice-body col-12">
      <p class="title-country-choice">{{'navbar.title_change_country' | translate | async }}
        <span>{{'navbar.name_country' | translate | async }}</span></p>
      <p class="subtitle-country-choice">{{'navbar.navbar_change_country' | translate | async }}</p>
      <p class="text-country-choice">{{'navbar.text_change_country' | translate | async }}</p>
      <div class="country-choice">
        <a *ngFor="let country of countryToChoice" href="{{country.url_country.value}}" target="_self">
          <img class="img-country-choice" [src]="country.img_country.value[0].url" alt="flag-country-to-choice"/>
          <span class="text-country-choice">{{country.text_country.value}}</span>
        </a>
      </div>
    </div>
  </div>
</div>
