@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/variables";

.container-change-country {
  display: flex;
  align-items: center;

  .container-img-initials-language {
    display: flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;

    .img-country-navbar {
      height: 1rem;
      width: auto;
    }

    .initials-language {
      font-size: 0.75rem;
      font-weight: bold;
      margin-left: 10px;

      @include media-breakpoint-down(xs) {
        display: none;
      }
    }

    i {
      @include media-breakpoint-down(xs) {
        display: none;
      }
    }
  }

  .hideChoiceCountry {
    display: none;
  }

  .container-choice {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    color: #000000;
    padding-top: 10rem;
    top: 64px;
    left: 0;
    text-align: -webkit-center;
    z-index: -100;

    @include media-breakpoint-down(lg) {
      padding-top: 3rem;
    }

    .choice-body {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .title-country-choice {
        font-weight: bold;
        font-size: 0.8rem;

        span {
          color: $primary;
        }
      }

      .subtitle-country-choice {
        font-weight: bold;
        text-transform: uppercase;
      }

      .text-country-choice {
        font-size: 0.8rem;
      }

      .country-choice {
        cursor: pointer;
        display: flex;
        justify-content: center;

        a {
          display: flex;
          flex-wrap: wrap;
          margin-left: 2rem;
          margin-right: 2rem;
          justify-content: center;
          align-items: center;

          .img-country-choice {
            height: 2.5rem;
            width: auto;
          }

          .text-country-choice {
            margin-left: 10px;

            @include media-breakpoint-down(xs) {
              margin-left: 0;
              margin-top: 10px;
            }
          }
        }
      }
    }
  }

}

