<ng-container *ngIf="data">
  <div class="row cost-item-container d-md-none" stickyTarget [targetId]="'stepperStickyBar'">
    <div class="col-12 d-flex flex-row justify-content-between">
      <p class="title" data-cy="checkout-cost-item-details__product-name">{{data.product_name}}</p>
      <div *ngIf="data.discount">
        <p class="original-price" data-cy="checkout-cost-item-details__original-price"> {{data.original_price}} </p>
      </div>
    </div>
    <div class="cost-item-content col-12" *ngIf="dataService.product.product_code !== 'net-multirisk-commerce' && dataService.product.product_code !== 'net-multirisk-craft'">
      <div class="info-container">
        <i class="far fa-calendar-alt" [hidden]="dataService.tenantInfo.tenant==='yolo-es-es_db'"></i>
        <div>
          <p data-cy="checkout-cost-item-details__validity-title">{{data.validation_title}}</p>
          <ng-container *ngIf="!hideDate">
            <p *ngIf="!data.activate_from && data?.duration_policy" class="dates" data-cy="checkout-cost-item-details__validity-coverage">{{data?.duration_policy}}</p>
            <p *ngIf="!data.activate_from && !data?.duration_policy" class="dates" data-cy="checkout-cost-item-details__validity-coverage">{{data.policy_startDate}} - {{data.policy_endDate}}</p>
            <p *ngIf="data.activate_from && !data?.duration_policy" class="dates" data-cy="checkout-cost-item-details__validity-coverage">{{data.activate_from}} {{data.policy_startDate}} al {{data.policy_endDate}}</p>
          </ng-container>
          <p data-cy="checkout-cost-item-details__renovation-type">{{data.renovation_type}}</p>
        </div>
      </div>
      <div class="price-content">
        <p data-cy="checkout-cost-item-details__product-title-price" [hidden]="dataService.tenantInfo.tenant==='yolo-es-es_db' || dataService.product.product_code === 'ge-home' " class="price-title">{{data.product_title_price}}</p>
        <span data-cy="checkout-cost-item-details__price" class="price" [hidden]="dataService.product.product_code === 'ge-home'" [ngClass]="dataService.tenantInfo.tenant" *ngIf="!data.hide_payment_price">{{data.price}}<p class="frequency_payment" *ngIf="dataService.tenantInfo.tenant === 'yolo-es-es_db'" [innerHTML]="data.frequenza_pagamento_mefio"></p></span>
        <p data-cy="checkout-cost-item-details__installement-title-price" class="price-title" *ngIf="data.recurrent_installment_title_price">{{data.recurrent_installment_title_price}}</p>
        <p data-cy="checkout-cost-item-details__installment_price" class="price" *ngIf="data.recurrent_installment_price">{{data.recurrent_installment_price}}</p>
        <p data-cy="checkout-cost-item-details__installement-title-price-choice" class="price-title" *ngIf="isPriceForHospitalDesioCivibank"> {{data.price_frequency_annual ?
          data.product_title_price_month : data.product_title_price_annual}}</p>
        <p data-cy="checkout-cost-item-details__installement-title-price-both" class="price-title d-flex flex-column" *ngIf="dataService.product.product_code === 'ge-home'">
          <span *ngIf="data.payment_frequency !== 'Y'"> {{data.product_title_price_month}} </span>
          <span style="font-size: 20px; margin-bottom: 10px;"> {{data.price_frequency_monthly}} </span>
          <span> {{data.product_title_price_annual}} </span>
          <span style="font-size: 20px;"> {{data.price_frequency_annual}} </span>
        </p>

        <button type="button" (click)="isCollapsed = !isCollapsed" [ngClass]="{'open': !isCollapsed}"
          data-cy="checkout-cost-item-details__dropdown-button" [attr.aria-expanded]="!isCollapsed"
          aria-controls="costDetail">
          <img src="/assets/images/icons/arrow-down.svg" alt="">
        </button>
      </div>
    </div>
    <div id="costDetail" [ngbCollapse]="isCollapsed" class="col-12"
      data-cy="checkout-cost-item-details__cost-detail-dropdown">
      <div class="cost-detail-container">
        <i class="far fa-check-square"></i>
        <div *ngIf="!data.const_detail_coverage_options && !dataService.isTenant('yolo-es-es_db')">
          <p data-cy="checkout-cost-item-details__cost-detail-title">{{data.cost_detail_title}}</p>
          <p *ngFor="let item of data.cost_detail_list" [attr.data-cy]="'checkout-cost-item-details' | cy: item:'item'">
            {{item}}</p>
        </div>
        <div *ngIf="data.const_detail_coverage_options
        && (dataService.product.product_code === 'virtualhospital-monthly' || dataService.product.product_code === 'virtualhospital-annual') ">
          <p data-cy="checkout-cost-item-details__cost-detail-title">{{data.cost_detail_title}}</p>
          <p *ngFor="let item of data.const_detail_coverage_options" [attr.data-cy]="'checkout-cost-item-details'">
            <span class="items" [innerHtml]="item.title"> {{item | json}} </span>
          </p>
        </div>
        <div *ngIf="dataService.isTenant('yolo-es-es_db') ">
          <p data-cy="checkout-cost-item-details__cost-detail-title">{{data.cost_detail_title}}</p>
          <li *ngFor="let item of data.cost_detail_by_product.yolomefio" [attr.data-cy]="'checkout-cost-item-details' | cy: item:'item'">
            {{item}}</li>
        </div>
      </div>
    </div>
  </div>
</ng-container>
