@import '../../../../../sass/variables';

.tab-container {
  float: right;
  background: $white;
}

.simulatore {
  width: 100%;
  max-width: 300px;
  margin: 30px auto;
  background: #FFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  padding: 30px;
}

.simulatore .toggle {
  margin-bottom: 20px
}

.error {
  position: absolute;
  top: calc(100% - 11px);
  left: 0;
  width: calc(100% - 5px);
  background-color: #d2082a;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  z-index: 1;
  visibility: hidden
}

.error::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 0;
  width: 0;
  border: 6px solid transparent;
  border-bottom-color: #d2082a
}

.simulator label.toggle {
  display: block;
  flex: 0 0 250px;
  cursor: pointer;
  position: relative;
  height: 40px;
  width: 100%;
  border-radius: 30px;
  background-color: rgba(16,174,255,0.07);
  box-shadow: inset -2px 2px 6px 0 rgba(192,208,225,0.32),0 0 0 4px rgba(16,174,255,0.1)
}

.switch {
  display: block;
  flex: 0 0 250px;
  cursor: pointer;
  position: relative;
  height: 1px;
  width: 100%;
  height: 49px;
  padding: 0 4px;
  margin: auto;
}

.inner-switch {
  border-radius: 30px;
  background-color: #e4eff8;
  height: 40px;
  width: calc(100% - 8px);
  position: absolute;
  top: 4px;
  left: 4px
}

.btn {
  display: inline-block;
  padding: 10px;
  position: relative;
  text-align: center;
  transition: background 600ms ease, color 600ms ease;
  width: 50%;
  height: 40px
}

input[type="radio"].toggle {
  display: none
}

input[type="radio"].toggle+label {
  cursor: pointer;
  min-width: 60px;
  color: #005388
}

input[type="radio"].toggle+label span {
  position: relative;
  z-index: 1
}

input[type="radio"].toggle+label:hover {
  background: none;
  color: #005388
}

input[type="radio"].toggle+label:after {
  background: #005388;
  border-radius: 30px;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 100%;
  z-index: 0;
}

input[type="radio"].toggle.toggle-left+label {
  border-right: 0;
  line-height: 1.2;
}

input[type="radio"].toggle.toggle-left+label:after {
  left: 100%;
}

input[type="radio"].toggle.toggle-right+label {
  margin-left: -5px;
  line-height: 1.2;
}

input[type="radio"].toggle.toggle-right+label:after {
  left: -100%
}

input[type="radio"].toggle:checked+label {
  cursor: default;
  color: #fff;
  transition: color 200ms;
  line-height: 1.2;
}

input[type="radio"].toggle:checked+label:after {
  left: 0;
}

.cnt-input {
  position: relative;
  padding-bottom: 10px;
}

.cnt-input input,.cnt-input select {
  width: 100%;
  font-size: 22px;
  font-size: 1rem;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  border: none;
  border-bottom: 1px solid #005388;
  border-radius: 0;
  text-align: left;
  height: 25px;
}

.cnt-input input {
  color: #005388;
}

.cnt-input label {
  font-size: 12px;
  font-size: .75rem;
  color: #005388;
  text-align: left;
  display: block;
}

.cnt-input select option {
  color: #005388;
}

.cnt-input select [disabled] {
  color: #cccbcf;
}

.form-item__label {
  display: block;
}

.form-item__element {
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  border-radius: 4px;
  border: 1px solid gray;
}

.form-item__element--select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 2em;
  color: #005388;
}

.form-item__element--select:invalid {
  color: #cccbcf;
}

.form-item__element--select [disabled] {
  color: #cccbcf;
}

.form-item__element--select option {
  color: #005388;
}

.select-input {
  position: relative;
}

.select-input::after {
  color: #4a4956;
  font-size: 24px;
  font-size: 1.5rem;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  content: '\f107';
}

.row-submit {
  padding-top: 15px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}

.row-submit button {
  background-color: #83d888;
  border: none;
  color: #fff;
  -webkit-box-shadow: 0 0 0 5px #d9f3db;
  box-shadow: 0 0 0 5px #d9f3db;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  font-size: 15px;
  font-size: .9375rem;
  text-transform: uppercase;
  height: 40px;
  line-height: 40px;
  padding: 0 12px;
  -webkit-transition: all,0.5s;
  -moz-transition: all,0.5s;
  -ms-transition: all,0.5s;
  -o-transition: all,0.5s;
  transition: all,0.5s;
  cursor: pointer;
}

.row-submit button:hover {
  background: #61D286;
  -webkit-box-shadow: 0 0 0 5px #d9f3db,0 0 0 10px rgba(217,243,219,0.5);
  box-shadow: 0 0 0 5px #d9f3db,0 0 0 10px rgba(217,243,219,0.5);
}

.row-submit button:disabled {
  background: #dbf4dd;
  cursor: not-allowed;
}

.row-submit button:focus {
  outline: none;
}

.row-submit .value {
  font-size: 22px;
  font-size: 1rem;
  color: #005388;
}

.table {
  background: #FFF;
  padding: 10px;
}

.header-table,.row-table {
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 10px;
}

.header-table .feature,.row-table .feature {
  width: 60%;
}

.header-table .offer,.row-table .offer {
  width: 18%;
}

.header-table .offer span,.row-table .offer span {
  display: none;
}

main {
  margin-top: 20px;
  padding-bottom: 40px;
}

.header-table .offer {
  text-align: center;
}

.header-table .offer:before {
  content: "";
  background: #005388;
  color: #FFF;
  display: block;
  width: 32px;
  height: 32px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  font-size: 1.25rem;
  margin: 0 auto;
}

.header-table .offer.gold:before {
  content: "G";
}

.header-table .offer.silver:before {
  content: "S";
}

.offer {
  position: relative;
}

.offer.included:before {
  color: #005388;
  content: "\f00c";
  font-size: 14px;
  font-size: .875rem;
  display: block;
}

.offer.not-included:before {
  color: #d2082a;
  content: "\f00d";
  font-size: 14px;
  font-size: .875rem;
  display: block;
}

.body-table .row-table:nth-child(odd) {
  background: #f9f9f9;
}

.body-table .accordion .row-table:nth-child(odd) {
  background: #fff;
}

.body-table .accordion .row-table:nth-child(even) {
  background: #f9f9f9;
}

.accordion {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: all,0.5s;
  -moz-transition: all,0.5s;
  -ms-transition: all,0.5s;
  -o-transition: all,0.5s;
  transition: all,0.5s;
}

.accordion.active {
  max-height: 100%;
  overflow: visible;
  visibility: visible;
}

.toggle-accordion {
  cursor: pointer;
  text-align: center;
  color: #005388;
  text-transform: uppercase;
  font-size: 16px;
  font-size: 1rem;
}

.toggle-accordion .open {
  position: relative;
}

.toggle-accordion .open:after {
  content: "\f107";
  color: #005388;
  font-size: 30px;
  font-size: 1.875rem;
  bottom: 0;
}

.toggle-accordion .close {
  display: none;
  position: relative;
  padding: 30px;
  -webkit-justify-content: center;
  justify-content: center;
}

.toggle-accordion .close:before {
  content: "\f00d";
  color: #005388;
  font-size: 20px;
  font-size: 1.25rem;
  margin-right: 10px;
}

.toggle-accordion.active .open {
  display: none;
}

.toggle-accordion.active .close {
  display: block;
}

.vantaggi {
  text-align: center;
  padding: 0 10px;
}

.vantaggi h2 {
  padding: 30px 0;
  text-transform: uppercase;
  color: #005388;
  font-size: 24px;
  font-size: 1.5rem;
}

.vantaggi h6 {
  font-size: 18px;
  font-size: 1.125rem;
  color: #78d2f7;
  padding-bottom: 10px;
}

.vantaggi li {
  padding-bottom: 40px;
  color: #005388;
  font-size: 16px;
  font-size: 1rem;
}

footer {
  background: #f7f7f7;
  padding: 30px 10px;
  font-size: 14px;
  font-size: .875rem;
}

footer h6 {
  font-size: 16px;
  font-size: 1rem;
  padding-bottom: 15px;
}

footer p {
  line-height: 18px;
}

@media only screen and (min-width: 768px) {
  .logo {
      text-align:left
  }

  .header-table .offer span,.row-table .offer span {
      display: block;
      font-size: 16px;
      font-size: 1rem;
      color: #005388;
      padding-top: 10px
  }

  .header-table .feature,.row-table .feature {
      width: 50%
  }

  .header-table .offer,.row-table .offer {
      width: 23%
  }

  main {
      padding-bottom: 0
  }

  .vantaggi {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap
  }

  .vantaggi h2 {
      width: 100%;
      padding: 30px 70px 40px 70px
  }

  .vantaggi ul {
      width: 47%
  }

  .vantaggi .cnt-img {
      width: 50%;
      position: relative
  }

  .vantaggi .cnt-img img {
      position: absolute;
      bottom: -30px
  }

  .vantaggi li {
      text-align: left;
      padding-bottom: 25px
  }
}

@media only screen and (min-width: 1200px) {
  .vantaggi h2 {
      padding-bottom:70px
  }
}
