@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/variables";
.container {
    padding: 5px;
}

.row-head {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 10px;
    .col-5 {
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 16px;
    }
    .col-7 {
        padding-right: 0px;
        padding-left: 0px;
    }
}

.price-frequency {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    white-space: nowrap;
     ::ng-deep strong {
        font-size: 30px;
        font-weight: 400;
        margin-left: 4px;
    }
}

.frequency_payment {
    color: $grey-dark;
}

.price {
    color: $primary;
    font-size: 30px;
    font-weight: 700;
}

.submit-btn {
    color: white;
    background-color: $primary;
    text-transform: uppercase;
    outline: none;
    border: none;
    border-radius: 40px;
    width: 100%;
    padding: 12px 0;
}

.provider-text {
    font-size: 13px;
    text-align: center;
}

.provider-logo {
    max-height: 24px;
    max-width: 81px;
    margin-left: 8px;
}
