<div class="container">
    <div class="row-head">
        <div class="col-7">
            <div class="price-frequency">
                <div class="price" data-cy="quotator-basic__quotation-price">
                    {{ product.display_price}}
                </div>
                <div class="frequency_payment" *ngIf="product.frequency_payment && dataService.tenantInfo.tenant === 'yolo-es-es_db'" [innerHtml]="product.frequency_payment">
                </div>
            </div>
        </div>
        <div class=" col-5">
            <button class="submit-btn" id="submit-test" (click)="checkout()" [ngClass]="product.color_class" data-cy="quotator-basic__purchase-button">{{product.continue_button_label}}</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 provider-text" data-cy="quotator-basic__collaboration-provider">
            {{product.product_collaboration_mobile}}
            <img [src]="product.provider_logo" [alt]="product.provider.name" data-cy="quotator-basic__image-provider" class="provider-logo">
        </div>
    </div>
</div>