@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";

@import "~sass/variables";

:host ::ng-deep #personal-accident-step-info {
  .step-title {
    text-transform: uppercase;
    font-weight: bold;
    color: $text-color-dark;
  }
  .note {
    color: $grey;
    font-size: medium;
  }
  .small-note {
    color: $grey;
    font-size: small;
    padding-left: 1.5rem;
  }
}