<div id="personal-accident-step-info">
  <div class="row">
    <div class="col-12 py-3">
      <div class="float-right" style="font-size: 12px;"><i>* {{'checkout.required_fields' | translate | async}}</i></div>
      <h3 class="step-title">{{'checkout_pai.card_list.card_personal_accident.title' | translate | async}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-3">
      <h5 class="step-title">{{'checkout_pai.step_insurance_info.first_driver.text' | translate | async}}</h5>
      <p class="note">{{'checkout_pai.step_insurance_info.first_driver_note.text' | translate | async}}</p>
    </div>
  </div>
  <div class="row" [formGroup]="form">
    <div class="col-12 mt-2 mb-2" formArrayName="insuredSubjects"
      *ngFor="let insuredSubject of getFormSubjects().controls; let i = index;">
      <div [formGroupName]="i" class="row">
        <div class="col-12 mb-3">
          <h5 class="step-title">{{'checkout_pai.step_insurance_info.driver.text' | translate | async}} {{i + 2}}</h5>
        </div>
        <div class="col-lg-6 col-12">
          <div class="form-label-group"
            [ngClass]="{'error-field': insuredSubject.controls.firstName && insuredSubject.controls.firstName.invalid && (insuredSubject.controls.firstName.dirty || insuredSubject.controls.firstName.touched) && insuredSubject.controls.firstName.errors && insuredSubject.controls.firstName.errors.required,
                            'warning-field': insuredSubject.controls.firstName && insuredSubject.controls.firstName.invalid && (insuredSubject.controls.firstName.dirty || insuredSubject.controls.firstName.touched) && insuredSubject.controls.firstName.errors && insuredSubject.controls.firstName.errors.pattern}">
            <input class="form-control"
              formControlName="firstName" id="firstName{{i}}"
              [attr.data-cy]="'chekout-step-info' | cy: 'insured-' + (i+1):'first-name'"
              placeholder="{{'FIRSTNAME'| translate | async}}" type="text" required>
            <label for="firstName{{i}}">{{'forms.name' | translate | async}}</label>
            <div
              *ngIf="insuredSubject.controls.firstName && insuredSubject.controls.firstName.invalid && (insuredSubject.controls.firstName.dirty || insuredSubject.controls.firstName.touched)">
              <div class="error-message"
                *ngIf="insuredSubject.controls.firstName.errors && insuredSubject.controls.firstName.errors.required">
                {{ 'forms.mandatory_field' | translate | async }}
              </div>
              <div class="warning-message"
                *ngIf="insuredSubject.controls.firstName.errors && insuredSubject.controls.firstName.errors.pattern">
                {{ 'forms.firstname_invalid' | translate | async }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="form-label-group"
            [ngClass]="{'error-field': insuredSubject.controls.lastName && insuredSubject.controls.lastName.invalid && (insuredSubject.controls.lastName.dirty || insuredSubject.controls.lastName.touched) && insuredSubject.controls.lastName.errors && insuredSubject.controls.lastName.errors.required,
                            'warning-field': insuredSubject.controls.lastName && insuredSubject.controls.lastName.invalid && (insuredSubject.controls.lastName.dirty || insuredSubject.controls.lastName.touched) && insuredSubject.controls.lastName.errors && insuredSubject.controls.lastName.errors.pattern}">
            <input class="form-control"
              formControlName="lastName" id="lastName{{i}}"
              [attr.data-cy]="'chekout-step-info' | cy: 'insured-' + (i+1):'last-name'"
              placeholder="{{'LASTNAME'| translate | async}}" type="text" required>
            <label for="lastName{{i}}">{{'forms.surname' | translate | async}}</label>
            <div
              *ngIf="insuredSubject.controls.lastName && insuredSubject.controls.lastName.invalid && (insuredSubject.controls.lastName.dirty || insuredSubject.controls.lastName.touched)">
              <div class="error-message"
                *ngIf="insuredSubject.controls.lastName.errors && insuredSubject.controls.lastName.errors.required">
                {{ 'forms.mandatory_field' | translate | async}}
              </div>
              <div class="warning-message"
                *ngIf="insuredSubject.controls.lastName.errors && insuredSubject.controls.lastName.errors.pattern">
                {{ 'forms.lastname_invalid' | translate | async }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 small-note">{{'checkout_pai.step_insurance_info.both_drivers_note.text' | translate | async}}</div>
  </div>
</div>