<div class="main">
    <div class="coverage-modal-header">
        <div class="text-container col-11">
            <h2 class="title">{{kenticoContent.coverage.head_modal_title.text.value}}</h2>
        </div>
        <div class="icon-close col-1" (click)="closeModal()">
            <img [src]="kenticoContent.coverage.close_icon.image.value[0].url">
        </div>
    </div>
    <p class="modal-description" *ngIf="dataService.tenantInfo.tenant === 'banca-sella_db'">{{kenticoContent.coverage.subtitle.text.value}}</p>
    <div class="modal-body" *ngIf="dataService.tenantInfo.tenant !== 'banca-sella_db'">
        <h4 class="subtitle">{{kenticoContent.coverage.fascia_1.title.value}}</h4>
        <div class="column">
            <div class="row info-container">
                <div class="col-lg-10 col-8">
                    <ul class="description">
                        <li>{{kenticoContent.coverage.fascia_1.benefit.spese_mediche_fascia_1.description.value}}</li>
                        <li>{{kenticoContent.coverage.fascia_1.benefit.spese_di_trasporto_fascia_1.description.value}}</li>
                        <li>{{kenticoContent.coverage.fascia_1.benefit.visite_mediche_fascia_1.description.value}}</li>
                        <li>{{kenticoContent.coverage.fascia_1.benefit.cure_odontoiatriche_fascia_1.description.value}}</li>
                    </ul>
                </div>
                <div class="col-lg-2 col-4">
                    <div class="row text-price">
                        <p class="text">{{kenticoContent.coverage.fascia_1.benefit.spese_mediche_fascia_1.text.value}}</p>
                        <p class="price">{{kenticoContent.coverage.fascia_1.benefit.spese_mediche_fascia_1.price.value}}</p>
                    </div>
                    <div class="row text-price">
                        <p class="text">{{kenticoContent.coverage.fascia_1.benefit.spese_di_trasporto_fascia_1.text.value}}</p>
                        <p class="price">{{kenticoContent.coverage.fascia_1.benefit.spese_di_trasporto_fascia_1.price.value}}</p>
                    </div>
                    <div class="row text-price">
                        <p class="text">{{kenticoContent.coverage.fascia_1.benefit.visite_mediche_fascia_1.text.value}}</p>
                        <p class="price">{{kenticoContent.coverage.fascia_1.benefit.visite_mediche_fascia_1.price.value}}</p>
                    </div>
                    <div class="row text-price">
                        <p class="text">{{kenticoContent.coverage.fascia_1.benefit.cure_odontoiatriche_fascia_1.text.value}}</p>
                        <p class="price">{{kenticoContent.coverage.fascia_1.benefit.cure_odontoiatriche_fascia_1.price.value}}</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h4 class="subtitle">{{kenticoContent.coverage.fascia_2.title.value}}</h4>
        <div class="column">
            <div class="row info-container">
                <div class="col-lg-10 col-8">
                    <ul class="description">
                        <li>{{kenticoContent.coverage.fascia_2.benefit.spese_mediche_fascia_2.description.value}}</li>
                        <li>{{kenticoContent.coverage.fascia_2.benefit.spese_di_trasporto_fascia_2.description.value}}</li>
                        <li>{{kenticoContent.coverage.fascia_2.benefit.visite_mediche_fascia_2.description.value}}</li>
                        <li>{{kenticoContent.coverage.fascia_2.benefit.cure_odontoiatriche_fascia_2.description.value}}</li>
                    </ul>
                </div>
                <div class="col-lg-2 col-4">
                    <div class="row text-price">
                        <p class="text">{{kenticoContent.coverage.fascia_2.benefit.spese_mediche_fascia_2.text.value}}</p>
                        <p class="price">{{kenticoContent.coverage.fascia_2.benefit.spese_mediche_fascia_2.price.value}}</p>
                    </div>
                    <div class="row text-price">
                        <p class="text">{{kenticoContent.coverage.fascia_2.benefit.spese_di_trasporto_fascia_2.text.value}}</p>
                        <p class="price">{{kenticoContent.coverage.fascia_2.benefit.spese_di_trasporto_fascia_2.price.value}}</p>
                    </div>
                    <div class="row text-price">
                        <p class="text">{{kenticoContent.coverage.fascia_2.benefit.visite_mediche_fascia_2.text.value}}</p>
                        <p class="price">{{kenticoContent.coverage.fascia_2.benefit.visite_mediche_fascia_2.price.value}}</p>
                    </div>
                    <div class="row text-price">
                        <p class="text">{{kenticoContent.coverage.fascia_2.benefit.cure_odontoiatriche_fascia_2.text.value}}</p>
                        <p class="price">{{kenticoContent.coverage.fascia_2.benefit.cure_odontoiatriche_fascia_2.price.value}}</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h4 class="subtitle">{{kenticoContent.coverage.fascia_3.title.value}}</h4>
        <div class="column">
            <div class="row info-container">
                <div class="col-lg-10 col-8">
                    <ul class="description">
                        <li>{{kenticoContent.coverage.fascia_3.benefit.spese_mediche_fascia_3.description.value}}</li>
                        <li>{{kenticoContent.coverage.fascia_3.benefit.spese_di_trasporto_fascia_3.description.value}}</li>
                        <li>{{kenticoContent.coverage.fascia_3.benefit.visite_mediche_fascia_3.description.value}}</li>
                        <li>{{kenticoContent.coverage.fascia_3.benefit.cure_odontoiatriche_fascia_3.description.value}}</li>
                    </ul>
                </div>
                <div class="col-lg-2 col-4">
                    <div class="row text-price">
                        <p class="text">{{kenticoContent.coverage.fascia_3.benefit.spese_mediche_fascia_3.text.value}}</p>
                        <p class="price">{{kenticoContent.coverage.fascia_3.benefit.spese_mediche_fascia_3.price.value}}</p>
                    </div>
                    <div class="row text-price">
                        <p class="text">{{kenticoContent.coverage.fascia_3.benefit.spese_di_trasporto_fascia_3.text.value}}</p>
                        <p class="price">{{kenticoContent.coverage.fascia_3.benefit.spese_di_trasporto_fascia_3.price.value}}</p>
                    </div>
                    <div class="row text-price">
                        <p class="text">{{kenticoContent.coverage.fascia_3.benefit.visite_mediche_fascia_3.text.value}}</p>
                        <p class="price">{{kenticoContent.coverage.fascia_3.benefit.visite_mediche_fascia_3.price.value}}</p>
                    </div>
                    <div class="row text-price">
                        <p class="text">{{kenticoContent.coverage.fascia_3.benefit.cure_odontoiatriche_fascia_3.text.value}}</p>
                        <p class="price">{{kenticoContent.coverage.fascia_3.benefit.cure_odontoiatriche_fascia_3.price.value}}</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h4 class="subtitle">{{kenticoContent.coverage.fascia_4_usa.title.value}}</h4>
        <div class="column">
            <div class="row info-container">
                <div class="col-lg-10 col-8">
                    <ul class="description">
                        <li>{{kenticoContent.coverage.fascia_4_usa.benefit.spese_mediche_fascia4.description.value}}</li>
                        <li>{{kenticoContent.coverage.fascia_4_usa.benefit.spese_di_trasporto_fascia4.description.value}}</li>
                        <li>{{kenticoContent.coverage.fascia_4_usa.benefit.visite_mediche_fascia4.description.value}}</li>
                        <li>{{kenticoContent.coverage.fascia_4_usa.benefit.cure_odontoiatriche_fascia4.description.value}}</li>
                    </ul>
                </div>
                <div class="col-lg-2 col-4">
                    <div class="row text-price">
                        <p class="text">{{kenticoContent.coverage.fascia_4_usa.benefit.spese_mediche_fascia4.text.value}}</p>
                        <p class="price">{{kenticoContent.coverage.fascia_4_usa.benefit.spese_mediche_fascia4.price.value}}</p>
                    </div>
                    <div class="row text-price">
                        <p class="text">{{kenticoContent.coverage.fascia_4_usa.benefit.spese_di_trasporto_fascia4.text.value}}</p>
                        <p class="price">{{kenticoContent.coverage.fascia_4_usa.benefit.spese_di_trasporto_fascia4.price.value}}</p>
                    </div>
                    <div class="row text-price">
                        <p class="text">{{kenticoContent.coverage.fascia_4_usa.benefit.visite_mediche_fascia4.text.value}}</p>
                        <p class="price">{{kenticoContent.coverage.fascia_4_usa.benefit.visite_mediche_fascia4.price.value}}</p>
                    </div>
                    <div class="row text-price">
                        <p class="text">{{kenticoContent.coverage.fascia_4_usa.benefit.cure_odontoiatriche_fascia4.text.value}}</p>
                        <p class="price">{{kenticoContent.coverage.fascia_4_usa.benefit.cure_odontoiatriche_fascia4.price.value}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body" *ngIf="dataService.tenantInfo.tenant === 'banca-sella_db'">
      <h4 class="subtitle">{{kenticoContent.coverage.protezione_viaggio_plus.name.value}}</h4>
        <div class="column">
            <div class="row info-container">
                <div class="col-lg-2 col-4 container-price">
                  <ul class="description-sella">
                    <li><span class="text-colored">{{kenticoContent.coverage.protezione_viaggio_plus.price1.value}}</span></li>
                    <li><span class="text-colored">{{kenticoContent.coverage.protezione_viaggio_plus.price2.value}}</span></li>
                    <li><span class="text-colored">{{kenticoContent.coverage.protezione_viaggio_plus.price3.value}}</span></li>
                  </ul>
                </div>
                <div class="col-4 col-lg-10 col-8">
                    <div class="row container-values">
                        <p class="text col-12">{{kenticoContent.coverage.per_i_viaggi_in_europa.text.value}}</p>
                        <p class="text col-12">{{kenticoContent.coverage.per_i_viaggi_in_usa_e_canada.text.value}}</p>
                        <p class="text col-12">{{kenticoContent.coverage.per_i_viaggi_nel_resto_del_mondo.text.value}}</p>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="subtitle">{{kenticoContent.coverage.protezione_viaggio_premium.name.value}}</h4>
        <div class="column">
            <div class="row info-container">
                <div class="col-lg-2 col-4 container-price">
                  <ul class="description-sella">
                    <li><span class="text-colored">{{kenticoContent.coverage.protezione_viaggio_premium.price1.value}}</span></li>
                    <li><span class="text-colored">{{kenticoContent.coverage.protezione_viaggio_premium.price2.value}}</span></li>
                    <li><span class="text-colored">{{kenticoContent.coverage.protezione_viaggio_premium.price3.value}}</span></li>
                  </ul>
                </div>
                <div class="col-4 col-lg-10 col-8">
                    <div class="row container-values">
                        <p class="text col-12">{{kenticoContent.coverage.per_i_viaggi_in_europa.text.value}}</p>
                        <p class="text col-12">{{kenticoContent.coverage.per_i_viaggi_in_usa_e_canada.text.value}}</p>
                        <p class="text col-12">{{kenticoContent.coverage.per_i_viaggi_nel_resto_del_mondo.text.value}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
