@import '../../../../sass/variables';

.cart-list{
  font-size: 16px;
  li.cost-item-2 {
    position: relative;
    top: 15px;
    border-top: 1px solid $grey-ligth;
    padding-top: 1rem;
    color: $grey-dark;
    font-size: 22px;
    font-weight: bold;
    .cost{
      color: $primary;
    }
  }
  & .description {
    margin-bottom: 1rem;
  }
}
.step-title{
  margin-bottom: 2rem;
}

.taxes-included {
  font-size: 16px;
  float: right;
}

//travelpack
.addons-list{
  font-size: 16px;
  .cost-item-2 {
    position: relative;
    top: 15px;
    border-top: 1px solid $grey-ligth;
    padding-top: 1rem;
    color: $grey-dark;
    font-size: 22px;
    font-weight: bold;
    .cost{
      color: $primary;
    }
  }
  & .description {
    margin-bottom: 1rem;
  }
}
.santa-lucia_db{
  font-family: $font-family !important;
  .step-title{
    text-transform: none;
    color: $primary-extra-dark;
  }
  .cost:first-child {
    color: $light-black;
  }
  .description{
    color: $light-black;
  }
  .alert-success {
    background-color: #edd4d4;
    color: #6a1818;
    border-color: $red;
  }
}
