@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/_variables.scss";
.container-box {
    border: 1px solid lightgrey;
    overflow: hidden;
    .circle-card {
        border-radius: 50%;
        overflow: hidden;
        border: 4rem $secondary solid;
        opacity: 43%;
        position: absolute;
        z-index: 0;
        top: -3rem;
        left: -2rem;
    }
}

.title {
    font-weight: bold;
    color: $primary-dark;
}

.tab-title {
    color: $primary-dark;
}

.tab-subtitle {
    color: $primary;
    font-size: 13px;
    .detail {
        cursor: pointer;
    }
}

.price {
    font-weight: bold;
    color: $primary;
    font-size: 25px;
}

hr {
    width: 80%;
}

.list-container {
    left: 19px;
    width: 220px;
}

.proposals {
    .top-button {
        width: 200px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(157, 157, 157, 0.1) 100%);
        border: transparent;
        outline: 0;
        position: absolute;
        z-index: 999;
        width: 239px;
    }
    .bottom-button {
        width: 200px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(157, 157, 157, 0.1) 100%);
        border: transparent;
        outline: 0;
        position: absolute;
        z-index: 999;
        top: 369px;
        width: 239px;
    }
    hr {
        margin-top: 5px;
    }
}

.down-button-section {
    .bottom-button {
        width: 200px;
        background: transparent;
        border: transparent;
        outline: 0;
        position: absolute;
        z-index: 999;
    }
}

.submit-btn {
    color: white;
    text-transform: uppercase;
    outline: 0;
    border: none;
    border-radius: 40px;
    width: 100%;
    padding: 12px 0;
    &.edit {
        background-color: $primary;
    }
    &.buy {
        background-color: white;
        color: $primary;
        border: 1.5px solid $primary;
    }
}

li.primary-item {
    list-style-type: none;
    position: relative;
    font-size: 14px;
}

.list-group {
    max-height: 300px;
    margin-bottom: 10px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

::ng-deep {
    @media (max-width: 767px) {
        .modal-dialog {
            bottom: 0;
            position: fixed !important;
            width: 100%; 
            top: auto;
            margin: 0;
        }
    }

}
