
<div class="modal-header">
  <div class="text-container">
    <div class="col-auto title">
      <h6>{{proposal.title}}</h6>
      <span>{{proposal.subtitle}}</span>
    </div>
    <div class="d-flex period-container">
      <div class="col-auto price">
        <span><b>{{proposal.price | currency}}</b></span>
      </div>
      <div class="period">
        <span>{{proposal.period}}</span>
      </div>
    </div>
  </div>
  <div class="close-button" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true" class="close-img">
      <img [src]="proposal.modal[0].close_icon">
    </span>
  </div>
</div>
<div class="modal-body">
  <ng-container *ngFor="let warranty of selectedPack; let i = index">
    <ng-container *ngIf="warranty.included">
      <div class="accordion">
        <a href="#collapseExample-{{i}}" data-toggle="collapse">
          <div class="accordion-title">
            <div class="addon-name">
              <h3 class="section-title">{{warranty.name}}</h3>
            </div>
            <i class="fa fa-chevron-down"></i>
          </div>
        </a>
        <div *ngFor="let coverage of proposal.modal[0].coverages">
          <span *ngIf="warranty.name === coverage.title" id="collapseExample-{{i}}" class="collapse description"
            [innerHTML]="coverage.description">
          </span>
        </div>
      </div>
      <div [id]="'collapseExample-' + i" class="collapse description">
         <div *ngIf="!warranty.isCollapsed">
          <p>La garanzia opera con i seguenti massimali:</p>
          <ul>
            <li>Interventi chirurgici e ricoveri 1.500€ per anno assicurativo</li>
            <li>Spese funerarie 100€</li>
            <li>Spese di ricerca per ritrovamento 500€ per anno assicurativo</li>
          </ul>
          <p>Per queste garanzie sono previste le seguenti franchigie:</p>
          <ul>
            <li>Interventi chirurgici e ricoveri scoperto del 20% con minimo non indennizzabile di 200€</li>
            <li>Spese funerarie non è prevista alcuna franchigia</li>
            <li>Spese di ricerca per ritrovamento sono escluse le spese per ricompensa</li>
          </ul>
        </div>
      </div>
      <hr>
    </ng-container>
  </ng-container>
</div>
<div class="modal-footer">
  <div class="row buttons">
    <div class="col-12 col-lg-4">
      <button class="submit-btn back" (click)="activeModal.close()">{{proposal.modal[0].forward_button}}</button>
    </div>
    <div class="col-12 col-lg-4">
      <button class="submit-btn buy" (click)="activeModal.close('buy')">{{proposal.modal[0].buy_button}}</button>
    </div>
  </div>
</div>
