<div class="how-works-table-container" id="advantages" [ngClass]="data.container_class">
    <div class="container">
        <div class="row text-container">
            <h2 class="title" [innerHTML]="data.title"></h2>
        </div>
        <div class="table-cards-container">
            <div *ngFor="let card of data.cards">
                <div class="table-card">
                    <div class="card-top">
                        <p class="card-title">{{ card.title}}</p>
                    </div>
                    <div class="card-center">
                        <p class="subtitle">{{ card.subtitle}}</p>
                        <div class="list" [innerHTML]="card.advantage_list"></div>
                    </div>
                    <hr>
                    <div class="card-bottom">
                        <div class="line"></div>
                        <p class="reembolso">{{ card.reembolso}}</p>
                        <p class="price">{{ card.price}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-container">
            <div class="more_information" [innerHTML]="data.more_information"></div>
        </div>
    </div>
</div>