@import "../../../../../../sass/_variables.scss";

.btn{
  background-color: $primary;
  border-radius: 5px;
}
.success-image {
  color: unset!important;
  display: block;
  font-size: 5em!important;
}
