@import "../../../../sass/variables";

.icon {
  width: 100%;
  height: 10vw;
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
  &.goods {
    background-image: url(../../../../assets/images/icons/digitals.png);
  }
  &.health {
    background-image: url(../../../../assets/images/icons/ambulance.png);
  }
  &.travel {
    background-image: url(../../../../assets/images/icons/wonders.png);
  }
  &.people {
    background-image: url(../../../../assets/images/icons/partypeople.png);
  }
}

h4 {
  text-transform: uppercase;
  color: $primary;
  font-size: 30px;
}

.label-prodotti {
  font-size: 34px;
  margin: 0 0 1em 2em;
  display: inline-flex;
}

.filter-view-container,
.partner-container {
  background-color: #f1f1f1;
  padding-bottom: 4rem;
}

.yolo-numbers-container {
  color: $title-color-dark;
  background-color: $grey-ligth !important;
  background: $gradient;
  background-size: 100% 85%;
  background-repeat: no-repeat;
}

.title {
  font-size: 32px;
  color: $title-color-dark;
  text-align: center;
  font-family: "din";
  font-weight: bold;
}
.cb,
.title {
  font-size: 34px;
  color: $title-color-dark;
  text-align: center;
  font-family: "din";
  font-weight: bold;
  .subtitle {
    color: #4a4a4a;
    font-size: 18px;
    text-align: center;
    margin: 20px auto 40px;
    font-family: "din";
    font-weight: normal;
  }
  ::ng-deep .subtitle > p {
    font-weight: 430;
  }
  ::ng-deep .subtitle > p > strong {
    font-weight: bold;
    color: $black;
  }
}

.subtitle {
  color: #333333;
  font-size: 18px;
  text-align: center;
  margin: 20px auto 40px;
  font-family: "din";
}

.background.pc {
  background-color: $primary-light;
  .title,
  .subtitle {
    color: $text-color;
    font-family: inherit;
  }
}

.background.cvb {
  .title {
    color: $text-color;
    font-family: "HK Grotesk";
  }
  .subtitle {
    font-family: inherit;
  }
}

.background-how.cvb {
  background-color: $grey;
}

.background-how.pc {
  background-color: #d1d1d1;
}

.background.ls {
  padding-top: 0 !important;
}

:host::ng-deep .fca {
  .header-container {
    background: $gradient;
    padding-bottom: 6rem;
  }
}

.image-txt {
  display: flex;
  justify-content: center;
  padding: 6rem 1rem 1rem 1rem;
  img {
    max-width: 359px;
    max-height: 136px;
  }
  &.helbiz_db {
    display: none;
  }
}

.txt {
  display: none;
  &.helbiz_db {
    display: inherit;
    text-align: center;
    padding: 7rem 1rem 1rem 1rem;
  }
}

.more-info-container {
  background-color: $grey;
  .title {
    color: $primary-dark;
    font-family: "HK Grotesk";
  }
  .outline-btn {
    color: $primary;
    background-color: $primary-light;
    border-radius: 0;
    border: 1px solid $primary;
  }
  .more-info-content {
    .title {
      color: $primary-dark;
      font-family: "HK Grotesk";
      font-size: 1.3rem;
      font-weight: bold;
      margin-bottom: 5px;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    // @include media-breakpoint-down(md){
    //   text-align: center;
    // }
    p {
      font-size: 0.9rem;
      margin-bottom: 1.5rem;
    }
    // .title {
    //   color: $primary;
    //   font-size: 1.3rem;
    //   font-weight: bold;
    //   margin-bottom: 5px;
    // }
    .outline-btn {
      color: $primary;
      background-color: $primary-light;
      border-radius: 0;
      border: 1px solid $primary;
      text-transform: uppercase;
      outline: none;
      width: 100%;
      padding: 12px 0;
      max-width: 230px;
      font-weight: bold;
      font-size: 1.2rem;
      text-align: center;
    }
  }
}
