.row-shadowed {
  margin-right: 0px;
  margin-left: 0px;
}

.recap-auto-proposal {
  padding: 1.5rem 0.7rem;
  h3 {
    text-transform: uppercase;
    font-size: 1.3rem;
  }
}

.info-container {
  flex-direction: row;
  display: flex;
  .info {
    margin-top: 1rem;
    @media (min-device-width: 768px) and (max-device-width: 1024px) {
      align-self: center;
    }
    span {
      margin-right: 0.5rem;
    }
  }
}

.customized-img {
  img {
    width: 40px;
    margin-right: 1rem;
    object-fit: contain;
  }
}

.proposals-img {
  img {
    width: 60px;
    margin-right: 1rem;
    object-fit: contain;
  }
  &.chebanca_db {
    img {
      width: 80px;
    }
  }
}

.recap-auto-proposal {
  &.chebanca_db {
    display: none;
  }
}
