<div class="d-flex justify-content-right main-content-why-ensure">
  <div class="background-overlay"></div>
  <div class="why-to-ensure">
    <h3 class="title-why-ensure">
      Assicurati <br> con chebanca!
      <hr class="why-ensure-line">
    </h3>
    <h5 class="discover-why-ensure mt-2">
      Scopri subit l'importanza <br>di essere assicurati
    </h5>
  </div>
</div>
<div class="my-offset why-ensure-container">
  <div class="row">
    <h4 class="title-reasons">Perchè mi assicuro</h4>
  </div>
  <div class="row reason">
    <p class="reason-title">
      <strong>
        Mi assicuro per essere coperto con la garanzia Responsabilità Civile:
      </strong>
    </p>
    <p>
      La compagnia risarcisce all'Assicurato le somme che questi sia tenuto a pagare quale civilmente responsabile ai
      sensi di Legge, a Titolo di risarcimenti (capitale, interessi e spese) per danni involontariamente cagionati a
      terzi in conseguenza di un fatto accidentale verificatosi durante il viaggio.
    </p>
  </div>

  <div class="row reason">
    <p class="reason-title">
      <strong>
        Mi assicuro per essere coperto con la garanzia Assistenza Legale:
      </strong>
    </p>
    <p>
      La compagnia fornisce all'Assicurato l'assistenza stragiudiziale e giudiziale necessaria alla sua tutela in sede
      civile e penale, in ogni stato e grado, in relazione al risarcimento dei danni da lui subiti nel corso del viaggio
      per responsabilità extracontrattuale di terzi, derivante da fatti volontari o involontari
    </p>
  </div>

  <div class="row reason">
    <p class="reason-title">
      <strong>
        Mi assicuro per essere coperto con la garanzia Infortuni del Conducente:
      </strong>
    </p>
    <p>
      La Compagnia garantisce l'indennizzo, entro i limiti stabiliti, degli infortuni subiti dal legittimo conducente
      del veicolo assicurato a seguito di un incidente stradale con colpa. La garanzia opera anche nel caso in cui il
      conducente non abbia causato l'incidente ma, pur avendo agito nelle sedi competenti, non ottiene alcun
      risarcimento
    </p>
  </div>

  <div class="row reason">
    <p class="reason-title">
      <strong> Mi assicuro per essere coperto con la garanzia Rischio Locativo o la garanzia Rischio del Locatario:
      </strong>
    </p>
    <p>
      La garanzia "Rischio Locativo" è la copertura assicurativa di responsabilità civile che grava sul locatario per i
      danni materiali e diretti subiti dall'immobile in locazione, in conseguenza di eventi che colpiscano l'immobile
      locato. La garanzia <strong>"Rischio del Locatario"</strong>, detta anche <strong>"Responsabilità del
        Locatore"</strong>, consente di risarcire solamente i danni diretti e materiali causati ai beni mobili dei
      locatori del fabbricato assicurato con polizza incendio stipulata dal locatore
    </p>
  </div>

  <div class="row discover-button">
    <button class="btn btn-primary">Scopri la nostra offerta</button>
  </div>

</div>