<div class="modal-body pl-3">
  <h3 class="modal-title text-center">
    <img [src]="cancelationImage">
    <div class="mt-3">{{'private_area.cancelation_success' | translate | async }}</div>
  </h3>
  <div class="mt-3 mb-3 text-center">
    <p>{{'private_area.cancelation_success_civibank_part_1' | translate | async }} {{productName}}
      {{'private_area.cancelation_success_civibank_part_2' | translate | async }} <strong>{{expirationDate}}</strong>
      {{'private_area.cancelation_success_civibank_part_3' | translate | async }}</p>
  </div>
</div>
<div class="modal-footer justify-content-center">
  <button type="button" class="col-4 btn btn-ok" (click)="this.activeModal.dismiss()"
          [ngClass]="dataService.tenantInfo.tenant">{{'buttons.ok' | translate | async }}</button>
</div>
