@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/variables";

.support-header-container {
  
  .header-section {
    background-color: $primary;
    padding: 3rem 0 0 0;

    @include media-breakpoint-up(lg) {
      padding: 3rem 0 0 5rem;
    }

    h1 {
      font-size: 2.4rem;
      color: $white;
      font-weight: bold;
      line-height: normal;

      @include media-breakpoint-down(md) {
        font-size: 2rem;
      }
    }

    h2 {
      font-size: 1.2rem;
      color: $white;
      font-weight: normal;
      line-height: normal;

      @include media-breakpoint-down(md) {
        font-size: 1rem;
      }
    }
  }
}
