@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/variables";

.hero{
  height:100%;
  background-color: #4a90e2;
  color: #fff;
  position: relative;

  h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -2rem;
    &::ng-deep{
      h2{
        margin-bottom: 0!important;
      }
    }
  }

  .nav_sections{
    width: 100%;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    /* Hide scrollbar for Chrome, Safari and Opera */
    margin-top: 6rem;
    &::-webkit-scrollbar {
        display: none;
    }
    gap: 1em;
    position: relative;
    bottom: -3em;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background-color: white !important;
    box-shadow: 0px 2px 15px rgba(73, 80, 87, 0.2);
    @include media-breakpoint-up(md){
      bottom: -5em;
      border-radius: 0.5em;
    }
    @include media-breakpoint-up(lg){
      width: 100%;
      flex-wrap: wrap !important;
      justify-content: center !important;

      bottom: -5em;
      border-radius: 0.5em;
    }
    .btn-primary{
      white-space: nowrap;
      border-radius: 0.5em;
      background-color: #fff;
      font-weight: 600;
      border: 1px solid #4A90E2;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      &.active{
        background-color: #E5F1FF!important;
      }
    }
    .btn{
        color: #4A90E2 !important;
        font-size: 12px;
        padding: 0 2vw !important;
        width: fit-content !important;
        @include media-breakpoint-up(lg){
          padding: 0 1em !important;
        }
    }
    .title-first-section{
      width: 100%;
    }


  }
}
#content_gov{
    padding-top: 1rem !important;
    margin-top: 100px;
  h2{
    text-align: center;
    color: #4A90E2 ;
    margin-bottom: 35px;
  }
  .subtitle_1{
    width: 100%;
    text-align: left;
    color: #4a4a4a;
  }
  .m-title{
    margin-top: 100px;
  }
  .drop{
    background-color: #fff;
    color: #4a90e2 !important;
    border: 1px solid #ddd;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius:0.5rem;
    margin-bottom: 3px;

  }
  .drop-active {
    background-color: $primary;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius:0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
  }

  .drop-active-text{
    color: #fff;
  }
  .drop:hover{
    background-color: #4a90e2 !important;
    color: #fff !important;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius:0.5rem;
    margin-bottom: 3px;
    cursor: pointer;
    p,
    .open-year{
      color: #fff !important;
      margin-bottom: 0;
    }
  }
  p{
    margin-bottom: 0;
  }
  .table{
    &::ng-deep table{
      text-align: center !important;
      width: 100% !important;
    }
  }
  .card{
        padding: 2em !important;
        min-height: 185px;
        width: 100%;
        margin-top: 2rem;
        border-radius:1rem;
        box-shadow: 0px 2px 15px rgba(73, 80, 87, 0.2);
        position: relative;
        text-transform: uppercase;
        .card-body{
          ::ng-deep p{
            p{
              margin-bottom: 0!important;
            }
          }
          .card-title{
            flex: 1;
            text-transform: uppercase;
          }
        }
        .documents-line {
          width: 60%;
          height: 1px;
          margin-top: 8px;
          margin-bottom: 8px;
          margin-left: -16px;
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 auto;
          -ms-flex: 0 0 auto;
          flex: 0 0 auto;
          background-color: #b4b4b4;
          color: #fff;
        }
        .img-card{
          width: 35px;
          height: 40px;
        }
        .icon-url {
          text-decoration: underline;
          margin: 4px;
          font-size: 11px;
          margin-bottom: 9px;
          cursor: pointer;
        }
    }

    .sub-info{
      text-align: left;
      color: #002A67;
      font-size: 21px;
    }
    .sub-info-subtitle {
      color: #002A67;
      font-size: 16px;
    }
    .description{
      color: $grey-dark;
    }
    #myBtn{
      text-align: center;
      width: 50%;
      margin: auto;
      .button-ipo{
        color: #fff;
        background-color: var(--primary-y,#ccc);
        text-transform: uppercase;
        outline: 0;
        border: none;
        border-radius: 40px;
        width: 40%;
        padding: 12px 0;
      }
    }
  }

.card-no-year{
  display: none;
}

#scroll-btn{
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: $primary;
  line-height: 50px;
  z-index: 17;
  right: 0;
  bottom: 10vh;
  color: $white !important;
  display: none ;
  border-radius: 50%;
  transition: all .3s ease 0s;
  &:hover{
    cursor: pointer;
  }
}

.open-year[aria-expanded="true"]{
  font-weight: bold;
}
.open-year{
  cursor: pointer;
  color: #4a90e2;
  margin-bottom: 0;
}

.btn-modal{
  background-color: $primary;
  text-align: center;
}


@media (max-width: 500px){
  .button-ipo{
    width: 100% !important;
  }
}


@media (min-width: 992.9px) {
  #content_gov{
    padding-top: 17rem;
  }
}

@media (max-width: 992px) {
  .hero{
    .container{
      max-width: 500px;
    }
    .header-title{
      margin-top: -15rem;
    }
    .link_nav_menu{
      width: 24%;
      margin: auto;
      min-width: 230px;
    }
    .nav_sections{
      top: 18% !important;
      bottom: -8rem;
      .btn{
        width: 100% !important;
      }
    }
  }

}

@media(max-width: 767px){
  #content_gov{
    padding-top: 41rem;
  }
  .card-no-year{
    width: 100% !important;
    margin: auto !important;
  }
}

@media(min-width: 767.9px) {
  .card-no-year{
    width: 100% !important;
    margin: auto !important;
  }
}


::ng-deep{
  table{
    width: 100%;
    font-weight: 400;
    color: $grey-dark;
  }

  td{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    height: 50px;
    text-align: center;
  }

  table tr:nth-child(odd) td{
    background:#f2f2f2;
  }
  table tr:nth-child(even) td{
      background:#fff;
  }
}

.link-stock:hover {
  color: $grey-dark;
}
