<div class="hero-quotator-container" id="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-md-6 hero-header">
                <p class="title">{{data.title}}</p>
                <p class="title-mobile">{{data.title_mobile}}</p>
                <div style="line-height: 32px;">
                    <p class="subtitle" [innerHTML]="data.subtitle"></p>
                    <p class="subtitle-mobile" [innerHTML]="data.subtitle_mobile"></p>
                </div>
                    <img [src]="data.bg_img" [alt]="data.img_alt" class="display-img "/>
                    <img [src]="data.bg_img_mobile" [alt]="data.img_alt" class="display-img-mobile"/>
            </div>
            <div class="col-12 col-md-6 col-lg-5" style="margin-bottom: 20px;">
                <app-configuratore-basic-layout (selectedPrice)="printPrice($event)" (actionEvent)="sendActionEvent($event)" [activeProduct]="data.selected_slide_id" [products]="data.products"></app-configuratore-basic-layout>
            </div>
        </div>
    </div>
</div>
<div class="container-sticky-quotator" [hidden]="scrollHeight() < 400 || scrollHeight() > hideSticky || selectedPrice !== undefined">
  <app-quotator-sticky-telemedicina [textForButton]="data.scroll_to_top"> </app-quotator-sticky-telemedicina>
</div>
