
@import '../../../sass/variables';

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  scroll-behavior: smooth;
}

html {
  line-height: 1
}

button:focus,
button:active,
button:hover {
  outline: none;
}

ol,ul {
  list-style: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

caption,th,td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle
}

q,blockquote {
  quotes: none
}

q:before,q:after,blockquote:before,blockquote:after {
  content: "";
  content: none
}

a img {
  border: none
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
  display: block
}

.width-cnt,main {
  width: 100%;
  margin: auto;
}

.claim .scroll-down:after,.select-input::after,.offer.included:before,.offer.not-included:before,.toggle-accordion .open:after,.toggle-accordion .close:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

body {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400
}

strong,.claim h2,.claim h5,input[type="radio"].toggle+label span,.row-submit button,.row-submit .value,.vantaggi h2,.vantaggi h6 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700
}

.row-submit,.header-table,.row-table,.toggle-accordion .close {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex
}

.claim .scroll-down:after,.toggle-accordion .open:after {
  position: absolute;
  left: 50%;
  z-index: 100;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.offer.included:before,.offer.not-included:before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none
}

html,body {
  line-height: normal;
  position: relative;
  height: 100%
}

body {
  font-size: 16px;
  font-size: 1rem;
  color: #4a4956;
  overflow-x: hidden
}

a:after,a:before {
  -webkit-transition: all,0.5s;
  -moz-transition: all,0.5s;
  -ms-transition: all,0.5s;
  -o-transition: all,0.5s;
  transition: all,0.5s
}

a:hover {
  text-decoration: underline
}

::-webkit-input-placeholder {
  color: #cccbcf
}

:-moz-placeholder {
  color: #cccbcf
}

::-moz-placeholder {
  color: #cccbcf
}

:-ms-input-placeholder {
  color: #cccbcf
}

input,textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0
}

select::-ms-expand {
  display: none
}

.logo {
  padding: 0 10px
}

.error {
  position: absolute;
  top: calc(100% - 11px);
  left: 0;
  width: calc(100% - 5px);
  background-color: #d2082a;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  z-index: 1;
  visibility: hidden
}

.error::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 0;
  width: 0;
  border: 6px solid transparent;
  border-bottom-color: #d2082a
}

.simulator {
  margin: 30px auto;
}

.simulator label.toggle {
  display: block;
  flex: 0 0 250px;
  cursor: pointer;
  position: relative;
  height: 40px;
  width: 100%;
  border-radius: 30px;
  background-color: rgba(16,174,255,0.07);
  box-shadow: inset -2px 2px 6px 0 rgba(192,208,225,0.32),0 0 0 4px rgba(16,174,255,0.1)
}

.switch {
  display: block;
  flex: 0 0 250px;
  cursor: pointer;
  position: relative;
  height: 48px;
  width: 100%;
  padding: 0 4px;
  border-radius: 30px;
  background-color: #e7f7ff;
  margin-bottom: 20px
}

.inner-switch {
  border-radius: 30px;
  background-color: #e4eff8;
  height: 40px;
  width: calc(100% - 8px);
  position: absolute;
  top: 4px;
  left: 4px
}

.btn {
  display: inline-block;
  padding: 10px;
  position: relative;
  text-align: center;
  transition: background 600ms ease, color 600ms ease;
  width: 50%;
  height: 40px
}

input[type="radio"].toggle {
  display: none
}

input[type="radio"].toggle+label {
  cursor: pointer;
  min-width: 60px;
  background: none;
}

input[type="radio"].toggle+label span {
  position: relative;
  z-index: 1
}

input[type="radio"].toggle+label:hover {
  background: none;
  color: #005388
}

input[type="radio"].toggle+label:after {
  background: #005388;
  border-radius: 30px;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 100%;
  z-index: 0
}

input[type="radio"].toggle.toggle-left+label {
  border-right: 0
}

input[type="radio"].toggle.toggle-left+label:after {
  left: 100%
}

input[type="radio"].toggle.toggle-right+label {
  margin-left: -5px
}

input[type="radio"].toggle.toggle-right+label:after {
  left: -100%
}

input[type="radio"].toggle:checked+label {
  cursor: default;
  color: #fff;
  transition: color 200ms
}

input[type="radio"].toggle:checked+label:after {
  left: 0
}

.cnt-input {
  position: relative;
  padding-bottom: 10px
}

.cnt-input input,.cnt-input select {
  width: 100%;
  font-size: 22px;
  font-size: 1rem;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  border: none;
  border-bottom: 1px solid #005388;
  border-radius: 0;
  text-align: left;
  height: 25px;
}

.cnt-input input {
  color: #005388
}

.cnt-input label {
  font-size: 12px;
  font-size: .75rem;
  color: #005388;
  text-align: left;
  display: block
}

.cnt-input select option {
  color: #005388
}

.cnt-input select [disabled] {
  color: #cccbcf
}

.form-item__label {
  display: block
}

.form-item__element {
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  border-radius: 4px;
  border: 1px solid gray
}

.form-item__element--select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 2em;
  color: #005388
}

.form-item__element--select:invalid {
  color: #cccbcf
}

.form-item__element--select [disabled] {
  color: #cccbcf
}

.form-item__element--select option {
  color: #005388
}

.select-input {
  position: relative
}

.select-input::after {
  color: #4a4956;
  font-size: 24px;
  font-size: 1.5rem;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  content: '\f107'
}

.row-submit {
  padding-top: 15px;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center
}

.conte--btn--primary {
  background-color: #83d888;
  border: none;
  color: #fff;
  -webkit-box-shadow: 0 0 0 5px #d9f3db;
  box-shadow: 0 0 0 5px #d9f3db;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  font-size: 15px;
  font-size: .9375rem;
  text-transform: uppercase;
  height: 40px;
  line-height: 40px;
  padding: 0 12px;
  -webkit-transition: all,0.5s;
  -moz-transition: all,0.5s;
  -ms-transition: all,0.5s;
  -o-transition: all,0.5s;
  transition: all,0.5s;
  cursor: pointer
}

.conte--btn--primary:hover {
  background: #61D286;
  -webkit-box-shadow: 0 0 0 5px #d9f3db,0 0 0 10px rgba(217,243,219,0.5);
  box-shadow: 0 0 0 5px #d9f3db,0 0 0 10px rgba(217,243,219,0.5)
}

.conte--btn--primary:disabled {
  background: #dbf4dd;
  cursor: not-allowed;
}

.conte--btn--primary:focus {
  outline: none;
}

.row-submit .value {
  font-size: 1rem;
  color: #005388
}

.table {
  background: #FFF;
  padding: 10px
}

.header-table,.row-table {
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 10px
}

.header-table .feature,.row-table .feature {
  width: 60%
}

.header-table .offer,.row-table .offer {
  width: 18%
}

.header-table .offer span,.row-table .offer span {
  display: none
}

main {
  margin-top: 20px;
  padding-bottom: 40px
}

.header-table .offer {
  text-align: center
}

.header-table .offer:before {
  content: "";
  background: #005388;
  color: #FFF;
  display: block;
  width: 32px;
  height: 32px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  font-size: 1.25rem;
  margin: 0 auto
}

.header-table .offer.gold:before {
  content: "G"
}

.header-table .offer.silver:before {
  content: "S"
}

.offer {
  position: relative
}

.offer.included:before {
  color: #005388;
  content: "\f00c";
  font-size: 14px;
  font-size: .875rem;
  display: block
}

.offer.not-included:before {
  color: #d2082a;
  content: "\f00d";
  font-size: 14px;
  font-size: .875rem;
  display: block
}

.body-table .row-table:nth-child(odd) {
  background: #f9f9f9
}

.body-table .accordion .row-table:nth-child(odd) {
  background: #fff
}

.body-table .accordion .row-table:nth-child(even) {
  background: #f9f9f9
}

.accordion {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: all,0.5s;
  -moz-transition: all,0.5s;
  -ms-transition: all,0.5s;
  -o-transition: all,0.5s;
  transition: all,0.5s
}

.accordion.active {
  max-height: 100%;
  overflow: visible;
  visibility: visible
}

.toggle-accordion {
  cursor: pointer;
  text-align: center;
  color: #005388;
  text-transform: uppercase;
  font-size: 16px;
  font-size: 1rem
}

.toggle-accordion .open {
  position: relative;
  padding: 30px
}

.toggle-accordion .open:after {
  content: "\f107";
  color: #005388;
  font-size: 30px;
  font-size: 1.875rem;
  bottom: 0
}

.toggle-accordion .close {
  display: none;
  position: relative;
  padding: 30px;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 100%;
}

.toggle-accordion .close:before {
  content: "\f00d";
  color: #005388;
  font-size: 20px;
  font-size: 1.25rem;
  margin-right: 10px
}

.toggle-accordion.active .open {
  display: none
}

.toggle-accordion.active .close {
  display: block
}

.vantaggi {
  text-align: center;
  padding: 0 10px
}

.vantaggi h2 {
  padding: 30px 0;
  text-transform: uppercase;
  color: #005388;
  font-size: 24px;
  font-size: 1.5rem
}

.vantaggi h6 {
  font-size: 18px;
  font-size: 1.125rem;
  color: #78d2f7;
  padding-bottom: 10px
}

.vantaggi li {
  padding-bottom: 40px;
  color: #005388;
  font-size: 16px;
  font-size: 1rem
}

.vantaggi img {
  width: 100%;
  max-width: 360px;
  display: block;
  margin: 0 auto
}

.vantaggi div {
  width: 50%;
  float: left;
}

footer {
  background: #f7f7f7;
  padding: 30px 10px;
  font-size: 14px;
  font-size: .875rem
}

footer h6 {
  font-size: 16px;
  font-size: 1rem;
  padding-bottom: 15px
}

footer p {
  line-height: 18px
}

@media only screen and (max-width: 768px) {
  .logo {
    text-align:center;
  }
  .vantaggi div {
    width: 100%
  }
  .vantaggi img {
    width: 70%
  }
}
@media only screen and (min-width: 768px) {
  .logo {
      text-align:left
  }

  .header-table .offer span,.row-table .offer span {
      display: block;
      font-size: 16px;
      font-size: 1rem;
      color: #005388;
      padding-top: 10px
  }

  .header-table .feature,.row-table .feature {
      width: 50%
  }

  .header-table .offer,.row-table .offer {
      width: 23%
  }

  main {
      padding-bottom: 0
  }

  .vantaggi {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap
  }

  .vantaggi h2 {
      width: 100%;
      padding: 30px 70px 40px 70px
  }

  .vantaggi ul {
      width: 47%
  }

  .vantaggi .cnt-img {
      width: 50%;
      position: relative
  }

  .vantaggi .cnt-img img {
      position: absolute;
      bottom: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 0;
      right: 0;
  }

  .vantaggi li {
      text-align: left;
      padding-bottom: 25px
  }
}

@media only screen and (min-width: 1200px) {
  .vantaggi h2 {
      padding-bottom:70px
  }
}

@media only screen and (min-width: 1286px) {
  .vantaggi img {
    width: 100%;
    max-width: 360px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -50px;
  }
}


// CUSTOM

.error-message {
  color: red;
}

.provider-text {
  font-size: 13px;
}

.provider-logo img {
  height: auto;
  max-height: 40px;
  max-width: 85px;
}

.inf-package {
  text-decoration: underline;
  color: $primary;
  font-size: 0.85rem;
}

.card {
  margin: 60px 0 0 0;
}

.show-ages-container {
  position: absolute;
  z-index: 10;
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  padding: 12px;
}

.age-input-number {
  border: none;
  border-bottom: 1px solid #005388;
  width: 100px;
  text-align: center;
}

//ADDONS TITLE

.cnt-small-title {
  color: #005388;
  margin-bottom: 15px;
}

//CUSTOM CHECKBOX
/* The container */
.cnt-checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 1.5;
}

/* Hide the browser's default checkbox */
.cnt-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.cnt-checkbox-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border: 1px solid #ddd;
}

/* On mouse-over, add a grey background color */
.cnt-checkbox-container:hover input ~ .cnt-checkbox-checkmark {
  background-color: #ffffff;
}

/* When the checkbox is checked, add a blue background */
.cnt-checkbox-container input:checked ~ .cnt-checkbox-checkmark {
  background-color: #ffffff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.cnt-checkbox-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.cnt-checkbox-container input:checked ~ .cnt-checkbox-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.cnt-checkbox-container .cnt-checkbox-checkmark:after {
  left: 7px;
  top: 2px;
  width: 10px;
  height: 15px;
  border: 2px solid #2295f3;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

//Coiche Button

.cnt-coiche-btn {
  border: 2px solid #005388;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 0 0 0;
  color: #005388;
  font-weight: bold;
  text-transform: capitalize;
}

.cnt-coiche-btn.selected {
  background: #005388;
  color: #fff;
}

.cnt-input .ngb-dp-arrow.right .ngb-dp-navigation-chevron {
  margin-left: -0.15em;
}

.subpet{
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
