@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/variables";

.how-work-table-slider-container {
  @include media-breakpoint-up(xs) {
    margin-top: 42rem;
  }
  @include media-breakpoint-down(xs) {
    margin-top: 5rem;
  }
  margin-bottom: 4rem;
  h2 {
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  .slider-container {
    justify-content: center;
    display: flex;
  }
  .carousel-table {
    border: 1px solid $grey;
    padding-right: 2rem;
    position: relative;
    order: 2;
    height: 100%;

    &:focus {
      outline: none;
    }
  }
  .carousel-table-two {
    border: 1px solid $grey;
    padding-right: 2rem;
    position: relative;
    order: 2;
    height: 46%;
    &:focus {
      outline: none;
    }
  }
  .fake-table.right {
    margin-left: 15px;
    border: 1px solid $grey;
    border-right: none;
  }
  .fake-table.left {
    margin-right: 0px;
    border: 1px solid $grey;
    border-left: none;
    left: -15px;
  }
  .product-title {
    color: $primary;
    max-height: 29px;
    margin: 2rem 0 1.5rem 1rem;
    @media (max-width: 390px) {
      max-width: 200px;
    }
  }
  .ribbon {
    width: 123px;
    height: 123px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    span {
      position: absolute;
      display: block;
      width: 210px;
      padding: 5px 0;
      background-color: #ffac06;
      text-transform: uppercase;
      text-align: center;
      transform: rotate(45deg);
      font-size: 1rem;
      font-weight: bold;
      left: -25px;
      top: 30px;
    }
  }

  .item-list .title {
    li.primary-item {
      list-style-type: none;
      position: relative;
      margin-bottom: 1.5rem;
      margin-top: 3rem;
      font-size: 20px;
      ::ng-deep {
        p {
          margin-bottom: 0;
        }
      }
      &::before {
        display: none;
      }
      &.banco-desio_db {
        color: #6C6C6C;
      }
    }
  }

  .item-list .subtitle {
    li.primary-item {
      list-style-type: none;
      position: relative;
      margin-bottom: 1rem;
      margin-top: 1rem;
      font-size: 20px;
      ::ng-deep {
      p {
        font-size: 16px;
        margin-bottom: 0;
      }
    }
      &::before {
        display: none;
      }
      &.banco-desio_db {
        ::ng-deep {
          p {
            strong {
              color: #6C6C6C;
            }
          }
      }
    }
  }
  }

  .item-list .hidden {
    visibility: hidden;
  }

  .item-list {
    .info-tooltip {
      background: transparent;
      right: 30px;
      line-height: 16px;
      outline: 0;
      margin-top: 3px;
      width: 17px;
      height: 17px;
      border: 1px solid $grey-dark;
      cursor: pointer;
      font-size: 0.6rem;
      text-align: center;
    }
  }

  .item-list li.primary-item {
    list-style-type: none;
    position: relative;
    margin-bottom: 1.5rem;
    &.included {
      &::before {
        font-family: "Font Awesome 5 Free";
        color: $primary;
        content: "\f00c";
        font-size: 18px;
        display: block;
        position: absolute;
        font-weight: 900;
        left: -25px;
        top: -3px;
      }
    }
  }
  .subitems-list {
    margin-left: -25px;
    margin-top: 1rem;
    li {
      list-style-type: disc;
      line-height: 1.3rem;
      margin-bottom: 1rem;
    }
  }
  ::ng-deep.subitems-included {
    margin-left: -25px;
    li {
      list-style-type: disc;
      margin-bottom: 1rem;
    }
  }
  ::ng-deep.subitems-excluded {
    margin-left: -25px;
    li {
      list-style-type: none;
      position: relative;
      margin-bottom: 1rem;
      color: $grey;
    }
  }
  ::ng-deep.carousel-indicators {
    bottom: -3rem;
    .carousel-inner {
      margin-bottom: 2.5rem;
    }
  }
  ::ng-deep.carousel {
    outline: none;
    &:focus {
      outline: none;
    }
  }
  ::ng-deep.carousel-indicators li {
    background-color: $grey;
    opacity: 1;
    width: 50px;
    height: 5px;
    margin-right: 8px;
    margin-left: 8px;
    &.active {
      background-color: $primary !important;
    }
  }

  &.layout-leasys_db,
  &.layout-fca-bank_db {
    h2 {
      color: $title-color-dark;
    }
    .product-title,
    .ribbon span {
      color: $text-color-dark;
    }
  }

  &.layout-mopar_db {
    h2 {
      color: $title-color-dark;
    }
    .product-title {
      margin-right: 1rem;
    }
    .item-list li.primary-item {
      margin-bottom: 0;
    }
    .subitems-list {
      margin-top: 0rem;
      margin-bottom: 2rem;
      margin-left: -40px;
      li {
        list-style-type: none;
        line-height: 1.3;
        margin-bottom: 5px;
        font-size: 0.9rem;
      }
    }
  }
  &.layout-civibank_db,
  &.layout-banco-desio_db {
    h2 {
      color: $primary;
      font-family: "HK Grotesk";
      margin: 0;
    }
    .combinations-link {
      color: $primary;
      font-family: "HK Grotesk";
      font-weight: bold;
      font-size: 15px;
    }
    .product-title {
      margin: 2rem 0 4rem 1rem;
    }
    .carousel-table {
      padding-bottom: 4rem;
    }
    .item-list {
      .primary-item {
        margin-bottom: -5px;
        &.included::before {
          color: #52821c;
        }
      }
    }
    ::ng-deep.subitems-included li,
    ::ng-deep.subitems-excluded li {
      margin-bottom: 3px;
    }
  }
  &.layout-banco-desio_db {
    h2 {
      color: $primary;
      font-family: "HK Grotesk";
      margin: 0;
    }
    .combinations-link {
      ::ng-deep {
        p {
          a {
            color: var(--primary-y, #ccc);
            text-decoration: underline;
            font-weight: normal;
          }
        }
    }

    }
    .product-title {
      margin: 2rem 0 4rem 1rem;
    }
    .carousel-table {
      padding-bottom: 4rem;
    }
    .item-list {
      .primary-item {
        margin-bottom: -5px;
        &.included::before {
          color: #52821c;
        }
      }
    }
    ::ng-deep.subitems-included li,
    ::ng-deep.subitems-excluded li {
      margin-bottom: 3px;
    }
  }
  .how-works-description{
    padding-right: 0;
    padding-left: 0;
  }
}

