<div class="container how-work-table-slider-container" data-cy="how-work-table-slider__container"
  [ngClass]="data.container_class">
  <div class="row">
    <div id="advantages" class="col-12">
      <h2>{{data.title_section}}</h2>
      <div class="combinations-link" [innerHtml]="data.table_combinations"></div>
      <div class="col-12 how-works-description" [innerHTML]="data.text_section"></div>
      <!-- Mobile version with slider -->
      <ngx-slick-carousel #sliderProducts class="products-slides-container d-block d-md-none row"  [config]="slideConfig"
        data-mc-options='{ "touchAction": "pan-y" }'>        
        <div ngxSlickItem
          *ngFor="let product of data.product_content; let i=index; let first = first; let last = last"
          [id]="product.product_code">
          <div class="slider-container col-12">
            <!--<div class="col-1 order-1 fake-table" [ngClass]="{'left': !first && animationState != 'slideRight'}"></div>-->
            <div class="carousel-table col-10 order-2" [@animator]="animationState"
              (@animator.done)="resetAnimationState()">
              <h3 class="product-title" [innerHTML]="product.name"></h3>
              <div *ngIf="product.recommended" class="ribbon"><span>consigliato</span></div>
              <div *ngIf="product.included" class="ribbon"><span>incluso</span></div>
              <ul class="item-list">
                <ng-container *ngFor="let item of product.items_list">
                  <div [ngClass]="{ 'title': item.title, 'subtitle': item.sub_title, 'hidden': item.hidden}" class="list-text pr-3">
                    <p [ngClass]="{'tooltip': !item.tooltip}"
                      class="info-tooltip baloon info-char position-absolute rounded-circle p-0 font-weight-bold"
                      placement="left" ngbPopover="{{item.info}}">i
                    </p>
                    <li [ngClass]="[dataService.tenantInfo.tenant, item.included ? 'included' : '']" class="primary-item" [innerHtml]="item.text"></li>
                  </div>
                  <ng-template
                    *ngIf="item.subitems.length && item.subitems_list; then subitemIncluded else subitemTextOnly">
                  </ng-template>
                  <ng-template #subitemTextOnly>
                    <ul class="subitems-list" *ngIf="item.subitems.length">
                      <li *ngFor="let subitem of item.subitems">{{subitem}}</li>
                    </ul>
                  </ng-template>
                  <ng-template #subitemIncluded>
                    <div [ngClass]="subitem.included ? 'subitems-included' : 'subitems-excluded'"
                      *ngFor="let subitem of item.subitems" [innerHtml]="subitem.text"></div>
                  </ng-template>
                </ng-container>
              </ul>
            </div>
            <!--<div class="col-1 order-3 fake-table" [ngClass]="{'right': !last && animationState != 'slideLeft'}"></div>-->
          </div>
        </div>
      </ngx-slick-carousel>
      <!-- Dekstop version no slider -->
      <div class="d-none d-md-flex row">
        <div *ngFor="let product of data.product_content" class="col-4">
          <div class="carousel-table">
            <h3 class="product-title" [innerHTML]="product.name"></h3>
            <div *ngIf="product.recommended" class="ribbon"><span>consigliato</span></div>
            <div *ngIf="product.included" class="ribbon"><span>incluso</span></div>
            <ul class="item-list">
              <ng-container *ngFor="let item of product.items_list">
                <div [ngClass]="{ 'title': item.title,  'subtitle': item.sub_title, 'hidden': item.hidden}" class="list-text pr-3">
                  <p [ngClass]="{'tooltip': !item.tooltip}"
                    class="info-tooltip baloon info-char position-absolute rounded-circle p-0 font-weight-bold"
                    placement="left" ngbTooltip="{{item.info}}">i
                  </p>
                  <li [ngClass]="[dataService.tenantInfo.tenant, item.included ? 'included' : '']" class="primary-item" [innerHtml]="item.text"></li>
                </div>
                <ng-template
                  *ngIf="item.subitems.length && item.subitems_list; then subitemIncluded else subitemTextOnly">
                </ng-template>
                <ng-template #subitemTextOnly>
                  <ul class="subitems-list" *ngIf="item.subitems.length">
                    <li *ngFor="let subitem of item.subitems">{{subitem}}</li>
                  </ul>
                </ng-template>
                <ng-template #subitemIncluded>
                  <div [ngClass]="subitem.included ? 'subitems-included' : 'subitems-excluded'"
                    *ngFor="let subitem of item.subitems" [innerHtml]="subitem.text"></div>
                </ng-template>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
