@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import 'sass/variables';

.payment-text {
  font-size: 16px;
  color: $primary-dark;
}

.bill-container {
  font-size: 0.9rem;
  border: 2px solid #C0C0C0;
  border-radius: 8px;
  margin-bottom: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  display: flex;
}

.bill-text {
  margin-bottom: 0;
}

.bill-single-choice-text {
  font-size: 16px;
  color: $primary-dark;
}

.radio-btn-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 0.5rem;

  input[type="radio"] {
    accent-color: $primary;
    clear: none;
    margin-left: 9px;
    width: 24px;
    height: 24px;
    margin: 0px 10px 0px 10px;
    @media (max-width: 280px) {
      width: 22px;
      height: 22px;
    }
  }

  .disabled-label {
    color: $grey;
  }

  label {
    font-weight: bold;
    font-size: 17px;
    color: $grey-dark;
    margin-bottom: 0;
    cursor: pointer;

    ::ng-deep {
      p {
        margin-bottom: 0;
        color: #707070;
      }
    }

    @media (max-width: 280px) {
      font-size: 15px;
    }
  }
}
