@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/variables";
.what-to-know-container {
    padding-bottom: 2rem;
}

.container {
    padding: 2rem 1rem;
    background-color: #F5FAFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

.img {
    display: flex;
    justify-content: center;
    @media (max-width: 992px) {
        display: none;
    }
    img {
        min-width: 366px;
    }
}

.title {
    color: $primary;
}

.section-title {
    color: $primary;
    font-size: 24px;
    font-weight: 500;
}

.description {
    margin-bottom: 10px;
}

.text-section {
    display: flex;
    flex-direction: column;
}
