@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/variables";

.text-content {
  display: flex;
  align-items: center;
  label {
    margin-bottom: 0;
  }
}
.displacement{
  &-info {
    font-size: 0.9rem;
  }
  &-content {
    margin-top: 1.5rem;
    label {
      margin-bottom: 0;
    }
  } 
}

.form-label-group {
  margin-bottom: 0;
  .error-message {
    text-align: end;
  }
}

.form-label-group > label {
    top: -5px;
    left: 14px;
    line-height: 40px;
    font-size: 0.9rem;
  }
  .form-control {
    border-radius: 8px;
    height: 60px;
    .first-option {
      display: none;
    }
  }
  .form-label-group > input,
  .form-label-group > label {
    height: 60px;
    border-radius: 8px;
  }
  .form-control:focus + .form-control-placeholder, 
  .form-control:valid + .form-control-placeholder, 
  .form-control:disabled + .form-control-placeholder {
    font-size: 0.9rem;
    font-weight: 400;
    font-family: Roboto;
    color: #495057;
    z-index: 8;
  }
  .form-label-group input:not(:placeholder-shown),
  .form-label-group select {
    padding-top: 0;
    padding-bottom: 0;
  }
  .form-label-group input:focus ~ label,
  .form-label-group input:not(:placeholder-shown) ~ label, 
  .form-label-group select ~ label {
    font-size: 12px!important;
    color: #495057;
  }