@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/_variables.scss";

.claim-success-modal {
  font-family: 'Tim Sans';

}

.info-bar {
  display: flex;
  justify-content: flex-end;
  background-color: $primary;
  padding: 2rem;
  @media (max-width: 768px) {
    padding: 1rem;
    height: 65px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  button {
    outline: none;
  }
  .close-button {
    justify-content: flex-end;
    height: 2.75rem;
  }
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 460px;
  .ok-img img {
    margin: 2rem 0;
  }
  .title {
    text-align: center;
    font-size: 17px;
    color: $black;
    width: 88%;
  }
}

.footer {
  display: flex;
  padding: 1.5rem;
  justify-content: center;
  .ok-button {
    background-color: $btn-text-color;
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
  }
}
