@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/variables";

p{
  margin: 0;
}

.header{
  color: var(--primary-dark,#333);
  background-color: #f1f7ff;
  height: 30rem;
  margin-bottom: 4rem;
  @media(max-width: 491px){
    height: 100%;
  }
  .title-container {
    margin-top: 80px;
    padding: 64px 0 64px 36px;
    @media(max-width: 415px) {
      padding: 64px 0 64px 16px;
    }
    .title h1,
    .title p {
      font-size: 22px !important;
      line-height: 32px;
    }
    .title_2 {
      color: var(--primary-y,#ccc);
      font-size: 35px !important;
      margin: 0;
    }
  }
}

.image-container {
  width: auto;
  margin-top: 130px;
  padding-right: 36px;
  @media (max-width: 415px) {
    padding-right: 16px;
  }
  .image-container img{
    width: 90%;
  }
}

.image-small {
  @media(max-width: 491px){
    height: 310px;
  }
}

.header-desk{
  padding: 80px 120px 0;
  color: var(--primary-dark,#333);
  background-color: #f1f7ff;
  height: 830px;
  .title-container-desk{
    margin-top: 150px;
    .title-desk{
      padding: 10px;
    }
    .title-desk h1{
      font-size: 64px;
    }
    .title-desk p{
      font-size: 28px;
      width: 510px;
    }
    .title-2-desk{
      font-size: 116px;
      text-transform: lowercase;
      color: var(--primary-y,#ccc);
      line-height: 110px;
    }
  }
}

.scroll-btn{
  color: #fff;
  background-color: var(--primary-y,#ccc);
  outline: 0;
  border: none;
  border-radius: 40px;
  width: 60%;
  padding: 16px 0;
  text-align: center;
  margin: 22px 0 150px 10px;
  max-width: 200px;
  cursor: pointer;
  @media (max-width: 491px) {
    margin: 8px 15px 0px;
    width: 188px;
  }
}

::ng-deep p{
  margin: 0;
}

::ng-deep{
  .title_2 p{
    margin-top: -15px;
    padding: 0 3px;

  }
}

.main{
  padding: 64px 36px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  margin-top: -65px;
  .main-title{
    color: $text-color;
    font-size: 26px;
    @include media-breakpoint-down(sm) {
      line-height: 30px;
     }
  }
  .subtitle{
    font-size: 20px !important;
    margin: 12px 0;
    color: $text-color;
  }
  .description{
    font-size: 18px;
    color: #606060;
  }
}


.insurtech-platform{
  margin-top: 40px;

  .insur-container{
    padding: 0 36px;

    .insur-title{
      color: var(--primary-y,#ccc);
    }
  }
}

.filter{
  display: block !important;
}

.desktop-filter{
  display: none;
}

.insur-container p:nth-child(1){
  font-size: 20px;
}


.insur-container p:nth-child(2){
  font-size: 18px;
  color: #606060;
}


.button-insur-active{
  color: var(--primary-y,#ccc);
  background-color: #E2EBF5;
  outline: 0;
  border: #E2EBF5;
  border-radius: 40px;
  width: 30%;
  padding: 10px 0;
  text-align: center;
  margin: 26px 0;
  font-weight: 500;
  font-size: 14px;
}

.button-insur-not-active{
  color: var(--primary-y,#ccc);
  background-color: $white;
  outline: 0;
  border: 1px solid #E2EBF5;
  border-radius: 40px;
  width: 30%;
  padding: 10px 0;
  text-align: center;
  margin: 26px 0;
  font-weight: 500;
  font-size: 14px;
}
.focus{
  background: $white;
  box-shadow: none;
  border: #E2EBF5;
  color: var(--primary-y,#ccc);
  outline: 0;
  border-radius: 40px;
  width: 37%;
  padding: 12px 0;
}

.about-us{
  background-color: $grey-ligth;
  padding: 15px;
  @media screen and (min-width: 767px) {
    padding: 50px;
  }
}
.text-carousel{
  @media screen and (min-width: 767px) {
    margin: 30px auto !important;
    font-size: 20px;
  }
  font-size: 16px;
  width: 80%;
  margin: 10px auto;
  font-style: italic;
  color: #606060;
  @media (max-width: 600px){
    width: auto;
  }

}
.list{
  padding: 7px 35px;
  .list-text{
    margin-left: 10px;
    font-size: 18px;
    color: #606060;

  }
}

.more-btn{
  color: #fff;
  background-color: var(--primary-y,#ccc);
  outline: 0;
  border: none;
  border-radius: 40px;
  width: 80%;
  padding: 12px 0;
  text-align: center;
  margin: 26px 20px;
  max-width: 180px;
  max-height: 56px;
}


@media (min-width: 767px) {
  .main {
    padding: 0px 0 88px;
    margin-top: -45px;
    .main-title {
      font-size: 44px !important;
    }
    .subtitle {
      font-size: 28px!important;
    }
    .description {
      font-size: 24px!important;
    }
  }
  .main-desk {
    gap: 32px;
    display: flex;
    justify-content: center;
  }
  .insurtech-platform-desk {
    padding: 3rem 6rem;
    .insur-title-desk {
      font-size: 28px;
    }
  }
  .insur-subtitle-desk {
    font-size: 35px;
    color: var(--primary-y,#ccc);
  }
  .description-desk {
    font-size: 24px;
    color: #606060;
  }
  .more-btn {
    width: 50%;
    font-size: 16px;
    margin: 26px 0;
  }
  .list-desk {
    padding: 5px 3px;
  }
  .list-title-desk {
    font-size: 24px;
    font-weight: 700;
    color: #606060;
  }
  .list-text-desk {
    margin-left: 10px;
    color: #606060;
    font-size: 24px;
  }
}

.product-card {
  background-color: #F1F1F1;
  width: 100%;
  height: auto;
  padding: 64px 0;
  overflow-x: hidden;

  .buttons-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;

    .buttons-section {
      color: $white;
      background-color: $primary;
      text-transform: capitalize;
      outline: 0;
      border: none;
      border-radius: 35px;
      width: 28%;
      max-width: 186px;
      max-height: 48px;
      padding: 9px 28px;
      margin-right: 15px;
      @include media-breakpoint-up(md) {
        width: 15%;
      }
      @include media-breakpoint-up(lg) {
        width: 15%;

      }
      @include media-breakpoint-down(xs) {
        width: min-content;
      }


    }
  }
  .title-insurance {
    font-size: 35px;
    text-align: center;
    @include media-breakpoint-down(md) {
      font-size: 26px;
    }
  }

  .list-products {
    margin-top: 9px;
    @include media-breakpoint-down(xs) {
      display: flex;
      justify-content: flex-start;
    }
  }
  .list-products-mobile{
      margin-top: 9px;
      @media (min-width: 500px) {
        display: none;
      }
    }
  .list-items {
    column-count: 6;
    column-gap: 19px;
    color: $primary;
    padding: 6px;
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    @media (max-width: 500px) {
      display: none;
    }
  }
  .always-showed {
    display: flex !important;
  }

  li {
    font-size: 24px;
    list-style: none;
    cursor: pointer;
    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }

  a.active {
    font-weight: bold;
    color: $primary;
    border-bottom: 3px solid currentColor;
  }
  a.not-active {
    color: $primary;
  }


}

.button-active {
  color: $white!important;
  background-color: $primary!important;
}
.button-not-active {
  color: $primary!important;
  background-color: $grey-ligth !important;
  border: 2px solid $primary!important;
}
.img-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}


:host ::ng-deep {

  .carousel.about-us {
    .slick-slide img{
      @media screen and (min-width: 992px) {
        max-width: 600px !important;
      }
      max-width: 300px !important;
    }

    .slick-prev {
      color:#4A90E2;
      left: -45px;
    }

    .slick-next {
      color: #4A90E2;
    }

    .slick-next:before {
      display: flex;
      width: 48px;
      height: 48px;
      border: 1px solid;
      background-image: url(../../../../../assets/images/icons/homepage-arrow-right.svg);
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: center;
      content: "";
      @include media-breakpoint-down(sm) {
        width: 28px;
        height: 28px;
        background-repeat: no-repeat;
        background-size: 15px;
      }
    }

    .slick-prev:before {
      display: flex;
      width: 48px;
      height: 48px;
      border: 1px solid;
      background-image: url(../../../../../assets/images/icons/homepage-arrow-left.svg);
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: center;
      content: "";
      @include media-breakpoint-down(sm) {
        width: 28px;
        height: 28px;
        background-repeat: no-repeat;
        background-size: 15px;
      }
    }
  }

  .splide__track {
    padding: 0.75rem 0;
  }
  .carousel.products {
    margin: 0 7rem;
    @media (max-width: 600px) {
      margin: 0 0rem;
    }
    @media (min-width: 601px) and (max-width: 991px) {
      margin: 0 2rem;
    }
    .coworkers-slide {
      cursor: pointer;
      height: 100%;
      max-width: 200px;
      min-height: 286px;
      margin: 0 0.5rem;
      display: flex !important;
      flex-direction: column;
      border-radius: 0.5rem;
      box-shadow: 0px 2px 20px rgba(73, 80, 87, 0.2);
      justify-content: space-between;
      align-items: center;
      padding: 1.25rem;
      background-color: $white;
      @include media-breakpoint-down(md) {
        max-width: 168px;
        min-height: 206px;
        margin: 0px;
      }
      .img-container-2 {
        width: 80%;
        max-height: 80%;
      }
      .title {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        color: $primary-dark;
        @include media-breakpoint-down(xs) {
          font-size: 13px;
        }
      }

      @media (min-width: 1400px) {
        max-width: none;
        .card-img-top {
          max-width: 200px;
        }
      }
    }

    .dots {
      margin-top: 24px;
      list-style: none;
      display: flex;
      justify-content: center;
      transform: scale(1.6);
      outline: none;
      border: none;
      padding: 0;
      .is-active {
        background-color: $primary;
      }
      .is-active:focus {
        outline: none;
      }
      button {
        background-color: #E2EBF5;
        transform: scale(1.4);
      }
    }

    .arrow {
      &-splide {
        position: absolute;
        top: 350px;
        background-color: transparent;
        @media (max-width: 1024px) {
          display: none;
        }
        @media (min-width: 1700px) and (max-width: 1811px) {
          top: 350px;
        }
      }
      &-prev {
        left: calc(50% - 3rem);
      }
      &-next {
        right: calc(50% - 3rem);
      }
    }
  }

  .hide-arrows {
    .arrow-splide {
      display: none;
    }
  }
}

.section-header {
  padding-left: 120px;
  @media (max-width: 991px) {
    padding: 0px 36px;
  }
}

.partners {
  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 7rem;
    align-items: center;
    gap: 8px;
    @media (max-width: 800px) {
      display: none;
    }
    img {
      max-width: 160px;
      height: 42px;
      object-fit: contain;
      margin: 0 0.5rem;
    }
  }
    &-mobile {
      display: none;
      @media (max-width: 800px) {
        display: contents;
      }
      &-container-img {
        height: 42px;
      }
    }
  &-title {
    color: $grey-dark;
    text-align: center;
    font-size: 28px;
    margin-bottom: 1.6rem;
  }
}


@media (min-width: 1120px) {
  .desktop-filter{
    display: block;
  }
  .filter{
    display: none !important;
  }

  .image-container-desk img {
    padding-bottom: 50px;
    max-width: max-content;
    padding-top: 70px;
  }

}
@media (min-width: 991px) {
  .desktop-filter {
    box-shadow: inset -4px -111px 0px -4px #FFF;
  }

  .icon-desk{
    padding-left: 16px;
  }

}

/*  MODALE INTERMEDIARI */
#modal_intermediaries{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
      .content_modal_intermediaries{
          background-color: #fff;
          max-width: 800px;
          display: flex;
          flex-direction: column;
          .icon_close{
              padding: 1em;
              background-color: #4A8FE2;
              img {
                cursor: pointer;
              }
          }
          .content_text{
              align-self: center;
              padding: 1em;
              .content_body{
                  padding: 1em;
                  background-color: #F1F7FF;
                  ::ng-deep p {
                    margin-bottom: 0;
                  }
                  ::ng-deep a{
                    text-decoration: underline;
                    color: #4A8FE2;
                  }
              }
          }
          .btn{
            background-color: #4A8FE2 !important;
          }
          .btn-primary{
              align-self: center;
              max-width: 200px;
              margin-bottom: 1.5em;
              padding-left: 2em;
              padding-right: 2em;
              border-radius: 1.5em;
          }

      }
}
/* / MODALE INTERMEDIARI */
