@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/_variables.scss";
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-container-form {
  height: auto;
  position: relative;
  overflow: hidden;
  .bg-circle-cards {
    border-radius: 100%;
    border: 93px rgba(74, 144, 226, 0.35) solid;
    opacity: 44%;
    position: absolute;
    overflow: hidden;
    top: -3rem;
    left: -3rem;
  }
  .close:focus {
    border: none;
    outline: none;
  }
  .info-bar {
    @extend .flex-container;
    padding: 0.313rem 4.25rem 0.688rem;
    font-size: 20px;
    color: #042c4d;
  }
  .close-button {
    display: flex;
    justify-content: flex-end;
    width: 95%;
    margin-top: 12px;
  }
}
.btn-submit {
  @extend .flex-container;
  padding: 3rem;
  .submit-btn {
    color: #fff;
    background-color: $primary;
    text-transform: uppercase;
    outline: 0;
    border: none;
    border-radius: 40px;
    padding: 16px 1rem;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    width: 94%;
  }
}
.group-input {
  padding: 0 4rem 2rem;
}

.link-imei {
  @extend .flex-container;
  font-size: 14px;
  cursor: pointer;
  & a {
    text-decoration: underline;
    font-weight: 600;
    color: $primary;
  }
}
.error-field label {
  color: #D0021B!important;
}
.form-label-group > label {
  position: absolute;
  top: 0;
  left: 10px;
  display: block;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  color:  #042c4d;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input:not(:disabled) {
  background-color: white!important;
}
