@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/_variables.scss";

@mixin label-up-animation{
    animation: labelAnim 0.3s ease 0s 1 normal forwards;
    bottom: 100%;
    font-size: 10px;
    color: #333333;
}

@keyframes labelAnim {
  0% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(0);
  }
}

$tim-cyber-bg-blue: #122AC2;

::ng-deep .custom-modal-request .modal-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 25px;
  border-radius: 40px;
  margin: 0 auto;
  width: 100%;
}

::ng-deep .custom-modal-request .modal-dialog {
  max-width: 672px;
}

#close-btn-request {
  width: 180px;
  background-color: #FFF;
  border: 2px solid $tim-cyber-bg-blue;
  color: $tim-cyber-bg-blue;
  font-weight: bold;
}

#send-btn {
  width: 180px;
  background-color: $tim-cyber-bg-blue;
}

#close-btn-typ {
  width: 150px;
  background-color: $tim-cyber-bg-blue;
}

.checkbox-container {
  display: flex;
  align-items: baseline;
  gap: 12px;

  .form-check-label {
    font-size: 18px;
    line-height: 1.5;
  }
}
::ng-deep .custom-privacy-link p > a{
  color: $tim-cyber-bg-blue;
  text-decoration: underline;
}

input[type="checkbox"] {
  transform: scale(2);
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.modal-title {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}

.input-txt-container{
  .label-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    border-bottom: 1px solid var(--primary-extra-dark, #00257A);
    position: relative;
    min-height: 1.625rem;
    input:focus-visible {
      outline: none;
    }
      input {
        width: 100%;
        color: #00257a;
        color: var(--primary-extra-dark, #00257A);
        font-size: 16px;
        background-color: #fff;
        padding-left: 0;
        padding-right: .5rem;
        border: none;
        text-align: left;
        font-weight: unset;
         &:focus {

                & + .real-label {
                    @include label-up-animation;
                }
              }
      }
      .real-label {
        position: absolute;
        z-index: 1;
        bottom: 0;
        border: none;
        display: flex;
        align-items: end;
        font-weight: 400;
        font-size: 16px;
        color: #333;
        &.up {
          transform: translateY(-20px);
          font-size: 12px;
          background: white;
        }

        @media (max-width: 576px) {
          padding: 14px;
          top: 0px;

          &.up {
            top: 0px;
          }
        }
      }
    }
}

@media (max-width: 768px) {
  ::ng-deep .custom-modal-request .modal-content {
    width: 360px;
    margin: 0 auto;
    padding: 25px;
  }
}