<div class="px-3 py-4 px-md-4 py-md-3 modal-content rounded-0">
  <div>
      <div class="d-flex justify-content-end mb-3">
          <div class="pointer mr-4 mr-md-0" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15 1L1 15M15 15L1 1" stroke="black" stroke-width="2"/>
              </svg>
          </div>
      </div>
      <div class="d-md-flex align-items-md-center justify-content-md-between mb-3">
          <div class="text-center">
              <h6 class="title t-24 font-weight-500 mb-3">
                {{ 'access.reset_password' | translate | async }}
              </h6>
              <p *ngIf="!isBusiness" class="t-18 font-weight-400 mb-4">
                {{ 'access.how_to_reset' | translate | async }}
              </p>
              <p *ngIf="isBusiness" class="t-18 font-weight-400 mb-4">
                {{ 'access.email_to_reset' | translate | async }}
              </p>
          </div>
          <div class="d-flex t-24 font-weight-500">
          </div>
      </div>
      <div>
        <form [formGroup]="form" (ngSubmit)="sendEmail()">
          <div class="form-group">
            <div class="row no-gutters justify-content-center">
              <!-- Taxcode -->
              <div *ngIf="!isBusiness" #taxcode class="col-12 col-sm-8 px-0 my-3 input-txt-container">
                <label class="label-container" [ngClass]="{'warning-field': hasError('taxcode')}">
                  <input
                  id="taxcode"
                  type="text"
                  maxlength="16"
                  formControlName="taxcode"
                  [ngClass]="{'warning-field': hasError('taxcode')}">
                  <span [ngClass]="form?.get('taxcode')?.value ? 'up' : ''" class="real-label">
                    {{ 'forms.fiscal_code' | translate | async }}
                  </span>
                  <!-- <i *ngIf="hasError('taxcode')" class="fas fa-times input-error-icon"></i> -->
                </label>
                <div class="warning-message" *ngIf="hasError('taxcode') && getError('taxcode', 'required')">
                  {{ 'forms.mandatory_field' | translate | async }}
                </div>
                <div class="warning-message" *ngIf="hasError('taxcode') && getError('taxcode', 'pattern')">
                  {{ 'forms.wrong_format' | translate | async }}
                </div>
              </div>
              <!-- Email for business-->
              <div *ngIf="isBusiness" class="col-12 col-sm-8 px-0 my-3 input-txt-container">
                   <label class="label-container" [ngClass]="{'warning-field': hasError('email')}">
                  <input id="email" type="text" formControlName="email" [ngClass]="{'warning-field': hasError('email')}">
                  <span [ngClass]="form?.get('email')?.value ? 'up' : ''" class="real-label">
                    {{ 'forms.email' | translate | async }}
                  </span>
                  </label>
                  <div class="warning-message" *ngIf="hasError('email') && getError('email', 'required')">
                  {{ 'forms.mandatory_field' | translate | async }}
                </div>
                <div class="warning-message" *ngIf="hasError('email') && getError('email', 'email')">
                  {{ 'forms.wrong_format' | translate | async }}
                </div>
            </div>
            </div>
            <div class="row no-gutters justify-content-center">
              <button [disabled]="!this.form?.valid" type="submit" name="commit" class="tim-submit-btn buy col-12 col-sm-4" data-disable-with="Invia">
                {{ 'buttons.send' | translate | async }}
              </button>
            </div>
          </div>
        </form>
      </div>
  </div>
</div>  