@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";

@import "~sass/variables";

.header-container {
  margin-right: 0;
  .content-img {
    top: calc(100% + -10rem);
    left: calc(0% + 3rem);
    height: 300px;
    position: absolute;
    max-width: none;
  }
}

:host ::ng-deep {
  .headline {
    h3 {
      margin-bottom: 0;
    }
  }
  .sub-headline {
    h4 {
      font-weight: 400;
    }
  }

  .section-title {
    margin-bottom: 5rem;
    & h3:first-of-type {
      margin-bottom: 5rem;
    }
    p {
      color: $subtitle-color;
    }
  }

  .body {
    h1 {
      font-weight: bold;
    }

    h3 {
      font-size: 1.1rem;
      color: $subtitle-color;
      font-weight: 400;
      text-decoration: none;
      line-height: 1.2;
    }

    .kc-list-group {
      margin-left: 5rem;
      margin-right: 5rem;
    }

    li.kc-list-item {
      padding: 0;

      img {
        max-width: calc(35px + 7.5vw);
      }

      &:nth-child(odd) {
        .row {
          .col-sm-2 {
            display: flex;
            justify-content: center;
          }
          .col-sm-10 {
            .row-title {
              display: none;
            }
            .row-subtitle h3 {
              margin-top: 0.5rem;
              font-weight: 500;
            }
          }
        }
      }

      &:nth-child(even) {
        img {
          height: calc(30px + 0.75vw);
          z-index: 5;
        }
        .col-sm-10 {
          display: none;
        }
        .row {
          .row-title,
          .row-subtitle,
          .row-body {
            display: none;
          }
        }
      }
    }
  }

  .section-body {
    figure {
      width: -webkit-fill-available;
      text-align: center;
      img {
        max-width: 960px;
        width: 100%;
        min-width: 1px;
      }
    }
  }

  #section-2 {
    padding-top: 3rem;
    margin-bottom: 3rem;
    h1 {
      margin-bottom: 3rem;
    }
  }
}

@include media-breakpoint-down(xs) {
  :host ::ng-deep {
    li.kc-list-item {
      &:nth-child(even) {
        img {
          display: none;
        }
      }
    }

    #section-2 {
      display: none;
    }
  }
}
