@import 'sass/variables';

.modal-window {
  .modal-body{
    padding: 3rem 4rem;

    .confirm-image {
      height: 158px;
      width: 158px;
      background-color: $primary-light;
      border-radius: 50%;
      margin: 3rem auto;
      position: relative;

      .img-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 40%;
          height: 40%;
        }
      }
    }

    .modal-title {
      margin-bottom: 1.5rem;
    }
  }
}

::ng-deep {
  .modal-dialog {
    @media(max-width: 600px) {
      padding-top: 65px;
    }
  }
}
