@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/_variables.scss";
.quotator {
    padding: 0 20px;
}

.name-img-container {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 1rem 2rem 1rem 0;
    h1 {
        color: $text-color;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: normal;
        p {
            font-weight: 200;
            font-size: 15px;
            padding-top: 10px;
        }
    }
    img {
        max-width: 80px;
    }
}

.quotator.layout-yolo-es-es_db {
    .price-frequency {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-evenly;
        white-space: nowrap;
         ::ng-deep strong {
            font-size: 30px;
            font-weight: 400;
        }
    }
    .frequency_payment {
        color: $grey-dark;
    }
    .price {
        color: $primary;
        font-size: 30px;
    }
}

.description-img-container {
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
    padding: 1rem 1rem 0 0;
    .product-description {
        margin: 0;
    }
    img {
        max-width: 80px;
    }
}

.product-description {
    line-height: normal;
    margin-bottom: 1rem;
    font-size: 15px;
    margin-top: 0.5rem;
}

.card-section-title {
    font-size: 14px;
    margin-bottom: 8px;
}

.bg-operators {
    width: 45px;
    height: 42px;
    background-color: $primary-dark;
    cursor: pointer;
    border: 0;
    outline: none;
    border-radius: 8px;
    &.disabled {
        background-color: $grey-ligth;
        cursor: not-allowed;
    }
    .fa {
        color: white;
        font-size: 1rem;
    }
}

.quantity-input {
    border-radius: 8px;
    border: 1px solid #C0C0C0;
    height: 42px;
}

.choice {
    padding: 0 8px;
}

#rbm-pandemic.quotator {
    .choice {
        .package-btn {
            text-transform: uppercase;
        }
    }
}

.package-btn {
    color: $primary-dark;
    width: 100%;
    height: 45px;
    line-height: 44px;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid $primary-dark;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.package-btn:hover,
.package-btn:focus,
.selected {
    background-color: $primary-dark;
    color: #fff !important;
}

.provider-logo {
    height: auto;
    max-height: 40px;
    max-width: 85px;
    margin: 0.5rem 0 2rem;
}

.provider-text {
    font-size: 13px;
    text-align: center;
}

.product-download a {
    color: $primary;
    text-decoration: underline;
    font-size: 13px;
    margin-bottom: 1rem;
    display: block;
}

hr {
    border-color: $grey;
    border-width: 2px;
}

.purchase {
    margin-bottom: 2rem;
    align-items: center;
    justify-content: space-around;
}

.price {
    color: $primary-dark;
    font-weight: 900;
    font-size: 2rem;
    letter-spacing: -1px;
    .price-frequency-text {
        font-size: 1.5rem;
    }
    @media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
        font-size: 1.7rem;
    }
}

.submit-btn {
    color: white;
    background-color: $primary;
    text-transform: uppercase;
    outline: none;
    border: none;
    border-radius: 40px;
    width: 100%;
    padding: 12px 0;
}

// Banca Piacenza Styles
.quotator.layout-bancapc-it-it_db,
.quotator.layout-civibank_db,
  .layout-banco-desio_db {
    .insured-subjects {
        padding-left: 1rem;
        padding-right: 1rem;
        .bg-operators {
            border-radius: 0;
            background-color: $btn-bg-color;
            &.disabled {
                background-color: $grey-ligth;
                cursor: not-allowed;
            }
        }
        .quantity-input {
            border-radius: 0;
        }
    }
    .package-btn {
        color: $btn-bg-color;
        border-color: $btn-bg-color;
    }
    .package-btn:focus,
    .package-btn:hover,
    .package-btn.selected {
        background-color: $btn-bg-color;
        color: $btn-text-color;
        border-color: $btn-bg-color;
    }
    .submit-btn {
        background-color: $btn-bg-color;
        color: $btn-text-color;
        border-radius: 0;
        border-color: $btn-text-color;
    }
    .price-title-container {
        padding-right: 0;
        .price-title {
            font-weight: bold;
            font-size: 1.2rem;
        }
        .price-title-annual,
        .price-title-month {
            font-weight: normal;
            font-size: 0.9rem;
        }
        .price {
            line-height: 1;
            font-size: 1.4rem;
            @include media-breakpoint-up(sm) {
                font-size: 1.8rem;
            }
            @include media-breakpoint-up(md) {
                font-size: 1.25rem;
            }
            @include media-breakpoint-up(lg) {
                font-size: 1.5rem;
            }
            @include media-breakpoint-up(xl) {
                font-size: 1.8rem;
            }
        }
        .price-month {
            font-size: 1rem;
            display: inline-block;
        }
    }
}

// Civibank Font
.quotator.layout-civibank_db,
  .layout-banco-desio_db {
    .name-img-container h1 {
        font-family: 'HK Grotesk';
    }
    .inf-package {
        color: $primary-dark;
    }
}

// Yolo Styles
.quotator.layout-yolodb {
    .insured-subjects {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    &.net-pet {
        .name-img-container {
            padding: 1rem 0;
            h1 {
                text-transform: uppercase;
            }
        }
    }
    &.yolo-for-pet {
        .name-img-container {
            padding: 1rem 0;
            h1 {
                text-transform: uppercase;
            }
        }
        .price-frequency-text {
            font-size: 14px;
        }
    }
}

.quotator.layout-intesa_db {
    .insured-subjects {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .covid-addon-container {
        display: block;
    }
    .name-img-container>img {
        max-width: 66px !important;
    }
}

.quotator.layout-fca-bank_db {
    .name-img-container h1 {
        color: $text-color-dark;
    }
}

.covid-addon-container {
    display: none;
}

.covid-addon {
    background-color: $secondary-light;
    display: flex;
    flex-direction: row;
    padding: 14px;
    align-items: center;
    margin-bottom: 25px;
    .img-wrapper {
        img {
            width: 42px;
        }
    }
    .covid-addon-txt {
        justify-content: center;
        display: flex;
        span {
            font-size: 14px;
            color: $primary-dark;
            margin-left: 16px;
        }
    }
}
