@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/_variables.scss";

.step-title{
  &.civibank_db,
  &.banco-desio_db{
    font-size: 1.3rem;
    font-weight: bold;
  }
}

.all-field-require{
  font-size: 0.8rem;
}

.step-title-person {
  font-size: 1rem;
}

.contractor-is-insured {
  ::ng-deep p {
    margin-bottom: 0rem;
  }
}

.form-label-group input.arrow-select:not(:placeholder-shown)~label {
  left: 0;
}

.key {
  font-style: italic;
  font-size: 14px;
}
.helbiz_db{
  .checkbox:after{
    filter: invert(100%) saturate(700%) hue-rotate(180deg) brightness(30%) contrast(180%);
  }
}
.contractor-identity-radio{
  display: flex;
  flex-direction: column;
  gap:15px;
  .contractor-d-flex{
    gap:10px;
  }
  .contractor-id-radio-btn{
    height: 1.5rem;
    width: 1.5rem;
  }
}

.checkbox-box {
  position: absolute;
  left: 5px;
  top: -5px;
  & .animated-tick {
    stroke-dashoffset: 50;
    transition: stroke-dashoffset 0.2s ease-in;
  }
  & #checkmark-path {
    fill: none;
    stroke: $primary;
    stroke-width: 3.5999999;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: 48;
    stroke-opacity: 1;
  }
}

.tim-form-label-group {
    width: 100%;
    align-self: center;
    position: relative;
    margin: 0rem 0rem 1rem 0rem;
    & > input, > select {
      border: 2px solid #3592ff;
      background: #fff;
      border-radius: 0;
      padding: 0 0 0 1rem;
      font-size: 1rem;
    }
    & > label {
      position: absolute;
      top: -0.5rem;
      left: 0.5rem;
      font-size: 0.9rem;
      background: #fff;
      width: auto;
      color: #3592ff;
      border-radius: 0;
      padding: 0 5px 0 5px;
      height: min-content;
      z-index: 99;
      margin: 0 0 0 calc(0.5rem - 5px);
    }
    select:disabled {
      opacity: 0.5;
    }
  }
.contractor {
  font-size: 14px;
}

.form-big-checkbox.tim input:checked {
  & ~ .checkbox-box {
    & .checkmark-tick {
      display: block;
    }
    & .animated-tick {
      stroke-dashoffset: 0;
    }
  }
  & ~ .checkbox:after {
    display: none;
  }
}

input[type="checkbox"].tim {
  height: 25px;
  margin: 0;
  width: 25px;
  z-index: 9999;
  position: absolute;
  left: 0rem;
  &:hover {
    cursor: pointer;
  }
}
.step-title-imagin{
  &::first-letter {
    text-transform: capitalize;
  }
}


.santa-lucia_db {

  .santa-lucia-label {
    color: $light-black;
    position: absolute;
    margin: 0;
    inset-block-start: -.75rem;
    padding-inline: 6px !important;
    padding-block: 0;
    margin-inline-start: 6px !important;
    background-color: $white;
    width: fit-content;
    height: fit-content;
    font-size: initial !important;
    border: none;
  }

  .input-wrapper {
    border: none;
    border-radius: 0;
    background-color: $white;
    outline: 1px $grey solid;
    .form-control{
      font-size: 16px;
      font-weight: 700;
      color: $primary-extra-dark;
    }
    label{
      @extend .santa-lucia-label
    }

    // workaround
    height: 50px;
    input {
      height: 100%;
      &[type="time"]::-webkit-calendar-picker-indicator{
        margin: 0;
      }
    }
  }

  .form-label-group {
    label {
      @extend .santa-lucia-label
    }
  }

  select,
  input {
    border-radius: 0;
    &:not(:disabled) + label {
      background-color: $white;
    }
  }

  .form-control:focus + .form-control-placeholder,
  .form-control:valid + .form-control-placeholder,
  .form-control:disabled + .form-control-placeholder,
  .form-label-group input:focus ~ label,
  .form-label-group input:not(:placeholder-shown) ~ label,
  .form-label-group select ~ label {
    color: currentColor;
    transform: none;
    font-size: initial;
    margin: initial;
    padding: initial;
  }

  .form-label-group > input:disabled{
    background-color: $disabled-field;
  }
  .form-label-group > input {
    border-radius: 0;
    border: 1px solid $gray-border;
  }
  .form-label-group > label {
    color: $light-black;
  }

  &.step-title-imagin {
    color: $primary-extra-dark;
  }

  .mandatory-fields-imagin {
    text-align: end;
    font-size: 12px;
  }

}

.imagin-es-es_db {
  .step-title-person {
    text-transform: uppercase;
  }
}


.info-popover {
  background:transparent;
  line-height: 16px;
  outline: 0;
  width: 17px;
  height: 17px;
  border: 1px solid $grey-dark;
  cursor: pointer;
  font-size: 0.6rem;
  text-align: center;
}

.mandatory-fields {
  font-size: 12px;
  &.winter-sport-plus,
  &.winter-sport-premium{
    margin-bottom: 0 !important;
  }
}

.form-big-checkbox{
  &.winter-sport-plus,
  &.winter-sport-premium{
    .checkbox{
      top: 4px;
      width: 16px;
      height: 16px;
      border: 2px solid $grey;
      &::after{
        width: 16px;
        height: 16px;
      }
    }
  }
}
.icons-winter-sport{
  position: absolute;
  top: 15px;
  right: 15px;
}
