
<div class="row" [formGroup]="form" [ngClass]="tenant">
  <div class="col-12" *ngIf="(dataService.isTenant('imagin-es-es_db') || dataService.isTenant('santa-lucia_db')) && productCode !== 'chubb-deporte'">
    <h4 class="step-title" [ngClass]="tenant">
      {{('checkout.insured_subjects_s1' | translate | async | uppercase)}}
    </h4>
  </div>

  <div class="col-12" *ngIf="dataService.isTenant('helbiz_db')">
    <h4 class="step-title" [ngClass]="tenant">
      {{('checkout.insured_subjects_s1' | translate | async | uppercase)}}
    </h4>
    <p class="mandatory-fields" >*<i>{{'checkout.all_fields_required' | translate | async}}</i></p>
  </div>

  <div class="col-12" *ngIf="(dataService.isTenant('imagin-es-es_db') || dataService.isTenant('santa-lucia_db')) && productCode === 'chubb-deporte'">
    <h4 class="step-title-imagin" [ngClass]="tenant">{{'checkout.insured_subjects_data' | translate | async}} </h4>
    <p class="mandatory-fields-imagin" [hidden]="dataService.isTenant('santa-lucia_db')">*<i>{{'checkout.required_fields_imagin' | translate | async}}</i></p>
  </div>

  <div class="col-12" *ngIf="(dataService.isTenant('banca-sella_db') && (product === 'ge-ski-plus' || product === 'ge-ski-premium'))
                             || (product === 'winter-sport-plus' || product === 'winter-sport-premium')">
    <p class="step-title" [ngClass]="tenant"><strong>{{'checkout.who_are_you_ensuring' | translate | async}}</strong></p>
    <p class="mandatory-fields" [ngClass]="product"><span *ngIf="dataService.isTenant('banca-sella_db')">*</span><i>{{'checkout.all_fields_required' | translate | async}}</i></p>
  </div>

 <div class="col-12 mt-3 mb-3 contractor" *ngIf="!hideInsuredIsContractorCheck">
    <div *ngIf="!switchInsuiredIsContractor() && productCode !== 'timmysci' && productCode !=='htrv-premium' && productCode !=='htrv-basic'">
      <label for="contractorIsInsured" class="form-big-checkbox"
      [ngClass]="[dataService.tenantInfo.tenant, (productCode ? productCode : '')]">
        <div class="contractor-is-insured" *ngIf="dataService.tenantInfo.tenant !== 'banco-desio_db' && dataService.tenantInfo.tenant !== 'civibank_db' && productCode !== 'hpet-basic' && productCode !== 'hpet-prestige' && productCode !== 'hpet-vip'" [innerHTML]="((productCode !== 'winter-sport-plus' && productCode !== 'winter-sport-premium') ? ('checkout.contractor_is_insured_' | translate | async) : ('checkout.contractor_is_insured_winter' | translate | async))"></div>
        <div class="contractor-is-insured" *ngIf="(dataService.tenantInfo.tenant === 'banco-desio_db' || dataService.tenantInfo.tenant === 'civibank_db') && (productCode === 'hpet-basic' || productCode === 'hpet-prestige' || productCode === 'hpet-vip')" [innerHTML]="'checkout.insured_subjects_owner_animal' | translate | async"></div>
        <input stickyTriggerReset [targetId]="'stepperStickyBar,stickyBar'" type="checkbox"
          formControlName="contractorIsInsured" id="contractorIsInsured" class="form-check-input" data-cy="check1"
          (change)="handleContractorIsInsuredChange()">
        <span class="checkbox tim-checkbox"></span>
        <span *ngIf="dataService.tenantInfo.tenant === 'tim-broker-customers_db'">Il contraente coincide con l'assicurato</span>
      </label>
    </div>
    <ng-container *ngIf="productCode === 'timmysci'">
      <div class="form-big-checkbox tim" [ngClass]="dataService.tenantInfo.tenant" for="contractorIsInsured" >
        <input type="checkbox" id="contractorIsInsured" class="tim form-check-input" formControlName="contractorIsInsured"
        (change)="handleContractorIsInsuredChange()">
        <label for="contractorIsInsured">
          <span class="checkbox"></span>
          <div class="dynamic-link">{{'insured_data.check' | translate | async}}</div>
        </label>
        <div class="checkbox-box">
          <svg width="28.977079" height="21.808012" viewBox="0 0 28.977079 21.808012">
            <path class="animated-tick"
            d="M 1.8195415,13.337596 9.6337911,20.00808 27.159236,1.818512" id="checkmark-path" inkscape:connector-curvature="0"
            sodipodi:nodetypes="ccc">
            </path>
          </svg>
        </div>
      </div>
    </ng-container>

    <div *ngIf="switchInsuiredIsContractor()">
      <div class="switchbox">
      <label for="contractorIsInsuredSwitch" class="switch">
        <input stickyTriggerReset [targetId]="'stepperStickyBar,stickyBar'" type="checkbox"
          formControlName="contractorIsInsured" id="contractorIsInsuredSwitch" class="form-check-input" data-cy="check1"
          (change)="handleContractorIsInsuredChange()">
        <span class="slider-switch round"></span>
      </label>
      <p class="ml-2" *ngIf="dataService.tenantInfo.tenant !== 'imagin-es-es_db' && dataService.tenantInfo.tenant !== 'santa-lucia_db'"> {{'checkout.contractor_is_insured_2' | translate | async}}</p>
      <p class="ml-2" *ngIf="dataService.tenantInfo.tenant === 'imagin-es-es_db'"> {{'checkout_sci.contractor_is_insured' | translate | async}}</p>
      <p class="ml-2" *ngIf="dataService.tenantInfo.tenant === 'santa-lucia_db'"> {{'checkout.contractor_is_insured_sport' | translate | async}}</p>
      </div>
    </div>

    <div *ngIf="productCode ==='htrv-premium' || productCode ==='htrv-basic' && !switchInsuiredIsContractor()">
      <label for="contractorIsInsuredHelvetia" class="form-big-checkbox">
        <input stickyTriggerReset [targetId]="'stepperStickyBar,stickyBar'" type="checkbox"
          formControlName="contractorIsInsured" id="contractorIsInsuredHelvetia" class="form-check-input"
          data-cy="check1" (change)="handleContractorIsInsuredChange()">
        {{('checkout.contractor_is_traveler' | translate | async)}}
        <span class="checkbox"></span>
      </label>
    </div>
  </div>
  <div class="col-12 mt-2 mb-2" formArrayName="insuredSubjects">
    <div *ngFor="let insuredSubject of getFormSubjects().controls; let i = index;" (click)="getIndex(i)">
    <div [formGroupName]="i" class="row">
      <div class="col-12 mb-3">
        <h5 class="step-title-person" *ngIf="dataService.tenantInfo.tenant === 'tim-broker-customers_db'" >{{'insured_data.description' | translate | async}}{{othersInsuranceSubject ? i + 2 : i + 1}}</h5>
        <h5 class="step-title-person" *ngIf="dataService.tenantInfo.tenant === 'fca-bank_db'"
          [innerHTML]="'checkout.data_person_to_protect' | translate | async| uppercase"></h5>
        <h5 class="step-title-person" *ngIf="dataService.tenantInfo.tenant !== 'fca-bank_db'
        && productCode !== 'hpet-basic'
        && productCode !== 'hpet-prestige'
        && productCode !== 'hpet-vip'
        && dataService.tenantInfo.tenant !== 'imagin-es-es_db'
        && dataService.tenantInfo.tenant !== 'santa-lucia_db'
        && dataService.tenantInfo.tenant !== 'tim-broker-customers_db'">
          {{productCode === 'htrv-basic' || productCode === 'htrv-premium'
          ? ('checkout.data_traveler' | translate | async | uppercase)
          : ('checkout.person' | translate | async | uppercase)}} {{othersInsuranceSubject ? i + 2 : i + 1}}
        </h5>
        <div class="d-flex" *ngIf="(dataService.tenantInfo.tenant === 'banco-desio_db' || dataService.tenantInfo.tenant === 'civibank_db') && productCode !== 'htrv-basic' && productCode !== 'htrv-premium'">
          <h5 class="step-title-person"> {{
            ('checkout.insured_subjects' | translate | async | uppercase)}}
          </h5>
          <p *ngIf="productCode === 'hpet-basic' || productCode === 'hpet-prestige' || productCode === 'hpet-vip'"
            class="info-popover baloon info-char ml-2 rounded-circle p-0 font-weight-bold"
            placement="bottom" ngbPopover="{{('checkout.tooltip_insured_subjects' | translate | async)}}">i
          </p>
        </div>
        <h5 class="step-title-person" *ngIf="dataService.tenantInfo.tenant === 'imagin-es-es_db' || dataService.tenantInfo.tenant === 'santa-lucia_db'">
          {{('checkout.persone_diff' | translate | async)}} {{othersInsuranceSubject ? i + 2 : i + 1}}
        </h5>
        <span class="all-field-require" *ngIf="allFieldsRequired && dataService.isTenant('imagin-es-es_db') && productCode !== 'chubb-deporte'">
          <i>{{'checkout.all_fields_required' | translate | async}}</i>
        </span>
        <span class="all-field-require" *ngIf="allFieldsRequired 
        && (!dataService.isTenant('imagin-es-es_db') 
          && !dataService.isTenant('santa-lucia_db') 
          && !dataService.isTenant('civibank_db') 
          && !dataService.isTenant('banco-desio_db'))
        && productCode !== 'chubb-deporte' 
        && productCode !== 'winter-sport-plus' 
        && productCode !== 'winter-sport-premium'">
          <i>{{'checkout.all_fields_required' | translate | async}}</i>
        </span>
      </div>
      <div class="col-lg-6 col-12">
        <div class="tim-form-label-group" *ngIf="dataService.tenantInfo.tenant === 'tim-broker-customers_db'"
          [ngClass]="{'error-field': insuredSubject.controls.firstName && insuredSubject.controls.firstName.invalid && (insuredSubject.controls.firstName.dirty || insuredSubject.controls.firstName.touched) && insuredSubject.controls.firstName.errors && insuredSubject.controls.firstName.errors.required,
                         'warning-field': insuredSubject.controls.firstName && insuredSubject.controls.firstName.invalid && (insuredSubject.controls.firstName.dirty || insuredSubject.controls.firstName.touched) && insuredSubject.controls.firstName.errors && insuredSubject.controls.firstName.errors.pattern}">
          <input stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'" class="form-control"
            formControlName="firstName" id="firstName{{i}}"
            [attr.data-cy]="'chekout-step-info' | cy: 'insured-' + (i+1):'first-name'"
            type="text" required>
          <label class="form-big" for="firstName{{i}}">{{'forms.name' | translate | async}}</label>
          <div
            *ngIf="insuredSubject.controls.firstName && insuredSubject.controls.firstName.invalid && (insuredSubject.controls.firstName.dirty || insuredSubject.controls.firstName.touched)">
            <div class="error-message"
              *ngIf="insuredSubject.controls.firstName.errors && insuredSubject.controls.firstName.errors.required">
              {{ 'forms.mandatory_field' | translate | async }}
            </div>
            <div class="warning-message"
              *ngIf="insuredSubject.controls.firstName.errors && insuredSubject.controls.firstName.errors.pattern">
              {{ 'forms.firstname_invalid' | translate | async }}
            </div>
          </div>
        </div>
        <div class="form-label-group" *ngIf="dataService.tenantInfo.tenant !== 'tim-broker-customers_db'"
          [ngClass]="{'error-field': insuredSubject.controls.firstName && insuredSubject.controls.firstName.invalid && (insuredSubject.controls.firstName.dirty || insuredSubject.controls.firstName.touched) && insuredSubject.controls.firstName.errors && insuredSubject.controls.firstName.errors.required,
                         'warning-field': insuredSubject.controls.firstName && insuredSubject.controls.firstName.invalid && (insuredSubject.controls.firstName.dirty || insuredSubject.controls.firstName.touched) && insuredSubject.controls.firstName.errors && insuredSubject.controls.firstName.errors.pattern}">
          <input stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'" class="form-control"
            formControlName="firstName" id="firstName{{i}}" type="text"
            [attr.data-cy]="'chekout-step-info' | cy: 'insured-' + (i+1):'first-name'"
            placeholder="{{'FIRSTNAME'| translate | async}}" type="text" required>
          <label for="firstName{{i}}">{{'forms.name' | translate | async}}</label>
          <div
            *ngIf="insuredSubject.controls.firstName && insuredSubject.controls.firstName.invalid && (insuredSubject.controls.firstName.dirty || insuredSubject.controls.firstName.touched)">
            <div class="error-message"
              *ngIf="insuredSubject.controls.firstName.errors && insuredSubject.controls.firstName.errors.required">
              {{ 'forms.mandatory_field' | translate | async }}
            </div>
            <div class="warning-message"
              *ngIf="insuredSubject.controls.firstName.errors && insuredSubject.controls.firstName.errors.pattern">
              {{ 'forms.firstname_invalid' | translate | async }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="tim-form-label-group" *ngIf="dataService.tenantInfo.tenant === 'tim-broker-customers_db'"
          [ngClass]="{'error-field': insuredSubject.controls.lastName && insuredSubject.controls.lastName.invalid && (insuredSubject.controls.lastName.dirty || insuredSubject.controls.lastName.touched) && insuredSubject.controls.lastName.errors && insuredSubject.controls.lastName.errors.required,
                         'warning-field': insuredSubject.controls.lastName && insuredSubject.controls.lastName.invalid && (insuredSubject.controls.lastName.dirty || insuredSubject.controls.lastName.touched) && insuredSubject.controls.lastName.errors && insuredSubject.controls.lastName.errors.pattern}">
          <input stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'" class="form-control"
            formControlName="lastName" id="lastName{{i}}"
            [attr.data-cy]="'chekout-step-info' | cy: 'insured-' + (i+1):'last-name'"
            type="text" required>
          <label for="lastName{{i}}">{{'forms.surname' | translate | async}}</label>
          <div
            *ngIf="insuredSubject.controls.lastName && insuredSubject.controls.lastName.invalid && (insuredSubject.controls.lastName.dirty || insuredSubject.controls.lastName.touched)">
            <div class="error-message"
              *ngIf="insuredSubject.controls.lastName.errors && insuredSubject.controls.lastName.errors.required">
              {{ 'forms.mandatory_field' | translate | async}}
            </div>
            <div class="warning-message"
              *ngIf="insuredSubject.controls.lastName.errors && insuredSubject.controls.lastName.errors.pattern">
              {{ 'forms.lastname_invalid' | translate | async }}
            </div>
          </div>
        </div>
        <div class="form-label-group" *ngIf="dataService.tenantInfo.tenant !== 'tim-broker-customers_db'"
          [ngClass]="{'error-field': insuredSubject.controls.lastName && insuredSubject.controls.lastName.invalid && (insuredSubject.controls.lastName.dirty || insuredSubject.controls.lastName.touched) && insuredSubject.controls.lastName.errors && insuredSubject.controls.lastName.errors.required,
                         'warning-field': insuredSubject.controls.lastName && insuredSubject.controls.lastName.invalid && (insuredSubject.controls.lastName.dirty || insuredSubject.controls.lastName.touched) && insuredSubject.controls.lastName.errors && insuredSubject.controls.lastName.errors.pattern}">
          <input stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'" class="form-control"
            formControlName="lastName" id="lastName{{i}}"
            [attr.data-cy]="'chekout-step-info' | cy: 'insured-' + (i+1):'last-name'"
            placeholder="{{'LASTNAME'| translate | async}}" type="text" required>
          <label for="lastName{{i}}">{{'forms.surname' | translate | async}}</label>
          <div
            *ngIf="insuredSubject.controls.lastName && insuredSubject.controls.lastName.invalid && (insuredSubject.controls.lastName.dirty || insuredSubject.controls.lastName.touched)">
            <div class="error-message"
              *ngIf="insuredSubject.controls.lastName.errors && insuredSubject.controls.lastName.errors.required">
              {{ 'forms.mandatory_field' | translate | async}}
            </div>
            <div class="warning-message"
              *ngIf="insuredSubject.controls.lastName.errors && insuredSubject.controls.lastName.errors.pattern">
              {{ 'forms.lastname_invalid' | translate | async }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12" *ngIf="!hideBirthDate">
        <div class="tim-form-label-group"
          *ngIf="dataService.tenantInfo.tenant === 'tim-broker-customers_db'"
          [ngClass]="{'error-field':insuredSubject.controls.birthDate.touched && insuredSubject.controls.birthDate.errors && (insuredSubject.controls.birthDate.errors.required || (insuredSubject.controls.birthDate.errors.ngbDate && (insuredSubject.controls.birthDate.errors.ngbDate.requiredAfter || insuredSubject.controls.birthDate.errors.ngbDate.requiredBefore))),
                         'warning-field': insuredSubject.controls.birthDate.touched && insuredSubject.controls.birthDate.errors && insuredSubject.controls.birthDate.errors.ngbDate && insuredSubject.controls.birthDate.errors.ngbDate.invalid}">
          <label class="input-padding date-label">{{'forms.birthdate' | translate | async}}</label>
          <input stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'" type="text"
            class="form-control" (focus)="dBirth.toggle(); dBirth.navigateTo(maxBirthDate)"
            [attr.data-cy]="'chekout-step-info' | cy: 'insured-' + (i+1):'birth-date'" autocomplete="off"
            (dateSelect)="dBirth.close()" placeholder="{{'forms.date_time_placeholder' | translate | async}}"
            id="datepicker-test" ngbDatepicker #dBirth="ngbDatepicker" formControlName="birthDate"
            [minDate]="minBirthDate" [maxDate]="maxBirthDate" [startDate]="minBirthDate">
          <div class="error-message"
            *ngIf="insuredSubject.controls.birthDate.touched && insuredSubject.controls.birthDate.errors && insuredSubject.controls.birthDate.errors.required">
            {{ 'forms.mandatory_field' | translate | async }}
          </div>
          <div class="warning-message"
            *ngIf="insuredSubject.controls.birthDate.touched && insuredSubject.controls.birthDate.errors && insuredSubject.controls.birthDate.errors.ngbDate && insuredSubject.controls.birthDate.errors.ngbDate.invalid">
            {{ 'forms.date_invalid' | translate | async }}
          </div>
          <div class="error-message"
            *ngIf="insuredSubject.controls.birthDate.touched && insuredSubject.controls.birthDate.errors && insuredSubject.controls.birthDate.errors.ngbDate && (insuredSubject.controls.birthDate.errors.ngbDate.requiredBefore || insuredSubject.controls.birthDate.errors.ngbDate.requiredAfter)">
            <div
              *ngIf="insuredSubject.controls.birthDate.errors.ngbDate.requiredBefore && !(productCode === 'htrv-basic' || productCode === 'htrv-premium')">
              {{ 'forms.date_before' | translate | async }} {{ maxAgeBirthDate ? maxAgeBirthDate : minBirth }}
            </div>
            <div
              *ngIf="insuredSubject.controls.birthDate.errors.ngbDate.requiredBefore && (productCode === 'htrv-basic' || productCode === 'htrv-premium')">
              {{ 'forms.date_before_no_info_date' | translate | async }}
            </div>
            <div *ngIf="insuredSubject.controls.birthDate.errors.ngbDate.requiredAfter">
              {{ 'forms.date_after' | translate | async }} {{ maxBirthDate.day + "/" + maxBirthDate.month + "/" +
              maxBirthDate.year }}
            </div>
          </div>
        </div>
        <div class="input-wrapper input-wrapper-soft form-group container"
          *ngIf="dataService.tenantInfo.tenant !== 'tim-broker-customers_db' && dataService.tenantInfo.tenant !== 'banco-desio_db' && dataService.tenantInfo.tenant !== 'civibank_db'"
          [ngClass]="{'error-field':insuredSubject.controls.birthDate.touched && insuredSubject.controls.birthDate.errors && (insuredSubject.controls.birthDate.errors.required || (insuredSubject.controls.birthDate.errors.ngbDate && (insuredSubject.controls.birthDate.errors.ngbDate.requiredAfter || insuredSubject.controls.birthDate.errors.ngbDate.requiredBefore))),
                         'warning-field': insuredSubject.controls.birthDate.touched && insuredSubject.controls.birthDate.errors && insuredSubject.controls.birthDate.errors.ngbDate && insuredSubject.controls.birthDate.errors.ngbDate.invalid}">
          <label class="input-padding date-label">{{'forms.birthdate' | translate | async}}</label>
          <input stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'" type="text"
            class="form-control input-padding" (focus)="dBirth.toggle(); dBirth.navigateTo(maxBirthDate)"
            [attr.data-cy]="'chekout-step-info' | cy: 'insured-' + (i+1):'birth-date'" autocomplete="off"
            (dateSelect)="dBirth.close()" placeholder="{{'forms.date_time_placeholder' | translate | async}}"
            id="datepicker-test" ngbDatepicker #dBirth="ngbDatepicker" formControlName="birthDate"
            [minDate]="minBirthDate" [maxDate]="maxBirthDate" [startDate]="minBirthDate">
            <img  *ngIf="productCode === 'winter-sport-plus' || productCode === 'winter-sport-premium'" [src]="icon" class="icons-winter-sport"/>
          <div class="error-message"
            *ngIf="insuredSubject.controls.birthDate.touched && insuredSubject.controls.birthDate.errors && insuredSubject.controls.birthDate.errors.required">
            {{ 'forms.mandatory_field' | translate | async }}
          </div>
          <div class="warning-message"
            *ngIf="insuredSubject.controls.birthDate.touched && insuredSubject.controls.birthDate.errors && insuredSubject.controls.birthDate.errors.ngbDate && insuredSubject.controls.birthDate.errors.ngbDate.invalid">
            {{ 'forms.date_invalid' | translate | async }}
          </div>
          <div class="error-message"
            *ngIf="insuredSubject.controls.birthDate.touched && insuredSubject.controls.birthDate.errors && insuredSubject.controls.birthDate.errors.ngbDate && (insuredSubject.controls.birthDate.errors.ngbDate.requiredBefore || insuredSubject.controls.birthDate.errors.ngbDate.requiredAfter)">
            <div
              *ngIf="(dataService.tenantInfo.tenant !== 'banco-desio_db' && dataService.tenantInfo.tenant !== 'civibank_db') && insuredSubject.controls.birthDate.errors.ngbDate.requiredBefore && !(productCode === 'htrv-basic' || productCode === 'htrv-premium')">
              {{ 'forms.date_before' | translate | async }} {{minBirthDate.day + "/" + minBirthDate.month + "/" +
              minBirthDate.year }}
            </div>
            <div
              *ngIf="insuredSubject.controls.birthDate.errors.ngbDate.requiredBefore && (productCode === 'htrv-basic' || productCode === 'htrv-premium')">
              {{ 'forms.date_before_no_info_date' | translate | async }}
            </div>
            <div *ngIf="insuredSubject.controls.birthDate.errors.ngbDate.requiredAfter">
              {{ 'forms.date_after' | translate | async }} {{ maxBirthDate.day + "/" + maxBirthDate.month + "/" +
              maxBirthDate.year }}
            </div>
          </div>
        </div>

        <!-- Temporary if // To be removed -->
        <div class="input-wrapper input-wrapper-soft form-group container"
          *ngIf="tenant === 'banco-desio_db' || tenant === 'civibank_db'"
          [ngClass]="{'error-field': insuredSubject?.errors?.maxDateError || insuredSubject?.errors?.minDateError}">
          <label class="input-padding date-label">{{'forms.birthdate' | translate | async}}</label>
          <input stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'"
            type="date"
            class="form-control input-padding"
            autocomplete="off"
            placeholder="{{'forms.date_time_placeholder' | translate | async}}"
            id="datepicker-test"
            [min]="dateHelper.stringifyNgbDate(minBirthDate)"
            [max]="dateHelper.stringifyNgbDate(maxBirthDate)"
            formControlName="birthDate">
          <div class="error-message">
            <div *ngIf="insuredSubject?.errors?.maxDateError">
              {{ 'forms.date_after' | translate | async }}
              {{ maxBirthDate.day + "/" + maxBirthDate.month + "/" + maxBirthDate.year }}
            </div>
            <div *ngIf="insuredSubject?.errors?.minDateError">
            {{ 'forms.date_before' | translate | async }}
            {{minBirthDate.day + "/" + minBirthDate.month + "/" + minBirthDate.year }}
          </div>
          </div>
        </div>
        <!-- -- -->

      </div>
      <div class="col-12 col-lg-6" *ngIf="!hideFamilyGrade">
        <div class="input-wrapper input-wrapper-soft form-group container"
          [ngClass]="{'error-field': insuredSubject.controls.familyRelationship.touched && insuredSubject.controls.familyRelationship.errors && insuredSubject.controls.familyRelationship.errors.required}">
          <select stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'" id="select-familygrade{{i}}"
            class="form-control arrow-select" formControlName="familyRelationship" required
            [attr.data-cy]="'chekout-step-info' | cy: 'insured-' + (i+1):'family-grade'">
            <option [ngValue]="null"></option>
            <option value="spouse">{{'checkout.familygrade_spouse' | translate | async}}</option>
            <option value="son">{{'checkout.familygrade_son' | translate | async}}</option>
            <!-- <option *ngIf="!showFamilyGradeExtra"value="son">{{'checkout.familygrade_son' | translate | async}}</option> -->
            <!-- <option *ngIf="showFamilyGradeExtra" value="mum">{{'checkout.familygrade_mum' | translate | async}}</option>
            <option *ngIf="showFamilyGradeExtra" value="dad">{{'checkout.familygrade_dad' | translate | async}}</option>
            <option *ngIf="showFamilyGradeExtra" value="grandparents">{{'checkout.familygrade_grandparents' | translate | async}}</option> -->
            <option value="other">{{'checkout.familygrade_other' | translate | async}}</option>
          </select>
          <label for="select-familygrade{{i}}"
            class="form-control-placeholder pl-3" id="label-brand-select">
            {{'forms.family_grade' | translate | async}}
          </label>
          <div class="error-message"
            *ngIf="insuredSubject.controls.familyRelationship.touched && insuredSubject.controls.familyRelationship.errors && insuredSubject.controls.familyRelationship.errors.required">
            {{'forms.mandatory_field' | translate | async}}
          </div>
        </div>
      </div>
      <div class="col-12" *ngIf="dataService.isTenant('santa-lucia_db') && productCode === 'chubb-deporte'">
        <p class="mandatory-fields-imagin" >*{{'checkout.required_fields_imagin' | translate | async}}</p>
      </div>
      <div class="col-12 col-lg-6" *ngIf="extended || extendedPersonalOptional" 
      [hidden]="(dataService.tenantInfo.tenant === 'yolodb' 
      || dataService.tenantInfo.tenant === 'banca-sella_db') 
      && (product === 'ge-bike-plus' || product === 'ge-bike-premium'
        || product === 'ge-sport-plus' || product === 'ge-sport-premium' 
        || product === 'ge-travel-plus' || product === 'ge-travel-premium' 
        || product === 'ge-ski-seasonal-plus' 
        || product === 'ge-ski-seasonal-premium'
        || product === 'ge-holiday-house-plus' 
        || product === 'ge-holiday-house-premium') 
      || (product === 'winter-sport-plus' || product === 'winter-sport-premium')">
        <div class="form-label-group"
          [ngClass]="{'error-field': (insuredSubject.controls.taxcode && insuredSubject.controls.taxcode.invalid && (insuredSubject.controls.taxcode.dirty) || insuredSubject.controls.taxcode.touched) && insuredSubject.controls.taxcode.errors && insuredSubject.controls.taxcode.errors.required,
             'warning-field': insuredSubject.controls.taxcode && insuredSubject.controls.taxcode.invalid && (insuredSubject.controls.taxcode.dirty || insuredSubject.controls.taxcode.touched) && insuredSubject.controls.taxcode.errors && insuredSubject.controls.taxcode.errors.pattern}">
          <input stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'" class="form-control"
            formControlName="taxcode"  id="taxcode{{i}}" placeholder="{{'TAXCODE'| translate | async}}" type="text">
          <label for="taxcode{{i}}"> {{'forms.fiscal_code' | translate | async}} </label>
        </div>
      </div>
      <div class="col-12 col-lg-6" *ngIf="extended 
      && (dataService.tenantInfo.tenant === 'yolodb'  
        || dataService.tenantInfo.tenant === 'banca-sella_db') 
      && product === 'ge-bike-plus' 
      || product === 'ge-bike-premium'
      || product === 'ge-sport-plus' 
      || product === 'ge-sport-premium' 
      || product === 'ge-travel-plus' 
      || product === 'ge-travel-premium' 
      || product === 'ge-ski-seasonal-plus' 
      || product === 'ge-ski-seasonal-premium'
      || product === 'ge-holiday-house-plus' 
      || product === 'ge-holiday-house-premium' 
      || (product === 'winter-sport-plus' 
        || product === 'winter-sport-premium')">
        <div class="input-wrapper input-wrapper-soft form-group container"
          [ngClass]="{'error-field': (insuredSubject.controls.gender && insuredSubject.controls.gender.invalid && (insuredSubject.controls.gender.dirty) || insuredSubject.controls.gender.touched) && insuredSubject.controls.gender.errors && insuredSubject.controls.gender.errors.required,
             'warning-field': insuredSubject.controls.gender && insuredSubject.controls.gender.invalid && (insuredSubject.controls.gender.dirty || insuredSubject.controls.gender.touched) && insuredSubject.controls.gender.errors && insuredSubject.controls.gender.errors.pattern}">
             <select class="form-control" [(value)]="gender" formControlName="gender" placeholder="Sesso">
                <option selected="selected" hidden>Sesso</option>
                <option *ngFor="let gender of sexes" (value)="gender">{{gender.value}}</option>
              </select>
            </div>
        </div>
      <div class="col-12 col-lg-6" *ngIf="extended">
        <div class="input-wrapper input-wrapper-soft form-group container"
          [ngClass]="{'error-field': insuredSubject.get('birthCountry').invalid && insuredSubject.get('birthCountry').touched }">
          <select stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'" id="birthCountry" type="text"
            class="form-control input-padding" formControlName="birthCountry"
            [ngClass]="(product !== 'winter-sport-plus' && product !== 'winter-sport-premium') ? 'arrow-select' : ''"
            (ngModelChange)="toggleEnable($event, 'birthState', insuredSubject)" [compareWith]="customCompare">
            <option [ngValue]="null" class="placeholder">{{'forms.birth_country' | translate | async}}</option>
            <option *ngFor="let bCountry of countries" [ngValue]="bCountry">{{ bCountry.name }}</option>
          </select>
          <label *ngIf="!birthCountryKey()" for="birthCountry"
            class="form-control-placeholder pl-3">{{'forms.birth_country' | translate | async}}
          </label>
          <label *ngIf="birthCountryKey()" for="birthCountry"
            class="form-control-placeholder pl-3">{{'checkout.birth_country' | translate | async}}
          </label>
          <div [hidden]="!(insuredSubject.get('birthCountry').invalid && insuredSubject.get('birthCountry').touched)"
            class="error-message">{{'forms.mandatory_field' | translate | async}}
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6" *ngIf="extended">
        <div class="input-wrapper input-wrapper-soft form-group container"
          [ngClass]="{'error-field': insuredSubject.get('birthState').invalid && insuredSubject.get('birthState').touched }">
          <select stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'" id="birthState" type="text"
            class="form-control input-padding" formControlName="birthState"
            [ngClass]="(product !== 'winter-sport-plus' && product !== 'winter-sport-premium') ? 'arrow-select' : ''"
            (ngModelChange)="toggleEnable($event, 'birthCity', insuredSubject)" [compareWith]="customCompare">
            <option [ngValue]="null">{{'forms.birth_state' | translate | async}}</option>
            <option *ngFor="let bState of insuredSubject.get('birthStates').value" [ngValue]="bState">{{ bState.name }}
            </option>
          </select>
          <label for="birthState" class="form-control-placeholder pl-3">{{'forms.birth_state' | translate | async}}
          </label>
          <div [hidden]="!(insuredSubject.get('birthState').invalid && insuredSubject.get('birthState').touched)"
            class="error-message">{{'forms.mandatory_field' | translate | async}}
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6" *ngIf="extended">
        <div class="input-wrapper input-wrapper-soft form-group container"
          [ngClass]="{'error-field': insuredSubject.get('birthCity').invalid && insuredSubject.get('birthCity').touched }">
          <select stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'" id="birthCity" type="text"
            class="form-control input-padding" formControlName="birthCity" value="Città di nascita"
            [ngClass]="(product !== 'winter-sport-plus' && product !== 'winter-sport-premium') ? 'arrow-select' : ''"
            [compareWith]="customCompare">
            <option [ngValue]="null">{{'forms.birth_city' | translate | async}} </option>
            <option *ngFor="let bCity of insuredSubject.get('birthCities').value" [ngValue]="bCity">{{ bCity.name }}
            </option>
          </select>
          <label for="birthCity" class="form-control-placeholder pl-3">{{'forms.birth_city' | translate | async}}
          </label>
          <div [hidden]="!(insuredSubject.get('birthCity').invalid && insuredSubject.get('birthCity').touched)"
            class="error-message">{{'forms.mandatory_field' | translate | async}}
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6" *ngIf="personalExtraData || extendedPersonalOptional">
        <div class="form-label-group"
          [ngClass]="{'error-field': insuredSubject.controls.email && insuredSubject.controls.email.invalid && (insuredSubject.controls.email.dirty || insuredSubject.controls.email.touched) && insuredSubject.controls.email.errors && insuredSubject.controls.email.errors.required,
                         'warning-field': insuredSubject.controls.email && insuredSubject.controls.email.invalid && (insuredSubject.controls.email.dirty || insuredSubject.controls.email.touched) && insuredSubject.controls.email.errors && insuredSubject.controls.email.errors.pattern}">
          <input stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'" class="form-control"
            formControlName="email" id="email" placeholder="{{'forms.email'| translate | async}}" type="text" required>
          <label for="email">{{'forms.email' | translate | async}}</label>
          <div
            *ngIf="insuredSubject.controls.email && insuredSubject.controls.email.invalid && (insuredSubject.controls.email.dirty || insuredSubject.controls.email.touched)">
            <div class="error-message"
              *ngIf="insuredSubject.controls.email.errors && insuredSubject.controls.email.errors.required">
              {{ 'forms.mandatory_field' | translate | async}}
            </div>
            <div class="warning-message"
              *ngIf="insuredSubject.controls.email.errors && insuredSubject.controls.email.errors.pattern">
              {{ 'forms.email_invalid' | translate | async }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6" *ngIf="personalExtraData || extendedPersonalOptional">
        <div class="form-label-group"
          [ngClass]="{'error-field': insuredSubject.controls.phone && insuredSubject.controls.phone.invalid && (insuredSubject.controls.phone.dirty || insuredSubject.controls.phone.touched) && insuredSubject.controls.phone.errors && insuredSubject.controls.phone.errors.required,
                         'warning-field': insuredSubject.controls.phone && insuredSubject.controls.phone.invalid && (insuredSubject.controls.phone.dirty || insuredSubject.controls.phone.touched) && insuredSubject.controls.phone.errors && insuredSubject.controls.phone.errors.pattern}">
          <input stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'" class="form-control"
            formControlName="phone" id="phone" placeholder="{{'forms.telephone_number'| translate | async}}"
            type="text">
          <label for="phone">{{'forms.telephone_number' | translate | async}}</label>
          <div
            *ngIf="insuredSubject.controls.phone && insuredSubject.controls.phone.invalid && (insuredSubject.controls.phone.dirty || insuredSubject.controls.phone.touched)">
            <div class="error-message"
              *ngIf="!cfValue">
              {{ 'forms.mandatory_field' | translate | async}}
            </div>
            <div class="warning-message"
              *ngIf="insuredSubject.controls.phone.errors && insuredSubject.controls.phone.errors.pattern">
              {{ 'forms.wrong_format' | translate | async }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6" *ngIf="residentialData">
        <div class="form-label-group"
          [ngClass]="{'error-field': insuredSubject.controls.residentialAddress && insuredSubject.controls.residentialAddress.invalid && (insuredSubject.controls.residentialAddress.dirty || insuredSubject.controls.residentialAddress.touched) && insuredSubject.controls.residentialAddress.errors && insuredSubject.controls.residentialAddress.errors.required,
                         'warning-field': insuredSubject.controls.residentialAddress && insuredSubject.controls.residentialAddress.invalid && (insuredSubject.controls.residentialAddress.dirty || insuredSubject.controls.residentialAddress.touched) && insuredSubject.controls.residentialAddress.errors && insuredSubject.controls.residentialAddress.errors.pattern}">
          <input stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'" class="form-control"
            formControlName="residentialAddress" id="residentialAddress" placeholder="Indirizzo di residenza"
            type="text" required>
          <label for="residentialAddress">{{'forms.address' | translate | async}}</label>
          <div
            *ngIf="insuredSubject.controls.residentialAddress && insuredSubject.controls.residentialAddress.invalid && (insuredSubject.controls.residentialAddress.dirty || insuredSubject.controls.residentialAddress.touched)">
            <div class="error-message"
              *ngIf="insuredSubject.controls.residentialAddress.errors && insuredSubject.controls.residentialAddress.errors.required">
              {{ 'forms.mandatory_field' | translate | async}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6" *ngIf="residentialData">
        <div class="form-label-group"
          [ngClass]="{'error-field': insuredSubject.controls.postCode && insuredSubject.controls.postCode.invalid && (insuredSubject.controls.postCode.dirty || insuredSubject.controls.postCode.touched) && insuredSubject.controls.postCode.errors && insuredSubject.controls.postCode.errors.required,
                         'warning-field': insuredSubject.controls.postCode && insuredSubject.controls.postCode.invalid && (insuredSubject.controls.postCode.dirty || insuredSubject.controls.postCode.touched) && insuredSubject.controls.postCode.errors && insuredSubject.controls.postCode.errors.pattern}">
          <input stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'" class="form-control"
            formControlName="postCode" id="postCode" placeholder="CAP" maxlength="5" type="text" required>
          <label for="postCode">{{ 'forms.cap' | translate | async }}</label>
          <div
            *ngIf="insuredSubject.controls.postCode && insuredSubject.controls.postCode.invalid && (insuredSubject.controls.postCode.dirty || insuredSubject.controls.postCode.touched)">
            <div class="error-message"
              *ngIf="insuredSubject.controls.postCode.errors && insuredSubject.controls.postCode.errors.required">
              {{ 'forms.mandatory_field' | translate | async}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6" *ngIf="!residentialCountrySelectable && onlyResidentialCountry">
        <div class="form-label-group">
          <input stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'"
            class="form-control input-padding" formControlName="residentialCountry"
            [ngClass]="(product !== 'winter-sport-plus' && product !== 'winter-sport-premium') ? 'arrow-select' : ''"
            id="residentialCountrySelectable" [value]="defaultCountry?.name"
            placeholder="{{'forms.residential_country' | translate | async}}*" type="text" required>
          <label for="residentialCountrySelectable" class="form-control-placeholder">
            {{ 'forms.residential_country' | translate | async }}
          </label>
        </div>
      </div>
      <div class="col-12 col-lg-6" *ngIf="residentialCountrySelectable">
        <div class="input-wrapper input-wrapper-soft form-group container"
          [ngClass]="{'error-field': insuredSubject.controls.residentialCountry && insuredSubject.controls.residentialCountry.invalid && insuredSubject.controls.residentialState.touched }">
          <select stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'" id="residentialCountryNotSelectable"
            type="text" class="form-control arrow-select input-padding" formControlName="residentialCountry"
            (ngModelChange)="toggleEnable($event, 'residentialState', insuredSubject)" [compareWith]="customCompare">
            <option [ngValue]="null" class="placeholder">{{'forms.residential_country' | translate | async}}</option>
            <option *ngFor="let rCountry of countries" [ngValue]="rCountry">{{ rCountry.name }}</option>
          </select>
          <label for="residentialCountryNotSelectable"
            class="form-control-placeholder pl-3">{{'forms.residential_country' | translate | async}}
          </label>
          <div
            [hidden]="!(insuredSubject.controls.residentialCountry && insuredSubject.controls.residentialCountry.invalid && insuredSubject.controls.residentialCountry.touched)"
            class="error-message">{{ 'forms.mandatory_field' | translate | async }}
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6" *ngIf="residentialData && residentialCountrySelectable">
        <div class="input-wrapper input-wrapper-soft form-group container"
          [ngClass]="{'error-field': insuredSubject.controls.residentialState && insuredSubject.controls.residentialState.invalid && insuredSubject.controls.residentialState.touched }">
          <select stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'" id="residentialStateWithSelected"
            type="text" class="form-control input-padding" formControlName="residentialState"
            [ngClass]="(product !== 'winter-sport-plus' && product !== 'winter-sport-premium') ? 'arrow-select' : ''"
            (ngModelChange)="toggleEnable($event, 'residentialCity', insuredSubject)" [compareWith]="customCompare">
            <option [ngValue]="null">{{'forms.residential_state' | translate | async}}</option>
            <option *ngFor="let rState of insuredSubject.get('residentialStates').value" [ngValue]="rState">{{
              rState.name }}</option>
          </select>
          <label for="residentialStateWithSelected" class="form-control-placeholder pl-3">{{'forms.residential_state' |
            translate | async}} </label>
          <div
            [hidden]="!(insuredSubject.controls.residentialState && insuredSubject.controls.residentialState.invalid && insuredSubject.controls.residentialState.touched)"
            class="error-message">{{ 'forms.mandatory_field' | translate | async }}
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6" *ngIf="residentialData && !residentialCountrySelectable">
        <div class="input-wrapper input-wrapper-soft form-group container"
          [ngClass]="{'error-field': insuredSubject.controls.residentialState && insuredSubject.controls.residentialState.invalid && insuredSubject.controls.residentialState.touched }">
          <select stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'"
            id="residentialStateCountryNotSelectable" type="text" class="form-control input-padding"
            [ngClass]="(product !== 'winter-sport-plus' && product !== 'winter-sport-premium') ? 'arrow-select' : ''"
            formControlName="residentialState" (ngModelChange)="toggleEnable($event, 'residentialCity', insuredSubject)"
            [compareWith]="customCompare">
            <option [ngValue]="null">{{'forms.residential_state' | translate | async}}</option>
            <option *ngFor="let state of residentialStates" [ngValue]="state">{{ state.name }}</option>
          </select>
          <label for="residentialStateCountryNotSelectable"
            class="form-control-placeholder pl-3">{{'forms.residential_state' | translate | async}} </label>
          <div
            [hidden]="!(insuredSubject.controls.residentialState && insuredSubject.controls.residentialState.invalid && insuredSubject.controls.residentialState.touched)"
            class="error-message">{{ 'forms.mandatory_field' | translate | async }}
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6" *ngIf="residentialData && residentialCityWithSelect">
        <div class="input-wrapper input-wrapper-soft form-group container"
          [ngClass]="{'error-field': insuredSubject.controls.residentialCity && insuredSubject.controls.residentialCity.invalid && (insuredSubject.controls.residentialCity.dirty || insuredSubject.controls.residentialCity.touched) && insuredSubject.controls.residentialCity.errors && insuredSubject.controls.residentialCity.errors.required,
                         'warning-field': insuredSubject.controls.residentialCity && insuredSubject.controls.residentialCity.invalid && (insuredSubject.controls.residentialCity.dirty || insuredSubject.controls.residentialCity.touched) && insuredSubject.controls.residentialCity.errors && insuredSubject.controls.residentialCity.errors.pattern}">
          <select stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'" id="residentialCityWithSelected"
            type="text" class="form-control input-padding" formControlName="residentialCity"
            [ngClass]="(product !== 'winter-sport-plus' && product !== 'winter-sport-premium') ? 'arrow-select' : ''"
            value="Città di residenza" [compareWith]="customCompare">
            <option [ngValue]="null">{{'forms.residential_city' | translate | async}} </option>
            <option *ngFor="let rCity of insuredSubject.get('residentialCities').value" [ngValue]="rCity">{{ rCity.name
              }}</option>
          </select>
          <label class="form-control-placeholder pl-3" for="residentialCity">{{ 'forms.residential_city' | translate |
            async }}</label>
          <div
            *ngIf="insuredSubject.controls.residentialCity && insuredSubject.controls.residentialCity.invalid && (insuredSubject.controls.residentialCity.dirty || insuredSubject.controls.residentialCity.touched)">
            <div class="error-message"
              *ngIf="insuredSubject.controls.residentialCity.errors && insuredSubject.controls.residentialCity.errors.required">
              {{ 'forms.mandatory_field' | translate | async}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6" *ngIf="residentialData && !residentialCityWithSelect">
        <div class="form-label-group"
          [ngClass]="{'error-field': insuredSubject.controls.residentialCity && insuredSubject.controls.residentialCity.invalid && (insuredSubject.controls.residentialCity.dirty || insuredSubject.controls.residentialCity.touched) && insuredSubject.controls.residentialCity.errors && insuredSubject.controls.residentialCity.errors.required,
                         'warning-field': insuredSubject.controls.residentialCity && insuredSubject.controls.residentialCity.invalid && (insuredSubject.controls.residentialCity.dirty || insuredSubject.controls.residentialCity.touched) && insuredSubject.controls.residentialCity.errors && insuredSubject.controls.residentialCity.errors.pattern}">
          <input stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'" class="form-control"
            formControlName="residentialCity" id="residentialCity" placeholder="Città di residenza*" type="text"
            required>
          <label for="residentialCity">{{ 'forms.residential_city' | translate | async }}</label>
          <div
            *ngIf="insuredSubject.controls.residentialCity && insuredSubject.controls.residentialCity.invalid && (insuredSubject.controls.residentialCity.dirty || insuredSubject.controls.residentialCity.touched)">
            <div class="error-message"
              *ngIf="insuredSubject.controls.residentialCity.errors && insuredSubject.controls.residentialCity.errors.required">
              {{ 'forms.mandatory_field' | translate | async}}
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6" *ngIf="extended  && (((dataService.tenantInfo.tenant === 'yolodb' || dataService.tenantInfo.tenant === 'banca-sella_db') && product === 'ge-bike-plus' || product === 'ge-bike-premium'
            || product === 'ge-sport-plus' || product === 'ge-sport-premium' || product === 'ge-travel-plus' || product === 'ge-travel-premium' || product === 'ge-ski-seasonal-plus' || product === 'ge-ski-seasonal-premium'
            || product === 'ge-holiday-house-plus' || product === 'ge-holiday-house-premium') || (product === 'winter-sport-plus' || product === 'winter-sport-premium'))">
        <div class="form-label-group" [hidden]="insuredSubject.controls.taxcode.disabled"
          [ngClass]="{'error-field': (insuredSubject.controls.taxcode && insuredSubject.controls.taxcode.invalid && (insuredSubject.controls.taxcode.dirty) || insuredSubject.controls.taxcode.touched) && insuredSubject.controls.taxcode.errors && insuredSubject.controls.taxcode.errors.required,
             'warning-field': insuredSubject.controls.taxcode && insuredSubject.controls.taxcode.invalid && (insuredSubject.controls.taxcode.dirty || insuredSubject.controls.taxcode.touched) && insuredSubject.controls.taxcode.errors && insuredSubject.controls.taxcode.errors.pattern}">
          <input stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'" class="form-control"
            formControlName="taxcode" id="taxcode{{i}}" placeholder="{{'taxcodeField'}}" type="text" maxlength="16">
          <label for="taxcode{{i}}"> {{'forms.fiscal_code' | translate | async}} </label>
            <div *ngIf="insuredSubject.controls.taxcode && insuredSubject.controls.taxcode.invalid && (insuredSubject.controls.taxcode.dirty || insuredSubject.controls.taxcode.touched)">
              <div class="error-message"
                  *ngIf="insuredSubject.controls.taxcode.errors && insuredSubject.controls.taxcode.errors.required">
                {{ 'forms.mandatory_field' | translate | async}}
              </div>
              <div class="error-message" [ngClass]="{'d-none':(insuredSubject.controls.taxcode.errors && insuredSubject.controls.taxcode.errors.pattern)}">
                {{ 'forms.taxcode_invalid' | translate | async }}
                </div>
              <div class="warning-message"
                *ngIf="insuredSubject.controls.taxcode.errors && insuredSubject.controls.taxcode.errors.pattern">
                {{ 'forms.taxcode_invalid' | translate | async }}
              </div>
            </div>
        </div>
      </div>
</div>
</div>
</div>
</div>

  <div *ngIf="checkboxes.ageConfirm" class="col-12">
    <label for="dataTreatment" class="form-big-checkbox" [ngClass]="dataService.tenantInfo.tenant">
      <input type="checkbox" formControlName="dataTreatment"
             id="dataTreatment"
             class="form-check-input"
             (click)="getValueFromCheckBoxDataTreatment($event.target)">
             <p [innerHTML]="kenticValue.value[0].text.value"></p>
      <span class="checkbox"></span>
    </label>
  </div>
  <div *ngIf="checkboxes.dataTreatment" class="col-12">
    <label for="ageConfirm" class="form-big-checkbox" [ngClass]="dataService.tenantInfo.tenant" required>
      <input type="checkbox" formControlName="ageConfirm"
             id="ageConfirm"
             class="form-check-input"
             (click)="getValueFromCheckBoxageConfirmAgeConfirm($event.target)">
             {{kenticValue.value[1].text.value}}
      <span class="checkbox"></span>
    </label>
  </div>

  <div *ngIf="checkCountryApex()" class="col-12 key">
    <span>{{ 'checkout.birth_country_key' | translate | async}}</span>
  </div>
