@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/_variables.scss";
.container.rounded {
  @media (max-width: 768px) {
    padding: 0;
  }
}
.chebanca_db{
  .tab-title{
    display: none;
  }
}
.info-bar {
  background-color: $background-added-warranty;
  &.chebanca_db {
    background-color: #454545;
    color: $white;
  }
  @media (max-width: 768px) {
    margin: 0;
    padding: 1rem;
    border-radius: 0 !important;
  }
  .info-bar-title {
    border-right: 1px solid $grey-ligth;
    padding: 0.5rem 3rem;
    @media (max-width: 768px) {
      padding: 0;
      margin: 0 !important;
    }
    h6 {
      font-weight: bold;
      @media (max-width: 768px) {
        font-size: 14.2px;
        margin-bottom: 3.2px;
      }
    }
    .tab-subtitle {
      color: $primary;
      font-weight: 400;
      @media (max-width: 768px) {
        p {
          margin-bottom: 0 !important;
          font-size: 14.2px;
          font-weight: 500;
        }
      }
    }
  }
  .info-bar-price {
    padding: 2rem 3rem;
    @media (max-width: 768px) {
      padding: 0;
      top: 5px;
    }
    span {
      font-size: 2rem;
      color: $primary;
      @media (max-width: 768px) {
        font-size: 21.3px;
      }
    }
  }
  .close-button {
    justify-content: flex-end;
    padding: 2rem 3rem;
    @media (max-width: 768px) {
      padding: 0;
      top: 5px;
    }
    .close-img {
      width: 42px;
      height: 42px;
      flex-grow: 0;
      object-fit: contain;
      float: right;
      cursor: pointer;
      img {
        @media (max-width: 768px) {
          width: 25px;
          height: 25.5px;
          float: right;
        }
      }
    }
  }
}

.content {
  max-height: 560px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  @media (max-width: 768px) {
    max-height: 17rem;
  }
}

.buttons {
  justify-content: space-between;
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
    margin-right: 0;
    margin-left: 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1020px)  {
    justify-content: space-between;
    margin-right: 0;
    margin-left: 0;
  }
  .btn-buy {
    @media (max-width: 768px) {
      margin-top: 16px !important;
    }
  }
  .btn-edit {
    @media (max-width: 768px) {
      margin-bottom: 0 !important;
    }
  }
}
.guarantees {
  @media (max-width: 768px) {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
.addon-icon {
  object-fit: contain;
  @media (max-width: 768px) {
    margin-left: -15px;
  }
  img {
    width: 40px;
    margin: 1.4rem 0.7rem 0 1.4rem;
    @media screen and (min-width: 260px) and (max-width: 320px){
      width: 40px;
      margin: 1.4rem 0.7rem 0 0.6rem;
    }
  }
}
.section-title {
  margin-bottom: 1rem;
}
.description {
  padding: 0;
  width: 95%;
  @media (max-width: 768px) {
    padding: 0;
  }
}
.franchise-ceiling {
  padding: 0;
  margin-bottom: 25px;
  @media (max-width: 768px) {
    padding: 0;
    left: 8.33333% !important;
    margin-bottom: 14px;
  }
}
.section-price {
  text-transform: uppercase;
}

.ceiling {
  font-size: 14.2px;
  @media (max-width: 768px) {
    font-size: 14.2px;
  }
}

.accordion {
  @media (max-width: 768px) {
    padding: 0;
  }
}
.accordion-title {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px !important;
  @media (max-width: 768px) {
    margin-top: 18px;
    margin-bottom: 0px !important;
    left: 8.3333% !important;
  }
  .addon-name {
    @media (max-width: 768px) {
    }
    h3 {
      font-size: 16px;
      @media (max-width: 768px) {
        margin-bottom: 0 !important;
      }
    }
  }

  i {
    padding: 0;
    color: #4a4a4a;
    @media (max-width: 768px) {
      padding-right: 0.5rem;
      align-self: center;
    }
  }
}

.arrow-left {
  height: 13px;
  width: 8px;
  transform: scaleY(-1) rotate(90deg);
  background-color: #4a4a4a;
}

.no-icon {
  margin-left: 17px;
}

.list-title {
  margin-left: 24px;
}

.our-offer {
  margin-left: 10px;
  text-decoration: underline;
}
.bottom {
  margin-bottom: 100px;
}

ul {
  margin-left: -8px;
}

.padding {
  padding-left: 25px;
  margin-bottom: 10rem;
}

.submit-btn {
  color: $primary;
  text-transform: uppercase;
  outline: 0;
  border: none;
  border-radius: 40px;
  width: 100%;
  padding: 12px 0;

  &.edit {
    background-color: $primary;
    color: white;
    &.chebanca_db {
      font-weight: 700;
      color: $text-color;
    }
  }

  &.buy {
    background-color: white;
    color: $primary;
    border: 1.5px solid $primary;
    &.chebanca_db {
      font-weight: 700;
      color: $text-color;
      border: 1.5px solid $text-color;
    }
  }
  .chevron-down {
    width: 16px;
    height: 8.6px;
    flex-grow: 0;
    margin: 41.3px 108px 38px 1068px;
    transform: rotate(90deg);
    background-color: #4a4a4a;
  }
}
