<div class="container rounded">
  <div class="row info-bar rounded" [ngClass]="dataService.tenantInfo.tenant">
    <div class="col-5 info-bar-title mb-2 mt-4">
      <h6 class="tab-title">{{proposal.title}}</h6>
      <span class="tab-subtitle">
        <p>{{proposal.subtitle}}</p>
      </span>
    </div>
    <div class="col-4 info-bar-price">
      <span><b>{{proposal.price}}€</b></span>
    </div>
    <div class="col-3 close-button" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true" class="close-img">
        <img [src]="proposal.closeProposalDetail">
      </span>
    </div>
  </div>
  <div class="content">
    <ng-container *ngFor="let addon of selectedPack; let i = index">
      <ng-container *ngIf="addon.selezionata">
        <div class="row mb-4 guarantees">
          <div class="col-2 addon-icon">
            <img src="{{addon.image}}" alt="img">
          </div>
          <div class="col-10 flex-nowrap align-items-center accordion collapsed" data-toggle="collapse"
            attr.href="#collapseExample-{{i}}" role="button" aria-expanded="false" aria-controls="collapseExample">
            <div class="col-11 p-0 accordion-title mb-4">
              <div class="addon-name ">
                <h3 class="section-title">{{addon.name}}</h3>
              </div>
              <i class="fa fa-chevron-down"></i>
            </div>
            <div class="col-12 collapse description" id="collapseExample-{{i}}">
              <div class="col-10 franchise-ceiling">
                <span *ngIf="addon.franchigia" class="section-price">FRANCHIGIA €{{addon.franchigia}} |
                </span>
                <span class="ceiling">MASSIMALE {{getCurrencySymbolDot(addon.importoMassimaleAssicurato)}}€</span>
              </div>
              <span [innerHtml]="addon.description"></span>
            </div>
          </div>
        </div>
        <hr>
      </ng-container>
    </ng-container>
  </div>
  <div class="row buttons">
    <div class="col-md-4 mb-4 mt-4 btn-buy">
      <button [ngClass]="dataService.tenantInfo.tenant"
               class="submit-btn buy" (click)="activeModal.dismiss('buy')">{{proposal.buyBtn}}</button>
    </div>
    <div class="col-md-4 mb-4 mt-4 btn-edit">
      <button [ngClass]="dataService.tenantInfo.tenant"
               class="submit-btn edit" (click)="activeModal.close('edit')">{{proposal.customizeBtn}}</button>
    </div>
  </div>
</div>
