@import "~sass/variables";

.optional-warranty-container {
  margin-top: 3rem;

  .container {
    border: 1px solid lightgrey;
    padding: 2rem;
    position: relative;
    overflow: hidden;

    .list-warranty {
      position: relative;

      .warranty {
        margin-bottom: 10px;
        padding-right: 15px;
      }

    }

    .title {
      font-size: 1rem;
    }
  }
}
