<div class="optional-warranty-container" data-cy="optional-warranty__container" [ngClass]="data.container_class">
  <div class="container">
    <div class="bg-circle-card"></div>
    <h2 class="title">{{data.title}}</h2>
    <p class="description" [innerHTML]="data.description"></p>
    <div class="list-warranty row">
      <div class="col-12 col-sm-6 col-lg-4" *ngFor="let warranty of data.list_optional_warranty">
        <div class="d-flex">
          <img class="warranty" [src]="warranty.check_icon">
          <h3 class="title">{{warranty.name}}</h3>
          <p [innerHtml]="warranty.description" *ngIf="!warranty.description"></p>
        </div>
      </div>
    </div>
  </div>
</div>
