@import '../../../../sass/variables';

:host ::ng-deep .hosted-field {
  height: 55px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #ced4da;
  -webkit-transition: border-color 160ms;
  transition: border-color 160ms;
  padding: 10px;
}

.payment-wallet-steps ::ng-deep {
  ol {
    list-style: none;
    counter-reset: step-counter;
    margin-block-start: 15px;
    margin-block-end: 0px;
    padding-inline-start: 1rem;
    @media (min-width:275px) and (max-width:420px){
      margin-top: 0;
      margin-right: 5px;
    }
  }

  li {
    counter-increment: step-counter;
    margin-bottom: 1rem;
    font-weight: 500;
    @media (min-width:275px) and (max-width:515px){
      line-break: anywhere;
    }
  }

  li::before {
    display: inline-block;
    content: counter(step-counter)".";
    border-radius: 40%/42%;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    font-weight: bold;
    background: $white;
    color: $primary;
    margin-right: 0.75rem;
    @media (min-width:275px) and (max-width:420px){
      border-radius: 50%;
      width: 1.5rem;
      height: 1.5rem;
      line-height: 1.5rem;
    }
  }
}
