@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/variables";
.card-body {
    padding-top: 0;
}

.product-name {
    font-size: 32px;
    @media (max-width: 667px) {
        font-size: 27px;
    }

    @include media-breakpoint-down(sm) {
        font-size: 32px;
        font-weight: 700;
    }
}

.product-description {
    margin-bottom: 2%;
}
.yolo-gives-you{
    display: none !important;
}
@include media-breakpoint-down(sm) {
    .yolo-gives-you {
        display: block !important;
    }
}

.addon-span-text {
    vertical-align: text-bottom;
}

.addons-container {
    color: $primary-dark;
    font-size: 0.7rem;
    .checkbox {
        position: relative;
        width: auto;
        height: auto;
        background: transparent;
        border: none;
        .addon-label {
            width: 80px;
            height: 80px;
            flex: 0 0 80px;
            background-color: $grey-ligth;
            top: 0;
            left: 0;
            font-size: 0 !important;
            cursor: pointer;
            .addon-image {
                width: 35px;
            }
            &.selected {
                background-color: $primary-light;
                &::before {
                    content: "-";
                }
            }
        }
        .addon-text {
            .addon-tooltip {
                width: 20px;
                height: 20px;
                border: 1px solid $grey-dark;
                background: $white;
                cursor: pointer;
                font-size: 0.8rem;
            }
        }
    }
}

.select-age-cont {
    margin: 0;
    color: $primary;
    .select-age {
        background-color: transparent;
        cursor: pointer !important;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
        height: 3.6rem;
        padding: 16px 12px 0px 8px;
    }
    label {
        left: 0;
    }
}

.choice {
    margin: 5px 0;
    padding: 0 5px;
    display: inline-block;
}

.text-addon {
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
}

.purchase-title {
    text-transform: uppercase;
}

.purchase-price {
    font-size: 30px;
    font-weight: 700;
}

.panel-price-purchase-button {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    width: 100%;
}

.panel-price-element {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

.addon-add {
    font-size: 16px;
    cursor: pointer;
    &::before {
        content: "+";
        width: 25px;
        height: 25px;
        background-color: $primary-dark;
        border-radius: 100rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: $white;
        font-size: 1.75rem;
        margin-right: 7px;
    }
}

.addon-remove {
    font-size: 1.5em;
    cursor: pointer;
    &::before {
        content: "-";
        width: 25px;
        height: 25px;
        background-color: $primary-dark;
        border-radius: 100rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: $white;
        font-size: 1.75rem;
        margin-right: 7px;
    }
}

.form-control {
    font-weight: bold;
}

.addons-container {
    color: $primary-dark;
    font-size: 0.7rem;
    .checkbox {
        position: relative;
        width: auto;
        height: auto;
        background: transparent;
        border: none;
        .addon-label {
            width: 80px;
            height: 80px;
            flex: 0 0 80px;
            background-color: $grey-ligth;
            top: 0;
            left: 0;
            font-size: 0 !important;
            cursor: pointer;
            .addon-image {
                width: 35px;
            }
            &.selected {
                background-color: $primary-light;
                &::before {
                    content: "-";
                }
            }
            /*
      &::before {
        content: "+";
        position: absolute;
        width: 25px;
        height: 25px;
        top: 0;
        right: 0;
        background-color: $primary-dark;
        border-radius: 100rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        font-size: 1.25rem;
      }
      */
        }
        .addon-text {
            .addon-tooltip {
                width: 20px;
                height: 20px;
                border: 1px solid $grey-dark;
                background: $white;
                cursor: pointer;
                font-size: 0.8rem;
            }
        }
    }
}

.scroll_navX {
    flex-wrap: nowrap !important;
    overflow-x: scroll !important;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
    @include media-breakpoint-up(sm) {
        display: block !important;
        flex-wrap: wrap !important;
        overflow-x: hidden !important;
    }
}

.scroll_navXX {
    flex-wrap: nowrap !important;
    overflow-x: scroll !important;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
    @include media-breakpoint-up(sm) {
        display: block !important;
        flex-wrap: wrap !important;
        overflow-x: hidden !important;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.toggle-select {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    outline: none;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}

.info-tooltip {
    border: 2px solid $primary;
    color: $primary;
    background: transparent;
    width: 20px;
    height: 20px;
    font-size: 20px;
    right: 16px;
    top: 35%;
    line-height: 16px;
    outline: 0;
}

.row,
.row-shadowed {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.addon-description {
    font-weight: 300;
    z-index: 999999;
    font-size: 1.5em;
}

.addon-description p {
    margin-bottom: 2%;
    font-size: 14px;
}

.how-work-form {
    background-color: #F5FAFF;
}

.select-title-sport {
    font-size: 18px !important;
    font-weight: bold;
    margin-bottom: 1em;
}

.card-section-title {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 500;
     ::ng-deep p {
        font-size: 18px;
    }
}

.package-btn {
    color: $primary;
    width: inherit;
    line-height: 43px;
    height: 45px;
    font-size: 16px;
    font-weight: 400;
    background-color: $white;
    border: 1px solid $primary-dark;
    text-transform: capitalize;
    padding: 0 15px;
    &:hover,
    &:focus,
    &.selected {
        background-color: $primary-dark;
        color: $white !important;
    }
}

.inf-package {
    font-size: 12px;
     ::ng-deep a {
        color: $primary;
        text-decoration: underline;
    }
}

.provider-collaboration {
    font-size: 12px;
    text-align: center;
}

.quotator_footer {
    display: flex;
    flex-direction: column;
}

.price_title {
    font-weight: 100;
    font-size: 1.0rem;
}

#select-age-sport {
    background-image: url(~assets/images/icons/arrow.png);
    background-size: auto 40px;
    background-position: center;
    background-repeat: no-repeat;
}

#select-sport {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(~assets/images/icons/arrow.png);
    background-size: auto 40px;
    background-position: right 7px top 50%;
    background-repeat: no-repeat;
    padding: 16px 12px 0px 12px;
}

.required-fields {
    font-size: 0.7rem;
    margin-top: 0.5rem;
    color: $red;
}

.product-download {
    margin-bottom: 1rem;
}

.btn-continue {
    color: white;
    background-color: var(--primary-y, #ccc);
    text-transform: uppercase;
    outline: none;
    border: none;
    border-radius: 40px;
    width: 150px;
    padding: 12px 0;
}

.btn-continue-floating {
    color: white;
    background-color: var(--primary-y, #ccc);
    text-transform: uppercase;
    outline: none;
    border: none;
    border-radius: 40px;
    width: 187px;
    padding: 12px 0;
}

.civibank_db {
    .submit-button {
        background-color: $btn-bg-color;
        color: $btn-text-color;
        border-color: $btn-text-color;
        text-transform: uppercase;
        outline: none;
        border: none;
        width: 100%;
        padding: 15px 0;
    }
    .package-btn {
        background-color: $primary-light;
        border: 1px solid $primary;
        &:hover,
        &:focus,
        &.selected {
            background-color: $primary;
            color: $primary-light !important;
        }
    }
    .addons-container {
        .checkbox {
            .addon-label {
                background-color: $primary-light;
                &.selected {
                    background-color: $secondary;
                }
                &::before {
                    background-color: $primary;
                }
            }
            .addon-text {
                .addon-tooltip {
                    background: $primary-light;
                }
            }
        }
    }
}

.purchase-title {
    font-weight: 400;
    margin-right: 8px;
}

.purchase {
    @include media-breakpoint-down(md) {
        .panel-price-purchase-button {
            align-items: center;
        }
        .panel-price-element {
            padding: 0;
        }
        .purchase-title {
            font-size: 0.9em;
            font-weight: 400;
        }
        .purchase-price {
            font-size: 24px;
        }
        .btn-continue {
            width: 155px;
        }
    }
}

.floating-div {
    @include media-breakpoint-down(sm) {
        .panel-floating {
            padding-right: 2rem;
        }
        .panel-price-floating {
            margin-right: 0;
        }
        .price_title {
            font-weight: 400;
            font-size: 0.8rem;
        }
        .btn-continue {
            font-size: 14px;
            width: 165px;
        }
    }
}

.panel-floating {
    display: flex;
    align-items: center;
    padding-right: 6rem;
}

.panel-price-floating {
    margin-right: 6rem;
}

@include media-breakpoint-down(md) {
    .package-btn {
        font-size: 14px;
    }
}