<div class="col container-box" *ngIf="!typeProposal || typeProposal === proposalName">
  <div [hidden]="dataService.tenantInfo.tenant === 'chebanca_db'" class="circle-card"></div>
  <div class="row justify-content-center">
    <div class="mb-2 mt-4">
      <h6 [hidden]="dataService.tenantInfo.tenant === 'chebanca_db'" class="tab-title">{{proposal.title}}</h6>
      <span class="tab-subtitle">
        <p>{{proposal.subtitle}}</p>
      </span>
    </div>
  </div>
  <div class="row proposals guarantee" *ngIf="dataService.tenantInfo.tenant !== 'chebanca_db'" [ngClass]="dataService.tenantInfo.tenant">
    <button class="top-button d-none" id="top-button-{{proposalName}}" [hidden]="dataService.tenantInfo.tenant === 'chebanca_db'">&#708;</button>
    <button class="bottom-button" id="bottom-button-{{proposalName}}" [hidden]="dataService.tenantInfo.tenant === 'chebanca_db'">&#709;</button>
    <ul #panel class="list-group" id="list-{{proposalName}}" (scroll)="onScroll($event)"
              [ngClass]="dataService.tenantInfo.tenant">
      <div [ngClass]="dataService.tenantInfo.tenant"
          *ngFor="let item of proposal?.addons" class="list-container" id="{{proposalName}}">
        <li [ngClass]="{'included': item.selezionata}" class="primary-item">
         <img [hidden]="dataService.tenantInfo.tenant === 'chebanca_db'"

              [src]="item.selezionata ? proposal.checkIconHome : proposal.notIncludedIcon"> &nbsp; {{item.name}}
        </li>
        <hr [ngClass]="dataService.tenantInfo.tenant">
      </div>
    </ul>
  </div>
  <div class="row proposals" *ngIf="dataService.tenantInfo.tenant === 'chebanca_db'"
  [ngClass]="dataService.tenantInfo.tenant">
    <ul #panel class="list-group list-group-flush" (scroll)="onScroll($event)"  id="list-{{proposalName}}"
              [ngClass]="dataService.tenantInfo.tenant" *ngFor="let item of proposal?.addons">
      <ng-container  class="container"   id="{{proposalName}}" >
        <li  class="list-group-item" [ngClass]="{'d-none' : valueInputChoose === '2' && item.code === 'RC proprieta', 'included': item.selezionata, 'notincluded': !item.selezionata}">
          {{item.name}}
        </li>
      </ng-container>
      <hr [ngClass]="dataService.tenantInfo.tenant" [hidden]="valueInputChoose === '2' && item.code === 'RC proprieta'">
      </ul>
  </div>
  <div class="row justify-content-center">
    <span class="tab-subtitle">
      <u (click)="openDetail()" class="detail" [ngClass]="dataService.tenantInfo.tenant">{{proposal.detail}}</u>
    </span>
    <hr>
  </div>
  <div class="row justify-content-center mb-2">
    <span class="price" [ngClass]="dataService.tenantInfo.tenant">{{proposal.price}}€</span>
  </div>
  <div class="row">
    <div class="col-12 mb-2">
      <button [ngClass]="dataService.tenantInfo.tenant"
               class="submit-btn edit" (click)="showOptionalWarrantyBtn()">{{proposal.customizeBtn}}</button>
    </div>
    <div class="col-12 mb-4">
      <button [ngClass]="dataService.tenantInfo.tenant"
               class="submit-btn buy" (click)="showInfoHome()">{{proposal.buyBtn}}</button>
    </div>
  </div>
</div>
