@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/_variables.scss";


body{
  text-align: left;
}

.container-box {
    border: 1px solid lightgrey;
    overflow: hidden;
    .circle-card {
        border-radius: 50%;
        overflow: hidden;
        border: 4rem $secondary solid;
        opacity: 43%;
        position: absolute;
        z-index: 0;
        top: -3rem;
        left: -2rem;
    }
}

.title {
    font-weight: bold;
    color: $primary-dark;
}

.tab-title {
    color: $primary-dark;
}

.tab-subtitle {
    color: $primary;
    font-size: 13px;
    .detail {
        cursor: pointer;
        &.chebanca_db {
          font-size: 14px;
          font-weight: 500;
          color: $text-color;
        }
    }
}

.price {
    font-weight: bold;
    color: $primary;
    font-size: 25px;
    &.chebanca_db {
      color: $text-color;
    }
}

.list-group{
  display: contents !important;
}

.list-group-item{
  padding: 0 1.25rem !important;
}


.list-group-flush > .list-group-item {
  border-width: 0 0 0 !important;
}


hr {
    width: 80%;
    //&.chebanca_db {
      //width: 100%;
      //margin-top: 9px;
      //margin-bottom: 12px;
 // }
}

.list-container {
    left: 19px;
    width: 220px;
    &.chebanca_db {
     left: 0px;
  }
}

.proposals {
    .top-button {
        width: 200px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(157, 157, 157, 0.1) 100%);
        border: transparent;
        outline: 0;
        position: absolute;
        z-index: 999;
        width: 239px;
    }
    .bottom-button {
        width: 200px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(157, 157, 157, 0.1) 100%);
        border: transparent;
        outline: 0;
        position: absolute;
        z-index: 100;
        top: 369px;
        width: 239px;
    }
    hr {
        margin-top: 5px;
    }
    &.chebanca_db {
      .top-button {
      top: 0px;
      }
      .bottom-button {
        top: 297px;
      }
  }
}

.down-button-section {
    .bottom-button {
        width: 200px;
        background: transparent;
        border: transparent;
        outline: 0;
        position: absolute;
        z-index: 999;
    }
}

.submit-btn {
    color: white;
    text-transform: uppercase;
    outline: 0;
    border: none;
    border-radius: 40px;
    width: 100%;
    padding: 12px 0;
    &.edit {
        background-color: $primary;
        &.chebanca_db {
          font-weight: 700;
          color: $text-color;
        }
    }
    &.buy {
        background-color: white;
        color: $primary;
        border: 1.5px solid $primary;
        &.chebanca_db {
          font-weight: 700;
          color: $text-color;
          border: 1.5px solid $text-color;
        }
    }
}

li.primary-item {
  //list-style-type: none;
  //position: relative;
  font-size: 14px;
}


/*.list-group {
    max-height: 300px;
    margin-bottom: 10px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &.chebanca_db {
        margin-top: -32px;
        padding-right: 25px;
        color: #4A4A4A;
    }
    &::-webkit-scrollbar {
        display: none;
    }
}*/

::ng-deep {
    @media (max-width: 767px) {
        .modal-dialog {
            bottom: 0;
            position: fixed !important;
            width: 100%;
            top: auto;
            margin: 0;
        }
    }
}
.guarantee {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 15px 45px;
  }

  .chebanca_db{
    .included{
      font-weight: bold;
    }
    .notincluded{
      font-weight: 100;
    }
  }
