@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/_variables.scss";

.disclaimer-container {
  display: flex;
  justify-content: center;
  margin-top: 3.5rem;

  .disclaimer-box {
    background-color: $secondary-light;
    height: 100px;

    @media screen and (max-width: 992px) {
      height: 140px;
    }

    display: flex;
    align-items: center;
    justify-content: center;

    .disclaimer-description {
      text-align: center;
      width: 85%;
    }

    ::ng-deep .disclaimer-description > p {
      margin-bottom: 0 !important;
    }
  }
}
