<div *ngIf="sent">
  <div class="modal-header">
    <h4 class="modal-title">{{ 'access.email_sent_title' | translate | async }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="p-input">{{ 'access.email_sent_body' | translate | async }}</p>
  </div>
</div>
<div *ngIf="!sent">
  <div class="modal-header">
    <h4 class="modal-title">{{ 'access.email_not_sent_title' | translate | async }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="p-input">{{ 'access.email_not_sent_body' | translate | async }}</p>
  </div>
</div>
