@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/variables";


.modal-body {
span {
  color: $black;
  font-weight: bold;
}
  h5 {
    color: $black;
    font-weight: bold;
  }
  h6 {
    color: $black;
    font-weight: bold;
  }
p {
  color: rgb(102,102,102);
}
  ::ng-deep p > ul > li > a {
    color: $primary;
    text-decoration: underline;
  }
  .row-button {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -1px;
  }
  .close {
    outline: 0;
  }
}

::ng-deep p > ul {
  padding-left: 1.688rem;
}


@media (min-width: 451px) {
  ::ng-deep{
    .modal-dialog{
      position: relative !important;
    }
    .modal-content{
      width: 100% !important;
      height: 550px;
    }
  }
}

::ng-deep{
  .modal-dialog{
      position: fixed;
      margin: auto;
      max-width: 30rem;
      height: 100%;
  }
  .modal-sm{
    .modal-content{
      height: 100%;
    }

  }
  .modal-content{
    top:25%;
    @media (max-width: 451px){
      top: 0;
    }
  }

  @media (max-width: 450px) {
    .modal-body{
      height: 38rem;
    }

    .modal.fade .modal-dialog {
      transform: translate3d(0, 100vh, 0);
    }

    .modal.show .modal-dialog {
      transform: translate3d(0, 0, 0);
    }
    .modal{
      top: initial;
      bottom: 0!important;
      height: 80% !important;
    }

    ::ng-deep .modal{
      position: fixed !important;
    }


  }
}

::ng-deep .modal-window {
  height: 95% !important;
}
