@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import '../../../../../sass/variables';

.main-content-header {
  position: relative;
  justify-content: flex-end;
  padding: 0 5%;
  height: 600px;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  background-position: center center;
  @media screen and (max-width: 980px) {
    background-position: 20% center;
  }
  @media screen and (max-width: 576px) {
    background-position: -305px center;
    align-items: flex-end;
    justify-content: center;
  }
}

.background-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(10deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, rgba(0, 0, 0, 0.8) 100%);
}

.header-content {
  position: relative;
  text-align: right;
  @media screen and (max-width: 576px) {
    text-align: center;
  }
  a{
    cursor: pointer;
  }
}

h1.title-cb {
  color: #FFFFFF;
  font-size: 65px;
  line-height: 65px;
  text-align: right;
  text-transform: uppercase;
  font-family: 'DIN Condensed', serif;
  @media screen and (max-width: 576px) {
    text-align: center;
  }
}

span.desc-cb {
  color: #FFFFFF;
  font-family: "DIN";
  font-size: 22px;
  text-align: right;
  text-transform: uppercase;
}

.custom-underline {
  border: 1px solid #ffd000;
  margin-right: 0;
  width: 40%;
  margin-top: 24px;
  margin-bottom: 21px;
}

.btn.btn-cb {
  padding: 0 50px;
  color: $btn-text-color;
  @media (min-width: 768px) {
    padding: 0 3vw;
  }
  &:hover {
    color: $btn-text-color !important;
  }
}

// Piacenza and Civibank Styles
.main-content-header.pc,
.main-content-header.cvb {
  @include media-breakpoint-down(sm){
    background-position: center;
    align-items: center;
  }
  .btn.btn-cb {
    border-radius: 0;
    background-color: $primary;
    font-weight: normal;
    padding: 0;
    width: 230px;
    height: 60px;
    line-height: 60px;
    font-size: 1.3rem;
  }
  h3.title-cb {
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    @include media-breakpoint-up(sm) {
      text-align: right;
    }
    @include media-breakpoint-down(md) {
      font-size: 36px;
    }
  }
  .span.desc-cb {
    font-family: inherit;
  }
  .custom-underline {
    border: 1px solid white;
    margin-top: 10px;
    @media screen and (max-width: 576px) {
      margin: 0 auto;
    }
  }
  .header-content{
    @include media-breakpoint-up(md) {
      padding-right: 5rem;
      padding-top: 3rem;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 0;
    }
  }
}

.main-content-header.cvb {
  h3.title-cb {
    font-family: 'HK Grotesk';
    font-weight: 500;
  }
  span.desc-cb {
    font-family: 'Nunito Sans';
  }
}

// Ravenna Styles
.main-content-header.ril {
  .btn.btn-cb {
    border-radius: 7px;
  }
}

// Banco Desio Styles
 .main-content-header.bd{
  @include media-breakpoint-down(sm){
    padding-bottom: 2rem;
  }
  .btn.btn-cb {
    background-color: $primary-light;
    color: $primary;
    border-radius: 0;
    border: 1px solid $primary;
    font-weight: 700;
    padding: 0;
    width: 230px;
    height: 60px;
    line-height: 60px;
    font-size: 1.3rem;
  }

}


