@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/_variables.scss";

.info-bar {
  justify-content: space-between;
  background-color: $background-added-warranty;
  padding: 2rem;
  align-items: center;

  .tab-title {
    color: $primary-dark;
  }

  .close-button {
    justify-content: end;
    button {
      color: $primary;
      border-radius: 50px;
      border: solid;
      width: 30px;
      outline: 0;
    }
  }

  &.chebanca_db{
    background-color: #454545;
    .tab-title {
      color: $white;
    }
    .close-button {
      button {
        color: $white;
      }
    }
  }
}

.description {
  padding: 1.5rem 1rem 1.5rem 1rem;
  @media (max-width: 768px) {
    height: 300px;
    overflow-y: auto;
  }
}

.buttons {
  &.chebanca_db{
    padding-top: 0px;
    .submit-btn{
      color: $text-color !important;
      font-weight: 500;
      &.edit{
        border: 1px solid $text-color;
      }
    }
  }
  justify-content: space-between;
  padding-top: 2rem;
  @media (max-width: 768px) {
    flex-direction: column-reverse;
    margin-bottom: 1rem;
  }

  .submit-btn {
    color: white;
    text-transform: uppercase;
    outline: 0;
    border: none;
    border-radius: 40px;
    width: 100%;
    padding: 12px 0;

    &.edit {
      background-color: white;
      color: $primary;
      border: 1.5px solid $primary;
    }

    &.buy {
      background-color: $primary;
    }
  }
}
