<div class="container container-box">
  <div class="row info-bar rounded-top" [ngClass]="dataService.tenantInfo.tenant">
    <div class="info-bar-title">
      <h6 class="tab-title">{{addon.name}}</h6>
    </div>
    <div class="close-button">
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="row description">
    <span class="col-12" [innerHTML]="addon.kentico_description"></span>
  </div>
  <div class="row buttons" [ngClass]="dataService.tenantInfo.tenant">
    <div class="col-md-4 col-12 mb-2">
      <button class="submit-btn edit"
              (click)="activeModal.dismiss()">{{ kenticoBody?.step_insurance_info?.understood?.text.value}}</button>
    </div>
    <div class="col-md-4 col-12 mb-4" *ngIf="addon.code !== 'RCA'
    && addon.code !== 'RC proprieta'
    && addon.code !== 'RC conduzione'
    && addon.code !== 'HOME Fabbricato Inc.'">
      <button class="submit-btn buy"
              (click)="activeModal.close()">{{addon.selezionata ? kenticoBody?.step_insurance_info?.remove_btn?.text.value :
        kenticoBody?.step_insurance_info?.add_btn?.text.value}}</button>
    </div>
  </div>
</div>
