<div class="modal-header">
    <div class="text-container">
        <div class="col-auto title">
            <h6>Viaggi tra più nazioni
            </h6>
        </div>
    </div>
    <div class="close-button pointer" aria-label="Close" (click)="activeModal.close()">
        <span aria-hidden="true" class="close-img">
            <span aria-hidden="true" class="close-img">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                    <path d="M25.4391 25.4396L14.5606 14.561" stroke="white" stroke-width="2" stroke-linecap="round" />
                    <path d="M14.5609 25.4396L25.4394 14.561" stroke="white" stroke-width="2" stroke-linecap="round" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M9.12143 30.8786C15.1295 36.8867 24.8705 36.8867 30.8786 30.8786C36.8866 24.8706 36.8866 15.1296 30.8786 9.12149C24.8705 3.11342 15.1295 3.11342 9.12143 9.12149C3.11337 15.1296 3.11337 24.8706 9.12143 30.8786Z"
                        stroke="white" stroke-width="2" />
                </svg> </span>
        </span>
    </div>
</div>

<div class="modal-body m-3">
    <div>Le nazioni sono suddivise in <b>3 Aree geografiche</b>:
        <ul>
            <li>Europa (compresa UK)</li>
            <li>Mondo senza USA e Canada</li>
            <li>Mondo con USA e Canada</li>
        </ul>

        <div class="mb-3"> Se visiti due o più nazioni della stessa Area geografica, inserisci nel campo “Destinazione”
            il nome della prima
            nazione che visiti.
            Se visiti due o più nazioni in Aree Geografiche differenti inserisci nel campo “Destinazione” il nome della
            nazione dell’Area Geografica inserita più in basso nell’elenco qui sopra.
        </div>

        <span>Alcuni esempi:</span>
        <ul>
            <li>Il tuo viaggio comprende la visita di Spagna e Francia: inserisci la prima delle due nazioni che visiti
            </li>
            <li>Il tuo viaggio comprende la visita di Spagna e Messico: inserisci Messico nel campo “Destinazione”</li>
            <li>Il tuo viaggio comprende la visita di Francia e Canada: inserisci Canada nel campo “Destinazione”</li>
        </ul>

    </div>
</div>