.margin-activate {
    margin-top: 50px;
    margin-bottom: 50px;
}

.text-modal {
    line-height: 1.5rem;
    text-align: center;
}

button.close {
    margin-right: 10px;
    margin-top: -40px !important;
}

.text-red-modal {
    color: #DD4D47 !important;
    font-size: 1.125rem !important;
    text-decoration: unset;
}