@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";

@import '~sass/variables';

img[type="button"] {
  -webkit-appearance: none;
}

.date-picker {
  margin-bottom: 3rem;
  .date-tab {
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    background-color: #f6f6f6;
    margin-bottom: 2rem;
    height: 88px;
    label{
      cursor: pointer;
      margin-bottom: 0;
      font-family: Lato-Ge;
    }
    a {
      width: 160px;
      height: 58px;
      flex-grow: 0;
      padding: 1rem;
      border-radius: 8px;
      span {
        flex-grow: 0;
        font-family: Lato-Ge;
        font-size: 17px;
        font-weight: bold;
        text-align: center;
        color: #707070;
      }
    }
    .nav-link.active,
    .show > .nav-link {
      cursor: pointer;
      width: 160px;
      height: 58px;
      flex-grow: 0;
      padding: 1rem;
      border-radius: 8px;
      border: solid 2px #db003d;
      background-color: #f3e5e9;
      span {
        width: 58px;
        height: 20px;
        flex-grow: 0;
        font-family: Lato-Ge;
        font-size: 17px;
        font-weight: bold;
        text-align: center;
        color: #db003d;
      }
    }
    .nav-item {
      input {
        display: none;
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -4px 15px 0 rgba(0, 0, 0, 0.25);
  background-color: $white;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 101;
  left: 0;
  padding: 1rem;
  button {
    font-family: Lato-Ge;
    border-radius: 24px;
    box-shadow: 0 4px 15px 0 rgba(219, 0, 61, 0.52);
    background-color: #db003d;
    padding: 0.75rem;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    color: $white;
    border: none;
    outline: none;
    &:disabled {
      opacity: 0.3;
    }
  }

  @include media-breakpoint-up(sm) {
    position: relative;
    box-shadow: none;
  }
}

.back {
  cursor: pointer;
  font-family: Lato-Ge;
  font-size: 14px;
  font-weight: 600;
  color: #707070;
  max-width: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  @include media-breakpoint-up(md) {
  padding-top: 45px
  }
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
  line-height: 35px;
  span {
    font-size: 28px;
    font-family: Comfortaa;
    text-align: center;
    color: #707070;
    @include media-breakpoint-up(sm) {
      font-size: 35px;
    }
  }
  div.info-tooltip {
    height: 22px;
    width: 22px;
    font-size: 22px;
    padding: 12px;
    cursor: pointer;
    color: #db003d;
    border-radius: 50%;
    border: 1.5px solid #db003d;
    margin: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}
#info-span{
  max-width: 322px;
}

.insured-number {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  font-family: Lato-Ge;
  font-size: 17px;
  font-weight: bold;
  color: #707070;
}

.contactor-switch-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3rem;
  .switch {
    background-color: #707070;
    margin: 0 0.5rem 0 0;
    width: 84px;
    height: 42px;
    border-radius: 25px;
    &.active {
      background-color: #db003d;
      &::before {
        left: unset;
        right: 7px;
      }
    }
    & input {
      display: none;
    }
    &::before {
      content: '';
      transition: all 0.2s;
      position: absolute;
      top: 7px;
      left: 7px;
      background-color: $white;
      border-radius: 50%;
      width: 28px;
      height: 28px;
    }
  }
  .description {
    font-size: 14px;
    font-family: Lato-Ge;
    color: #485056;
    width: fit-content;
    & p {
      color: #db003d;
      margin: 0;
    }
  }
}

.form-field-wrapper{
  margin-bottom: 36px;
  .form-field{
    display: flex;
    background-color: $white;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.16);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px $black solid;
    padding: 0 15px;
    position: relative;
    padding-top: 5px;
    input {
      font-family: Lato-Ge;
      font-size: 17px;
      color: #707070;
      background-color: transparent;
      border: none;
      outline: none;
      outline: 0;
      padding: 20px 0 10px;
      width: 100%;
    }
    select{
      font-family: Lato-Ge;
      font-size: 17px;
      width: 100%;
      color: #707070;
      border: none;
      outline: none;
      -webkit-appearance: none;
      background-image: url("/../../../../assets/images/icons/arrow_down.svg");
      background-size: auto 25px;
      background-position: right 1px top 50%;
      background-repeat: no-repeat;
      background-color: transparent;
      outline: 0;
      padding: 16px 0 10px;
    }
    label {
      font-size: 13px;
      position: absolute;
      left: 55px;
      font-family: Lato-Ge;
      color: #707070;
    }

  }
}

.form-field-wrapper{
  margin-bottom: 36px;
  .form-field{
    display: flex;
    background-color: $white;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.16);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px $black solid;
    padding: 0 15px 9px 15px;
    position: relative;
    padding-top: 5px;
    input {
      font-family: Lato-Ge;
      font-size: 17px;
      color: #707070;
      background-color: transparent;
      border: none;
      outline: none;
      outline: 0;
      padding: 15px 0 10px;
      width: 100%;
    }
    select{
      font-family: Lato-Ge;
      font-size: 17px;
      width: 100%;
      color: #707070;
      border: none;
      outline: none;
      -webkit-appearance: none;
      background-image: url("/../../../../assets/images/icons/arrow_down.svg");
      background-size: auto 25px;
      background-position: right 1px top 50%;
      background-repeat: no-repeat;
      background-color: transparent;
      outline: 0;
      padding: 16px 0 10px;
    }
    label {
      font-size: 13px;
      position: absolute;
      left: 55px;
      font-family: Lato-Ge;
      color: #707070;
    }
  }
  .form-field-date{
    display: flex;
    background-color: $white;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.16);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px $black solid;
    padding: 0 15px 4px 15px;
    position: relative;
    padding-top: 5px;
    input {
      font-family: Lato-Ge;
      font-size: 17px;
      color: #707070;
      background-color: transparent;
      border: none;
      outline: none;
      outline: 0;
      padding: 20px 0 10px;
      width: 100%;
    }
    label {
      font-size: 13px;
      position: absolute;
      left: 55px;
      font-family: Lato-Ge;
      color: #707070;
    }
  }
}
.date-form-field-wrapper{
  margin-bottom: 36px;
  padding-bottom: 0;
  .mat-form-field-form{
    display: flex;
    background-color: $white;
    border-bottom: 1px $black solid;
    padding: 10px 0 0 15px;
    position: relative;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.16);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    label{
      font-size: 13px;
        position: absolute;
        left: 55px;
        font-family: Lato-Ge;
        color: #707070;
    }
    input{
      font-family: Lato-Ge;
      font-size: 17px;
      color: #707070;
      background-color: transparent;
      border: none;
      outline: none;
      outline: 0;
      padding: 20px 15px 10px;
      width: 100%;
    }
  }

}



.date-mat-form-field {
  display: flex;
  background-color: $white;
  border-bottom: 1px $black solid;
  padding: 0 15px;
  position: relative;
  label{
    font-size: 13px;
      position: absolute;
      left: 55px;
      font-family: Lato-Ge;
      color: #707070;
  }
  input{
    font-family: Lato-Ge;
    font-size: 17px;
    color: #707070;
    background-color: transparent;
    border: none;
    outline: none;
    outline: 0;
    padding: 20px 10px 10px 15px;
    width: 100%;
  }
 }
.margin-right{
  width: 24px;
  margin-right: 15px;
  outline: 0;
  padding: 10px 0 10px;
}
.policy-recap {
  &-container {
    display: flex;
    flex-direction: column;
  }
  &-row {
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    & span {
      font-family: Lato-Ge;
      color: #707070;
    }
  }
}
.back_icon{
  width: 19px;
  height: 19px;
  flex-grow: 0;
  vertical-align: top;
}
.sub-footer{
  background-color: white;
  height: 130px;
  @include media-breakpoint-up(sm) {
    display: none;
  }
}
.margin-bottom-error{
  margin-bottom: 28px;
}
.error-message {
  color: #eb0000;
  font-family:Lato-Ge;
  font-size: 14px;
}
.error-case {
  border-bottom: 1px  #eb0000 solid  !important;
}
.info-text {
  margin-top: 2rem;
  display: flex;
  .text{
    position: relative;
      width: 100%;
      min-height: 7.2rem;
      margin-left: 1.5rem;
      padding: 1.3rem 1.6rem 1.4rem 1.5rem;
      text-align: left;
      border-radius: 0.8rem;
      background-color: #f6f6f6;
  }
   .text:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: -0.8rem;
    top: 0.7rem;
    border-top: 0.6rem solid transparent;
    border-right: 0.8rem solid #f6f6f6;
    border-bottom: 0.6rem solid transparent;
  }
}
@media screen and (min-width:  335px) and (max-width: 376px){
  .date-picker .date-tab .nav-link.active{
    width: 119px;
  }
  .date-picker .date-tab a{
    width: 119px;
  }
  .date-picker .date-tab .nav-link.active span{
    font-size: 14px;
  }
  .date-picker .date-tab a span{
    font-size: 14px;
  }
}
@media screen and (min-width: 356px)and (max-width: 376px){
  .date-picker .date-tab .nav-link.active{
    width: 129px;
  }
  .date-picker .date-tab a{
    width: 129px;
  }
  .date-picker .date-tab .nav-link.active span{
    font-size: 15px;
  }
  .date-picker .date-tab a span{
    font-size: 15px;
  }
}
@media screen and (min-width: 376px) and (max-width: 384px){
  .date-picker .date-tab .nav-link.active{
    width: 139px;
  }
  .date-picker .date-tab a{
    width: 139px;
  }
  .date-picker .date-tab .nav-link.active span{
    font-size: 15px;
  }
  .date-picker .date-tab a span{
    font-size: 15px;
  }
}
@media screen and (min-width: 384px) and (max-width: 394px){
  .date-picker .date-tab .nav-link.active{
    width: 149px;
  }
  .date-picker .date-tab a{
    width: 149px;
  }
  .date-picker .date-tab .nav-link.active span{
    font-size: 16px;
  }
  .date-picker .date-tab a span{
    font-size: 16px;
  }
}
@media screen and (min-width: 394px) and (max-width: 404px){
  .date-picker .date-tab .nav-link.active{
    width: 159px;
  }
  .date-picker .date-tab a{
    width: 159px;
  }
  .date-picker .date-tab .nav-link.active span{
    font-size: 16px;
  }
  .date-picker .date-tab a span{
    font-size: 16px;
  }
}
@media screen and (min-width: 404px) and (man-width: 414px){
  .date-picker .date-tab .nav-link.active{
    width: 169px;
  }
  .date-picker .date-tab a{
    width: 169px;
  }
  .date-picker .date-tab .nav-link.active span{
    font-size: 17px;
  }
  .date-picker .date-tab a span{
    font-size: 17px;
  }
}
@media screen and (min-width: 376px){
  section{
    margin: 0 auto;
    max-width: 375px;
  }
}

.modal {
  .modal-content {
    height: auto;
    padding: 4px 28px 34px 28px;
    border-radius: 13px;
    margin: 0 17px;
  }
  .modal-header {
    border-bottom: none;
  }
  .close {
    color: $primary;
    padding-right: 0;
  }
  .modal-body {
    padding: 0 12px 0 12px;
    font-family: Lato-Ge;
    font-size: 17px;
    line-height: normal;
    text-align: center;
    color: #707070;
    margin-bottom: 38px;
    .line {
      background-color: #707070;
      height: 1px;
      flex-grow: 0;
      margin: 18px 6px 14px;
    }
  }
  .modal-footer {
    width: 199px;
    height: 52px;
    align-self: center;
    border-radius: 24px;
    box-shadow: 0 4px 15px 0 rgba(219, 0, 61, 0.5);
    background-color: $primary;
    display: flex;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: center;
    padding: 1rem;
    inline-size: max-content;
    .btn {
      background: none;
      font-family: Lato-Ge;
      font-size: 17px;
      font-weight: bold;
      line-height: normal;
    }
  }
}

.elephant {
  &-img img {
    width: 43px;
    height: 43px;
    @include media-breakpoint-down(sm) {
      width: 30px;
      height: 30px;
      margin-top: 4px;
    }
  }
  .text {
    font-family: Lato-Ge;
  }
  &-text {
    font-size: 14px;
    &-title {
      font-size: 17px;
    }
  }
}
::ng-deep .elephant-text{
  line-height: normal;
  font-size: 14px;
  font-family: Lato-Ge;
  color: #707070;
  p {
    margin-bottom: 0px;
  }
}
::ng-deep .elephant-text-title{
  font-size: 17px;
  font-family: Lato-Ge;
  color: #707070;
  margin-bottom: 0px;
}

// ::ng-deep {
//   button[aria-label="Previous month"],
//   button[aria-label="Next month"],
//   .ngb-dp-header,
//   .ngb-dp-months  {
//     background-color: #db003d !important;
//     margin: 0 !important;
//   }
//   .ngb-dp-weekday {
//     color: $white !important;
//   }
//   .ngb-dp-weekdays {
//     background-color: #db003d !important;
//   }
//   .ngb-dp-month {
//     background-color: $white !important;
//   }
//   .bg-primary {
//     background-color: #db003d !important;
//   }
// }
.select-form-field-wrapper{
  margin-bottom: 36px;
  .select-form-field{
    background-color: $white;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.16);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px $black solid;
    padding: 5px 15px 9px 15px;
    position: relative;
    mat-select{
      font-family: Lato-Ge;
      font-size: 17px;
      color: #707070;
      background-color: white;
      padding: 16px 0 10px;
    }
  }
}

::ng-deep .mat-datepicker-content .mat-calendar {
  width: 296px;
  height: 354px;
}
::ng-deep .mat-calendar-header {
  padding: 8px 8px 0 8px;
  background: $secondary !important;
  color: white;
}
::ng-deep .mat-calendar-controls {
  display: flex;
  margin: 5% calc(33% / 7 - 16px);
}
::ng-deep .mat-button, .mat-icon-button, .mat-stroked-button {
  color: inherit;
  background: #0000;
}
::ng-deep button[aria-label="Previous month"], button[aria-label="Next month"], .ngb-dp-header, .ngb-dp-months {
  background-color: $secondary !important;
  margin: 0 !important;
  color:white;
}
::ng-deep .mat-calendar-content {
  padding: 0 8px 8px 8px;
  outline: none;
}
::ng-deep .mat-calendar-table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
::ng-deep .mat-datepicker-popup .mat-calendar {
  background-color: $secondary-light !important;
  border-radius: 8px;
  box-shadow: 0 0 1px #8a8a8a80;
}
::ng-deep .mat-datepicker-popup .mat-calendar {
  background-color: $secondary-light !important;
  border-radius: 8px;
  box-shadow: 0 0 1px #8a8a8a80;
}
::ng-deep .mat-datepicker-popup .mat-calendar .mat-calendar-table-header {
  color: $secondary;
  opacity: 0.5;
}
::ng-deep .mat-calendar-body-cell::before, .mat-calendar-body-cell::after, .mat-calendar-body-cell-preview {
  content: "";
  position: absolute;
  top: 5%;
  left: 0;
  z-index: 0;
  box-sizing: border-box;
  height: 90%;
  width: 100%;
}
::ng-deep .mat-calendar-body-cell::before, .mat-calendar-body-cell::after, .mat-calendar-body-cell-preview {
  content: "";
  position: absolute;
  top: 5%;
  left: 0;
  z-index: 0;
  box-sizing: border-box;
  height: 90%;
  width: 100%;
}
::ng-deep table, tbody, td, tfoot, th, thead, tr, tt, u, ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: initial;
}
::ng-deep .mat-datepicker-content .mat-calendar-next-button{
  color: white;
}
::ng-deep .mat-datepicker-content .mat-calendar-previous-button{
  color: white;
}
::ng-deep .mat-calendar-next-button:focus {
   outline: none;
  }
::ng-deep .mat-calendar-previous-button:focus {
  outline: none;
}
::ng-deep .mat-calendar-body-selected {
  box-shadow: none;
  background-color: $primary;
  color: white !important;
}

::ng-deep .mat-calendar-body-cell-content:hover{
  background-color: #f3a9bd !important;
}

::ng-deep .mat-calendar-body-cell-content {
  font-family: Lato-Ge;
  font-weight: 600;
  font-size: 17px;
  color: #707070;
  border-color: transparent;
}
::ng-deep .mat-datepicker-popup .mat-calendar .mat-calendar-table-header .mat-calendar-table-header-divider:after {
  display: none;
}
::ng-deep .mat-calendar-body-label {
  color: #0000008a;
}


