<div class="bg-img-hero-breadcrumb-container" [ngClass]="data.container_class">
  <div class="bg-img-hero" [ngStyle]="{ 'background-image': 'url(' + data.bg_img + ')'}">
    <div class="background-overlay"></div>
  </div>
  <div class="container" [ngClass]="data.container_class">
    <div class="row-grid-header"><!-- grid for desktop, row for mobile -->
      <div class="col-12 order-1 text-container">
        <p class="title" [ngClass]="dataService.tenantInfo.tenant">{{data.title}}</p>
        <p class="subtitle" [innerHtml]="data.subtitle" *ngIf="data.subtitle"></p>
      </div>
      <div class="order-2 quotator-container" [ngClass]="data.quotator_size ? data.quotator_size : 'col-12'">
        <app-configuratore-basic-layout id="configuratore-layout" (actionEvent)="sendActionEvent($event)" [products]="data.products"></app-configuratore-basic-layout>
      </div>
      <div class="col-12 order-3 breadcrumb-container" [ngClass]="data.container_class">
        <div class="breadcrumb">
          <span *ngFor="let crumb of data.breadcrumbs; let first = first">
            <a [routerLink]="crumb.route" [ngx-scroll-to]="'#gotoProdotti'" [ngx-scroll-to-offset]="-80" *ngIf="first">
              <span class="breadcrumb-item">{{crumb.name}}</span>
            </a>
            <span class="breadcrumb-item" *ngIf="!first">{{crumb.name}}</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

