@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/variables";

.bg-img-hero-breadcrumb-container {
  &.layout-chebanca_db,
  &.layout-ravenna_db,
  &.layout-imola_db,
  &.layout-lucca_db,
  &.ge-bike-plus,
  &.ge-travel-plus,
  &.ge-sport-plus,
  &.ge-holiday-house-plus,
  &.ge-ski-plus,
  &.ge-ski-seasonal-plus,
  &.winter-sport-plus,
  &.winter-sport-premium {
    .bg-img-hero {
      padding: 5rem 0;
      height: 580px;
      background-position-x: -200px;
      background-position-y: center;
      margin-bottom: -520px;
      @include media-breakpoint-up(md) {
        background-position-x: 0;
      }

      .background-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, .3);
      }
    }

    .container {
      margin-left: auto;
      margin-right: auto;
      max-width: 1024px;
      &.layout-banca-sella_db{
        &.ge-travel-plus, &.ge-holiday-house-plus{
          margin-bottom: -120px;
          @media (max-width: 767px){
            margin-bottom: -160px;
          }
          .quotator-container{
            @include media-breakpoint-up(md) {
              margin-bottom: 7rem;
            }
          }
        }
      }
    }

    .text-container {
      padding-top: 100px;
      text-align: center;
      @include media-breakpoint-up(md) {
        padding-top: 250px;
        padding-left: .5rem;
        padding-right: .5rem;
        text-align: initial;
      }

      .title {
        color: #fff;
        font-family: "DIN Condensed";
        font-size: 50px;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: .25px;
        text-transform: uppercase;
        margin-bottom: 2.5rem;

        &::after {
          position: absolute;
          content: '';
          height: 1px;
          bottom: -18px;
          background-color: $bg-color;
          left: 25%;
          width: 50%;
          @include media-breakpoint-up(md) {
            left: 0;
            height: 2px;
          }
        }
        &.bancapc-it-it_db{
          &::after{
            background-color: $btn-bg-color;
          }
        }
      }

      .subtitle {
        color: #fff;
        font-family: din;
        font-size: 20px;
        letter-spacing: .17px;
        line-height: 24px;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: .5rem;
      }
    }

    .quotator-container {
      padding-right: .5rem;
      padding-left: .5rem;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: -2.5rem;
    }

    .breadcrumb-container {
      margin-top: 2rem;
      margin-bottom: 12rem;
      padding-top: 2rem;
      @include media-breakpoint-up(md) {
        margin-top: 1rem;
      }

      .breadcrumb {
        background-color: transparent;
        padding: 0;
        margin: 0;
      }

      .breadcrumb-item {
        text-decoration: underline;
      }

      :not(:first-child) {
        font-weight: bolder;
      }

      :not(:last-child) {
        .breadcrumb-item::after {
          content: '\203A';
          display: inline-block;
          padding: 0 .5rem;
        }
      }

      @include media-breakpoint-up(xl) {
        padding-left: 0;
      }
    }
  }

  &.layout-ravenna_db,
  &.layout-imola_db,
  &.layout-lucca_db {
    .text-container {
      .title {
        &::after {
          position: absolute;
          content: '';
          height: 1px;
          bottom: -18px;
          background-color: #fff;
          left: 25%;
          width: 50%;
          @include media-breakpoint-up(md) {
            left: 0;
            height: 2px;
          }
        }
      }
    }
  }
  &.layout-helbiz_db {
    .bg-img-hero{
      display: none;
    }
    .text-container {
    padding-top: 15px;
    }
    .title{
      color: black !important;
      margin-top: 15rem;
      margin-bottom: 1rem;
      @include media-breakpoint-up(xs) {
        margin-top: 7rem;
      }
      &::after{
        display: none;
      }
    }
    .subtitle{
      color: black !important;
    }
  }
}

.bg-img-hero {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 0;
  @include media-breakpoint-up(sm) {
    padding: 6rem 0;
  }
  @include media-breakpoint-up(lg) {
    padding: 11rem 0 6rem;
  }
}

.background-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background: $bg-overlay;
}

.row-grid-header {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  @include media-breakpoint-up(md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 520px);
    .order-1 {
      grid-column: 1;
      grid-row: 1;
    }
    .order-2 {
      grid-column: 2;
      grid-row: 1 / 2;
      grid-row-end: span 2;
    }
    .order-3 {
      grid-column: 1;
      grid-row: 2;
      align-self: flex-end;
      &.layout-banca-sella_db{
        &.ge-travel-plus, &.ge-holiday-house-plus{
          align-self: unset;
        }
      }
    }
  }
}

.text-container {
  padding-top: 6rem;

  .title, .subtitle {
    color: $section-title-color;
  }

  .title {
    font-size: 2.5rem;
    font-weight: 500;
    position: relative;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    line-height: 1.1;

    &::after {
      position: absolute;
      content: '';
      height: 3px;
      bottom: -12px;
      background-color: $section-title-color;
      left: 0;
      width: 45%;
    }
  }

  .subtitle {
    font-size: 1.4rem;
    line-height: normal;
  }
}

.breadcrumb-container {
  margin-top: 3rem;
}

