<div class="row">
  <div class="col-12">
    <h4 class="step-title"> 
      {{'checkout.when_you_want_to_activate_the_insurance' | translate | async}}
    </h4>
    <i class="small-text">
      * {{'checkout.mandatory_fields' | translate | async}}
    </i>
  </div>
</div>
<div class="row" [formGroup]="form" class="mt-4">
  <div class="col-12 p-0 box-checkbox">
    <label for="instant" class="form-big-radio">
      <input stickyTriggerReset [targetId]="'stepperStickyBar,stickyBar'" type="radio" formControlName="instant"
        id="instant"
        [value]="true">
        {{'checkout.immediately' | translate | async}}
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="col-12 col-lg-12 alert alert-info" *ngIf="form.value.instant === true" style="margin-top:1rem;">
    <div class="row">
      <div class="col-2 my-auto pl-1">
        <i class="far fa-3x fa-clock"></i>
      </div>      
      <div class="col-10" data-cy="chekout-step-info__insure-instant-info-2-hours">
        {{'checkout.insure_instant_info_2_hours' | translate | async}}
      </div>     
    </div>
  </div>
  <div class="col-12 p-0 box-checkbox" style="margin-bottom: 30px;">
    <label for="startDate" class="form-big-radio">
      <input stickyTriggerReset [targetId]="'stepperStickyBar,stickyBar'" type="radio" formControlName="instant"
        id="startDate"
        [value]="false">
        {{'checkout.other_date' | translate | async}}
      <span class="checkmark"></span>
    </label>
  </div>

  <ng-container *ngIf="form.value.instant === false">
    <div class="col-12">
      <div class="row input-group w-auto">
        <div class="col-lg-6 col-md-12 col-12">
          <div class="input-wrapper input-wrapper-soft form-group container"
            [ngClass]="{'error-field': form.controls.startDate.touched && form.controls.startDate.errors && form.controls.startDate.errors.required,
            'input-disabled': form.get('startDate').disabled}"  *ngIf="!form.get('startDate').disabled">
            <label class="pl-3">
              {{'forms.start_coverage_date' | translate | async}}*
            </label>
            <input stickyTriggerReset [targetId]="'stepperStickyBar,stickyBar'" type="text" class="form-control pl-3" (click)="dFrom.toggle()"
              autocomplete="off" (dateSelect)="onStartDateSelection($event); dFrom.close()"
              placeholder="GG/MM/AAAA" id="datepicker-test" ngbDatepicker #dFrom="ngbDatepicker"
              formControlName="startDate" [minDate]="pickerOptions.minDate"
              [maxDate]="duration ? pickerOptions.maxDate : form.get('endDate').value || pickerOptions.maxDate">
            <div class="warning-message"
              *ngIf="form.controls.startDate.touched && form.controls.startDate.errors && form.controls.startDate.errors.required">
              {{'forms.mandatory_field' | translate | async}}
            </div>
          </div>
          <div class="form-label-group" *ngIf="form.get('startDate').disabled">
            <input stickyTriggerReset [targetId]="'stepperStickyBar,stickyBar'" type="text" class="form-control pl-3"
              formControlName="startDate"
              ngbDatepicker #dFrom="ngbDatepicker">
            <label class="pl-3">{{'forms.start_coverage_date' | translate | async}}*</label>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-label-group"
            [ngClass]="{'error-field': form.get('hours').touched && form.get('hours').errors && form.get('hours').errors.required}">
            <select stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'" *ngIf="timeDropdown" class="form-control" formControlName="hours" id="hours" placeholder="Ora">
              <option *ngFor="let h of createRange('HH', 23)" value="{{formatTimeNumber(h)}}">{{formatTimeNumber(h)}}</option>
            </select>
            <input stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'" *ngIf="!timeDropdown" class="form-control" formControlName="hours" id="hours" placeholder="Ora" type="text">
            <label for=hours>{{'forms.hours' | translate | async}}</label>
            <div class="error-message"
              *ngIf="form.get('hours').touched && form.get('hours').errors && form.get('hours').errors.required">
              {{'forms.mandatory_field' | translate | async}}
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-label-group"
            [ngClass]="{'error-field': form.get('minutes').touched && form.get('minutes').errors && form.get('minutes').errors.required}">
            <select stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'" *ngIf="timeDropdown" class="form-control" formControlName="minutes" id="minutes" placeholder="Minuti">
              <option *ngFor="let m of createRange('mm', 59)" value="{{formatTimeNumber(m)}}">{{formatTimeNumber(m)}}</option>
            </select>
            <input stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'" *ngIf="!timeDropdown" class="form-control" formControlName="minutes" id="minutes" placeholder="Minuti" type="text">
            <label for=minutes>{{'forms.minutes' | translate | async}}</label>
            <div class="error-message"
              *ngIf="form.get('minutes').touched && form.get('minutes').errors && form.get('minutes').errors.required">
              {{'forms.mandatory_field' | translate | async}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="small-text">
      {{'checkout.insurance_coverage_end' | translate | async}}
      {{getExpirationDate()}} 
      {{'checkout.to' | translate | async}} 
      {{getExpirationHour()}}
    </div>
  </ng-container>

</div>
