@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/variables";


.modal-body {
  span {
    color: $black;
    font-weight: bold;
  }

  .row-button {
    display: flex;
    //flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -1px;
  }
  .close {
    outline: 0;
  }
}

textarea {
  resize: none;
  outline: none;
  border: 1px solid rgb(224,224,224);
}
textarea::placeholder {
  color: rgb(33,33,33)!important;
}
.text-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  .submit-btn {
    color: $white;
    background-color: $primary;
    text-transform: uppercase;
    outline: none;
    border: none;
    border-radius: 40px;
    padding: 12px 0;
    width: 93%;
    margin-bottom: 2rem;
  }
}

.description {
  color: rgb(33,33,33)!important;
}

@media (min-width: 451px) {
  ::ng-deep{
    .modal-dialog{
      position: relative !important;
    }
    .modal-content{
      width: 100% !important;
    }
  }
}

::ng-deep{
  .modal-dialog{
      position: fixed;
      margin: auto;
      max-width: 30rem;
      height: 100%;
  }
  .modal-sm{
    .modal-content{
      height: 100%;
    }

  }

  @media (max-width: 450px) {
    .modal-body{
      height: 38rem;
    }

    .modal.fade .modal-dialog {
      transform: translate3d(0, 100vh, 0);
    }

    .modal.show .modal-dialog {
      transform: translate3d(0, 0, 0);
    }
    .modal{
      top: initial;
      bottom: 0!important;
      height: 80% !important;
    }

    ::ng-deep .modal{
      position: fixed !important;
      top: 32% !important;
    }


  }
}

::ng-deep .modal-window {
  height: 95% !important;
}

