<div class="row-shadowed">
  <app-checkout-card-recap [product]="product">
  </app-checkout-card-recap>
  <app-checkout-card-insurance-info-auto-form #infoAutoForm
                                              [product]="product"
                                              (changeInfoCar)="handleChangePrice()">
  </app-checkout-card-insurance-info-auto-form>
</div>

<div class="row-shadowed recap-auto-proposal mb-3" *ngIf="optionalWarranty || owner">
  <div class="col-12">
    <h3>{{'checkout_motor_genertel.step_insurance_info.yolo_proposals.text' | translate |
      async}}</h3>
  </div>
  <div class="col-12 info-container">
    <img [src]="product.image" alt="Yolo">
    <div class="info">
      <span>{{proposalTitle}}</span><span *ngIf="optionalWarranty && isCustomized">
        {{'checkout_motor_genertel.step_insurance_info.personalized.text' | translate | async}}
      </span>
    </div>
  </div>
</div>

<div class="row row-shadowed recap-auto-proposal mb-3" *ngIf="optionalWarranty && ownerStep && recapOprionalWarranties">
  <div class="col-12">
    <h3>
      {{'checkout_motor_genertel.step_insurance_info_optional_proposal.additional_guarantees.text' | translate | async}}
    </h3>
  </div>
  <div class="col-4 info-container customized-img" *ngFor="let addon of selectedAddons">
    <img [src]="addon?.image" alt="Yolo">
    <div class="info">
      <p>{{addon?.name}}</p>
    </div>
  </div>
</div>

<div class="row-shadowed" *ngIf="!optionalWarranty && !ownerStep">
  <div class="container" id="auto-proposals">
    <div class="row mb-2">
      <div class="title">
        <span>
          {{'checkout_motor_genertel.step_insurance_info_optional_proposal.title_optional_proposal.text' | translate | async}}
        </span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="subtitle">
        <span>
          {{'checkout_motor_genertel.step_insurance_info_optional_proposal.description_car.text' | translate | async}}
        </span>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="container-type-proposal mb-4">
          <div class="btn-group btn-group-toggle d-flex" data-toggle="buttons">
            <label class="btn btn-secondary custom-btn-class"
                   *ngFor="let type of newTypesProposal; let i=index"
                   [ngClass]="{'active': addonsProposal[i] === typeProposal }"
                   (click)="setTypeProposal(addonsProposal[i])">
              <input type="radio" 
                     name="options"
                     id="{{i}}"
                     autocomplete="off"
                     [checked]="addonsProposal[i] === typeProposal"> 
              {{ type }}
            </label>
          </div>
      </div>
      <div class="col-lg-4 col-md-12 pl-0 display-in-desktop" *ngFor="let proposalName of addonsProposal; let i=index">
        <app-checkout-card-insurance-info-auto-proposal [proposalName]="proposalName"
                                                      [carInfo]="getCarInfo()"
                                                      [product]="product"
                                                      (addAttendee)="addAttendee($event)"
                                                      (showOptionalWarranty)="handleChangePrice($event, true)"
                                                      (selectedAddonsProposalsEmit)="handleChangePrice($event)"
                                                      (ownerStep)="isOwner($event, true)"
                                                      (selectedAddonsProposalsEmit)="handleChangeStep( true, true)"
                                                      (showProposalTitle)="setProposalTitle($event)">
        </app-checkout-card-insurance-info-auto-proposal>
      </div>
      <div class="col-lg-4 col-md-12 p-0 display-in-mobile" *ngFor="let proposalName of addonsProposal; let i=index">
        <app-checkout-card-insurance-info-auto-proposal [proposalName]="proposalName"
                                                        [typeProposal]="typeProposal"
                                                        [carInfo]="getCarInfo()"
                                                        [product]="product"
                                                        (addAttendee)="addAttendee($event)"
                                                        (showOptionalWarranty)="handleChangePrice($event, true)"
                                                        (selectedAddonsProposalsEmit)="handleChangePrice($event)"
                                                        (ownerStep)="isOwner($event, true)"
                                                        (selectedAddonsProposalsEmit)="handleChangeStep( true, true)"
                                                        (showProposalTitle)="setProposalTitle($event)"
                                                        [formValid]="isFormValid()"
                                                        >
        </app-checkout-card-insurance-info-auto-proposal>
      </div>
    </div>
  </div>
</div>

<div class="row-shadowed" *ngIf="optionalWarranty && !ownerStep">
  <app-checkout-card-insurance-info-motor-optional-warranties [addons]="addons"
                                                              (selectedAddonsEmit)="handleChangePrice($event)"
                                                              (hideOptionalWarranty)="optionalWarranty = false"
                                                              (ownerStep)="isOwner($event, true)"
                                                              (showProposalWarrantyEmit)="handleChangeStep( false, false)"
                                                              (showInfoHomeEmit)="handleChangeStep( true, true, true)"
                                                              [formValid]="isFormValid()"
                                                              >
  </app-checkout-card-insurance-info-motor-optional-warranties>
</div>

<div class="row-shadowed" *ngIf="optionalWarranty && ownerStep && owner">
  <app-address-form-ge-motor (showOptinalWarrantiesEmit)="handleChangeStep( true, false)"
                             (ownerSubmit)="submit($event)">
  </app-address-form-ge-motor>
</div>
