@import "../../../../../../sass/_variables.scss";

.btn{
  background-color: $primary;
  border-radius: 5px;
}

.btn.btn-outline{
  color: $primary;
  background-color: #fff!important;
  border: 2px solid $primary;
  border-radius: 5px;
  padding: 0 30px;
}

.list-group, .list-group-item {
  border: none;
  text-align: left;
  padding: 0 10px;
}
