<section>
  <div class="title">
    <span [innerHtml]="contentItem.policy_duration.title.value"></span>
  </div>
  <div class="subtitle">{{contentItem.policy_duration.subtitle.value}}</div>
  <form [formGroup]="form">
    <div class="tim-form-label-group">
      <select formControlName="policyOption" id="policy-option" class="form-control" omniturecta="seleziona durata" omnitureposition="1">
        <option value="{{contentItem.policy_duration.choose1.value}}">{{contentItem.policy_duration.choose1.value}}</option>
      </select>
      <label for="policy-option">{{contentItem.policy_duration.label.value}}</label>
    </div>

    <div class="form-row">
      <div class="tim-form-label-group" [ngClass]="{'error-field': getFieldInvalidError('dateFrom') }">
        <input type="text" formControlName="dateFrom" class="form-control" id="dateFrom" ngbDatepicker #fromDatePicker="ngbDatepicker"
        (click)="fromDatePicker.toggle()" (dateSelect)="onStartDateSelection($event); fromDatePicker.close()" [minDate]="minFromPurchaseDate" [maxDate]="maxFromPurchaseDate">
        <label for="dateFrom">{{contentItem.policy_duration.from.value}}</label>
        <div [hidden]="!(form.get('dateFrom').invalid && form.get('dateFrom').touched)" class="error-message">{{ 'forms.mandatory_field' |
          translate | async }}
        </div>
      </div>


      <div class="tim-form-label-group" [ngClass]="{'error-field': getFieldInvalidError('dateTo') }">
        <input type="text" formControlName="dateTo" class="form-control" id="dateTo" ngbDatepicker #toDatePicker="ngbDatepicker"
        (click)="toDatePicker.toggle()" (dateSelect)="toDatePicker.close()" [minDate]="minToPurchaseDate" [maxDate]="maxToPurchaseDate">
        <label for="dateTo">{{contentItem.policy_duration.to.value}}</label>
        <div [hidden]="!(form.get('dateTo').invalid && form.get('dateTo').touched)" class="error-message">{{ 'forms.mandatory_field' |
          translate | async }}
        </div>
      </div>
    </div>

  </form>

  <div class="info-label">
    <img [src]="contentItem.policy_duration.image1.images[0].url" alt="">
    <div class="text-image-description">
      {{contentItem.policy_duration.image_description1.value}}
    </div>
  </div>

  <div class="buttons mt-4">
      <button class="submit-btn col-12 col-sm-3 mb-3 continue" [disabled]="!form.valid" (click)="submit()" omniturecta="continua" omnitureposition="1">{{contentItem.policy_duration.continue_button.value}}</button>
      <button class="col-12 col-sm-3 mb-3 submit-btn back" (click)="previousPage()" omniturecta="indietro" omnitureposition="1">{{contentItem.policy_duration.back_button.value}}</button>
  </div>


</section>
