@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/variables";

.step-title {
  margin-bottom: 2rem;
}
.tim-form-label-group {
  &.error-field {
    label {
      color: $red;
    }
    input, select {
      border-color: $red;
    }
  }

  & > input, > select {
    border: 1px solid $primary;
    background: $white;
    border-radius: 0;
    padding: 0 0 0 1rem;
    font-size: 1rem;
  }
  & > label {
    position: absolute;
    font-size: 0.9rem;
    background: $white;
    top: -0.5rem;
    left: 1.5rem;
    width: auto;
    color: $primary;
    border-radius: 0;
    padding: 0 5px 0 5px;
    height: min-content;
    z-index: 1;
    margin: 0 0 0 calc(0.5rem - 5px);
  }
}

#agreement {
  height: 25px;
  margin: 0;
  width: 25px;
  z-index: 9999;
  position: absolute;
  left: 0rem;
  &:hover {
    cursor: pointer;
  }
}
.checkbox-box {
  position: absolute;
  left: 5px;
  top: -5px;
  & .animated-tick {
    stroke-dashoffset: 50;
    transition: stroke-dashoffset 0.2s ease-in;
  }
  & #checkmark-path {
    fill: none;
    stroke: $primary;
    stroke-width: 3.5999999;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: 48;
    stroke-opacity: 1;
  }
} 

.form-big-checkbox input:checked {
  & ~ .checkbox-box {
    & .checkmark-tick {
      display: block;
    }
    & .animated-tick {
      stroke-dashoffset: 0;
    }
  }
  & ~ .checkbox:after {
    display: none;
  }
}