<div class="container how-work-table-slider-container" data-cy="how-work-table-slider__container" [ngClass]="data.container_class">
  <div class="row">
    <div class="col-12">
      <h2>{{data.title_section}}</h2>
      <!-- Mobile version with slider -->
      <ngb-carousel
      class="d-block d-md-none row" #carousel (swipe)="onSwipe($event)" data-mc-options='{ "touchAction": "pan-y" }'>
        <ng-template ngbSlide *ngFor="let product of data.product_content; let i=index; let first = first; let last = last" [id]="product.product_code">
          <div class="slider-container col-12">
            <div class="col-1 order-1 fake-table" [ngClass]="{'left': !first && animationState != 'slideRight'}"></div>
            <div class="carousel-table col-10 order-2" [@animator]="animationState" (@animator.done)="resetAnimationState()">
              <h3 class="product-title" [innerHTML]="product.name"></h3>
              <div *ngIf="product.recommended" class="ribbon"><span>consigliato</span></div>
              <div *ngIf="product.included" class="ribbon"><span>incluso</span></div>
              <ul class="item-list">
                <ng-container *ngFor="let item of product.items_list">
                  <li [ngClass]="{'included': item.included}" class="primary-item"
                  [innerHtml]="item.text"></li>
                  <ul class="subitems-list" *ngIf="item.subitems.length">
                    <li *ngFor="let subitem of item.subitems">{{subitem}}</li>
                  </ul>
                </ng-container>
              </ul>
            </div>
            <div class="col-1 order-3 fake-table" [ngClass]="{'right': !last && animationState != 'slideLeft'}"></div>
          </div>
        </ng-template>
      </ngb-carousel>
      <!-- Dekstop version no slider -->
      <div class="d-none d-md-flex row">
        <div *ngFor="let product of data.product_content" class="col">
          <div class="carousel-table">
            <h3 class="product-title" [innerHTML]="product.name"></h3>
            <div *ngIf="product.recommended" class="ribbon"><span>consigliato</span></div>
            <div *ngIf="product.included" class="ribbon"><span>incluso</span></div>
            <ul class="item-list">
              <ng-container *ngFor="let item of product.items_list">
                <li [ngClass]="{'included': item.included}" class="primary-item"
                [innerHtml]="item.text"></li>
                <ul class="subitems-list" *ngIf="item.subitems.length">
                  <li *ngFor="let subitem of item.subitems">{{subitem}}</li>
                </ul>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

