<ng-container *ngIf="content">
  <div class="migrate-container">
    <div class="migrate-card">
      <div class="migrate-form-container">
        <form [formGroup]="form" (ngSubmit)="login()">
          <div class="row">
            <div class="col-12 mb-4 line-text">
              <span>
                {{content.not_customer}}
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-12 tim-form-label-group"
            [ngClass]="{'error-field': getFieldInvalidError('taxcode') }">
              <input id="taxcode" 
                type="text" 
                class="form-control" 
                formControlName="taxcode"
                maxlength="16">
              <label for="taxcode">
                {{content.taxcode_form_label}}
              </label>
              <div class="error-message" [hidden]="!getFieldError('taxcode', 'required')">
                {{ 'forms.mandatory_field' | translate | async }}
              </div>
              <div class="error-message" [hidden]="!getFieldError('taxcode', 'pattern')">
                {{ 'forms.wrong_format' | translate | async }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mt-3">
              <button id="login-btn" class="login-btn"
                (click)="ndgMigration()"
                [disabled]="!isValid()"
                type="submit" >
                {{ 'buttons.sign_in' | translate | async }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-container>