@import "~sass/_variables.scss";

.migrate {
  &-container {
    .header {
      padding: 1.5rem 0;
      background-color: $primary;
      text-align: center;
      &-title {
        color: $white;
        font-size: 1.5rem;
      }
    }
    .want-to-register {
      .register-btn {
        background-color: #02cfd2;
        color: $white;
        border-radius: 0;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1rem;
        border: none;
        padding: 1rem 0;
        width: 100%;
        outline: none;
      }
    }
    .line-text {
      text-align: center;
      span {
        position: relative;
        background-color: $white;
        z-index: 2;
        box-shadow: 1.5rem 0 0 $white, -1.5rem 0 0 $white;
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background-color: $black;
          z-index: 1;
          transform: translateY(-0.75rem);
        }
      }
    }
    .login-btn {
      background-color: #003A79;
      color: $white;
      border-radius: 0;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1rem;
      border: none;
      padding: 1rem 0;
      width: 100%;
      outline: none;
      &:disabled {
        opacity: 0.5;
      }
    }
  }
}

.tim-form-label-group {
  &.error-field {
    label {
      color: $red;
    }
    input, select {
      border-color: $red;
    }
  }

  & > input, > select {
    border: 1px solid $btn-text-color;
    background: $white;
    border-radius: 0;
    padding: 0 0 0 1rem;
    font-size: 1rem;
  }
  & > label {
    position: absolute;
    font-size: 0.9rem;
    background: $white;
    top: -0.5rem;
    left: 1.5rem;
    width: auto;
    color: $btn-text-color;
    border-radius: 0;
    padding: 0 5px 0 5px;
    height: min-content;
    z-index: 1;
    margin: 0 0 0 calc(0.5rem - 5px);
  }
}
