<div [ngClass]="!isCompleted ? 'row recap-card' : 'row-shadowed completed-card'" data-cy="chekout-step-info-recap__card">
    <div class="col-12 title-container" [ngClass]="product">
        <div class="title" data-cy="chekout-step-info-recap__title" [hidden]="product === 'ge-ski-plus' || product === 'ge-ski-premium' || product === 'winter-sport-plus' || product === 'winter-sport-premium' || product === 'tim-for-ski-gold' || product === 'tim-for-ski-silver' || product === 'tim-for-ski-platinum'">{{data.title}}</div>
        <div class="title-tim" data-cy="chekout-step-info-recap__title" *ngIf="product === 'tim-for-ski-gold' || product === 'tim-for-ski-silver' || product === 'tim-for-ski-platinum'" style="font-weight: bold">{{data.title}}</div>
        <div class="edit-link" *ngIf="data.edit" (click)="emitHandleStepChanged()">
            Modifica
        </div>
        <div class="title" [ngClass]="product" data-cy="chekout-step-info-recap__title" *ngIf="product === 'ge-ski-plus' || product === 'ge-ski-premium' || product === 'winter-sport-plus' || product === 'winter-sport-premium'"><b>{{data.subtitle}}</b></div>
    </div>
    <div class="col-12 info-container" *ngIf="product !=='axa-assistance-gold' && product !=='axa-assistance-silver' && product !=='axa-annullament'"
    [hidden]="product === 'yolo-for-ski-gold' || product === 'yolo-for-ski-platinum' || product === 'tim-for-ski-gold' || product === 'tim-for-ski-platinum' || product === 'tim-for-ski-silver'">
        <img [src]="data.product_icon" alt="Yolo" [ngClass]="dataService.tenantInfo.tenant">
        <div class="info">
            <strong *ngIf="product === 'ge-ski-plus' || product === 'ge-ski-premium' || product === 'winter-sport-plus' || product === 'winter-sport-premium'">{{data.title}}</strong>
            <p *ngFor="let item of data.display_data">
                <ng-container *ngIf="item.value && item.label">
                    {{item.label}}: <b *ngIf="dataService.tenantInfo.tenant === 'civibank_db' || dataService.tenantInfo.tenant === 'banco-desio_db'; else elseProduct">{{item.value}}</b>
                                    <ng-template #elseProduct><b>{{item.value}}</b></ng-template>
                </ng-container>
            </p>
            <div class="col-12 p-0" *ngIf="data.subjectsDropdown">
                <app-checkout-card-recap-insured-subjects
                  [insuredSubjects]="data.insuredSubjectsDropdown"
                  [boxCollapse]="true"
                  [title]="data.subjectsDropdownTitle">
                </app-checkout-card-recap-insured-subjects>
            </div>
        </div>
    </div>
    <div class="col-12 info-container" *ngIf="product==='axa-assistance-gold'|| product==='axa-assistance-silver' || product ==='axa-annullament'"
    [hidden]="product === 'yolo-for-ski-gold' || product === 'yolo-for-ski-platinum' || product === 'tim-for-ski-gold' || product === 'tim-for-ski-platinum' || product === 'tim-for-ski-silver'">
        <img [src]="data.product_icon" alt="Yolo">
        <div class="info">
            <div *ngFor="let item of data.display_data ; let i=index">
                <div *ngIf="item.value && item.label">
                    <div *ngIf="i < 3">
                        <p>{{item.label}}: <b>{{item.value}}</b></p>
                    </div>
                </div>
            </div>
            <div class="period-container">
                <p> <span>{{data.period}}: </span>
                    <span style="white-space: nowrap" *ngFor="let item of data.display_data | slice: 3:5 ; let i=index">
                    <ng-container  *ngIf="item.value && item.label">
                      <b>  {{item.label}}</b> {{item.value}}
                    </ng-container>
                  </span>
                </p>
            </div>
        </div>
    </div>
     <div class="p-4 col-12 info-container" [ngClass]="dataService.tenantInfo.tenant" *ngIf="product === 'yolo-for-ski-gold' || product === 'yolo-for-ski-platinum' || product === 'tim-for-ski-gold' || product === 'tim-for-ski-platinum' || product === 'tim-for-ski-silver'">
        <img *ngIf="product === 'yolo-for-ski-gold' || product === 'yolo-for-ski-platinum'" [src]="data.product_icon" alt="Yolo">
        <img *ngIf="product === 'tim-for-ski-gold' || product === 'tim-for-ski-platinum' || product === 'tim-for-ski-silver'" [src]="data.display_data[2].label" style="max-width: 60px">
        <div class="info">
            <div>
                <div>
                    <div class="period-container">
                        <p> <span>{{data.display_data[0].label}}: </span>
                            <span style="white-space: nowrap">
                            <ng-container>
                              <b>{{getDuration()}}</b>
                            </ng-container>
                          </span>
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <p>{{data.display_data[1].label}}: <b>{{data.display_data[1].value}}</b></p>
            </div>
        </div>
    </div>

    <div class="pl-4 pb-4" *ngIf="data.insuredSubjects">
        <div class="row">
            <div class="col-12">
                <span><b>{{data.travel_title}}</b></span>
            </div>
        </div>
        <div class="row">
            <div *ngIf="data.insured_is_contractor && !data.insuredSubjects[0].pet" class="col-12 col-sm-6">
                <span>{{data.insuredSubjects[0].name}}<br>{{data.insuredSubjects[0].taxcode}}</span>
            </div>
            <div class="col-12 col-sm-6" *ngFor="let insured of data.insuredSubjects[1].insured"
                [hidden]="(dataService.tenantInfo.tenant === 'banco-desio_db'
                || dataService.tenantInfo.tenant === 'civibank_db'
                || dataService.tenantInfo.tenant === 'ragusa_db')
                && (product === 'htrv-basic' || product === 'htrv-premium')">
              <span>{{insured.insuredname}}<br>{{data.display_data[2].label}}{{insured.insuredtaxcode}}</span>
            </div>
            <div class="col-12 col-sm-6"
                *ngIf="(dataService.tenantInfo.tenant === 'banco-desio_db'
                || dataService.tenantInfo.tenant === 'civibank_db'
                || dataService.tenantInfo.tenant === 'ragusa_db')
                && (product === 'htrv-basic' || product === 'htrv-premium')">
              <div *ngFor="let insured of data.insuredSubjects[1].insured">
                <span>{{insured.insuredname}}<br>{{insured.insuredtaxcode}}</span>
              </div>
            </div>
        </div>
    </div>
    <div class="col-12 insured-subjects-container" *ngIf="data.insured_subjects">
        <h5 data-cy="chekout-step-info-recap__insured-subjects-title">{{data.insured_subjects_title}}</h5>
        <div class="row insured-subjects">
            <div class="col-4" *ngFor="let person of data.insured_subjects">
                <p>{{person.firstname}} {{person.lastname}}<br>{{person.taxcode}}</p>
            </div>
        </div>
    </div>
</div>

<div *ngIf="data.it_contact">
    <div [ngClass]="!isCompleted ? 'row recap-card' : 'row-shadowed completed-card'">
        <div class="col-12">
            <h3>{{data.title_technical_contact}}</h3>
        </div>
        <div class="col-12 info-container">
            <img [src]="data.icon_technical_contact" alt="Icona-Referente-tecnico">
            <div class="info">
                <p class="email-contact">{{data.it_contact}}</p>
            </div>
        </div>
    </div>
</div>
