<div class="card" id="cardViaggi">
    <div class="card-body global-container">
        <div class="row justify-content-between align-items-center">
            <div class="col-8">
                <h3 class="product-name">
                    {{product.name}}</h3>
                <span *ngIf="dataService.tenantInfo.tenant === 'banca-sella_db'" class="badge badge-info">{{product.covid_included}}</span>
            </div>
            <div class="col-4">
                <div class="product-icon-box">
                    <img alt="CheBanca Viaggi" class="fp-image" src={{product.images[0].small_url}}>
                </div>
            </div>
            <p class="col-sm-12">{{product.policy}}</p>
        </div>
        <form #tripFormCb="ngForm">
            <div class="row">
                <div class="col-12">
                    <div class="row input-group w-auto">
                        <div class="col-6">
                            <div (click)="toggleDatePicker('fromDate')" class="input-wrapper form-group container" id="{{'datePicker' + product.id}}">
                                <label class="pl-3">{{product.travel_start}}</label>
                                <input class="form-control text-center" name="startTrip" autocomplete="off"
                                placeholder="GG/MM/AAAA" id="datepicker-test1"
                                [(ngModel)]="stringFromDate" required readonly>
                            </div>
                        </div>
                        <div class="col-6">
                            <div (click)="toggleDatePicker('toDate')" class="input-wrapper form-group container"
                            [ngClass]="{'disabled': !stringFromDate}">
                                <label class="pl-3">{{product.travel_end}}</label>
                                <input placeholder="GG/MM/AAAA" id="datepicker-test2" name="endTrip"
                                class="text-center form-control"
                                [(ngModel)]="stringToDate" required readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <ngb-datepicker *ngIf="openPicker" name="dp" #dp [(ngModel)]="datepicker"
                    (select)="singleDateSelection($event)"
                    [displayMonths]="2" [minDate]="minDate" [maxDate]="maxDate" [startDate]="today">
                </ngb-datepicker>
                <ng-template #t let-date="date" let-focused="focused">
                    <span class="custom-day" [class.focused]="focused" [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)" [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
            {{ date.day }}
          </span>
                </ng-template>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="input-wrapper container mb-3">
                      <select id="{{'destinationSelect' + product.id}}" class="form-control arrow-select" name="selectDestination" [(ngModel)]="country" (ngModelChange)="selectCountry()" #selectDestination="ngModel" required>
                        <option *ngIf="country != null" [ngValue]="country">{{country.name}}</option>
                        <option [ngValue]="null"></option>
                        <option *ngFor="let country of countries" [ngValue]="country"> {{country.name}}</option>
                      </select>
                        <label for="{{'destinationSelect' + product.id}}" class="form-control-placeholder pl-3" id="label-destination-select">{{product.destination_select}}</label>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12">
                    <div class="row select-age-cont form-label-group">
                        <input (click)="toggleAgeSelection()" id="{{'select-age' + product.id}}" class="form-control arrow-select select-age" placeholder="{{product.age_selector_placeholder}}" name="selectAge" #selectAge="ngModel" [(ngModel)]="agesUpdated" required readonly>
                        <label for="{{'select-age' + product.id}}">{{product.age_selector_placeholder}}</label>
                    </div>
                    <div *ngIf="showAges" class="row select-age-cont form-label-group show-ages">
                        <app-age-selector [maxInsured]="product.maximum_insurable" [ageList]="agesList" (update)="onAgeSelectionUpdate($event)" (confirm)="toggleAgeSelection(); calculatePrice()"></app-age-selector>
                    </div>
                </div>
            </div>

            <div *ngIf="addons.length > 0">
                <p class="cb-small-title">{{product.addons_question}}</p>
                <div class="row addons chubb-addons addons-container">
                    <div class="col-12 form-group optional order_line_items_addons addons-container row mb-1">
                        <span class="col-xl-6 col-12 checkbox d-flex align-items-center my-2 single-addon" [ngClass]="dataService.tenantInfo.tenant" *ngFor="let addon of addons" [ngClass]="{'disableAddon' : addon.checkIstant}">
              <button (click)="toggleSelectionAddons(addon)" [ngClass]="{'selected' : addon.selected}" [disabled]="addon.checkIstant"
                class="toggle-select js-addon-label addon-label position-relative d-flex justify-content-center align-items-center rounded-circle mb-0">
                <input type="checkbox" hidden class="check_boxes optional js-addon js-quotation-trigger"
                  data-price="0.0" data-code="sport">
                <img src="{{(addon.addon.image || {}).original_url}}" alt="sport equip" class="addon-image">
              </button>
              <div class="addon-text ml-3">
                <p class="js-copy-addon-name copy-addon-name text-left mt-1">
                  {{addon.addon.name}}
                </p>
                <span
                  *ngIf="addon.addon.description"
                  class="js-addon-description addon-tooltip d-flex justify-content-center align-items-center rounded-circle mt-1 info-icon"
                  placement="auto" ngbTooltip="{{addon.addon.description}}">
                  i
                </span>
                        <div class="addon-description">
                            <p>{{addon.addon.description}}</p>
                        </div>
                    </div>
                    </span>
                </div>
            </div>
    </div>

    <hr>

    <div *ngIf="!timeComparison()"
          class="alert alert-danger col-sm-auto col-md-12 col-lg-auto text-center align-self-center"
          role="alert"
    >Non è possibile assicurarsi 15 minuti prima della mezzanotte</div>

    <hr>

    <div class="row">
        <div class="col-sm-auto col-md-12 col-lg-auto text-center align-self-center">
            <span class="purchase-price js-price">{{price * peopleQuantity | currency:'EUR':'symbol-narrow':'0.2-2'}}</span>
        </div>
        <div class="col-sm col-md-12 col-lg-6 d-flex justify-content-center justify-content-sm-end justify-content-md-center justify-content-lg-end mt-2 mt-sm-0 mt-md-2 mt-lg-0 ml-auto">
            <button class="btn quot-btn" [ngClass]="dataService.tenantInfo.main.layout" [gtmEvent]="'click'" [tenant]="'chebanca'" (pendingPush)="handleGtm($event)" (click)="checkout()" [disabled]="tripFormCb.invalid" id="{{'procedi' + product.id}}">
            {{product.continue_button_label}}
          </button>
        </div>
    </div>
    </form>
</div>
<div class="row justify-content-between align-items-center container-logo-pdf" [ngClass]="dataService.tenantInfo.tenant">
    <div class="col-auto">
        <div class="provider-logo">
            <img *ngIf="dataService.tenantInfo.tenant != 'banca-sella_db'" src="assets/images/logos/genertel-logo.png" alt="genertel">
            <img *ngIf="dataService.tenantInfo.tenant === 'banca-sella_db'" src="assets/images/logos/genertel-logo.svg" alt="genertel">
        </div>
    </div>
    <div class="col-auto product-download">
        <a class="inf-package" href="{{ product.information_package }}" target="_blank">{{product.information_package_text}}</a>
    </div>
</div>
</div>
