@import "sass/variables";

.for-who-container {
  margin-top: 3rem;

  .container {
    border: 1px solid lightgrey;
    padding: 2rem;
    position: relative;
    overflow: hidden;

    .for-who-note {
      font-size: 0.8rem;

      ::ng-deep p{
        margin: 0;
      }
    }

    .title {
      font-size: 1rem;
    }
  }
}
