<app-checkout-card-recap [product]="product">
</app-checkout-card-recap>
<hr/>
<app-checkout-card-date-time #periodCard
                                  [period]="product"
                                  [duration]="product.duration"
                                  [durationUnit]="product.durationUnit"
                                  [hoursEnabled]="true"
                                  [timeEnabled]="true"
                                  [minutesEnabled]="true"
                                  [instantTimeMinutes]="120"
                                  [timeDropdown]="true"
                                  [dateOptions]="periodOptions">
</app-checkout-card-date-time>
<hr/>
<app-checkout-card-insured-subjects #insuredSubjectsCard
                                    [insuredIsContractor]="product.insuredIsContractor"
                                    [insuredSubjects]="product.insuredSubjects"
                                    [numberOfSubjects]="product.quantity"
                                    [hideFamilyGrade]="false"
                                    [extended]="false"
                                    [minAgeBirthDate]="minAgeBirthDate"
                                    [productCode]="product.code">
</app-checkout-card-insured-subjects>
