<ng-container *ngIf="this.auth.loggedIn">

  <div class="row row-shadowed recap-mysci-proposal mb-3">
    <div class="col-12 info-container proposals-img" >
      <img [src]="data?.display_data[1]?.value" [alt]="data?.display_data[1]?.label">
      <div>
        <span class="recap-card-title">
          {{ data?.display_data[0]?.label}}
        </span>
        <div class="info">
          <span>{{responseOrder.total_quantity}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-shadowed recap-mysci-proposal mb-3">
    <div class="col-12 info-container proposals-img" >
      <img [src]="data?.display_data[3]?.value" [alt]="data?.display_data[3]?.label">
      <div>
        <span class="recap-card-title">
          {{ data?.display_data[2]?.label}}
        </span>
        <div class="info">
          <span>Giornaliero</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row-shadowed recap-mysci-proposal mb-3">
    <div class="col-12 info-container proposals-img">
      <img [src]="data?.display_data[5]?.value" [alt]="data?.display_data[5]?.label">
      <div>
        <span class="recap-card-title">
          {{ data?.display_data[4]?.label}}
        </span>
        <div class="info">
          <span>{{proposal}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row-shadowed recap-mysci-proposal mb-3">
    <div class="col-12 info-container proposals-img">
      <img [src]="data?.display_data[7]?.value" [alt]="data?.display_data[7]?.label">
      <div>
        <span class="recap-card-title">
          {{ data?.display_data[6]?.label}}
        </span>
      </div>
    </div>
  </div>

</ng-container>

