<div class="col container-box" [ngClass]="proposalName">
  <div class="row justify-content-center"
  [id]="'tab-' + proposalName">
    <div class="mb-3 mt-4">
      <h6 class="tab-title">{{proposal.title}}</h6>
      <span *ngIf="proposal.subtitle" class="tab-subtitle">{{proposal.subtitle}}</span>
    </div>
  </div>
  <div class="row proposals justify-content-start align-items-center">
    <ul #panel class="list-group" id="list-{{proposalName}}" (scroll)="onScroll($event)">
      <li *ngFor="let warranty of proposal?.warranties" class="primary-item" [ngClass]="{'included': warranty.included}"
        id="{{proposalName}}">
        <span class="fa-li">
          <img
            [src]="warranty.included ? './assets/images/icons/proposal_check/yes-check.svg' : './assets/images/icons/proposal_check/no-check.svg'">
        </span>
        {{warranty.name}}
      </li>
    </ul>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 detail">
      <span (click)="openDetail()" omniturecta="dettaglio proposta" omnitureposition="1">{{proposal.details}}</span>
    </div>
    <hr>
  </div>
  <div class="row justify-content-center align-items-end">
    <span class="price">{{price | currency}}</span>
  </div>
  <div class="period mb-2">
    <span>{{proposal.period}}</span>
  </div>
  <div class="row">
    <div class="col-12 mb-4">
      <button class="submit-btn buy" (click)="submit()" omniturecta="compra" omnitureposition="1">{{proposal.button}}</button>
    </div>
  </div>
</div>

