<div class="container-fluid vetrina">
  <div class="row-grid">
    <div *ngFor="let product of productList" [ngClass]="product.size">
      <div class="prod-container" [ngStyle]="{'background-image': 'url(' + product.img + ')'}">
        <div class="content">
          <div class="prod-text">
            <h2 [innerHtml]="product.name"></h2>
            <p [innerHtml]="product.description"></p>
          </div>
          <button (click)="goToPreventivatore(product.code)" class="btn">{{product.cta}}</button>
        </div>
      </div>
    </div>
  </div>
</div>