@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/variables";

.vetrina {
  margin-top: $navbar-height;
}

.row-grid {
  display: grid;
  margin-left: -15px;
  margin-right: -15px;
  padding-top: .25em;
  padding-bottom: .25rem;
  column-gap: .25rem;
  row-gap: .25rem;
  min-height: 80vh;

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
  }

}

.vertical {
  display: flex;

  .prod-container {
    background-position-x: center;
  }

  @include media-breakpoint-up(md) {
    grid-row-end: span 2;

    .prod-container {
      display: grid;
      justify-items: flex-end;

      .img-container {
        grid-row: 1;
        margin-bottom: 2rem;
      }
    }
  }
}

.horizontal {
  display: flex;

  .prod-container {
    background-position-y: 25%;
  }

  @include media-breakpoint-up(md) {
    grid-column-end: span 2;
  }

  @include media-breakpoint-up(md) {
    .img-container {
      text-align: start;
      width: 80%;
    }
  }
}

.half {
  font-size: initial;
  font-weight: initial;

  @include media-breakpoint-up(md) {
    min-height: calc(50vmin - #{$navbar-height});
  }

  .prod-container {
    background-position-y: 25%;

    p {
      margin-left: auto;
      max-width: 80%;
    }

    .btn {
      margin-bottom: 0.5rem;
    }
  }
}


.prod-container {
  padding: 2rem;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: right;

  .prod-text {
    h2 {
      color: $white;
      text-transform: uppercase;
      font-weight: 400;
      line-height: normal;
    }

    p {
      color: $white;
      text-align: right;
    }
  }

  .btn {
    z-index: 2;
    background-color: $primary;
    min-width: 180px;
    padding: 0 20px;
    height: 45px;
    line-height: 45px;
    letter-spacing: 0.5px;
    font-weight: 500;
  }
}
