@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/variables";

.what-section {
  width: 100%;
  max-width: 100%;
  @include media-breakpoint-down(sm) {
    background: none;
    padding: 0;
  }

  &-accordions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .what-accordion {
      border: 1px solid $white;
      display: flex;
      flex-direction: column;
      padding: 12px;
      margin: 1rem;
      width: 90%;
      @include media-breakpoint-down(sm) {
        width: 94%;
        padding: 10px 1.5rem;
        margin-left: 3px;
      }
      }
      .accordion {
        &-title {
          // text-align: center;
          font-weight: normal;
          margin: 0;
        }
        &-description {
          margin-top: 1rem;
        }
      }
    }
  }
  .what-accordion {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      i {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        transition: transform 300ms ease;
        &.rotate {
          transform: rotate(180deg);
        }
      }
    }
  }

.container-section {
  height: auto;
  background-color: $primary;
  color: $white;

  li {
    list-style: none;
    cursor: pointer;
  }

  .title-data{
    font-size: 30px;

  }

  .section-link {
    @include media-breakpoint-down(sm) {
      width: 90%;
      padding: 1rem 1.5rem;
      margin-top: 0;
    }
  }
}
.section-item-list {

}
ul {
  list-style: none;
  padding-left: 0;
  line-height: 2.5rem;
  margin-top: 1rem;

  a.active {
    font-weight: bold;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      height: 3px;
      bottom: -5px;
      background-color: #02d0d2;
      left: 0;
      right: 0;
      width: 100%;
    }
  }
  a.not-active {
    font-weight: bold;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      height: 3px;
      bottom: -5px;
      left: 0;
      right: 0;
      width: 100%;
    }
  }
}
@media (max-width: 79.99em)  {
  .what-section-accordions {
    width: 100%;
  }
  .what-section {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .container-section {
    display: flex;
    padding: 10px;
  }
  ul {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-left: 0.5rem;
  }
}
.not-active-item {
  opacity: 0.4;
}
