<div *ngIf="data" class="container-section">
  <div class="col-md-6 col-sm-12 p-4">
      <div class="row">
        <span class="title-data pl-1">{{data.title}}</span>
      </div>
    <div class="section-item-list row">
      <ul class="row">
        <li *ngFor="let item of data.links; index as i" class="mr-4 pl-3">
          <a [ngClass]= "{'active': item.text === selectedLink, 'not-active-item': item.text !== selectedLink}"  (click)="selectLink(item)">{{item.text}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <section class="what-section">
      <div class="what-section-accordions" *ngFor="let accordion of (selectedLink === data.links[0].text ? data.accordions : data.accordionsFaq ) ; index as i; ">
        <div  class="what-accordion">
          <a href="#collapsible-{{i}}" data-toggle="collapse" data-target="#collapsible-{{i}}"
             (click)="toggleCollapse(accordion)">
            <div class="header">
              <div class="accordion-title">{{accordion.title}}</div>
              <i class="fas fa-chevron-down" [ngClass]="{'rotate': !accordion.collapsed}"></i>
            </div>
          </a>
          <p class="collapse accordion-description" id="collapsible-{{i}}">{{accordion.description}}</p>
        </div>
      </div>
    </section>
  </div>
</div>


