<section class="container py-5" id="functionalities" name="functionalities">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="row">
        <h2 class="mb-3 font-weight-bold text-left text-uppercase dynamic-title">
          {{'overview.solutionstitle' | translate | async}}
        </h2>
        <div class="dynamic-body">
          <div class="row justify-content-center">
            <div class="col-12 text-left funct-what">
              <p>{{'overview.solutionssubtitle' | translate | async}}</p>
            </div>
            <div class="col-sm-4 my-3 solutions-card">
              <div class="card">
                <div class="w-100 mb-2"><img
                    [src]="solutionbankimg">
                </div>
                <h3 class="w-100 text-center text-uppercase">
                  <p>{{'overview.solutionbankstitle' | translate | async}}</p>
                </h3>
                <h3>
                  <div class="d-flex flex-column">
                    <p>{{'overview.solutionbankssub' | translate | async}}</p>
                    <div class="doubled-button position-relative border-0 p-0 dark-blue mt-auto" id="button-container">
                      <a class="button-text d-flex w-100 h-100
                  justify-content-center align-items-center text-uppercase font-weight-bold" id="button-clickable"
                        routerlink="/piattaforma-assicurativa-on-demand/banche-assicurazioni" target="_self" href="/piattaforma-assicurativa-on-demand/banche-assicurazioni"> {{'overview.findmorebtn' | translate | async}}
                      </a>
                      <div class="bg w-100 h-100 position-absolute" id="button-rectangle"></div>
                    </div>
                    <div></div>
                  </div>
                </h3>
              </div>
            </div>
            <div class="col-sm-4 my-3 d-flex flex-column justify-content-between solutions-card">
              <div class="card">
                <div class="w-100 mb-2"><img
                    [src]="solutionbusinesimg">
                </div>
                <h3 class="w-100 text-center text-uppercase">
                  <p>{{'overview.solutionsbusinesstitle' | translate | async}}</p>
                </h3>
                <h3>
                  <div class="d-flex flex-column">
                    <p>{{'overview.solutionsbusinesssub' | translate | async}}</p>
                    <div class="doubled-button position-relative border-0 p-0 dark-blue mt-auto" id="button-container">
                      <a class="button-text d-flex w-100 h-100
              justify-content-center align-items-center text-uppercase font-weight-bold" id="button-clickable"
                        routerlink="/piattaforma-assicurativa-on-demand/grandi-imprese" target="_self" href="/piattaforma-assicurativa-on-demand/grandi-imprese"> {{'overview.findmorebtn' | translate | async}} </a>
                      <div class="bg w-100 h-100 position-absolute" id="button-rectangle"></div>
                    </div>
                    <div></div>
                  </div>
                </h3>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>
