
.social-network-login {
  text-align: center;

  button.facebook-btn {
    padding: 10px 30px;
    color: white;
    text-transform: uppercase;
    background: #375697;
    border-radius: 5px;
  }
}
