@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/_variables.scss";

.shopping-cart {
  background-color: $white;
  border-radius: 8px;
  position: sticky;
  top: calc(#{$navbar-sticky-height} + 1rem);
  margin-bottom: 1rem;
  padding: 0px;
}

.product-name-title {
  margin-top: 1rem;
  font-size: 1.4rem;
}

.tim_product_title{
  color: #0033A1;
  font-size: 14px;
}

.product-name {
  padding: 1.5rem 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bold;
  &.civibank_db,
  &.banco-desio_db {
    padding: 0 0 0.7rem 0;
  }
  &.tim-broker-customers_db{
    padding: 0.5rem 0;
  }
}

.info-section {
  display: flex;
  padding-bottom: 1rem;
  align-items: flex-start;

  &.pdf {
    align-items: center;

    .fa {
      padding-left: 0.5rem;
    }
  }

  div.helbiz_db {
    ::ng-deep a {
      text-decoration: underline;
      color: $text-color;
    }
  }

  p {
    margin: 0px;
    font-weight: 500;
    font-size: 0.9rem;

    &:first-child {
      font-weight: 300;
    }
  }

  a {
    color: $primary;
    font-size: 0.9rem;
    line-height: normal;
  }

  .far,
  .fa {
    font-size: 2rem;
    color: $primary;
    flex: 0 0 48px;
    &.helbiz_db {
      @media (min-width: 1024px) {
        color: $text-color;
      }
    }
  }

  img {
    margin-right: 18px;
  }
  &::ng-deep.banco-desio_db{
    a {
      color: $primary;
      text-decoration: underline;
    }
  }
}

.cart-footer {
  display: grid;
  grid-template-columns: repeat(1, 2fr 1fr);
  grid-row-gap: 10px;
  justify-content: space-between;
  font-weight: bold;
  padding-bottom: 1rem;
  align-items: center;
  &.ge-home-cart {
    padding-bottom: 0;
  }

  .monthly-amount {
    font-size: 1.5rem;
    color: $primary;
    letter-spacing: -1px;
    text-align: end;
    &.helbiz_db {
      color: $text-color;
      font-size: 1.5rem;
      letter-spacing: -1px;
      text-align: end;
    }
    &.yolo-es-es_db {
      display: flex;
      flex-direction: row;
      gap: 5px;
    }
    &.chebanca_db {
      color: #444444;
    }
    &.ragusa_db{
      color: $text-color;
    }
  }
  .installment {
    font-size: 1.5rem;
    color: $primary;
    letter-spacing: -1px;
    text-align: end;

    &.real-price {
      text-decoration: line-through;
      font-size: 1.3rem;
      font-weight: initial;
    }
  }
  p {
    width: max-content;
  }
}

.ge-home-annual {
  .monthly-title {
    font-size: 14px;
  }
  .annual-amount {
    font-size: 14px;
    text-align: start;
  }
}

.price-container {
  .cart-footer {
    display: flex;

    .price {
      font-size: 1.5rem;
      color: $primary;
      letter-spacing: -1px;
    }

    .month-free {
      font-size: 1rem;
      color: $primary;
      letter-spacing: -1px;
    }

    .next-price-text {
      font-size: 0.9rem;
      margin-right: 0rem;
    }

    .next-price {
      color: $primary;
      font-weight: bold;
      font-size: 1.2rem;
      text-align: right;
      padding-right: 0rem;
    }
  }
}

.divider {
  height: 1px;
  background-color: $grey-ligth;
  width: 90%;
  margin: 0.5rem 15px 1.5rem;
}

.discount-container {
  .cart-footer {
    font-size: 0.9rem;
    // display: flex;
    // justify-content: space-between;
    // font-weight: bold;
    // padding-bottom: 1rem;
    // align-items: center;
    .discount-data {
      font-size: 1rem;
      color: $primary;
      letter-spacing: -1px;
    }
  }
}

:host ::ng-deep {
  p {
    margin: 0;
    margin-right: 0.5rem;

    a {
      color: $primary;
      line-height: normal;
      font-weight: 400;
      font-size: 0.9rem;
    }
  }
  &.chebanca_db {
    p {
      a {
        color: $grey-dark;
      }
    }
  }
}

.coverage-options {
  li {
    font-size: 14px;
  }
  .title {
    margin-bottom: 0.2rem;
  }
  .virtualhospital-monthly,
  .virtualhospital-annual {
    ::ng-deep {
    ul {
      padding-left: 15px;
      margin-bottom: 0rem;
      ::marker{
        color: $primary;
        }
      }
    }
  }
}

.info-homage {
  display: flex;
  justify-content: center;
  color: #0033a1;
  background-color: #e4efff;
  border-color: #e4efff;
  span {
    font-weight: bold;
  }
}

.tooltip-icon {
  border: 1px solid #000;
  border-radius: 50%;
  padding: calc(1rem - 1em) 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  &.fca-bank_db{
    border: 1px solid $secondary;
    background-color: $secondary;
    color: $white;
  }
}

::ng-deep {
  .tooltip-inner {
    width: 320px;
  }
}

.frequency_payment {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 3px;
  letter-spacing: 0.18px;
  color: $grey-dark;
  ::ng-deep strong {
    font-weight: 400;
    font-size: 30px;
    color: $black;
  }
}

.hidden-circle {
  list-style-type: none;
  margin-top: 5px;
}

.banca-sella_db {
  .ge-ski-plus > li, .ge-ski-premium > li {
    list-style-type: disc !important;
  }
}


.winter-sport-plus > li, .winter-sport-premium > li {
  list-style-type: disc !important;
  font-size: 14px;
}

.chubb-sport, .chubb-sport-rec > .hidden-circle {
  list-style-type: disc !important;
}

.filter{
    &.chubb-sport,
    &.chubb-sport-rec {
      &.aua_db{
        display: none;
      }
    }
}

.package{
  font-size: 10px !important;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.detail-info{
  &.winter-sport-plus,
  &.winter-sport-premium{
    .package{
      color: rgba(0, 0, 0, 0.6);
      margin: 10px 0;
    }
    .cost-detail-list{
      margin-bottom: 0 !important;
      padding-inline-start: 15px !important;
    }
  }
}
.cost-detail-list{
  &.yolo-for-ski-gold,
  &.yolo-for-ski-platinum{
    padding-inline-start: 25px;
  }
}

:host ::ng-deep {
  .yolo-for-ski-gold,
  .yolo-for-ski-platinum {
    p a {
      font-size: 14px !important;
      text-decoration: underline;
    }
  }
}

.yolo-for-ski-gold,
.yolo-for-ski-platinum{
  color: $black;
  font-size: 14px;
  small {
    font-size: 10px;
  }
  .monthly-amount {
    margin: 0;
    width: 100%;
  }
  .total {
    font-size: 1rem;
  }
  .product-name {
    text-transform: none;
    &-title {
      display: none;
    }
  }
}
.ragusa_db{
  ::ng-deep{
    a{
      color: $primary;
      text-decoration: underline;
      cursor: pointer;
      font-weight: 700;
      font-size: 14px;
    }
  }
}
.fca-bank_db{
  ::ng-deep{
    a{
      color: $secondary;
      cursor: pointer;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
    }
  }
}
