<div class="card" id="cardProtezioneVolo">
	<div class="card-body mb-4-preventivi">
		<div class="row">
			<h1 class="col product-name d-flex align-items-center">{{product.name}}</h1>
			<div class="col-auto text-center p-0">
				<div class="product-icon-box">
					<img alt="Yolo protezione volo" class="fp-image" [src]="getSmallImage(product.images)">
				</div>
			</div>
		</div>
		<form #tripForm="ngForm">
			<div class="row mt-4">
				<div class="col-12 col-sm-6 col-md-12">
					<div class="row input-group w-auto">
            <div class="col-12 input-wrapper form-group container" [ngClass]="{'error-field': travelPriceError}">
							<label class="price-fly pl-3">
								{{ 'quotator.label_text' | translate | async }} 
								<button class="info-tooltip-annullamento tooltip-help-btn" data-toggle="tooltip" data-placement="top"
									ngbTooltip="	{{'checkout_step_1_annullamento_viaggio.max_price_info' | translate | async}}">?
								</button>
							</label>
							<input class="form-control text-center" name="startTrip" autocomplete="off"
								[(ngModel)]="travelPrice" (keyup)="checkVlaidChars(); calcTotalPrice()"
								placeholder="{{'checkout_step_1_annullamento_viaggio.travel_price' | translate | async}}" maxlength="7">
						</div>
					</div>
				</div>
<!--			</div>-->
<!--			<div class="row mb-3">-->
				<div class="col-12 col-sm-6 col-md-12">
          <p class="card-section-title" style="margin-bottom: 0.5rem !important">{{'quotator.insured_persons_number' | translate | async}}</p>
					<div class="ml-0 mr-0 row align-items-center justify-content-start">
						<button class="col-xs bg-operators" (click)="subtractQuantity()" [disabled]="peopleQuantity === 1" [ngClass]="peopleQuantity === 1 ? 'disabled' : ''">
							<i class="fa fa-minus" aria-hidden="true"></i>
						</button>
						<div class="col-md-4 col">
							<input class="quantity-input text-center w-100" #quantity="ngModel" type="text"
								[(ngModel)]="peopleQuantity" name="quantity" id="quantity" value="peopleQuantity"
								required readonly>
						</div>
						<button class="col-xs bg-operators" (click)="addQuantity()" [disabled]="peopleQuantity === this.product.maximum_insurable" [ngClass]="peopleQuantity === this.product.maximum_insurable ? 'disabled' : ''">
							<i class="fa fa-plus" aria-hidden="true"></i>
						</button>
					</div>
				</div>
			</div>
			<hr>
			 <div class="row purchase">
        <div class="col-sm-6 col-md-12 col-lg-6">
          <div class="col-12 text-center col-sm-12 text-sm-left col-md-12 text-md-center col-lg-12 text-lg-left font-weight-bold">
            <span class="purchase-text js-price d-inline"> {{ 'quotator.total_price' | translate | async}}</span>
          </div>
        <div class="col-12 text-center col-sm-12 text-sm-left col-md-12 text-md-center col-lg-12 text-lg-left font-weight-bold">
          <span class="purchase-price js-price d-inline">{{totalPrice | currency}}
          </span>
        </div>
      </div>
        <div class="col-12 text-center col-sm-6 text-sm-right col-md-12 text-md-center col-lg-6 text-lg-right">
            <button class="btn-animation" id="submit-test" (click)="checkout()"[ngClass]="dataService.getProductColorClass(product)">{{'buttons.purchase' | translate | async}}</button>
        </div>
      </div>
		</form>
	</div>
	<div class="row">
		<div class="col-12 text-center product-download">
			<a class="inf-package" href="{{ product.information_package }}" target="_blank"> {{'quotator.information_package' | translate | async}} </a>
		</div>
	</div>
	<div class="row justify-content-center align-items-center mt-4">
		<div class="col-auto provider-text">
			{{'quotator.product_collaboration' | translate | async}}
		</div>
		<div class="col-auto text-center">
			<div class="provider-logo">
				<img src="{{product.provider.image_url}}" [alt]="product.provider.name">
			</div>
		</div>
	</div>
</div>
