<div class="card" id="cardQuotator">
  <div class="card-body">

    <div class="row">
      <h1 class="col product-name d-flex align-items-center" data-cy = "quotator-people-variants__product-header">{{product.name}}</h1>
      <div class="col-auto text-center p-0">
        <div class="product-icon-box">
          <img alt="{{product.name}}" class="fp-image" [src]="getSmallImage(product.images)">
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12">
        <div class="description" *ngIf="dataService.tenantInfo.tenant === 'intesa_db' && product.short_description" >
         <p  [innerHTML]="product.short_description"></p>
        </div>
        <p class="card-section-title" style="margin-bottom: 0.5rem !important" data-cy = "quotator-people-variants__insureds-number">{{'quotator.insured_persons_number' | translate | async}}</p>
        <div class="ml-0 mr-0 row align-items-center justify-content-start">
          <button class="col-xs bg-operators" (click)="subtractQuantity()" [disabled]="peopleQuantity === 1" [ngClass]="peopleQuantity === 1 ? 'disabled' : ''" data-cy = "quotator-people-variants__subtract-insured-button">
            <i class="fa fa-minus" aria-hidden="true"></i>
          </button>
          <div class="col-md-4 col">
            <input class="quantity-input text-center w-100" #quantity="ngModel" type="text"
                   [(ngModel)]="peopleQuantity" name="quantity"
                   id="quantity" value="peopleQuantity" required readonly data-cy = "quotator-people-variants__insureds-number-display">
          </div>
          <button class="col-xs bg-operators" (click)="addQuantity()" [disabled]="peopleQuantity === this.product.maximum_insurable" [ngClass]="peopleQuantity === this.product.maximum_insurable ? 'disabled' : ''" data-cy = "quotator-people-variants__add-insured-button">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p class="card-section-title" data-cy = "quotator-people-variants__package-type">{{'quotator.package_type' | translate | async}}</p>
        <div class="row">
          <div class="col-md-3 choice" *ngFor="let variant of variants">
            <a class="btn package-btn pl-0 pr-0" [ngClass]="[ variant.active ? 'selected': '']" (click)="setPackage(variant)" [attr.data-cy]=" 'quotator-people-variants' | cy:variant.name: 'option'">{{variant.name}}</a>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <div class="row purchase">
      <div class="col-sm-6 col-md-12 col-lg-6">
        <div class="col-12 text-center col-sm-12 text-sm-left col-md-12 text-md-center col-lg-12 text-lg-left font-weight-bold">
          <span class="purchase-text js-price d-inline"> {{ 'quotator.total_price' | translate | async}}</span>
        </div>
      <div class="col-12 text-center col-sm-12 text-sm-left col-md-12 text-md-center col-lg-12 text-lg-left font-weight-bold">
        <span class="purchase-price js-price d-inline" data-cy = "quotator-people-variants__quotation-price">{{price * peopleQuantity | currency}}
        </span>
      </div>
    </div>
      <div class="col-12 text-center col-sm-6 text-sm-right col-md-12 text-md-center col-lg-6 text-lg-right">
          <button class="btn-animation" id="submit-test" (click)="checkout()"[ngClass]="dataService.getProductColorClass(product)"
          data-cy = "quotator-people-variants__purchase-button"
          >{{'buttons.purchase' | translate | async}}</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center product-download">
      <a class="inf-package" href="{{ product.information_package }}" target="_blank" data-cy = "quotator-people-variants__information-package">{{'quotator.information_package' | translate | async}}</a>
    </div>
  </div>
  <div class="row justify-content-center align-items-center mt-4">
    <div class="col-auto provider-text" [ngClass]="dataService.tenantInfo.tenant" data-cy = "quotator-people-variants__collaboration-provider">
      {{'quotator.product_collaboration' | translate | async}}
    </div>
    <div class="col-auto text-center">
      <div class="provider-logo">
        <img [src]="product.provider.image_url" [alt]="product.provider.name" data-cy = "quotator-people-variants__image-provider">
      </div>
    </div>
  </div>
</div>
