<div class="card simple" id="cardQuotator">
  <div class="card-body">
    <div class="row">
      <h1 class="col-8 product-name d-flex align-items-center">{{product.name}}</h1>
      <div class="col-4 text-right p-0">
        <div class="product-icon-box">
          <img alt="{{product.name}}" class="fp-image" [src]="getSmallImage(product.images)">
        </div>
      </div>
    </div>

    <div class="description" [innerHTML]="product.short_description"></div>

    <hr>
    <div class="row purchase">
      <div class="col-sm-6 col-md-12 col-lg-6">
        <div class="col-12 text-center col-sm-12 text-sm-left col-md-12 text-md-center col-lg-12 text-lg-left font-weight-bold">
          <span class="purchase-text js-price d-inline"> {{ 'quotator.total_price' | translate | async}}</span>
        </div>
      <div class="col-12 text-center col-sm-12 text-sm-left col-md-12 text-md-center col-lg-12 text-lg-left font-weight-bold">
        <span class="purchase-price js-price d-inline">{{product.display_price}} <span class="h6">{{mounthly}}</span>
        </span>
      </div>
    </div>
      <div class="col-12 text-center col-sm-6 text-sm-right col-md-12 text-md-center col-lg-6 text-lg-right">
          <button class="btn-animation" id="submit-test" (click)="checkout()"[ngClass]="dataService.getProductColorClass(product)">{{'buttons.purchase' | translate | async}}</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center product-download">
      <a class="inf-package" href="{{ product.information_package }}" target="_blank"> {{'quotator.information_package' | translate | async}}  </a>
    </div>
  </div>
  <div class="row justify-content-center align-items-center mt-4">
    <div class="col-auto provider-text">
      {{'quotator.product_collaboration' | translate | async}}
    </div>
    <div class="col-auto text-center">
      <div class="provider-logo">
        <img [src]="product.provider.image_url" [alt]="product.provider.name">
      </div>
    </div>
  </div>
</div>
