@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";

@import "~sass/variables";

#cardSportPack {
  background-color: transparent;
  position: relative;

  .product-name {
    padding-left: 2rem;
    color: $primary;
    font-size: 32px;
    line-height: 40px;
  }

  label {
    font-size: 20px;
    font-weight: normal;
  }

  .insured-subjects label {
    margin-top: 1rem;
  }

  .input-group input {
    border-radius: 17px;
  }

  .input-wrapper {
    .form-control:focus + .form-control-placeholder,
    .form-control:valid + .form-control-placeholder,
    .form-control:disabled + .form-control-placeholder {
      font-size: 80%;
      margin-top: 0.25rem;
      transform: translate3d(0, -6px, 0);
      color: $black;
    }

    .form-control-placeholder {
      top: 0.2rem;
    }
  }

  .input-wrapper {
    border: 1px solid #004F8C;
    border-radius: 15px;
    background-color: $white;
  }

  .input-wrapper#quantity {
    font-size: 30px;
    height: 60px;
    width: 60px;
    font-weight: 300;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .bg-operators {
    background-color: $white;
    border: 1px solid #004F8C;
    border-radius: 15px;
    height: 60px;
    width: 60px;

    &.disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }

    .fa.fa-minus, .fa.fa-plus {
      line-height: unset;
      font-weight: 600;

      &::before {
        color: $text-color;
        margin: 0;
      }
    }
  }

  .policy-start-date .input-wrapper {
    height: 60px;

    > input.form-control {
      font-size: 20px;
      line-height: unset;
      height: 100%;
    }
  }

  .insured-subjects,
  .policy-start-date,
  .policy-duration {
    margin-bottom: 1rem;
  }

  .policy-duration {
    .form-group {
      &.form-check {
        @include media-breakpoint-up(sm) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(3, 1fr);
          grid-column-gap: 1em;
          grid-auto-flow: column;
          padding: 35px 15px;
        }
      }

      label.form-big-checkbox {
        padding: 0.25rem 0.5rem 0.3rem 2.5rem;
        margin-bottom: 9px;
        letter-spacing: 0;

        span.checkbox {
          height: 30px;
          width: 30px;
          border-radius: 10px;
          border-color: #707070;

          &::after {
            content: '\f0c8';
            font-family: 'Font Awesome 5 Free';
            font-weight: bolder;
            font-size: 19px;
            font-style: normal;
            margin: 0;
            text-decoration: none;
            top: 3px;
            left: 5px;
            background: none;
            color: $red;
          }
        }
      }
    }
  }

  hr.divider {
    border-top: none;
    height: 10px;
    background-image: $gradient;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  .purchase {
    margin-bottom: 36px;

    .price-text {
      font-size: 25px;
      line-height: 30px;
      font-weight: bold;
    }

    .price {
      font-size: 2.5rem;
      line-height: 30px;
      font-weight: bolder;
      padding: 0;
    }

    .btn-container {
      text-align: end;
      margin-top: 2.3rem;

      .btn {
        font-size: 20px;
        line-height: 26px;
        color: $white;
        background-color: $red !important;
        font-weight: bold;
        padding: 0 5%;
        width: 100%;
        border-radius: 6px;
        max-width: 200px;
        box-shadow: 0px 3px 6px #00609C80;
        border: 1px solid $white;
        border-radius: 4px;
        opacity: 1;
        height: 44px;

        &:disabled {
          cursor: not-allowed;
          background-color: $primary;
        }
      }

      @include media-breakpoint-down(sm) {
        text-align: center;
      }
    }
  }

  .inf-package {
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    color: $primary;
  }

  @include media-breakpoint-down(md) {
    padding-top: 2rem;

    .product-name {
      font-size: 28px;
    }
    label,
    .policy-start-date .input-wrapper > input.form-control,
    .purchase .btn-container .btn {
      font-size: 18px;
    }
    .input-wrapper#quantity {
      font-size: 25px;
    }
    .policy-duration {
      .form-check {
        padding: 20px 15px;
      }
    }
    .purchase {
      .price-text {
        font-size: 22px;
      }

      .price {
        font-size: 35px;
      }
    }
    .inf-package {
      font-size: 16px;
    }
  }
  @include media-breakpoint-down(xs) {
    .insured-subjects {
      .bg-operators,
      .input-wrapper#quantity {
        height: 50px;
        width: 50px;
      }
    }
    .policy-start-date {
      .input-wrapper {
        height: 50px;
      }
    }
  }
}
