<div class="card" id="cardTravelPack" [ngClass]="dataService.tenantInfo.main.layout">
  <div class="row">
    <h1 class="col product-name d-flex align-items-center">{{product.name}}</h1>
    <div class="col-auto text-center p-0">
      <div class="product-icon-box">
        <img alt="{{product.name}}" src="{{product.images[0].small_url}}">
      </div>
    </div>
  </div>
  <form #tripForm="ngForm" class="col-12">
    <div class="row my-4">
      <div class="col-12">
        <p class="short-description">{{product.short_description}}</p>
        <div class="row travel-destination">
          <div class="col-12">
            <label class="pl-2" *ngIf="!dataService.isTenant('net')">
              {{ 'quotator.travel_destination_question' | translate | async }}
            </label>
            <div class="input-wrapper form-group container mb-3">
              <div class="drop-down-icon">
                <select class="form-control arrow"  [(ngModel)]="destination" #selectDestination="ngModel" name="destination" id="destination"
                        (change)="calculatePrice()" required>
                  <option [ngValue]="null"></option>
                  <option *ngFor="let dest of destinations" [ngValue]="dest">{{dest.name}}</option>
                </select>
                <label class="pl-2 form-control-placeholder" for="destination" *ngIf="!dataService.isTenant('net')">
                  {{ 'quotator.travel_destination_input' | translate | async }}
                </label>
                <label class="pl-2 form-control-placeholder" for="destination" *ngIf="dataService.isTenant('net')">
                  {{ 'quotator.travel_destination_question' | translate | async }}
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row travel-duration">
          <div class="col-12">
            <label class="pl-2">{{ 'quotator.travel_duration_question' | translate | async }}</label>
            <div class="row input-group w-auto">
              <div class="col-12">
                <div class="input-wrapper form-group container mb-2">
                  <label class="pl-3" for="startTrip">{{ 'quotator.travel_start_date' | translate | async }}</label>
                  <input
                    type="text"
                    name="startTrip"
                    class="form-control date-placeholder text-center"
                    [(ngModel)]="startTrip"
                    (focus)="startDate.toggle()"
                    autocomplete="off"
                    (dateSelect)="startDate.close(); updateEndDate($event); calculatePrice()"
                    placeholder="{{ 'quotator.travel_date_placeholder' | translate | async }}" id="datepicker-test"
                    ngbDatepicker
                    #startDate="ngbDatepicker"
                    [minDate]="calendarMinDate"  required
                    >
                </div>
              </div>
            </div>
            <div class="row input-group w-auto">
              <div class="col-12">
                <div class="input-wrapper form-group container mb-2">
                  <label class="pl-3" for="endTrip">{{ 'quotator.travel_end_date' | translate | async }}</label>
                  <input
                    type="text"
                    name="endTrip"
                    class="form-control date-placeholder text-center"
                    [(ngModel)]="endTrip"
                    (focus)="endDate.toggle()"
                    autocomplete="off"
                    (dateSelect)="endDate.close(); calculatePrice()"
                    placeholder="{{ 'quotator.travel_date_placeholder' | translate | async }}" id="datepicker-test"
                    ngbDatepicker
                    #endDate="ngbDatepicker"
                    [minDate]="minEndTripDate"
                    [maxDate]="calendarMaxDate" required
                    >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row insured-subjects">
          <div class="col-12">
            <label class="pl-2">{{ 'quotator.insured_persons_number_question' | translate | async }}</label>
            <div class="row align-items-center justify-content-start px-3">
              <button class="col-xs bg-operators" (click)="subtractQuantity()"
                      [disabled]="peopleQuantity === 1" [ngClass]="peopleQuantity === 1 ? 'disabled' : ''">
                <i class="fa fa-minus" aria-hidden="true"></i>
              </button>
              <div class="col-xs">
                <input type="text" class="input-wrapper quantity-input text-center py-2 w-100" id="quantity" name="quantity"
                      [(ngModel)]="peopleQuantity" #quantity="ngModel" value="peopleQuantity" required readonly>
              </div>
              <button class="col-xs bg-operators" (click)="addQuantity()"
                      [disabled]="peopleQuantity === product.maximum_insurable" [ngClass]="peopleQuantity === product.maximum_insurable ? 'disabled' : ''">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="row maximals">
          <div class="col-12">
            <label class="pl-2 col-10 col-sm-11">{{ 'quotator.travel_maximals' | translate | async }}</label>
            <div class="form-group pl-2 form-check mb-0" [ngClass]="{'input-wrapper': dataService.isTenant('net')}">
              <label *ngFor="let variant of product.variants"
                     class="form-check-label"
                     [ngClass]="dataService.isTenant('net') ? 'form-big-checkbox' : 'form-big-radio'"
                     for={{variant.sku}}>
                <input type="radio"
                        class="form-check-input"
                        name="maximal"
                        id={{variant.sku}}
                        (change)="calculatePrice()"
                        [(ngModel)]="maximal"
                        [value]="variant.sku"
                        required
                        >
                  {{variant.option_values[0].presentation}}
                <span [ngClass]="dataService.isTenant('net') ? 'checkbox' : 'checkmark'"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="row addons">
          <div class="col-12">
            <label class="pl-2">{{ 'quotator.travel_addons' | translate | async }}</label>

            <div class="form-group addons-container input-wrapper mb-3" *ngIf="dataService.isTenant('net')">
              <div class="row align-items-center justify-content-start checkbox my-1" *ngFor="let addon of product.addons">
                <i class="col-auto fa fa-3x" [ngClass]="selectedAddons.includes(addon.code) ? 'fa-minus-square' : 'fa-plus-square'"
                   (click)="onAddonSelection(addon)"></i>
                <span class="col-7 col-md-6 p-0 addon-name" (click)="onAddonSelection(addon)">{{addon.name}}</span>
                <i class="col-auto fa fa-info-circle fa-2x p-0" ngbTooltip="{{addon.description}}"></i>
              </div>
            </div>

            <div class="form-group addons-container mb-3" *ngIf="!dataService.isTenant('net')">
              <div class="row align-items-center justify-content-center">
                <span class="col checkbox single-addon my-2" *ngFor="let addon of product.addons">
                  <button class="row addon-label toggle-select position-relative justify-content-center align-items-center rounded-circle mx-auto"
                          [ngClass]="{'selected': selectedAddons.includes(addon.code)}" (click)="onAddonSelection(addon)">
                    <img class="addon-image" src="{{addon.image.original_url}}" alt="{{addon.name}}">
                  </button>
                  <div class="row addon-text text-center d-flex flex-column justify-content-center align-items-center mt-2">
                    <div class="col addon-name" (click)="onAddonSelection(addon)">{{addon.name}}</div>
                    <span class="addon-tooltip rounded-circle mt-2" placement="bottom" ngbTooltip="{{addon.description}}">i</span>
                  </div>
                </span>
              </div>
            </div>

          </div>
        </div>
        <hr class="divider">
        <div class="row purchase justify-space-between">
          <div class="col-12 col-sm-6 col-xl-5">
            <div class="row d-flex flex-column text-center">
              <div class="col price-text"><p>{{ 'quotator.total_price' | translate | async }}</p></div>
              <div class="col price">{{ price | currency:'EUR':'symbol-narrow':'0.2-2' }}</div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-xl-7 btn-container">
            <button [ngClass]="dataService.isTenant('net') ? 'btn' : 'btn-animation'" id="submit"
                    [disabled]="!tripForm.valid" (click)="checkout()">
                      {{ 'quotator.travel_insure' | translate | async }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-12 text-center product-download">
      <a class="inf-package" href="{{product.information_package}}" target="_blank">{{ 'quotator.information_package' | translate | async }}</a>
    </div>
  </div>
  <div class="row justify-content-center align-items-center mt-4" *ngIf="!dataService.isTenant('net')">
    <div class="col-auto provider-text">{{ 'quotator.product_collaboration' | translate | async }}</div>
    <div class="col-auto text-center">
      <div class="provider-logo">
        <img [src]="product.provider.image_url" [alt]="product.provider.name">
      </div>
    </div>
  </div>
</div>
