<div class="card" id="cardSport" xmlns:box-shadow="http://www.w3.org/1999/xhtml">
  <div class="card-body global-container">
    <div class="row justify-content-between align-items-center">
      <!-- <h3 class="product-name">{{product.name}}</h3> -->
      <div class="col-8">
        <h3 class="product-name">
          {{product.name}}</h3>
      </div>
      <div class="col-4">
        <div class="product-icon-box">
          <img alt="Yolo Sport" class="fp-image mb-2"
            src={{product.images[0].small_url}}>
        </div>
      </div>
      <p class="col-sm-12 cb-normativa">{{product.policy}}</p>
    </div>
    <form #sportForm="ngForm">
      <div class="row">
        <div class="col-12">
          <div class="input-wrapper mb-3">
            <select [(ngModel)]="sport" #selectSport="ngModel" name="selectSport" id="select-sport"
              class="form-control arrow-select" required>
              <option [ngValue]="null"></option>
              <option *ngFor="let sport of sports" [ngValue]="sport.value">
                {{ sport.description }}
              </option>
            </select>
            <label for="select-sport" class="form-control-placeholder pl-3" id="label-sport-select">{{product.sport_select}}</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="mb-2 col-12">
          <div class="row select-age-cont form-label-group" id="indicaEta_test">
            <input (click)="toggleAgeSelection()" id="{{'select-age' + product.id}}" class="form-control arrow-select select-age"
                   placeholder="{{product.age_selector_placeholder}}" name="selectAge" #selectAge="ngModel"
                   [(ngModel)]="agesUpdated" required readonly>
            <label for="{{'select-age' + product.id}}">{{product.age_selector_placeholder}}</label>
          </div>
          <div *ngIf="showAges" class="row select-age-cont form-label-group show-ages">
            <app-age-selector [maxInsured]="product.maximum_insurable" [ageList]="agesList"
                              (update)="onAgeSelectionUpdate($event)"
                              (confirm)="toggleAgeSelection(); calculatePrice()"></app-age-selector>
          </div>
        </div>
      </div>
      <div *ngIf="addons.length > 0">
        <p class="cb-small-title">{{product.addons_question}}</p>
        <div class="row addons chubb-addons addons-container">
          <div class="col-12 form-group mb-1 optional order_line_items_addons addons-container row">
            <span class="col-xl-6 col-12 checkbox d-flex align-items-center my-2 single-addon"
              *ngFor="let addon of addons">
              <button (click)="toggleSelectionAddons(addon)" [ngClass]="{'selected' : addon.selected}"
                class="toggle-select js-addon-label addon-label position-relative d-flex justify-content-center align-items-center rounded-circle mb-0">
                <input type="checkbox" hidden class="check_boxes optional js-addon js-quotation-trigger"
                  data-price="0.0" data-code="sport">
                <img src="{{(addon.addon.image || {}).original_url}}" alt="sport equip" class="addon-image">
              </button>
              <div class="addon-text ml-3">
                <p class="js-copy-addon-name copy-addon-name text-left mt-1">
                  {{addon.addon.name}}
                </p>
                <span
                  *ngIf="addon.addon.description"
                  class="js-addon-description addon-tooltip d-flex justify-content-center align-items-center rounded-circle mt-1 info-icon"
                  placement="auto" ngbTooltip="{{addon.addon.description}}">
                  i
                </span>
                <div class="addon-description">
                  <p>{{addon.addon.description}}</p>
                </div>
              </div>
            </span>
          </div>
        </div>
      </div>
      <div class="row mb-0" *ngIf="variants.length > 0">
        <div class="col-12">
          <p class="cb-small-title">{{product.coverage_duration}}</p>
          <div class="row mb-2">
            <div class="col-6 col-md-4 choice" *ngFor="let variant of variants">
              <a class="btn package-btn pl-0 pr-0" [ngClass]="[ variant.active ? 'selected': '']"
                (click)="setActiveVariant(variant)">
                {{variant.name}}
              </a>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-auto col-md-12 col-lg-auto text-center align-self-center">
          <span class="purchase-price">{{price | currency:'EUR':'symbol-narrow':'0.2-2'}}</span>
        </div>
        <div
          class="col-sm col-md-12 col-lg-6 d-flex justify-content-center justify-content-sm-end justify-content-md-center justify-content-lg-end mt-2 mt-sm-0 mt-md-2 mt-lg-0 ml-auto">
          <button class="btn cb-btn"  [ngClass]="dataService.tenantInfo.main.layout" [gtmEvent]="'click'" [tenant]="'chebanca'" (pendingPush)="handleGtm($event)" [disabled]="sportForm.invalid" (click)="checkoutCb()" id="procediAcquisto_test">{{product.continue_button_label}}</button>
        </div>
      </div>
    </form>
  </div>
  <div class="row justify-content-between align-items-center">
    <div class="col-auto">
      <div class="provider-logo">
        <img src="assets/images/logos/genertel-logo.png" alt="genertel">
      </div>
    </div>
    <div class="col-auto product-download">
      <a class="inf-package" href="{{ product.information_package }}" target="_blank">{{product.information_package_text}}</a>
    </div>
  </div>
</div>
