<div class="card" id="cardProtezioneVolo">
  <div class="card-body mb-4-preventivi">
    <div class="row">
      <h1 class="col product-name d-flex align-items-center">{{product.name}}</h1>
      <div class="col-auto text-center p-0">
        <div class="product-icon-box">
          <img alt="Yolo Sunny" class="fp-image" [src]="getSmallImage(product.images)">
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12">
        <div class="row input-group w-auto">
          <div class="col-12">
            <div (click)="toggleDatePicker()" class="input-wrapper form-group container">
              <label class="pl-3">Inizio copertura </label>
              <input (blur)="setFromDate()" class="form-control text-center" name="startTrip" autocomplete="off"
                placeholder="GG/MM/AAAA" id="datepicker-test1" [(ngModel)]="stringFromDate" required readonly>
              <button type="button"
                class="info-tooltip baloon position-absolute rounded-circle font-weight-bold"
                data-toggle="tooltip"  title="La copertura deve essere acquistata almeno 10 giorni prima dell’evento" ><small>i</small></button>
            </div>
          </div>
          <div class="col-12">
            <div (click)="toggleDatePicker()" class="input-wrapper form-group container">
              <label class="pl-3">Fine copertura</label>
              <input placeholder="GG/MM/AAAA" id="datepicker-test2" type="text" name="endTrip"
                class="text-center form-control" [(ngModel)]="stringToDate" (blur)="setToDate()" required readonly>
                <button type="button"
                class="info-tooltip baloon info-char position-absolute rounded-circle p-0 font-weight-bold"
                data-toggle="tooltip" data-html="true" title="Non è possibile assicurare più di 7 giorni"
                data-original-title="La copertura deve essere acquistata almeno 10 giorni prima dell’evento"><small>i</small></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ngb-datepicker *ngIf="openPicker" name="dp" [(ngModel)]="datepicker" (select)="onDateSelection($event)"
      [displayMonths]="2" [dayTemplate]="t" [minDate]="minDate" [maxDate]="maxDate" (click)="onDateRangeClick($event)">
    </ngb-datepicker>
    <ng-template #t let-date="date" let-focused="focused">
      <span class="custom-day" [class.focused]="focused"
        [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
        [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
        {{ date.day }}
      </span>
    </ng-template>
    <div class="row">
      <div class="col">
        <div class="input-wrapper form-group container">
          <label class="pl-3" for="destination">Qual é la destinazione?</label>
          <input class="form-control pl-3 pr-3" [(ngModel)]="destination" id="destination" type="text">
          <button type="button"
                class="info-tooltip baloon info-char position-absolute rounded-circle p-0 font-weight-bold"
                data-toggle="tooltip" data-html="true" title="Non è possibile coprire eventi che si trovano nel tuo stesso comune di residenza o che non siano in Italia, Spagna, Francia e UK"
                data-original-title=""><small>i</small></button>
        </div>
      </div>
      <div class="col-auto ">
        <button class="destination-btn text-center" [disabled]="isNotValid()" (click)="setDestination()">&gt;</button>
      </div>
    </div>
    <div class="separator"></div>
    <div class="row purchase">
      <div class="col-sm-6 col-md-12 col-lg-6">
        <div class="col-12 text-center col-sm-12 text-sm-left col-md-12 text-md-center col-lg-12 text-lg-left font-weight-bold">
          <span class="purchase-text js-price d-inline"> {{ 'quotator.total_price' | translate | async}}</span>
        </div>
      <div class="col-12 text-center col-sm-12 text-sm-left col-md-12 text-md-center col-lg-12 text-lg-left font-weight-bold">
        <span class="purchase-price js-price d-inline">{{price | currency}}
        </span>
      </div>
    </div>
      <div class="col-12 text-center col-sm-6 text-sm-right col-md-12 text-md-center col-lg-6 text-lg-right">
          <button class="btn-animation" id="submit-test" (click)="checkout()"[ngClass]="dataService.getProductColorClass(product)">{{'buttons.purchase' | translate | async}}</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center product-download">
      <a class="inf-package" href="{{ product.information_package }}" target="_blank"> {{'quotator.information_package' | translate | async}} </a>
    </div>
  </div>
  <div class="row justify-content-center align-items-center mt-4">
    <div class="col-auto provider-text">
      {{'quotator.product_collaboration' | translate | async}}
    </div>
    <div class="col-auto text-center">
      <div class="provider-logo">
        <img [src]="product.provider.image_url" [alt]="product.provider.name">
      </div>
    </div>
  </div>


</div>