<div class="card" id="cardQuotator">
  <div class="card-body">

    <div class="row mb-3 align-items-center justify-content-between">
      <h1 class="col product-name">{{product.name}}</h1>
      <div class="col product-icon-box text-right">
        <img alt="{{product.name}}" class="fp-image" [src]="getSmallImage(product.images)">
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="input-wrapper container mb-3">
          <select id="select-country" class="form-control" name="selectCountry"
                  [(ngModel)]="country" #selectDestination="ngModel" required>
            <option [ngValue]="null"></option>
            <option *ngFor="let country of countryList" [ngValue]="country"> {{country.name}}</option>
          </select>
          <label for="select-country" class="form-control-placeholder pl-3" id="label-brand-select">Qual è la destinazione del tuo viaggio?</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p class="card-section-title">Quanti giorni dura il tuo viaggio?</p>
        <div class="row mb-2">
          <div class="days-container" *ngFor="let day of daysList">
              <a class="btn package-btn pl-0 pr-0" [ngClass]="[ day.active ? 'selected': '']" (click)="setGiorni(day)">{{ day.value }}</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12 col-sm-8 col-md-12">
        <p class="card-section-title" style="margin-bottom: 0.5rem !important">Quante persone vuoi assicurare?</p>
        <div class="ml-0 mr-0 row align-items-center justify-content-start">
          <button class="col-xs bg-operators" (click)="subtractQuantity()" [disabled]="peopleQuantity === 1" [ngClass]="peopleQuantity === 1 ? 'disabled' : ''">
            <i class="fa fa-minus" aria-hidden="true"></i>
          </button>
          <div class="col-md-4 col">
            <input class="quantity-input text-center w-100" #quantity="ngModel" type="text"
                   [(ngModel)]="peopleQuantity" name="quantity"
                   id="quantity" value="peopleQuantity" required readonly>
          </div>
          <button class="col-xs bg-operators" (click)="addQuantity()" [disabled]="peopleQuantity === this.product.maximum_insurable" [ngClass]="peopleQuantity === this.product.maximum_insurable ? 'disabled' : ''">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>

    <hr>
    <div class="row purchase">
      <div class="col-sm-6 col-md-12 col-lg-6">
        <div class="col-12 text-center col-sm-12 text-sm-left col-md-12 text-md-center col-lg-12 text-lg-left font-weight-bold">
          <span class="purchase-text js-price d-inline"> {{ 'quotator.total_price' | translate | async}}</span>
        </div>
      <div class="col-12 text-center col-sm-12 text-sm-left col-md-12 text-md-center col-lg-12 text-lg-left font-weight-bold">
        <span class="purchase-price js-price d-inline">{{price * peopleQuantity | currency}}
        </span>
      </div>
    </div>
      <div class="col-12 text-center col-sm-6 text-sm-right col-md-12 text-md-center col-lg-6 text-lg-right">
          <button class="btn-animation" id="submit-test" (click)="checkout()"[ngClass]="dataService.getProductColorClass(product)">{{'buttons.purchase' | translate | async}}</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center product-download">
      <a class="inf-package" href="{{ product.information_package }}" target="_blank"> {{'quotator.information_package' | translate | async}}  </a>
    </div>
  </div>
  <div class="row justify-content-center align-items-center mt-4">
    <div class="col-auto provider-text">
      {{'quotator.product_collaboration' | translate | async}}
    </div>
    <div class="col-auto text-center">
      <div class="provider-logo">
        <img [src]="product.provider.image_url" [alt]="product.provider.name">
      </div>
    </div>
  </div>
</div>
