@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/variables";

.how-work-table-slider-container {
  margin-top: 3.5rem;
  margin-block-end: 4rem;
  &.layout-banco-desio_db {
    margin-block-end: 2rem;
  }
  h2 {
    text-transform: uppercase;
    margin-block-end: 1rem;
  }
  .slider-container {
    display: flex;
  }
  .carousel-table {
    border: 1px solid $grey;
    padding-right: 2rem;
    position: relative;
    order: 2;
    height: 100%;
    &:focus {
      outline: none;
    }
  }
  .fake-table.right {
    margin-left: 15px;
    border: 1px solid $grey;
    border-right: none;
  }
  .fake-table.left {
    margin-right: 0px;
    border: 1px solid $grey;
    border-left: none;
    left: -15px;
  }
  .product-title {
    margin: 2rem 0 1.5rem 1rem;
    @media (max-width: 390px) {
      max-width: 200px;
    }
  }
  .ribbon {
    width: 123px;
    height: 123px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    span {
      position: absolute;
      display: block;
      width: 210px;
      padding: 5px 0;
      background-color: #ffac06;
      text-transform: uppercase;
      text-align: center;
      transform: rotate(45deg);
      font-size: 1rem;
      font-weight: bold;
      left: -25px;
      top: 30px;
    }
  }

  .item-list .title {
    li.primary-item {
      list-style-type: none;
      position: relative;
      margin-bottom: 1.5rem;
      margin-left: -1.6rem;
      margin-top: 3rem;
      font-size: 20px;
      ::ng-deep {
        p {
          margin-bottom: 0;
        }
      }
      &::before {
        display: none;
      }
    }
  }

  .item-list .subtitle {
    li.primary-item {
      list-style-type: none;
      position: relative;
      margin-bottom: 1rem;
      margin-left: -1.6rem;
      margin-top: 1rem;
      font-size: 20px;
      ::ng-deep {
        p {
          font-size: 16px;
          margin-bottom: 0;
        }
      }
      &::before {
        display: none;
      }
    }
  }

  .item-list {
    .info-tooltip {
      background: transparent;
      right: 30px;
      line-height: 16px;
      outline: 0;
      margin-top: 3px;
      width: 17px;
      height: 17px;
      border: 1px solid $grey-dark;
      cursor: pointer;
      font-size: 0.6rem;
      text-align: center;
    }
  }

  .item-list li.primary-item {
    list-style-type: none;
    position: relative;
    margin-bottom: 1.5rem;
    &::before {
      font-family: "Font Awesome 5 Free";
      color: $red;
      content: "\f00d";
      font-size: 18px;
      display: block;
      position: absolute;
      font-weight: 900;
      left: -25px;
      top: -3px;
    }
    &.included {
      &::before {
        font-family: "Font Awesome 5 Free";
        color: $primary;
        content: "\f00c";
        font-size: 18px;
        display: block;
        position: absolute;
        font-weight: 900;
        left: -25px;
        top: -3px;
      }
    }
  }
  .subitems-list {
    margin-left: -25px;
    margin-top: 1rem;
    li {
      list-style-type: disc;
      line-height: 1.3rem;
      margin-bottom: 1rem;
    }
  }
  ::ng-deep.subitems-included {
    margin-left: -25px;
    li {
      list-style-type: disc;
      margin-bottom: 1rem;
    }
  }
  ::ng-deep.subitems-excluded {
    margin-left: -25px;
    li {
      list-style-type: none;
      position: relative;
      margin-bottom: 1rem;
      color: $grey;
    }
    li::before {
      font-family: "Font Awesome 5 Free";
      color: $red;
      content: "\f00d";
      font-size: 18px;
      display: block;
      position: absolute;
      font-weight: 900;
      left: -20px;
      top: -1px;
    }
  }
  ::ng-deep.carousel-indicators {
    bottom: -3rem;
    .carousel-inner {
      margin-bottom: 2.5rem;
    }
  }
  ::ng-deep.carousel {
    outline: none;
    &:focus {
      outline: none;
    }
  }
  ::ng-deep.carousel-indicators li {
    background-color: $grey;
    opacity: 1;
    width: 50px;
    height: 5px;
    margin-right: 8px;
    margin-left: 8px;
    &.active {
      background-color: $primary !important;
    }
  }

  &.layout-leasys_db {
    h2 {
      color: $title-color-dark;
    }
    .product-title,
    .ribbon span {
      color: $text-color-dark;
    }
  }

  &.layout-fca-bank_db {
    h2 {
      color: $title-color-dark;
    }
    .product-title,
    .ribbon span {
      color: $text-color-dark;
    }
    &.genertel-rca {
      h2 {
        color: $text-color;
      }
      .product-title,
      .ribbon span {
        color: $text-color;
      }
      li.primary-item {
        &.included {
          &::before {
            display: none;
          }
        }
      }
    }
  }

  &.layout-mopar_db {
    h2 {
      color: $title-color-dark;
    }
    .product-title {
      margin-right: 1rem;
    }
    .item-list li.primary-item {
      margin-bottom: 0;
    }
    .subitems-list {
      margin-top: 0rem;
      margin-bottom: 2rem;
      margin-left: -40px;
      li {
        list-style-type: none;
        line-height: 1.3;
        margin-bottom: 5px;
        font-size: 0.9rem;
      }
    }
  }
  &.layout-civibank_db {
    h2 {
      color: $primary;
      font-family: "HK Grotesk";
    }
    .carousel-table {
      padding-bottom: 1.5rem;
    }
    .item-list {
      .primary-item {
        margin-top: 2rem;
        margin-bottom: -5px;
        &.included::before {
          color: #52821c;
        }
      }
    }
    ::ng-deep.subitems-included li,
    ::ng-deep.subitems-excluded li {
      margin-bottom: 3px;
    }
  }
  &.layout-yolo-pmi_db {
    h2 {
      color: $primary;
    }
    .product-title {
      color: $primary;
    }
    &.net-cyber-gold,
    &.net-cyber-platinum {
      h2 {
        display: flex;
        justify-content: center;
        color: $grey-dark;
        text-transform: none;
        font-size: 1rem;
      }
      .product-title {
        color: $primary;
        font-size: 1rem;
      }
      .ribbon {
        span {
          font-size: 0.875rem;
        }
      }
      .carousel-table {
        overflow: hidden;
        .bg-circle-cards {
          border-radius: 50%;
          border: 150px rgba(74, 144, 226, 0.35) solid;
          opacity: 43%;
          position: absolute;
          overflow: hidden;
          z-index: -1;
          top: -4rem;
          left: -3rem;
        }
        .item-list li.primary-item {
          list-style-type: none;
          position: relative;
          margin-bottom: 1.5rem;
          color: $grey;
          font-size: 0.875rem;
          &::before {
            font-family: "Font Awesome 5 Free";
            color: $grey;
            content: "\f00d";
            font-size: 18px;
            display: block;
            position: absolute;
            font-weight: 900;
            left: -25px;
            top: -3px;
          }
          &.included {
            color: $text-color;
            font-size: 0.875rem;
            &::before {
              font-family: "Font Awesome 5 Free";
              color: $primary;
              content: "\f00c";
              font-size: 18px;
              display: block;
              position: absolute;
              font-weight: 900;
              left: -25px;
              top: -3px;
            }
          }
        }
      }
    }
  }
  &.layout-banco-desio_db,
  &.layout-civibank_db{
    #advantages{
      h2{
        color: $primary;
        font-weight: 900;
      }
    }
    .how-works-link{
      color: $primary;
      text-decoration: underline;
    }
    .product-title{
      ::ng-deep{
        em{
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
        }
      }
    }
    .primary-item{
      ::ng-deep{
        em{
          font-size: 24px;
          font-style: normal;
          font-weight: bold;
          strong{
            line-height: 50px;
          }
        }
        p {
          font-size: 15px;
          strong {
            font-size: 20px;
          }
        }
      }
      &.included{
        ::ng-deep{
          p{
            font-size: 17px !important;
          }
        }
      }
    }
    .carousel-table {
      .item-list li.primary-item {
        &::before {
          color: green;
        }
        &.included {
          &::before {
            color: green;
          }
        }
        p {
          margin-bottom: 0.5rem;
        }
      }
    }
    ::ng-deep.carousel-indicators {
      display: none;
    }
    ::ng-deep.carousel-item {
      margin-block-end: 63px;
    }
    ::ng-deep .popover {
      @include media-breakpoint-between(0, xs) {
        width: 50vw;
        max-width: none;
      }
    }

    .item-list .list-text:last-child {
      ::ng-deep .popover {
        @include media-breakpoint-between(0, xs) {
          width: 50vw;
          max-width: none;
          max-height: 200px;
          overflow-y: scroll;
        }
      }
    }

  }
}
