@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/variables";

.how-works-table-container {
  &.layout-chebanca_db,
  &.layout-ravenna_db,
  &.layout-imola_db,
  &.layout-lucca_db,
  &.ge-bike-plus,
  &.ge-travel-plus,
  &.ge-sport-plus,
  &.ge-holiday-house-plus,
  &.ge-ski-plus,
  &.ge-ski-seasonal-plus {
    background-color: #fff;
    margin-top: -12rem;

    .container {
      margin-left: auto;
      margin-right: auto;
      max-width: 1024px;
      padding-top: 3.5rem;
      padding-bottom: 3rem;

      @include media-breakpoint-up(xl) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .text-container {
      padding-top: 0.5rem;
      margin-bottom: 0.5rem;

      .title {
        color: $section-title-color;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0;
      }


    }

    .table-cards-container {
      margin-top: 3rem;
    }

    .ribbon span {
      background-color: $bg-color;
      color: #333;
      font: 700 17px/1 "Din condensed", sans-serif;
      left: -25px;
      top: 30px;
    }
    .ribbon-bs span{
      color: white;
    }

    ul.item-list {
      list-style-type: none;
      padding-left: 20px;
      margin-left: 13px;
      line-height: 2;
    }

    li.primary-item {
      margin-bottom: 0;

      &::before {
        font-size: 20px;
        left: -28px;
        top: -3px;
      }

      &.included {
        &::before {
          font-family: "Font Awesome 5 Free";
          content: "\f00c";
          font-size: 18px;
          display: block;
          position: absolute;
          font-weight: 900;
          left: -30px;
          top: -3px;
        }
      }
    }

    ul.subitem-list {
      list-style-type: disc;
      padding: 0 0 0 20px;
      margin-left: 13px;
      line-height: 2;
    }

    ::ng-deep.primary-item p {
      margin-bottom: 0;
    }
  }

  &.layout-chebanca_db {
    li.primary-item.included::before {
      color: #74bd3f;
    }
  }
  &.layout-helbiz_db {
    .ribbon {
      span {
        color: $primary;
      }
    }
    li.primary-item.included::before {
      color: black;
    }
  }

  &.layout-yolodb {
    .table-cards-container {
      .table-card {
        .product-title {
          font-size: 24px;
          margin: 2rem 0 1.5rem 1rem;

          @media (max-width: 390px) {
            max-width: 200px;
          }
        }

        li.primary-item {
          padding-inline-start: 10px;
          margin-bottom: 0.75rem;
        }

        ul.item-list {
          margin-bottom: 0;
        }

        ul.subitem-list {
          list-style-type: disc;
          margin-left: initial;
        }
        &#ge-bike-plus,
        &#ge-bike-premium,
        &#ge-travel-plus,
        &#ge-travel-premium,
        &#ge-sport-plus,
        &#ge-sport-premium,
        &#ge-holiday-house-plus,
        &#ge-holiday-house-premium,
        &#ge-ski-plus,
        &#ge-ski-premium,
        &#ge-ski-seasonal-plus,
        &#ge-ski-seasonal-premium {
          .product-title {
            margin: 0;
            position: relative;
            width: 85%;
            text-transform: uppercase;
            font-weight: bolder;
            font-size: larger;
            color: $section-title-color;
          }
          li.primary-item {
            margin-bottom: 0;

            &::before {
              font-size: 20px;
              left: -28px;
              top: -3px;
            }
          }
        }
      }
    }

    &.net-pet,
    &.yolo-for-pet,
    &.cc-devices,
    &.screen-protection {
      .text-container {
        .title {
          color: $primary;
          text-transform: none;
          margin-bottom: 1rem;
        }
      }
    }
  }

  &.layout-yolo-pmi_db {
    .text-container {
      .title {
        color: $primary;
        text-transform: none;
        margin-bottom: 1rem;
      }
    }
  }
}

.how-works-table-container {
  margin-top: 3.5rem;
}

.table-cards-container {
  align-items: stretch;
}

.table-card {
  padding: 15px 20px;
  border: 1px solid #ccc;
  background: #fff;
  position: relative;
  margin-bottom: 0.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;

  .product-title {
    position: relative;
    width: 85%;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: larger;
    color: $section-title-color;
  }
}

.ribbon {
  width: 123px;
  height: 123px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;

  span {
    position: absolute;
    display: block;
    width: 210px;
    padding: 5px 0;
    background-color: $bg-color;
    text-transform: uppercase;
    text-align: center;
    transform: rotate(45deg);
    font-size: 1rem;
    font-weight: bold;
    left: -25px;
    top: 30px;
  }
}

li.primary-item {
  list-style-type: none;
  position: relative;
  margin-bottom: 1.5rem;

  &.included {
    &::before {
      font-family: "Font Awesome 5 Free";
      color: $primary;
      content: "\f00c";
      font-size: 18px;
      display: block;
      position: absolute;
      font-weight: 900;
      left: -25px;
      top: -3px;
    }
  }

  &:not(.included) {
    ::ng-deep p {
      opacity: 0.5;
    }

    &::before {
      font-family: "Font Awesome 5 Free";
      color: $red;
      content: "\f00d";
      font-size: 18px;
      display: block;
      position: absolute;
      font-weight: 900;
      left: -25px;
      top: -3px;
    }
  }
}
.description_payment {
  font-size: 14px;
}
.link-configuratore-layout {
  text-decoration: underline;
  cursor: pointer;
  margin-top: auto;
}
::ng-deep {
  p {
    margin: 0;
  }
 .description_payment > p > a {
    text-decoration: underline;
  }
}

.how-works-description {
  padding: 5px 5px 13px 1px;
}
