<div class="container-fluid">
  <div class="row blue-gradient justify-content-center pt-5">
    <div class="col-12 title text-center image-title mb-4 mb-sm-5 mt-5">
      <h2 class="d-md-block" [innerHTML]="model?.title"></h2>
    </div>
    <div class="col-12 header-background text-center mb-4 mb-sm-5">
      <img class="background" [src]="model?.background_immage[0].url">
    </div>
    <div class="col-12 title text-center image-title mb-4 mb-sm-5 font-weight-bold">
      <h2 class="text-uppercase" [innerHTML]="model?.subtitle"></h2>
    </div>
  </div>
  <div class="row justify-content-center my-5">
    <div class="col-12 subtitle text-center text-uppercase mb-4" [innerHTML]="model?.subsectiontitle"></div>
    <div class="col-sm-4 col-lg-4 col-xl-2 my-3 px-4" *ngFor="let product of products">
      <a class="d-block position-relative h-100" (click)="createPreventivo(product)">
        <div class="product-card w-100 h-100 d-flex flex-column align-items-center p-4">
          <div class="product-title text-uppercase font-weight-bold text-center mb-2">{{product.properties[4].value}}
          </div>
          <div class="configurator-image mt-auto d-flex"><img alt="Yolo Città Sicura in Bici" class="mt-auto"
              [src]="getCardImage(product)">
          </div>
        </div>
      </a>
    </div>
  </div>
</div>