@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";

@import "sass/variables";


.title {
  color: white;
  font-weight: bold;
}

.background {
  max-width: 60%;
}

.subtitle {
  color: $primary;
  font-size: 2rem;
}

.product-card {
  cursor: pointer;
  box-shadow: 0 0 20px -1px rgba(0,0,0,0.2);
}