<!-- TODO: insert condition usind product name -->
<div class="tab-container rounded-sm card-border" [ngClass]="dataService.tenantInfo.main.layout" [ngStyle]="{'padding' : dataService.tenantInfo.tenant ==='imagin-es-es_db' ? '0 20px': ''}">
    <div *ngIf="products && products.length == 1" [ngSwitch]="products[0].quotator_type">
      <app-quotator-variants [product]="products[0]" *ngSwitchCase="'quotator_variants'"></app-quotator-variants>
      <app-quotator-pepole-variants [product]="products[0]" *ngSwitchCase="'quotator_people_variants'"></app-quotator-pepole-variants>
      <app-viaggio-europa [product]="products[0]" *ngSwitchCase="'quotator_axa-europ-travel'"></app-viaggio-europa>
      <app-protezione-volo [product]="products[0]" *ngSwitchCase="'quotator_axa-flight'"></app-protezione-volo>
      <app-smartphone-tablet [product]="products[0]" *ngSwitchCase="'quotator_cc-devices'"></app-smartphone-tablet>
      <app-annullamento [product]="products[0]" *ngSwitchCase="'quotator_axa-annullament'"></app-annullamento>
      <app-my-mobility [product]="products[0]" *ngSwitchCase="'quotator_allianz-mymobility'"></app-my-mobility>
      <app-sunny [product]="products[0]" *ngSwitchCase="'quotator_satec-tua-sunny'"></app-sunny>
      <app-pandemic-business [product]="products[0]" *ngSwitchCase="'quotator_pandemic_business'"></app-pandemic-business>
      <app-quotator-isp-pet [product]="products[0]" *ngSwitchCase="'quotator_intesa_pet'"></app-quotator-isp-pet>
      <app-quotator-travel-pack [product]="products[0]" *ngSwitchCase="'quotator_travel_pack'"></app-quotator-travel-pack>
      <app-quotator-sport-pack [product]="products[0]" *ngSwitchCase="'quotator_sport_pack'"></app-quotator-sport-pack>
      <app-quotator-simple [product]="products[0]" *ngSwitchCase="'quotator_simple'"></app-quotator-simple>
      <app-default-preventivo *ngSwitchDefault></app-default-preventivo>
    </div>

  <div *ngIf="products.length > 1">
    <ul class="nav nav-tabs " role="tablist">
      <li *ngFor="let product of products; let index = index;" class="col nav-item align-items-center" [ngClass]= "'nav-tabs-' + product.product_code">
        <a class="nav-link text-center" [ngClass]="{ active: index==0 }" data-toggle="tab"
          href="#{{product.product_code}}" [attr.data-cy]=" 'conf-layout' | cy:product.name: 'tab'">{{product.name}}
        </a>
      </li>

    </ul>
    <div class="tab-content">
      <div id="{{product.product_code}}" *ngFor="let product of products; let index = index; " class="col tab-pane"
        [ngClass]="{ active: index==0,  fade: index != 0}">
        <div [ngSwitch]="product.quotator_type">
          <app-sports-spain [products]="products" [product]="product" *ngSwitchCase="'quotator_chubb-sport'"></app-sports-spain>
          <app-viaggi [product]="product" *ngSwitchCase="'quotator_axa-assistance-gold'"></app-viaggi>
          <app-viaggi [product]="product" *ngSwitchCase="'quotator_axa-assistance-silver'"></app-viaggi>
          <app-quotator-simple [product]="product" *ngSwitchCase="'quotator_simple'"></app-quotator-simple>
          <app-quotator-variants [product]="product" *ngSwitchCase="'quotator_variants'"></app-quotator-variants>
          <app-quotator-pepole-variants [product]="product" *ngSwitchCase="'quotator_people_variants'"></app-quotator-pepole-variants>
          <app-sports-spain [products]="products" [product]="product" *ngSwitchCase="'quotator_chubb-deporte'"></app-sports-spain>
          <app-default-preventivo *ngSwitchDefault></app-default-preventivo>
        </div>
    </div>
  </div>
  </div>
</div>
