@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import '../../../../../sass/variables';

.tab-container {
  background-color: #fff;
  position: relative;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 20px;
  &.net {
    background-blend-mode: lighten;
    background-color: #ffffffce;
    @include media-breakpoint-down(md) {
      padding: 0;
    }
  }
}

.rounded-sm {
  border-radius: 5px;
  margin-bottom: -3rem;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  &.net {
    box-shadow: none;
  }
}

.card-border {
  &.net {
    border: 6px solid $red;
    border-radius: 10px !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;

    @include media-breakpoint-down(md){
      margin-left: 7px;
    }
  }
  
}

ul {
  border-bottom: none;

  li {
    a {

      &.nav-link {
        border: none;
        color: $primary;
        font-size: 17px;
        font-weight: 400;
        padding: 0;

        &.active {
          font-weight: bold;
          border-bottom: 4px solid $primary;
        }
      }
    }
  }
}

.active-border {
  width: 100px;
  height: 4px;
  background: $primary;
  display: none;

  &.active {
    display: block;
  }
}

.rounded-max {
  border-radius: 100rem;
}

.container-535 {
  max-width: 535px;
}

.nav-tabs-chubb-sport-rec,
.nav-tabs-chubb-sport,
.nav-tabs-chubb-deporte,
.nav-tabs-chubb-deporte-rec {
  display: none;
}

