<div class="product-list suggested-card mb-5"
     [ngClass]="dataService.tenantInfo.main.layout"
     [ngClass]="useBasicComponent ? 'basic-recommended' : 'recommended'"
     *ngIf="dataService.tenantInfo.privateArea.recommendedProductsNumber">
  <div class="container">
    <div class="col">
      <h3 [ngClass]="useBasicComponent ? 'basic-title' : 'title'">
        {{ 'private_area.selected_products' | translate | async }}
      </h3>
    </div>
    <div class="row justify-content-center text-center" *ngIf="!useBasicComponent">
      <div class="col-10 col-sm-7 col-md-5 col-lg-4 col-xl-3" *ngFor="let product of recommended">
        <app-recommanded-products-card [product]="product"></app-recommanded-products-card>
      </div>
    </div>
    <div class="row justify-content-center text-center" *ngIf="useBasicComponent">
      <div class="col-12 col-md-6 col-xl-4" *ngFor="let product of recommended">
        <app-recommanded-products-card-basic [product]="product"></app-recommanded-products-card-basic>
      </div>
    </div>
  </div>
</div>
