<div class="modal-header">
  <h3 class="modal-title">{{'private_area.open_claim' | translate | async}}</h3>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="claimForm">
    <div class="row">
      <div class="col-12 col-sm-6 form-label-group mb-4">
        <div class="input-wrapper" [ngClass]="{'error-field': claimForm.controls.claimDate.touched && claimForm.controls.claimDate.errors}">
          <label>{{'private_area.claim_event_date' | translate | async}} *</label>
          <input  ngbDatepicker
                  class="form-control"
                  (click)="datePicker.toggle()"
                  #datePicker="ngbDatepicker"
                  formControlName="claimDate"
                  [minDate]="startDate"
                  [maxDate]="endDate"
                  placeholder="GG/MM/AAAA">
          <div [hidden]="!(claimForm.get('claimDate').invalid && claimForm.get('claimDate').touched)" class="error-message">
            {{'private_area.mandatory_field' | translate | async}}
          </div>
      </div>
    </div>
    <div class="col-12 col-sm-3 form-label-group mb-4" [ngClass]="{'error-field': claimForm.controls.claimHours.touched && claimForm.controls.claimHours.errors}">
      <input class="form-control"
              formControlName="claimHours"
              id="claimHours"
              placeholder="{{'forms.hours' | translate | async}}"
              type="text"
              maxlength="2">
      <label for=claimHours>{{'forms.hours' | translate | async}} *</label>
      <div [hidden]="!(claimForm.get('claimHours').invalid && claimForm.get('claimHours').touched)" class="error-message">
        {{'private_area.mandatory_field' | translate | async}}
      </div>
    </div>
    <div class="col-12 col-sm-3 form-label-group mb-4" [ngClass]="{'error-field': claimForm.controls.claimMinutes.touched && claimForm.controls.claimMinutes.errors}">
      <input class="form-control"
              formControlName="claimMinutes"
              id="claimMinutes"
              placeholder="{{'forms.minutes' | translate | async}}"
              type="text"
              maxlength="2">
      <label for=claimMinutes>{{'forms.minutes' | translate | async}} *</label>
      <div [hidden]="!(claimForm.get('claimMinutes').invalid && claimForm.get('claimMinutes').touched)" class="error-message">
        {{'private_area.mandatory_field' | translate | async}}
      </div>
    </div>
    <div class="col-12 col-lg-6 form-label-group mb-4" [ngClass]="{'error-field': claimForm.controls.claimPlace.touched && claimForm.controls.claimPlace.errors}">
        <input class="form-control"
               type="text"
               placeholder="{{'private_area.claim_event_place' | translate | async}}"
               formControlName="claimPlace"
               id="claimPlace">
        <label for="claimPlace">{{'private_area.claim_event_place' | translate | async}} *</label>
        <div [hidden]="!(claimForm.get('claimPlace').invalid && claimForm.get('claimPlace').touched)" class="error-message">
          {{'private_area.mandatory_field' | translate | async}}
        </div>
    </div>
    <div class="col-12 col-lg-6 form-label-group mb-4">
      <input class="form-control"
              type="text"
              placeholder="{{'private_area.policy_number' | translate | async}}"
              formControlName="policyNumber"
              id="policyNumber">
      <label for="policyNumber">{{'private_area.policy_number' | translate | async}}</label>
    </div>
    <div class="col-12 col-lg-6 form-label-group mb-4">
        <input type="text"
              id="lastname"
              formControlName="lastname"
              class="form-control"
              placeholder="{{'private_area.claim_contractor_lastname' | translate | async}} *">
        <label for="lastname">{{'private_area.claim_contractor_lastname' | translate | async}}</label>
    </div>
    <div class="col-12 col-lg-6 form-label-group mb-4">
        <input type="text"
              id="firstname"
              class="form-control"
              formControlName="firstname"
              placeholder="{{'private_area.claim_contractor_firstname' | translate | async}} *">
        <label for="firstname">{{'private_area.claim_contractor_firstname' | translate | async}}</label>
      </div>
      <div class="col-12 col-lg-6 form-label-group mb-4">
        <input type="text"
              id="taxcode"
              formControlName="taxcode"
              class="form-control"
              placeholder="{{'forms.fiscal_code' | translate | async}} *">
        <label for="lastname">{{'forms.fiscal_code' | translate | async}}</label>
    </div>
    <div class="col-12 col-lg-6 form-label-group mb-4">
      <input type="text"
            id="email"
            formControlName="email"
            class="form-control"
            placeholder="{{'forms.email' | translate | async}} *">
      <label for="lastname">{{'forms.email' | translate | async}}</label>
  </div>
  <div class="col-12 col-lg-6 form-label-group mb-4">
    <input type="text"
          id="phoneNumber"
          formControlName="phoneNumber"
          class="form-control"
          placeholder="{{'forms.telephone_number' | translate | async}} *">
    <label for="lastname">{{'forms.telephone_number' | translate | async}}</label>
</div>
<div class="col-12 mb-3">
  <h5 class="text-handling mb-4">{{'private_area.claim_handling' | translate | async}}</h5>
</div>
      <div class="col-12 mb-3">
        <h3 class="modal-title mb-3">{{'private_area.type_of_damage' | translate | async}} *</h3>
        <ul class="option-list">
          <li *ngFor="let evType of eventTypeList">
            <label class="form-big-radio" for={{evType}}>
              <input type="radio"
                     class="form-check-input"
                     [id]="evType"
                     formControlName="eventType"
                     [value]="evType"
                     >
              {{evType}}
              <span class="checkmark"></span>
            </label>
          </li>
        </ul>
      </div>
      <div class="col-12 mb-3">
          <h3 class="modal-title mb-3">{{'private_area.claim_event_involved_people' | translate | async}} *</h3>
          <ul class="option-list">
            <li *ngFor="let person of getInvolvedPersonsNames().controls; let i = index;" formArrayName="involvedPersonsNames">
              <div [formGroupName]="i">
              <label class="form-big-checkbox" for={{person.controls.name.value}}>
                <input type="checkbox"
                       class="form-check-input"
                       id="{{person.controls.name.value}}"
                       formControlName="checked"
                       [value]="person.controls.name.value">
                {{person.controls.name.value}}
                <span class="checkbox"></span>
              </label>
             </div>
            </li>
          </ul>
        </div>
        <!-- <div class="col-12 form-group mb-4" [ngClass]="{'error-field': claimForm.controls.claimDescription.touched && claimForm.controls.claimDescription.errors}">
            <textarea class="form-control textarea"
                      name="claimDescription" id="claimDescription" formControlName="claimDescription" rows="4"
                      placeholder="Descrizione dettagliata dei fatti *">
            </textarea>
            <div [hidden]="!(claimForm.get('claimDescription').invalid && claimForm.get('claimDescription').touched)" class="error-message">Campo obbligatorio</div>
          </div> -->

          <div class="col-12 form-group mb-4" [ngClass]="{'error-field': claimForm.controls.testimonialNames.touched && claimForm.controls.testimonialNames.errors}">
              <textarea class="form-control textarea"
                        name="testimonialNames" id="testimonialNames" formControlName="testimonialNames" rows="2"
                        placeholder="{{'private_area.claim_witnesses_names' | translate | async}}">
              </textarea>
              <div [hidden]="!(claimForm.get('testimonialNames').invalid && claimForm.get('testimonialNames').touched)" class="error-message">
                {{'private_area.mandatory_field' | translate | async}}
              </div>
            </div>

      <div class="col-12 col-lg-6 form-label-group mb-4" *ngIf="policyData.product.product_code.startsWith('ge-bike')">
      <select id="presentAuthority" class="form-control arrow-select" formControlName="presentAuthority">
          <option value="" class="placeholder"></option>
          <option id="no" [value]="false">No</option>
          <option id="si" [value]="true">Si</option>
        </select>
        <label for="presentAuthority">{{'private_area.authorities_intervention' | translate | async}} *</label>
    </div>
      <div class="col-12 col-lg-6 form-label-group" *ngIf="claimForm.controls.presentAuthority.value === 'true'">
        <select id="authorityDesc" class="form-control arrow-select" formControlName="authorityDesc">
          <option value="" class="placeholder"></option>
          <option *ngFor="let auth of authorityList" [value]="auth">{{auth}}</option>
        </select>
        <label for="authorityDesc">{{'private_area.authorities' | translate | async}} *</label>
      </div>
      <div class="col-12 col-md-6 form-label-group mb-4"
      [ngClass]="{'warning-field': claimForm.controls.countNumber && claimForm.controls.countNumber.invalid && claimForm.controls.countNumber.errors && claimForm.controls.countNumber.errors.pattern}">
          <input class="form-control"
                  type="text"
                  placeholder="{{'private_area.iban_account_number' | translate | async}}"
                  formControlName="countNumber"
                  id="countNumber"
                  maxlength="27">
          <label for="countNumber">{{'private_area.iban_account_number' | translate | async}}</label>
          <div class="warning-message"
                 *ngIf="claimForm.controls.countNumber.errors && claimForm.controls.countNumber.errors.pattern">
              {{ 'forms.wrong_format' | translate | async }}
            </div>
        </div>
      <div class="col-12 col-md-6 form-label-group mb-4">
        <input class="form-control"
                type="text"
                placeholder="{{'private_area.account_holder' | translate | async}}"
                formControlName="countHolder"
                id="countHolder">
        <label for="countHolder">{{'private_area.account_holder' | translate | async}}</label>
      </div>
      <div class="col-12 form-label-group mb-4">
        <div>
      <label class="form-big-checkbox" for="privacy" [ngClass]="{'error-field': claimForm.controls.privacy.touched && claimForm.controls.privacy.errors}">
          <input type="checkbox"
                 class="form-check-input"
                 id="privacy"
                 formControlName="privacy"
                 >
                 {{'private_area.claim_privacy_consent' | translate | async}}
          <span class="checkbox"></span>
        </label>
      </div>
      </div>
    </div>
  </form>
</div>
<div class="row modal-footer justify-content-center">
  <button type="button"
          class="col-12 col-sm-8 col-lg-4 m-2 btn btn-outline"
          (click)="activeModal.close('Close click')">
    {{'buttons.cancel' | translate | async}}
  </button>
  <button class="col-12 col-sm-8 col-lg-4 m-2 btn m-1"
          (click)="submitClaim(); activeModal.close('Close click')"
          [disabled]="claimForm.invalid"
          >
    {{'private_area.open_claim' | translate | async}}
  </button>
</div>
