@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/variables";

h2{
    color: $primary;
    margin-bottom: 1em;
    font-size: 2em;
}

.content-row{
    font-size: 20px;
    @include media-breakpoint-down(sm) {
        margin-left: 1em;
        font-size: 16px;
    }
}
.div-container h2{
    font-size: 35px !important;

    @include media-breakpoint-down(sm) {
        font-size: 28px !important;
    }
}

.guarantee-title-body{
    ::ng-deep p{
        margin: 0;
    }
}

.guarantee-item-div{
    width: 87%;
}

.guarantee-item-div{

    span ::ng-deep p{
        margin: 0;
    }    
}

.guarantee-item-row{
    margin-left: 0px;
}