<div class="container" id="advantages">
  <div class="row">
    <ng-container *ngFor="let item of data.value">
      <div class="col-lg-6 col-12 div-container mt-5">       
          <h2>{{item.title.value}}</h2>
          <div *ngIf="item.body.value" class="content-row">      
            <ng-container *ngFor="let guarantee of item.body.value">
              <div class="guarantee-title-body" *ngIf="guarantee.title_body"> 
                <p [innerHtml]="guarantee.title_body.value"></p>
              </div>
              <div *ngIf="guarantee.guarantee_list">
                <ng-container *ngFor="let guaranteeItem of guarantee.guarantee_list.value">
                  <div class="row guarantee-item-row">
                    <div class="mr-2">
                      <img [src]="guaranteeItem.image.images[0].url">
                    </div>
                    <div class="guarantee-item-div">
                      <span [innerHtml]="guaranteeItem.text.value"></span>
                    </div>
                  </div>
                </ng-container>
              </div>
              <div *ngIf="guarantee.description"> 
                <p [innerHtml]="guarantee.description.value"></p>
              </div>

              <div *ngIf="guarantee.text">
                <p [innerHtml]="guarantee.text.value"></p>
              </div>
            </ng-container>
          </div>         
      </div>    
    </ng-container>
  </div>
</div>