@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import '~sass/variables';
.my-quote-container {
  .quote {
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 0 20px -5px rgba(134, 135, 136, 0.7);
    flex-direction: row;
    .quote-img {
      width: 120px;
      display: flex;
      justify-content: flex-start;
      .img-center {
        width: 80px;
        height: auto;
        &.chebanca_db {
          height: 60px;
        }
      }
      > h2.quote-title {
        display: none;
      }
    }
    .quote-title {
      font-weight: bold;
      font-size: 18px;
      letter-spacing: 0.25px;
      color: $title-color-dark;
      margin: 0;
    }
    .oval-copy-2 {
      height: 8px;
      width: 8px;
      border-radius: 50%;
      display: inline-block;
    }
    .container-status-police-description {
      align-items: center;
      margin: 0;
    }
    .active {
      background-color: #B8E986 !important;
    }
    .verified, .unverified {
      background-color: #F5A623 !important;
    }
    .expired, .canceled, .suspended {
      background-color: #D0021B !important;
    }
    .details {
      font-weight: bold;
    }
    .contingency {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .contingency-link {
        display: flex;
        align-items: center;
        flex-basis: 40%;
      }
      .contingency-call {
        margin-top: -2rem;
        margin-bottom: 0.5rem;
        flex-basis: 40%;
        P {
          font-size: 14px;
          margin-bottom: 5px;
        }
        span {
          font-weight: bold;
          font-size: 22px;
        }
        i {
          font-size: 25px;
        }
      }
    }
    .contingency-legend {
      display: inline-block;
      font-size: 14px;
      padding-left: 10px;
    }
  }
  .quote-data {
    font-weight: bold;
  }
  .claim-info-container {
    max-width: 300px;
    & .claim-phonenumber {
      font-weight: bold;
      color: $grey-dark;
      font-size: 1rem;
      & .call-italy {
        margin-right: 2rem;
      }
      & .call-abroad {
        margin-right: 1.5rem;
      }
    }
  }
  .claim-info-section {
    max-width: 300px;
    @include media-breakpoint-down(xs) {
      margin-top: 1rem;
    }
    & .claim-phone-number {
        font-weight: bold;
        color: $text-color;
        font-size: 1rem;
        & .call-italy {
          margin-right: .5rem;
        }
        & .call-abroad {
          margin-right: .5rem;
        }
      }
  }
  .open-times {
    font-size: 0.75rem;
  }
  .no-contingency {
    color: $text-color;
    &.civibank_db,
    &.banco-desio_db {
      color: $primary;
    }
  }
  .btn-position {
    display: flex;
    justify-content: flex-end;
    @media screen and (max-width: 767px) {
      justify-content: center;
    }
    button {
      width: 40%;
      border-radius: 25px;
      background-color: $primary;
      color: $white;
      font-size: 22px;
      @media screen and (max-width: 767px) {
        width: 60% !important;
        font-size: 16px;
      }
      @media (min-width: 768px) and (max-width: 936px){
        font-size: 16px;
      }
      @media (min-width: 937px) and (max-width: 1065px){
        font-size: 18px;
      }
    }
  }
  .my-row{
    display: flex;
    flex-wrap: wrap;
  }
  .max-width{
    width: 80% !important;
  }
  .centered{
    @media (max-width: 767px) {
      flex-direction: column;
      text-align: center;
      max-width: 100%;
    }
  }
  .added-div{
    display: flex;
    @media (max-width: 767px){
      display: contents;
    }
  }
  .position-items {
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) and (max-width: 910px){
      margin-left: 16px;
    }
  }
  .custom-link {
    color: $primary;
    text-decoration: underline;
    max-width: max-content;
  }
  .no-wrap-white-space {
    @media screen and (max-width: 767px) {
      white-space: nowrap;
      max-width: 100%;
    }
  }
}
.edit-btn{
  border: 2px solid var(--primary-y, #ccc) !important;
  color: var(--primary-y, #ccc) !important;
  background-color: transparent !important;
  outline: none;
}

.buy-button{
  color: white;
  background-color: #ccc;
  background-color: var(--primary-y, #ccc);
  text-transform: uppercase;
  outline: none;
  border: none;
  border-radius: 40px;
  font-weight: 500;
  width: 31%;
  padding: 12px 0;
}
