<div #body class="p-10px m-10px card-shadow br-8px c-border-card border-solid border-1px d-md-block"
  *ngIf="['address'].includes(state); else summary">
  <div class="body mb-4 pt-10px pl-15px c-black">
    <h5>{{ 'tim_bill_protection.address_title_page_bp' | kentico }}</h5>
  </div>
  <form *ngIf="form as form" [formGroup]="form" class="col-12 pt- 20px" (ngSubmit)="updateUser()">
    <div class="row">
      <div #name class="col-12 col-sm-6 mb-3 tim-form-label-group" [ngClass]="getErrorFieldClass('firstName')">
        <input id="firstName" type="text" class="form-control" style="border-radius: 0px; border:2px solid #0164F2;"
          formControlName="firstName" />
        <label for="firstName" class="c-cta">{{ "tim_bill_protection.address_name_bp" | kentico }}</label>
      </div>
      <div #surname class="col-12 col-sm-6 mb-3 tim-form-label-group" [ngClass]="getErrorFieldClass('lastName')">
        <input id="lastName" type="text" class="form-control" style="border-radius: 0px; border:2px solid #0164F2;"
          formControlName="lastName" />
        <label for="lastName" class="c-cta">{{ "tim_bill_protection.address_lastname_bp" | kentico }}</label>
      </div>
    </div>

    <div class="row">
      <div #birthCountry class="col-12 col-sm-6 mb-3 tim-form-label-group"
        [ngClass]="{ 'error-field': getFieldInvalidError('birthCountry') }">
        <select stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'" id="birthCountry" type="text"
          class="form-control arrow-select" style="border-radius: 0px; border:2px solid #0164F2;"
          formControlName="birthCountry" (ngModelChange)="selectChanged($event, 'birthState')"
          [compareWith]="customCompare">
          <option></option>
          <option *ngFor="let country of countries" [ngValue]="country">
            {{ country.name }}
          </option>
        </select>
        <label for="birthCountry" class="c-cta">{{ 'tim_bill_protection.address_birth_country_bp' | kentico }}</label>
        <div [hidden]="!getFieldInvalidError('birthCountry')" class="error-message">
          {{ 'tim_bill_protection.mandatory_field_bp' | kentico}}
        </div>
      </div>
      <div #birthState class="col-12 col-sm-6 mb-3 tim-form-label-group"
        [ngClass]="{ 'error-field': getFieldInvalidError('birthState') }">
        <select stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'" id="birthState" type="text"
          class="form-control arrow-select" style="border-radius: 0px; border:2px solid #0164F2;"
          formControlName="birthState" (ngModelChange)="selectChanged($event, 'birthCity')"
          [compareWith]="customCompare">
          <option></option>
          <option *ngFor="let state of birthStates" [ngValue]="state">
            {{ state.name }}
          </option>
        </select>
        <label for="birthState" class="c-cta">{{
          'tim_bill_protection.address_birth_states_bp' | kentico
          }}</label>
        <div [hidden]="!getFieldInvalidError('birthState')" class="error-message">
          {{ 'tim_bill_protection.mandatory_field_bp' | kentico}}
        </div>
      </div>
    </div>

    <div class="row">
      <div #birthCity class="col-12 col-sm-6 mb-3 tim-form-label-group"
        [ngClass]="{ 'error-field': getFieldInvalidError('birthCity') }">
        <select stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'" id="birthCity" type="text"
          class="form-control arrow-select" style="border-radius: 0px; border:2px solid #0164F2;"
          formControlName="birthCity" [compareWith]="customCompare">
          <option></option>
          <option *ngFor="let city of birthCities" [ngValue]="city">
            {{ city.name }}
          </option>
        </select>
        <label for="birthCity" class="c-cta">{{
          'tim_bill_protection.address_birth_city_bp' | kentico}}
        </label>
        <div [hidden]="!getFieldInvalidError('birthCity')" class="error-message">
          {{ 'tim_bill_protection.mandatory_field_bp' | kentico}}
        </div>
      </div>
      <div #birthDate class="col-12 col-sm-6 mb-3 tim-form-label-group" [ngClass]="getErrorFieldClass('birthDate')">
        <input stickyTriggerReset [targetId]="'stepperStickyBar,stickyBar'" id="birthDate" type="date"
          class="form-control" style="border-radius: 0px; border:2px solid #0164F2;" formControlName="birthDate" />
        <label for="birthDate" class="c-cta">{{ "tim_bill_protection.address_birth_date_bp" | kentico }}
        </label>
        <span *ngIf="form.getError('notCompliant') as birthError" class="c-red t-12">
          {{ birthError | kentico}}
        </span>
      </div>
    </div>

    <div class="row">
      <div #fiscalCode class="col-12 col-sm-6 mb-3 tim-form-label-group" [ngClass]="getErrorFieldClass('fiscalCode')">
        <input maxlength="16" id="fiscalCode" type="text" class="form-control"
          style="border-radius: 0px; border:2px solid #0164F2;" formControlName="fiscalCode" genderDirective/>
        <label for="fiscalCode" class="c-cta">{{
          'tim_bill_protection.address_fiscal_code_bp' | kentico
          }}</label>
      </div>
      <div #residentialAddress class="col-12 col-sm-6 mb-3 tim-form-label-group" [ngClass]="{
          'error-field': getErrorFieldClass('residentialAddress')}">
        <input id="residentialAddress" type="text" class="form-control"
          style="border-radius: 0px; border:2px solid #0164F2;" formControlName="residentialAddress"
          placeholder="via e numero civico" />
        <label for="residentialAddress" class="c-cta">{{
          'tim_bill_protection.address_residential_address_bp' | kentico
          }}</label>
        <div [hidden]="!getFieldInvalidError('residentialAddress')" class="error-message">
          {{ 'tim_bill_protection.mandatory_field_bp' | kentico}}
        </div>
      </div>
    </div>

    <div class="row">
      <div #residentialCountry class="col-12 col-sm-6 mb-3 tim-form-label-group" [ngClass]="{
          'error-field': getFieldInvalidError('residentialCountry')
        }">
        <select stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'" id="residentialCountry" type="text"
          class="form-control" style="border-radius: 0px; border:2px solid #0164F2;"
          formControlName="residentialCountry" (ngModelChange)="selectChanged($event, 'residentialState')"
          [compareWith]="customCompare">
          <option></option>
          <option *ngFor="let country of countries" [ngValue]="country">
            {{ country.name }}
          </option>
        </select>
        <label for="residentialCountry" class="c-cta">{{
          'tim_bill_protection.address_residential_country_bp' | kentico
          }}</label>
        <div [hidden]="!getFieldInvalidError('residentialCountry')" class="error-message">
          {{ 'tim_bill_protection.mandatory_field_bp' | kentico}}
        </div>
        <div class="choice-on-states">
          {{ 'tim_bill_protection.address_choice_on_states_bp' | kentico}}
        </div>
      </div>
      <div #residentialState class="col-12 col-sm-6 mb-3 tim-form-label-group"
        [ngClass]="{ 'error-field': getFieldInvalidError('residentialState') }">
        <select stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'" id="residentialState" type="text"
          class="form-control" style="border-radius: 0px; border:2px solid #0164F2;" formControlName="residentialState"
          (ngModelChange)="selectChanged($event, 'residentialCity')" [compareWith]="customCompare">
          <option></option>
          <option *ngFor="let state of residentialStates" [ngValue]="state">
            {{ state.name }}
          </option>
        </select>
        <label for="residentialState" class="c-cta">{{
          'tim_bill_protection.address_residential_states_bp' | kentico
          }}</label>
        <div [hidden]="!getFieldInvalidError('residentialState')" class="error-message">
          {{ 'tim_bill_protection.mandatory_field_bp' | kentico}}
        </div>
      </div>
    </div>

    <div class="row">
      <div #postCode class="col-12 col-sm-6 mb-3 tim-form-label-group"
        [ngClass]="{'error-field':getErrorFieldClass('postCode')}">
        <input maxlength="5" id="postCode" type="text" class="form-control"
          style="border-radius: 0px; border:2px solid #0164F2;" formControlName="postCode" />
        <label for="postCode" class="c-cta">{{
          'tim_bill_protection.address_post_code_bp' | kentico
          }}</label>
        <div class="d-flex flex-column align-items-end">
          <div [hidden]="!(getFieldInvalidError('postCode') && getFieldError('postCode', 'required'))" class="error-message">
            {{ 'tim_bill_protection.mandatory_field_bp' | kentico}}
          </div>
          <div [hidden]="!getFieldInvalidError('postCode') && !(getFieldError('postCode', 'minlength') || getFieldError('postCode', 'maxlength') || getFieldError('postCode', 'pattern')) || getFieldError('postCode', 'required')" class="error-message">
            {{ 'forms.input_field_postal_code_error' | translate | async}}
          </div>
        </div>
      </div>
      <div #residentialCity class="col-12 col-sm-6 mb-3 tim-form-label-group"
        [ngClass]="{ 'error-field': getFieldInvalidError('residentialCity') }">
        <select stickyTriggerControl [targetId]="'stepperStickyBar,stickyBar'" id="residentialCity" type="text"
          class="form-control" style="border-radius: 0px; border:2px solid #0164F2;" formControlName="residentialCity"
          [compareWith]="customCompare">
          <option></option>
          <option *ngFor="let city of residentialCities" [ngValue]="city">
            {{ city.name }}
          </option>
        </select>
        <label for="residentialCity" class="c-cta">{{
          'tim_bill_protection.address_residential_city_bp' | kentico
          }}</label>
        <div [hidden]="!getFieldInvalidError('residentialCity')" class="error-message">
          {{ 'tim_bill_protection.mandatory_field_bp' | kentico}}
        </div>
      </div>
    </div>

    <div class="row">
      <div #email class="tim-form-label-group col-12 col-sm-6 mb-3 email-container" [ngClass]="{
          'error-field':
            getFieldInvalidError('email') && getFieldError('email', 'required'),
          'warning-field':
            getFieldInvalidError('email') && getFieldError('email', 'email')
        }">
        <input id="email" class="form-control" style="border-radius: 0px; border:2px solid #0164F2;" email name="email"
          formControlName="email" type="email" />
        <label for="email" class="c-cta">{{ "tim_bill_protection.address_email_bp" | kentico }}</label>
        <div class="warning-message" *ngIf="getFieldError('email', 'email')">
          {{'tim_bill_protection.address_invalid_email_format_bp' | kentico}}
        </div>
        <div class="error-message" *ngIf="getFieldInvalidError('email') && !form.get('email').value">
          {{'tim_bill_protection.mandatory_field_bp' | kentico}}
        </div>
      </div>
      <div #phone class="col-12 col-sm-6 mb-3 tim-form-label-group" [ngClass]="{
        'error-field':getErrorFieldClass('phoneNumber')}">
        <input id="phoneNumber" type="text" class="form-control" style="border-radius: 0px; border:2px solid #0164F2;"
          formControlName="phoneNumber" phoneFormatter/>
        <label for="phoneNumber" class="c-cta">{{
          'tim_bill_protection.address_phone_number_bp' | kentico
          }}</label>
        <div [hidden]="!getFieldInvalidError('phoneNumber')" class="error-message">
          {{'tim_bill_protection.mandatory_field_bp' | kentico}}
        </div>
      </div>
      <button class="c-bg-cta submit-btn uppercase mx-auto" [ngClass]="isMobile ? 'col-11' : 'col-3'"
        [disabled]="form.invalid">
        {{ 'tim_bill_protection.address_button_confirm_bp' | kentico }}
      </button>
    </div>
  </form>
</div>

<ng-template #summary>
  <ng-container *ngIf="summaryStates.includes(state); else title">
    <div class=" p-20px m-10px card-shadow br-8px c-border-card border-solid border-1px body t-20 pl-25px c-step">
      <div class="d-flex pl-1">
        <img class="" [src]="'tim_bill_protection.flag_icon' | kentico" />
        <div class="d-flex flex-column pl-3 t-14 c-black">
          <div>{{'tim_bill_protection.address_title_page_bp' | kentico}}</div>
          <div class="font-weight-bold mt-1">{{ endUser?.name }} {{ endUser?.surname }}</div>
          <div class="font-weight-bold">{{ endUser?.tax_code }}</div>
          <div class="font-weight-bold">{{ endUser?.street }}, {{ endUser?.city }}</div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>

<ng-template #title>
  <ng-container *ngIf="titleStates.includes(state); else hide;">
    <div
      class="row title p-20px m-10px card-shadow br-8px c-border-card border-solid border-1px body t-20 pl-25px c-step"
      style="text-transform: uppercase;">
      {{ 'tim_bill_protection.survey_title_bp' | kentico }}
    </div>
  </ng-container>
</ng-template>

<ng-template #hide>
  <ng-container #innerhide></ng-container>
</ng-template>
