@import 'sass/variables';

::ng-deep .completed-card {
  margin-bottom: 1rem ;
  .title {
    padding: 1.5rem 0 0.5rem;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
    &-container {
      justify-content: space-between;
      display: flex;
      align-items: center;
    }
  }
  .info-container {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
    img {
      max-width: 60px;
      margin-right: 1rem;
      &.chebanca_db {
          max-width: 80px;
      }
    }
    p {
      margin-bottom: 0;
      line-height: normal;
    }
  }
  &.simple {
    padding: 1rem;
    h3 {
      font-weight: normal;
      font-size: 1rem;
      padding: 0;
    }
    p {
      font-weight: bold;
    }
    .info {
      margin-top: 0.5rem;
      &-container {
        padding: 0 15px;
      }
    }
  }

  .edit-link {
    color: $primary;
    text-decoration: underline;
    cursor: pointer;
    margin: 1.5rem 0 0.5rem;
  }
}
