<ng-container *ngIf="data && data.cost_item">
  <div class="d-md-none">
    <app-checkout-cost-item-details-multirisk-shopping-cart [data]="data.cost_item">
    </app-checkout-cost-item-details-multirisk-shopping-cart>
  </div>
</ng-container>

<ng-container *ngIf="data && data.insurance_info">
    <app-insurance-info-completed
        [data]='data.insurance_info'
        (handleStepChanged)="handleStepChanged('insurance-info')"></app-insurance-info-completed>
</ng-container>

<ng-container *ngIf="data && data.insurance_holder">
    <app-insurance-holder-completed
        [data]='data.insurance_holder'
        (handleStepChanged)="handleStepChanged('address')"></app-insurance-holder-completed>
</ng-container>

<ng-container *ngIf="data && data.insurance_survey">
    <app-insurance-survey-completed
        [data]='data.insurance_survey'
        (handleStepChanged)="handleStepChanged('survey')"></app-insurance-survey-completed>
</ng-container>


