<ng-container *ngIf='data.visible && !data.layout'>
  <div class="row-shadowed completed-card" data-cy="chekout-step-survey-completed__card">
    <div class="col-12 title-container"  [hidden]="dataService.product.product_code === 'tim-for-ski-silver' || dataService.product.product_code === 'tim-for-ski-gold' || dataService.product.product_code === 'tim-for-ski-platinum'">
      <div class="title" data-cy="chekout-step-survey-completed__title">{{data.title}}</div>
      <div class="edit-link" *ngIf="data.edit" (click)="emitHandleStepChanged()">
        Modifica
      </div>
    </div>
    
    <div>
      <div class="d-flex align-items-center p-4 tim" *ngIf="dataService.product.product_code === 'tim-for-ski-silver' || dataService.product.product_code === 'tim-for-ski-gold' || dataService.product.product_code === 'tim-for-ski-platinum'">
        <img class="mr-4" [src]="data.card_icon" alt="Yolo" style="max-width: 60px">
        <div class="title-tim" style="font-weight: bold">{{data.title}}</div>
      </div>
    </div>

    <div class="col-12 info-container" [hidden]="dataService.product.product_code === 'tim-for-ski-silver' || dataService.product.product_code === 'tim-for-ski-gold' || dataService.product.product_code === 'tim-for-ski-platinum'">
      <img [src]="data.card_icon" alt="Yolo">
      <div class="info">
        <p data-cy="chekout-step-survey-completed__state"><b>{{data.state}}</b></p>
        <p data-cy="chekout-step-survey-completed__description">{{data.description}}</p>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="data.visible && !!data.layout" [ngSwitch]="data.layout">
  <ng-container *ngSwitchCase="'simple'">
    <div class="row-shadowed completed-card" [ngClass]="data.layout">
      <div class="col-12 info-container">
        <img [src]="data.card_icon">
        <div>
          <span>{{data.title}}</span>
          <div class="info">
            <p><b>{{data.state}}</b></p>
            <p>{{data.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
