<div class="accordion-for-what-container" [ngClass]="data.container_class">
    <div class="container px-3">
        <div class="row">
            <div class="col-12 text-container">
              <h2 class="title" *ngIf="dataService.tenantInfo.tenant !== 'banca-sella_db'" [ngClass]="{'title-center': data.product_code[0] !== 'axa-assistance-gold'}">{{data.title}}</h2>
              <h2 class="title" *ngIf="dataService.tenantInfo.tenant === 'banca-sella_db'">{{data.title}}</h2>
            </div>
        </div>
        <!--SINGLE ACCORDION DESKTOP VIEW -->
        <div class="col-12 accordion-desktop" *ngIf="data.how_works_viaggio[0].coverage.length === 1">
            <div class="row" *ngFor="let how_works of data.how_works_viaggio">
                <div class="col-12">
                    <h4 class="single-subtitle" [ngClass]="data.container_class">{{ how_works.coverage[0].title}}</h4>
                    <div class="description-container" [ngClass]="data.container_class" *ngFor="let benefit of how_works.coverage[0].benefits; let i=index">
                        <div class="leftpart" *ngIf="i <= 1 && dataService.tenantInfo.tenant !== 'banca-sella_db'">
                            <div class="row">
                                <div class="col-1">
                                    <img [src]="benefit.icon">
                                </div>
                                <div class="col-11">
                                    <div [innerHTML]="benefit.description"></div>
                                </div>
                            </div>
                        </div>
                        <div class="rightpart" *ngIf="i > 1 && dataService.tenantInfo.tenant !== 'banca-sella_db'">
                            <div class="row">
                                <div class="col-1">
                                    <img [src]="benefit.icon">
                                </div>
                                <div class="col-11">
                                    <div [innerHTML]="benefit.description"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="dataService.tenantInfo.tenant === 'banca-sella_db'">
                          <div [ngClass]="data.container_class" class="col-1">
                              <img [src]="benefit.icon">
                          </div>
                          <div class="col-11">
                            <div [innerHTML]="benefit.description"></div>
                          </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="dataService.tenantInfo.tenant !== 'banca-sella_db'">
                  <div class="open_modal_desktop" *ngIf="data.product_code[0] === 'axa-assistance-gold'" (click)="openModalCoverage()" [innerHTML]="data.open_modal"></div>
                </div>
            </div>
        </div>
        <!--MULTIPLE ACCORDION DESKTOP VIEW -->
        <div class="col-12 accordion-desktop" *ngIf="data.how_works_viaggio[0].coverage.length > 1">
            <div class="row" *ngFor="let how_works of data.how_works_viaggio">
                <div class="col-6" *ngFor="let coverage of how_works.coverage; let i=index">
                    <h4 class="subtitle">{{coverage.title}}</h4>
                    <div class="column">
                        <div class="row accordion-row" [ngClass]="data.container_class" *ngFor="let benefit of coverage.benefits; let j=index">
                            <div class="col-1">
                                <img [src]="benefit.icon">
                            </div>
                            <div class="col-11" *ngIf="dataService.tenantInfo.tenant !== 'banca-sella_db'" [innerHTML]="benefit.description">
                              <!-- <p> {{benefit.description}}</p> -->
                            </div>
                            <div class="col-11" *ngIf="dataService.tenantInfo.tenant === 'banca-sella_db'">
                                 <span class="benefit-description" [innerHTML]="benefit.description"></span>
                                 <span class="maximal" (click)="openModalCoverageHoliday(benefit.id)">{{benefit.maximal}}</span>
                            </div>
                        </div>
                        <div *ngIf="dataService.tenantInfo.tenant !== 'banca-sella_db'">
                          <div class="open_modal_desktop" *ngIf="i===0 && data.product_code[0] === 'axa-assistance-gold'" (click)="openModalCoverage()" [innerHTML]="data.open_modal"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- MOBILE VIEW MULTIPLE ACCORDION -->
        <div class=" col-12 accordion-mobile" *ngIf="data.how_works_viaggio[0].coverage.length > 1 && dataService.tenantInfo.tenant !== 'banca-sella_db'">
            <div class="column" *ngFor="let how_works of data.how_works_viaggio">
                <div class="col-12" *ngFor="let coverage of how_works.coverage; let i=index">
                    <div class="row">
                        <h4 class="subtitle col-10">{{coverage.title}}</h4>
                        <div class="col-2 accordion" *ngIf="how_works.coverage.length > 1" (click)="openCloseAccordion(i)">
                            <img class="dropdown" [src]="coverage.dropdown">
                        </div>
                    </div>
                    <div class="column" *ngIf="openAccordion[i]">
                        <div class="row accordion-row" *ngFor="let benefit of coverage.benefits">
                            <div class="col-1">
                                <img [src]="benefit.icon">
                            </div>
                            <div class="col-11">
                                <div [innerHTML]="benefit.description"></div>

                            </div>
                        </div>
                        <div class="open_modal_mobile" *ngIf="i===0 && data.product_code[0] === 'axa-assistance-gold'" (click)="openModalCoverage()" [innerHTML]="data.open_modal"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- MOBILE VIEW SELLA -->
        <div class=" col-12 accordion-mobile" *ngIf="dataService.tenantInfo.tenant === 'banca-sella_db'">
          <div class="column" *ngFor="let how_works of data.how_works_viaggio">
              <div class="col-12" *ngFor="let coverage of how_works.coverage; let i=index">
                  <div class="row">
                      <h4 class="subtitle col-10">{{coverage.title}}</h4>
                      <div class="col-2 accordion" (click)="openCloseAccordion(i)">
                          <img class="dropdown" [src]="coverage.dropdown">
                      </div>
                  </div>
                  <div class="column" *ngIf="openAccordion[i]">
                      <div class="row accordion-row" [ngClass]="data.container_class" *ngFor="let benefit of coverage.benefits">
                          <div class="col-1">
                              <img [src]="benefit.icon">
                          </div>
                          <div class="col-10">
                              <div class="mobile-description" *ngIf="data.container_class[1] !== 'ge-holiday-house-plus'" [innerHTML]="benefit.description"></div>
                              <div *ngIf="data.container_class[1] === 'ge-holiday-house-plus'">
                                <span class="benefit-description" [innerHTML]="benefit.description"></span>
                                <span class="maximal" (click)="openModalCoverageHoliday(benefit.id)">{{benefit.maximal}}</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
        <div class="col-12 column set-info">
            <p *ngIf="data.info">{{data.info}}</p>
            <div [innerHTML]="data.set_info"></div>
        </div>
    </div>
</div>
