@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";

@import "~sass/variables";

h2 {
  margin-top: -2rem;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.mission {
  h1 {
    text-transform: uppercase;
    position: relative;
    top: -1rem;
    font-size: 1.2rem;
    color: $primary !important;
  }
}
h1 {
  text-transform: uppercase;
  position: relative;
  font-size: 1.2rem;
  color: $primary !important;
  padding-bottom: 1rem;
}

.persondesk {
  background-color: $primary !important;
  padding-bottom: 25rem;
}

.main-card {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.4);
  position: relative;
  top: -11rem;
}

:host ::ng-deep .title {
  h3:first-child {
    text-transform: uppercase;
    font-size: calc(0.75vw + 1.5rem);
    color: $primary !important;
    margin: 1rem 0 3rem;
  }

  p:nth-child(2) {
    font-weight: normal;
    font-size: calc(0.5vw + 16px);
    margin-bottom: 0px;
  }
}

:host ::ng-deep .subtitle {
  h2 {
    margin-top: -5rem;
    font-size: 40px !important;
    color: $primary !important;
  }
}

.team {
  position: relative;
  padding: 4rem;
  overflow: visible;
  @include media-breakpoint-down(sm) {
    padding: 1rem;
    margin-top: 3rem;
  }
  &::after {
    width: 700px;
    height: 320px;
    content: "";
    background-color: $primary;
    position: absolute;
    z-index: 2;
    @include media-breakpoint-down(sm) {
      height: 570px;
      width: 90%;
    }
  }
}
.text-wrapper {
  position: relative;
  margin-top: 1rem;
  background-color: #ffffff;
  border: 1px solid #eee;
  padding: 2rem;
  z-index: 4;
  width: 385px;
  height: 332px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 1px 4px 6px rgba(0, 0, 0, 0.1);

  @include media-breakpoint-down(md) {
    top: -6rem;
    width: calc(100% - 80px);
    height: auto;
  }
  @include media-breakpoint-down(sm) {
    width: calc(100% - 20px);
    max-width: 400px;
    height: 332px;
    top: -6rem;
    right: -1rem;
    font-size: 15px;
    padding: 1rem;
  }
}
.picsum-img-wrapper {
  z-index: 3;
  max-width: 418px;
  width: 100%;
  position: relative;
  top: -20px;
  left: 76px;
  @include media-breakpoint-down(md) {
    max-width: 500px;
  }
  @include media-breakpoint-down(sm) {
    max-width: 400px;
    width: calc(100% - 20px);
    height: 350px;
    left: 0rem;
    top: -1rem;
  }
  img {
    max-width: none;
    width: 100%;
    @include media-breakpoint-down(sm) {
      width: 130%;
    }
  }
}

h3 {
  padding-top: 0rem;
  color: $primary !important;
  font-weight: 400;
  font-size: 1.2rem;
}

.text-name {
  color: $primary;
  font-size: 1rem;
  margin-top: 1rem;
}

.subtext-job {
  font-size: 1rem;
  line-height: 1.2rem;
  color: $primary-dark;
}

.linkedin-space {
  margin-top: 0.5rem;
}

.img-imp-container,
.img-norm-container {
  border: 1px solid #2c8fe6;
  max-width: 300px;
  height: 302px;
  overflow: hidden;
  img {
    max-width: none;
    height: 302px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.img-norm-container {
  border: 1px solid #2c8fe6;
  max-width: 200px;
  height: 201px;
  overflow: hidden;
  @include media-breakpoint-down(sm) {
    max-width: calc(100% - 30px);
    max-width: 300px;
    height: 300px;
  }
  img {
    max-width: none;
    height: 201px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    @include media-breakpoint-down(sm) {
      height: 300px;
    }
  }
}

.name {
  color: $primary !important;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
