<div>
  <div class="container-fluid persondesk" [ngStyle]="{'background': 'url(' + model?.images_header[1].url +') no-repeat left 5% bottom/auto 70%,
  url('+ model?.images_header[0].url +') no-repeat right bottom/auto 50%' }">
  </div>
  <div class="container-fluid">
    <div class="title row justify-content-center">
      <div class="col-sm-10 col-md-8 col-lg-7 col-xl-6 card text-center main-card mission">
        <p [innerHTML]="model?.title"></p>
      </div>
    </div>
  </div>
  <div class="col-12 text-uppercase font-weight-bold text-center subtitle" [innerHTML]="model?.subtitle"></div>

 <!--  <div class="row justify-content-center team carousel-inner" id="staffcarousel">
    <div class="picsum-img-wrapper">
      <ngx-slick-carousel class="carousel" #imgCarousel="slick-carousel" [config]="slideConfig" (beforeChange)="beforeChange($event)">
        <div ngxSlickItem *ngFor="let team of model?.staff.value" class="slide">
          <ng-container data-photo-index="team.position">
            <img [src]="team.picture.rawData.value[0].url">
          </ng-container>
        </div>
      </ngx-slick-carousel>
    </div>
    <div class="text-wrapper">
      <ngx-slick-carousel class="" #txtCarousel="slick-carousel" [config]="slideConfig" (beforeChange)="beforeChange($event)">
        <div ngxSlickItem *ngFor="let team of model?.staff.value" class="text-container">
          <h1>{{team.name.value}}</h1>
          <h2>{{team.job.value}}</h2>
          <p>{{team.description.value}}</p>
        </div>
      </ngx-slick-carousel>
    </div>
  </div> -->

  <!-- <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-3 my-sm-4" *ngFor="let imp of staffImp">
        <div class="img-imp-container" (click)="goToCarousel(imp.position)" [ngx-scroll-to]="'#staffcarousel'">
          <img [src]="imp.picture.rawData.value[0].url">
        </div>
        <div class="text-name">{{imp.name.value}}</div>
        <div class="subtext-job">{{imp.job.value}}</div>
      <div class="linkedin-space">
        <a [href]="imp.link.value" target="blank">
          <img class="linkedin"
            src="../../../../assets/images/icons/linkedin-7d38e0abb7a515f7bc61d9585829cb5644e6058f49e219dd6e173913f3dc0c45.png"
            alt="Linkedin"></a>
      </div>
      </div>
    </div>
  </div> -->

  <div class="container pt-3">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-3 my-sm-4" *ngFor="let norm of staffnorm">
        <div class="img-norm-container" (click)="goToCarousel(norm.position)" [ngx-scroll-to]="'#staffcarousel'">
          <img class="norm" [src]="norm.picture.rawData.value[0].url">
        </div>
        <div class="text-name">{{norm.name.value}}</div>
        <div class="subtext-job">{{norm.job.value}}</div>
        <div class="linkedin-space">
        <a [href]="norm.link.value" target="blank">
          <img class="linkedin"
            src="../../../../assets/images/icons/linkedin-7d38e0abb7a515f7bc61d9585829cb5644e6058f49e219dd6e173913f3dc0c45.png"
            alt="Linkedin"></a>
        </div>
      </div>
    </div>
  </div>
</div>