<section>
  <div class="row mt-3">
      <div class="col-12">
          <p
            style="margin-bottom: 0.5rem !important"
            data-cy="pmi-pandemic-quotator-addons__addons-label">
            {{'quotator.optional_coverage' | translate | async}}
          </p>
      </div>
  </div>
</section>

<div class="row addons addons-container">
<div class="col-12 optional order_line_items_addons addons-container row">
  <span class="col-4 col-sm-4 col-md-4 col-lg-4 checkbox d-flex flex-column align-items-center my-2 single-addon justify-content-between"
    *ngFor="let addon of availablePandemicBusinessAddons">
    <button class="toggle-select js-addon-label addon-label position-relative d-flex justify-content-center align-items-center rounded-circle mb-0"
      type="button"
      (click)="toggleSelectionAddons(addon)"
      [attr.data-cy]="getAddonsDataCyValue(addon.code)"
      [ngClass]="{'selected' : addon.selected}">
      <input class="check_boxes optional js-addon js-quotation-trigger"
        type="checkbox"
        hidden
        data-price="0.0"
        data-code="">
      <img class="addon-image"
        src="{{addon.image.original_url}}"
        alt="" >
    </button>
    <div class="addon-text d-flex flex-column justify-content-center align-items-center">
      <p class="js-copy-addon-name copy-addon-name text-center mt-1" data-cy="pmi-pandemic-quotator-addons__addons-title">
        {{addon.name}}
      </p>
      <span
        class="js-addon-description addon-tooltip d-flex justify-content-center align-items-center rounded-circle info-icon"
        placement="auto"
        ngbTooltip="{{addon.description}}"> i
      </span>
      <div class="addon-description">
        <p data-cy="pmi-pandemic-quotator-addons__addons-description">{{addon.description}}</p>
      </div>
    </div>
  </span>
</div>
</div>
