@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/variables";

.acquisto-container{
  margin: 0 auto;
  .acquisto{
    margin-top: 2rem;
    margin-bottom: 4rem;
    align-self: flex-end;
    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;
    }
    .image-container{
      padding: 0 2rem;
      @include media-breakpoint-down(md) {
        padding: 0 0 2rem 0;
      }
    }
    .ty_image {
      padding: 0 2rem;
      width: 100%;
      justify-content: center;
      display: flex;
      @include media-breakpoint-down(md) {
        padding: 0 0 2rem 0;
      }
    }
    .text-container{
      h2{
        color: $grey-dark;
        font-weight: 300;
        font-size: 28px;
      }
      @include media-breakpoint-down(md) {
        text-align: center;
        .p {
          margin: 1rem 0;
        }
      }
    }
  }
  .submit-btn {
    color: #fff;
    background-color: $primary;
    text-transform: uppercase;
    outline: 0;
    border: none;
    border-radius: 40px;
    width: 100%;
    padding: 12px 0;
    &.white {
      background-color: #fff;
      border: 1px solid $primary;
      color: $primary;
    }
  } 

  .confirmation-recap{
    position: relative;
    .total{
      position: absolute;
      text-align: right;
      top: 50%;
      right: 30px;
      transform: translateY(-50%);
      @include media-breakpoint-down(md) {
        position: relative;
        bottom: 0;
        right: initial;
        top: initial;
        padding: 0px 5px;
        margin-top: 15px;
        transform: none;
      }
      p:not(.annual-info) {
        margin-bottom: 0;
        color: $grey-dark;
        font-size: 16px;
        line-height: 1.2;
        &.price{
          color: $primary;
          font-size: 34px;
          font-weight: 900;
        }
        &.price-dark{
          color: $primary-dark;
          font-size: 34px;
          font-weight: 900;
        }
      }
      
    }
  }
  .ofert-container{
    margin: 3rem 0px 7rem;
    padding: 30px;
    height: 360px;
    background-color: $primary-light;
    justify-content: space-between;
    .title{
      font-size: 24px;
      color: $primary-dark;
      font-weight: bold;
      margin-top: 2rem; 
    }
    .subtitle{
      font-size: 16px;
      color: $grey-dark;
    }
    .viaggio-container{
      background-color: $white;
      border-radius: 5px;
      text-align: center;
      position: relative;
      top: -30px;
      .title{
        font-size: 24px;
        text-transform: uppercase;
        color: $primary-dark; 
        line-height: 1.2;
        margin-top: 1.3rem;
        margin-bottom: 1.3rem;
      }
      p{
        margin-bottom: 0px;
      }
      .price{
        color: $primary-dark;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 1.2rem;
      }
    }
    .round-button{
      border: 2px solid $primary;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      color: $primary;
      background: url(../../../../../../assets/images/icons/goforward.svg) no-repeat center;
      background-size: 52%;
    }
  }
}

.redoutline {
  border-style: solid;
  border-width: 6px;
  border-color: $red;
  border-radius: 10px;
  box-shadow: none;
  padding: 40px 25px;
  @include media-breakpoint-down(xs) {
    padding: 30px 25px;
  }
}

.image-container-net {
  padding-bottom: 2rem;
}

.text-container-net {
  color: $primary;
  font-size: larger;

  .purchase-complete {
    font-size: 28px;
    font-weight: bold;
  }
  .order-received {
    font-size: larger;
  }
}

.annual-info {
  font-size: 0.75rem;
  b {
    color: $primary-dark;
  }
}
.santa-lucia_db{
  .btn-primary{
    border: none;
    background: $primary;
    color: $white;
    border-radius: 0;
    text-transform: capitalize;
  }
}
