@import "../../../../../sass/variables";

.card { 
  height: 391px;
  width: 306px;
  background: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  padding: 2%;
  padding-bottom: 2rem;
  border-radius: 0;
  margin: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .mobileCardsTxt{
    padding: 0;
    font-size: 17px;
  }
  &.ge-ski-plus, &.ge-ski-premium {
    .ribbons {
      width: 123px;
      height: 123px;
      overflow: hidden;
      position: absolute;
    }

    .ribbons::before .ribbons::after {
      position: absolute;
      z-index: -1;
      content: "";
      display: block;
    }

    .ribbons .skitype {
      position: absolute;
      display: block;
      width: 210px;
      padding: 5px 0;
      background-color: $primary;
      color: #333;
      font: 700 17px/1 "Din condensed", sans-serif;
      text-transform: uppercase;
      text-align: center;
      &.ril {
        background-color: $bg-color;
      }
    }
    .skitype:empty:before {
      content: "Instant";
    }
  }

  &.ge-ski-seasonal-plus, &.ge-ski-seasonal-premium {
    .ribbons {
      width: 123px;
      height: 123px;
      overflow: hidden;
      position: absolute;
    }

    .ribbons::before .ribbons::after {
      position: absolute;
      z-index: -1;
      content: "";
      display: block;
    }

    .ribbons .skitype {
      position: absolute;
      display: block;
      width: 210px;
      padding: 5px 0;
      background-color: $primary;
      color: #333;
      font: 700 17px/1 "Din condensed", sans-serif;
      text-transform: uppercase;
      text-align: center;
      &.ril {
        background-color: $bg-color;
      }
    }
    .skitype:empty:before {
      content: "Stagionale";
    }
  }

  /* top right*/
  .ribbons-top-right {
    top: 0px;
    right: 0px;
  }
  .ribbons-top-right::before,
  .ribbons-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
  }
  .ribbons-top-right::before {
    top: 0;
    left: 0;
  }
  .ribbons-top-right::after {
    bottom: 0;
    right: 0;
  }
  .ribbons-top-right .skitype {
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
  }

  // .card:hover {
  //   -ms-transform: scale(1.05, 1.05);
  //   -webkit-transform: scale(1.05, 1.05);
  //   transform: scale(1.05, 1.05);
  //   transition-duration: 0.6s;
  // }

  .icon {
    width: 100%;
    height: 10vw;
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
    &.goods {
      background-image: url(../../../../../assets/images/icons/digitals.png);
    }
    &.health {
      background-image: url(../../../../../assets/images/icons/ambulance.png);
    }
    &.travel {
      background-image: url(../../../../../assets/images/icons/wonders.png);
    }
    &.people {
      background-image: url(../../../../../assets/images/icons/partypeople.png);
    }
  }

  h4 {
    text-transform: uppercase;
    color: $title-color-dark;
    font-size: 20px;
    font-weight: bold;
    padding: 0 1rem;
  }

  .btn {
    margin: 0 65px;
    text-align: center;
    padding: 0;
  }

  .product-description {
    color: $grey-dark;
    font-size: 16px;
    font-weight: normal;
    padding: 0 10px;
  }

  .img-container {
    &.mobileCardsImg{
      img {
        max-width: 64px;
      }
    }
    height: 120px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content-cards {
    @media (min-width: 1280px) {
      max-width: 1280px;
    }
  }
}

.pc,
.cvb {
  padding-bottom: 3rem;
  .price > p{
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 10px;
    &:last-child {
      font-weight: bold;
      color: $primary;
      font-size: 1.1rem;
    }
  }
  .btn {
    margin: 0 30px;
    border-radius: 0;
    background-color: $primary;
    line-height: 20px;
    font-weight: normal;
  }
  .product-description {
    padding: 1rem 1.5rem 0.5rem;
    font-size: 15px;
    line-height: normal;
    margin: 0;
  }
}

.bd {
  padding-bottom: 3rem;
  .price > p{
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 10px;
    &:last-child {
      font-weight: bold;
      color: $primary;
      font-size: 1.1rem;
    }
  }
  .btn{
    margin: 0 30px;
    border-radius: 0;
    border: 1px solid $primary;
    background-color: $primary-light;
    color: $primary;
    line-height: 20px;
    font-weight: 700;
  }
  .product-description {
    padding: 1rem 1.5rem 0.5rem;
    font-size: 15px;
    line-height: normal;
    margin: 0;
  }
}

.ril {
  .btn {
    margin: 0 30px;
    border-radius: 5px;
    background-color: $btn-bg-color;
    line-height: 20px;
    font-weight: normal;
  }
}

.cvb h4 {
  font-family: 'HK Grotesk';
}

.mobileCards {
  height: 285px;
  width: 165px;
  margin: 5px;
  padding-bottom: 0rem;
  background-color: #F7F7F7;
  &.helbiz_db{
    height: 220px;
    width: 176px;
    margin: 5px;
    justify-content: unset;
    @media (max-width: 524px){
      margin: 15px;
    }
    .mobileCardsImg{
      height: 50px;
      display: flex;
      img{
        max-width: 26px;
        height: 25px;
      }
    }
    .mobileCardsTxt{
      text-transform: none;
      padding: 0 2rem;
      margin-bottom: 1rem;
    }
    .img-button{
      display: none;
    }
    .product-description{
      font-size: 14px;
      height: 50px;
    }
    .button-helbiz{
      width: 73px;
      height: 37px;
      display: flex;
      align-self: center;
      text-transform: none;
      padding: 9px 13px;
      line-height: normal;
    }
  }
}

.no-margin{
  &.helbiz_db{
    margin-left: 0px;
    margin-right: 0px;
  }
}

.img-button {
  display: flex;
  justify-content: flex-end;
  width: 102.5%;
  align-items: flex-end;
}

.footer-menu {
  padding: 20px;

  a {
    font-size: 14px;
  }

  a:hover {
    color: $text-color;
  }
}
.cb {
    padding-bottom: 3rem;
    .price > p {
      font-weight: normal;
      font-size: 15px;
      margin-bottom: 10px;

      &:last-child {
        font-weight: bold;
        color: $primary;
        font-size: 1.1rem;
      }
    }
    .card{
      justify-content: normal !important;
    }

    .btn {
      margin: 0 71px;
      border-radius: 6.25rem;
      background-color: $primary;
      line-height: 20px;
      font-weight: bold;
      position: absolute;
      bottom: 20px;
      right: 0;
      left: 0;
    }

    .product-description {
      font-size: 15px;
      line-height: normal;
      margin: 0;
      color: #4a4a4a;
      font-weight: 500;
    }
  }
