@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/_variables.scss";


.quotator-container{
  min-height: 1540px;

    @include media-breakpoint-down(md) {
      min-height: 1585px !important;
    }

    @include media-breakpoint-down(sm) {
      min-height: 1410px !important;
    }

    @include media-breakpoint-down(xs) {
      min-height: 1390px !important;
    }

}

.hero-quotator-container {
    padding-top: 64px;
    height: 800px;

    @include media-breakpoint-up(md) {
        padding-top: 110px;
        background: linear-gradient(to right, #218ce7, #1d70b6) 100%;
        &.bancapc-it-it_db {
          background-size: cover;
          }
        }

    @include media-breakpoint-down(md) {
      &.bancapc-it-it_db {
        background-size: cover;
        background-position: unset;
      }
    }
    .container-content {
    @include media-breakpoint-up(md) {
        padding-left: 3rem;
        padding-right: 3rem;

    }
    .hero-header {
        text-align: left;
        .title {
            font-size: 1.375rem;
            font-weight: bold;
            color: $subtitle-color;
            margin: 1rem 0 !important;
            width: 70%;
            @include media-breakpoint-up(md) {
                margin-top: 0;
                font-size: 1.5rem;
                font-weight: 500;
                color: $primary-subtitle-color;
            }

            @include media-breakpoint-down(sm){
              display: none;
            }
            @include media-breakpoint-down(xs){
              display: none;
            }
          }

        .subtitle {
          width: 80%;
            @include media-breakpoint-up(md) {
                font-size: 1.3rem;
                font-weight: 300;
                color: $primary-subtitle-color;
            }

            @include media-breakpoint-down(sm){
              font-size: 0.9rem;
              color: $subtitle-color !important;
              text-align: center !important;
              width: 90% !important;
              margin: auto !important;
            }
            @include media-breakpoint-down(xs){
              font-size: 0.9rem;
              color: $subtitle-color !important;
              text-align: center !important;
              width: 90% !important;
              margin: auto !important;
            }
        }
        .img {
            @include media-breakpoint-up(md) {
                padding: 1rem 0;
                max-width: 100%;
            }
        }


          .scroll {
              @include media-breakpoint-down(sm){
                display: none !important;

              }

              @include media-breakpoint-up(lg) {
                justify-content: flex-end;
              }

            .scroll-how-works {
              color: $white;
              background-color: transparent;
              border: 2px solid $white;
              border-radius: 40px;
              width: 100%;
              padding: 12px 0;
              max-width: 230px;
              font-weight: bold;
              font-size: 1.2rem;
              text-align: center;
              cursor: pointer;
              margin: 10px 15px;

                @include media-breakpoint-down(lg){
                color: $white !important;
                background-color: transparent !important;
                border: 2px solid $white !important;
                }

                @include media-breakpoint-down(sm){
                  display: none !important;
                }
            }
          }

        }

    }
  }


.link-configuratore-layout {
  text-decoration: underline;
  cursor: pointer;
  margin-top: auto;
}
