@import '../../../../../sass/variables';


  .dynamic-body {
    ul {
      padding-left: 16px;
        li {
          em {
            font-style: normal;
            text-decoration: underline;
          }
        }
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
  .dynamic-title {
    p {
      font-size: 24px;
      margin-bottom: 0;
    }
  }


#architecture {
    color: $primary-dark;
}
