<section class=" container pb-5" id="architecture" name="architecture">
  <div class="row justify-content-center">
    <div class="col-md-10 dynamic-body">
      <div class="row">
        <h2 class="col-12 b2b-gl-section-title font-weight-bold text-uppercase mb-3 dynamic-title">
          {{'overview.architecturetitle' | translate | async}}
        </h2>
      </div>
      <div >
        <p>{{'overview.architecturesubtitle' | translate | async}}</p>
      <div [innerHTML]="'overview.architecturelist' | translate | async">
      </div>
      </div>
      <img [src]="architectureImg" alt="architettura">
    </div>

  </div>
</section>