@import '../../../../sass/variables';

.activated {
    text-align: center;
    img {
        margin: 2rem 0 4rem;
        max-width: 200px;
    }
    h1{
        color: $primary;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}
