<div class="container activated">
    <div class="row">
        <div class="col-12">
            <img alt="Yolo logo" src="assets/images/logos/logo_brand.png">
            <h1>Polizza registrata</h1>
            <p>Ti confermiamo che la polizza da te richiesta e' stata correttamente registrata.</p>
            <p>Se sei già un cliente Yolo utilizza le tue credenziali per accedere alla tua Area Riservata.
            </p>
            <p>Se non sei ancora registrato a Yolo riceverai, sull’indirizzo mail che hai inserito, un’email per impostare la nuova password con cui potrai accedere alla tua Area Riservata.
            </p>
        </div>
    </div>
</div>
