@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/_variables.scss";

.sub-title {
    margin: 1rem 0 1rem 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

.tim-form-label-group {
    width: 100%;
    align-self: center;
    position: relative;
    margin: 0rem 1rem 1rem 1rem;

    &>input,
    >select {
        border: 2px solid $btn-text-color;
        background: $white;
        border-radius: 0;
        padding: 0 0 0 1rem;
        font-size: 1rem;
    }

    &>label {
        position: absolute;
        top: -0.5rem;
        left: 0.5rem;
        font-size: 0.9rem;
        background: $white;
        width: auto;
        color: $btn-text-color;
        border-radius: 0;
        padding: 0 5px 0 5px;
        height: min-content;
        z-index: 99;
        margin: 0 0 0 calc(0.5rem - 5px);
    }

    select:disabled {
        opacity: 0.5;
    }
}

.buttons {
    justify-content: center;
    margin-top: 1rem;
    padding: 1rem;
}

.submit-btn {
    text-transform: uppercase;
    outline: 0;
    border: none;
    border-radius: 40px;
    width: 20%;
    padding: 12px 0;

    &.back {
        background-color: white;
        color: $btn-text-color;
        border: none;
        height: 48px;
        font-weight: normal;
        cursor: pointer;
    }


    &.buy {
        border-radius: 0;
        height: 48px;
        background: $primary-extra-dark;
        color: #ffffff;
        font-weight: normal;
    }
}

.container-birthday-contractor {
    margin-bottom: 0;

    .form-label-group {
        margin-bottom: 0;
    }
}

.container-form-pet {
    label {
        font-weight: normal;
    }
}

.label-birthday {
    padding-top: 4px;
    padding-left: 0;
    font-size: 12px;
}

.input-row {
    input {
        border-radius: 0;
        border-color: $btn-text-color;
        -moz-appearance: textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

select::-ms-expand {
    display: none;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #333333;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #333333;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #333333;
}

.tim-form-label-group {
    &.error-field {

        input,
        select {
            border-color: $red;
        }

        label {
            color: $red
        }
    }
}

.form-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    @media screen and (min-width: 767px) {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1rem;
    }
}

.wide-form-row {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 

    @media screen and (min-width: 767px) {
        grid-column: span 2;
        display: grid;
        grid-template-columns: calc(70% - 0.5rem) calc(30% - 0.5rem);
        grid-row-gap: 1rem;
        grid-column-gap: 1rem;
    }
}

.card {
    padding: 16px;
    border: 2px solid #0033A1;
    margin: 8px;
}

.mobile-packet-tab-border {
    border-bottom: 2px solid #0033A1;
}

.mobile-packet-tab-border-unselected {
    background-color: white !important;
}

.mobile-packet-tab-border-side {
    border-left: 2px solid #0033A1;
    border-right: 2px solid #0033A1;
}

.card-warning-title,
.card-warning-description{
    color: $grey-dark;
}

.txt-warning-desc {
    font-size: 12px;
}

.txt-warning-home-data-entry-desc {
    font-size: 11.5px;
}

.underline-vertical {
    width: 2px;
    height: 100%;
    background-color: grey;
    margin: 0px !important;
    padding: 0px !important;
}

.t-link {
    text-decoration: none;
}

.info-details-link {
    margin-left: 20px;
}

.font-bold {
    font-weight: bold;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.warning-container{
    background-color: $grey-ligth;
    padding: 0.5rem 1rem;
}