@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/variables";

.modal-window{
  @include media-breakpoint-up(md){
    min-height: 520px;
  }
  color: $black;
  .modal-header {
    display: flex;
    justify-content: space-between;
    border: none;
  }
  .central-container {
    margin-bottom: 20px;
  }
  .icon-close {
    cursor: pointer;
    color: $black;
    vertical-align: middle;
  }
  p.headline {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
  }
  .subtitle{
    font-weight: 700;
    font-size: 16px;
    margin-left: 16px;
  }
  .content-label{
    font-size: 14px;
    font-weight: 700;
  }
  .card {
    padding-left: 15px;
    padding-right: 15px;
  }
  ::ng-deep{
    ul{
      margin-bottom: 0;
      li{
        p{
          margin-bottom: 0.5rem;
          a{
            color: $primary;
            text-decoration: underline;
            outline: none;
            font-weight: bold;
          }
          em{
            color: $primary;
            text-decoration: underline;
            font-style: normal;
            font-weight: bold;
          }
        }
      }
    }
  }
}
