<div class="row justify-content-center container-960 m-auto">
  <div class="col-10 col-lg-12">
    <h3 class="mb-4 mb-sm-5 title">{{'products.yolo_partners' | translate | async}}</h3>
    <ngx-slick-carousel class="carousel"
                        #slickModal="slick-carousel"
                        [config]="slideConfig"
                        (breakpoint)="breakpoint($event)"
                        (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
      <div *ngFor="let partner of partners" ngxSlickItem class="coworkers-slide d-flex flex-column justify-content-center slide align-items-center" aria-hidden="true">
        <img src="{{partner}}" class="slide position-relative">
      </div>
    </ngx-slick-carousel>
  </div>
</div>
