<div #body *ngIf="['consensuses'].includes(state); else title;">
    <div
    class="m-10px second-level-stepper d-md-block">
      <div>{{"tim_bill_protector.payment_label"| kentico}}</div>
    </div>
    <div class="m-10px d-md-block">
        <ng-container>
            <div class="container-fluid checkout-payment-gup">
                <div class="pt-10px">
                    <div class="body mb-4 step-info-title">
                        <h5 class="tim-step-heading t-28">{{ 'tim_bill_protector.documents_acceptance_title_bp' | kentico }}</h5>
                    </div>
                    <!-- <div class="col-12 header">
                        <h3>{{'tim_bill_protector.payment_title_bp' | kentico}}</h3>
                    </div>
                    <div class="col-12 select-label">
                        <strong>
                            <p class="float-right">{{"nyp_products_data.payment_modal_label" | kentico}}</p>
                        </strong>
                    </div>
                    <div class="col-12">
                        <nyp-stripe-wallet [productPaymentMethod]="selectedStripePaymentMethod"
                            [productPaymentRecurent]="stripeTokenCard" (selectedCard)="onCardSelected($event)">
                        </nyp-stripe-wallet>
                    </div>
                    <div class="col-12 mt-4">
                        <p class="eligibility-label">{{"tim_bill_protector.payment_eligibility_label_bp" | kentico}} </p>
                    </div>-->
                    <div class="w-100 ng-star-inserted">
                        <app-promo-code (promoCodeApply)="handleApplyPromoCode($event)" [promoCode]="promoCode"
                            (promoCodeRemove)="handleRemovePromoCode()" [product]="product">
                        </app-promo-code>
                    </div>
                    <div class="input-txt-container">
                        <app-seller-code [config]="sellerCodeConfig" (onSuccess)="onSellerCodeSuccess($event)"
                             (onError)="onSellerCodeError($event)">
                        </app-seller-code>
                    </div>
                    <!-- <app-documents-acceptance #documentAcceptanceCard [documentsAcceptance]="documentsAcceptance"
                        [product]="product" [secondaryInformativeSet]="secondaryInformativeSet"
                        [secondarySetDocumentName]="secondarySetDocumentName"
                        (documentAcceptanceChangeEvent)="handleDocumentAcceptanceChange($event)">
                    </app-documents-acceptance> -->

                    <div class="py-25px">
                        <h5 class="step-title c-black pt-10px">
                            {{'tim_bill_protector.payment_company_consent_bp' | kentico}}</h5>
                        <form [formGroup]="documentsAcceptancesForm" class="consent-form pr-3">
                            <div class="consent-option">

                                <input type="checkbox" class="form-check-input" id="uno" formControlName="uno">
                                <label for="uno" class="form-check-label">
                                  <div class="consent-option-text" [ngClass]="{'checked-option': documentsAcceptancesForm?.get('uno')?.value}" [innerHTML]="'tim_bill_protector.checkbox_documents_acceptance_1_bp' | kentico"></div>
                                </label>
                                <div class="checkbox-box">
                                </div>
                            </div>
                            <div class="consent-option">

                                <input type="checkbox" class="form-check-input" id="tre" formControlName="tre">
                                <label for="tre" class="form-check-label">
                                  <div class="consent-option-text" [ngClass]="{'checked-option': documentsAcceptancesForm?.get('tre')?.value}" [innerHTML]="'tim_bill_protector.checkbox_documents_acceptance_3_bp' | kentico"></div>
                                </label>
                                <div class="checkbox-box">
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="row no-gutters buttons-container justify-content-sm-end text-center">
                        <!--<button id="back-button" class="basic-outline c-cta m-1"
                            style="border-radius: 0px; border: 2px solid #0164F2;" [disabled]="false"
                            (click)="handlePrevStep()" omniturecta="step precedente" omnitureposition="1">
                            <span class="c-cta" style="font-weight: normal;">{{ 'buttons.back' | translate |
                                async}}</span>
                        </button>-->

                        <button class="c-bg-cta submit-btn uppercase col-12 col-sm-4"
                            [disabled]="!FormEnabled"
                            (click)="handleNextStep()" id="continuaStep5_test" omniturecta="conferma e attiva"
                            omnitureposition="1">{{"tim_bill_protector.payment_confirm_active_button_bp" |
                            kentico}}
                        </button>
                    </div>

                </div>
            </div>

        </ng-container>
    </div>
</div>

<ng-template #title>
    <ng-container *ngIf="titleStates.includes(state); else hide;">
        <div class="m-10px second-level-stepper disabled"
            style="text-transform: uppercase;">
            {{"tim_bill_protector.payment_label"| kentico}}
        </div>
    </ng-container>
</ng-template>

<ng-template #hide>
    <ng-container #innerhide></ng-container>
</ng-template>
