<header class="container-fluid header-background" [style.background-image]="'url('+ faqImage?.url + ')'">
</header>
<h1 class="seo-title">{{'assistenza_faq.seo_title' |translate | async}}</h1>
<div class="body-faq container-fluid">
	<div class="row head-title-container justify-content-center">
		<div class="col-12 col-lg-10">
			<p>{{'assistenza_faq.header_text' |translate | async}}<a class="contact-link" href="/contatti"> Contatti</a></p>
		</div>
	</div>

	<div class="row body-container justify-content-center">
		<div class="col-12 col-lg-10">
			<div class="row ">
				<div class="col-12 col-lg-10 title-body-container">
					<h4>{{'assistenza_faq.frequent_questions_title' |translate | async}}</h4>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-10">
			<div class="row">
				<div class="col-12 question" id="header-01" role="tab">
          <h5 data-toggle="collapse" href="#collapse-01" aria-controls="collapse" aria-expanded="false">
            {{'assistenza_faq.terms_of_service_title' |translate | async}}
          </h5>
          <div class="collapse" id="collapse-01" role="tabpanel" aria-labelledby="header-01">
            <p >{{'assistenza_faq.terms_of_service' |translate | async}}</p>
            <ul>
						  <li *ngFor="let p of products"><a class="contact-link cursive" target="_blank" href="{{ p.information_package }}"> {{p.name}}</a></li>
					  </ul>
          </div>
				</div>
				<div class="col-12 question" id="header-02" role="tab">
					<h5 data-toggle="collapse" href="#collapse-02" aria-controls="collapse" aria-expanded="false">
            {{'assistenza_faq.how_to_buy_products_title' |translate | async}}
          </h5>
          <div class="collapse" id="collapse-02" role="tabpanel" aria-labelledby="header-02">
            <p>{{'assistenza_faq.how_to_buy_products' |translate | async}}</p>
          </div>
				</div>
				<div class="col-12 question" id="header-03" role="tab">
					<h5 data-toggle="collapse" href="#collapse-03" aria-controls="collapse" aria-expanded="false">
            {{'assistenza_faq.modify_password_title' |translate | async}}
          </h5>
          <div class="collapse" id="collapse-03" role="tabpanel" aria-labelledby="header-03">
            <p>{{'assistenza_faq.modify_password' |translate | async}}</p>
          </div>
				</div>
				<div class="col-12 question" id="header-04" role="tab">
					<h5 data-toggle="collapse" href="#collapse-04" aria-controls="collapse" aria-expanded="false">
            {{'assistenza_faq.reset_password_title' |translate | async}}
          </h5>
          <div class="collapse" id="collapse-04" role="tabpanel" aria-labelledby="header-04">
          	<p>{{'assistenza_faq.reset_password' |translate | async}}</p>
          </div>
				</div>
				<div class="col-12 question" id="header-05" role="tab">
          <h5 data-toggle="collapse" href="#collapse-05" aria-controls="collapse" aria-expanded="false">
            {{'assistenza_faq.update_profile_title' |translate | async}}
          </h5>
          <div class="collapse" id="collapse-05" role="tabpanel" aria-labelledby="header-05">
            <p>{{'assistenza_faq.update_profile' |translate | async}}</p>
          </div>
				</div>
				<div class="col-12 question" id="header-06" role="tab">
					<h5 data-toggle="collapse" href="#collapse-06" aria-controls="collapse" aria-expanded="false">
            {{'assistenza_faq.disactivate_account_title' |translate | async}}
          </h5>
          <div class="collapse" id="collapse-06" role="tabpanel" aria-labelledby="header-06">
            <p>
              {{'assistenza_faq.disactivate_account' |translate | async}}<a class="contact-link" href="mailto: wecare@netinsurance.it"> wecare@netinsurance.it</a>
            </p>
          </div>
				</div>
			</div>
		</div>
	</div>

	<div class="row body-container justify-content-center">
		<div class="col-12 col-lg-10">
			<div class="row row">
				<div class="col-12 col-lg-10 title-body-container">
					<h4>{{'assistenza_faq.insurance_packages_title' |translate | async}}</h4>
				</div>
			</div>
		</div>

		<div class="col-12 col-lg-10">
			<div class="row ">
				<div class="col-12 question" id="header-07" role="tab">
					<div class="">
						<h5 data-toggle="collapse" href="#collapse-07" aria-controls="collapse" aria-expanded="false">
              {{'assistenza_faq.insurance_coverage_title' |translate | async}}
            </h5>
            <div class="collapse" id="collapse-07" role="tabpanel" aria-labelledby="header-07">
              <p>{{'assistenza_faq.insurance_coverage' |translate | async}}</p>
            </div>
          </div>
				</div>
				<div class="col-12 question" id="header-08" role="tab">
					<div class="">
						<h5  data-toggle="collapse" href="#collapse-08" aria-controls="collapse" aria-expanded="false">
              {{'assistenza_faq.how_to_buy_services_title' |translate | async}}
            </h5>
            <div class="collapse" id="collapse-08" role="tabpanel" aria-labelledby="header-08">
              	<p>{{'assistenza_faq.how_to_buy_services' |translate | async}}</p>
            </div>
					</div>
				</div>
				<div class="col-12 question" id="header-09" role="tab">
					<h5 data-toggle="collapse" href="#collapse-09" aria-controls="collapse" aria-expanded="false">
            {{'assistenza_faq.possible_to_buy_title' |translate | async}}
          </h5>
          <div class="collapse" id="collapse-09" role="tabpanel" aria-labelledby="header-09">
            <p>{{'assistenza_faq.possible_to_buy' |translate | async}}</p>
          </div>
				</div>
				<div class="col-12 question" id="header-10" role="tab">
					<h5 data-toggle="collapse" href="#collapse-10" aria-controls="collapse" aria-expanded="false">
            {{'assistenza_faq.where_to_buy_title' |translate | async}}
          </h5>
          <div class="collapse" id="collapse-10" role="tabpanel" aria-labelledby="header-10">
            <p>{{'assistenza_faq.where_to_buy' |translate | async}}</p>
          </div>
				</div>
				<div class="col-12 question" id="header-11" role="tab">
					<h5 data-toggle="collapse" href="#collapse-11" aria-controls="collapse" aria-expanded="false">
            {{'assistenza_faq.disable_coverage_title' |translate | async}}
          </h5>
          <div class="collapse" id="collapse-11" role="tabpanel" aria-labelledby="header-11">
            <app-dynamic-section [dynamicHtml]="'assistenza_faq.disable_coverage' | translate | async" class="dynamic-container"></app-dynamic-section>
          </div>
				</div>
				<div class="col-12 question" id="header-12" role="tab">
					<h5 data-toggle="collapse" href="#collapse-12" aria-controls="collapse" aria-expanded="false">
            {{'assistenza_faq.withdraw_service_title' |translate | async}}
          </h5>
          <div class="collapse" id="collapse-12" role="tabpanel" aria-labelledby="header-12">
            <app-dynamic-section [dynamicHtml]="'assistenza_faq.withdraw_service' | translate | async" class="dynamic-container"></app-dynamic-section>
          </div>
				</div>
			</div>
		</div>
	</div>

	<div class="row body-container justify-content-center">
		<div class="col-12 col-lg-10">
			<div class="row row">
				<div class="col-12 col-lg-10 title-body-container">
					<h4>{{'assistenza_faq.personal_data_title' |translate | async}}</h4>
				</div>
			</div>
		</div>

		<div class="col-12 col-lg-10">
			<div class="row ">
				<div class="col-12 question" id="header-13" role="tab">
					<h5 data-toggle="collapse" href="#collapse-13" aria-controls="collapse" aria-expanded="false">
            {{'assistenza_faq.how_to_protect_title' |translate | async}}
          </h5>
          <div class="collapse" id="collapse-13" role="tabpanel" aria-labelledby="header-13">
            <p>{{'assistenza_faq.how_to_protect' |translate | async}}<a class="contact-link" target="_blank" href="{{infoLink}}"> privacy</a></p>
          </div>
				</div>
				<div class="col-12 question" id="header-14" role="tab">
					<h5 data-toggle="collapse" href="#collapse-14" aria-controls="collapse" aria-expanded="false">
            {{'assistenza_faq.personal_data_conserved_title' |translate | async}}
          </h5>
          <div class="collapse" id="collapse-14" role="tabpanel" aria-labelledby="header-14">
            <p>{{'assistenza_faq.personal_data_conserved' |translate | async}}<a class="contact-link" target="_blank" href="{{infoLink}}"> privacy</a></p>
          </div>
				</div>
				<div class="col-12 question" id="header-15" role="tab">
					<h5 data-toggle="collapse" href="#collapse-15" aria-controls="collapse" aria-expanded="false">
            {{'assistenza_faq.what_happen_title' |translate | async}}
          </h5>
          <div class="collapse" id="collapse-15" role="tabpanel" aria-labelledby="header-15">
            <p>{{'assistenza_faq.what_happen' |translate | async}}</p>
          </div>
				</div>
			</div>
		</div>
	</div>

	<div class="row body-container justify-content-center">
		<div class="col-12 col-lg-10">
			<div class="row row">
				<div class="col-12 col-lg-10 title-body-container">
					<h4>{{'assistenza_faq.clame_title' |translate | async}}</h4>
				</div>
			</div>
		</div>

		<div class="col-12 col-lg-10">
			<div class="row">
				<div class="col-12 mb-3 reclami">
					<app-dynamic-section [dynamicHtml]="'assistenza_faq.clame_body_1' | translate | async"></app-dynamic-section>
					<ul class="reclam-list mb-4">
						<li>
							nome, cognome, domicilio del reclamante ed eventuale recapito telefonico e/o indirizzo e-mail
						</li>
						<li>
							numero di polizza
						</li>
						<li>
							numero di sinistro, qualora aperto
						</li>
						<li>
							breve ed esaustiva descrizione del motivo di lamentela
						</li>
						<li>
							ogni documentazione utile a sostegno della lamentela unita in allegato.
						</li>
					</ul>
					<p>{{'assistenza_faq.clame_body_2' |translate | async}}</p>
					<p>{{'assistenza_faq.clame_body_3' |translate | async}}</p>
				</div>
			</div>
		</div>
	</div>
</div>
