@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/variables";

.additional-guarantees-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #14359c;
  position: relative;

  .bg-img {
    position: absolute;
    left: 0;
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
      max-width: none;
      bottom: 0px;
    }
  }

  .carousel-container {
    overflow: hidden;

    @include media-breakpoint-up(md) {
      flex-wrap: nowrap;
    }
  }

  .title-section {
    @include media-breakpoint-up(md) {
      padding-left: 6rem;
    }

    h1 {
      color: $white;
      font-size: 1.8rem;
      font-weight: bold;
      line-height: normal;
      text-align: center;
      margin-bottom: 2rem;

      @include media-breakpoint-up(md) {
        max-width: 230px;
        text-align: left;
      }
    }
  }

  .cards-section {
    &>.row {
      align-items: center;
    }

    .carousel-arrows {
      .carousel-arrows-prev {
        border: 1px solid #333;
        width: 30px;
        height: 30px;
        background: url(~assets/images/icons/icon-arrow-left-thin.svg) no-repeat center;
        background-size: 50%;
        margin-left: auto;
        cursor: pointer;
        background-color: white;
      }

      .carousel-arrows-next {
        border: 1px solid #333;
        width: 30px;
        height: 30px;
        background: url(~assets/images/icons/icon-arrow-right-thin.svg) no-repeat center;
        background-size: 50%;
        margin-left: auto;
        cursor: pointer;
        background-color: white;
      }
    }

    .cards-container {
      overflow: hidden;
      margin-left: 3rem;

      @include media-breakpoint-up(md) {
        margin-left: 0;
      }
    }

    .moving-container {
      position: relative;
      left: 0;
      transition: .5s ease-in-out;
    }

    .slider-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: $white;
      border: 1px solid #333;
      padding: 1.5rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      width: 300px;
      min-width: 300px;

      &:first-child {
        margin-left: 0;
      }

      .title {
        font-weight: bold;
        font-size: 1.4rem;
        line-height: normal;
        flex-basis: 30%;
        max-height: 30%;
        max-width: 80%;
        margin-bottom: 2.5rem;
      }

      .description {
        line-height: normal;
        font-weight: 500;
        flex-basis: 50%;
        max-height: 50%;
        margin-bottom: 4rem;
        max-width: 90%;

        ::ng-deep strong {
          color: $btn-text-color;
        }
      }

      .btn-tim {
        font-weight: 400;
        background-color: $btn-text-color;
        color: $white;
        border: none;
        width: 100%;
        padding: 8px 0px;
        display: inline-block;
        text-align: center;
      }
    }
  }

  .carousel-mobile-buttons {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    width: 100vw;

    &>div {
      border-radius: 10px;
      background-color: white;
      width: 50px;
      height: 2px;
      margin: 0 5px;
      opacity: .5;

      &.active {
        opacity: 1;
      }
    }
  }

  &.tim-my-pet {
    .cards-section {
      .slider-card {
        ::ng-deep h3 {
          font-size: 1.3rem;
        }

        .title {
          max-height: revert;
          flex-basis: revert;
          margin-bottom: 2rem;
          min-height: 3.5rem;
          max-width: revert;
          font-size: 1.3rem;
        }

        .description {
          flex-basis: 100%;
          max-height: none;
          font-weight: 400;
          margin-bottom: 0;
        }

        &#set_informativo_mypet {
          .description {
            ::ng-deep a {
              text-decoration: underline;
              font-size: .8rem;
              color: #007bff;

              &:hover {
                color: $hover-blue;
              }

              &::before {
                content: '\f1c1';
                font-family: 'Font Awesome 5 Free';
                font-weight: bold;
                font-style: normal;
                font-size: 15px;
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}
