<div class="container-fluid quotator">
  <div class="row">
    <div class="col-7">
      <h1>{{product.quotator_name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p [innerHTML]="product.description" class="product-description m-0"></p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-5 col-sm-6 col-md-5 col-lg-6">
      <span data-cy="quotator-mopar-std__quotation-price-title" class="price-title">
        {{product.price_title}}
      </span>
    </div>
    <div class="col-7 col-sm-6 col-md-7 col-lg-6" data-cy="quotator-mopar-std__quotation-price">
      <ng-container *ngIf="product.kentico_price; else priceFromProduct">
        <span class="price">{{ product.kentico_price }}</span>
      </ng-container>
      <ng-template #priceFromProduct>
        <span  class="price">{{ product.price_to_display }}</span>
      </ng-template>
    </div>
  </div>
  <div class="row" *ngIf="product.note">
    <div class="col-12">
      <p class="quotator-note">{{ product.note }}</p> 
    </div>
  </div> 
 <div class="row justify-content-center button-container">
    <button class="col submit-btn" id="submit-test" (click)="checkout()"
      data-cy="quotator-mopar-std__purchase-button">{{product.continue_button_label}}
    </button>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <a class="inf-package" href="{{ product.information_package }}" target="_blank"
        data-cy="quotator-mopar-std__information-package" [innerHtml]="product.information_package_text">
      </a>
    </div>
  </div>
  <div class="collaboration">
    <p data-cy="quotator-mopar-std__collaboration-provider">
      {{product.product_collaboration}}
    </p>
    <img [src]="product.provider_logo" [alt]="product.provider.name" data-cy="quotator-mopar-std__image-provider">
  </div>
</div>
