@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "sass/_variables.scss";

.quotator {
  padding: 30px;
  h1 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 1.5rem;
  }
  .product-description ::ng-deep p {    
    margin-bottom: 0;
  }
  .quotator-note {
    font-size: 0.85rem;
    margin: 1rem 0 0;
  }
  .price-title {
    font-weight: bold;
    font-size: 1.3rem;
    line-height: normal;
  }
  .price {
    color: $primary;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: right;
    display: block;
  }  
  .button-container{
    padding-top: 2rem;
  }
  .submit-btn {
    color: white;
    background-color: $primary;
    text-transform: uppercase;
    outline: none;
    border: none;
    border-radius: 40px;
    max-width: 200px;
    padding: 12px 0;
    margin-bottom: 2rem;
  }
  .inf-package {
    font-size: 0.9rem;
    margin-top: 2rem;
    color: $primary;
    text-decoration: underline;
  }
  .collaboration {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      font-size: 0.9rem;
      margin: 0.3rem 0 0.5rem;
      text-align: center;
    }
    img {
      width: 60px;
    }
  }
}




