<div class="row" [ngClass]="dataService.tenantInfo.tenant">
  <div class="col-12">
    <h4 *ngIf="dataService.tenantInfo.tenant !== 'imagin-es-es_db' && dataService.tenantInfo.tenant !== 'santa-lucia_db'" class="title">
      {{ 'checkout.survey_compiled' | translate | async }}
    </h4>
    <h4 *ngIf="dataService.tenantInfo.tenant === 'imagin-es-es_db' && product.code !== 'chubb-deporte'" class="title">
      {{ 'checkout.survey_compiled' | translate | async }}
    </h4>
    <div class="row" *ngIf="(dataService.isTenant('imagin-es-es_db') || dataService.isTenant('santa-lucia_db')) && product.code === 'chubb-deporte'">
      <div class="index-circle-black">
        <span class="stepnum-black">3</span>
      </div>
      <div class="title-container">
        <h4 class="imagin-title">{{'checkout_sport.survey_compiled' | translate | async | lowercase }}</h4>
        <div class="text-right">
          <button type="button" class="editar" (click)="editStep()">{{'checkout.button_edit' | translate | async}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 mt-3">
    <div class="row align-items-center">
      <div class="col-lg-2 col-4">
        <div class="img-container">
          <img class="survey-icon mb-2" [src]="imageUrl">
        </div>
      </div>
      <div class="col-lg-10 col-8 recap-text">
        {{ 'checkout.survey_status' | translate | async }}
      </div>
    </div>
  </div>
</div>
