@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~sass/variables";

.checkout-payment-linear-stepper {
  .row-shadowed {
    padding-bottom: 3rem;
    margin-bottom: 2rem;
  }

  h3 {
    padding: 1.5rem 0 0.5rem;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  .buttons-container {
    margin-top: 2rem;
    display: flex;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }

    align-items: center;
    text-align: center;

    .basic-btn {
      margin-bottom: 1rem;
      width: 200px;
    }

    .basic-outline {
      width: 200px;
      height: 50px;
      line-height: normal;
      font-size: 1rem;
    }
  }

  .promo-code {
    margin-top: 2rem;
  }

}

:host ::ng-deep {

  .document-acceptance-linear-stepper {
    margin-top: 1rem;

    @include media-breakpoint-up(lg) {
      margin-bottom: 2rem;
    }

    h5.step-title {
      color: $primary;
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 1rem;
      text-transform: capitalize;
      margin-bottom: -10px;
      &.tim-broker-customers_db {
        margin-bottom: 1rem;
      }
    }

    form {
      margin-right: -15px;
      margin-left: -15px;

      .form-big-checkbox {
        margin: 0 15px;
      }
    }
  }
}
